<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType=='edit'?'更新會計管理':''"
    :before-close="closeAddReception" 
    center
    fullscreen
    append-to-body
    >
    <!-- {{personlist}} -->
      <el-form :rules="ReceptionRules" status-icon ref="receptionlist" :model="receptionlist" label-position="right">
        <!-- 會員基本資料 start -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="background-color:#D6E4F1; margin:10px 0;">
              <span style="color:red;font-size:24px;">會員基本資料</span>
            </el-col>
          <el-col :xs="24" :sm="12" :lg="6" :xl="6">
            <el-form-item label="會員姓名">
                {{receptionlist.reserve_system_member_username}}
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="6" :xl="6">
            <el-form-item label="會員出生年月日">
                {{receptionlist.reserve_system_member_birthday}}
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="6" :xl="6">
            <el-form-item label="會員電話">
                {{receptionlist.reserve_system_member_telephone}}
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="6" :xl="6">
            <el-form-item label="會員信箱">
                {{receptionlist.reserve_system_member_email}}
            </el-form-item>
          </el-col>
        </el-row>
         <!-- 會員基本資料 end -->
        <!-- 會員預約資訊start  -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="background-color:#D6E4F1; margin:10px 0;">
              <span style="color:red;font-size:24px;">會員預約資訊</span>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="8" :xl="8">
            <el-form-item label="看診醫生">
                {{receptionlist.reserve_system_shop_basic_schedule_teacher}}
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="8" :xl="8">
            <el-form-item label="看診日期">
                {{receptionlist.reserve_system_shop_basic_schedule_start_date}}
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="8" :xl="8">
            <el-form-item label="看診時間">
                    {{receptionlist.reserve_system_shop_basic_schedule_start_time}} ~ {{receptionlist.reserve_system_shop_basic_schedule_end_time}}
            </el-form-item>
            </el-col>
        </el-row>
        <!-- 會員預約資訊end  -->
        <!-- 收據紀錄start（編輯）  -->
        <el-row :gutter="20" v-show="dialogType=='edit'">
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="background-color:#D6E4F1; margin:10px 0;">
              <span style="color:red;font-size:24px;text-align:right;">收據</span>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="單據序號">
                    #{{receptionlist.reserve_system_reception_id }}
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="訂單編號">
                    #{{receptionlist.reserve_system_order_sn }}
                </el-form-item>
            </el-col>
            <div v-for="(reception_item_list,index) in receptionlist.get_reception_detail" :key="index">
              <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                  <el-form-item
                  label="費用項目"
                  class="el-form-item--small has-error"
                  :prop="'get_reception_detail.'+index+'.reserve_system_reception_item_name'"
                  :rules="[{ required: true, message: '費用項目為必填欄位'}]">
                      <el-input
                      v-model="reception_item_list.reserve_system_reception_item_name"
                      placeholder="費用項目"
                      autocomplete="off" />
                  </el-form-item>
              </el-col>
              <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                  <el-form-item
                  label="費用價錢"
                  class="el-form-item--small has-error"
                  :prop="'get_reception_detail.'+index+'.reserve_system_reception_item_price'"
                  :rules="[{ required: true, message: '費用價錢為必填欄位'}]">
                      <el-input
                      v-model="reception_item_list.reserve_system_reception_item_price"
                      placeholder="費用價錢"
                      @input="change_reserve_system_reception_item_price"
                      autocomplete="off" />
                  </el-form-item>
              </el-col>
            </div>
            <el-col :xs="24" :sm="5" :lg="5" :xl="5">
                <el-form-item label="應繳金額" prop="reserve_system_amount_payable">
                    <el-input
                    v-model="receptionlist.reserve_system_amount_payable"
                    placeholder="應繳金額"
                    disabled
                    autocomplete="off" />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                <el-form-item label="實繳金額" prop="reserve_system_amount_practice">
                    <el-input
                    v-model="receptionlist.reserve_system_amount_practice"
                    placeholder="實繳金額"
                    autocomplete="off" />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="5" :lg="5" :xl="5">
                <el-form-item label="尚欠金額" prop="reserve_system_amount_owed">
                    <el-input
                    v-model="receptionlist.reserve_system_amount_owed"
                    placeholder="尚欠金額"
                    autocomplete="off"
                    disabled
                     />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                <el-form-item label="收款狀態" prop="reserve_system_pay_status">
                  <br/>
                    <el-radio-group v-model="receptionlist.reserve_system_pay_status">
                        <el-radio-button label=A value="A" border>全額付款</el-radio-button>
                        <el-radio-button label=P value="P" border>部分付款</el-radio-button>
                        <el-radio-button label=N value="N" border>未付款</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                <el-form-item label="收款類型" prop="reserve_system_pay_way">
                    <el-radio-group v-model="receptionlist.reserve_system_pay_way">
                        <el-radio-button :label=0 :value="0" border>現金</el-radio-button>
                        <el-radio-button :label=1 :value="1" border>匯款</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="繳款人" prop="reserve_system_pay_people">
                    <el-input
                    v-model="receptionlist.reserve_system_pay_people"
                    placeholder="繳款人"
                    autocomplete="off" />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                <el-form-item label="收據作廢狀態" prop="reserve_system_reception_status">
                    <el-radio-group v-model="receptionlist.reserve_system_reception_status">
                        <el-radio-button :label=0 :value="0" border>未作廢</el-radio-button>
                        <el-radio-button :label=1 :value="1" border>已作廢</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
        </el-row>
        <!-- 收據紀錄end（編輯）  -->
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddReception">關閉</el-button>
        <el-button :loading="loading" type="primary" v-show="dialogType=='edit'" @click.native.prevent="confirmReception('receptionlist')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
import { postAppointReceptionList } from '@/api/reservationsystemreception'
export default {
name: 'AddReception',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    receptionlist:{
        type:Object,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  watch: {
    dialogType:{
        handler: function(val, oldVal) {
          if(val=='edit'){
          }
        },
        immediate: true
    },
    //自動試算尚欠金額(實繳金額)
    "receptionlist.reserve_system_amount_practice":{
        handler: function(val, oldVal) {
          console.log(val)
          //得知應繳金額
          this.reserve_system_amount_payable = parseInt(this.receptionlist.reserve_system_amount_payable)
          //尚欠金額=得知應繳金額減去實繳金額
          this.receptionlist.reserve_system_amount_owed = this.reserve_system_amount_payable-val
          //尚欠金額等於0元(全額付款)
          if(this.receptionlist.reserve_system_amount_owed==0){
            this.receptionlist.reserve_system_pay_status = 'A'
          }
          //實繳金額等於0元(未付款)
          else if(val==0){
            this.receptionlist.reserve_system_pay_status = 'N'
          }
          //尚欠金額等於0元(全額付款)
          else if(this.receptionlist.reserve_system_amount_owed!=0){
            this.receptionlist.reserve_system_pay_status = 'P'
          }
        },
        immediate: true
    },
    //自動試算尚欠金額(應繳金額)
    "receptionlist.reserve_system_amount_payable":{
        handler: function(val, oldVal) {
          console.log(val)
          //得知應繳金額
          this.reserve_system_amount_payable = parseInt(val)
          //尚欠金額=得知應繳金額減去實繳金額
          this.receptionlist.reserve_system_amount_owed = this.reserve_system_amount_payable-this.receptionlist.reserve_system_amount_practice
          //尚欠金額等於0元(全額付款)
          if(this.receptionlist.reserve_system_amount_owed==0){
            this.receptionlist.reserve_system_pay_status = 'A'
          }
          //實繳金額等於0元(未付款)
          else if(this.receptionlist.reserve_system_amount_practice==0){
            this.receptionlist.reserve_system_pay_status = 'N'
          }
          //尚欠金額等於0元(全額付款)
          else if(this.receptionlist.reserve_system_amount_owed!=0){
            this.receptionlist.reserve_system_pay_status = 'P'
          }
        },
        immediate: true
    },
  },
  data() {
    return {
      ReceptionRules: {
          reserve_system_reception_id:[
            { required: true,message: '單據序號必填欄位' },
          ],
          reserve_system_amount_payable:[
            { required: true,message: '應繳金額為必填欄位' },
          ],
          reserve_system_amount_practice:[
            { required: true,message: '實繳金額為必填欄位' },
          ],
          reserve_system_amount_owed:[
            { required: true,message: '尚欠金額為必填欄位' },
          ],
      },
      loading:false,
      //應繳金額
      reserve_system_amount_payable:0,
    }
  },
  methods: {
    //關閉選單
    closeAddReception(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    this.$emit('getReception_list_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    //更改費用價錢
    change_reserve_system_reception_item_price(reserve_system_reception_item_price){
      this.reserve_system_amount_payable = reserve_system_reception_item_price
      this.receptionlist.reserve_system_amount_payable = this.reserve_system_amount_payable
    },
    // 更新個案管理
    confirmReception(receptionlist) {
      this.$refs[receptionlist].validate(valid => {
        if (valid) {
          this.loading = true
           postAppointReceptionList(this.receptionlist)
            .then((resp) => {
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
                })
                this.$emit('getReception')
                this.loading = false
                if(resp.success==true){
                  this.closeAddReception()
                }
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    }
  }
}
</script>