<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span style="color:red;">會計模組</span>
    </div>
    <div class="user-profile">
        <SearchReception @SearchReception="SearchReception" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' />
         <AddReception :receptionlist="receptionlist" :dialogType="dialogType" :dialogVisible="dialogVisible" @getReception="setqueryreception" @getReception_list_status_dialogtype="getReception_list_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <!-- <el-button type="primary" icon="el-icon-edit" @click="batch_join_status_record" style="float:right;margin:10px 0;" v-show="chosen_join_List.length!=0">編輯報到狀態</el-button> -->
        <!-- {{receptionlist}} -->
        <el-table 
        v-loading="reception_List_listLoading" 
        :data="reception_List.list"
        style="width: 100%;margin-top:30px;" 
        border 
        fit 
        highlight-current-row
        >
        <el-table-column align="center" width="260" label="收據單號">
            <template slot-scope="scope">
              <el-tag style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_reception_id }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="200" label="預約 日期/時間">
            <template slot-scope="scope">
              <el-tag style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_shop_basic_schedule_start_date }}</el-tag>
              <el-tag style="margin:10px;font-size:15px;"> {{ scope.row.reserve_system_shop_basic_schedule_start_time }} ~ {{ scope.row.reserve_system_shop_basic_schedule_end_time }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="180" label="服務名稱">
            <template slot-scope="scope">
              <el-tag style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_shop_basic_schedule_teacher }}</el-tag>
              <el-tag style="font-size:15px;" v-show="scope.row.reserve_system_shop_basic_schedule_class_name!=null">{{ scope.row.reserve_system_shop_basic_schedule_class_name }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="180" label="預約 會員資訊">
            <template slot-scope="scope">
              <el-tag style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_member_username }}</el-tag>
              <el-tag style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_member_telephone }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="160" label="應繳金額">
            <template slot-scope="scope">
                <el-tag style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_amount_payable }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="160" label="實繳金額">
            <template slot-scope="scope">
                <el-tag :type="scope.row.reserve_system_amount_payable==scope.row.reserve_system_amount_practice?'':'danger'" style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_amount_practice }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="160" label="尚欠金額">
            <template slot-scope="scope">
                <el-tag :type="scope.row.reserve_system_amount_owed==0?'':'danger'" style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_amount_owed }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="180" label="收款 狀態">
            <template slot-scope="scope">
                <el-tag :type="scope.row.reserve_system_pay_status=='N'||scope.row.reserve_system_pay_status=='P'?'danger':''" style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_pay_status|reserve_system_pay_status }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="180" label="收據 作廢狀態">
            <template slot-scope="scope">
                <el-tag :type="scope.row.reserve_system_reception_status==1?'danger':''" style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_reception_status|reserve_system_reception_status }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="250" label="收據 產生時間">
            <template slot-scope="scope">
                <el-tag style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_reception_datetime }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column fixed="right" align="center" width="120" label="收據" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
            <el-button type="primary" icon="el-icon-edit" @click="handleEditReception(scope)" style="margin:10px 0;">編輯</el-button>
            <router-link target="_blank" :to='reception_report_path+partner+"/"+scope.row.reserve_system_order_sn'
            v-show="scope.row.reserve_system_reception_status==0"
            >
            <el-button icon="el-icon-download" type="primary">
                {{scope.row.name}} 匯出
            </el-button>
            </router-link>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="reception_List_total"
          :page.sync="reception_List.nowpages"
          :limit.sync="reception_List.limit"
          @pagination="getAllReception(reception_List.nowpages,search_reception)"
        />
    </div>
  </el-card>
</template>
<script>
import Pagination from '@/components/Pagination'
import { getAppointReceptionList } from '@/api/reservationsystemreception'
import SearchReception from './SearchReception.vue'
import AddReception from './AddReception.vue'
import { mapGetters } from 'vuex'
import { deepClone } from '@/utils'
import Cookies from 'js-cookie'
import moment from 'moment'
export default {
  name:"ReservationSystemReception",
  // components:{ Pagination,AddExceptionShift,SearchExceptionShift },
  components:{ Pagination,SearchReception,AddReception },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
      'roles',
      'name'
    ])
  },
  watch: {
    partner:{
        handler: async function(val, oldVal) {
            if(val!=''){
                await this.chosenPartner()
            }
        },
        immediate: true
    },
  },
  filters:{
      //收款狀態:A:全額付款,P:部分付款,N:未付款
      reserve_system_pay_status(status){
      const reserve_system_pay_status = {
        "A": '全額付款',
        "P": '部分付款',
        "N": '未付款'
      }
      return reserve_system_pay_status[status]
    },
    //收據作廢狀態0:未作廢,1:已作廢
    reserve_system_reception_status(status){
      const reserve_system_reception_status ={
        0: '未作廢',
        1: '已作廢'
      }
      return reserve_system_reception_status[status]
    },
  },
  data(){
    return {
      dialogType:'',
      dialogSearchType:'',
      dialogVisible:false,
      dialogSearchVisible:false,
      reception_List_listLoading:false,
      reception_List:[],
      receptionlist:{},
      search_reception:'',
      reception_List_total:0,
      reception_report_path:''
    }
  },
  mounted() {
    this.reception_report_path = '/reservation_system_finance_manager/pdf/download/'
  },
  methods: {
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        query += '&reserve_system_shop_basic_schedule_start_date=' + moment(new Date()).startOf('day').format('YYYY-MM-DD')
        query += '&reserve_system_shop_basic_schedule_type=0'
        this.search_reception = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllReception(1, query)
    },
    // 設定報名基本資料
    setqueryreception(){
      //判斷目前頁數在哪一頁
      if(Cookies.get('receptionpage')==undefined){
        this.getAllReception(1, this.search_reception)
      }
      else{
        this.getAllReception(Cookies.get('receptionpage'), this.search_reception)
      }
    },
    // 放入實際搜尋條件
    SearchReception(query){
        //放入實際搜尋條件
        this.search_reception = query
        // 設定報名模組
        this.setqueryreception()
    },
    getReception_list_status_dialogtype(status,type){
      this.dialogVisible = status
      this.dialogType = type
    },
    // 顯示所有報名模組
    async getAllReception(page, reception) {
      var payload = ''
      if (this.search_reception == '') {
        payload = page
      }
      if (this.search_reception != '') {
        payload += page + '?' + reception
      }
      console.log("before:",Cookies.get('receptionpage'))
      //設定目前頁數在哪一頁
      Cookies.set('receptionpage',page)
      console.log("after",Cookies.get('receptionpage'))
      console.log('payload', payload)
      this.reception_List_listLoading = true
      getAppointReceptionList(payload).then(resp => {
        this.reception_List = resp.data
        this.reception_List_total = this.reception_List.count
        this.reception_List_listLoading = false
      })
    },
    //編輯
    handleEditReception(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      this.receptionlist = deepClone(scope.row)
    },
  }
}
</script>