<template>
  <div>
    <el-dialog
      :visible.sync="dialogVisible"
      v-if="dialogVisible"
      :title="dialogType==='edit'?'更新合作夥伴':'新增合作夥伴'"
      :before-close="closeAddPartner"
      center
      fullscreen
    >
    <!-- {{partner}} -->
      <el-form ref="partner" :rules="PartnerRules" status-icon :model="partner" label-position="left">
        <!-- {{partner}}
          {{dialogVisible}} -->
        <!-- {{id}}
          {{id===1}} -->
        <el-row :gutter="20">
          <el-col :xs="12" :sm="12" :lg="8" :xl="8">
            <el-form-item label="合作夥伴公司編號" prop="partner_id">
              <el-input
                ref="partner_id"
                v-model="partner.partner_id"
                name="partner_id"
                placeholder="合作夥伴公司編號"
                autocomplete="off"
                :disabled="dialogType==='edit'?true:false "
              />
            </el-form-item>
          </el-col>
          <el-col :xs="12" :sm="12" :lg="8" :xl="8">
            <el-form-item label="合作夥伴公司名稱" prop="partner_name">
              <el-input
                ref="partner_name"
                v-model="partner.partner_name"
                name="partner_name"
                placeholder="合作夥伴公司名稱"
                autocomplete="off"
              />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="24" :lg="8" :xl="8">
            <el-form-item label="合作夥伴公司簡介" prop="partner_info">
              <el-input
                v-model="partner.partner_info"
                :autosize="{ minRows: 2, maxRows: 4}"
                type="textarea"
                placeholder="合作夥伴公司簡介"
                name="partner_info"
                autocomplete="off"
              />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="合作夥伴地址" prop="partner_tax">
                <br/>
              <el-input
                ref="partner_tax"
                v-model="partner.partner_tax"
                name="partner_tax"
                placeholder="合作夥伴地址"
                autocomplete="off"
                @keyup.enter.native="searchpartneraddress"
              />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="合作夥伴地圖地址">
                <br/>
                <div style="color:blue;">經緯度座標:{{partner_tax_geoposition}}</div>
                <!-- <l-map style="height: 300px" :zoom="partner_tax_zoom" :center="partner_tax_geoposition">
                    <l-tile-layer :url="partner_tax_url" :attribution="partner_tax_attribution"></l-tile-layer>
                    <l-marker :lat-lng="partner_tax_markerLatLng"></l-marker>
                </l-map> -->
                <GmapMap ref="mapRef"
                :center="partner_tax_geoposition_googlemap"
                :zoom="17"
                style="height: 300px"
                @click="handleMapClick"
                >
                <GmapMarker
                  :position="partner_tax_geoposition_googlemap"
                  :clickable="true"
                  :draggable="true"
                />
                </GmapMap>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="24" :lg="24" :xl="12">
            <el-form-item label="合作夥伴頭貼">
              <!-- <el-input
                v-model="partner.partner_avatar"
                name="partner_avatar"
                placeholder="合作夥伴頭貼"
                autocomplete="off"
              /> -->
              <el-upload
                class="avatar-uploader"
                action="https://shopstore-dashboardupload.gohojia.com/shop/shop_category"
                ref="partner_avatar"
                name="partner_avatar"
                :multiple="false"
                :auto-upload="false"
                :limit="1"
                accept="image/png,image/gif,image/jpg,image/jpeg"
                :on-change="before_partner_avatar_photo_upload"
                :on-remove="reset_partner_avatar_photo_upload"
                >
              <div slot="tip" class="el-upload__tip" style="color:red">
                *圖檔大小尺寸 200 * 60<br/>
                *只能上傳一張圖片，且不超過2MB
              </div>
              <img v-if="show_partner_avatar_photo_preview" :src="show_partner_avatar_photo_preview" class="avatar">
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
              </el-upload>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="24" :lg="24" :xl="12">
            <el-form-item label="合作夥伴營業執照">
              <el-input
                v-model="partner.partner_licence"
                name="partner_licence"
                placeholder="合作夥伴營業執照"
                autocomplete="off"
              />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="8" :xl="8">
            <el-form-item label="合作夥伴分類" prop="partner_category_id">
              <br/>
              <el-select
                ref="partner_category_id"
                v-model="partner.partner_category_id"
                name="partner_category_id"
                filterable
                allow-create
                default-first-option
                clearable
                placeholder="選擇合作夥伴分類"
              >
                <el-option
                  v-for="item in partnercategorylist"
                  :key="item.category_id"
                  :label="item.partner_category_name"
                  :value="item.partner_category_id"
                />
              </el-select>
              <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
            </el-form-item>
          </el-col>
          <el-col :xs="12" :sm="12" :lg="8" :xl="8">
            <el-form-item label="合作夥伴電話" prop="partner_phone">
              <el-input
                ref="partner_phone"
                v-model="partner.partner_phone"
                name="partner_phone"
                placeholder="合作夥伴電話"
                autocomplete="off"
              />
            </el-form-item>
          </el-col>
          <!-- <el-select v-model="partner.partner_category" placeholder="合作夥伴分類" style="width:120px;"> -->
          <!-- <el-option
                v-for="item in options"
                :key="item"
                :label="item"
                :value="item"
            />
            </el-select> -->
          <el-col :xs="12" :sm="12" :lg="8" :xl="8">
            <el-form-item label="合作夥伴營業額" prop="partner_vendor">
              <el-input
                ref="partner_vendor"
                v-model="partner.partner_vendor"
                name="partner_vendor"
                placeholder="合作夥伴營業額"
                autocomplete="off"
              />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="6" :xl="6">
            <el-form-item label="合作夥伴status_1(育誠)">
              <br>
              <el-radio-group v-model="partner.partner_status_1" name="partner_status_1" :disabled="id!=1?true:false">
                <el-radio-button label="0" border>審核中</el-radio-button>
                <el-radio-button label="1" border>已審核</el-radio-button>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="6" :xl="6">
            <el-form-item label="合作夥伴status_2 (德志)">
              <br>
              <el-radio-group v-model="partner.partner_status_2" name="partner_status_2" :disabled="id!=1?true:false">
                <el-radio-button label="0" border>審核中</el-radio-button>
                <el-radio-button label="1" border>已審核</el-radio-button>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="6" :xl="6">
            <el-form-item label="合作夥伴status_3(天德)">
              <br>
              <el-radio-group v-model="partner.partner_status_3" name="partner_status_3" :disabled="id!=1?true:false">
                <el-radio-button label="0" border>審核中</el-radio-button>
                <el-radio-button label="1" border>已審核</el-radio-button>
              </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="6" :xl="6">
            <el-form-item v-if="dialogType==='edit'" label="合作夥伴開關">
              <br/>
              <el-radio-group
                v-model="partner.partner_open_close"
                name="partner_open_close"
                :disabled="(partner.partner_status_1==0||partner.partner_status_2==0||partner.partner_status_3==0)?true:false"
              >
                <el-radio-button label="0" border>關閉</el-radio-button>
                <el-radio-button label="1" border>開啟</el-radio-button>
              </el-radio-group>
              <br>
              <el-alert
                v-if="partner.partner_open_close==0"
                title="將會關閉管理模組內所屬合作夥伴的人員狀態"
                type="error"
                center
                show-icon
                style="margin:5px auto;"
              />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
             <el-form-item label="上班時間設定" prop="partner_check_in_time">
              <br/>
              <el-time-select v-model="partner.partner_check_in_time"
                  ref="partner_check_in_time"
                  :picker-options="{start: '06:00',step: '00:30',end: '11:00'}"
                  placeholder="上班時間設定">
              </el-time-select>
             </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="下班時間設定" prop="partner_check_out_time">
              <br/>
              <el-time-select v-model="partner.partner_check_out_time"
                  ref="partner_check_out_time"
                  :picker-options="{start: '15:00',step: '00:30',end: '22:00'}"
                  format="HH:mm"
                  autocomplete="off"
                  placeholder="下班時間設定">
              </el-time-select>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item v-if="dialogType==='edit'" label="合作夥伴註冊時間">
              <el-input
                v-model="partner.partner_datetime"
                name="partner_datetime"
                placeholder="合作夥伴註冊時間"
                autocomplete="off"
                disabled
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddPartner">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmPartner('partner')">確認</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
import { search_partner_lat_lng } from '@/api/partner_manager'
export default {
  name: 'AddEditPartner',
  props: {
    dialogType: {
      type: String,
      require: true
    },
    dialogVisible: {
      type: Boolean,
      require: true
    },
    partner: {
      type: Object,
      require: true
    }
  },
  data() {
    return {
      PartnerRules: {
        partner_id: [{ required: true,message: '合作夥伴公司統編為必填'}],
        partner_name: [{ required: true,message: '合作夥伴公司名稱為必填'}],
        partner_info: [{ required: true,message: '合作夥伴公司簡介為必填'}],
        partner_tax: [{ required: true,message: '合作夥伴公司地址為必填'}],
        partner_category_id: [{ required: true,message: '合作夥伴分類為必填'}],
        partner_phone: [
          { required: true,message: '合作夥伴公司電話為必填'},
          { required: true,message: '合作夥伴公司電話必須為數字', pattern:/^[0-9\s]*$/ }
        ]
      },
      loading: false,
      //預設經度緯度(靜態)
      partner_tax_geoposition:[0,0],
      partner_tax_geoposition_googlemap:{
        lat:0,lng:0
      },
      partner_tax_url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      partner_tax_attribution:
          '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      partner_tax_zoom: 20,
      //預設標注點(靜態)
      partner_tax_markerLatLng: [0,0],
      //所有候選標註點
      all_candidate_list:[],
      //預覽選擇的合作夥伴頭貼
      show_partner_avatar_photo_preview:null,
    }
  },
  watch: {
    dialogVisible(olddata, newdata) {
      console.log(newdata)
      if (newdata) {
        this.$nextTick(() => {
          this.$refs.partner.resetFields()
        })
      }
    this.partner_tax_geoposition = [this.partner.partner_lat,this.partner.partner_lon]
    this.partner_tax_markerLatLng = [this.partner.partner_lat,this.partner.partner_lon]
    //當點擊為「修改資料」時，自動帶入現行的經緯度標點位置
    if(this.dialogType=='edit'){
      this.getpartnerposition(this.partner.partner_lat,this.partner.partner_lon)
    }
    //當點擊為「新增資料」時，自動帶入現行的經緯度標點位置
    if(this.dialogType=='new'){
      this.getpartnerposition(this.partner.partner_lat,this.partner.partner_lon)
    }
    },
  },
  computed: {
    ...mapGetters([
      'partnercategorylist',
      'id'
    ]),
  },
  mounted() {
    // 得知所有的合作夥伴管理分類
    this.getPartnerCategory(1)
  },
  methods: {
    handleMapClick(event){
      console.log(event);
      //點擊合作夥伴地標位置(google map)(place_id)
      this.clickpartneraddress(event.placeId)
    },
    async getPartnerCategory(page) {
      await this.$store.dispatch('partner/getPartnerCategory', page)
    },
    //搜尋合作夥伴實際位置(google map)
    searchpartneraddress(){
        search_partner_lat_lng({"address":this.partner.partner_tax}).then(resp => {
            console.log("latlon",resp)
            console.log("latlon2",resp.data.results[0])
            console.log("latlon3",resp.data.results[0].geometry.location.lat)
            console.log("latlon4",resp.data.results[0].geometry.location.lng)
            this.partner_tax_geoposition = [resp.data.results[0].geometry.location.lat,resp.data.results[0].geometry.location.lng]
            this.partner_tax_markerLatLng = [resp.data.results[0].geometry.location.lat,resp.data.results[0].geometry.location.lng]
            this.partner.partner_lat = resp.data.results[0].geometry.location.lat
            this.partner.partner_lon = resp.data.results[0].geometry.location.lng
            
            //帶入google map地圖實際點的位置
            this.partner_tax_geoposition_googlemap = {
              lat:resp.data.results[0].geometry.location.lat,
              lng:resp.data.results[0].geometry.location.lng
            }
            //帶入google map地圖實際點的位置
            this.$refs.mapRef.$mapPromise.then((map) => {
              map.panTo({lat: resp.data.results[0].geometry.location.lat, lng: resp.data.results[0].geometry.location.lng})
            })
      })
    },
    //點擊合作夥伴地標位置(google map)(place_id)
    clickpartneraddress(place_id){
        search_partner_lat_lng({"place_id":place_id}).then(resp => {
            this.partner_tax_geoposition = [resp.data.results[0].geometry.location.lat,resp.data.results[0].geometry.location.lng]
            this.partner_tax_markerLatLng = [resp.data.results[0].geometry.location.lat,resp.data.results[0].geometry.location.lng]
            this.partner.partner_lat = resp.data.results[0].geometry.location.lat
            this.partner.partner_lon = resp.data.results[0].geometry.location.lng
            
            //帶入google map地圖實際點的位置
            this.partner_tax_geoposition_googlemap = {
              lat:resp.data.results[0].geometry.location.lat,
              lng:resp.data.results[0].geometry.location.lng
            }
            //帶入google map地圖實際點的位置
            this.$refs.mapRef.$mapPromise.then((map) => {
              map.panTo({lat: resp.data.results[0].geometry.location.lat, lng: resp.data.results[0].geometry.location.lng})
            })
      })
    },
    //得出經緯度帶出實際位置
    getpartnerposition(partner_lat,partner_lon){
      this.partner_tax_geoposition_googlemap = {
        lat:partner_lat,
        lng:partner_lon
      }
    },
    // 更新與新增合作夥伴
    confirmPartner(partner) {
      this.$refs[partner].validate(valid => {
        if (valid) {
          this.loading = true
          const PartnerFormData = new FormData()
          PartnerFormData.append('partner_id',this.partner.partner_id)
          PartnerFormData.append('partner_name',this.partner.partner_name)
          PartnerFormData.append('partner_info',this.partner.partner_info)
          PartnerFormData.append('partner_tax',this.partner.partner_tax)
          PartnerFormData.append('partner_phone',this.partner.partner_phone)
          PartnerFormData.append('partner_category_id',this.partner.partner_category_id)
          PartnerFormData.append('partner_licience',this.partner.partner_licience)
          PartnerFormData.append('partner_vendor',this.partner.partner_vendor)
          PartnerFormData.append('partner_lat',this.partner.partner_lat)
          PartnerFormData.append('partner_lon',this.partner.partner_lon)
          PartnerFormData.append('partner_status_1',this.partner.partner_status_1)
          PartnerFormData.append('partner_status_2',this.partner.partner_status_2)
          PartnerFormData.append('partner_status_3',this.partner.partner_status_3)
          PartnerFormData.append('partner_open_close',this.partner.partner_open_close)
          PartnerFormData.append('partner_check_in_time',this.partner.partner_check_in_time)
          PartnerFormData.append('partner_check_out_time',this.partner.partner_check_out_time)
          if(this.dialogType=='new'){
            if(this.partner.partner_avatar!=null){
              PartnerFormData.append('partner_avatar',this.partner.partner_avatar.raw)
            }
          }
          if(this.dialogType=='edit'){
            if(this.partner.partner_avatar!=null){
              if(this.partner.partner_avatar.raw!=null){
                PartnerFormData.append('partner_avatar',this.partner.partner_avatar.raw)
              }
            }
          }
          this.$store.dispatch('partner/insert_update_partner', PartnerFormData)
            .then((res) => {
              // 更新資料進入外層的合作夥伴
              this.$emit('getPartner', 1)
              console.log(res)
              // this.dialogVisible = false
              // 判斷是否為新增或修改
              if (this.dialogType != 'edit') {
                this.$nextTick(() => {
                  this.$refs[partner].resetFields()
                })
              }
                //預覽圖片回復預設值
                this.$refs.partner_avatar.clearFiles()
                this.show_partner_avatar_photo_preview = null
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    //上傳預覽合作夥伴頭貼
    before_partner_avatar_photo_upload(file){
        const isJPG = file.raw.type.toLowerCase() === 'image/jpeg'||'image/jpg'||'image/png';
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isLt2M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
        //   this.$refs.
        return isLt2M;
        }
        else if(!isJPG){
          this.$message.error('上傳格式不正確!!');
          return isJPG;
        }
        let reader = new FileReader()
        reader.readAsDataURL(file.raw);
        let URL = window.URL || window.webkitURL;
        console.log("file",file)
        //放入所有常見問題圖片資訊
        this.partner.partner_avatar = file
        //預覽圖片
        this.show_partner_avatar_photo_preview = URL.createObjectURL(file.raw);
        return isLt2M&isJPG;
    },
    //取消上傳圖片合作夥伴頭貼
    reset_partner_avatar_photo_upload(){
      this.partner.partner_avatar = null
      this.show_partner_avatar_photo_preview = null
    },
    // 關閉合作夥伴
    closeAddPartner() {
    // 更新資料進入外層的合作夥伴狀態
      this.dialogVisible = false
      this.$emit('getPartnerstatus', this.dialogVisible)
    }
  }
}
</script>
