<template>
    <div>
    <el-form :inline="true" :model="partner" class="demo-form-inline">
    <el-row>
        <el-form-item label="合作夥伴代號">
            <el-input v-model="partner.partner_id" name="partner_id" 
            placeholder="合作夥伴代號" @keyup.enter.native="searchpartner" clearable></el-input>
        </el-form-item>
        <el-form-item label="合作夥伴名稱">
            <el-input v-model="partner.partner_name" name="partner_name" 
            placeholder="合作夥伴名稱" @keyup.enter.native="searchpartner" clearable></el-input>
        </el-form-item>
        <el-form-item label="合作夥伴分類">
            <el-select
                v-model="partner.partner_category_name"
                name="partner_category_name"
                filterable
                allow-create
                default-first-option
                @keydown.enter.native="searchpartner"
                clearable
                placeholder="選擇合作夥伴分類"
            >
                <el-option
                    v-for="item in partnercategorylist"
                    :key="item.category_id"
                    :label="item.partner_category_name"
                    :value="item.partner_category_name">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="合作夥伴電話">
            <el-input v-model="partner.partner_phone" name="partner_phone" 
            placeholder="合作夥伴電話" @keyup.enter.native="searchpartner" clearable></el-input>
        </el-form-item>
        <el-form-item label="合作夥伴狀態">
            <el-select v-model="partner.partner_open_close" name="partner_open_close" 
             placeholder="合作夥伴狀態" @keyup.enter.native="searchpartner" clearable>
                <el-option label="關閉" value="0"></el-option>
                <el-option label="開啟" value="1"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="searchpartner" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultPartner = {
  partner_id: '',partner_name: '',
  partner_phone: '',partner_category_name:'',
  partner_open_close: "1",
}

export default {
  name: 'SearchPartner',
  data() {
    return {
      partner: Object.assign({}, defaultPartner)
    }
  },
  computed: {
    ...mapGetters([
      'partnercategorylist',
    ])
  },
  methods: {
      searchpartner(){
        var query = ''
        if(this.partner.partner_id!=''){
            query+= 'partner_id='+this.partner.partner_id+'&'
        }
        if(this.partner.partner_name!=''){
            query+= 'partner_name='+this.partner.partner_name+'&'
        }
        if(this.partner.partner_phone!=''){
            query+= 'partner_phone='+this.partner.partner_phone+'&'
        }
        if(this.partner.partner_category_name!=''){
            query+= 'partner_category_name='+this.partner.partner_category_name+'&'
        }
        if(this.partner.partner_open_close!=''){
            query+= 'partner_open_close='+this.partner.partner_open_close+'&'
        }
        console.log("query",query)
        // 更新資料進入外層的合作夥伴
        this.$emit('searchPartner', query.slice(0, -1))
      }
  },
}
</script>