<template>
    <div>
    <el-dialog :visible.sync="dialogVisible" title="查看學員"
    :before-close="closeAddHealthemit" center fullscreen>
      <el-tabs v-model="activeTab">
        <el-tab-pane label="學員基本資料" name="healthstyle_basic">
          <HealthstyleBasic :activeTab="activeTab" :health="health" @closeAddHealth="closeAddHealthemit" />
        </el-tab-pane>
        <el-tab-pane label="量測指數" name="healthstyle_data">
          <HealthstyleMeature :activeTab="activeTab" :health="health" @closeAddHealth="closeAddHealthemit" />
        </el-tab-pane>
        <el-tab-pane label="指數統計" name="healthstyle_chart">
          <HealthstyleChart :activeTab="activeTab" :health="health" @closeAddHealth="closeAddHealthemit" />
        </el-tab-pane>
        <el-tab-pane label="使用前後照片" name="healthstyle_photo">
          <HealthstylePhoto :activeTab="activeTab" :health="health" @closeAddHealth="closeAddHealthemit" />
        </el-tab-pane>
      </el-tabs>
    </el-dialog>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import HealthstyleBasic from './HealthstyleBasic'
import HealthstyleMeature from './HealthstyleMeature'
import HealthstylePhoto from './HealthstylePhoto'
import HealthstyleChart from './HealthstyleChart'
export default {
name: 'AddEditHealth',
components: { HealthstyleBasic,HealthstyleMeature,HealthstylePhoto,HealthstyleChart },
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    health:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      activeTab:'healthstyle_basic'
    }
  },
  methods: {
    //再次回傳到最外層關閉健康模組
    closeAddHealthemit(){
    //更新資料進入最外層的健康模組
    this.dialogVisible = false
    this.$emit('getHealth',this.health.partner_id)
    this.$emit('getHealthstatus',this.dialogVisible)
    this.activeTab = 'healthstyle_basic'
    },
  }
}
</script>