<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新量測指數':'新增量測指數'"
    :before-close="closeAddMeature" center fullscreen
    append-to-body
    >
      <el-form :rules="MeatureRules" status-icon ref="healthmeature" :model="healthmeature" label-position="right">
          <!-- {{dialogVisible}}  -->
          <!-- {{healthmeature}} -->
          <el-row :gutter="20">
              <el-col :xs="8" :sm="6" :lg="6" :xl="4">
                <el-form-item label="體重" prop="weight">
                    <el-input v-model="healthmeature.weight"
                     placeholder="體重"
                    autocomplete="off"
                    ref="weight"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4">
                <el-form-item label="體脂" prop="bodyfat">
                    <el-input v-model="healthmeature.bodyfat"
                     placeholder="體脂"
                    autocomplete="off"
                    ref="bodyfat"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4">
                <el-form-item label="肌肉量" prop="muscle">
                    <el-input v-model="healthmeature.muscle"
                     placeholder="肌肉量"
                    autocomplete="off"
                    ref="muscle"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4">
                <el-form-item label="內脂" prop="lactose">
                    <el-input v-model="healthmeature.lactose"
                     placeholder="內脂"
                    autocomplete="off"
                    ref="lactose"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4">
                <el-form-item label="基礎代謝" prop="BMR">
                    <el-input v-model="healthmeature.BMR"
                     placeholder="基礎代謝"
                    autocomplete="off"
                    ref="BMR"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4">
                <el-form-item label="體齡" prop="bodyage">
                    <el-input v-model="healthmeature.bodyage"
                     placeholder="體齡"
                    autocomplete="off"
                    ref="bodyage"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4">
                <el-form-item label="骨量" prop="mass">
                    <el-input v-model="healthmeature.mass"
                     placeholder="骨量"
                    autocomplete="off"
                    ref="mass"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4"  v-if="healthmeature.class==2">
                <el-form-item label="胸圍（腋下）" prop="chest_underarm">
                    <el-input v-model="healthmeature.chest_underarm"
                     placeholder="胸圍（腋下）"
                    autocomplete="off"
                    ref="chest_underarm"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4" v-if="healthmeature.class==2">
                <el-form-item label="胸圍（乳頭）" prop="chest_nipples">
                    <el-input v-model="healthmeature.chest_nipples"
                     placeholder="胸圍（乳頭）"
                    autocomplete="off"
                    ref="chest_nipples"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4" v-if="healthmeature.class==2">
                <el-form-item label="胃圍" prop="stomach">
                    <el-input v-model="healthmeature.stomach"
                     placeholder="胃圍"
                    autocomplete="off"
                    ref="stomach"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4" v-if="healthmeature.class==2">
                <el-form-item label="肚臍下三指" prop="navel_down">
                    <el-input v-model="healthmeature.navel_down"
                     placeholder="肚臍下三指"
                    autocomplete="off"
                    ref="navel_down"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4" v-if="healthmeature.class==2">
                <el-form-item label="肚臍上三指" prop="navel_up">
                    <el-input v-model="healthmeature.navel_up"
                     placeholder="肚臍上三指"
                    autocomplete="off"
                    ref="navel_up"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4" v-if="healthmeature.class==2">
                <el-form-item label="臀圍" prop="hip">
                    <el-input v-model="healthmeature.hip"
                     placeholder="臀圍"
                    autocomplete="off"
                    ref="hip"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4" v-if="healthmeature.class==2">
                <el-form-item label="大腿（右）" prop="thigh_r">
                    <el-input v-model="healthmeature.thigh_r"
                     placeholder="大腿（右）"
                    autocomplete="off"
                    ref="thigh_r"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4" v-if="healthmeature.class==2">
                <el-form-item label="大腿（左）" prop="thigh_l">
                    <el-input v-model="healthmeature.thigh_l"
                     placeholder="大腿（左）"
                    autocomplete="off"
                    ref="thigh_l"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4" v-if="healthmeature.class==2">
                <el-form-item label="小腿（右）" prop="calf_r">
                    <el-input v-model="healthmeature.calf_r"
                     placeholder="小腿（右）"
                    autocomplete="off"
                    ref="calf_r"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4" v-if="healthmeature.class==2">
                <el-form-item label="小腿（左）" prop="calf_l">
                    <el-input v-model="healthmeature.calf_l"
                     placeholder="小腿（左）"
                    autocomplete="off"
                    ref="calf_l"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4" v-if="healthmeature.class==2">
                <el-form-item label="手臂（右）" prop="arm_r">
                    <el-input v-model="healthmeature.arm_r"
                     placeholder="手臂（右）"
                    autocomplete="off"
                    ref="arm_r"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4" v-if="healthmeature.class==2">
                <el-form-item label="手臂（左）" prop="arm_l">
                    <el-input v-model="healthmeature.arm_l"
                     placeholder="手臂（左）"
                    autocomplete="off"
                    ref="arm_l"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="8" :sm="6" :lg="6" :xl="4">
                <el-form-item label="量測時間" prop="measuretime">
                    <br/>
                    <el-date-picker v-model="healthmeature.measuretime" type="date" 
                    ref="measuretime" name="measuretime" placeholder="量測時間"
                    value-format="yyyy-MM-dd"
                    ></el-date-picker>
                </el-form-item>
              </el-col>
          <!-- {{dialogType}} -->
          </el-row>
          <el-row :gutter="20">
              <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="學員回饋" prop="member_feedback">
                    <el-input v-model="healthmeature.member_feedback"
                    placeholder="學員回饋"
                    type="textarea"
                    :rows="5"
                    autocomplete="off"
                    ref="member_feedback"
                     />
                </el-form-item>
              </el-col>
              <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="教練回饋" prop="coach_feedback">
                    <el-input v-model="healthmeature.coach_feedback"
                    placeholder="教練回饋"
                    type="textarea"
                    :rows="5"
                    autocomplete="off"
                    ref="coach_feedback"
                     />
                </el-form-item>
              </el-col>
          </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddMeature">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmMeature('healthmeature')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
import { updateMeatureStudent } from '@/api/health_manager'
export default {
name: 'AddEditMeature',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    healthmeature:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      MeatureRules: {
        weight: [{ required: true }],
        bodyfat: [{ required: true }],
        muscle:[{ required:true}],
        lactose:[{required:true}],
        BMR:[{required:true}],
        bodyage:[{required:true}],
        mass:[{required:true}],
        // chest_nipples:[{required:true}],
        // chest_underarm:[{required:true}],
        // stomach:[{required:true}],
        // navel_down:[{required:true}],
        // navel_up:[{required:true}],
        // hip:[{required:true}],
        // thigh_r:[{required:true}],
        // thigh_l:[{required:true}],
        // calf_r:[{required:true}],
        // calf_l:[{required:true}],
        // arm_r:[{required:true}],
        // arm_l:[{required:true}],
        measuretime:[{required:true}],
      },
      loading:false,
    //   order_mid_loading:false,
    //   shopLoading:false,
    //   shop:[]
    }
  },
  watch:{

  },
  methods: {
    // 更新與新增量測指數
    confirmMeature(healthmeature) {
      this.$refs[healthmeature].validate(valid => {
        if (valid) {
          this.loading = true
          this.healthmeature['source'] =  '2'
          updateMeatureStudent(this.healthmeature).then(resp => {
            this.$message({
              message: resp.message,
              type: resp.success==true ? 'success':'error'
            })
            this.loading = false
            //新增清除資料
            if(this.dialogType!="edit"){
                this.$nextTick(() => {
                    this.$refs[healthmeature].resetFields();
                    this.healthmeature.weight,this.healthmeature.weight,this.healthmeature.bodyfat,this.healthmeature.muscle,
                    this.healthmeature.lactose,this.healthmeature.BMR,this.healthmeature.bodyage,this.healthmeature.mass,
                    this.healthmeature.chest_underarm,this.healthmeature.chest_nipples,this.healthmeature.stomach,this.healthmeature.navel_down,
                    this.healthmeature.navel_up,this.healthmeature.hip,this.healthmeature.thigh_r,this.healthmeature.thigh_l,
                    this.healthmeature.calf_r,this.healthmeature.calf_l,this.healthmeature.arm_r,this.healthmeature.arm_l,
                    this.healthmeature.measuretime,this.healthmeature.member_feedback,this.healthmeature.coach_feedback = ''
                })
            }
          })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    //關閉量測指數
    closeAddMeature(){
    //更新資料進入外層的量測指數
    this.dialogVisible = false
    this.dialogType = ''
    this.$emit('getMeature_status_dialogtype',this.dialogVisible,this.dialogType)
    },
  }
}
</script>