<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新使用前後照片':'新增使用前後照片'"
    :before-close="closeAddPhoto" center fullscreen
    append-to-body
    >
        <!-- {{healthphoto}} -->
      <el-form :rules="PhotoRules" status-icon ref="healthphoto" :model="healthphoto" label-position="right">
          <!-- {{healthphoto}}
          {{upload_path+origin_image}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="原始照片">
                <el-image :src="upload_path+origin_image">
                    <div slot="error" class="image-slot">
                    <i class="el-icon-picture-outline"></i>
                    </div>
                </el-image>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="上傳照片" prop="upload_image">
            <el-upload
                class="avatar-uploader"
                :action="upload_path+'/healthstyle/'"
                ref="upload_image"
                name="upload_image"
                :multiple="false"
                :auto-upload="false"
                :limit="1"
                accept="image/png,image/gif,image/jpg,image/jpeg"
                :on-change="before_upload_image_upload"
                :on-remove="reset_upload_image_upload"
                >
                <img v-if="show_upload_image_preview" :src="show_upload_image_preview" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
            <el-form-item label="選擇照片分類" prop="note">
                <!-- {{healthphotovalue}} -->
                <el-select
                    ref="note"
                    v-model="healthphoto.note"
                    name="note"
                    width="200px;"
                    placeholder="選擇照片分類"
                    >
                    <el-option
                        v-for="item,index in healthphotolist"
                        :key="index"
                        :label="item.note_title"
                        :value="item.note"
                        >
                    </el-option>
                </el-select>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
            <el-form-item label="狀態" prop="status">
              <br>
              <el-radio-group v-model="healthphoto.status" name="status">
                <el-radio-button label="1" border>正常</el-radio-button>
                <el-radio-button label="2" border v-show="dialogType==='edit'">刪除</el-radio-button>
              </el-radio-group>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="照片備註" prop="mark">
                <el-input v-model="healthphoto.mark"
                placeholder="照片備註"
                type="textarea"
                :rows="5"
                autocomplete="off"
                ref="mark"
                    />
            </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddPhoto">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmPhoto('healthphoto')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 400px;
    height: 400px;
    display: block;
  }
</style>
<script>
import { getPhotoList,uploadPhotoStudent } from '@/api/health_manager'
export default {
name: 'AddEditPhoto',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    healthphoto:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      PhotoRules: {
          upload_image:[{required:true}],
          note:[{required:true}]
      },
      loading:false,
      healthphotolist:[],
      healthphotovalue:[],
      // 圖片網址位置
      upload_path: '',
      //原始照片
      origin_image:'',
      //預覽照片
      show_upload_image_preview:'',
    //   order_mid_loading:false,
    //   shopLoading:false,
    //   shop:[]
    }
  },
  watch:{
    healthphoto:{
    handler: function(val, oldVal) {
        if(this.healthphoto.mid!=''){
            this.origin_image = this.healthphoto.upload_image
            this.gethealthphotolist()
        }
    },
    immediate: true
    }
  },
  created() {
        // 圖片網址位置
        this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    //關閉量測指數
    closeAddPhoto(){
    //更新資料進入外層的量測指數
    this.dialogVisible = false
    this.dialogType = ''
    this.healthphoto.upload_image = this.origin_image
    this.show_upload_image_preview = null
    this.$emit('getPhoto_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    gethealthphotolist(){
        var _self = this
        getPhotoList(_self.healthphoto.class).then(resp => {
            // _self.healthphotovalue = JSON.parse(resp.data.list)
            _self.healthphotovalue = Object.values(JSON.parse(resp.data.list))
            _self.healthphotolist = []
            Object.keys(JSON.parse(resp.data.list)).forEach((element,index)=>{
                _self.healthphotolist.push({
                    note:parseInt(element),
                    note_title: _self.healthphotovalue[index]
                })
            })
        })
    },
    // 更新與新增最新消息
    confirmPhoto(healthphoto) {
      this.$refs[healthphoto].validate(valid => {
        if (valid) {
          this.loading = true
          const HealthPhotoFormData = new FormData()
          HealthPhotoFormData.append('mid',this.healthphoto.mid)
          HealthPhotoFormData.append('source',2)
          HealthPhotoFormData.append('partner_id',this.healthphoto.partner_id)
          HealthPhotoFormData.append('mark',this.healthphoto.mark)
          HealthPhotoFormData.append('note',this.healthphoto.note)
          HealthPhotoFormData.append('status',this.healthphoto.status)
          if(this.dialogType=='new'){
            if(this.healthphoto.upload_image!=null){
              HealthPhotoFormData.append('upload_image',this.healthphoto.upload_image.raw)
            }
          }
          if(this.dialogType=='edit'){
            if(this.healthphoto.upload_image!=null){
              if(this.healthphoto.upload_image.raw!=null){
                HealthPhotoFormData.append('upload_image',this.healthphoto.upload_image.raw)
              }
              else{
                HealthPhotoFormData.append('upload_image',this.healthphoto.upload_image)
              }
            }
          }
          //更新常見問題
          if(this.dialogType=='edit'){
            HealthPhotoFormData.append('id',this.healthphoto.id)
          }
          uploadPhotoStudent(HealthPhotoFormData)
            .then((resp) => {
                if(this.dialogType=='new'){
                    if(this.healthphoto.upload_image!=null){
                        this.origin_image = '/healthstyle/'+this.healthphoto.upload_image.name
                    }
                }
                if(this.dialogType=='edit'){
                    if(this.healthphoto.upload_image!=null){
                        if(this.healthphoto.upload_image.raw!=null){
                            this.origin_image = '/healthstyle/'+this.healthphoto.upload_image.name
                        }
                        else{
                            this.origin_image = this.healthphoto.upload_image
                        }
                    }
                }
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
                })
                //更新資料進入外層的最新消息
                this.$emit('getHealthPhoto')
                //判斷是否為新增或修改
                if(this.dialogType!="edit"){
                    this.$nextTick(() => {
                      this.$refs[healthphoto].resetFields()
                    })
                }
                //預覽圖片回復預設值
                this.$refs.upload_image.clearFiles()
                this.show_upload_image_preview = null
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    before_upload_image_upload(file) {
        const isJPG = file.raw.type.toLowerCase() === 'image/jpeg'||'image/jpg'||'image/png';
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isLt2M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
        //   this.$refs.
        return isLt2M;
        }
        else if(!isJPG) {
          this.$message.error('上傳格式不正確!!');
          return isJPG;
        }
        let reader = new FileReader()
        reader.readAsDataURL(file.raw);
        let URL = window.URL || window.webkitURL;
        console.log("file",file)
        // 預覽圖片
        this.healthphoto.upload_image = file
        this.show_upload_image_preview = URL.createObjectURL(file.raw);
        return isLt2M&isJPG;
    },
    // 取消上傳圖片
    reset_upload_image_upload(){
      this.healthphoto.upload_image = this.origin_image
      this.show_upload_image_preview = null
    },
  }
}
</script>