<template>
  <el-row :gutter="40" class="panel-group" v-loading="HealthRecordInfoLoading">
      <!-- {{health}}
      {{start_val}} -->
      <!-- {{health}}
      {{HealthRecordInfo}}
      {{show_filter_chart_field}} -->
    <!-- 有兩筆資料版本 start -->
    <div v-if="this.HealthRecordInfo.length>=3">
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("體重")'>
        <div class="card-panel" @click="handleSetLineChartData('weight')">
            <div class="card-panel-icon-wrapper icon-people">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/weight.svg')" class-name="card-panel-icon">
            <!-- <svg enable-background="new 0 0 68 68" height="68px" id="Layer_1" version="1.1" viewBox="0 0 100 100" width="68px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class-name="card-panel-icon"><g><g><g><g/></g><g/></g></g><g><path d="M52,40.334C52,42.816,54.35,45,56.83,45h13c2.482,0,4.17-2.184,4.17-4.666v-17   C74,20.853,72.312,19,69.83,19h-13C54.35,19,52,20.853,52,23.334V24H22v-0.666C22,20.853,20.312,19,17.83,19h-13   C2.35,19,0,20.853,0,23.334v17C0,42.816,2.35,45,4.83,45h13c2.482,0,4.17-2.184,4.17-4.666V40h30V40.334z M56,39.834v-16v-0.5   C56,23.063,56.559,23,56.83,23h13c0.271,0,0.17,0.063,0.17,0.334v17C70,40.606,70.102,41,69.83,41h-13   C56.559,41,56,40.606,56,40.334V39.834z M17.83,41h-13C4.559,41,4,40.606,4,40.334v-17C4,23.063,4.559,23,4.83,23h13   c0.271,0,0.17,0.063,0.17,0.334v0.5v16v0.5C18,40.606,18.102,41,17.83,41z M27,36h-5v-8h5V36z M45,36H29v-8h16V36z M47,36v-8h5v8   H47z" fill="#231F20"/><path d="M95.83,55h-13C80.35,55,78,56.853,78,59.334V60H48v-0.666C48,56.853,46.312,55,43.83,55h-13   C28.35,55,26,56.853,26,59.334v17C26,78.816,28.35,81,30.83,81h13c2.482,0,4.17-2.184,4.17-4.666V76h30v0.334   C78,78.816,80.35,81,82.83,81h13c2.482,0,4.17-2.184,4.17-4.666v-17C100,56.853,98.312,55,95.83,55z M43.83,77h-13   C30.559,77,30,76.606,30,76.334v-17C30,59.063,30.559,59,30.83,59h13c0.271,0,0.17,0.063,0.17,0.334v0.5v16v0.5   C44,76.606,44.102,77,43.83,77z M53,72h-5v-8h5V72z M71,72H55v-8h16V72z M78,72h-5v-8h5V72z M95.83,77h-13   C82.559,77,82,76.606,82,76.334v-0.5v-16v-0.5C82,59.063,82.559,59,82.83,59h13c0.271,0,0.17,0.063,0.17,0.334v17   C96,76.606,96.102,77,95.83,77z" fill="#231F20"/></g></svg> -->
            </div>
            <div class="card-panel-description">
                <div class="card-panel-text">
                    體重
                </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].weight" :duration="3500" class="card-panel-num" />kg<br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].weight-this.HealthRecordInfo[1].weight>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].weight-this.HealthRecordInfo[1].weight" :duration="2500" />kg -->
                        <div v-if="this.HealthRecordInfo[0].weight-this.HealthRecordInfo[1].weight<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].weight-this.HealthRecordInfo[1].weight" :duration="2500" />kg
                        </div>
                        <div v-if="this.HealthRecordInfo[0].weight-this.HealthRecordInfo[1].weight>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].weight-this.HealthRecordInfo[1].weight" :duration="2500" />kg
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].weight-this.HealthRecordInfo[2].weight>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].weight-this.HealthRecordInfo[2].weight<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].weight-this.HealthRecordInfo[2].weight" :duration="2500" />kg
                        </div>
                        <div v-if="this.HealthRecordInfo[0].weight-this.HealthRecordInfo[2].weight>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].weight-this.HealthRecordInfo[2].weight" :duration="2500" />kg
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("體脂")'>
        <div class="card-panel" @click="handleSetLineChartData('bodyfat')">
            <div class="card-panel-icon-wrapper icon-message">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/bodyfat.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
                體脂
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].bodyfat" :duration="3500" class="card-panel-num" />%<br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].bodyfat-this.HealthRecordInfo[1].bodyfat>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <div v-if="this.HealthRecordInfo[0].bodyfat-this.HealthRecordInfo[1].bodyfat<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].bodyfat-this.HealthRecordInfo[1].bodyfat" :duration="2500" />%
                        </div>
                        <div v-if="this.HealthRecordInfo[0].bodyfat-this.HealthRecordInfo[1].bodyfat>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].bodyfat-this.HealthRecordInfo[1].bodyfat" :duration="2500" />%
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].bodyfat-this.HealthRecordInfo[2].bodyfat>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].bodyfat-this.HealthRecordInfo[2].bodyfat<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].bodyfat-this.HealthRecordInfo[2].bodyfat" :duration="2500" />%
                        </div>
                        <div v-if="this.HealthRecordInfo[0].bodyfat-this.HealthRecordInfo[2].bodyfat>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].bodyfat-this.HealthRecordInfo[2].bodyfat" :duration="2500" />%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("肌肉量")'>
        <div class="card-panel" @click="handleSetLineChartData('muscle')">
            <div class="card-panel-icon-wrapper icon-money">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/muscle.svg')" class-name="card-panel-icon">
            <!-- <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class-name="card-panel-icon"><g id="Biceps"><path d="M376.7809,287.8908a105.6316,105.6316,0,0,1,4.9307,9.7747,12.6156,12.6156,0,0,1-7.9916,17.085,12.8146,12.8146,0,0,1-15.4685-7.14c-26.3737-59.7889-108.8917-73.8287-153.2552-25.4984a92.6432,92.6432,0,0,0-24.8194,52.6135,12.8591,12.8591,0,0,1-12.667,11.4747,12.685,12.685,0,0,1-12.6649-14.0252,119.248,119.248,0,0,1,50.1513-83.47V193.2006h68a34,34,0,0,0,34-34V96.2159a29.84,29.84,0,0,0-14.875-25.7553l-22.186-12.8351A42.19,42.19,0,0,0,219.02,64.3409l-88.9947,88.9947a76.2219,76.2219,0,0,0-17.6807,27.54l-56.8645,153.34a55.2822,55.2822,0,0,0,33.5746,71.4c44.4548,15.47,125.375,34.085,183.9412,34.085,28.9116-1.9486,56.9309-13.2579,85.7636-3.7374a324.569,324.569,0,0,0,34.6807,7.1377l-4.59-13.8551a12.8111,12.8111,0,0,1,8.5544-16.3886c6.6538-2,13.6216,2.3474,15.8231,8.9373l12.7685,38.2213h21.2913a12.7087,12.7087,0,0,0,12.7087-12.7087V291.1383a12.7871,12.7871,0,0,0-13.3519-12.7047A342.1659,342.1659,0,0,0,376.7809,287.8908Zm-58.0556,75.5651a226.9552,226.9552,0,0,1-85.34,7.48c-16.5185-2.0669-14.0553-26.82,2.6355-25.33a203.5,203.5,0,0,0,75.6492-6.63C327.9018,334.6,334.8,358.5527,318.7253,363.4559Z"/></g></svg> -->
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
                肌肉量
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].muscle" :duration="3500" class="card-panel-num" />kg<br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].muscle-this.HealthRecordInfo[1].muscle<0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].muscle-this.HealthRecordInfo[1].muscle" :duration="2500" />kg -->
                        <div v-if="this.HealthRecordInfo[0].muscle-this.HealthRecordInfo[1].muscle<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].muscle-this.HealthRecordInfo[1].muscle<0" :duration="2500" />kg
                        </div>
                        <div v-if="this.HealthRecordInfo[0].muscle-this.HealthRecordInfo[1].muscle>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].muscle-this.HealthRecordInfo[1].muscle<0" :duration="2500" />kg
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].muscle-this.HealthRecordInfo[2].muscle>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].muscle-this.HealthRecordInfo[2].muscle<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].muscle-this.HealthRecordInfo[2].muscle" :duration="2500" />kg
                        </div>
                        <div v-if="this.HealthRecordInfo[0].muscle-this.HealthRecordInfo[2].muscle>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].muscle-this.HealthRecordInfo[2].muscle" :duration="2500" />kg
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("內脂")'>
        <div class="card-panel" @click="handleSetLineChartData('lactose')">
            <div class="card-panel-icon-wrapper icon-shopping">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/lactose.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
                內脂
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].lactose" :duration="3500" class="card-panel-num" />%<br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].lactose-this.HealthRecordInfo[1].lactose>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <div v-if="this.HealthRecordInfo[0].lactose-this.HealthRecordInfo[1].lactose<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].lactose-this.HealthRecordInfo[1].lactose<0" :duration="2500" />%
                        </div>
                        <div v-if="this.HealthRecordInfo[0].lactose-this.HealthRecordInfo[1].lactose>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].lactose-this.HealthRecordInfo[1].lactose<0" :duration="2500" />%
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].lactose-this.HealthRecordInfo[2].lactose>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].lactose-this.HealthRecordInfo[2].lactose<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].lactose-this.HealthRecordInfo[2].lactose" :duration="2500" />%
                        </div>
                        <div v-if="this.HealthRecordInfo[0].lactose-this.HealthRecordInfo[2].lactose>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].lactose-this.HealthRecordInfo[2].lactose" :duration="2500" />%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("基礎代謝")'>
        <div class="card-panel" @click="handleSetLineChartData('BMR')">
            <div class="card-panel-icon-wrapper icon-people">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/BMR.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
                基礎代謝
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].BMR" :duration="3500" class="card-panel-num" /><br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].BMR-this.HealthRecordInfo[1].BMR<0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].BMR-this.HealthRecordInfo[1].BMR" :duration="2500" /> -->
                        <div v-if="this.HealthRecordInfo[0].BMR-this.HealthRecordInfo[1].BMR<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].BMR-this.HealthRecordInfo[1].BMR<0" :duration="2500" />
                        </div>
                        <div v-if="this.HealthRecordInfo[0].BMR-this.HealthRecordInfo[1].BMR>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].BMR-this.HealthRecordInfo[1].BMR<0" :duration="2500" />
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].BMR-this.HealthRecordInfo[2].BMR>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].BMR-this.HealthRecordInfo[2].BMR<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].BMR-this.HealthRecordInfo[2].BMR" :duration="2500" />
                        </div>
                        <div v-if="this.HealthRecordInfo[0].BMR-this.HealthRecordInfo[2].BMR>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].BMR-this.HealthRecordInfo[2].BMR" :duration="2500" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("體齡")'>
        <div class="card-panel" @click="handleSetLineChartData('bodyage')">
            <div class="card-panel-icon-wrapper icon-message">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/bodyage.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            體齡
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].bodyage" :duration="3500" class="card-panel-num" />歲<br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].bodyage-this.HealthRecordInfo[1].bodyage>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].bodyage-this.HealthRecordInfo[1].bodyage" :duration="2500" />歲 -->
                        <div v-if="this.HealthRecordInfo[0].bodyage-this.HealthRecordInfo[1].bodyage<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].bodyage-this.HealthRecordInfo[1].bodyage<0" :duration="2500" />歲
                        </div>
                        <div v-if="this.HealthRecordInfo[0].bodyage-this.HealthRecordInfo[1].bodyage>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].bodyage-this.HealthRecordInfo[1].bodyage<0" :duration="2500" />歲
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].bodyage-this.HealthRecordInfo[2].bodyage>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].bodyage-this.HealthRecordInfo[2].bodyage<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].bodyage-this.HealthRecordInfo[2].bodyage" :duration="2500" />歲
                        </div>
                        <div v-if="this.HealthRecordInfo[0].bodyage-this.HealthRecordInfo[2].bodyage>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].bodyage-this.HealthRecordInfo[2].bodyage" :duration="2500" />歲
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("骨量")'>
        <div class="card-panel" @click="handleSetLineChartData('mass')">
            <div class="card-panel-icon-wrapper icon-money">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/mass.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            骨量
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].mass" :duration="3500" class="card-panel-num" />%<br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].mass-this.HealthRecordInfo[1].mass>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <div v-if="this.HealthRecordInfo[0].mass-this.HealthRecordInfo[1].mass<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].mass-this.HealthRecordInfo[1].mass" :duration="2500" />%
                        </div>
                        <div v-if="this.HealthRecordInfo[0].mass-this.HealthRecordInfo[1].mass>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].mass-this.HealthRecordInfo[1].mass" :duration="2500" />%
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].mass-this.HealthRecordInfo[2].mass>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].mass-this.HealthRecordInfo[2].mass<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].mass-this.HealthRecordInfo[2].mass" :duration="2500" />%
                        </div>
                        <div v-if="this.HealthRecordInfo[0].mass-this.HealthRecordInfo[2].mass>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].mass-this.HealthRecordInfo[2].mass" :duration="2500" />%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("胸圍（腋下）") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('chest_underarm')">
            <div class="card-panel-icon-wrapper icon-shopping">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/chest_underarm.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            胸圍（腋下）
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].chest_underarm" :duration="3500" class="card-panel-num" />cm<br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].chest_underarm-this.HealthRecordInfo[1].chest_underarm>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].chest_underarm-this.HealthRecordInfo[1].chest_underarm" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].chest_underarm-this.HealthRecordInfo[1].chest_underarm<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].chest_underarm-this.HealthRecordInfo[1].chest_underarm" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].chest_underarm-this.HealthRecordInfo[1].chest_underarm>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].chest_underarm-this.HealthRecordInfo[1].chest_underarm" :duration="2500" />cm
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].chest_underarm-this.HealthRecordInfo[2].chest_underarm>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].chest_underarm-this.HealthRecordInfo[2].chest_underarm<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].chest_underarm-this.HealthRecordInfo[2].chest_underarm" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].chest_underarm-this.HealthRecordInfo[2].chest_underarm>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].chest_underarm-this.HealthRecordInfo[2].chest_underarm" :duration="2500" />cm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("胸圍（乳頭）") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('chest_nipples')">
            <div class="card-panel-icon-wrapper icon-people">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/chest_nipples.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            胸圍（乳頭）
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].chest_nipples" :duration="3500" class="card-panel-num" />cm<br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].chest_nipples-this.HealthRecordInfo[1].chest_nipples>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].chest_nipples-this.HealthRecordInfo[1].chest_nipples" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].chest_nipples-this.HealthRecordInfo[1].chest_nipples<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].chest_nipples-this.HealthRecordInfo[1].chest_nipples" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].chest_nipples-this.HealthRecordInfo[1].chest_nipples>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].chest_nipples-this.HealthRecordInfo[1].chest_nipples" :duration="2500" />cm
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].chest_nipples-this.HealthRecordInfo[2].chest_nipples>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].chest_nipples-this.HealthRecordInfo[2].chest_nipples<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].chest_nipples-this.HealthRecordInfo[2].chest_nipples" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].chest_nipples-this.HealthRecordInfo[2].chest_nipples>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].chest_nipples-this.HealthRecordInfo[2].chest_nipples" :duration="2500" />cm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("胃圍") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('stomach')">
            <div class="card-panel-icon-wrapper icon-message">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/stomach.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            胃圍
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].stomach" :duration="3500" class="card-panel-num" />cm<br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].stomach-this.HealthRecordInfo[1].stomach>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].stomach-this.HealthRecordInfo[1].stomach" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].stomach-this.HealthRecordInfo[1].stomach<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].stomach-this.HealthRecordInfo[1].stomach" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].stomach-this.HealthRecordInfo[1].stomach>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].stomach-this.HealthRecordInfo[1].stomach" :duration="2500" />cm
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].stomach-this.HealthRecordInfo[2].stomach>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].stomach-this.HealthRecordInfo[2].stomach<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].stomach-this.HealthRecordInfo[2].stomach" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].stomach-this.HealthRecordInfo[2].stomach>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].stomach-this.HealthRecordInfo[2].stomach" :duration="2500" />cm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("肚臍下三指") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('navel_down')">
            <div class="card-panel-icon-wrapper icon-money">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/navel_down.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            肚臍下三指
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].navel_down" :duration="3500" class="card-panel-num" />cm<br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].navel_down-this.HealthRecordInfo[1].navel_down>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].navel_down-this.HealthRecordInfo[1].navel_down" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].navel_down-this.HealthRecordInfo[1].navel_down<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].navel_down-this.HealthRecordInfo[1].navel_down" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].navel_down-this.HealthRecordInfo[1].navel_down>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].navel_down-this.HealthRecordInfo[1].navel_down" :duration="2500" />cm
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].navel_down-this.HealthRecordInfo[2].navel_down>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].navel_down-this.HealthRecordInfo[2].navel_down<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].navel_down-this.HealthRecordInfo[2].navel_down" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].navel_down-this.HealthRecordInfo[2].navel_down>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].navel_down-this.HealthRecordInfo[2].navel_down" :duration="2500" />cm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("肚臍上三指") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('navel_up')">
            <div class="card-panel-icon-wrapper icon-shopping">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/navel_up.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            肚臍上三指
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].navel_up" :duration="3500" class="card-panel-num" />cm<br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].navel_up-this.HealthRecordInfo[1].navel_up>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].navel_up-this.HealthRecordInfo[1].navel_up" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].navel_up-this.HealthRecordInfo[1].navel_up<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].navel_up-this.HealthRecordInfo[1].navel_up" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].navel_up-this.HealthRecordInfo[1].navel_up>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].navel_up-this.HealthRecordInfo[1].navel_up" :duration="2500" />cm
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].navel_up-this.HealthRecordInfo[2].navel_up>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].navel_up-this.HealthRecordInfo[2].navel_up<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].navel_up-this.HealthRecordInfo[2].navel_up" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].navel_up-this.HealthRecordInfo[2].navel_up>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].navel_up-this.HealthRecordInfo[2].navel_up" :duration="2500" />cm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("臀圍") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('hip')">
            <div class="card-panel-icon-wrapper icon-people">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" />  -->
            <img :src="require('@/assets/health/hip.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            臀圍
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].hip" :duration="3500" class="card-panel-num" />cm<br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].hip-this.HealthRecordInfo[1].hip>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].hip-this.HealthRecordInfo[1].hip" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].hip-this.HealthRecordInfo[1].hip<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].hip-this.HealthRecordInfo[1].hip" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].hip-this.HealthRecordInfo[1].hip>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].hip-this.HealthRecordInfo[1].hip" :duration="2500" />cm
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].hip-this.HealthRecordInfo[2].hip>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].hip-this.HealthRecordInfo[2].hip<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].hip-this.HealthRecordInfo[2].hip" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].hip-this.HealthRecordInfo[2].hip>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].hip-this.HealthRecordInfo[2].hip" :duration="2500" />cm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("大腿（右）") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('thigh_r')">
            <div class="card-panel-icon-wrapper icon-message">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/thigh_l.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            大腿（右）
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].thigh_l" :duration="3500" class="card-panel-num" />cm<br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].thigh_l-this.HealthRecordInfo[1].thigh_l>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].thigh_l-this.HealthRecordInfo[1].thigh_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].thigh_l-this.HealthRecordInfo[1].thigh_l<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].thigh_l-this.HealthRecordInfo[1].thigh_l" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].thigh_l-this.HealthRecordInfo[1].thigh_l>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].thigh_l-this.HealthRecordInfo[1].thigh_l" :duration="2500" />cm
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].thigh_l-this.HealthRecordInfo[2].thigh_l>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].thigh_l-this.HealthRecordInfo[2].thigh_l<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].thigh_l-this.HealthRecordInfo[2].thigh_l" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].thigh_l-this.HealthRecordInfo[2].thigh_l>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].thigh_l-this.HealthRecordInfo[2].thigh_l" :duration="2500" />cm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("大腿（左）") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('thigh_l')">
            <div class="card-panel-icon-wrapper icon-money">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/thigh_r.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            大腿（左）
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].thigh_r" :duration="3500" class="card-panel-num" />cm<br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].thigh_r-this.HealthRecordInfo[1].thigh_r>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].thigh_r-this.HealthRecordInfo[1].thigh_r" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].thigh_r-this.HealthRecordInfo[1].thigh_r<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].thigh_r-this.HealthRecordInfo[1].thigh_r" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].thigh_r-this.HealthRecordInfo[1].thigh_r>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].thigh_r-this.HealthRecordInfo[1].thigh_r" :duration="2500" />cm
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].thigh_r-this.HealthRecordInfo[2].thigh_r>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].thigh_r-this.HealthRecordInfo[2].thigh_r<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].thigh_r-this.HealthRecordInfo[2].thigh_r" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].thigh_r-this.HealthRecordInfo[2].thigh_r>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].thigh_r-this.HealthRecordInfo[2].thigh_r" :duration="2500" />cm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("小腿（右）") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('calf_r')">
            <div class="card-panel-icon-wrapper icon-shopping">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/calf_l.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            小腿（右）
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].calf_l" :duration="3500" class="card-panel-num" />cm<br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].calf_l-this.HealthRecordInfo[1].calf_l>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].calf_l-this.HealthRecordInfo[1].calf_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].calf_l-this.HealthRecordInfo[1].calf_l<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].calf_l-this.HealthRecordInfo[1].calf_l" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].calf_l-this.HealthRecordInfo[1].calf_l>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].calf_l-this.HealthRecordInfo[1].calf_l" :duration="2500" />cm
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].calf_l-this.HealthRecordInfo[2].calf_l>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].calf_l-this.HealthRecordInfo[2].calf_l<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].calf_l-this.HealthRecordInfo[2].calf_l" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].calf_l-this.HealthRecordInfo[2].calf_l>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].calf_l-this.HealthRecordInfo[2].calf_l" :duration="2500" />cm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("小腿（左）") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('calf_l')">
            <div class="card-panel-icon-wrapper icon-people">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/calf_r.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            小腿（左）
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].calf_r" :duration="3500" class="card-panel-num" />cm<br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].calf_r-this.HealthRecordInfo[1].calf_r>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].calf_r-this.HealthRecordInfo[1].calf_r" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].calf_r-this.HealthRecordInfo[1].calf_r<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].calf_r-this.HealthRecordInfo[1].calf_r" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].calf_r-this.HealthRecordInfo[1].calf_r>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].calf_r-this.HealthRecordInfo[1].calf_r" :duration="2500" />cm
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].calf_r-this.HealthRecordInfo[2].calf_r>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].calf_r-this.HealthRecordInfo[2].calf_r<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].calf_r-this.HealthRecordInfo[2].calf_r" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].calf_r-this.HealthRecordInfo[2].calf_r>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].calf_r-this.HealthRecordInfo[2].calf_r" :duration="2500" />cm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("手臂（右）") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('arm_r')">
            <div class="card-panel-icon-wrapper icon-message">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/arm_l.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            手臂（右）
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l" :duration="3500" class="card-panel-num" />cm<br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[2].arm_l>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[2].arm_l<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[2].arm_l" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[2].arm_l>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[2].arm_l" :duration="2500" />cm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("手臂（左）") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('arm_l')">
            <div class="card-panel-icon-wrapper icon-money">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/arm_r.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            手臂（左）
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_r" :duration="3500" class="card-panel-num" />cm<br/>
                <div v-show="this.HealthRecordInfo.length>=3">
                    <div :class="this.HealthRecordInfo[0].arm_r-this.HealthRecordInfo[1].arm_r>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_r-this.HealthRecordInfo[1].arm_r" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].arm_r-this.HealthRecordInfo[1].arm_r<0">
                            減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_r-this.HealthRecordInfo[1].arm_r" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].arm_r-this.HealthRecordInfo[1].arm_r>=0">
                            增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_r-this.HealthRecordInfo[1].arm_r" :duration="2500" />cm
                        </div>
                    </div>
                    <div :class="this.HealthRecordInfo[0].arm_r-this.HealthRecordInfo[2].arm_r>0?'card-panel-loss-error':'card-panel-loss-normal'">
                        <!-- <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l-this.HealthRecordInfo[1].arm_l" :duration="2500" />cm -->
                        <div v-if="this.HealthRecordInfo[0].arm_r-this.HealthRecordInfo[2].arm_r<0">
                            截至目前 減少 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_r-this.HealthRecordInfo[2].arm_r" :duration="2500" />cm
                        </div>
                        <div v-if="this.HealthRecordInfo[0].arm_r-this.HealthRecordInfo[2].arm_r>=0">
                            截至目前 增加 <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_r-this.HealthRecordInfo[2].arm_r" :duration="2500" />cm
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </el-col>
    </div>
    <!-- 有兩筆資料版本 end -->
    <div v-else-if="this.HealthRecordInfo.length>=2">
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
        <div class="card-panel" @click="handleSetLineChartData('weight')">
            <div class="card-panel-icon-wrapper icon-people">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/weight.svg')" class-name="card-panel-icon">
            <!-- <svg enable-background="new 0 0 68 68" height="68px" id="Layer_1" version="1.1" viewBox="0 0 100 100" width="68px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class-name="card-panel-icon"><g><g><g><g/></g><g/></g></g><g><path d="M52,40.334C52,42.816,54.35,45,56.83,45h13c2.482,0,4.17-2.184,4.17-4.666v-17   C74,20.853,72.312,19,69.83,19h-13C54.35,19,52,20.853,52,23.334V24H22v-0.666C22,20.853,20.312,19,17.83,19h-13   C2.35,19,0,20.853,0,23.334v17C0,42.816,2.35,45,4.83,45h13c2.482,0,4.17-2.184,4.17-4.666V40h30V40.334z M56,39.834v-16v-0.5   C56,23.063,56.559,23,56.83,23h13c0.271,0,0.17,0.063,0.17,0.334v17C70,40.606,70.102,41,69.83,41h-13   C56.559,41,56,40.606,56,40.334V39.834z M17.83,41h-13C4.559,41,4,40.606,4,40.334v-17C4,23.063,4.559,23,4.83,23h13   c0.271,0,0.17,0.063,0.17,0.334v0.5v16v0.5C18,40.606,18.102,41,17.83,41z M27,36h-5v-8h5V36z M45,36H29v-8h16V36z M47,36v-8h5v8   H47z" fill="#231F20"/><path d="M95.83,55h-13C80.35,55,78,56.853,78,59.334V60H48v-0.666C48,56.853,46.312,55,43.83,55h-13   C28.35,55,26,56.853,26,59.334v17C26,78.816,28.35,81,30.83,81h13c2.482,0,4.17-2.184,4.17-4.666V76h30v0.334   C78,78.816,80.35,81,82.83,81h13c2.482,0,4.17-2.184,4.17-4.666v-17C100,56.853,98.312,55,95.83,55z M43.83,77h-13   C30.559,77,30,76.606,30,76.334v-17C30,59.063,30.559,59,30.83,59h13c0.271,0,0.17,0.063,0.17,0.334v0.5v16v0.5   C44,76.606,44.102,77,43.83,77z M53,72h-5v-8h5V72z M71,72H55v-8h16V72z M78,72h-5v-8h5V72z M95.83,77h-13   C82.559,77,82,76.606,82,76.334v-0.5v-16v-0.5C82,59.063,82.559,59,82.83,59h13c0.271,0,0.17,0.063,0.17,0.334v17   C96,76.606,96.102,77,95.83,77z" fill="#231F20"/></g></svg> -->
            </div>
            <div class="card-panel-description">
                <div class="card-panel-text">
                    體重
                </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].weight" :duration="3500" class="card-panel-num" />kg<br/>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
        <div class="card-panel" @click="handleSetLineChartData('bodyfat')">
            <div class="card-panel-icon-wrapper icon-message">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/bodyfat.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
                體脂
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].bodyfat" :duration="3500" class="card-panel-num" />%<br/>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
        <div class="card-panel" @click="handleSetLineChartData('muscle')">
            <div class="card-panel-icon-wrapper icon-money">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/muscle.svg')" class-name="card-panel-icon">
            <!-- <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class-name="card-panel-icon"><g id="Biceps"><path d="M376.7809,287.8908a105.6316,105.6316,0,0,1,4.9307,9.7747,12.6156,12.6156,0,0,1-7.9916,17.085,12.8146,12.8146,0,0,1-15.4685-7.14c-26.3737-59.7889-108.8917-73.8287-153.2552-25.4984a92.6432,92.6432,0,0,0-24.8194,52.6135,12.8591,12.8591,0,0,1-12.667,11.4747,12.685,12.685,0,0,1-12.6649-14.0252,119.248,119.248,0,0,1,50.1513-83.47V193.2006h68a34,34,0,0,0,34-34V96.2159a29.84,29.84,0,0,0-14.875-25.7553l-22.186-12.8351A42.19,42.19,0,0,0,219.02,64.3409l-88.9947,88.9947a76.2219,76.2219,0,0,0-17.6807,27.54l-56.8645,153.34a55.2822,55.2822,0,0,0,33.5746,71.4c44.4548,15.47,125.375,34.085,183.9412,34.085,28.9116-1.9486,56.9309-13.2579,85.7636-3.7374a324.569,324.569,0,0,0,34.6807,7.1377l-4.59-13.8551a12.8111,12.8111,0,0,1,8.5544-16.3886c6.6538-2,13.6216,2.3474,15.8231,8.9373l12.7685,38.2213h21.2913a12.7087,12.7087,0,0,0,12.7087-12.7087V291.1383a12.7871,12.7871,0,0,0-13.3519-12.7047A342.1659,342.1659,0,0,0,376.7809,287.8908Zm-58.0556,75.5651a226.9552,226.9552,0,0,1-85.34,7.48c-16.5185-2.0669-14.0553-26.82,2.6355-25.33a203.5,203.5,0,0,0,75.6492-6.63C327.9018,334.6,334.8,358.5527,318.7253,363.4559Z"/></g></svg> -->
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
                肌肉量
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].muscle" :duration="3500" class="card-panel-num" />kg<br/>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
        <div class="card-panel" @click="handleSetLineChartData('lactose')">
            <div class="card-panel-icon-wrapper icon-shopping">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/lactose.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
                內脂
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].lactose" :duration="3500" class="card-panel-num" />%<br/>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
        <div class="card-panel" @click="handleSetLineChartData('BMR')">
            <div class="card-panel-icon-wrapper icon-people">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/BMR.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
                基礎代謝
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].BMR" :duration="3500" class="card-panel-num" /><br/>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col">
        <div class="card-panel" @click="handleSetLineChartData('bodyage')">
            <div class="card-panel-icon-wrapper icon-message">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/bodyage.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            體齡
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].bodyage" :duration="3500" class="card-panel-num" />歲<br/>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("骨量")'>
        <div class="card-panel" @click="handleSetLineChartData('mass')">
            <div class="card-panel-icon-wrapper icon-money">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/mass.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            骨量
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].mass" :duration="3500" class="card-panel-num" />%<br/>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("胸圍（腋下）") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('chest_underarm')">
            <div class="card-panel-icon-wrapper icon-shopping">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/chest_underarm.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            胸圍（腋下）
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].chest_underarm" :duration="3500" class="card-panel-num" />cm<br/>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("胸圍（乳頭）") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('chest_nipples')">
            <div class="card-panel-icon-wrapper icon-people">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/chest_nipples.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            胸圍（乳頭）
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].chest_nipples" :duration="3500" class="card-panel-num" />cm<br/>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("胃圍") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('stomach')">
            <div class="card-panel-icon-wrapper icon-message">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/stomach.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            胃圍
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].stomach" :duration="3500" class="card-panel-num" />cm<br/>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("肚臍下三指") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('navel_down')">
            <div class="card-panel-icon-wrapper icon-money">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/navel_down.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            肚臍下三指
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].navel_down" :duration="3500" class="card-panel-num" />cm
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("肚臍上三指") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('navel_up')">
            <div class="card-panel-icon-wrapper icon-shopping">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
             <img :src="require('@/assets/health/navel_up.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            肚臍上三指
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].navel_up" :duration="3500" class="card-panel-num" />cm<br/>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("臀圍") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('hip')">
            <div class="card-panel-icon-wrapper icon-people">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/hip.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            臀圍
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].hip" :duration="3500" class="card-panel-num" />cm<br/>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("大腿（右）") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('thigh_r')">
            <div class="card-panel-icon-wrapper icon-message">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/thigh_l.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            大腿（右）
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].thigh_l" :duration="3500" class="card-panel-num" />cm<br/>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("大腿（左）") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('thigh_l')">
            <div class="card-panel-icon-wrapper icon-money">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/thigh_r.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            大腿（左）
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].thigh_r" :duration="3500" class="card-panel-num" />cm<br/>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("小腿（右）") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('calf_r')">
            <div class="card-panel-icon-wrapper icon-shopping">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
             <img :src="require('@/assets/health/calf_l.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            小腿（右）
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].calf_l" :duration="3500" class="card-panel-num" />cm<br/>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("小腿（左）") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('calf_l')">
            <div class="card-panel-icon-wrapper icon-people">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/calf_r.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            小腿（左）
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].calf_r" :duration="3500" class="card-panel-num" />cm<br/>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("手臂（右）") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('arm_r')">
            <div class="card-panel-icon-wrapper icon-message">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/arm_l.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            手臂（右）
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_l" :duration="3500" class="card-panel-num" />cm<br/>
            </div>
        </div>
        </el-col>
        <el-col :xs="12" :sm="12" :lg="6" class="card-panel-col" v-if='this.show_filter_chart_field.includes("手臂（左）") && this.health.class==2'>
        <div class="card-panel" @click="handleSetLineChartData('arm_l')">
            <div class="card-panel-icon-wrapper icon-money">
            <!-- <svg-icon icon-class="chart" class-name="card-panel-icon" /> -->
            <img :src="require('@/assets/health/arm_r.svg')" class-name="card-panel-icon">
            </div>
            <div class="card-panel-description">
            <div class="card-panel-text">
            手臂（左）
            </div>
                <count-to :start-val="start_val" :end-val="this.HealthRecordInfo[0].arm_r" :duration="3500" class="card-panel-num" />cm<br/>
            </div>
        </div>
        </el-col>
    </div>
  </el-row>
</template>

<script>
import CountTo from 'vue-count-to'
import { getSingleStudentRecord } from '@/api/health_manager'
export default {
  name: 'AddEditChart',
  props: {
    health: {
      type: Object
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    show_filter_chart_field: {
      type: Object
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
  data(){
      return {
        start_val:0,
        payload:{},
        HealthRecordInfo:[],
        HealthRecordInfoLoading:false
      }
  },
    watch: {
    //   health:{
    //     handler: function(val, oldVal) {
    //     if(this.health.mid!=''){
    //     this.payload = {
    //         source:'2',
    //         partner_id: this.health.partner_id,
    //         mid: this.health.mid
    //     }
    //     this.start_val = 0
    //     this.getrecenthealth()

    //     }
    //   },
    //   immediate: true
    //   },
      activeTab:{
        handler: function(val, oldVal) {
        if(this.health.mid!=''){
        this.payload = {
            source:'2',
            partner_id: this.health.partner_id,
            mid: this.health.mid
        }
        this.start_val = 0
        this.getrecenthealth()

        }
      },
      immediate: true
      }
  },
  components: {
    CountTo
  },
  methods: {
    handleSetLineChartData(type) {
      this.$emit('handleSetLineChartData', type)
    },
    getrecenthealth(){
        this.HealthRecordInfo = []
        this.HealthRecordInfoLoading = true
        getSingleStudentRecord(this.payload).then(resp => {
            if(this.activeTab=='healthstyle_chart'){
                if(resp.data.length>=2){
                    this.HealthRecordInfo = resp.data
                }
                else{
                    this.$message({
                    message: '數據不足，無法產生圖表',
                    type: 'error'
                    })
                }
                this.HealthRecordInfoLoading = false
            }
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.panel-group {
  margin-top: 18px;

  .card-panel-col {
    margin-bottom: 32px;
  }

  .card-panel {
    // height: 200px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, .05);
    border-color: rgba(0, 0, 0, .05);

    &:hover {
      .card-panel-icon-wrapper {
        color: #fff;
      }

      .icon-people {
        background: #40c9c6;
      }

      .icon-message {
        background: #36a3f7;
      }

      .icon-money {
        background: #f4516c;
      }

      .icon-shopping {
        background: #34bfa3
      }
    }

    .icon-people {
      color: #40c9c6;
    }

    .icon-message {
      color: #36a3f7;
    }

    .icon-money {
      color: #f4516c;
    }

    .icon-shopping {
      color: #34bfa3
    }

    .card-panel-icon-wrapper {
      float: left;
      margin: 14px 0 0 14px;
      padding: 16px;
      transition: all 0.38s ease-out;
      border-radius: 6px;
      width: 80px;
      height: 80px;
    }

    .card-panel-icon {
      float: left;
      font-size: 48px;
    }

    .card-panel-description {
      float: right;
      font-weight: bold;
      margin: 26px;
      margin-left: 0px;

      .card-panel-text {
        line-height: 18px;
        color: rgba(0, 0, 0, 0.45);
        font-size: 16px;
        margin-bottom: 12px;
      }

      .card-panel-num {
        font-size: 20px;
      }
      .card-panel-loss-error {
        font-size: 15px;
        color:red;
      }
      .card-panel-loss-normal {
        font-size: 15px;
        color:blue;
      }
    }
  }
}

@media (max-width:550px) {
  // .card-panel-description {
  //   display: none;
  // }
  // .card-panel-icon-wrapper{
  //   display: none;
  // }
  // .card-panel-icon-wrapper {
  //   float: none !important;
  //   width: 100%;
  //   height: 100%;
  //   margin: 0 !important;

  //   .svg-icon {
  //     display: block;
  //     margin: 14px auto !important;
  //     float: none !important;
  //   }
  // }
}
</style>
