<template>
  <div>
    <el-dialog
      :visible.sync="dialogDownloadVisible"
      v-if="dialogDownloadVisible"
      :title="dialogDownloadType==='new'?'匯出健康數據':''"
      :before-close="closeAddDownloadhealth"
      center
      append-to-body
      fullscreen>
      <!-- {{healthmeature}} -->
      <!-- {{ uploadrouterlist }} -->
      <!-- {{ partnerlist }} -->
      <!-- {{healthmeature}}
      {{show_upload_data}} -->
      <!-- {{healthmeature.content}} -->
      <!-- {{filter_download}} -->
      
      <el-form :rules="DownloadHealthRules" status-icon ref="healthmeature" :model="healthmeature" label-position="center">
        <el-row ref="healthmeature" :gutter="20">
          <el-col :xs="24" :sm="8" :lg="8" :xl="6">
            <el-form-item label="檔案名稱" prop="filename">
                <br/>
                <el-input v-model="healthmeature.filename"
                    placeholder="檔案名稱"
                autocomplete="off"
                ref="filename"
                prefix-icon="el-icon-document"
                    />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="8" :xl="6">
            <el-form-item label="下載格式" prop="excel_type">
                <br/>
                <el-select 
                v-model="healthmeature.excel_type" 
                ref="excel_type"
                name="excel_type"
                >
                <el-option
                    v-for="item in download_options"
                    :key="item"
                    :label="item"
                    :value="item"
                />
                </el-select>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="8" :xl="6">
            <el-form-item label="格式是否固定寬度" prop="autowidth">
                <br/>
                <el-radio-group 
                v-model="healthmeature.autowidth"
                ref="autowidth"
                name="autowidth"
                >
                <el-radio :value="true" :label="true" border>
                    True
                </el-radio>
                <el-radio :value="false" :label="false" border>
                    False
                </el-radio>
                </el-radio-group>
            </el-form-item>

          </el-col>
          <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="要下載呈現格式" prop="show_download_field">
                <br/>
                <el-checkbox-group 
                v-model="healthmeature.show_download_field" 
                ref="show_download_field"
                name="show_download_field"
                style="marign:10px 0;">
                <el-checkbox label="體重"></el-checkbox>
                <el-checkbox label="體脂"></el-checkbox>
                <el-checkbox label="肌肉量"></el-checkbox>
                <el-checkbox label="內脂"></el-checkbox>
                <el-checkbox label="基礎代謝"></el-checkbox>
                <el-checkbox label="體齡"></el-checkbox>
                <el-checkbox label="骨量"></el-checkbox>
                <el-checkbox label="胸圍（腋下）" v-if="healthmeature.class==2"></el-checkbox>
                <el-checkbox label="胸圍（乳頭）" v-if="healthmeature.class==2"></el-checkbox>
                <el-checkbox label="胃圍" v-if="healthmeature.class==2"></el-checkbox>
                <el-checkbox label="肚臍下三指" v-if="healthmeature.class==2"></el-checkbox>
                <el-checkbox label="肚臍上三指" v-if="healthmeature.class==2"></el-checkbox>
                <el-checkbox label="臀圍" v-if="healthmeature.class==2"></el-checkbox>
                <el-checkbox label="大腿（右）" v-if="healthmeature.class==2"></el-checkbox>
                <el-checkbox label="大腿（左）" v-if="healthmeature.class==2"></el-checkbox>
                <el-checkbox label="小腿（右）" v-if="healthmeature.class==2"></el-checkbox>
                <el-checkbox label="小腿（左）" v-if="healthmeature.class==2"></el-checkbox>
                <el-checkbox label="手臂（右）" v-if="healthmeature.class==2"></el-checkbox>
                <el-checkbox label="手臂（左）" v-if="healthmeature.class==2"></el-checkbox>
                <el-checkbox label="學員回饋"></el-checkbox>
                <el-checkbox label="教練回饋"></el-checkbox>
                <el-checkbox label="測量時間"></el-checkbox>
                </el-checkbox-group>
            </el-form-item>
          </el-col>
        <div style="text-align:center; font-size:20px; color:red;">
          預覽下載健康數據資料
        </div>
          <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-table v-loading="healthmeaturelistLoading" :data="HealthMeatureInfo" border highlight-current-row style="width: 100%;margin-top:20px;">
                <el-table-column align="center" width="160" label="測量時間">
                <template slot-scope="scope">
                    <el-tag size="medium" style="margin:10px 0;" plain>
                    {{ scope.row.measuretime }}
                    </el-tag>
                </template>
                </el-table-column>
                <el-table-column align="center" label="體重" v-if='this.healthmeature.show_download_field.includes("體重")'>
                <template slot-scope="scope">
                    {{ scope.row.weight }} kg
                </template>
                </el-table-column>
                <el-table-column align="center" label="體脂" v-if='this.healthmeature.show_download_field.includes("體脂")'>
                <template slot-scope="scope">
                    {{ scope.row.bodyfat }} %
                </template>
                </el-table-column>
                <el-table-column align="center" label="肌肉量" v-if='this.healthmeature.show_download_field.includes("肌肉量")'>
                <template slot-scope="scope">
                    {{ scope.row.muscle }} kg
                </template>
                </el-table-column>
                <el-table-column align="center" label="內脂" v-if='this.healthmeature.show_download_field.includes("內脂")'>
                <template slot-scope="scope">
                    {{ scope.row.lactose }} %
                </template>
                </el-table-column>
                <el-table-column align="center" label="基礎代謝" v-if='this.healthmeature.show_download_field.includes("基礎代謝")'>
                <template slot-scope="scope">
                    {{ scope.row.BMR }} 
                </template>
                </el-table-column>
                <el-table-column align="center" label="體齡" v-if='this.healthmeature.show_download_field.includes("體齡")'>
                <template slot-scope="scope">
                    {{ scope.row.bodyage }} 歲
                </template>
                </el-table-column>
                <el-table-column align="center" label="骨量" v-if='this.healthmeature.show_download_field.includes("骨量")'>
                <template slot-scope="scope">
                    {{ scope.row.mass }} %
                </template>
                </el-table-column>
                <el-table-column align="center" label="胸圍（腋下）" v-if='this.healthmeature.show_download_field.includes("胸圍（腋下）")&&this.healthmeature.class==2'>
                <template slot-scope="scope">
                    {{ scope.row.chest_underarm }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="胸圍（乳頭）" v-if='this.healthmeature.show_download_field.includes("胸圍（乳頭）")&&this.healthmeature.class==2'>
                <template slot-scope="scope">
                    {{ scope.row.chest_nipples }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="胃圍" v-if='this.healthmeature.show_download_field.includes("胃圍")&&this.healthmeature.class==2'>
                <template slot-scope="scope">
                    {{ scope.row.stomach }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="肚臍下三指" v-if='this.healthmeature.show_download_field.includes("肚臍下三指")&&this.healthmeature.class==2'>
                <template slot-scope="scope">
                    {{ scope.row.navel_down }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="肚臍上三指" v-if='this.healthmeature.show_download_field.includes("肚臍上三指")&&this.healthmeature.class==2'>
                <template slot-scope="scope">
                    {{ scope.row.navel_up }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="臀圍" v-if='this.healthmeature.show_download_field.includes("臀圍")&&this.healthmeature.class==2'>
                <template slot-scope="scope">
                    {{ scope.row.hip }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="大腿（右）" v-if='this.healthmeature.show_download_field.includes("大腿（右）")&&this.healthmeature.class==2'>
                <template slot-scope="scope">
                    {{ scope.row.thigh_r }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="大腿（左）" v-if='this.healthmeature.show_download_field.includes("大腿（左）")&&this.healthmeature.class==2'>
                <template slot-scope="scope">
                    {{ scope.row.thigh_l }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="小腿（右）" v-if='this.healthmeature.show_download_field.includes("小腿（右）")&&this.healthmeature.class==2'>
                <template slot-scope="scope">
                    {{ scope.row.calf_r }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="小腿（左）" v-if='this.healthmeature.show_download_field.includes("小腿（左）")&&this.healthmeature.class==2'>
                <template slot-scope="scope">
                    {{ scope.row.calf_l }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="手臂（右）" v-if='this.healthmeature.show_download_field.includes("手臂（右）")&&this.healthmeature.class==2'>
                <template slot-scope="scope">
                    {{ scope.row.arm_r }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="手臂（左）" v-if='this.healthmeature.show_download_field.includes("手臂（左）")&&this.healthmeature.class==2'>
                <template slot-scope="scope">
                    {{ scope.row.arm_l }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" width="200" label="學員回饋" v-if='this.healthmeature.show_download_field.includes("學員回饋")'>
                <template slot-scope="scope">
                    {{ scope.row.member_feedback }}
                </template>
                </el-table-column>
                <el-table-column align="center" width="200" label="教練回饋" v-if='this.healthmeature.show_download_field.includes("教練回饋")'>
                <template slot-scope="scope">
                    {{ scope.row.coach_feedback }}
                </template>
                </el-table-column>
            </el-table>
            <div style="text-align:right; margin:15px 0;">
                <el-button type="danger" @click="closeAddDownloadhealth">關閉</el-button>
                <el-button :loading="loading" type="primary" @click.native.prevent="confirmhealthmeaturedownload('healthmeature')">下載</el-button>
            </div>
          </el-col>
        </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>
<script>
import { getMeatureStudent } from '@/api/health_manager'
// import { updateBatchMeatureSingleStudent } from '@/api/health_manager'
export default {
  name: 'AddEditDownloadHealth',
  props: {
    dialogDownloadType: {
      type: String,
      require: true
    },
    dialogDownloadVisible: {
      type: Boolean,
      require: true
    },
    healthmeature:{
      type:  Object,
      require: true
    }
  },
  data() {
    return {
      DownloadHealthRules:{
        filename: [{ required: true }],
        excel_type:[{ required: true }],
        autoWidth:[{ required: true }]

      },
      HealthMeatureInfo:[],
      payload:'',
      healthmeaturelistLoading:false,
      loading:false,
      download_options: ['xlsx', 'txt'],
      //要下載的呈現的格式
      filter_download:[]
    }
  },
  watch:{
      dialogDownloadVisible:{
        handler: function(val, oldVal) {
        if(val==true){
          this.payload = 'all?source=2&partner_id='+this.healthmeature.partner_id+'&mid='+this.healthmeature.mid
          this.gethealthMeatureinfodownload()
        }
      },
      immediate: true
      },
      "healthmeature.show_download_field":{
        handler: function(val, oldVal) {
          console.log(val)
            this.filter_download = []
            this.healthmeature.show_download_field.forEach((v)=>{
              if(v.includes("體重")){
                this.filter_download.push('weight')
              }
              if(v.includes("體脂")){
                this.filter_download.push('bodyfat')
              }
              if(v.includes("肌肉量")){
                this.filter_download.push('muscle')
              }
              if(v.includes("內脂")){
                this.filter_download.push('lactose')
              }
              if(v.includes("基礎代謝")){
                this.filter_download.push('BMR')
              }
              if(v.includes("體齡")){
                this.filter_download.push('bodyage')
              }
              if(v.includes("骨量")){
                this.filter_download.push('mass')
              }
              if(v.includes("胸圍（腋下）")){
                this.filter_download.push('chest_underarm')
              }
              if(v.includes("胸圍（乳頭）")){
                this.filter_download.push('chest_nipples')
              }
              if(v.includes("胃圍")){
                this.filter_download.push('stomach')
              }
              if(v.includes("肚臍下三指")){
                this.filter_download.push('navel_down')
              }
              if(v.includes("肚臍上三指")){
                this.filter_download.push('navel_up')
              }
              if(v.includes("臀圍")){
                this.filter_download.push('hip')
              }
              if(v.includes("大腿（右）")){
                this.filter_download.push('thigh_r')
              }
              if(v.includes("大腿（左）")){
                this.filter_download.push('thigh_l')
              }
              if(v.includes("小腿（右）")){
                this.filter_download.push('calf_r')
              }
              if(v.includes("小腿（左）")){
                this.filter_download.push('calf_l')
              }
              if(v.includes("手臂（右）")){
                this.filter_download.push('arm_r')
              }
              if(v.includes("手臂（左）")){
                this.filter_download.push('arm_l')
              }
              if(v.includes("學員回饋")){
                this.filter_download.push('member_feedback')
              }
              if(v.includes("教練回饋")){
                this.filter_download.push('coach_feedback')
              }
              if(v.includes("測量時間")){
                this.filter_download.push('measuretime')
              }
            })
      },
      immediate: true
      }
  },
  mounted(){

  },
  methods: {
    // 關閉匯出健康數據
    closeAddDownloadhealth() {
    //更新資料進入外層的健康數據
    this.dialogDownloadVisible = false
    this.dialogDownloadType = ''
    this.$emit('getMeature_Download_status_dialogtype',this.dialogDownloadVisible,this.dialogDownloadType)
    },
    gethealthMeatureinfodownload(){
      this.HealthMeatureInfo = []
      this.healthmeaturelistLoading = true
      getMeatureStudent(this.payload).then(resp => {
        this.HealthMeatureInfo = resp.data.list
         this.healthmeaturelistLoading = false
      })
    },
    //下載各式格式（excel/txt）
    confirmhealthmeaturedownload(healthmeature){
      this.$refs[healthmeature].validate(valid => {
        if (valid) {
            import('@/vendor/Export2Excel').then(excel => {
            
            const data = this.formatJsonFilter(this.filter_download, this.HealthMeatureInfo)
            excel.export_json_to_excel({
                header: this.healthmeature.show_download_field, //Header Required
                data, //Specific data Required
                filename: this.healthmeature.filename, //Optional
                autoWidth: this.healthmeature.autowidth, //Optional
                bookType: this.healthmeature.excel_type //Optional
            })
        })
        } else {
          console.log('有資料未填寫!!')
          this.$message.error('檔案名稱未填寫');
          return false
        }
      })
    },
    formatJsonFilter(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
        // if (j === 'timestamp') {
        //   return parseTime(v[j])
        // } else {
        //   return v[j]
        // }
        return v[j]
      }))
    }
  }
}
</script>
