<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span style="color:red;">學員量測資料</span>
      <el-button type="primary" icon="el-icon-edit" @click="inserthealthmeature" style="float:right;">新量測數據</el-button>
      <el-button type="primary" icon="el-icon-upload2" @click="insertbatchhealthmeature" style="float:right; margin:0 10px;">匯入</el-button>
      <el-button type="primary" icon="el-icon-download" @click="exporthealthmeature" style="float:right; margin:0 10px;">匯出</el-button>
    </div>
    <!-- {{activeTab}} -->
    <!-- {{health}} -->
    <!-- {{HealthInfo}} -->
    <!-- {{HealthMeatureInfo.list}} -->
    <!-- {{HealthMeatureInfo}}
    {{healthmeature}} -->
    <!-- {{healthmeature}} -->
    <!-- {{dialogBatchVisible}} -->
    <!-- {{dialogDownloadVisible}} -->
    <download-health
      :dialogDownloadType="dialogDownloadType"
      :dialogDownloadVisible="dialogDownloadVisible"
      :healthmeature="healthmeature"
      @getMeature_Download_status_dialogtype="getMeature_Download_status_dialogtype"
    />
    <upload-health-batch
      :dialogBatchType="dialogBatchType"
      :dialogBatchVisible="dialogBatchVisible"
      :healthmeature="healthmeature"
      @getMeature_batch_status_dialogtype="getMeature_batch_status_dialogtype"
    />
    <add-meature
      :dialog-type="dialogType"
      :dialog-visible="dialogVisible"
      :healthmeature="healthmeature"
      @getMeature_status_dialogtype="getMeature_status_dialogtype"
    />
    <div class="user-profile">
    <!-- {{show_meature_field}} -->
    <span style="marign:10px 0;">要呈現的資料格式</span>
    <el-checkbox-group v-model="show_meature_field" style="marign:10px 0;">
      <el-checkbox label="體重"></el-checkbox>
      <el-checkbox label="體脂"></el-checkbox>
      <el-checkbox label="肌肉量"></el-checkbox>
      <el-checkbox label="內脂"></el-checkbox>
      <el-checkbox label="基礎代謝"></el-checkbox>
      <el-checkbox label="體齡"></el-checkbox>
      <el-checkbox label="骨量"></el-checkbox>
      <el-checkbox label="胸圍（腋下）" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="胸圍（乳頭）" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="胃圍" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="肚臍下三指" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="肚臍上三指" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="臀圍" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="大腿（右）" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="大腿（左）" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="小腿（右）" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="小腿（左）" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="手臂（右）" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="手臂（左）" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="學員回饋"></el-checkbox>
      <el-checkbox label="教練回饋"></el-checkbox>
      <el-checkbox label="測量時間"></el-checkbox>
    </el-checkbox-group>
        <!-- {{HealthMeatureInfo.list}} -->
        <!-- {{healthmeature}} -->
        <el-table v-loading="healthmeaturelistLoading" :data="HealthMeatureInfo.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <el-table-column align="center" width="50" label="序號">
            <template slot-scope="scope">
            {{ scope.row.id }}
            </template>
        </el-table-column>
        <el-table-column align="center" label="體重" v-if='this.show_meature_field.includes("體重")'>
          <template slot-scope="scope">
            {{ scope.row.weight }} kg
          </template>
        </el-table-column>
        <el-table-column align="center" label="體脂" v-if='this.show_meature_field.includes("體脂")'>
          <template slot-scope="scope">
            {{ scope.row.bodyfat }} %
          </template>
        </el-table-column>
        <el-table-column align="center" label="肌肉量" v-if='this.show_meature_field.includes("肌肉量")'>
          <template slot-scope="scope">
            {{ scope.row.muscle }} kg
          </template>
        </el-table-column>
        <el-table-column align="center" label="內脂" v-if='this.show_meature_field.includes("內脂")'>
          <template slot-scope="scope">
            {{ scope.row.lactose }} %
          </template>
        </el-table-column>
        <el-table-column align="center" label="基礎代謝" v-if='this.show_meature_field.includes("基礎代謝")'>
          <template slot-scope="scope">
            {{ scope.row.BMR }} 
          </template>
        </el-table-column>
        <el-table-column align="center" label="體齡" v-if='this.show_meature_field.includes("體齡")'>
          <template slot-scope="scope">
            {{ scope.row.bodyage }} 歲
          </template>
        </el-table-column>
        <el-table-column align="center" label="骨量" v-if='this.show_meature_field.includes("骨量")'>
          <template slot-scope="scope">
            {{ scope.row.mass }} %
          </template>
        </el-table-column>
        <el-table-column align="center" label="胸圍（腋下）" v-if='this.show_meature_field.includes("胸圍（腋下）")'>
          <template slot-scope="scope">
            {{ scope.row.chest_underarm }} cm
          </template>
        </el-table-column>
        <el-table-column align="center" label="胸圍（乳頭）" v-if='this.show_meature_field.includes("胸圍（乳頭）")'>
          <template slot-scope="scope">
            {{ scope.row.chest_nipples }} cm
          </template>
        </el-table-column>
        <el-table-column align="center" label="胃圍" v-if='this.show_meature_field.includes("胃圍")'>
          <template slot-scope="scope">
            {{ scope.row.stomach }} cm
          </template>
        </el-table-column>
        <el-table-column align="center" label="肚臍下三指" v-if='this.show_meature_field.includes("肚臍下三指")'>
          <template slot-scope="scope">
            {{ scope.row.navel_down }} cm
          </template>
        </el-table-column>
        <el-table-column align="center" label="肚臍上三指" v-if='this.show_meature_field.includes("肚臍上三指")'>
          <template slot-scope="scope">
            {{ scope.row.navel_up }} cm
          </template>
        </el-table-column>
        <el-table-column align="center" label="臀圍" v-if='this.show_meature_field.includes("臀圍")'>
          <template slot-scope="scope">
            {{ scope.row.hip }} cm
          </template>
        </el-table-column>
        <el-table-column align="center" label="大腿（右）" v-if='this.show_meature_field.includes("大腿（右）")'>
          <template slot-scope="scope">
            {{ scope.row.thigh_r }} cm
          </template>
        </el-table-column>
        <el-table-column align="center" label="大腿（左）" v-if='this.show_meature_field.includes("大腿（左）")'>
          <template slot-scope="scope">
            {{ scope.row.thigh_l }} cm
          </template>
        </el-table-column>
        <el-table-column align="center" label="小腿（右）" v-if='this.show_meature_field.includes("小腿（右）")'>
          <template slot-scope="scope">
            {{ scope.row.calf_r }} cm
          </template>
        </el-table-column>
        <el-table-column align="center" label="小腿（左）" v-if='this.show_meature_field.includes("小腿（左）")'>
          <template slot-scope="scope">
            {{ scope.row.calf_l }} cm
          </template>
        </el-table-column>
        <el-table-column align="center" label="手臂（右）" v-if='this.show_meature_field.includes("手臂（右）")'>
          <template slot-scope="scope">
            {{ scope.row.arm_r }} cm
          </template>
        </el-table-column>
        <el-table-column align="center" label="手臂（左）" v-if='this.show_meature_field.includes("手臂（左）")'>
          <template slot-scope="scope">
            {{ scope.row.arm_l }} cm
          </template>
        </el-table-column>
        <el-table-column align="center" width="200" label="學員回饋" v-if='this.show_meature_field.includes("學員回饋")'>
          <template slot-scope="scope">
              {{ scope.row.member_feedback }}
          </template>
        </el-table-column>
        <el-table-column align="center" width="200" label="教練回饋" v-if='this.show_meature_field.includes("教練回饋")'>
          <template slot-scope="scope">
              {{ scope.row.coach_feedback }}
          </template>
        </el-table-column>
        <el-table-column align="center" width="160" label="測量時間" v-if='this.show_meature_field.includes("測量時間")'>
          <template slot-scope="scope">
            <el-tag size="medium" style="margin:10px 0;" plain>
              {{ scope.row.measuretime }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column align="center" width="160" label="操作">
          <template slot-scope="scope">
            <el-button type="primary" @click="edithealthmeature(scope)" icon="el-icon-edit" style="margin:10px 0;">編輯</el-button>
          </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="HealthMeatureInfo.count"
          :page.sync="HealthMeatureInfo.nowpages"
          :limit.sync="HealthMeatureInfo.limit"
          @pagination="gethealthMeatureinfopaginate(HealthMeatureInfo.nowpages)"
        />
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddHealth">關閉</el-button>
      </div>
    </div>
  </el-card>
</template>

<script>
import { getMeatureStudent } from '@/api/health_manager'
import Pagination from '@/components/Pagination'
import AddMeature from './AddMeature'
import UploadHealthBatch from './UploadHealthBatch'
import DownloadHealth from './DownloadHealth'
import { deepClone } from '@/utils'
// 定義合作夥伴
const defaultMeature = {
  class:'',
  partner_id:'',
  mid:'',
  weight: '',
  bodyfat: '',
  muscle: '',
  lactose: '',
  BMR: '',
  bodyage: '',
  mass: '',
  chest_underarm: '',
  chest_nipples: '',
  stomach: '',
  navel_down: '',
  navel_up: '',
  hip: '',
  thigh_r: '',
  thigh_l: '',
  calf_r: '',
  calf_l: '',
  arm_r: '',
  arm_l: '',
  measuretime:''
}
const defaultMeatureBatch = {
  class:'',
  partner_id:'',
  mid:'',
  file:'',
  content:[]
}
const defaultMeatureDownload = {
  class:'',
  partner_id:'',
  mid:'',
  filename:'所有匯出健康數據',
  excel_type:'xlsx',
  autowidth:true,
  show_download_field:['體重','體脂','肌肉量','內脂','基礎代謝','體齡','骨量','測量時間']
}
export default {
  name: "healthstylemeature",
  props: {
    health: {
      type: Object
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
      type: String
    }
  },
  components:{
    Pagination,
    AddMeature,
    UploadHealthBatch,
    DownloadHealth
  },
  filters:{
        //聊天機器人頻道綁定狀態
    linebot_channel_bind_status(status) {
      const linebot_channel_bind_status = {
        0: '未綁定',
        1: '已綁定'
      }
      return linebot_channel_bind_status[status]
    },
  },
  created() {
    // 得知使用者實際擁有權限
    this.getAdminPremission("學員模組管理")
  },
  data(){
    return {
      HealthMeatureInfo: [],
      payload:'',
      healthmeaturelistLoading:false,
      check_admin_premission:[],
      dialogType:'new',
      dialogVisible:false,
      dialogBatchType:'new',
      dialogBatchVisible:false,
      dialogDownloadType:'new',
      dialogDownloadVisible:false,
      //顯示要呈現的數值
      show_meature_field:['體重','體脂','肌肉量','內脂','基礎代謝','體齡','骨量','測量時間'],
      healthmeature:Object.assign({}, defaultMeature),
    }
  },
    watch: {
      // health:{
      //   handler: function(val, oldVal) {
      //   if(this.health.mid!=''){
      //     this.payload = '1?source=2&partner_id='+this.health.partner_id+'&mid='+this.health.mid
      //     defaultMeature['mid'] = this.health.mid
      //     defaultMeature['class'] = this.health.class
      //     defaultMeature['partner_id'] = this.health.partner_id
      //     this.healthmeature = Object.assign({}, defaultMeature)
      //     this.gethealthMeatureinfo()
      //   }
      // },
      // immediate: true
      // },
      activeTab:{
        handler: function(val, oldVal) {
        if(this.health.mid!=''){
          this.payload = '1?source=2&partner_id='+this.health.partner_id+'&mid='+this.health.mid
          defaultMeature['mid'] = this.health.mid
          defaultMeature['class'] = this.health.class
          defaultMeature['partner_id'] = this.health.partner_id
          this.healthmeature = Object.assign({}, defaultMeature)
          this.gethealthMeatureinfo()
        }
      },
      immediate: true
      }
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    gethealthMeatureinfo(){
      this.HealthMeatureInfo = []
      this.healthmeaturelistLoading = true
      getMeatureStudent(this.payload).then(resp => {
        this.HealthMeatureInfo = resp.data
         this.healthmeaturelistLoading = false
      })
    },
    //帶入要的分頁
    gethealthMeatureinfopaginate(page){
      this.payload = page+'?source=2&partner_id='+this.health.partner_id+'&mid='+this.health.mid
      this.gethealthMeatureinfo()
    },
    //新增量測資料
    inserthealthmeature(scope){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultMeature['mid'] = this.health.mid
      defaultMeature['partner_id'] = this.health.partner_id
      defaultMeature['class'] = this.health.class
      this.healthmeature = Object.assign({}, defaultMeature)
    },
    //匯入量測資料
     insertbatchhealthmeature(){
      this.dialogBatchType = 'new'
      this.dialogBatchVisible = true
      defaultMeatureBatch['source'] = 2
      defaultMeatureBatch['mid'] = this.health.mid
      defaultMeatureBatch['partner_id'] = this.health.partner_id
      defaultMeatureBatch['class'] = this.health.class
      this.healthmeature = Object.assign({}, defaultMeatureBatch)
    },
    //匯出資料
    exporthealthmeature(){
      this.dialogDownloadType = 'new'
      this.dialogDownloadVisible = true
      defaultMeatureDownload['source'] = 2
      defaultMeatureDownload['mid'] = this.health.mid
      defaultMeatureDownload['partner_id'] = this.health.partner_id
      defaultMeatureDownload['class'] = this.health.class
      this.healthmeature = Object.assign({}, defaultMeatureDownload)
    },
    //編輯量測資料
    edithealthmeature(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.health.partner_id
      // if(this.health.class==scope.row.class){
      //   scope.row.class = scope.row.class
      // }
      // else{
      //   scope.row.class = this.health.class
      // }
      this.healthmeature = deepClone(scope.row)
      console.log('this.healthmeature', this.healthmeature)
    },
    //關閉視窗
    closeAddHealth(){
      //回傳到外層關閉按鈕進行關閉
      this.$emit('closeAddHealth')
      this.show_meature_field = ['體重','體脂','肌肉量','內脂','基礎代謝','體齡','骨量','測量時間']
    },
    //將「新增」「更新」量測指數回覆預設狀態
    getMeature_status_dialogtype(status,dialogtype) {
      this.dialogVisible = status
      this.dialogType = dialogtype
      this.gethealthMeatureinfo()
    },
    //將「匯入」量測指數回覆預設狀態
    getMeature_batch_status_dialogtype(status,dialogtype) {
      this.dialogBatchVisible = status
      this.dialogBatchType = dialogtype
      this.gethealthMeatureinfo()
    },
    //將「匯出」量測指數回覆預設狀態
    getMeature_Download_status_dialogtype(status,dialogtype) {
      this.dialogDownloadVisible = status
      this.dialogDownloadType = dialogtype
    },
  },
}
</script>