<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span style="color:red;">學員使用前後照片</span>
      <el-button type="primary" icon="el-icon-camera" @click="inserthealthphoto" style="float:right;">上傳照片</el-button>
    </div>
    <!-- {{activeTab}} -->
    <!-- {{health}} -->
    <!-- {{HealthInfo}} -->
    <!-- {{HealthMeatureInfo.list}} -->
    <!-- {{HealthMeatureInfo}}
    {{healthmeature}} -->
    <add-photo
      :dialog-type="dialogType"
      :dialog-visible="dialogVisible"
      :healthphoto="healthphoto"
      @getPhoto_status_dialogtype="getPhoto_status_dialogtype"
      @getHealthPhoto="gethealthPhotoinfo"
    />
     <!-- {{show_photo_field}} -->
    <div class="user-profile">
    <!-- {{show_meature_field}} -->
    <span style="marign:10px 0;">要呈現的資料格式</span>
    <el-checkbox-group v-model="show_photo_field" style="marign:10px 0;">
      <el-checkbox label="使用前(卡客)" v-if="health.class==1"></el-checkbox>
      <el-checkbox label="使用後(卡客)" v-if="health.class==1"></el-checkbox>
      <el-checkbox label="使用一個月" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="使用二個月" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="使用三個月" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="使用四個月" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="使用五個月" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="使用六個月" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="使用七個月" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="使用八個月" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="使用九個月" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="使用十個月" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="使用前(天使)" v-if="health.class==2"></el-checkbox>
      <el-checkbox label="使用後(天使)" v-if="health.class==2"></el-checkbox>
    </el-checkbox-group>
    <el-row :gutter="20" v-loading="healthphotolistLoading">
      <el-col :xs="23" :sm="11" :lg="7" :xl="7" :offset="1" v-for="(item,index) in HealthPhotoInfo.list" :key="index">
        <!-- {{typeof(JSON.parse(item.note_name))}}
        {{show_photo_field.includes(JSON.parse(item.note_name))}} -->
        <el-card shadow="hover" class="box-card" style="margin:15px 0;" v-show='show_photo_field.includes(JSON.parse(item.note_name))'>
          <!-- v-show='show_photo_field.includes("使用前(天使)")||show_photo_field.includes("使用後(天使)")' -->
          <div slot="header" class="clearfix">
              <!-- {{item}} -->
            <span style="color:black;font-size:20px;">{{item.note_name}}</span>
            <el-button type="primary" icon="el-icon-edit" @click="edithealthphoto(item)" style="float:right;margin-left:15px;">編輯</el-button>
            <el-tag size="medium" :type="item.status==2 ?'danger':''" plain style="float: right;">
                {{ item.status | photo_status }}
            </el-tag>
            <!-- <el-link icon="el-icon-link" style="float: right; padding: 3px 0" :href="item.document_url" target="_blank">關閉圖片</el-link> -->
          </div>
          <div style="margin-bottom:10px;">
            <el-image :src="upload_path+item.upload_image">
                <div slot="error" class="image-slot">
                <i class="el-icon-picture-outline"></i>
                </div>
           </el-image>
          </div>
          <div style="margin-bottom:10px;text-align:center; color:red;">
            {{item.mark}}
          </div>
        </el-card>
      </el-col>
    </el-row>
        <!-- {{HealthMeatureInfo.list}} -->
        <!-- {{healthmeature}} -->
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddHealth">關閉</el-button>
      </div>
    </div>
  </el-card>
</template>

<script>
import { getPhotoStudent } from '@/api/health_manager'
import Pagination from '@/components/Pagination'
import AddPhoto from './AddPhoto'
import { deepClone } from '@/utils'
// 定義合作夥伴
const defaultPhoto = {
    note:'',
    status:'1',
    mid:'',
    partner_id:'',
    upload_image:'',
    source:'2',
    mark:'',
    class:''
}

export default {
  name: "healthstylephoto",
  props: {
    health: {
      type: Object
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
      type: String
    }
  },
  components:{
    Pagination,
    AddPhoto
  },
  filters:{
    //圖片狀態
    photo_status(status) {
      const photo_status = {
        1: '正常',
        2: '刪除'
      }
      return photo_status[status]
    },
  },
  created() {
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
    // 得知使用者實際擁有權限
    this.getAdminPremission("學員模組管理")
  },
  data(){
    return {
      HealthPhotoInfo: [],
      payload:{},
      healthphotolistLoading:false,
      check_admin_premission:[],
      dialogType:'new',
      dialogVisible:false,
      //顯示要呈現的數值
      show_photo_field:[],
      healthphoto:Object.assign({}, defaultPhoto),
      // 圖片網址位置
      upload_path: '',
    }
  },
    watch: {
      // health:{
      //   handler: function(val, oldVal) {
      //   // this.payload = '1?source=2&partner_id='+this.health.partner_id+'&mid='+this.health.mid
      //   if(this.health.mid!=''){
      //       this.payload = {
      //           source: '2',
      //           partner_id: this.health.partner_id,
      //           mid :this.health.mid
      //       }
      //       defaultPhoto['class'] = this.health.class
      //       //判斷是卡客還是天使計畫
      //       if(this.health.class==1){
      //         this.show_photo_field = ['使用前(卡客)','使用後(卡客)']
      //       }else{
      //         this.show_photo_field = ['使用前(天使)','使用後(天使)']
      //       }
      //       this.healthphoto = Object.assign({}, defaultPhoto)
      //       this.gethealthPhotoinfo()
      //   }
      // },
      // immediate: true
      // },
      activeTab:{
        handler: function(val, oldVal) {
        // this.payload = '1?source=2&partner_id='+this.health.partner_id+'&mid='+this.health.mid
        console.log(this.activeTab)
        if(this.health.mid!=''){
            this.payload = {
                source: '2',
                partner_id: this.health.partner_id,
                mid :this.health.mid
            }
            defaultPhoto['class'] = this.health.class
            //判斷是卡客還是天使計畫
            if(this.health.class==1){
              this.show_photo_field = ['使用前(卡客)','使用後(卡客)']
            }else{
              this.show_photo_field = ['使用前(天使)','使用後(天使)']
            }
            this.healthphoto = Object.assign({}, defaultPhoto)
            this.gethealthPhotoinfo()
        }
      },
      immediate: true
      }
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    gethealthPhotoinfo(){
      this.HealthPhotoInfo = []
      this.healthphotolistLoading = true
      getPhotoStudent(this.payload).then(resp => {
        this.HealthPhotoInfo = resp.data
        this.healthphotolistLoading = false
      })
    },
    //新增使用前後資料
    inserthealthphoto(){
      this.dialogType = 'new'
      defaultPhoto['mid'] = this.health.mid
      defaultPhoto['partner_id'] = this.health.partner_id
      defaultPhoto['class'] = this.health.class
      this.healthphoto = Object.assign({}, defaultPhoto)
      this.dialogVisible = true
    },
    //編輯使用前後資料
    edithealthphoto(data){
      this.dialogType = 'edit'
      this.dialogVisible = true
      data['mid'] = this.health.mid
      data['partner_id'] = this.health.partner_id
      data['class'] = this.health.class
      this.healthphoto = deepClone(data)
      console.log('this.healthphoto', this.healthphoto)
    },
    //關閉視窗
    closeAddHealth(){
      //回傳到外層關閉按鈕進行關閉
      this.$emit('closeAddHealth')
    },
    //將「新增」「更新」使用前後資料回覆預設狀態
    getPhoto_status_dialogtype(status,dialogtype) {
      this.dialogVisible = status
      this.dialogType = dialogtype
      this.gethealthPhotoinfo()
    },
  },
}
</script>