<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
        
      <span style="color:red;">{{HealthInfo.name}} 學員指數統計</span>
    </div>
    <!-- {{activeTab}} -->
    <!-- {{health}} -->
    <!-- {{HealthInfo}} -->
    <div class="user-profile">
        <span style="marign:10px 0;">要呈現的資料格式</span>
        <el-checkbox-group v-model="show_filter_chart_field" style="marign:10px 0;">
        <el-checkbox label="體重"></el-checkbox>
        <el-checkbox label="體脂"></el-checkbox>
        <el-checkbox label="肌肉量"></el-checkbox>
        <el-checkbox label="內脂"></el-checkbox>
        <el-checkbox label="基礎代謝"></el-checkbox>
        <el-checkbox label="體齡"></el-checkbox>
        <el-checkbox label="骨量"></el-checkbox>
        <el-checkbox label="胸圍（腋下）" v-if="health.class==2"></el-checkbox>
        <el-checkbox label="胸圍（乳頭）" v-if="health.class==2"></el-checkbox>
        <el-checkbox label="胃圍" v-if="health.class==2"></el-checkbox>
        <el-checkbox label="肚臍下三指" v-if="health.class==2"></el-checkbox>
        <el-checkbox label="肚臍上三指" v-if="health.class==2"></el-checkbox>
        <el-checkbox label="臀圍" v-if="health.class==2"></el-checkbox>
        <el-checkbox label="大腿（右）" v-if="health.class==2"></el-checkbox>
        <el-checkbox label="大腿（左）" v-if="health.class==2"></el-checkbox>
        <el-checkbox label="小腿（右）" v-if="health.class==2"></el-checkbox>
        <el-checkbox label="小腿（左）" v-if="health.class==2"></el-checkbox>
        <el-checkbox label="手臂（右）" v-if="health.class==2"></el-checkbox>
        <el-checkbox label="手臂（左）" v-if="health.class==2"></el-checkbox>
        </el-checkbox-group>
      <ChartPanel :health="health" :activeTab="activeTab" :show_filter_chart_field="show_filter_chart_field" @handleSetLineChartData="handleSetLineChartData"  />
        <el-radio-group v-model="chosendate" >
            <el-radio-button label="0" border>本月</el-radio-button>
            <el-radio-button label="1" border>上月</el-radio-button>
            <el-radio-button label="2" border>本季</el-radio-button>                    
        </el-radio-group>
        <el-row style="background:#fff;padding:16px 16px 0;margin-bottom:32px;">
            <line-chart :chart-data="lineChartData" :chosendate="chosendate" />
        </el-row>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddHealth">關閉</el-button>
      </div>
    </div>
  </el-card>
</template>

<script>
import { getSingleStudent,getSingleStudentChartRecord } from '@/api/health_manager'
import ChartPanel from './ChartPanel'
import LineChart from './LineChart'
export default {
  name: "healthstylechart",
  props: {
    health: {
      type: Object
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
      type: String
    }
  },
  components:{
      ChartPanel,
      LineChart
  },
  data(){
    return {
      HealthInfo: [],
      payload:'',
      loading:false,
      //顯示要呈現的數值
      show_filter_chart_field:['體重','體脂','肌肉量','內脂','基礎代謝','體齡','骨量'],
      lineChartData:{
          date:[],
          type:'',
          data:[],
      },
      chosendate:'0',
      linechart_payload:{}
    }
  },
    watch: {
    //   health:{
    //     handler: function(val, oldVal) {
    //     if(this.health.mid!=''){
    //       this.payload = '1?partner_id='+this.health.partner_id+'&mid='+this.health.mid
    //       this.gethealthinfo()
    //       this.handleSetLineChartData('weight')
    //     }
    //   },
    //   immediate: true
    //   },
      activeTab:{
        handler: function(val, oldVal) {
        console.log(this.activeTab)
        if(this.health.mid!=''){
          this.payload = '1?partner_id='+this.health.partner_id+'&mid='+this.health.mid
          this.gethealthinfo()
          this.handleSetLineChartData('weight')
        }
      },
      immediate: true
      }
  },
  methods: {
    gethealthinfo(){
      this.HealthInfo = []
      getSingleStudent(this.payload).then(resp => {
        this.HealthInfo = resp.data.list[0]
      })
    },
    handleSetLineChartData(type) {
      this.lineChartData = {
          0:{
            date:[],
            type:type,
            data:[]
          },
          1:{
            date:[],
            type:type,
            data:[]
          },
          2:{
            date:[],
            type:type,
            data:[]
          }
      }
      this.linechart_payload = {
          mid:this.health.mid
      }
      getSingleStudentChartRecord(this.linechart_payload).then(resp => {
          if(resp.data.this_month.length>=1){
              console.log(resp.data.this_month)
              resp.data.this_month.forEach(element => {
                this.lineChartData[0]['date'].push(element.measuretime)
                if(this.lineChartData[0].type=='weight'){
                    this.lineChartData[0]['data'].push(element.weight)
                }
                if(this.lineChartData[0].type=='bodyfat'){
                    this.lineChartData[0]['data'].push(element.bodyfat)
                }
                if(this.lineChartData[0].type=='muscle'){
                    this.lineChartData[0]['data'].push(element.muscle)
                }
                if(this.lineChartData[0].type=='lactose'){
                    this.lineChartData[0]['data'].push(element.lactose)
                }
                if(this.lineChartData[0].type=='BMR'){
                    this.lineChartData[0]['data'].push(element.BMR)
                }
                if(this.lineChartData[0].type=='bodyage'){
                    this.lineChartData[0]['data'].push(element.bodyage)
                }

                if(this.lineChartData[0].type=='mass'){
                    this.lineChartData[0]['data'].push(element.mass)
                }
                if(this.lineChartData[0].type=='chest_underarm'){
                    this.lineChartData[0]['data'].push(element.chest_underarm)
                }
                if(this.lineChartData[0].type=='chest_nipples'){
                    this.lineChartData[0]['data'].push(element.chest_nipples)
                }
                if(this.lineChartData[0].type=='stomach'){
                    this.lineChartData[0]['data'].push(element.stomach)
                }
                if(this.lineChartData[0].type=='navel_down'){
                    this.lineChartData[0]['data'].push(element.navel_down)
                }
                if(this.lineChartData[0].type=='navel_up'){
                    this.lineChartData[0]['data'].push(element.navel_up)
                }

                if(this.lineChartData[0].type=='hip'){
                    this.lineChartData[0]['data'].push(element.hip)
                }
                if(this.lineChartData[0].type=='thigh_l'){
                    this.lineChartData[0]['data'].push(element.thigh_l)
                }
                if(this.lineChartData[0].type=='thigh_r'){
                    this.lineChartData[0]['data'].push(element.thigh_r)
                }
                if(this.lineChartData[0].type=='calf_l'){
                    this.lineChartData[0]['data'].push(element.calf_l)
                }
                if(this.lineChartData[0].type=='calf_r'){
                    this.lineChartData[0]['data'].push(element.calf_r)
                }
                if(this.lineChartData[0].type=='arm_l'){
                    this.lineChartData[0]['data'].push(element.arm_l)
                }
                if(this.lineChartData[0].type=='arm_r'){
                    this.lineChartData[0]['data'].push(element.arm_r)
                }

              })
          }
          if(resp.data.last_month.length>=1){
              console.log(resp.data.last_month)
              resp.data.last_month.forEach(element => {
                this.lineChartData[1]['date'].push(element.measuretime)
                if(this.lineChartData[1].type=='weight'){
                    this.lineChartData[1]['data'].push(element.weight)
                }
                if(this.lineChartData[1].type=='bodyfat'){
                    this.lineChartData[1]['data'].push(element.bodyfat)
                }
                if(this.lineChartData[1].type=='muscle'){
                    this.lineChartData[1]['data'].push(element.muscle)
                }
                if(this.lineChartData[1].type=='lactose'){
                    this.lineChartData[1]['data'].push(element.lactose)
                }
                if(this.lineChartData[1].type=='BMR'){
                    this.lineChartData[1]['data'].push(element.BMR)
                }
                if(this.lineChartData[1].type=='bodyage'){
                    this.lineChartData[1]['data'].push(element.bodyage)
                }

                if(this.lineChartData[1].type=='mass'){
                    this.lineChartData[1]['data'].push(element.mass)
                }
                if(this.lineChartData[1].type=='chest_underarm'){
                    this.lineChartData[1]['data'].push(element.chest_underarm)
                }
                if(this.lineChartData[1].type=='chest_nipples'){
                    this.lineChartData[1]['data'].push(element.chest_nipples)
                }
                if(this.lineChartData[1].type=='stomach'){
                    this.lineChartData[1]['data'].push(element.stomach)
                }
                if(this.lineChartData[1].type=='navel_down'){
                    this.lineChartData[1]['data'].push(element.navel_down)
                }
                if(this.lineChartData[1].type=='navel_up'){
                    this.lineChartData[1]['data'].push(element.navel_up)
                }

                if(this.lineChartData[1].type=='hip'){
                    this.lineChartData[1]['data'].push(element.hip)
                }
                if(this.lineChartData[1].type=='thigh_l'){
                    this.lineChartData[1]['data'].push(element.thigh_l)
                }
                if(this.lineChartData[1].type=='thigh_r'){
                    this.lineChartData[1]['data'].push(element.thigh_r)
                }
                if(this.lineChartData[1].type=='calf_l'){
                    this.lineChartData[1]['data'].push(element.calf_l)
                }
                if(this.lineChartData[1].type=='calf_r'){
                    this.lineChartData[1]['data'].push(element.calf_r)
                }
                if(this.lineChartData[1].type=='arm_l'){
                    this.lineChartData[1]['data'].push(element.arm_l)
                }
                if(this.lineChartData[1].type=='arm_r'){
                    this.lineChartData[1]['data'].push(element.arm_r)
                }

              })
          }
          if(resp.data.this_season.length>=1){
              console.log(resp.data.this_season)
              resp.data.this_season.forEach(element => {
                this.lineChartData[2]['date'].push(element.measuretime)
                if(this.lineChartData[2].type=='weight'){
                    this.lineChartData[2]['data'].push(element.weight)
                }
                if(this.lineChartData[2].type=='bodyfat'){
                    this.lineChartData[2]['data'].push(element.bodyfat)
                }
                if(this.lineChartData[2].type=='muscle'){
                    this.lineChartData[2]['data'].push(element.muscle)
                }
                if(this.lineChartData[2].type=='lactose'){
                    this.lineChartData[2]['data'].push(element.lactose)
                }
                if(this.lineChartData[2].type=='BMR'){
                    this.lineChartData[2]['data'].push(element.BMR)
                }
                if(this.lineChartData[2].type=='bodyage'){
                    this.lineChartData[2]['data'].push(element.bodyage)
                }

                if(this.lineChartData[2].type=='mass'){
                    this.lineChartData[2]['data'].push(element.mass)
                }
                if(this.lineChartData[2].type=='chest_underarm'){
                    this.lineChartData[2]['data'].push(element.chest_underarm)
                }
                if(this.lineChartData[2].type=='chest_nipples'){
                    this.lineChartData[2]['data'].push(element.chest_nipples)
                }
                if(this.lineChartData[2].type=='stomach'){
                    this.lineChartData[2]['data'].push(element.stomach)
                }
                if(this.lineChartData[2].type=='navel_down'){
                    this.lineChartData[2]['data'].push(element.navel_down)
                }
                if(this.lineChartData[2].type=='navel_up'){
                    this.lineChartData[2]['data'].push(element.navel_up)
                }

                if(this.lineChartData[2].type=='hip'){
                    this.lineChartData[2]['data'].push(element.hip)
                }
                if(this.lineChartData[2].type=='thigh_l'){
                    this.lineChartData[2]['data'].push(element.thigh_l)
                }
                if(this.lineChartData[2].type=='thigh_r'){
                    this.lineChartData[2]['data'].push(element.thigh_r)
                }
                if(this.lineChartData[2].type=='calf_l'){
                    this.lineChartData[2]['data'].push(element.calf_l)
                }
                if(this.lineChartData[2].type=='calf_r'){
                    this.lineChartData[2]['data'].push(element.calf_r)
                }
                if(this.lineChartData[2].type=='arm_l'){
                    this.lineChartData[2]['data'].push(element.arm_l)
                }
                if(this.lineChartData[2].type=='arm_r'){
                    this.lineChartData[2]['data'].push(element.arm_r)
                }

              })
          }
      })
    },
    //關閉視窗
    closeAddHealth(){
      //回傳到外層關閉按鈕進行關閉
      this.$emit('closeAddHealth')
      this.show_filter_chart_field = ['體重','體脂','肌肉量','內脂','基礎代謝','體齡','骨量']
    }
  },
}
</script>