<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span><span style="color:red;">{{HealthInfo.name}}</span> 學員基本資料</span>
    </div>
    <!-- {{health}}
    {{HealthInfo}} -->
    <div class="user-profile" v-loading="HealthInfoLoading">
      <el-form ref="HealthInfo" :rules="HealthInfoRules" status-icon :model="HealthInfo" label-position="left">
        <el-row :gutter="20">
          <el-col :xs="24" :sm="6" :lg="6" :xl="6">
              <el-form-item label="學員姓名" prop="name">
                  <el-input ref="name" v-model="HealthInfo.name"
                  name="name" placeholder="姓名"
                  autocomplete="off" />
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="6" :lg="6" :xl="6">
              <el-form-item label="學員性別" prop="birthday">
                <br/>
                  <el-radio-group v-model="HealthInfo.sex" 
                  ref="sex" name="sex">
                      <el-radio-button label=1 border>男</el-radio-button>
                      <el-radio-button label=2 border>女</el-radio-button>                        
                  </el-radio-group>
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="6" :xl="6">
              <el-form-item label="學員生日" prop="birthday">
                <br/>
                  <el-date-picker v-model="HealthInfo.birthday" type="date" 
                  ref="birthday" name="birthday" placeholder="學員生日"
                  value-format="yyyy-MM-dd"
                  ></el-date-picker>
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="4" :lg="6" :xl="6">
              <el-form-item label="學員身高" prop="height">
                  <el-input ref="height" v-model="HealthInfo.height"
                  name="height" placeholder="學員身高"
                  autocomplete="off" />
              </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
              <el-form-item label="家裡電話" prop="H_Telephone">
                  <el-input v-model="HealthInfo.H_Telephone"
                  name="H_Telephone" placeholder="家裡電話"
                  autocomplete="off" />
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
              <el-form-item label="聯絡時間" prop="contact_time">
                  <el-input v-model="HealthInfo.contact_time"
                  name="contact_time" placeholder="聯絡時間"
                  autocomplete="off" />
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
              <el-form-item label="公司電話" prop="O_Telephone">
                  <el-input v-model="HealthInfo.O_Telephone"
                  name="O_Telephone" placeholder="公司電話"
                  autocomplete="off" />
              </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
              <el-form-item label="傳真電話" prop="FAX">
                  <el-input v-model="HealthInfo.FAX"
                  name="FAX" placeholder="傳真電話"
                  autocomplete="off" />
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
              <el-form-item label="手機" prop="Mobile">
                  <el-input v-model="HealthInfo.Mobile"
                  name="Mobile" placeholder="手機"
                  autocomplete="off" />
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="4" :lg="4" :xl="4">
              <el-form-item label="星座" prop="constellation">
                  <el-input v-model="HealthInfo.constellation"
                  name="constellation" placeholder="星座"
                  autocomplete="off" />
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="4" :lg="4" :xl="4">
              <el-form-item label="血型" prop="blood">
                  <el-input v-model="HealthInfo.blood"
                  name="blood" placeholder="血型"
                  autocomplete="off" />
              </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
              <el-form-item label="配偶姓名" prop="spouse_name">
                  <el-input v-model="HealthInfo.spouse_name"
                  name="spouse_name" placeholder="配偶姓名"
                  autocomplete="off" />
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
              <el-form-item label="結婚紀念日" prop="anniversary">
                <br/>
                  <el-date-picker v-model="HealthInfo.anniversary" type="date" 
                  ref="anniversary" name="anniversary" placeholder="結婚念日"
                  value-format="yyyy-MM-dd"
                  ></el-date-picker>
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
              <el-form-item label="FB帳號" prop="FB">
                  <el-input v-model="HealthInfo.FB"
                  name="FB" placeholder="FB帳號"
                  autocomplete="off" />
              </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :xs="24" :sm="8" :lg="12" :xl="12">
              <el-form-item label="lineID" prop="lineID">
                  <el-input v-model="HealthInfo.lineID"
                  name="lineID" placeholder="lineID"
                  autocomplete="off" />
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="6" :xl="6">
              <el-form-item label="課程狀態" prop="class_level">
                <br/>
                  <el-radio-group v-model="HealthInfo.class_level" 
                  ref="class_level" name="class_level">
                      <el-radio-button label=1 border>卡客</el-radio-button>
                      <el-radio-button label=2 border>天使計畫</el-radio-button>                        
                  </el-radio-group>
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="6" :xl="6">
              <el-form-item label="授權狀態" prop="healthstyle_status">
                <br/>
                  <el-radio-group v-model="HealthInfo.healthstyle_status" 
                  ref="healthstyle_status" name="healthstyle_status">
                      <el-radio-button label=0 border>未授權</el-radio-button>
                      <el-radio-button label=1 border>已授權</el-radio-button>                        
                  </el-radio-group>
              </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="聊天機器人選單ID" prop="linebot_user_rich_menu">
                <br/>
                  <span style="color:red;">{{HealthInfo.linebot_user_rich_menu}}</span>
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="聊天機器人選單綁定狀態" prop="linebot_channel_bind_status">
                <br/>
                <el-tag size="medium" :type="HealthInfo.linebot_channel_bind_status==0||HealthInfo.linebot_channel_bind_status==null ?'danger':''" plain style="margin:10px 0;">
                  {{HealthInfo.linebot_channel_bind_status|linebot_channel_bind_status}}
                </el-tag>
              </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddHealth">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmHealthInfo('HealthInfo')">確認</el-button>
      </div>
    </div>
  </el-card>
</template>

<script>
import { getSingleStudent,updateSingleStudent } from '@/api/health_manager'
export default {
  name: "healthstylebasic",
  props: {
    health: {
      type: Object
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
  },
  filters:{
        //聊天機器人頻道綁定狀態
    linebot_channel_bind_status(status) {
      const linebot_channel_bind_status = {
        0: '未綁定',
        1: '已綁定'
      }
      return linebot_channel_bind_status[status]
    },
  },
  data(){
    return {
      HealthInfoRules: {
        name: [{ required: true }],
        sex:[{ required: true }],
        birthday:[{ required: true }],
        height:[{ required: true }],
        Mobile:[{ required: true }],
      },
      HealthInfo: [],
      payload:'',
      loading:false,
      HealthInfoLoading:false
    }
  },
    watch: {
      health:{
        handler: function(val, oldVal) {
        if(this.health.mid!=''){
          this.payload = '1?partner_id='+this.health.partner_id+'&mid='+this.health.mid
          this.gethealthinfo()
        }
      },
      immediate: true
      }
  },
  methods: {
    gethealthinfo(){
      this.HealthInfo = []
      this.HealthInfoLoading = true
      getSingleStudent(this.payload).then(resp => {
        this.HealthInfo = resp.data.list[0]
        this.HealthInfoLoading = false
      })
    },
    confirmHealthInfo(HealthInfo){
      this.$refs[HealthInfo].validate(valid => {
        if (valid) {
          this.loading = true
          updateSingleStudent(this.HealthInfo).then(resp => {
            this.$message({
              message: resp.message,
              type: resp.success==true ? 'success':'error'
            })
            this.health['class'] = parseInt(this.HealthInfo.class_level)
            this.loading = false
          })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    //關閉視窗
    closeAddHealth(){
      //回傳到外層關閉按鈕進行關閉
      this.$emit('closeAddHealth')
    }
  },
}
</script>