<template>
  <div :class="className" :style="{height:height,width:width}" />
  
</template>

<script>
import echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme
import resize from '../../dashboard/admin/components/mixins/resize'
import moment from 'moment'
export default {
  mixins: [resize],
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: 100
    },
    height: {
      type: String,
      default: '350px'
    },
    autoResize: {
      type: Boolean,
      default: true
    },
    chartData: {
      type: Object,
      required: true
    },
    chosendate: {
      type: String,
      default: '0'
    },
  },
  data() {
    return {
      chart: null,
      datetime:[],
      alldata:[],
    }
  },
  watch: {
    chartData: {
      deep: true,
      handler(val) {
        if(this.chart != null){
          console.log("1229")
          this.chart.dispose()
          this.chart = null
        }
        if(this.chosendate=='0'){
            // console.log(val[0])
            // this.setOptions(val[0])
            this.initChart('0')
        }
        if(this.chosendate=='1'){
            // console.log(val[1])
            // this.setOptions(val[1])
            this.initChart('1')
        }
        if(this.chosendate=='2'){
            // console.log(val[2])
            // this.setOptions(val[2])
            this.initChart('2')
        }
      }
    }
  },
  mounted() {
    // this.$nextTick(() => {
    //   this.initChart('0')
    // })
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart(type) {
      if(this.chartData[type].data.length>=1){
        // this.chart.dispose()
        // this.chart = null
        this.chart = echarts.init(this.$el, 'macarons')
        console.log("this.chart",this.chart)
        this.setOptions(this.chartData[type])
      }
      // else{
      //   this.$message({
      //     message: '目前無數據，無法產生圖表',
      //     type: 'warning'
      //   })
      // }
    },
    setOptions({ data,date,type } = {}) {
      console.log("type",type)
      console.log(data)
      if(type=="weight"){
        type="體重"
      }
      if(type=="bodyfat"){
        type="體脂"
      }
      if(type=="muscle"){
        type="肌肉量"
      }
      if(type=="lactose"){
        type="內脂"
      }
      if(type=="BMR"){
        type="基礎代謝"
      }
      if(type=="bodyage"){
        type="體齡"
      }
      if(type=="mass"){
        type="骨量"
      }
      if(type=="chest_underarm"){
        type="胸圍（腋下）"
      }
      if(type=="chest_nipples"){
        type="胸圍（乳頭）"
      }
      if(type=="stomach"){
        type="胃圍"
      }
      if(type=="navel_down"){
        type="肚臍下三指"
      }
      if(type=="mnavel_up"){
        type="肚臍上三指"
      }
      if(type=="hip"){
        type="臀圍"
      }
      if(type=="thigh_r"){
        type="大腿（右）"
      }
      if(type=="thigh_l"){
        type="大腿（左）"
      }
      if(type=="calf_r"){
        type="小腿（右）"
      }
      if(type=="calf_l"){
        type="小腿（左）"
      }
      if(type=="arm_r"){
        type="手臂（右）"
      }
      if(type=="arm_l"){
        type="手臂（左）"
      }
      this.datetime = []
      date.forEach(element => {
          this.datetime.push(moment(element).format('MM-DD'))
      });
      this.alldata = []
      data.forEach(element=>{
          this.alldata.push(element)
      });
      this.chart.setOption({
        xAxis: {
          data: this.datetime,
          boundaryGap: false,
          axisTick: {
            show: false
          }
        },
        grid: {
          left: 10,
          right: 10,
          bottom: 20,
          top: 30,
          containLabel: true
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross'
          },
          padding: [5, 10]
        },
        yAxis: {
          axisTick: {
            show: false
          }
        },
        legend: {
          data: [type]
        },
        series: [
            {
          name: type, itemStyle: {
            normal: {
              color: '#FF005A',
              lineStyle: {
                color: '#FF005A',
                width: 2
              }
            }
          },
          smooth: true,
          type: 'line',
          data: this.alldata,
          animationDuration: 1500,
          animationEasing: 'cubicInOut'
        },
        // {
        //   name: 'actual',
        //   smooth: true,
        //   type: 'line',
        //   itemStyle: {
        //     normal: {
        //       color: '#3888fa',
        //       lineStyle: {
        //         color: '#3888fa',
        //         width: 2
        //       },
        //       areaStyle: {
        //         color: '#f3f8ff'
        //       }
        //     }
        //   },
        //   data: actualData,
        //   animationDuration: 2800,
        //   animationEasing: 'quadraticOut'
        // }
        ]
      })
    }
  }
}
</script>
