<template>
  <div>
    <el-dialog
      :visible.sync="dialogBatchVisible"
      v-if="dialogBatchVisible"
      :title="dialogBatchType==='new'?'上傳健康數據':''"
      :before-close="closeAddUploadhealthbatch"
      center
      append-to-body
      fullscreen>
      <!-- {{ uploadrouterlist }} -->
      <!-- {{ partnerlist }} -->
      <!-- {{healthmeature}}
      {{show_upload_data}} -->
      <!-- {{healthmeature.content}} -->
      <el-form :rules="UploadHealthRules" status-icon ref="healthmeature" :model="healthmeature" label-position="center">
        <el-row ref="healthmeature" :gutter="20">
          <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="健康數據批次上傳" prop="file">
              <el-upload
                class="avatar-uploader"
                action="https://jsonplaceholder.typicode.com/posts/"
                ref="file"
                name="file"
                :show-file-list="false"
                :multiple="false"
                :before-upload="handleClick"
                accept=".xlsx"
              >
              <!-- <div slot="tip" class="el-upload__tip" style="color:red">
                檔案上傳格式，只適用xlsx or csv
              </div>
              <i class="el-icon-plus avatar-uploader-icon"></i> -->
              <i class="el-icon-upload"></i>
              <div class="el-upload__text">將文件拖至此處<em>點擊上傳</em></div>
              <div class="el-upload__tip" slot="tip"> <el-link icon="el-icon-link" style="text-align:center;" :href="upload_health_path" target="_blank">單人批次上傳範例</el-link></div>
              <div class="el-upload__tip" slot="tip">只能上傳xlsx</div>
              </el-upload>
            </el-form-item>
          </el-col>
        <div style="text-align:center; font-size:20px; color:red;">
          預覽健康數據資料
          <!-- <el-button :loading="loading" type="primary" @click.native.prevent="confirmPartner('partner')">確認</el-button> -->
        </div>
          <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-table :data="healthmeature.content" border highlight-current-row style="width: 100%;margin-top:20px;">
                <el-table-column align="center" width="160" label="測量時間">
                <template slot-scope="scope">
                    <el-tag size="medium" style="margin:10px 0;" plain>
                    {{ scope.row.measuretime }}
                    </el-tag>
                </template>
                </el-table-column>
                <el-table-column align="center" label="體重">
                <template slot-scope="scope">
                    {{ scope.row.weight }} kg
                </template>
                </el-table-column>
                <el-table-column align="center" label="體脂">
                <template slot-scope="scope">
                    {{ scope.row.bodyfat }} %
                </template>
                </el-table-column>
                <el-table-column align="center" label="肌肉量">
                <template slot-scope="scope">
                    {{ scope.row.muscle }} kg
                </template>
                </el-table-column>
                <el-table-column align="center" label="內脂">
                <template slot-scope="scope">
                    {{ scope.row.lactose }} %
                </template>
                </el-table-column>
                <el-table-column align="center" label="基礎代謝">
                <template slot-scope="scope">
                    {{ scope.row.BMR }} 
                </template>
                </el-table-column>
                <el-table-column align="center" label="體齡">
                <template slot-scope="scope">
                    {{ scope.row.bodyage }} 歲
                </template>
                </el-table-column>
                <el-table-column align="center" label="骨量">
                <template slot-scope="scope">
                    {{ scope.row.mass }} %
                </template>
                </el-table-column>
                <el-table-column align="center" label="胸圍（腋下）" v-if="this.healthmeature.class==2">
                <template slot-scope="scope">
                    {{ scope.row.chest_underarm }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="胸圍（乳頭）" v-if="this.healthmeature.class==2">
                <template slot-scope="scope">
                    {{ scope.row.chest_nipples }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="胃圍" v-if="this.healthmeature.class==2">
                <template slot-scope="scope">
                    {{ scope.row.stomach }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="肚臍下三指" v-if="this.healthmeature.class==2">
                <template slot-scope="scope">
                    {{ scope.row.navel_down }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="肚臍上三指" v-if="this.healthmeature.class==2">
                <template slot-scope="scope">
                    {{ scope.row.navel_up }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="臀圍" v-if="this.healthmeature.class==2">
                <template slot-scope="scope">
                    {{ scope.row.hip }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="大腿（右）" v-if="this.healthmeature.class==2">
                <template slot-scope="scope">
                    {{ scope.row.thigh_r }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="大腿（左）" v-if="this.healthmeature.class==2">
                <template slot-scope="scope">
                    {{ scope.row.thigh_l }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="小腿（右）" v-if="this.healthmeature.class==2">
                <template slot-scope="scope">
                    {{ scope.row.calf_r }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="小腿（左）" v-if="this.healthmeature.class==2">
                <template slot-scope="scope">
                    {{ scope.row.calf_l }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="手臂（右）" v-if="this.healthmeature.class==2">
                <template slot-scope="scope">
                    {{ scope.row.arm_r }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" label="手臂（左）" v-if="this.healthmeature.class==2">
                <template slot-scope="scope">
                    {{ scope.row.arm_l }} cm
                </template>
                </el-table-column>
                <el-table-column align="center" width="200" label="學員回饋">
                <template slot-scope="scope">
                    {{ scope.row.member_feedback }}
                </template>
                </el-table-column>
                <el-table-column align="center" width="200" label="教練回饋">
                <template slot-scope="scope">
                    {{ scope.row.coach_feedback }}
                </template>
                </el-table-column>
            </el-table>
            <div style="text-align:right; margin:15px 0;">
                <el-button type="danger" @click="closeAddUploadhealthbatch">關閉</el-button>
                <el-button :loading="loading" type="primary" @click.native.prevent="confirmhealthmeaturebatch('healthmeature')" :disabled="this.healthmeature.content.length==0?true:false">確認</el-button>
            </div>
          </el-col>
        </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import XLSX from 'xlsx'
import { mapGetters } from 'vuex'
import { updateBatchMeatureSingleStudent } from '@/api/health_manager'
export default {
  name: 'AddEditUploadHealthBatch',
  props: {
    dialogBatchType: {
      type: String,
      require: true
    },
    dialogBatchVisible: {
      type: Boolean,
      require: true
    },
    healthmeature:{
      type:  Object,
      require: true
    }
  },
  data() {
    return {
      UploadHealthRules:{
        file: [{ required: true }],
      },
      upload_health_path:'',
      show_upload_data:[],
      loading:false
    }
  },
  watch:{

  },
  mounted(){
    this.upload_health_path = process.env.VUE_APP_BASE_API_UPLOAD +'/all_example_upload/營養俱樂部單人批次上傳範例.xlsx'
  },
  methods: {
    // 關閉健康數據
    closeAddUploadhealthbatch() {
    //更新資料進入外層的健康數據
    this.dialogBatchVisible = false
    this.dialogBatchType = ''
    this.show_upload_data = []
    this.healthmeature.content = []
    this.$emit('getMeature_batch_status_dialogtype',this.dialogBatchVisible,this.dialogBatchType)
    },
    async handleClick(file){
      //上傳excel檔案
      this.healthmeature.file = file
      let result = await this.readXLSX(file);  //讀取到的內容
    },
    readXLSX(file) {
      let nameSplit = file.name.split(".");
      let format = nameSplit[nameSplit.length - 1];
      if (!["xlsx", "csv"].includes(format)) {
        return false;
      }
      return new Promise((resolve, reject) => {
        let reader = new FileReader();
        reader.readAsBinaryString(file);
        reader.onload = evt => {
          let data = evt.target.result; // 讀到的數據
          let workbook = XLSX.read(data, { type: "binary" });
          let sheetName = workbook.SheetNames[0]
          /* DO SOMETHING WITH workbook HERE */
          this.show_upload_data = []
          this.healthmeature.content = []
          console.log(workbook);
          let worksheet = workbook.Sheets[sheetName];
          console.log(XLSX.utils.sheet_to_json(worksheet));
          this.show_upload_data = XLSX.utils.sheet_to_json(worksheet)
          this.show_upload_data.forEach((element,index)=>{
              console.log(element.人員)
              if(this.healthmeature.class==1){
                this.healthmeature.content.push({
                    "mid": this.healthmeature.mid,
                    "partner_id": this.healthmeature.partner_id,
                    "weight": element.體重,
                    "bodyfat": element.體脂,
                    "muscle": element.肌肉量,
                    "lactose": element.內脂,
                    "BMR": element.基礎代謝,
                    "bodyage": element.體齡,
                    "mass": element.骨量,
                    "measuretime":element.測量時間,
                    "member_feedback":element.學員回饋,
                    "coach_feedback":element.教練回饋
                })
              }else{
                this.healthmeature.content.push({
                    "mid": this.healthmeature.mid,
                    "partner_id": this.healthmeature.partner_id,
                    "weight": element.體重,
                    "bodyfat": element.體脂,
                    "muscle": element.肌肉量,
                    "lactose": element.內脂,
                    "BMR": element.基礎代謝,
                    "bodyage": element.體齡,
                    "mass": element.骨量,
                    "chest_underarm": element.胸圍腋下,
                    "chest_nipples": element.胸圍乳頭,
                    "stomach": element.胃圍,
                    "navel_down": element.肚臍下三指,
                    "navel_up": element.肚臍上三指,
                    "hip": element.臀圍,
                    "thigh_r": element.大腿右,
                    "thigh_l": element.大腿左,
                    "calf_r": element.小腿右,
                    "calf_l": element.小腿左,
                    "arm_r": element.手臂右,
                    "arm_l": element.手臂左,
                    "measuretime":element.測量時間,
                    "member_feedback":element.學員回饋,
                    "coach_feedback":element.教練回饋
                })  
              }
          })
        };
      });
    },
    //批次上傳
    confirmhealthmeaturebatch(healthmeature){
      this.$refs[healthmeature].validate(valid => {
        if (valid) {
          updateBatchMeatureSingleStudent(this.healthmeature).then(resp => {
          this.loading = true
          this.$message({
            type: resp.success==true?'success':'error',
            message:  resp.message
          })
          if(resp.success==true){
            this.healthmeature.content = []
          }
          this.loading = false
          })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
  }
}
</script>
