<template>
  <el-table :data="orderlist.list" style="width: 100%;padding-top: 15px;">
    <el-table-column label="訂購合作夥伴" min-width="120">
      <template slot-scope="scope">
        <el-tag>{{ scope.row.partner_name }}</el-tag>
      </template>
    </el-table-column>
    <el-table-column label="訂單編號" min-width="155">
      <template slot-scope="scope">
        {{ scope.row.order_id }}
      </template>
    </el-table-column>
    <el-table-column label="訂購人資訊" min-width="100">
      <template slot-scope="scope">
        {{ scope.row.member_name }}<br/>
        {{ scope.row.member_phone }}
      </template>
    </el-table-column>
    <el-table-column label="訂購金額含運費" width="195" align="center">
      <template slot-scope="scope">
       {{scope.row.total + scope.row.shipping_fee }}
      </template>
    </el-table-column>
    <el-table-column align="center" label="是否付款">
      <template slot-scope="scope">
        <el-tag :type="scope.row.is_pay==0 ? 'danger':'primary' " plain>
          {{ scope.row.is_pay | is_pay }}
        </el-tag>
      </template>
    </el-table-column>
    <el-table-column label="訂單狀態" width="100" align="center">
      <template slot-scope="scope">
        <!-- <el-tag :type="row.status | statusFilter">
          {{ row.status }}
        </el-tag> -->
          <el-tag :type="scope.row.order_status==1 ? 'primary':'danger' " plain>
            {{ scope.row.order_status | order_status }}
          </el-tag>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
import { mapGetters } from 'vuex'
import { transactionList } from '@/api/remote-search'

export default {
  filters: {
    // statusFilter(status) {
    //   const statusMap = {
    //     success: 'success',
    //     pending: 'danger'
    //   }
    //   return statusMap[status]
    // },
    // orderNoFilter(str) {
    //   return str.substring(0, 30)
    // }
    //是否付款
    is_pay(status){
      const is_pay = {
        0:'未付款',
        1:'已付款',
      }
      return is_pay[status]
    },
    //訂單狀態
    order_status(status){
      const order_status = {
        0:'刪除',
        1:'正常',
        2:'修改',
        3:'暫停',
      }
      return order_status[status]
    },
  },
  data() {
    return {
      // list: null
    }
  },
  computed: {
    ...mapGetters([
      'orderlist'
    ])
    // roles(){
    //   return this.$store.getters.roles
    // }
  },
  created() {
    // this.fetchData()
    this.getAllOrder(1)
  },
  methods: {
    // fetchData() {
    //   transactionList().then(response => {
    //     this.list = response.data.items.slice(0, 8)
    //   })
    // }
    // 顯示所有訂單管理
    async getAllOrder(page) {
      await this.$store.dispatch('shop/getOrder',page)
      // getOrder(page).then(resp => {
      //   this.OrderList = resp.data
      //   this.OrderListLoading = false
      // })
    },
  }
}
</script>
