<template>
  <div class="app-container">
    <search-Admin @searchAdmin="SearchAllAdmin" @searchAdminpartner="switchPartner" v-if='this.check_admin_premission.includes("search_btn")' />
    <el-button type="primary" icon="el-icon-plus" @click="handleAddAdmin" v-if='this.check_admin_premission.includes("insert_btn")'>新人員管理模組</el-button>
    <!-- {{ partner }} -->
    <el-select
      v-model="partner"
      placeholder="請選擇合作夥伴"
      filterable
      default-first-option
      style="margin:auto 10px;"
      @change="chosenPartner"
    >
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id"
      />
    </el-select>
    <!-- {{partner}}
    {{search_admin}} -->
    <!-- {{partnerlist}} -->
    <!-- {{PartnerList}} -->
    <!-- {{partner}}
  {{AdminList}} -->
    <!-- {{AdminList}}
  {{dialogVisible}} -->
    <add-Admin
      :dialogAdminType="dialogAdminType"
      :dialogAdminVisible="dialogAdminVisible"
      :admin="admin"
      @getAdmin="getAdminemit"
      @getAdminstatus="getAdminstatus"
    />
    <el-table v-loading="adminlistLoading" :data="AdminList.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
      <el-table-column align="center" label="帳號/權限/狀態">
        <template slot-scope="scope">
          <span style="margin:5px 0;font-size:18px;">
          {{ scope.row.username }}<br>
          </span>
          <el-tag size="medium" type="primary" plain style="margin:5px 0;font-size:18px;">
            {{ scope.row.roles_name }}
          </el-tag><br/>
          <el-tag style="margin:5px 0;font-size:18px;" :type="scope.row.status==0?'danger':''">{{ scope.row.status | switch_status }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="頭貼/姓名">
        <template slot-scope="scope">
          <div v-show="scope.row.avatar!=null">
            <el-image :src="upload_path+scope.row.avatar">
              <div slot="error" class="image-slot">
                <i class="el-icon-picture-outline" />
              </div>
            </el-image>
          </div>
          <br/>
          <span style="margin:5px 0;font-size:18px;">
          {{ scope.row.name }}
          </span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="信箱/電話">
        <template slot-scope="scope">
          <span style="margin:5px 0;font-size:18px;">
          {{ scope.row.email }}
          </span><br/>
          <span style="margin:5px 0;font-size:18px;">
          {{ scope.row.phone }}
          </span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="二次驗證驗證開關/模式">
        <template slot-scope="scope">
          <el-tag style="margin:5px 0;font-size:18px;" :type="scope.row.validator_mode_status==1?'danger':''" >{{scope.row.validator_mode_status|validator_mode_status}}</el-tag>
          <br/>
          <el-tag style="margin:5px 0;font-size:18px;" :type="scope.row.validator_mode==1||scope.row.validator_mode==2?'danger':''" >{{scope.row.validator_mode|validator_mode}}</el-tag>
        </template>
      </el-table-column>
      <!-- <el-table-column align="center" width="150" label="驗證碼(次數)/過期時間">
        <template slot-scope="scope">
          {{ scope.row.validator }} (<el-tag size="medium" :type="scope.row.error_login_times>=1?'danger':''" plain style="margin:5px 0;">
            {{ scope.row.error_login_times }}
          </el-tag>)<br/>
          <el-tag size="medium" :type="scope.row.validator==9999?'error':'primary'" plain style="margin:5px 0;">
            {{ scope.row.validator_date_time }}
          </el-tag><br/>
        </template>
      </el-table-column> -->
      <!-- <el-table-column align="center" label="狀態">
        <template slot-scope="scope">
          <el-tag style="margin:10px 0;" :type="scope.row.status==0?'danger':''">{{ scope.row.status | switch_status }}</el-tag>
        </template>
      </el-table-column> -->
      <!-- <el-table-column align="center" label="特休天數">
        <template slot-scope="scope">
          {{ scope.row.special_day }}
        </template>
      </el-table-column> -->
      <el-table-column align="center" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
          <el-button icon="el-icon-edit" type="primary" @click="handleEditAdmin(scope)">編輯</el-button><br>
          <el-button style="margin:5px 0;" type="danger" @click="handleResetpassword(scope)">重設密碼</el-button><br>
          <el-button style="margin:5px 0;" type="danger" @click="handleRemovedevicetoken(scope)">清除裝置</el-button><br>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="AdminList.count"
      :page.sync="AdminList.nowpages"
      :limit.sync="AdminList.limit"
      @pagination="getAllAdmin(AdminList.nowpages,search_admin)"
    />
    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Pagination from '@/components/Pagination'
import path from 'path'
import { deepClone } from '@/utils'
import { getAdmin, reset_password_admin,delete_admin_device_token } from '@/api/admin_manager'
import AddAdmin from './component/AddAdmin.vue'
import { getAdminPremission } from '@/api/premission_manager'
import SearchAdmin from './component/SearchAdmin.vue'

const defaultAdmin = {
  username: '', name: '',email:'',
  avatar: null, status: 1,
  partner_id: '', phone: '',
  introduction: '', special_day:6,
  roles: 1,validator_mode:0,
  validator_mode_status:0
}

export default {
  name: 'AdminManager',
  components: { SearchAdmin, AddAdmin, Pagination },
  data() {
    return {
      dialogAdminVisible: false,
      dialogAdminType: 'new',
      partner: '',
      AdminList: [],
      adminlistLoading: false,
      admin: Object.assign({}, defaultAdmin),
      search_admin: '',
      // 圖片網址位置
      upload_path: '',
      check_admin_premission:[]
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  filters: {
    // 狀態
    switch_status(status) {
      const switch_status = {
        0: '未啟用',
        1: '啟用'
      }
      return switch_status[status]
    },
    //驗證模式
    validator_mode(status) {
      const validator_mode = {
        0: '無',
        1: '信箱',
        2: 'line notify'
      }
      return validator_mode[status]
    },
    //驗證開關
    validator_mode_status(status) {
      const validator_mode_status = {
        0: '關閉',
        1: '開啟',
      }
      return validator_mode_status[status]
    },
  },
  async created() {
    // 顯示合作夥伴
    await this.getPartner('all')
    // 得知所有的管理者的權限
    await this.getAdminRoles(1)
    //預設帶入第一個partner_id
    await this.initPartner()
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
    // 得知使用者實際擁有權限
    await this.getAdminPremission("人員管理模組")
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner', payload)
    },
    // 顯示人員管理模組角色
    async getAdminRoles(page) {
      await this.$store.dispatch('admin/getAdminRoles', page)
    },
    // 顯示所有合作夥伴人員管理模組
    async getAllAdmin(page, admin) {
      var payload = ''
      if (this.search_admin == '') {
        payload = page
      }
      if (this.search_admin != '') {
        payload += page + '?' + admin
      }
      console.log('payload', payload)
      this.adminlistLoading = true
      getAdmin(payload).then(resp => {
        this.AdminList = resp.data
        this.adminlistLoading = false
      })
    },
    // 切換所有合作夥伴的人員管理模組
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultAdmin['partner_id'] = this.partner
        this.search_admin = query
      } else {
        this.search_admin = query
      }
      // console.log("defaultAdmin['partner_id']", defaultAdmin['partner_id'])
      this.getAllAdmin(1, query)
    },
    // 帶出所有已新增合作夥伴的人員管理模組
    getAdminemit(partner_id) {
      var query = ''
      // console.log("partner_id",partner_id)
      if (partner_id != '') {
        query += 'partner_id=' + partner_id
        defaultAdmin['partner_id'] = partner_id
        this.partner = partner_id
        // console.log("this.partner",partner_id)
        this.search_admin = query
      } else {
        this.search_admin = query
      }
      // console.log("query",query)
      // console.log("defaultAdmin['partner_id']", defaultAdmin['partner_id'])
      this.getAllAdmin(1, query)
    },
    // 新增人員管理模組按鈕
    handleAddAdmin() {
      this.admin = Object.assign({}, defaultAdmin)
      this.dialogAdminType = 'new'
      this.dialogAdminVisible = true
    },
    // 修改人員管理模組按鈕
    handleEditAdmin(scope) {
      this.dialogAdminType = 'edit'
      this.dialogAdminVisible = true
      if (scope.row.partner_id == null) {
        scope.row.partner_id = ''
      }
      // console.log("scope.row",scope.row)
      this.admin = deepClone(scope.row)
    },
    // 重設密碼
    handleResetpassword(scope) {
      this.$confirm('確認回復' + scope.row.name + '密碼設定?', 'Warning', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      })
        .then(async() => {
          await reset_password_admin({ 'id': scope.row.id }).then((resp) => {
            this.$message({
              type: 'success',
              message: resp.message
            })
          })
        })
        .catch(err => { console.error(err) })
    },
    // 清除裝置
    handleRemovedevicetoken(scope) {
      this.$confirm('確認清除' + scope.row.name + '裝置錯誤次數設定?', 'Warning', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      })
        .then(async() => {
          await delete_admin_device_token({ 'username': scope.row.username }).then((resp) => {
            this.$message({
              type: 'success',
              message: resp.message
            })
          })
          this.getAllAdmin(this.AdminList.nowpages, this.search_admin)
        })
        .catch(err => { console.error(err) })
    },
    // 關閉人員管理模組dialog狀態
    getAdminstatus(status) {
      this.dialogAdminVisible = status
    },
    // 搜尋切換合作夥伴
    switchPartner(partner_id) {
      // 搜尋有帶出合作夥伴
      if (partner_id != '') {
        defaultAdmin['partner_id'] = partner_id
        this.partner = partner_id
      }
      // 搜尋沒有帶出合作夥伴
      if (partner_id == '') {
        defaultAdmin['partner_id'] = ''
        this.partner = ''
      }
    },
    // 搜尋所有人員管理模組
    SearchAllAdmin(query) {
      this.search_admin = query
      // console.log('query', query)
      this.getAllAdmin(1, this.search_admin)
    },
    //剛開始直接設定預設的partner
    async initPartner(){
        await this.partnerlist.list.forEach((element,index)=>{
          if(index==0){
            console.log("show_first_init_partner",element.partner_id)
            this.partner = element.partner_id
            // 切換所有合作夥伴的人員管理模組
            this.chosenPartner()
          }
          console.log("show_all_init_partner",element.partner_id)
        })
    },
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
