<template>
  <div class="app-container">
    <!-- <search-Partner /> -->
    <el-button type="primary" icon="el-icon-edit" @click="handleAddAnnounce">新公告管理</el-button>
    <add-Announce :dialogType="dialogType" :dialogVisible="dialogVisible" :announce="announce" v-on:getAnnounce="getAnnounce"
    v-on:getAnnouncestatus="getAnnouncestatus"
      />
      <!-- {{announcelist.list}} -->
    <el-table v-loading="announceLoading" :data="announcelist.list" style="width: 100%;margin-top:20px;" border fit>
      <el-table-column align="center" width="30">
        <template slot-scope="scope">
          <i class="el-icon-warning" style="color:red;" v-if="scope.row.real_time_status==0" />
        </template>
      </el-table-column>
      <el-table-column align="center" label="公告模組標題/即時推送">
        <template slot-scope="scope">
          {{ scope.row.announce_title }}<br/>
          <el-tag 
          :type="scope.row.real_time_status==0?'danger':''"
          effect="plain"
          >
            {{ scope.row.real_time_status | real_time_status }}
          </el-tag><br/>
          {{ scope.row.push_message_date }} {{ scope.row.push_message_time }}
        </template>
      </el-table-column>
      <el-table-column 
      align="center" 
      label="公告模組內文"
      width="300"
      >
        <template slot-scope="scope">
          <div style="white-space:pre-wrap;">
          {{ scope.row.announce_content }}
          </div>
        </template>
      </el-table-column>
      <el-table-column align="center" width="150" label="公告模組貼圖">
        <template slot-scope="scope" v-if="scope.row.sticker_id!=null">
        <el-image
            style="width: 120px; height: 120px"
            :src="'https://stickershop.line-scdn.net/stickershop/v1/sticker/'+scope.row.sticker_id+'/android/sticker.png'"
            fit="fit">
            <div slot="error" class="image-slot">
                <i class="el-icon-picture-outline"></i>
            </div>
        </el-image>
        </template>
      </el-table-column>
      <el-table-column align="center" label="公告模組圖片" width="350">
        <template slot-scope="scope">
           <el-image :src="upload_path+scope.row.announce_photo"
           v-if="scope.row.announce_photo!=null"
           >
            <div slot="error" class="image-slot">
              <i class="el-icon-picture-outline"></i>
            </div>
           </el-image>
           <el-tag style="margin:10px 0;" v-else>無圖片</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="推播合作夥伴列表" width="140">
        <template slot-scope="scope">
        <el-tag
            v-for="(all_partnername_list,index) in scope.row.partner_name"
            :key="index"
            type=""
            style="margin:5px auto;"
            effect="plain"
            >
            {{all_partnername_list}} <br/>
        </el-tag>
        </template>
      </el-table-column>
      <el-table-column fixed="right" align="center" width="100" label="操作">
        <template slot-scope="scope">
            <el-tag 
            :type="scope.row.status==0||scope.row.status==1?'danger':''"
            effect="plain"
            style="margin:5px auto;">
            {{ scope.row.status|announce_status }}
            </el-tag>
          <br/>
          <el-button type="primary" @click="handleEditAnnounce(scope)">編輯</el-button>
        </template>
      </el-table-column>
    </el-table>
  <pagination
    :total="announcelist.count"
    :page.sync="announcelist.nowpages"
    :limit.sync="announcelist.limit"
    @pagination="getAnnounce(announcelist.nowpages)" />

    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import path from 'path'
import { deepClone } from '@/utils'
import { getAnnounce } from '@/api/announce_manager'
import AddAnnounce from './component/AddAnnounce.vue'
// import SearchAnnounce from './component/SearchAnnounce.vue'
//定義合作夥伴
const defaultAnnounce = {
  announce_title: '',announce_content: '',
  partner_id_array: [],status: 0,
  real_time_status:1,
  push_message_date:null,push_message_time:null,
  sticker_package_id:null,sticker_id:null,sub_line_package_id:'',
  announce_photo:null
}

export default {
  name: 'announce_manager',
  components: { Pagination,AddAnnounce },
  data() {
    return {
      announce: Object.assign({}, defaultAnnounce),
      announcelist:[],
      dialogVisible: false,
      dialogType: 'new',
      announceLoading:true,
      // 圖片網址位置
      upload_path: '',
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  filters:{
    // 狀態
    announce_status(status){
      const announce_status = {
        0:'草稿',
        1:'下架',
        2:'上架'
      }
      return announce_status[status]
    },
    //合作夥伴開關
    real_time_status(status){
      const real_time_status = {
        0:'非即時',
        1:'即時',
        2:'不推送'
      }
      return real_time_status[status]
    }
  },
  created() {
    // 得知所有的公告管理
    this.getAnnounce(1)
    this.getPartner('all')
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
        await this.$store.dispatch('partner/getPartner', payload)
    },
    async getAnnounce(page) {
      this.announceLoading = true
      getAnnounce(page).then((resp)=>{
          this.announcelist = resp.data
          this.announceLoading = false
      })
    },
    // 關閉合作夥伴dialog狀態
    getAnnouncestatus(status){
      this.dialogVisible = status
    },
    // 新增公告管理
    handleAddAnnounce() {
      this.announce = Object.assign({}, defaultAnnounce)
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    // 修改公告管理
    handleEditAnnounce(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      this.announce = deepClone(scope.row)
    }
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
