<template>
  <div class="app-container">
    <!-- {{check_admin_premission}} -->
    <search-Bug v-on:searchBug="SearchAllBug" v-if='this.check_admin_premission.includes("search_btn")' />
    <el-button type="primary" icon="el-icon-edit" @click="handleAddBug" v-if='this.check_admin_premission.includes("insert_btn")'>新bug回報模組</el-button>
    <add-Bug :dialogType="dialogType" :dialogVisible="dialogVisible" :bug="bug" 
    v-on:getBugstatus="getBugstatus" v-on:getBug="getBug"
    />
    <el-table v-loading="buglistLoading" :data="buglist.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
      <el-table-column align="center" label="bug回報標題">
        <template slot-scope="scope">
          {{ scope.row.bug_title }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="bug回報截圖與內文">
        <template slot-scope="scope">
           <el-image :src="upload_path+scope.row.bug_photo" style="width:300px;" v-if="scope.row.bug_photo!=null">
            <div slot="error" class="image-slot">
              <i class="el-icon-picture-outline"></i>
            </div>
           </el-image>
           <el-tag style="margin:10px 0;" v-else>無圖片</el-tag>
           <br/>
          {{ scope.row.bug_content }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="bug回報狀態">
        <template slot-scope="scope">
          <el-tag :type="scope.row.status==0?'danger':''">{{ scope.row.status|switch_open_close }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="100" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditBug(scope)">編輯</el-button><br/>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="buglist.count"
      :page.sync="buglist.nowpages"
      :limit.sync="buglist.limit"
      @pagination="getBugPagination(buglist.nowpages,search_bug)"
    />
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import path from 'path'
import { deepClone } from '@/utils'
import AddBug from './component/AddBug.vue'
import { getAdminPremission } from '@/api/premission_manager'
import SearchBug from './component/SearchBug.vue'

const defaultBug = {
  bug_title: '',bug_content: '',
  bug_photo: null,status: 0
}

export default {
  name: 'bug_manager',
  components: { Pagination,AddBug, SearchBug },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'new',
      buglistLoading: false,
      bug: Object.assign({}, defaultBug),
      // 圖片網址位置
      upload_path: '',
      search_bug:'',
      check_admin_premission:[]
    }
  },
  computed: {
      buglist() {
          return this.$store.state.bug.buglist
      }
  },
  filters:{
    //狀態
    switch_open_close(status){
      const switch_open_close = {
        0:'未完成',
        1:'完成',
      }
      return switch_open_close[status]
    },
  },
  created() {
    // 得知所有的bug回報模組
    this.getBug(1)
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
    // 得知使用者實際擁有權限
    this.getAdminPremission("bug回報管理")
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          this.check_admin_premission = []
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 顯示bug回報模組
    async getBug(page) {
      await this.$store.dispatch('bug/getBug',page)
    },
    // 新增bug回報按鈕
    handleAddBug() {
      this.bug = Object.assign({}, defaultBug)
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    // 修改bug回報按鈕
    handleEditBug(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      // console.log("scope.row",scope.row)
      this.bug = deepClone(scope.row)
    },
    // 關閉bug回報模組dialog狀態
    getBugstatus(status) {
      this.dialogVisible = status
    },
    // 搜尋所有Bug
    SearchAllBug(query) {
      this.search_bug = '1?'+query
    //   console.log('query', query)
      this.getBug(this.search_bug)
    },
    // 點擊分頁顯示bug模組
    async getBugPagination(page, search_bug) {
      var payload = ''
      var _self = this
      if (_self.search_bug == '') {
        payload = page
      }
      if (_self.search_bug != '') {
        payload += page + '?' + search_bug
      }
      this.getBug(payload)
    },
  },
  // 離開bug回報管理
  beforeRouteLeave(to, from, next) {
    // 得知使用者實際擁有權限
    this.getAdminPremission("bug回報管理")
    next()
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
