<template>
  <div class="app-container">
     <!-- <search-Pushchannel v-on:searchPushchannel="SearchAllPushchannel" v-if='this.check_admin_premission.includes("search_btn")' /> -->
    <!-- <el-select
      v-model="partner"
      placeholder="請選擇合作夥伴"
      filterable
      default-first-option
      style="margin:auto 10px;"
      @change="chosenPartner"
    >
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id"
      />
    </el-select> -->
    <el-button type="primary" icon="el-icon-edit" @click="handleAddContract">新合約管理模組</el-button>
    <!-- {{contractlist}} -->
    <!-- {{check_admin_premission}} -->
    <!-- {{dialogType}}
    {{dialogVisible}} -->
    <add-contract
      :dialog-type="dialogType"
      :dialog-visible="dialogVisible"
      :contract="contract"
      @getContract="getContract"
      @getContractstatus="getContractstatus"
    />
    <el-table v-loading="contractlistLoading" :data="contractlist.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
      <el-table-column align="center" fixed width="130" label="合作夥伴">
        <template slot-scope="scope">
          <el-tag type="primary" plain v-if="scope.row.partner_name!=null">
            {{ scope.row.partner_name }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="合約名稱">
        <template slot-scope="scope">
          {{ scope.row.contract_name }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="合約檔案">
        <template slot-scope="scope">
            <div v-if="scope.row.contract_file!=null">
                <el-button type="primary" icon="el-icon-files" @click="download_contract(scope.row)">下載合約</el-button>
            </div>
            <div v-else>
                <el-tag style="margin:10px 0;">無合約</el-tag>
            </div>
        </template>
      </el-table-column>
      <el-table-column align="center" label="合約開始、結束日期">
        <template slot-scope="scope">
            <el-tag style="margin:10px 0;" :type="scope.row.contract_status==0?'danger':'primary'">
                {{ scope.row.contract_start_at }}
            </el-tag>
          <br/>
          至
          <br/>
            <el-tag style="margin:10px 0;" :type="scope.row.contract_status==0?'danger':'primary'">
                {{ scope.row.contract_end_at }}
            </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="合約狀態">
        <template slot-scope="scope">
            <el-tag style="margin:10px 0;" :type="scope.row.contract_status==0?'danger':'primary'">{{ scope.row.contract_status | contract_status }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="100" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditContract(scope)">編輯</el-button><br/>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="contractlist.count"
      :page.sync="contractlist.nowpages"
      :limit.sync="contractlist.limit"
      @pagination="getContractPagination(contractlist.nowpages,search_pushchannelgroup)"
    />

    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Pagination from '@/components/Pagination'
import path from 'path'
import { deepClone } from '@/utils'
import { getAdminPremission } from '@/api/premission_manager'
import AddContract from './component/AddContract.vue'

const defaultContract = {
  partner_id: '',contract_name: '',
  contract_file:'',contract_content:'',
  contract_start_at:'',contract_end_at:'',
  contract_status:0
}

export default {
  name: 'contract_manager',
  components: { Pagination,AddContract },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'new',
      partner: '',
      contractlistLoading: false,
      contract: Object.assign({}, defaultContract),
      search_contract:'',
      check_admin_premission:[]
    }
  },
  computed: {
    ...mapGetters([
      'contractlist',
      'partnerlist'
    ])
  },
  filters:{
    //狀態
    contract_status(status){
      const contract_status = {
        0:'未啟用',
        1:'啟用',
      }
      return contract_status[status]
    },
  },
  created() {
    //顯示合作夥伴
    this.getPartner('all')
    // 得知使用者實際擁有權限
    this.getAdminPremission("合約管理")
    this.getContract('1')
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          this.check_admin_premission = []
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
     //顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner',payload)
    },
    // 得知合約模組
    async getContract(payload) {
      this.contractlistLoading = true
      await this.$store.dispatch('contract/getContract',payload)
      this.contractlistLoading = false
    },
    // 新增合約模組按鈕
    handleAddContract() {
      this.contract = Object.assign({}, defaultContract)
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    // 修改合約模組按鈕
    handleEditContract(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      this.contract = deepClone(scope.row)
    },
    download_contract(row){
      window.open(this.upload_path+row.contract_file,'_blank')
    },
    // 點擊分頁合約模組
    async getContractPagination(page, search_contract) {
      var payload = ''
      var _self = this
      if (_self.search_contract == '') {
        payload = page
      }
      if (_self.search_contract != '') {
        payload += page + '?' + search_contract
      }
      this.getContract(payload)
    },
    // 關閉合約模組dialog狀態
    getContractstatus(status) {
      this.dialogVisible = status
    },
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
