<template>
  <div class="app-container">
     <!-- <search-Pushchannel v-on:searchPushchannel="getPushchannel" /> -->
    <el-button type="primary" icon="el-icon-edit" @click="handleAddDocument" v-if="activeTab=='documentlist'">新說明文件模組</el-button>
    <el-button type="primary" icon="el-icon-edit" @click="handleAddDocumentPartner" v-if="activeTab=='documentsetting'">新合作夥伴文件對應文件</el-button>
    <add-document :dialogType="dialogType" :dialogVisible="dialogVisible" :document="document" 
    v-on:getDocumentstatus="getDocumentstatus" v-on:getDocument="getDocument"
    />
    <add-document-partner :dialogpartnerType="dialogpartnerType" :dialogpartnerVisible="dialogpartnerVisible" :documentpartner="documentpartner" 
    v-on:getDocumentPartnerstatus="getDocumentPartnerstatus" v-on:getDocumentPartner="getDocumentPartner"
    />
    <el-tabs v-model="activeTab">
      <!--說明文件開始-->
      <!-- {{documentlist.list}} -->
      <el-tab-pane label="說明文件模組" name="documentlist">
        <el-table v-loading="documentllistLoading" :data="documentlist.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
          <el-table-column align="center" fixed width="130" label="說明文件標題">
            <template slot-scope="scope">
                {{ scope.row.document_title }}
              <br/>
            </template>
          </el-table-column>
          <el-table-column align="center" label="說明文件內文與網址">
            <template slot-scope="scope">
              {{ scope.row.document_content }}<br/>
              {{ scope.row.document_url }}
            </template>
          </el-table-column>
          <el-table-column align="center" label="狀態">
            <template slot-scope="scope">
              <el-tag :type="scope.row.document_status==0 ? 'danger':'primary' " plain>
                {{ scope.row.document_status|switch_open_close }}
              </el-tag>
            </template>
          </el-table-column>
          <el-table-column align="center" width="100" label="操作">
            <template slot-scope="scope">
              <el-button type="primary" @click="handleEditDocument(scope)">編輯</el-button><br/>
            </template>
          </el-table-column>
        </el-table>
        <pagination
          :total="documentlist.count"
          :page.sync="documentlist.nowpages"
          :limit.sync="documentlist.limit"
          @pagination="getDocuentPagination(documentlist.nowpages,search_document)"
        />
      </el-tab-pane>
      <!--說明文件結束-->
      <!-- 設定相對應合作夥伴文件開始 -->
      <el-tab-pane label="設定相對應合作夥伴文件" name="documentsetting">
        <el-table v-loading="documentSettingLoading" :data="documentpartnerlist.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
          <el-table-column align="center" fixed width="130" label="合作夥伴名稱">
            <template slot-scope="scope">
                {{ scope.row.partner_name }}
              <br/>
            </template>
          </el-table-column>
          <el-table-column align="center" fixed label="對應說明文件模組">
            <template slot-scope="scope">
              <el-tag v-for="item in scope.row.document_detail" style="margin:0 5px;">
                {{item.document_title}}
              </el-tag>
              <br/>
            </template>
          </el-table-column>
          <el-table-column align="center" width="100" label="操作">
            <template slot-scope="scope">
              <el-button type="primary" @click="handleEditDocumentPartner(scope)">編輯</el-button><br/>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
       <!-- 設定相對應合作夥伴文件結束 -->
    </el-tabs>

    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import path from 'path'
import { deepClone } from '@/utils'
import Pagination from '@/components/Pagination'
import AddDocument from './component/AddDocument.vue'
import AddDocumentPartner from './component/AddDocumentPartner.vue'
// import SearchPushchannel from './component/SearchPushchannel.vue'

const defaultDocument = {
  document_title: '',document_content:'',
  document_status: 0,document_url:'https://www.youtube.com/embed/'
}
const defaultDocumentPartner = {
  partner_id: '',document_id:[],
}

export default {
  name: 'document_manager',
  components: { Pagination,AddDocument,AddDocumentPartner },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'new',
      dialogpartnerVisible: false,
      dialogpartnerType: 'new',
      documentllistLoading: false,
      documentSettingLoading:false,
      search_document:'',
      search_document_partner:'',
      document: Object.assign({}, defaultDocument),
      documentpartner: Object.assign({}, defaultDocumentPartner),
      activeTab:'documentlist'
    }
  },
  computed: {
    // ...mapGetters([
    //   'documentlist'
    // ])
    documentlist(){
        return this.$store.state.document.documentlist
    },
    documentpartnerlist(){
        return this.$store.state.document.documentpartnerlist
    }
  },
  filters:{
    //狀態
    switch_open_close(status){
      const switch_open_close = {
        0:'關閉',
        1:'開啟',
      }
      return switch_open_close[status]
    },
  },
  created() {
    // 得知所有的說明文件模組
    this.getDocument(1)
    // 得知所有說明文件對應合作夥伴
    this.getDocumentPartner(1)
  },
  methods: {
    // 顯示說明文件模組
    async getDocument(page) {
      await this.$store.dispatch('document/getDocument',page)
    },
    // 顯示說明文件對應合作夥伴
    async getDocumentPartner(page) {
      await this.$store.dispatch('document/getDocumentPartner',page)
    },
    // 新增說明文件模組
    handleAddDocument() {
      this.document = Object.assign({}, defaultDocument)
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    // 修改說明文件模組
    handleEditDocument(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      // console.log("scope.row",scope.row)
      this.document = deepClone(scope.row)
    },
    // 關閉說明文件模組dialog狀態
    getDocumentstatus(status) {
      this.dialogVisible = status
    },
    async getDocuentPagination(page, search_document) {
      var payload = ''
      var _self = this
      if (_self.search_document == '') {
        payload = page
      }
      if (_self.search_document != '') {
        payload += page + '?' + search_document
      }
      this.getDocument(payload)
    },
    // 新增說明文件對應合作夥伴
    handleAddDocumentPartner() {
      this.documentpartner = Object.assign({}, defaultDocumentPartner)
      this.dialogpartnerType = 'new'
      this.dialogpartnerVisible = true
    },
    // 修改說明文件對應合作夥伴
    handleEditDocumentPartner(scope) {
      this.dialogpartnerType = 'edit'
      this.dialogpartnerVisible = true
      // console.log("scope.row",scope.row)
      this.documentpartner = deepClone(scope.row)
    },
    // 關閉說明文件對應合作夥伴dialog狀態
    getDocumentPartnerstatus(status) {
      this.dialogpartnerVisible = status
    },
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
