<template>
  <div class="app-container">
    <el-row :gutter="20" v-loading="documentlistLoading">
      <!-- {{documentlist}} -->
      <!-- {{partner}} -->
      <el-col :xs="24" :sm="24" :lg="24" :xl="24">
        <el-select v-model="partner" placeholder="請選擇合作夥伴" filterable default-first-option style="margin:auto 10px;"
          @change="chosenPartner">
          <el-option v-for="item in partnerlist.list" :key="item.partner_id" :label="item.partner_name"
            :value="item.partner_id" />
        </el-select>
      </el-col>
      <!-- {{documentpartnerlist.list[0]}} -->
      <!-- {{documentpartnerlist.count}} -->
      <!-- documentpartnerlist.list[0].document_detail -->
      <div v-if="documentpartnerlist.count==1">
        <el-col :xs="23" :sm="23" :lg="7" :xl="7" :offset="1"
          v-for="(item,index) in documentpartnerlist.list[0].document_detail" :key="index">
          <el-card shadow="hover" class="box-card" style="margin:15px 0; max-height:450px;">
            <div slot="header" class="clearfix">
              <span>{{item.document_title}}</span>
              <el-link icon="el-icon-link" style="float: right; padding: 3px 0" :href="item.document_url"
                target="_blank">另開連結</el-link>
            </div>
            <div style="margin-bottom:10px;text-align:center;">
              {{item.document_content}}
            </div>
            <div style="margin-bottom:10px;">
              <iframe width="100%" height="350" :src="item.document_url" frameborder="0" allowfullscreen></iframe>
            </div>
          </el-card>
        </el-col>
      </div>
      <div v-else>
        <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="color:red; margin:auto; font-size:35px; text-align:center;">
          找無說明文件影片
        </el-col>
        <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="margin:5% 0; font-size:20px; text-align:center;">
          請利用「設定模組/說明文件模組」設定合作夥伴對應影片
        </el-col>
      </div>
    </el-row>
    <!-- <a class="document-btn" target="_blank" href="https://store.akveo.com/products/vue-java-admin-dashboard-spring?utm_campaign=akveo_store-Vue-Vue_demo%2Fgithub&utm_source=vue_admin&utm_medium=referral&utm_content=demo_English_button">Java backend integration</a>
    <a class="document-btn" target="_blank" href="https://panjiachen.github.io/vue-element-admin-site/">Documentation</a>
    <a class="document-btn" target="_blank" href="https://github.com/PanJiaChen/vue-element-admin/">Github Repository</a>
    <a class="document-btn" target="_blank" href="https://panjiachen.gitee.io/vue-element-admin-site/zh/">国内文档</a>
    <dropdown-menu class="document-btn" :items="articleList" title="系列文章" />
    <a class="document-btn" target="_blank" href="https://panjiachen.github.io/vue-element-admin-site/zh/job/">内推招聘</a> -->
  </div>
</template>

<script>
  // import DropdownMenu from '@/components/Share/DropdownMenu'
  import { mapGetters } from 'vuex'
  export default {
    name: 'Documentation',
    // components: { DropdownMenu },
    computed: {
      ...mapGetters([
        'partnerlist',
      ]),
      documentpartnerlist() {
        return this.$store.state.document.documentpartnerlist
      }
    },
    data() {
      return {
        documentlistLoading: false
      }
    },
    async created() {
      // 顯示合作夥伴
      await this.getPartner('all')
      await this.initPartner()
    },
    methods: {
      // 顯示合作夥伴
      async getPartner(page) {
        var payload = ''
        payload = page + '?' + 'partner_open_close=1'
        await this.$store.dispatch('partner/getPartner', payload)
      },
      async chosenPartner(partner) {
        var payload = ''
        payload = 'all?' + 'partner_id=' + partner
        this.documentlistLoading = true
        await this.$store.dispatch('document/getDocumentPartner', payload)
        this.documentlistLoading = false
      },
      //剛開始直接設定預設的partner
      async initPartner() {
        await this.partnerlist.list.forEach(async (element, index) => {
          if (index == 0) {
            console.log("show_first_init_partner", element.partner_id)
            this.partner = element.partner_id
            this.chosenPartner(element.partner_id)
          }
        })
      },
    },
    // 離開說明文件恢復預設說明文件模組內容
    beforeRouteLeave(to, from, next) {
      //恢復所有搜尋狀況
      this.search_partner = 'partner_open_close=1'
      // 得知說明文件模組內容
      this.$store.dispatch('document/getDocumentPartner', 1)
      next()
    }
  }
</script>