<template>
  <div class="app-container">
     <!-- <search-Pushchannel v-on:searchPushchannel="SearchAllPushchannel" v-if='this.check_admin_premission.includes("search_btn")' /> -->
    <el-select
      v-model="partner"
      placeholder="請選擇合作夥伴"
      filterable
      default-first-option
      style="margin:auto 10px;"
      @change="chosenPartner"
    >
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id"
      />
    </el-select>
    <el-button type="primary" icon="el-icon-edit" @click="handleAddPushchannelGroup" v-if='this.check_admin_premission.includes("insert_btn")' :disabled="this.partner==''?true:false">新line_notify群組模組</el-button>
    <!-- {{dialogType}}
    {{dialogVisible}} -->
    <add-notify-group
      :dialog-type="dialogType"
      :dialog-visible="dialogVisible"
      :pushchannelgroup="pushchannelgroup"
      @getGroup="getPushchannelgroup"
      @getGroupstatus="getGroupstatus"
    />
    <el-table v-loading="pushchannellistGroupLoading" :data="pushchannelgrouplist.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
      <el-table-column align="center" fixed width="130" label="合作夥伴/狀態">
        <template slot-scope="scope">
          <el-tag type="primary" plain v-if="scope.row.partner_name!=null">
            {{ scope.row.partner_name }}
          </el-tag>
          <el-tag type="danger" plain v-if="scope.row.partner_name==null">
            無
          </el-tag>
          <br/>
          <el-tag style="margin:10px 0;" size="medium" effect="plain" @click="not_bind_notify_group(scope.row)" v-if="scope.row.push_channel_group_token==''" type="danger">未綁定</el-tag>
          <el-tag style="margin:10px 0;" size="medium" effect="plain" @click="confirm_revoke_notify_group(scope.row)" v-else>已綁定</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="群組token">
        <template slot-scope="scope">
          {{ scope.row.push_channel_group_token }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="群組名稱">
        <template slot-scope="scope">
          {{ scope.row.push_channel_group_title }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="更新日期">
        <template slot-scope="scope">
          {{ scope.row.push_channel_group_datetime }}
        </template>
      </el-table-column>
      <el-table-column align="center" width="100" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditPushchannelGroup(scope)">編輯</el-button><br/>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="pushchannelgrouplist.count"
      :page.sync="pushchannelgrouplist.nowpages"
      :limit.sync="pushchannelgrouplist.limit"
      @pagination="getPushchannelGroupPagination(pushchannelgrouplist.nowpages,search_pushchannelgroup)"
    />

    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Pagination from '@/components/Pagination'
import AddNotifyGroup from './component/AddNotifyGroup'
import path from 'path'
import { deepClone } from '@/utils'
// import AddPushchannel from './component/AddPushchannel.vue'
import { getAdminPremission } from '@/api/premission_manager'
import { BindLineaccesstokengroup,NotBindLineaccesstokengroup } from '@/api/push_channel'
// import SearchPushchannel from './component/SearchPushchannel.vue'

const defaultPushChannelGroup = {
  partner_id: '',push_channel_group_token: '',
  push_channel_group_title:''
}

export default {
  name: 'line_notify_group_manager',
  components: { Pagination,AddNotifyGroup },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'new',
      partner: '',
      pushchannellistGroupLoading: false,
      pushchannelgroup: Object.assign({}, defaultPushChannelGroup),
      search_pushchannelgroup:'',
      check_admin_premission:[]
    }
  },
  computed: {
    ...mapGetters([
      'pushchannelgrouplist',
      'partnerlist'
    ])
  },
  filters:{
    //狀態
    switch_open_close(status){
      const switch_open_close = {
        0:'未啟用',
        1:'啟用',
      }
      return switch_open_close[status]
    },
  },
  created() {
    //顯示合作夥伴
    this.getPartner('all')
    // 得知使用者實際擁有權限
    this.getAdminPremission("line_notify群組管理")
    // 新增綁定還是更新綁定
    if(this.$route.query.code){
        this.getbindlinenotifygroup()
    }
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          this.check_admin_premission = []
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
     //顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner',payload)
    },
    // 切換所有合作夥伴的群組模組
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultPushChannelGroup['partner_id'] = this.partner
        this.search_pushchannelgroup = query
      } else {
        this.search_pushchannelgroup = query
      }
      // console.log("defaultAdmin['partner_id']", defaultAdmin['partner_id'])
      this.getPushchannelgroup(1, query)
    },
    // 顯示推播模組
    async getPushchannelgroup(page, group) {
      var payload = ''
      if (this.search_pushchannelgroup == '') {
        payload = page
      }
      if (this.search_pushchannelgroup != '') {
        payload += page + '?' + group
      }
      await this.$store.dispatch('push_channel/getPushchannelGroup',payload)
    },
    //[更新]未綁定line_notify群組觸發
    not_bind_notify_group(row){
      location.href =
        "https://notify-bot.line.me/oauth/authorize?" +
        "response_type=code" +
        "&client_id=3fgPyq8BfyfNSjJzcfXqPq" +
        "&redirect_uri="+window.location.href.split('?')[0] +
        "&scope=notify" +
        "&state=update"+
        ";"+row.partner_id+
        ";"+row.push_channel_group_id+
        ";"+row.push_channel_group_title; // 自定義String防止CSRF攻擊
        // "&partner_id="+row.partner_id+
        // "&push_channel_id="+row.push_channel_group_id+
        // "&push_channel_group_title="+row.push_channel_group_title;
    },
    // 綁定line notify group
    async getbindlinenotifygroup() {
        var payload = {}
        //切字串
        var all_route_data = this.$route.query.state.split(';')
        // console.log(all_route_data)
    //     // 判斷群組管理是更新綁定
        if(all_route_data[0]=='update'){
            payload = {
                'code': this.$route.query.code,
                'partner_id':  all_route_data[1],
                'push_channel_group_id': parseInt(all_route_data[2]),
                'push_channel_group_title': all_route_data[3]
            }
        }else{
            payload = {
                'code': this.$route.query.code,
                'partner_id':  all_route_data[1],
                'push_channel_group_title': all_route_data[2]
            }
        }
        console.log("payload: ",payload)
      await BindLineaccesstokengroup(payload).then((resp)=>{
        this.$message({
          type: resp.success==true?'success':'error',
          message: resp.message
        })
        this.$router.push({'path': '/settings/line_notify_group_manager'})
      })
      await this.$store.dispatch('push_channel/getPushchannelGroup','1?partner_id='+all_route_data[1])
    },
    // 取消綁定 line notify group
    confirm_revoke_notify_group(row) {
      this.$confirm('是否要解除綁定『'+row.push_channel_group_title+'』群組', '解除綁定群組', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(async() => {
          await this.$store.dispatch('push_channel/NotBindLineaccesstokengroup',{
            "push_channel_group_id": row.push_channel_group_id,
            "partner_id": row.partner_id.toString(),
            "push_channel_group_title": row.push_channel_group_title
          })
          this.partner = row.partner_id.toString()
          await this.$store.dispatch('push_channel/getPushchannelGroup','1?partner_id='+this.partner)
        })
    },
    // 新增推播模組按鈕
    handleAddPushchannelGroup() {
      this.pushchannelgroup = Object.assign({}, defaultPushChannelGroup)
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    // 修改推播模組按鈕
    handleEditPushchannelGroup(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = scope.row.partner_id.toString()
      this.pushchannelgroup = deepClone(scope.row)
    },
    // 搜尋所有推播模組
    SearchAllPushchannelGroup(query) {
      this.search_pushchannel = '1?'+query

    //   console.log('query', query)
      this.getPushchannelgroup(this.search_pushchannelgroup)
    },
    // 點擊分頁群組模組
    async getPushchannelGroupPagination(page, search_pushchannelgroup) {
      var payload = ''
      var _self = this
      if (_self.search_pushchannelgroup == '') {
        payload = page
      }
      if (_self.search_pushchannelgroup != '') {
        payload += page + '?' + search_pushchannelgroup
      }
      this.getPushchannelgroup(payload)
    },
    // 關閉合作夥伴dialog狀態
    getGroupstatus(status) {
      this.dialogVisible = status
    },
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
