<template>
  <div class="tab-container">
    <!-- {{activeName}} -->
    <search-Login-Record v-on:searchLoginRecord="searchLoginRecord" v-if="activeName=='all_login_record'"/>
    <search-Log-Record v-on:searchLogRecord="searchLogRecord" v-if="activeName=='all_log_record'"/>
    <el-tabs v-model="activeName" style="margin-top:15px; width:100%;" type="border-card">
      <el-tab-pane v-for="item in tabLogRecordOptions" :key="item.key" :label="item.label" :name="item.key">
        <keep-alive>
          <All-Log-Record v-if="activeName==item.key" 
          :type="item.key"
          :search_login_record_data_times="search_login_record_data_times"
          :search_log_record_data_times="search_log_record_data_times"
           />
        </keep-alive>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import AllLogRecord from './component/AllLogRecord.vue'
import SearchLoginRecord from './component/SearchLoginRecord.vue'
import SearchLogRecord from './component/SearchLogRecord.vue'
export default {
  components: { AllLogRecord, SearchLoginRecord, SearchLogRecord },
  data() {
    return {
      tabLogRecordOptions: [
        { label: '所有登入紀錄', key: 'all_login_record' },
        { label: '所有操作記錄', key: 'all_log_record' }
      ],
      activeName: 'all_login_record',
      // 所有登入紀錄搜尋資料帶出
      search_login_record_data_times: '',
      // 所有操作紀錄搜尋資料帶出
      search_log_record_data_times: ''
    }
  },
  watch: {
    activeName(val) {
      this.$router.push(`${this.$route.path}?tab=${val}`)
    }
  },
  created() {
    // init the default selected tab
    const tab = this.$route.query.tab
    if (tab) {
      this.activeName = tab
    }
  },
  methods: {
    // 所有登入紀錄搜尋資料帶出
    searchLoginRecord(query) {
      this.search_login_record_data_times = query
      console.log('query', query)
    },
    // 所有操作紀錄搜尋資料帶出
    searchLogRecord(query) {
      this.search_log_record_data_times = query
      console.log('query1229', query)
    }
  }
}
</script>

<style scoped>
  .tab-container {
    margin: 30px;
  }
</style>
