<template>
  <div class="app-container">
     <!-- <search-Admin v-on:searchAdmin="getAllPremission" v-on:searchAdminpartner="switchPartner" /> -->
    <el-button type="primary" icon="el-icon-plus" @click="handleAddAdmin" v-if='this.check_admin_premission.includes("insert_btn")'>新權限模組</el-button>
    <!-- {{partner}} -->
    <el-select v-model="partner" placeholder="請選擇合作夥伴" @change="chosenPartner" 
    filterable default-first-option clearable style="margin:auto 10px;">
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id">
      </el-option>
    </el-select>
    <!-- {{partnerlist}} -->
  <!-- {{PartnerList}} -->
  <!-- {{partner}}
  {{PremissionList}} -->
  <!-- {{PremissionList}}
  {{dialogVisible}} -->
    <add-Premission :dialogType="dialogType" :dialogVisible="dialogVisible" :premission="premission" 
    v-on:getAdmin="getAdminemit" v-on:getPremissionstatus="getPremissionstatus"
    />
    <!-- {{premissionroleslist}} -->
    <el-table v-loading="premissionlistLoading" :data="premissionroleslist" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
      <!-- <el-table-column align="center" fixed width="170" label="合作夥伴">
        <template slot-scope="scope">
          <el-tag type="primary" plain v-if="scope.row.partner_name!=null">
            {{ scope.row.partner_name }}
          </el-tag>
          <el-tag type="danger" plain v-if="scope.row.partner_name==null">
            無
          </el-tag>
          <br/>
        </template>
      </el-table-column> -->
      <el-table-column align="left" label="角色">
        <template slot-scope="scope">
          <el-tag size="medium" type="primary" plain style="margin:5px 0;font-size:20px;">
            {{ scope.row.roles_name }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="left" label="權限">
          <!-- <el-tag size="medium" type="primary" plain style="margin:5px 0;">
            {{ scope.row.roles_name }}
          </el-tag> -->
        <template slot-scope="scope">
          <div style="margin:0 5px;" v-for="partner_roles_detail_list in scope.row.partner_roles_detail">
          <!-- <el-tag> -->
            <el-tag size="medium" type="primary" plain style="font-size:20px; margin:10px 5px;">{{ partner_roles_detail_list.premission_meta_title }}</el-tag>
            <!-- <span style="font-size:20px;color:black;">{{ partner_roles_detail_list.premission_meta_title }}</span> -->
              <span style="margin:0 5px; font-size:18px; color:black;" v-if="partner_roles_detail_list.insert_btn=='1'">新增</span>
              <span style="margin:0 5px; font-size:18px; color:black;" v-if="partner_roles_detail_list.update_btn=='1'">修改</span>
              <span style="margin:0 5px; font-size:18px; color:black;" v-if="partner_roles_detail_list.search_btn=='1'">搜尋</span>
            <!-- <div style="margin:0 5px;" v-if="partner_roles_detail_list.insert_btn=='1'">-新增</div>
            <div style="margin:0 5px;" v-if="partner_roles_detail_list.update_btn=='1'">-修改</div>
            <div style="margin:0 5px;" v-if="partner_roles_detail_list.search_btn=='1'">-搜尋</div> -->
          <!-- </el-tag> -->
          </div>
        </template>
      </el-table-column>
      <el-table-column align="left" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
          <el-button type="primary" icon="el-icon-edit" @click="handleEditAdmin(scope)">編輯</el-button><br/>
        </template>
      </el-table-column>
    </el-table>

    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import path from 'path'
import { deepClone } from '@/utils'
import { getPremission } from '@/api/premission_manager'
import AddPremission from './component/AddPremission.vue'
import { getAdminPremission } from '@/api/premission_manager'
import SearchAdmin from './component/SearchAdmin.vue'

const defaultPremission = {
  partner_id:'',roles_id:null
}

export default {
  name: 'premission_manager',
  components: { SearchAdmin,AddPremission },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'new',
      partner:'',
      premissionlistLoading:false,
      premission: Object.assign({}, defaultPremission),
      check_admin_premission:[]
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
      'premissionroleslist'
    ])
  },
  filters:{
    //狀態
    switch_status(status){
      const switch_status = {
        0:'未啟用',
        1:'啟用',
      }
      return switch_status[status]
    },
  },
  async created() {
    //顯示合作夥伴
    await this.getPartner('all')
    //預設帶入第一個partner_id
    await this.initPartner()
    // 得知使用者實際擁有權限
    await this.getAdminPremission("權限管理")
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
     // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner',payload)
    },
     // 顯示所有合作夥伴權限模組
    async getAllPremission(page) {
      this.premissionlistLoading = true
      console.log("page",page)
      await this.$store.dispatch('premission/getPremissionRoles',page)
      this.premissionlistLoading = false
    },
    //切換所有合作夥伴的權限模組
    chosenPartner(){
      var query = ''
      if(this.partner!=''){
            query+= 'all?partner_id='+this.partner
            defaultPremission['partner_id'] = this.partner
      }
      if(this.partner==''){
        query+= 'all?partner_open_close=1'
      }
      // console.log("defaultPremission['partner_id']", defaultPremission['partner_id'])
      this.getAllPremission(query)
    },
    //帶出所有已新增合作夥伴的管理模組
    getAdminemit(partner_id){
      var query = ''
      // console.log("partner_id",partner_id)
      if(partner_id!=''){
            query+= 'all?partner_id='+partner_id
            defaultPremission['partner_id'] = partner_id
            this.partner = partner_id
            // console.log("this.partner",partner_id)
      }
      // console.log("query",query)
      // console.log("defaultPremission['partner_id']", defaultPremission['partner_id'])
      this.getAllPremission(query)
    },
    //新增管理模組按鈕
    handleAddAdmin() {
      this.premission = Object.assign({}, defaultPremission)
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    //修改管理模組按鈕
    handleEditAdmin(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      console.log("scope.row",scope.row)
      this.premission = deepClone(scope.row)
    },
    //關閉權限模組dialog狀態
    getPremissionstatus(status){
      this.dialogVisible = status
    },
    //搜尋切換合作夥伴
    switchPartner(partner_id){
      //搜尋有帶出合作夥伴
      if(partner_id!=''){
        defaultAdmin['partner_id'] = partner_id
        this.partner = partner_id
      }
      //搜尋沒有帶出合作夥伴
      if(partner_id==''){
        defaultAdmin['partner_id'] = ''
        this.partner = ''
      }
    },
    //剛開始直接設定預設的partner
    async initPartner(){
        await this.partnerlist.list.forEach((element,index)=>{
          if(index==0){
            console.log("show_first_init_partner",element.partner_id)
            this.partner = element.partner_id
            //切換所有合作夥伴的權限模組
            this.chosenPartner()
          }
          console.log("show_all_init_partner",element.partner_id)
        })
    },
  },
  // 離開權限管理
  beforeRouteLeave(to, from, next) {
    // 得知使用者實際擁有權限
    this.getAdminPremission("權限管理")
    next()
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
