<template>
  <div class="app-container">
     <search-Pushchannel v-on:searchPushchannel="SearchAllPushchannel" v-if='this.check_admin_premission.includes("search_btn")' />
    <el-button type="primary" icon="el-icon-edit" @click="handleAddPushchannel" v-if='this.check_admin_premission.includes("insert_btn")'>新推播模組</el-button>
    <add-Pushchannel :dialogType="dialogType" :dialogVisible="dialogVisible" :pushchannel="pushchannel" 
    v-on:getPushchannelstatus="getPushchannelstatus" v-on:getPushchannel="getPushchannel"
    />
    <el-table v-loading="pushchannellistLoading" :data="pushchannellist.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
      <el-table-column align="center" fixed width="130" label="合作夥伴/狀態">
        <template slot-scope="scope">
          <el-tag type="primary" plain v-if="scope.row.partner_name!=null">
            {{ scope.row.partner_name }}
          </el-tag>
          <el-tag type="danger" plain v-if="scope.row.partner_name==null">
            無
          </el-tag>
          <br/>
          <el-tag style="margin:10px 0;" v-if="scope.row.partner_open_close==1">{{ scope.row.partner_open_close | switch_open_close }}</el-tag>
          <el-tag style="margin:10px 0;" v-if="scope.row.partner_open_close==0" type="danger">{{ scope.row.partner_open_close | switch_open_close }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="推播token">
        <template slot-scope="scope">
          {{ scope.row.push_channel_token }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="推播新增日期">
        <template slot-scope="scope">
          {{ scope.row.push_channel_datetime }}
        </template>
      </el-table-column>
      <el-table-column align="center" width="100" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditPushchannel(scope)">編輯</el-button><br/>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="pushchannellist.count"
      :page.sync="pushchannellist.nowpages"
      :limit.sync="pushchannellist.limit"
      @pagination="getPushchannelPagination(pushchannellist.nowpages,search_pushchannel)"
    />

    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Pagination from '@/components/Pagination'
import path from 'path'
import { deepClone } from '@/utils'
import AddPushchannel from './component/AddPushchannel.vue'
import { getAdminPremission } from '@/api/premission_manager'
import SearchPushchannel from './component/SearchPushchannel.vue'

const defaultPushChannel = {
  partner_id: '',push_channel_token: '',
  partner_open_close: 0,is_bind_line_notify:false
}

export default {
  name: 'push_channel_manager',
  components: { Pagination,AddPushchannel,SearchPushchannel },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'new',
      pushchannellistLoading: false,
      pushchannel: Object.assign({}, defaultPushChannel),
      search_pushchannel:'',
      check_admin_premission:[]
    }
  },
  computed: {
    ...mapGetters([
      'pushchannellist',
      'partnerlist'
    ])
  },
  filters:{
    //狀態
    switch_open_close(status){
      const switch_open_close = {
        0:'未啟用',
        1:'啟用',
      }
      return switch_open_close[status]
    },
  },
  created() {
    //得知所有的推播模組
    this.getPushchannel(1)
    //顯示合作夥伴
    this.getPartner('all')
    // 得知使用者實際擁有權限
    this.getAdminPremission("推播模組")
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          this.check_admin_premission = []
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
     //顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner',payload)
    },
    // 顯示推播模組
    async getPushchannel(page) {
      await this.$store.dispatch('push_channel/getPushchannel',page)
    },
    // 新增推播模組按鈕
    handleAddPushchannel() {
      this.pushchannel = Object.assign({}, defaultPushChannel)
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    // 修改推播模組按鈕
    handleEditPushchannel(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      // console.log("scope.row",scope.row)
      this.pushchannel = deepClone(scope.row)
    },
    // 關閉推播模組dialog狀態
    getPushchannelstatus(status) {
      this.dialogVisible = status
    },
    // 搜尋所有推播模組
    SearchAllPushchannel(query) {
      this.search_pushchannel = '1?'+query

    //   console.log('query', query)
      this.getPushchannel(this.search_pushchannel)
    },
    // 點擊分頁推播模組
    async getPushchannelPagination(page, search_pushchannel) {
      var payload = ''
      var _self = this
      if (_self.search_pushchannel == '') {
        payload = page
      }
      if (_self.search_pushchannel != '') {
        payload += page + '?' + search_pushchannel
      }
      this.getPushchannel(payload)
    }
  },
  // 離開推播管理
  beforeRouteLeave(to, from, next) {
    // 得知使用者實際擁有權限
    this.getAdminPremission("推播模組")
    next()
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
