<template>
  <div class="app-container">
    <!-- <search-Hotnews @searchHotnews="SearchAllhotnews" @searchHotnewspartner="switchPartner" v-if='this.check_admin_premission.includes("search_btn")' /> -->
    <!-- <el-button type="primary" icon="el-icon-edit" @click="handleAddHotnews" v-if='this.check_admin_premission.includes("insert_btn")'>新最新消息</el-button> -->
    <!-- {{partner}} -->
    <!-- {{health}} -->
    <el-select
      v-model="partner"
      placeholder="請選擇合作夥伴"
      filterable
      default-first-option
      style="margin:auto 10px;"
      @change="chosenPartner"
    >
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id"
      />
    </el-select>
    <!-- {{partnerlist}} -->
    <!-- {{PartnerList}} -->
    <!-- {{partner}}
  {{HealthList}}
  {{dialogVisible}} -->
    <add-health
      :dialog-type="dialogType"
      :dialog-visible="dialogVisible"
      :health="health"
      @getHealth="getHealthemit"
      @getHealthstatus="getHealthstatus"
    />
    <!-- {{HealthList }} -->
    <el-table v-loading="healthlistLoading" :data="HealthList.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
      <el-table-column align="center" fixed width="170" label="授權狀態">
        <template slot-scope="scope">
        <el-switch
        v-model="scope.row.healthstyle_status==1?true:false"
        @change="check_class_level(scope.row.name,scope.row.mid,scope.row.class_level,scope.row.healthstyle_status)"
        active-text="已授權"
        inactive-text="未授權">
        </el-switch>
        </template>
      </el-table-column>
      <el-table-column align="center" label="學員名稱/課程狀態/授權狀態">
        <template slot-scope="scope">
          {{ scope.row.name }}<br>
          <el-tag size="medium" :type="scope.row.class_level==null ?'danger':''" plain style="margin:10px 0;">
            {{ scope.row.class_level | class_level }}
          </el-tag><br/>
          <el-tag size="medium" :type="scope.row.healthstyle_status==0||scope.row.healthstyle_status==null ?'danger':''" plain style="margin:10px 0;">
            {{ scope.row.healthstyle_status | healthstyle_status }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="學員電話/性別/生日/lineID">
        <template slot-scope="scope">
          {{ scope.row.Mobile }}<br>
          {{ scope.row.sex | sex }}<br>
          {{ scope.row.birthday }}<br>
          {{ scope.row.lineID }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="學員來源">
        <template slot-scope="scope">
          <el-tag size="medium" plain>
            {{ scope.row.member_source | member_source }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="180" label="最新一筆量測紀錄">
        <template slot-scope="scope">
          <div v-if="scope.row.measuretime!=null">
          體重： <span style="color:red; font-size:15px;">{{ scope.row.weight }} kg</span><br/>
          體脂： <span style="color:red; font-size:15px;">{{ scope.row.bodyfat }} %</span><br/>
          肌肉量： <span style="color:red; font-size:15px;">{{ scope.row.muscle }} kg</span><br/>
          內脂： <span style="color:red; font-size:15px;">{{ scope.row.lactose }} %</span><br/>
          基礎代謝： <span style="color:red; font-size:15px;">{{ scope.row.BMR }} </span><br/>
          體齡： <span style="color:red; font-size:15px;">{{ scope.row.bodyage}} 歲</span><br/>
          <el-tag size="medium" style="margin:10px 0;" plain>
            {{ scope.row.measuretime }}
          </el-tag>
          </div>
          <div v-else>
            <el-tag size="medium" type="danger" plain>
              無量測紀錄
            </el-tag>
          </div>
        </template>
      </el-table-column>
      <el-table-column align="center" width="180" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
        <!-- {{scope.row.class_level}} -->
        <el-switch
        v-model="scope.row.class_level==2?true:false"
        @change="check_class_status(scope.row.name,scope.row.mid,scope.row.class_level,1)"
        active-text="天使計畫"
        inactive-text="卡客">
        </el-switch>

        <el-button type="primary" @click="handleHealthprofile(scope.row.mid,scope.row.class_level)" icon="el-icon-user" style="margin:10px 0;">查看</el-button>
        <br/>
        <router-link target="_blank" :to='health_report_path+partner+"/"+scope.row.mid' v-show="scope.row.class_level==2">
          <el-button icon="el-icon-user" type="primary">
            {{scope.row.name}} 學員報告
          </el-button>
        </router-link>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="HealthList.count"
      :page.sync="HealthList.nowpages"
      :limit.sync="HealthList.limit"
      @pagination="getAllHealth(HealthList.nowpages,search_health)"
    />

    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import path from 'path'
import { deepClone } from '@/utils'
import { getStudent,check_class_status } from '@/api/health_manager'
import AddHealth from './component/AddHealth.vue'
import { getAdminPremission } from '@/api/premission_manager'
import SearchHotnews from './component/SearchHotnews.vue'

const defaultHealth = {
  partner_id: '', mid: '',class:''
}

export default {
  name: 'HealthManager',
  components: { AddHealth ,SearchHotnews, Pagination },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'new',
      partner: '',
      HealthList: [],
      healthlistLoading: false,
      health: Object.assign({}, defaultHealth),
      // 圖片網址位置
      upload_path: '',
      //學員報告位置
      health_report_path:'',
      search_health: '',
      check_admin_premission:[]
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  filters: {
    // 性別狀態
    sex(status) {
      const sex = {
        1: '男',
        2: '女'
      }
      return sex[status]
    },
    // 學員授權狀態
    healthstyle_status(status) {
      const healthstyle_status = {
        null: '未填寫',
        0: '未授權',
        1: '已授權'
      }
      return healthstyle_status[status]
    },
    //學員權限
    class_level(status) {
      const class_level = {
        null: '未填寫',
        1: '卡客',
        2: '天使計畫'
      }
      return class_level[status]
    },
    //學員來源
    member_source(status) {
      const member_source = {
        0: '使用端',
        1: '後台',
        2: 'line'
      }
      return member_source[status]
    },
    //聊天機器人頻道綁定狀態
    linebot_channel_bind_status(status) {
      const linebot_channel_bind_status = {
        0: '未綁定',
        1: '已綁定'
      }
      return linebot_channel_bind_status[status]
    },
  },
  created() {
    // 顯示合作夥伴
    this.getPartner('all')
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
    this.health_report_path = '/health/pdf/download/'
    // 得知使用者實際擁有權限
    this.getAdminPremission("學員模組管理")
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner', payload)
    },
    // 顯示所有合作夥伴學員模組
    async getAllHealth(page, health) {
      var payload = ''
      if (this.search_health == '') {
        payload = page
      }
      if (this.search_health != '') {
        payload += page + '?' + health
      }
      console.log('payload', payload)
      this.healthlistLoading = true
      this.HealthList = []
      getStudent(payload).then(resp => {
        this.HealthList = resp.data
        this.healthlistLoading = false
      })
    },
    // 卡客天使計畫狀態
    check_class_status(member_name,mid,class_status,health_status){
      var class_title =''
      console.log(class_status)
      if(class_status==2){
        class_title='卡客'
        class_status = 1
      }
      else{
        class_title='天使計畫'
        class_status = 2
      }
      var payload = { mid:mid,class_level:class_status,healthstyle_status:health_status }
      this.$confirm('是否切換「'+member_name+'」'+class_title, '驗證權限', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        dangerouslyUseHTMLString:true,
        type: 'warning'
      }).then(async() => {
          await check_class_status(payload).then(resp => {
            if(resp.success==true){
              this.$message({
                message: '驗證成功',
                type: 'success'
              })
              this.chosenPartner()
            }
          })
        })
        .catch(action => {
          if(action=='cancel'){
            //當取消為天使計畫變為卡客
            if(class_status = 2){
              class_status = 1
            }
            //當取消為卡客變為天使計畫
            else{
              class_status = 2
            }
          }
        })
    },
    //授權狀態
    check_class_level(member_name,mid,class_level,health_status){
      var class_title =''
      console.log(health_status)
      if(health_status==1){
        health_status = 0
        class_title='未授權 狀態'
      }
      else{
        health_status = 1
        class_title='已授權 狀態'
      }
      var payload = { mid:mid,class_level:class_level,healthstyle_status:health_status }
      this.$confirm('是否切換「'+member_name+'」'+class_title, '驗證權限', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        dangerouslyUseHTMLString:true,
        type: 'warning'
      }).then(async() => {
          await check_class_status(payload).then(resp => {
            if(resp.success==true){
              this.$message({
                message: '驗證成功',
                type: 'success'
              })
              this.chosenPartner()
            }
          })
        })
        .catch(action => {
          if(action=='cancel'){
            //當取消為授權變為未授權
            if(class_status = 1){
              class_status = 0
            }
            //當取消為未授權變為授權
            else{
              class_status = 1
            }
          }
        })
    },
    // 切換所有合作夥伴的最新消息
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultHealth['partner_id'] = this.partner
        defaultHealth['mid'] = ''
        defaultHealth['class'] = ''
        this.health = Object.assign({}, defaultHealth)
        this.search_health = query
      } else {
        this.search_health = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllHealth(1, query)
    },
    // 帶出所有已新增合作夥伴的最新消息
    getHealthemit(partner_id) {
      var query = ''
      // console.log("partner_id",partner_id)
      if (partner_id != '') {
        query += 'partner_id=' + partner_id
        defaultHealth['partner_id'] = partner_id
        this.health = Object.assign({}, defaultHealth)
        this.partner = partner_id
        // console.log("this.partner",partner_id)
        this.search_health = query
      } else {
        this.search_health = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllHealth(1, query)
    },
    // 查看學員按鈕
    handleHealthprofile(mid,class_level) {
      defaultHealth['mid'] = mid
      defaultHealth['class'] = class_level
      this.health = Object.assign({}, defaultHealth)
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    // 關閉合作夥伴dialog狀態
    getHealthstatus(status) {
      this.dialogVisible = status
    },
    // 搜尋切換合作夥伴
    switchPartner(partner_id) {
      // 搜尋有帶出合作夥伴
      if (partner_id != '') {
        defaultHealth['partner_id'] = partner_id
        this.partner = partner_id
        this.health = Object.assign({}, defaultHealth)
      }
      // 搜尋沒有帶出合作夥伴
      if (partner_id == '') {
        defaultHealth['partner_id'] = ''
        this.partner = ''
        this.health = Object.assign({}, defaultHealth)
      }
    },
    // 搜尋所有常見問題管理
    SearchAllhotnews(query) {
      this.search_health = query
      console.log('query', query)
      this.getAllHealth(1, this.search_health)
    }
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
