<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新商品基本資料':'新增商品基本資料'"
    :before-close="closeAddAppointShop" center fullscreen
    append-to-body
    >
        <!-- {{appointshop}} -->
      <el-form :rules="AppointShopRules" status-icon ref="appointshop" :model="appointshop" label-position="right">
          <!-- {{banner}}
          {{upload_path+origin_image}} -->
        <!-- 新增管理者 start -->
        <add-Admin
          :dialogAdminType="dialogAdminType"
          :dialogAdminVisible="dialogAdminVisible"
          :admin="admin"
          @getAdmin="getAllAdmin"
          @getAdminstatus="getAdminstatus"
        />
        <div style="text-align:right;">
            <el-button icon="el-icon-plus" type="primary" @click="insertAppointAdmin" v-if="dialogType==='new'">新增管理者</el-button>
        </div>
        <!-- 新增管理者 end -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="8" :lg="8" :xl="8">
            <el-form-item label="類型" prop="reserve_system_shop_basic_class">
              <el-radio-group v-model="appointshop.reserve_system_shop_basic_class" name="reserve_system_shop_basic_class">
                <el-radio-button label=0 :value="0" border>課程</el-radio-button>
                <el-radio-button label=1 :value="1" border>治療師</el-radio-button>
              </el-radio-group>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8">
            <el-form-item label="治療師/課程講師" prop="reserve_system_shop_basic_teacher">
              <br/>
                <el-select
                  v-model="appointshop.reserve_system_shop_basic_teacher"
                  placeholder="治療師/課程講師"
                  filterable
                  default-first-option
                  ref="reserve_system_shop_basic_teacher"
                  name="reserve_system_shop_basic_teacher"
                  style="margin:auto 10px;"
                  :loading="adminlistLoading"
                >
                  <el-option
                    v-for="item in AdminList.list"
                    :key="item.id"
                    :label="item.name"
                    :value="item.name"
                  />
                </el-select>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8">
            <el-form-item label="課程名稱">
                <el-input v-model="appointshop.reserve_system_shop_basic_class_name"
                placeholder="課程名稱"
                autocomplete="off"
                :disabled="appointshop.reserve_system_shop_basic_class==0?false:true"
                  />
            </el-form-item>
            </el-col>

            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
            <el-form-item label="預約限制人數開關" prop="reserve_system_shop_basic_limit_switch">
                <br>
              <el-radio-group v-model="appointshop.reserve_system_shop_basic_limit_switch" name="reserve_system_shop_basic_limit_switch">
                <el-radio-button label=0 :value="0" border>未開啟</el-radio-button>
                <el-radio-button label=1 :value="1" border>開啟</el-radio-button>
              </el-radio-group>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
            <el-form-item label="預約限制人數" prop="reserve_system_shop_basic_limit_people">
                <el-input v-model="appointshop.reserve_system_shop_basic_limit_people"
                placeholder="限制人數"
                ref="reserve_system_shop_basic_limit_people"
                name="reserve_system_shop_basic_limit_people"
                autocomplete="off"
                :disabled="appointshop.reserve_system_shop_basic_limit_switch==0?true:false"
                  />
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
            <el-form-item label="商品價錢" prop="reserve_system_shop_basic_price">
                <el-input v-model="appointshop.reserve_system_shop_basic_price"
                placeholder="商品價錢"
                ref="reserve_system_shop_basic_price"
                name="reserve_system_shop_basic_price"
                autocomplete="off"
                  />
            </el-form-item>
            </el-col>
            <el-col :xs="8" :sm="6" :lg="6" :xl="6">
            <el-form-item label="預約商品上下架" prop="reserve_system_shop_basic_status">
                <br>
              <el-radio-group v-model="appointshop.reserve_system_shop_basic_status" name="reserve_system_shop_basic_status">
                <el-radio-button label=0 :value="0" border>下架</el-radio-button>
                <el-radio-button label=1 :value="1" border>上架</el-radio-button>
              </el-radio-group>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="商品描述" prop="reserve_system_shop_basic_note">
                <el-input v-model="appointshop.reserve_system_shop_basic_note"
                placeholder="商品描述"
                type="textarea"
                :rows="3"
                ref="reserve_system_shop_basic_note"
                name="reserve_system_shop_basic_note"
                autocomplete="off"
                  />
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="商品可服務時段設定">
                    <el-button type="primary" @click="insert_shop_service_setting">＋</el-button>
                </el-form-item>
            </el-col>
            <div v-for="(reserve_system_shop_basic_shift,index) in appointshop.reserve_system_shop_basic_shift" :key="index">
                <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                    <i class="el-icon-delete" @click="remove_shop_service_setting(index)" style="color:red;cursor:pointer;" />
                </el-col>
                <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                    <el-form-item label="選擇排定星期" class="el-form-item--small has-error" :prop="'reserve_system_shop_basic_shift.'+index+'.reserve_system_shop_basic_shift_type'" :rules="[{ required: true, message: '排定星期為必填欄位'}]">
                        <el-select
                        v-model="reserve_system_shop_basic_shift.reserve_system_shop_basic_shift_type"
                        placeholder="請選擇排定星期"
                        filterable
                        default-first-option
                        style="margin:auto 10px;"
                        >
                        <el-option label="星期一" :value="1"></el-option>
                        <el-option label="星期二" :value="2"></el-option>
                        <el-option label="星期三" :value="3"></el-option>
                        <el-option label="星期四" :value="4"></el-option>
                        <el-option label="星期五" :value="5"></el-option>
                        <el-option label="星期六" :value="6"></el-option>
                        <el-option label="星期日" :value="7"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                    <el-form-item label="排定開始時間" class="el-form-item--small has-error" :prop="'reserve_system_shop_basic_shift.'+index+'.reserve_system_shop_basic_shift_time_start'" :rules="[{ required: true, message: '排定開始時間為必填欄位'}]">
                        <el-time-select v-model="reserve_system_shop_basic_shift.reserve_system_shop_basic_shift_time_start"
                            :picker-options="{start: '07:00',step: '00:10',end: '22:00'}"
                            placeholder="排定開始時間">
                        </el-time-select>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                    <el-form-item label="排定結束時間" class="el-form-item--small has-error" :prop="'reserve_system_shop_basic_shift.'+index+'.reserve_system_shop_basic_shift_time_end'" :rules="[{ required: true, message: '排定結束時間為必填欄位'}]">
                        <el-time-select v-model="reserve_system_shop_basic_shift.reserve_system_shop_basic_shift_time_end"
                            :picker-options="{start: '07:00',step: '00:10',end: '22:00'}"
                            placeholder="排定結束時間">
                        </el-time-select>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                    <el-form-item label="最後預約時間" class="el-form-item--small has-error" :prop="'reserve_system_shop_basic_shift.'+index+'.reserve_system_shop_basic_shift_last_reserve_time'" :rules="[{ required: true, message: '排定最後預約時間為必填欄位'}]">
                        <el-time-select v-model="reserve_system_shop_basic_shift.reserve_system_shop_basic_shift_last_reserve_time"
                            :picker-options="{start: '07:00',step: '00:10',end: '22:00'}"
                            placeholder="最後預約時間">
                        </el-time-select>
                        <el-button type="primary" style="margin:0 5%;" @click="copy_shop_service_setting(reserve_system_shop_basic_shift.reserve_system_shop_basic_shift_type,reserve_system_shop_basic_shift.reserve_system_shop_basic_shift_time_start,reserve_system_shop_basic_shift.reserve_system_shop_basic_shift_time_end,reserve_system_shop_basic_shift.reserve_system_shop_basic_shift_last_reserve_time)"
                        v-show="reserve_system_shop_basic_shift.reserve_system_shop_basic_shift_time_start!=null&&reserve_system_shop_basic_shift.reserve_system_shop_basic_shift_time_end!=null&&reserve_system_shop_basic_shift.reserve_system_shop_basic_shift_last_reserve_time!=null"
                        >
                        複製
                        </el-button>
                    </el-form-item>
                </el-col>
            </div>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddAppointShop">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmAppointShop('appointshop')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
const defaultAdmin = {
  username: '', name: '',email:'',
  avatar: null, status: 1,
  partner_id: '', phone: '',
  introduction: '', special_day:6,
  roles: 1,validator_mode:0,
  validator_mode_status:0
}
import { postAppointShopList } from '@/api/reservationsystemappointshop'
import { getAdmin } from '@/api/admin_manager'
import AddAdmin from '../../settings/component/AddAdmin.vue'
export default {
name: 'AddAppointShop',
components: { AddAdmin },
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    appointshop:{
        type:Object,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  watch: {
    dialogType:{
        handler: function(val, oldVal) {
          this.getAllAdmin()
        // 得知所有的管理者的權限
        this.getAdminRoles(1)
        },
        immediate: true
    },
  },
  data() {
    return {
      AppointShopRules: {
          // reserve_system_shop_basic_class_name:[
          //   { required: true,message: '治療師科別/課程名稱為必填欄位' },
          // ],
          reserve_system_shop_basic_teacher:[
            { required: true,message: '治療師/課程講師必填欄位' },
          ],
          reserve_system_shop_basic_limit_people:[
            { required: true,message: '限制人數為必填欄位' },
            { required: true,message: '限制人數必須為數字', pattern:/^[0-9\s]*$/ },
          ],
          reserve_system_shop_basic_price:[
            { required: true,message: '限制人數為必填欄位' },
            { required: true,message: '限制人數必須為數字' },
          ],
      },
      loading:false,
      adminlistLoading:false,
      AdminList:[],
      dialogAdminVisible: false,
      dialogAdminType: 'new',
      admin: Object.assign({}, defaultAdmin),
    }
  },
  methods: {
    //關閉選單
    closeAddAppointShop(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    this.$emit('getAppoint_shop_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    //新增管理者
    insertAppointAdmin(){
      defaultAdmin['partner_id'] = this.appointshop.partner_id
      this.admin = Object.assign({}, defaultAdmin)
      this.dialogAdminType = 'new'
      this.dialogAdminVisible = true
    },
    // 關閉人員管理模組dialog狀態
    getAdminstatus(status) {
      this.dialogAdminVisible = status
    },
    //新增商品可服務時段設定
    insert_shop_service_setting(){
        this.appointshop.reserve_system_shop_basic_shift.push(
          {
            "reserve_system_shop_basic_shift_type":null,
            "reserve_system_shop_basic_shift_time_start":null,
            "reserve_system_shop_basic_shift_time_end":null,
            "reserve_system_shop_basic_shift_last_reserve_time":null
          })
    },
    //複製商品可服務時段設定
    copy_shop_service_setting(reserve_system_shop_basic_shift_type,reserve_system_shop_basic_shift_time_start,reserve_system_shop_basic_shift_time_end,reserve_system_shop_basic_shift_last_reserve_time){
        this.appointshop.reserve_system_shop_basic_shift.push(
          {
            "reserve_system_shop_basic_shift_type":reserve_system_shop_basic_shift_type,
            "reserve_system_shop_basic_shift_time_start":reserve_system_shop_basic_shift_time_start,
            "reserve_system_shop_basic_shift_time_end":reserve_system_shop_basic_shift_time_end,
            "reserve_system_shop_basic_shift_last_reserve_time":reserve_system_shop_basic_shift_last_reserve_time
          })
    },
    //刪除商品可服務時段設定
    remove_shop_service_setting(index){
        this.appointshop.reserve_system_shop_basic_shift.splice(index,1)
    },
    // 更新與新增商品基本資料
    confirmAppointShop(appointshop) {
      this.$refs[appointshop].validate(valid => {
        if (valid) {
          this.loading = true
          postAppointShopList(this.appointshop)
            .then((resp) => {
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
                })
                this.$emit('getAppointShop')
                this.loading = false
                if(resp.success==true){
                  this.$refs[appointshop].resetFields()
                  this.closeAddAppointShop()
                }
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
      //帶入所有使用者資料
      async getAllAdmin() {
        var payload = ''
          payload += 'all?partner_id=' + this.appointshop.partner_id
        console.log('payload', payload)
        this.adminlistLoading = true
        getAdmin(payload).then(resp => {
          this.AdminList = resp.data
          this.adminlistLoading = false
        })
      },
      // 顯示人員管理模組角色
      async getAdminRoles(page) {
        await this.$store.dispatch('admin/getAdminRoles', page)
      },
  }
}
</script>