<template>
    <el-dialog :visible="dialogOrderVisible" :title="dialogOrderType==='edit'?'更新預約名單':'新增預約名單'"
    :before-close="closeAddAppointOrder"  center
    append-to-body
    width="90%">
    <!-- {{appointorder}} -->
    <!-- {{reserve_system_memberinfo}} -->
    <!-- {{appoint_single_schedule_List}} -->
        <!-- 新會員按鈕 start -->
        <div style="text-align:right;">
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-button type="primary" icon="el-icon-plus" v-show="dialogOrderType==='new'" @click="insertmember" style="float:right; margin:5px 0;">新增會員</el-button>
            </el-col>
        </el-row>
        </div>
        <AddMember :member="member" :dialogMemberType="dialogMemberType" :dialogMemberVisible="dialogMemberVisible" @getAllAppointMember="getAllAppointMember" @getMember_status_dialogtype="getMember_status_dialogtype" />
        <!-- 新會員按鈕 end -->
        <!-- 已報到無法更動狀態提示 start -->
        <div v-show="dialogOrderType==='edit'">
            <el-alert
            title="已報到無法更動預約狀態"
            type="error"
            :closable="false"
            show-icon
            v-show="appointorder.reserve_system_join_status==1"
            >
            </el-alert>
        </div>
        <!-- 已報到無法更動狀態提示 end -->
        <el-form :rules="OrderRules" status-icon ref="appointorder" :model="appointorder" label-position="right">
            <el-row :gutter="20">
                <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-if="dialogOrderType==='edit'">
                    <el-form-item label="訂單編號">
                        <br/>
                        <el-tag style="font-size:20px;">
                            {{appointorder.reserve_system_order_sn}}
                        </el-tag>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-if="dialogOrderType==='edit'">
                    <el-form-item label="序號">
                        <br/>
                        <el-tag style="font-size:20px;">
                            #{{appointorder.reserve_system_order_serial}}
                        </el-tag>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                    <el-form-item label="治療師或課程名稱">
                        <br/>
                        <el-tag style="margin:10px 0; font-size:20px;" v-show="appointorder.reserve_system_shop_basic_schedule_class==0">
                        ({{appointorder.reserve_system_shop_basic_schedule_class|reserve_system_member_class}}) {{appointorder.reserve_system_shop_basic_schedule_teacher}}
                        {{appointorder.reserve_system_shop_basic_schedule_class_name}}
                        </el-tag>
                        <el-tag style="margin:10px 0; font-size:20px;" v-show="appointorder.reserve_system_shop_basic_schedule_class==1">
                        ({{appointorder.reserve_system_shop_basic_schedule_class|reserve_system_member_class}}) {{appointorder.reserve_system_shop_basic_schedule_teacher}}
                        </el-tag>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                    <el-form-item label="報名時段">
                        <br/>
                        <el-tag style="margin:10px 0; font-size:20px;">
                        {{appointorder.reserve_system_shop_basic_schedule_start_date}} {{appointorder.reserve_system_shop_basic_schedule_start_time}} ~
                        {{appointorder.reserve_system_shop_basic_schedule_end_date}} {{appointorder.reserve_system_shop_basic_schedule_end_time}}
                        </el-tag>
                    </el-form-item>
                </el-col>
                <!-- 判斷預約會員為新增時可以下拉式選單 -->
                <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-if="dialogOrderType==='new'">
                    <el-form-item label="預約會員電話(新增)" prop="reserve_system_member_id">
                        <br/>
                        <el-select
                            v-model="appointorder.reserve_system_member_id"
                            placeholder="請選擇預約會員電話"
                            filterable
                            clearable
                            default-first-option
                            @change="change_member_info"
                            style="margin:auto 10px;"
                        >
                        <el-option
                        v-for="item in reserve_system_memberlist.list"
                        :key="item.reserve_system_member_id"
                        :label="'('+item.reserve_system_member_username+') '+item.reserve_system_member_telephone"
                        :value="item.reserve_system_member_id"
                        />
                        </el-select>
                    </el-form-item>
                </el-col>
                <!-- 判斷預約會員為修改時只能呈現當下預約會員資料 -->
                <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-if="dialogOrderType==='edit'">
                    <el-form-item label="預約會員電話(修改)" v-show="dialogOrderType==='edit'">
                        <br/>
                        <el-tag style="font-size:20px;">
                            {{appointorder.reserve_system_member_telephone}}
                        </el-tag>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                    <el-form-item label="預約狀態" prop="reserve_system_order_status" >
                        <br/>
                        <el-radio-group v-model="appointorder.reserve_system_order_status" name="reserve_system_order_status">
                            <el-radio-button label=0 border>預約取消</el-radio-button>
                            <el-radio-button label=1 border>預約成功</el-radio-button>
                        </el-radio-group>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-if="dialogOrderType==='edit'">
                    <el-form-item label="報到狀態">
                        <br/>
                        <el-tag :type="appointorder.reserve_system_join_status==0?'danger':''" style="margin:10px 0; font-size:20px;">
                             {{appointorder.reserve_system_join_status|reserve_system_join_status}}
                        </el-tag>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-if="dialogOrderType==='edit'">
                    <el-form-item label="報到時間">
                        <br/>
                         <el-tag style="margin:10px 0; font-size:20px;" v-if="appointorder.reserve_system_join_datetime!=null">
                            {{appointorder.reserve_system_join_datetime}}
                         </el-tag>
                         <el-tag type="danger" style="margin:10px 0; font-size:20px;" v-if="appointorder.reserve_system_join_datetime==null">
                            無報到時間
                         </el-tag>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="reserve_system_memberinfo.length!=0">
                    <el-form-item label="會員姓名">
                        <br/>
                        <el-tag style="margin:10px 0; font-size:20px;">
                            {{reserve_system_memberinfo[0]['reserve_system_member_username']}}
                        </el-tag>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="reserve_system_memberinfo.length!=0">
                    <el-form-item label="會員身分證">
                        <br/>
                        <el-tag style="margin:10px 0; font-size:20px;">
                         {{reserve_system_memberinfo[0]['reserve_system_member_identity']}}
                        </el-tag>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="reserve_system_memberinfo.length!=0">
                    <el-form-item label="會員信箱">
                        <br/>
                        <el-tag style="margin:10px 0; font-size:20px;">
                            {{reserve_system_memberinfo[0]['reserve_system_member_email']}}
                        </el-tag>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="reserve_system_memberinfo.length!=0">
                    <el-form-item label="會員性別">
                        <br/>
                        <el-tag style="margin:10px 0; font-size:20px;">
                            {{reserve_system_memberinfo[0]['reserve_system_member_sex']|reserve_system_member_sex}}
                        </el-tag>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="reserve_system_memberinfo.length!=0">
                    <el-form-item label="會員生日">
                        <br/>
                        <el-tag style="margin:10px 0; font-size:20px;">
                            {{reserve_system_memberinfo[0]['reserve_system_member_birthday']}}
                        </el-tag>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="reserve_system_memberinfo.length!=0">
                    <el-form-item label="會員標籤">
                        <br/>
                        <el-tag style="margin:10px 0; font-size:20px;" v-if="reserve_system_memberinfo[0]['reserve_system_member_tag']==''">
                            無設定會員標籤
                        </el-tag>
                        <el-tag type="danger" style="margin:10px 0; font-size:20px;" v-if="reserve_system_memberinfo[0]['reserve_system_member_tag']!=''">
                             {{reserve_system_memberinfo[0]['reserve_system_member_tag']}}
                        </el-tag>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                    <el-form-item label="預約來源" prop="reserve_system_order_source" >
                        <br/>
                        <el-tag style="margin:10px 0; font-size:20px;">
                            {{appointorder.reserve_system_order_source|reserve_system_order_source}}
                        </el-tag>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                    <el-form-item label="預約備註" prop="reserve_system_order_note" >
                        <el-input
                            v-model="appointorder.reserve_system_order_note"
                            :autosize="{ minRows: 3, maxRows: 5}"
                            type="textarea"
                            placeholder="預約備註"
                            name="reserve_system_order_note"
                            autocomplete="off"
                            :disabled="dialogOrderType=='new'?false:true"
                        />
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
      <div style="text-align:center;">
        <el-button type="danger" @click="closeAddAppointOrder">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmAppointOrder('appointorder')" :disabled="appointorder.reserve_system_join_status==1?true:false">確認</el-button>
      </div>
    </el-dialog>
</template>
<style scoped>
  .is-selected {
    color: #1989FA;
  }
</style>
<script>
const defaultMember = {
    partner_id: '', reserve_system_member_username:'',
    reserve_system_member_identity:'',reserve_system_member_telephone:'',
    reserve_system_member_birthday:'',reserve_system_member_sex:0,
    reserve_system_member_email:'',reserve_system_member_note:'',
    reserve_system_member_tag:'',reserve_system_member_source:0,
    reserve_system_member_notify:0
}
import { postAppointOrderList } from '@/api/reservationsystemappointorder'
import { getAppointMemberList } from '@/api/reservationsystemappointmember'
import AddMember from './AddMember.vue'
export default {
name: 'AddAppointOrder',
components:{ AddMember },
props:{
    dialogOrderType:{
        type:String,
        require:true
    },
    dialogOrderVisible:{
        type:Boolean,
        require:true
    },
    appointorder:{
        type: String
    },
    partner: {
      type: String
    }
},
  data() {
    return {
      OrderRules: {
        reserve_system_member_id:[{ required: true,message: '姓名為必填欄位' }],
        reserve_system_shop_basic_schedule_id:[{ required: true,message: '預約排程治療師或課程為必填欄位' }],
        reserve_system_order_status:[{ required: true, message: '預約狀態為必填'}]
      },
      //實際所有合作夥伴下拉式選單會員列表
      reserve_system_memberlist:[],
      //點擊預約會員帶出及會員相關訊息
      reserve_system_memberinfo:[],
      //得知會員
      member: Object.assign({}, defaultMember),
      dialogMemberType:'',
      dialogMemberVisible:false
    }
  },
  filters:{
      reserve_system_member_class(status){
      const reserve_system_member_class = {
        0: '課程',
        1: '治療師',
      }
      return reserve_system_member_class[status]
    },
      reserve_system_member_sex(status){
      const reserve_system_member_sex = {
        0: '男性',
        1: '女性',
      }
      return reserve_system_member_sex[status]
    },
      reserve_system_order_source(status){
      const reserve_system_order_source = {
        0: '管理端',
        1: '顧客端'
      }
      return reserve_system_order_source[status]
    },
    reserve_system_join_status(status){
      const reserve_system_join_status = {
        0: '未報到',
        1: '已報到'
      }
      return reserve_system_join_status[status]
    },
  },
  watch:{
    dialogOrderType:{
    handler: function(val, oldVal) {
        //帶入所有預約會員該合作夥伴的資料
        this.getAllAppointMember()
        if(val=='edit'){
            this.change_member_info()
        }
    },
    immediate: true
    },
  },
  methods: {
    //關閉選單
    closeAddAppointOrder(){
    //更新資料進入外層的關閉選單
    this.dialogOrderVisible = false
    this.dialogOrderType = ''
    this.reserve_system_memberinfo = []
    this.reserve_system_memberlist = []
    this.$emit('getAppoint_order_status_dialogtype',this.dialogOrderVisible,this.dialogOrderType)
    },
    //帶入所有預約會員該合作夥伴下的資料
    async getAllAppointMember() {
      var payload = ''
      payload = 'all' + '?' + 'partner_id='+this.appointorder.partner_id
      getAppointMemberList(payload).then(resp => {
        //實際所有合作夥伴下拉式選單會員列表
        this.reserve_system_memberlist = resp.data
      })
    },
    //點擊預約會員
    async change_member_info() {
      var payload = ''
      if(this.appointorder.reserve_system_member_id!=''){
        payload = 'all' + '?' + 'partner_id='+this.appointorder.partner_id+'&reserve_system_member_id='+this.appointorder.reserve_system_member_id
        getAppointMemberList(payload).then(resp => {
            //點擊預約會員帶出及會員相關訊息
            this.reserve_system_memberinfo = resp.data.list
        })
      }
      else{
        this.reserve_system_memberinfo = []
      }
    },
    //新增/修改預約名單
    confirmAppointOrder(appointorder){
      this.$refs[appointorder].validate(valid => {
        if (valid) {
          this.loading = true
          postAppointOrderList(this.appointorder)
            .then((resp) => {
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
                })
                var query = ''
                query += 'partner_id=' + this.appointorder.partner_id+'&'
                query += 'reserve_system_shop_basic_schedule_id='+this.appointorder.reserve_system_shop_basic_schedule_id
                this.$emit('getAppointOrder','all',query)
                this.$emit('getAppointSchedule','all',query)
                //判斷是否為新增且無錯誤訊息提示
                if(this.dialogOrderType!="edit"&&resp.success==true){
                    this.$nextTick(() => {
                      this.$refs[appointorder].resetFields()
                      this.reserve_system_memberinfo = []
                    })
                }
                this.loading = false
                //當新增成功，自動關閉預約名單資訊
                if(resp.success==true){
                    this.closeAddAppointOrder()
                }
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    //新增會員
    insertmember(){
      this.dialogMemberType = 'new'
      this.dialogMemberVisible = true
      defaultMember['partner_id'] = this.appointorder.partner_id
      this.member = Object.assign({}, defaultMember)
    },
    //關閉會員
    getMember_status_dialogtype(status,type){
        this.dialogMemberVisible = status
        this.dialogMemberType = type
    },
  }
}
</script>