<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新預約排程':'新增預約排程'"
    :before-close="closeAddAppointSchedule" center fullscreen
    append-to-body
    >
    <!-- {{appointschedule}} -->
    <!-- {{schedule_class_namelist}} -->
    <!-- {{schedule_class_namelist}} -->
    <!-- {{appointorder}} -->
    <!-- {{reserve_system_shop_basic_shift}} -->
    <!-- {{check_fullendar}} -->
    <!-- {{preview_reserve_system_schedule_options}} -->
    <!-- {{exception_shift_List}} -->
    <!-- {{message_is_error_or_success_show}} -->
    <!-- {{chosen_order_list}}
    {{appointschedule.reserve_system_shop_basic_schedule_start_date}} -->
      <el-tabs v-model="activeTab">
        <el-tab-pane :label="dialogType==='edit'?'更新預約排程':'新增預約排程'" name="insert_update_reserve_system_order">
          <!-- 刪除預約排程 start -->
            <div style="text-align:right;">
                <el-button icon="el-icon-delete" type="danger" @click="deleteAppointSchedule" v-if="dialogType==='edit'">刪除預約排程</el-button>
            </div>
          <!-- 刪除預約排程 end -->
            <!-- 顯示檢查預約排程是否可排班訊息 start -->
            <div v-show="message_is_error_or_success_show">
              <el-alert
                :title="message_is_error_or_success_title"
                :type="message_is_error_or_success_type==true?'success':'error'"
                :closable="false"
                show-icon
              >
              </el-alert>
            </div>
            <!-- 顯示檢查預約排程是否可排班訊息 end -->
            <!-- 更新預約排程/新增預約排程 start -->
            <!-- {{appointschedule}} -->
            <el-form :rules="AppointScheduleRules" status-icon ref="appointschedule" :model="appointschedule" label-position="right">
                <el-row :gutter="20">
                    <!-- <el-col :xs="24" :sm="24" :lg="24" :xl="24">

                    </el-col> -->
                    <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                        <el-form-item label="類型" prop="reserve_system_shop_basic_schedule_class">
                        <br>
                        <el-select
                            v-model="appointschedule.reserve_system_shop_basic_schedule_class"
                            placeholder="請選擇類型"
                            filterable
                            default-first-option
                            style="margin:auto 10px;"
                            :disabled="dialogType==='edit'?true:false"
                        >
                            <el-option label="課程" :value="0">課程</el-option>
                            <el-option label="治療師" :value="1">治療師</el-option>
                        </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                      <el-form-item label="選擇治療師或講師" prop="reserve_system_shop_basic_schedule_teacher">
                      <br>
                      <el-select
                          v-model="appointschedule.reserve_system_shop_basic_schedule_teacher"
                          placeholder="請選擇治療師或講師"
                          filterable
                          default-first-option
                          style="margin:auto 10px;"
                          @change="chosenreserve_system_shop_basic_schedule_teacher"
                          :disabled="dialogType==='edit'?true:false"
                      >
                          <el-option
                          v-for="item in schedule_teacherlist"
                          :key="item.reserve_system_shop_basic_teacher"
                          :label="item.reserve_system_shop_basic_teacher"
                          :value="item.reserve_system_shop_basic_teacher"
                          />
                      </el-select>
                      </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-show="appointschedule.reserve_system_shop_basic_schedule_class==0">
                    <el-form-item label="選擇課程名稱" prop="reserve_system_shop_basic_schedule_class_name">
                    <br>
                    <el-select
                        v-model="appointschedule.reserve_system_shop_basic_schedule_class_name"
                        placeholder="請選擇課程名稱"
                        filterable
                        default-first-option
                        style="margin:auto 10px;"
                        @change="chosenreserve_system_shop_basic_schedule_class_name"
                        :disabled="dialogType==='edit'?true:false"
                    >
                        <el-option
                        v-for="item in schedule_class_namelist"
                        :key="item.reserve_system_shop_basic_class_name"
                        :label="item.reserve_system_shop_basic_class_name"
                        :value="item.reserve_system_shop_basic_class_name"
                        />
                    </el-select>
                    </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                        <el-form-item label="設定開始日期時間" prop="reserve_system_shop_basic_schedule_start_date">
                        <br>
                        <el-date-picker v-model="appointschedule.reserve_system_shop_basic_schedule_start_date" type="date" 
                        placeholder="設定開始日期"
                        value-format="yyyy-MM-dd"
                        >
                        </el-date-picker>
                        <el-time-select v-model="appointschedule.reserve_system_shop_basic_schedule_start_time"
                            :picker-options="{start: '07:00',step: '00:10',end: '22:00'}"
                            placeholder="設定開始時間"
                            style="margin:1%;"
                            v-if="dialogType=='edit'"
                        >
                        </el-time-select>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                        <el-form-item label="設定結束日期時間" prop="reserve_system_shop_basic_schedule_end_date">
                        <br>
                        <el-date-picker v-model="appointschedule.reserve_system_shop_basic_schedule_end_date" type="date" 
                        placeholder="設定結束日期"
                        value-format="yyyy-MM-dd"
                        >
                        </el-date-picker>
                        <el-time-select v-model="appointschedule.reserve_system_shop_basic_schedule_end_time"
                            :picker-options="{start: '07:00',step: '00:10',end: '22:00'}"
                            placeholder="設定結束時間"
                            v-if="dialogType=='edit'"
                            style="margin:1%;"
                        >
                        </el-time-select>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="dialogType==='edit'">
                        <el-form-item label="最後預約時間" style="text-align:center;">
                          <br/>
                        <el-tag type="primary" style="font-size:18px;">{{appointschedule.reserve_system_shop_basic_schedule_start_date}}</el-tag>
                        <el-time-select v-model="appointschedule.reserve_system_shop_basic_schedule_last_reserve_time"
                            :picker-options="{start: '07:00',step: '00:10',end: '22:00'}"
                            placeholder="設定結束時間"
                            style="margin:1%;"
                        >
                        </el-time-select>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="dialogType==='new'">
                        <el-form-item label="可排定時間" style="text-align:center;">
                          <br/>
                          <div v-for="(item,index) in reserve_system_shop_basic_shift" :key="index">
                          <el-tag style="margin:5px;" type="primary">星期 {{item.reserve_system_shop_basic_shift_type|reserve_system_shop_basic_shift_type}}</el-tag>
                          <el-tag style="margin:5px;" type="primary">{{item.reserve_system_shop_basic_shift_time_start}} - {{item.reserve_system_shop_basic_shift_time_end}}</el-tag>
                          </div>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="text-align:center;" v-show="dialogType=='new'">
                      <el-button type="primary" @click="check_appoint_schedule_record">檢查</el-button>
                      <!-- <el-button type="danger" v-show="check_fullendar==false" @click="search_preview_fullcalendar(0)">開啟查閱</el-button>
                      <el-button type="danger" v-show="check_fullendar==true" @click="search_preview_fullcalendar(1)">關閉查閱</el-button> -->
                    </el-col>
                </el-row>
                <div style="text-align:center; font-size:20px; color:black; margin:10 0;" v-if="dialogType=='new'&&check_fullendar==true">
                    <div v-show="appointschedule.reserve_system_shop_basic_schedule_class==0" style="margin:5 0;">
                        (<span style="color:red;">{{appointschedule.reserve_system_shop_basic_schedule_teacher}} {{appointschedule.reserve_system_shop_basic_schedule_class_name}}</span>)
                        已排班行事曆
                    </div>
                    <div v-show="appointschedule.reserve_system_shop_basic_schedule_class==1" style="margin:5 0;">
                        (<span style="color:red;">{{appointschedule.reserve_system_shop_basic_schedule_teacher}}</span>)
                        已排班行事曆
                    </div>
                </div>
                <el-row :gutter="20" v-if="dialogType=='new'&&check_fullendar==true" v-loading="preview_loading">
                    <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                    <FullCalendar ref="preview_reserve_system_schedule"  :options="preview_reserve_system_schedule_options" style="max-height:550px;" />
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                        <el-form-item label="限制人數開關" prop="reserve_system_shop_basic_schedule_limit_switch">
                        <br>
                        <el-select
                            v-model="appointschedule.reserve_system_shop_basic_schedule_limit_switch"
                            placeholder="限制人數開關"
                            filterable
                            default-first-option
                            style="margin:auto 10px;"
                        >
                            <el-option label="未開啟" :value="0">未開啟</el-option>
                            <el-option label="開啟" :value="1">開啟</el-option>
                        </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                        <el-form-item label="限制人數" prop="reserve_system_shop_basic_schedule_limit_people">
                            <el-input
                                v-model="appointschedule.reserve_system_shop_basic_schedule_limit_people"
                                placeholder="限制人數"
                                :disabled="appointschedule.reserve_system_shop_basic_schedule_limit_switch==1?false:true"
                            />
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                        <el-form-item label="排程狀態" prop="reserve_system_shop_basic_schedule_status">
                        <br>
                        <el-select
                            v-model="appointschedule.reserve_system_shop_basic_schedule_status"
                            placeholder="排程狀態"
                            filterable
                            default-first-option
                            style="margin:auto 10px;"
                        >
                            <el-option label="可報名" :value="0">可報名</el-option>
                            <el-option label="不可報名" :value="1">不可報名</el-option>
                            <el-option label="額滿" :value="2">額滿</el-option>
                        </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                        <el-form-item label="實際/限制人數" prop="reserve_system_shop_basic_schedule_limit_people">
                            <br/>
                            <el-tag style="font-size:20px; text-align:center;" type="danger" v-show="appointschedule.reserve_system_shop_basic_schedule_limit_switch==0">
                                無限制人數
                            </el-tag>
                            <el-tag style="font-size:20px; text-align:center;" 
                            :type="appointschedule.reserve_system_shop_basic_schedule_limit_people>appointschedule.reserve_system_shop_basic_schedule_practice_people?'':'danger'"
                            v-show="appointschedule.reserve_system_shop_basic_schedule_limit_switch==1">
                                {{appointschedule.reserve_system_shop_basic_schedule_practice_people}} / {{appointschedule.reserve_system_shop_basic_schedule_limit_people}} 人
                            </el-tag><br/>
                            <!-- <el-tag style="color:red;font-size:20px; text-align:center;" v-show="appointschedule.reserve_system_shop_basic_schedule_limit_people<appointschedule.reserve_system_shop_basic_schedule_practice_people" type="danger">報名人數已額滿</el-tag> -->
                        </el-form-item>
                    </el-col>
                    <el-col :xs="8" :sm="8" :lg="8" :xl="8">
                        <el-form-item label="設定開始與結束時間區間" prop="reserve_system_shop_basic_schedule_time_interval">
                            <br/>
                            <el-tag style="font-size:20px;">
                                {{appointschedule.reserve_system_shop_basic_schedule_time_interval}}
                            </el-tag>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="16" :sm="16" :lg="16" :xl="16">
                        <el-form-item label="商品基本資料備註" prop="reserve_system_shop_basic_schedule_note">
                            <el-input
                                v-model="appointschedule.reserve_system_shop_basic_schedule_note"
                                type="textarea"
                                placeholder="商品基本資料備註"
                            />
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <div style="text-align:right;">
                <el-button type="danger" @click="closeAddAppointSchedule">關閉</el-button>
                <el-button :loading="loading" type="primary" v-show="message_is_error_or_success_show==true&&message_is_error_or_success_type==true" @click.native.prevent="confirmAppointSchedule('appointschedule')">確認</el-button>
            </div>
            <!-- 更新預約排程/新增預約排程 end -->
        </el-tab-pane>
        <el-tab-pane label="新增/查看預約名單" name="check_reserve_system_order" v-if="dialogType==='edit'" v-loading="schedulelistLoading">
            <!-- {{orderList}} -->
            <!-- 新增/查看預約排程名單 start -->
            <AddAppointOrder :appointorder="appointorder" :dialogOrderType="dialogOrderType" :dialogOrderVisible="dialogOrderVisible" @getAppointOrder="getAllOrder" @getAppointSchedule="getAllSchedule" @getAppoint_order_status_dialogtype="getAppoint_order_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
            <!-- {{appointschedule}} -->
            <el-row :gutter="20">
                <el-form status-icon :model="appointschedule" label-position="right">
                    <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                        <el-form-item label="治療師或課程名稱">
                            <el-tag :type="appointschedule.reserve_system_shop_basic_schedule_status==0?'':'danger'" style="margin:10px 0; font-size:20px;" v-show="appointschedule.reserve_system_shop_basic_schedule_class==0">
                            ({{appointschedule.reserve_system_shop_basic_schedule_class|reserve_system_shop_basic_schedule_class}}) {{appointschedule.reserve_system_shop_basic_schedule_teacher}} {{appointschedule.reserve_system_shop_basic_schedule_class_name}}
                            </el-tag>
                            <el-tag :type="appointschedule.reserve_system_shop_basic_schedule_status==0?'':'danger'" style="margin:10px 0; font-size:20px;" v-show="appointschedule.reserve_system_shop_basic_schedule_class==1">
                            ({{appointschedule.reserve_system_shop_basic_schedule_class|reserve_system_shop_basic_schedule_class}}) {{appointschedule.reserve_system_shop_basic_schedule_teacher}}
                            </el-tag>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                        <el-form-item label="報名時段">
                             <el-tag :type="appointschedule.reserve_system_shop_basic_schedule_status==0?'':'danger'" style="margin:10px 0; font-size:20px;">
                                {{appointschedule.reserve_system_shop_basic_schedule_start_date}} {{appointschedule.reserve_system_shop_basic_schedule_start_time}} ~
                                {{appointschedule.reserve_system_shop_basic_schedule_end_date}} {{appointschedule.reserve_system_shop_basic_schedule_end_time}}
                             </el-tag>
                             <el-tag type="danger" style="margin:10px; font-size:20px;">( {{appointschedule.reserve_system_shop_basic_schedule_last_reserve_time}} )</el-tag> 
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                        <el-form-item label="報名人數">
                            <el-tag style="font-size:20px; text-align:center;" :type="appointschedule.reserve_system_shop_basic_schedule_status==0?'':'danger'" v-show="appointschedule.reserve_system_shop_basic_schedule_limit_switch==0">
                                {{appointschedule.reserve_system_shop_basic_schedule_practice_people}} 人
                            </el-tag>
                            <el-tag style="font-size:20px; text-align:center;" 
                            :type="appointschedule.reserve_system_shop_basic_schedule_limit_people>appointschedule.reserve_system_shop_basic_schedule_practice_people?'':'danger'"
                            v-show="appointschedule.reserve_system_shop_basic_schedule_limit_switch==1">
                                {{appointschedule.reserve_system_shop_basic_schedule_practice_people}} / {{appointschedule.reserve_system_shop_basic_schedule_limit_people}} 人
                            </el-tag><br/>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                        <el-form-item label="排程狀態">
                            <el-tag :type="appointschedule.reserve_system_shop_basic_schedule_status==0?'':'danger'" style="margin:10px 0; font-size:20px;">
                                {{appointschedule.reserve_system_shop_basic_schedule_status|reserve_system_shop_basic_schedule_status}}
                            </el-tag>
                        </el-form-item>
                    </el-col>
                </el-form>
            </el-row>
            <el-button type="primary" icon="el-icon-plus" @click="insert_order_record" style="float:right; margin:15px 0;" :disabled="appointschedule.reserve_system_shop_basic_schedule_status==0?false:true">新增預約名單</el-button>
            <el-button type="primary" icon="el-icon-edit" @click="batch_order_status_record" style="float:right; margin:15px 10px;" v-show="chosen_order_list.length!=0">多筆編輯預約狀態</el-button>
            <el-table v-loading="orderlistLoading" 
            :data="orderList.list" 
            @selection-change="handleSelectOrderStatus" 
            ref="multiple_order_status_list"
            style="width: 100%;" border fit highlight-current-row>
            <el-table-column
                type="selection"
                :selectable="handleCanBeSelect"
                width="55">
            </el-table-column>
            <el-table-column align="center" label="訂單編號">
                <template slot-scope="scope">
                    {{ scope.row.reserve_system_order_sn }}
                </template>
            </el-table-column>
            <el-table-column align="center" label="序號">
                <template slot-scope="scope">
                    {{ scope.row.reserve_system_order_serial }}
                </template>
            </el-table-column>
            <el-table-column align="center" label="會員資訊">
                <template slot-scope="scope">
                    {{ scope.row.reserve_system_member_username }}<br/>
                    {{ scope.row.reserve_system_member_telephone }}
                </template>
            </el-table-column>
            <el-table-column align="center" label="預約備註">
                <template slot-scope="scope">
                    <div v-if="scope.row.reserve_system_order_note!=null">
                        <el-tag style="margin:10px 0;">
                        {{ scope.row.reserve_system_order_note }}
                        </el-tag>
                    </div>
                    <div v-else>
                        <el-tag style="margin:10px 0;">
                            無額外需求
                        </el-tag>
                    </div>
                </template>
            </el-table-column>
            <el-table-column align="center" label="預約狀態">
                <template slot-scope="scope">
                    <el-tag :type="scope.row.reserve_system_order_status==0 ?'danger':''" style="margin:10px 0;">
                        {{ scope.row.reserve_system_order_status|reserve_system_order_status }}
                    </el-tag>
                </template>
            </el-table-column>
            <el-table-column align="center" label="預約時間">
                <template slot-scope="scope">
                    {{ scope.row.reserve_system_order_datetime }}
                </template>
            </el-table-column>
            <el-table-column align="center" label="報到狀態">
                <template slot-scope="scope">
                    <el-tag :type="scope.row.reserve_system_join_status==0 ?'danger':''" style="margin:10px 0;">
                        {{ scope.row.reserve_system_join_status|reserve_system_join_status }}
                    </el-tag>
                </template>
            </el-table-column>
            <el-table-column align="center" label="報到時間">
                <template slot-scope="scope">
                    {{ scope.row.reserve_system_join_datetime }}
                </template>
            </el-table-column>
            <el-table-column align="center" label="預約來源">
                <template slot-scope="scope">
                    {{ scope.row.reserve_system_order_source|reserve_system_order_source }}
                </template>
            </el-table-column>
            <el-table-column align="center" label="編輯者">
              <template slot-scope="scope">
                <!-- {{scope.row.reserve_system_order_insert_edit_admin_id!=null}} -->
                <div v-if="scope.row.admin_person.length!=0">
                  <el-tag type="danger" style="margin:10px 0;">
                          {{ scope.row.admin_person[0]['admin_edit'] }}
                  </el-tag>
                </div>
              </template>
            </el-table-column>
            <el-table-column align="center" label="編輯">
              <template slot-scope="scope">
              <el-button type="primary" icon="el-icon-edit" @click="update_order_record(scope)">編輯</el-button>
              </template>
            </el-table-column>
            </el-table>
            <pagination
            :total="ordertotal"
            :page.sync="orderList.nowpages"
            :limit.sync="orderList.limit"
            @pagination="getAllOrder(orderList.nowpages,search_order)"
            />
            <!-- 查看預約排程名單 end -->
        </el-tab-pane>
      </el-tabs>
    </el-dialog>
    </div>
</template>
<style scoped>
  .is-selected {
    color: #1989FA;
  }
</style>
<script>
import Pagination from '@/components/Pagination'
// import { postAppointScheduleList,previewAppointScheduleList,deleteAppointSchedule } from '@/api/reservationsystemappointschedule'
import { postAppointScheduleList,checkAppointScheduleList,deleteAppointSchedule } from '@/api/reservationsystemappointschedule'
import { getExceptionShiftList } from '@/api/reservationsystemexceptionshift'
import { getAppointShopList } from '@/api/reservationsystemappointshop'
import { getAppointOrderList,BatchAppointOrderStatus } from '@/api/reservationsystemappointorder'
import { getAppointScheduleList } from '@/api/reservationsystemappointschedule'
import { getAdminPremission } from '@/api/premission_manager'
import dayGridPlugin from '@fullcalendar/daygrid'
import interactionPlugin from '@fullcalendar/interaction'
import AddAppointOrder from './AddAppointOrder.vue'
import { deepClone } from '@/utils'
import moment from 'moment'
const defaultAppointOrder = {
  partner_id: '', reserve_system_member_id: null,reserve_system_order_source:0,
  reserve_system_shop_basic_schedule_id:null,reserve_system_order_status:1,
  reserve_system_shop_basic_schedule_class:null,reserve_system_shop_basic_schedule_teacher:'',
  reserve_system_shop_basic_schedule_class_name:'',
  reserve_system_shop_basic_schedule_start_date:'',reserve_system_shop_basic_schedule_start_time:'',
  reserve_system_shop_basic_schedule_end_date:'',reserve_system_shop_basic_schedule_end_time:'',
  reserve_system_order_note:''
}
export default {
name: 'AddAppointSchedule',
components:{ Pagination,AddAppointOrder },
props:{
    click_fullcalendar_button:{
        type:String,
        require:true
    },
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    appointschedule:{
        type:String,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  data() {
    return {
      AppointScheduleRules: {
          	reserve_system_shop_basic_schedule_class:[
            { required: true,message: '課程、治療師類型為必填欄位' },
          ],
          reserve_system_shop_basic_schedule_teacher:[
            { required: true,message: '講師、治療師名稱為必填欄位' },
          ],
          reserve_system_shop_basic_schedule_start_date:[
            { required: true,message: '設定開始日期為必填欄位' },
          ],
          reserve_system_shop_basic_schedule_end_date:[
            { required: true,message: '設定結束日期為必填欄位' },
          ],
          reserve_system_shop_basic_schedule_status:[
            { required: true,message: '排程狀態為必填欄位' },
          ],
          reserve_system_shop_basic_schedule_limit_switch:[
            { required: true,message: '限制人數開關為必填欄位' },
          ],
          reserve_system_shop_basic_schedule_limit_people:[
            { required: true,message: '限制人數為必填欄位' },
            { required: true, message: '限制人數必須為數字', pattern:/^[0-9\s]*$/ }
          ]
      },
      //治療師或課程array
      schedule_class_namelist:[],
      //治療師或課程講師array
      schedule_teacherlist:[],
      //預覽治療師或課程排成時間array
      preview_appoint_schedule_List:[],
      check_fullendar:false,
      preview_reserve_system_schedule_options:{
        plugins: [ dayGridPlugin, interactionPlugin ],
        locale: 'zh-tw',
        initialView: 'dayGridMonth',
        validRange:{
            start: this.appointschedule.reserve_system_shop_basic_schedule_start_date +' 00:00:00',
            end: this.appointschedule.reserve_system_shop_basic_schedule_end_date +' 23:59:59',
        },
        events: [
        ],
        headerToolbar:{
          left: 'prev,next',
          center: 'title',
        //   right: 'dayGridMonth,dayGridWeek,dayGridDay'
        right: 'dayGridMonth'
        },
        buttonText: {
          month: '本月',
        //   week: '本周',
        //   day: '今日',
          // list:'list'
        },
        customButtons: { 
          prev: { // this overrides the prev button
            text: "PREV", 
            click: () => {           
              console.log("點擊上月/週/日");
              let calendarApi = this.$refs.preview_reserve_system_schedule.getApi();
              calendarApi.prev();
            }
          },
          next: { // this overrides the next button
            text: "NEXT",
            click: () => {
              console.log("點擊下月/週/日");
              let calendarApi = this.$refs.preview_reserve_system_schedule.getApi();
              calendarApi.next();
            }
          }
        },
      },
      activeTab:'insert_update_reserve_system_order',
      loading:false,
      preview_loading:false,
      orderlistLoading:false,
      orderList:[],
      ordertotal:0,
      search_order:'',
      appointorder: Object.assign({}, defaultAppointOrder),
      dialogOrderType:'',
      dialogOrderVisible:false,
      check_admin_premission:[],
      //刪除代號
      delete_type:0,
      delete_appoint_schedule:{},
      //新增/查看預約名單tab loading
      schedulelistLoading:false,
      //得知排班排定時間
      reserve_system_shop_basic_shift:[],
      //得知排休排定時間
      exception_shift_List:[],
      //選擇訂單代號
      chosen_order_list:[],
      message_is_error_or_success_title:'',
      message_is_error_or_success_show:false,
      message_is_error_or_success_type:false
    }
  },
  filters:{
      reserve_system_order_status(status){
      const reserve_system_order_status = {
        0: '預約取消',
        1: '預約成功',
      }
      return reserve_system_order_status[status]
    },
      reserve_system_shop_basic_schedule_class(status){
      const reserve_system_shop_basic_schedule_class = {
        0: '課程',
        1: '治療師'
      }
      return reserve_system_shop_basic_schedule_class[status]
    },
      reserve_system_shop_basic_schedule_status(status){
      const reserve_system_shop_basic_schedule_status = {
        0: '可報名',
        1: '不可報名',
        2: '額滿'
      }
      return reserve_system_shop_basic_schedule_status[status]
    },
      reserve_system_order_source(status){
      const reserve_system_order_source = {
        0: '管理端',
        1: '顧客端'
      }
      return reserve_system_order_source[status]
    },
    reserve_system_shop_basic_shift_type(status){
      const reserve_system_shop_basic_shift_type = {
        1: '一',
        2: '二',
        3: '三',
        4: '四',
        5: '五',
        6: '六',
        7: '日',
      }
      return reserve_system_shop_basic_shift_type[status]
    },
    reserve_system_join_status(status){
      const reserve_system_join_status = {
        0: '未報到',
        1: '已報到',
      }
      return reserve_system_join_status[status]
    },
  },
  watch:{
    dialogType:{
    handler: function(val, oldVal) {
        //帶入治療師或課程下拉式選單
        this.select_class_name()
        //當為新增時帶入開始與結束日期
        if(val=='new'){
            //帶入預設新增預約排程tab
            this.activeTab = 'insert_update_reserve_system_order'
            this.appointschedule.reserve_system_shop_basic_schedule_start_date = this.appointschedule.reserve_system_shop_basic_schedule_time_interval.split('~')[0]
            this.appointschedule.reserve_system_shop_basic_schedule_end_date = this.appointschedule.reserve_system_shop_basic_schedule_time_interval.split('~')[1]
        }
        //當為更新預約排程，帶入所有預約排程名單資訊
        if(val=='edit'){
            this.search_order = 'partner_id='+this.appointschedule.partner_id+'&reserve_system_shop_basic_schedule_id='+this.appointschedule.reserve_system_shop_basic_schedule_id
            this.getAllOrder('all',this.search_order)
            //帶入所有要刪除預約排程參數
            this.delete_appoint_schedule['partner_id'] = this.appointschedule.partner_id
            this.delete_appoint_schedule['delete_type'] = 0
            this.delete_appoint_schedule['reserve_system_shop_basic_schedule_id'] = this.appointschedule.reserve_system_shop_basic_schedule_id
            //預設帶入新增/查看預約名單
            this.activeTab = 'check_reserve_system_order'
        }
    },
    immediate: true
    },
    //選擇治療師或課程
    "appointschedule.reserve_system_shop_basic_schedule_class":{
    handler: function(val, oldVal) {
        //帶入治療師或課程下拉式選單
        this.select_class_name()
    },
    immediate: true
    },
    // //限制人數開關
    "appointschedule.reserve_system_shop_basic_schedule_limit_switch":{
    handler: function(val, oldVal) {
        //限制人數開關為關閉，限制人數為0
        if(val==0){
            this.appointschedule.reserve_system_shop_basic_schedule_limit_people = 0
        }
    },
    immediate: true
    },
    "appointschedule.reserve_system_shop_basic_schedule_start_date":{
    handler: function(val, oldVal) {
        if(this.dialogType=='new'){
        this.appointschedule.reserve_system_shop_basic_schedule_time_interval= this.appointschedule.reserve_system_shop_basic_schedule_start_date+'~'+this.appointschedule.reserve_system_shop_basic_schedule_end_date
        }
        this.preview_reserve_system_schedule_options.validRange.start = this.appointschedule.reserve_system_shop_basic_schedule_start_date + ' 00:00:00'
        this.preview_reserve_system_schedule_options.validRange.end = this.appointschedule.reserve_system_shop_basic_schedule_end_date + ' 23:59:59'
    },
    immediate: true
    },
    "appointschedule.reserve_system_shop_basic_schedule_end_date":{
    handler: function(val, oldVal) {
        if(this.dialogType=='new'){
        this.appointschedule.reserve_system_shop_basic_schedule_time_interval= this.appointschedule.reserve_system_shop_basic_schedule_start_date+'~'+this.appointschedule.reserve_system_shop_basic_schedule_end_date
        }
        this.preview_reserve_system_schedule_options.validRange.start = this.appointschedule.reserve_system_shop_basic_schedule_start_date + ' 00:00:00',
        this.preview_reserve_system_schedule_options.validRange.end = this.appointschedule.reserve_system_shop_basic_schedule_end_date + ' 23:59:59'
    },
    immediate: true
    },
  },
  mounted() {
    // 得知使用者實際擁有權限
    this.getAdminPremission("預約上架模組")
  },
  methods: {
    get_start_date(){
      console.log(this.appointschedule.reserve_system_shop_basic_schedule_start_date)
      return this.appointschedule.reserve_system_shop_basic_schedule_start_date
    },
    get_end_date(){
      console.log(this.appointschedule.reserve_system_shop_basic_schedule_end_date)
      return this.appointschedule.reserve_system_shop_basic_schedule_end_date
    },
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    //關閉選單
    closeAddAppointSchedule(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    // if(this.dialogType=='edit'){
    //   var appoint_schedule = ''
    //   appoint_schedule += 'partner_id=' + this.appointschedule.partner_id+'&'
    //   appoint_schedule +='reserve_system_shop_basic_schedule_class='+this.appointschedule.reserve_system_shop_basic_schedule_class+'&'
    //   appoint_schedule +='reserve_system_shop_basic_schedule_teacher='+this.appointschedule.reserve_system_shop_basic_schedule_teacher+'&'
    //   //如為課程（會判斷加入課程名稱）
    //   if(this.appointschedule.reserve_system_shop_basic_schedule_class==0){
    //     appoint_schedule +='reserve_system_shop_basic_schedule_class_name='+this.appointschedule.reserve_system_shop_basic_schedule_class_name+'&'
    //   }
    //   console.log("718")
    //   console.log(appoint_schedule)
    //   // var schedule_time_interval = ''
    //   // var startOfMonth = moment(this.appointschedule.reserve_system_shop_basic_schedule_start_date).startOf('month').format('YYYY-MM-DD');
    //   // var endOfMonth = moment(this.appointschedule.reserve_system_shop_basic_schedule_end_date).endOf('month').format('YYYY-MM-DD');
    //   // schedule_time_interval += 'partner_id='+this.appointschedule.partner_id+'&'
    //   // schedule_time_interval +='reserve_system_exception_schedule_shift_status=1'+'&'
    //   // schedule_time_interval += 'reserve_system_shop_basic_schedule_time_interval=' +startOfMonth+'~'+endOfMonth
    //   // console.log(schedule_time_interval)
    //   this.$emit('getAppointSchedule','all',appoint_schedule.slice(0, -1))
    // }
    this.dialogType = ''
    this.preview_appoint_schedule_List = []
    this.appointschedule.reserve_system_shop_basic_schedule_class = 1
    this.preview_reserve_system_schedule_options.events = []
    this.message_is_error_or_success_title = ''
    this.message_is_error_or_success_show = false
    this.message_is_error_or_success_type = false
    this.check_fullendar = false
    this.$emit('getAppoint_schedule_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    //多筆選擇訂單改狀態
    handleSelectOrderStatus(order_list){
      console.log(order_list)
      this.chosen_order_list = []
      //判斷未報到才放入資料
        order_list.forEach((element)=>{
            this.chosen_order_list.push(element.reserve_system_order_sn)
        })
    },
    //確認多選是否可以點擊（判斷報到狀態0:未報到，可以點擊,1:已報到，不可點擊）
    handleCanBeSelect(row){
      console.log("730: ",row)
      if(row.reserve_system_join_status==0){
        return true
      }
      else{
        return false
      }
    },
    //多筆編輯狀態
    batch_order_status_record(){
      var payload = {}
      payload['reserve_system_order_sn_list'] = this.chosen_order_list
      this.$confirm(
        '<span style="font-size:18px;">您確定更改多筆預約狀態？</span>'+'\r'+
        '<span style="font-size:20px;color:red;">'+this.chosen_order_list.join('\r')+'</span>'
      ,'更改 '+this.chosen_order_list.length+' 筆預約狀態', {
          confirmButtonText: '確認',
          cancelButtonText: '取消',
          dangerouslyUseHTMLString:true,
          type: 'warning'
        }).then(async() => {
          await BatchAppointOrderStatus(payload).then(resp => {
            this.$message({
            message: resp.message,
            type: resp.success==true ? 'success':'error'
            })
          })
          //更新所有訂單
          await this.getAllOrder('all',this.search_order)
          //更新所有排程
          var query = ''
          query += 'partner_id=' + this.appointschedule.partner_id+'&'
          query += 'reserve_system_shop_basic_schedule_id='+this.appointschedule.reserve_system_shop_basic_schedule_id
          await this.getAllSchedule('all',query)
        }).catch(action => {
          this.$message({
            type: 'info',
            message: '取消多筆編輯預約狀態'
          }); 
        })
    },
    //帶入治療師或課程下拉式選單
    select_class_name(){
        var payload = 'all?partner_id='+this.appointschedule.partner_id+'&reserve_system_shop_basic_class='+this.appointschedule.reserve_system_shop_basic_schedule_class
        getAppointShopList(payload).then(resp => {
                this.schedule_teacherlist = []
                _.uniqBy(resp.data.list, 'reserve_system_shop_basic_teacher').forEach((items) => {
                  console.log(items)
                  this.schedule_teacherlist.push(items)
                })
            //帶入預設第一個下拉式選單資料
            if(this.dialogType=='new'){
            // //判斷為課程
            // if(this.appointschedule.reserve_system_shop_basic_schedule_class==0){
              this.appointschedule.reserve_system_shop_basic_schedule_teacher = this.schedule_teacherlist[0].reserve_system_shop_basic_teacher
              this.appointschedule.reserve_system_shop_basic_schedule_class_name = this.schedule_teacherlist[0].reserve_system_shop_basic_class_name
              this.appointschedule.reserve_system_shop_basic_schedule_limit_switch = this.schedule_teacherlist[0].reserve_system_shop_basic_limit_switch
              this.appointschedule.reserve_system_shop_basic_schedule_limit_people = this.schedule_teacherlist[0].reserve_system_shop_basic_limit_people
            }
            this.chosenreserve_system_shop_basic_schedule_teacher()
        })
    },
    //選擇治療師或講師帶入限制人數資料
    chosenreserve_system_shop_basic_schedule_teacher(){
        var payload = 'all?partner_id='+this.appointschedule.partner_id+'&reserve_system_shop_basic_class='+this.appointschedule.reserve_system_shop_basic_schedule_class+
        '&reserve_system_shop_basic_teacher='+this.appointschedule.reserve_system_shop_basic_schedule_teacher
        console.log(payload)
        if(this.appointschedule.reserve_system_shop_basic_schedule_class==0||this.appointschedule.reserve_system_shop_basic_schedule_class==1){
          this.schedule_class_namelist = []
          getAppointShopList(payload).then(resp => {
                this.schedule_class_namelist = resp.data.list
                if(this.dialogType=='new'){
                  this.appointschedule.reserve_system_shop_basic_schedule_teacher = this.schedule_class_namelist[0].reserve_system_shop_basic_teacher
                  this.appointschedule.reserve_system_shop_basic_schedule_class_name = this.schedule_class_namelist[0].reserve_system_shop_basic_class_name
                  this.appointschedule.reserve_system_shop_basic_schedule_limit_switch = this.schedule_class_namelist[0].reserve_system_shop_basic_limit_switch
                  this.appointschedule.reserve_system_shop_basic_schedule_limit_people = this.schedule_class_namelist[0].reserve_system_shop_basic_limit_people
                  console.log("630 start ")
                  console.log(this.appointschedule.reserve_system_shop_basic_schedule_class_name)
                  console.log("630 end ")
                  this.reserve_system_shop_basic_shift = this.schedule_class_namelist[0].reserve_system_shop_basic_shift
                }
          })
        }
        else{
          getAppointShopList(payload).then(resp => {
                this.schedule_class_namelist = resp.data.list
          })
        }
    },
    //選擇課程名稱帶入下拉式選單
    chosenreserve_system_shop_basic_schedule_class_name(){
        var payload = 'all?partner_id='+this.appointschedule.partner_id+'&reserve_system_shop_basic_class='+this.appointschedule.reserve_system_shop_basic_schedule_class+
        '&reserve_system_shop_basic_teacher='+this.appointschedule.reserve_system_shop_basic_schedule_teacher+
        '&reserve_system_shop_basic_class_name='+this.appointschedule.reserve_system_shop_basic_schedule_class_name
        console.log(payload)
        getAppointShopList(payload).then(resp => {
            this.appointschedule.reserve_system_shop_basic_schedule_limit_switch = resp.data.list[0].reserve_system_shop_basic_limit_switch
            this.appointschedule.reserve_system_shop_basic_schedule_limit_people = resp.data.list[0].reserve_system_shop_basic_limit_people
            console.log("630 start ")
            console.log(this.appointschedule.reserve_system_shop_basic_schedule_class_name)
            console.log("630 end ")
            this.reserve_system_shop_basic_shift = resp.data.list[0].reserve_system_shop_basic_shift
        })
    },
    //檢查是否有排班紀錄
    check_appoint_schedule_record(){
      var _self = this
      var payload = {}
      if(_self.appointschedule.reserve_system_shop_basic_schedule_class==0){
        payload={
          "partner_id":_self.appointschedule.partner_id,
          "class":_self.appointschedule.reserve_system_shop_basic_schedule_class,
          "teacher":_self.appointschedule.reserve_system_shop_basic_schedule_teacher,
          "class_name":_self.appointschedule.reserve_system_shop_basic_schedule_class_name,
          "search_start_date":_self.appointschedule.reserve_system_shop_basic_schedule_start_date,
          "search_end_date":_self.appointschedule.reserve_system_shop_basic_schedule_end_date
        }
      }
      if(_self.appointschedule.reserve_system_shop_basic_schedule_class==1){
        payload={
          "partner_id":_self.appointschedule.partner_id,
          "class":_self.appointschedule.reserve_system_shop_basic_schedule_class,
          "teacher":_self.appointschedule.reserve_system_shop_basic_schedule_teacher,
          "search_start_date":_self.appointschedule.reserve_system_shop_basic_schedule_start_date,
          "search_end_date":_self.appointschedule.reserve_system_shop_basic_schedule_end_date
        }
      }
      // this.$refs.preview_reserve_system_schedule.getDate()
      // console.log(this.$refs.preview_reserve_system_schedule.getApi())
      //檢查是否有排班紀錄
      checkAppointScheduleList(payload).then(resp => {
        if(resp.success==true){
          this.message_is_error_or_success_title = resp.message
          this.message_is_error_or_success_show = true
          this.message_is_error_or_success_type = true
          //查閱行事曆
          this.search_preview_fullcalendar(1)
        }
        else{
          this.message_is_error_or_success_title = resp.message
          this.message_is_error_or_success_show = true
          this.message_is_error_or_success_type = false
          //查閱行事曆
          this.search_preview_fullcalendar(0)
        }
      })
    },
    //查閱行事曆
    search_preview_fullcalendar(type){
      var _self = this
      var payload = ''
      //判斷為開啟狀態
      if(type==0){
        //行事曆關閉
        _self.check_fullendar = true
      }
      //判斷為關閉狀態
      if(type==1){
        //行事曆開啟
        _self.check_fullendar = false
      }
      if(_self.appointschedule.reserve_system_shop_basic_schedule_class==0){
        payload+='all?partner_id='+_self.appointschedule.partner_id+'&'
        payload+='reserve_system_shop_basic_schedule_class='
        +_self.appointschedule.reserve_system_shop_basic_schedule_class+'&'
        payload+='reserve_system_shop_basic_schedule_teacher='
        +_self.appointschedule.reserve_system_shop_basic_schedule_teacher+'&'
        payload+='reserve_system_shop_basic_schedule_class_name='
        +_self.appointschedule.reserve_system_shop_basic_schedule_class_name+'&'
        payload+='reserve_system_shop_basic_schedule_time_interval='
        +_self.appointschedule.reserve_system_shop_basic_schedule_start_date+'~'
        +_self.appointschedule.reserve_system_shop_basic_schedule_end_date
      }
      if(_self.appointschedule.reserve_system_shop_basic_schedule_class==1){
        payload+='all?partner_id='+_self.appointschedule.partner_id+'&'
        payload+='reserve_system_shop_basic_schedule_class='
        +_self.appointschedule.reserve_system_shop_basic_schedule_class+'&'
        payload+='reserve_system_shop_basic_schedule_teacher='
        +_self.appointschedule.reserve_system_shop_basic_schedule_teacher+'&'
        payload+='reserve_system_shop_basic_schedule_time_interval='
        +_self.appointschedule.reserve_system_shop_basic_schedule_start_date+'~'
        +_self.appointschedule.reserve_system_shop_basic_schedule_end_date
      }
      var payload2 = ''
      payload2+='all?partner_id='+_self.appointschedule.partner_id+'&'
      payload2+='reserve_system_exception_schedule_shift_status=1'+'&'
      payload2+='reserve_system_exception_schedule_start_date='+_self.appointschedule.reserve_system_shop_basic_schedule_start_date+'&'
      payload2+='reserve_system_exception_schedule_end_date='+_self.appointschedule.reserve_system_shop_basic_schedule_end_date
      //得知排休日期
      getExceptionShiftList(payload2).then(resp => {
        if(resp.data.count!=0){
          this.exception_shift_List = []
          this.exception_shift_List = resp.data.list
        }
        else{
          this.exception_shift_List = []
        }
      })
      _self.preview_loading = true
      getAppointScheduleList(payload).then(resp => {
        if(resp.data.length!=0){
          _self.preview_appoint_schedule_List = resp.data.list
          //帶入實際課程或治療師行稱
          _self.set_practice_class_name_schedule()
        }
        // this.$message({
        // message: resp.message,
        // type: resp.success==true ? 'success':'error',
        // duration:5000
        // })
        _self.preview_loading = false
      })
    },
    //帶入實際課程或治療師行稱
    set_practice_class_name_schedule(){
      var _self = this
      _self.preview_reserve_system_schedule_options.events = []
      //所有排班班表
      _self.preview_appoint_schedule_List.forEach((item)=>{
        var class_type=''
        var class_color=''
        var class_title=''
        if(item.reserve_system_shop_basic_schedule_class==0){
          class_type='(課程)'
          class_color = item.reserve_system_shop_basic_schedule_practice_people==0?'black':'blue'
          class_title = class_type + item.reserve_system_shop_basic_schedule_teacher +' '+ item.reserve_system_shop_basic_schedule_class_name
        }
        if(item.reserve_system_shop_basic_schedule_class==1){
          class_type='(治療師)'
          class_color = item.reserve_system_shop_basic_schedule_practice_people==0?'black':'blue'
          class_title = class_type + item.reserve_system_shop_basic_schedule_teacher
        }
        _self.preview_reserve_system_schedule_options.events.push({
          backgroundColor:class_color,
        //   id: item.reserve_system_shop_basic_schedule_id,
          //商品類型＋課程或治療師名稱
          title: class_title,
          //開始日期及時間
          start: item.reserve_system_shop_basic_schedule_start_date+' '+item.reserve_system_shop_basic_schedule_start_time,
          //結束日期及時間
          end: item.reserve_system_shop_basic_schedule_end_date+' '+item.reserve_system_shop_basic_schedule_end_time
        })
      })
      //所有排休班表
      _self.exception_shift_List.forEach((item)=>{
        var class_type=''
        var class_color=''
        var class_title = ''
        if(item.reserve_system_exception_schedule_shift_type==0){
          class_type='(國定假日)'
          class_color = 'red'
          class_title = class_type + item.reserve_system_exception_schedule_shift_title
          _self.preview_reserve_system_schedule_options.events.push({
            //reserve_system_shop_basic_schedule_id
            backgroundColor:class_color,
            //商品類型＋課程或治療師名稱
            title: class_title,
            //開始日期及時間
            start: item.reserve_system_exception_schedule_shift_date
          })
        }
        if(item.reserve_system_exception_schedule_shift_type==1){
          class_type='(排休)'
          class_color = 'red'
          class_title = class_type + item.reserve_system_exception_schedule_shift_title
          console.log(item.reserve_system_exception_schedule_shift_title.search(this.appointschedule.reserve_system_shop_basic_schedule_teacher))
          console.log(item.reserve_system_exception_schedule_shift_title)
          console.log(this.appointschedule.reserve_system_shop_basic_schedule_teacher)
          //排休判斷選擇治療師或講師時與排休設定相對應才顯示
          if(item.reserve_system_exception_schedule_shift_title==this.appointschedule.reserve_system_shop_basic_schedule_teacher){
            _self.preview_reserve_system_schedule_options.events.push({
              //reserve_system_shop_basic_schedule_id
              backgroundColor:class_color,
              //商品類型＋課程或治療師名稱
              title: class_title,
              //開始日期及時間
              start: item.reserve_system_exception_schedule_shift_date
            })
          }
        }
      })
    },
    //新增/修改預約排程
    confirmAppointSchedule(appointschedule){
      this.$refs[appointschedule].validate(valid => {
        if (valid) {
          this.loading = true
          postAppointScheduleList(this.appointschedule)
            .then((resp) => {
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
                })
                var appoint_schedule = ''
                appoint_schedule += 'partner_id=' + this.appointschedule.partner_id+'&'
                appoint_schedule +='reserve_system_shop_basic_schedule_class='+this.appointschedule.reserve_system_shop_basic_schedule_class+'&'
                appoint_schedule +='reserve_system_shop_basic_schedule_teacher='+this.appointschedule.reserve_system_shop_basic_schedule_teacher+'&'
                //如為課程（會判斷加入課程名稱）
                if(this.appointschedule.reserve_system_shop_basic_schedule_class==0){
                  appoint_schedule +='reserve_system_shop_basic_schedule_class_name='+this.appointschedule.reserve_system_shop_basic_schedule_class_name+'&'
                }
                // var schedule_time_interval = ''
                // var startOfMonth = moment(this.appointschedule.reserve_system_shop_basic_schedule_start_date).startOf('month').format('YYYY-MM-DD');
                // var endOfMonth = moment(this.appointschedule.reserve_system_shop_basic_schedule_end_date).endOf('month').format('YYYY-MM-DD');
                // schedule_time_interval += 'partner_id='+this.appointschedule.partner_id+'&'
                // schedule_time_interval +='reserve_system_exception_schedule_shift_status=1'+'&'
                // schedule_time_interval += 'reserve_system_shop_basic_schedule_time_interval=' +startOfMonth+'~'+endOfMonth
                // console.log(schedule_time_interval)
                this.$emit('getAppointSchedule','all',appoint_schedule.slice(0, -1))
                this.loading = false
                if(resp.success==true){
                  this.$refs[appointschedule].resetFields()
                  this.closeAddAppointSchedule()
                }
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    async getAllSchedule(page, schedule) {
      var payload = ''
      payload += page + '?' + schedule
      this.schedulelistLoading = true
      //新增或修改實際預約資訊（報名人數、限制人數、排程狀態）
      getAppointScheduleList(payload).then(resp => {
        this.appointschedule.reserve_system_shop_basic_schedule_practice_people = resp.data.list[0]['reserve_system_shop_basic_schedule_practice_people']
        this.appointschedule.reserve_system_shop_basic_schedule_limit_people = resp.data.list[0]['reserve_system_shop_basic_schedule_limit_people']
        this.appointschedule.reserve_system_shop_basic_schedule_status = resp.data.list[0]['reserve_system_shop_basic_schedule_status']
      })
      this.schedulelistLoading = false
    },
    async getAllOrder(page, order) {
      var payload = ''
      if (this.search_order == '') {
        payload = page
      }
      if (this.search_order != '') {
        payload += page + '?' + order
      }
      this.orderlistLoading = true
      getAppointOrderList(payload).then(resp => {
        this.orderList = resp.data
        this.ordertotal = this.orderList.count
        this.orderlistLoading = false
      })
    },
    insert_order_record(){
      this.dialogOrderType = 'new'
      this.dialogOrderVisible = true
      defaultAppointOrder['partner_id'] = this.appointschedule.partner_id
      defaultAppointOrder['reserve_system_shop_basic_schedule_id'] = this.appointschedule.reserve_system_shop_basic_schedule_id
      defaultAppointOrder['reserve_system_shop_basic_schedule_class'] = this.appointschedule.reserve_system_shop_basic_schedule_class
      defaultAppointOrder['reserve_system_shop_basic_schedule_teacher'] = this.appointschedule.reserve_system_shop_basic_schedule_teacher
      defaultAppointOrder['reserve_system_shop_basic_schedule_class_name'] = this.appointschedule.reserve_system_shop_basic_schedule_class_name
      defaultAppointOrder['reserve_system_shop_basic_schedule_start_date'] = this.appointschedule.reserve_system_shop_basic_schedule_start_date
      defaultAppointOrder['reserve_system_shop_basic_schedule_start_time'] = this.appointschedule.reserve_system_shop_basic_schedule_start_time
      defaultAppointOrder['reserve_system_shop_basic_schedule_end_date'] = this.appointschedule.reserve_system_shop_basic_schedule_end_date
      defaultAppointOrder['reserve_system_shop_basic_schedule_end_time'] = this.appointschedule.reserve_system_shop_basic_schedule_end_time
      this.appointorder = Object.assign({}, defaultAppointOrder)
    },
    update_order_record(scope){
      this.dialogOrderType = 'edit'
      this.dialogOrderVisible = true
      console.log(scope.row)
      this.appointorder = deepClone(scope.row)
    },
    // 關閉預約名單資料狀態
    getAppoint_order_status_dialogtype(status,type){
      this.dialogOrderVisible = status
      this.dialogOrderType = type
    },
    deleteAppointSchedule(){
    var _self = this
    var regex = /^[0-9\s]*$/;
    _self.delete_type = 0
    if(_self.delete_type==0){
      _self.delete_type_message = '該筆'
    }
    if(_self.delete_type==1){
      _self.delete_type_message = '以後區間'
    }
    if(_self.delete_type==2){
      _self.delete_type_message = '以前區間'
    }
    if(_self.delete_type==3){
      _self.delete_type_message = '全部區間'
    }
    _self.$prompt('請輸入要刪除預約排程代碼0:該筆,1:以後區間2:以前區間,3:該筆全部區間?', '是否確定刪除資料，刪除將無法進行回復該筆資料', {
      inputValue:'0',
      inputValidator:(value)=>{
          if(!value){
              return '輸入框不能為空值'
          }
          if(!regex.test(value)){
              return '輸入框必須為數字'
          }
      }
  
      }).then(({ value }) => {
      _self.delete_type = value
      _self.delete_appoint_schedule['delete_type'] = _self.delete_type
      console.log(_self.delete_type)
        deleteAppointSchedule(_self.delete_appoint_schedule).then(resp => {
          console.log("resp",resp.success)
          _self.$message({
            type: 'success',
            message: resp.message
          }); 
          var appoint_schedule = ''
          appoint_schedule += 'partner_id=' + this.appointschedule.partner_id+'&'
          appoint_schedule +='reserve_system_shop_basic_schedule_class='+this.appointschedule.reserve_system_shop_basic_schedule_class+'&'
          appoint_schedule +='reserve_system_shop_basic_schedule_teacher='+this.appointschedule.reserve_system_shop_basic_schedule_teacher+'&'
          var schedule_time_interval = ''
          var startOfMonth = moment(this.appointschedule.reserve_system_shop_basic_schedule_start_date).startOf('month').format('YYYY-MM-DD');
          var endOfMonth = moment(this.appointschedule.reserve_system_shop_basic_schedule_end_date).endOf('month').format('YYYY-MM-DD');
          schedule_time_interval += 'reserve_system_shop_basic_schedule_time_interval=' +startOfMonth+'~'+endOfMonth
          //更新外層資訊
          _self.$emit('getAppointSchedule','all',appoint_schedule,schedule_time_interval)
          //關閉選單
          _self.closeAddAppointSchedule()
        })
      }).catch(() => {
        _self.$message({
          type: 'info',
          message: '取消刪除預約排程'
        });       
      });
    }
  }
}
</script>