<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新排休':'新增排休'"
    :before-close="closeAddExceptionShift" 
    center
    width="65%"
    append-to-body
    >
    <!-- {{exceptionshift}} -->
    <!-- {{reserve_system_shop_basic_teacher}} -->
      <el-form :rules="ExceptionShiftRules" status-icon ref="exceptionshift" :model="exceptionshift" label-position="right">
          <!-- {{banner}}
          {{upload_path+origin_image}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="排休類型" prop="reserve_system_exception_schedule_shift_type">
              <br/>
              <el-radio-group v-model="exceptionshift.reserve_system_exception_schedule_shift_type" name="reserve_system_exception_schedule_shift_type">
                <el-radio-button label=0 border>國定假日</el-radio-button>
                <el-radio-button label=1 border>排休</el-radio-button>
              </el-radio-group>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12"  v-if="exceptionshift.reserve_system_exception_schedule_shift_type==1">
              <el-form-item label="選擇排休人員">
                <br/>
                <el-select
                  v-model="reserve_system_shop_basic_teacher"
                  placeholder="請選擇排休人員"
                  filterable
                  default-first-option
                  style="margin:auto 10px;"
                  :loading="adminlistLoading"
                  @change="change_admin_info"
                >
                  <el-option
                    v-for="item in AdminList.list"
                    :key="item.id"
                    :label="item.name"
                    :value="item.name"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item :label="exceptionshift.reserve_system_exception_schedule_shift_type==0?'排休標題':'排休人員'" prop="reserve_system_exception_schedule_shift_title">
                <el-input v-model="exceptionshift.reserve_system_exception_schedule_shift_title"
                :placeholder="exceptionshift.reserve_system_exception_schedule_shift_type==0?'排休標題':'排休人員'"
                ref="reserve_system_exception_schedule_shift_title"
                name="reserve_system_exception_schedule_shift_title"
                autocomplete="off"
                :disabled="exceptionshift.reserve_system_exception_schedule_shift_type==0?false:true"
                  />
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-if="dialogType=='new'">
            <el-form-item label="排休開始日期" prop="reserve_system_exception_schedule_shift_start_date">
                <br/>
                <el-date-picker v-model="exceptionshift.reserve_system_exception_schedule_shift_start_date" type="date" 
                ref="reserve_system_exception_schedule_shift_start_date" name="reserve_system_exception_schedule_shift_start_date" placeholder="排休開始日期"
                value-format="yyyy-MM-dd"
                ></el-date-picker>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-if="dialogType=='new'">
            <el-form-item label="排休結束日期" prop="reserve_system_exception_schedule_shift_end_date">
                <br/>
                <el-date-picker v-model="exceptionshift.reserve_system_exception_schedule_shift_end_date" type="date" 
                ref="reserve_system_exception_schedule_shift_end_date" name="reserve_system_exception_schedule_shift_end_date" placeholder="排休結束日期"
                value-format="yyyy-MM-dd"
                ></el-date-picker>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-if="dialogType=='edit'">
            <el-form-item label="排休日期" prop="reserve_system_exception_schedule_shift_date">
                <br/>
                <el-date-picker v-model="exceptionshift.reserve_system_exception_schedule_shift_date" type="date" 
                ref="reserve_system_exception_schedule_shift_date" name="reserve_system_exception_schedule_shift_date" placeholder="排休日期"
                value-format="yyyy-MM-dd"
                ></el-date-picker>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="排休狀態" prop="reserve_system_exception_schedule_shift_status">
              <br>
              <el-radio-group v-model="exceptionshift.reserve_system_exception_schedule_shift_status" name="reserve_system_exception_schedule_shift_status">
                <el-radio-button label=0 border>未顯示</el-radio-button>
                <el-radio-button label=1 border>顯示</el-radio-button>
              </el-radio-group>
            </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddExceptionShift">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmExceptionShift('exceptionshift')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
import { postExceptionShiftList } from '@/api/reservationsystemexceptionshift'
import { getAdmin } from '@/api/admin_manager'
import Cookies from 'js-cookie'
export default {
name: 'AddExceptionShift',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    exceptionshift:{
        type:Object,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  watch: {
    dialogType:{
        handler: function(val, oldVal) {
          this.getAllAdmin()
        },
        immediate: true
    },
    "exceptionshift.reserve_system_exception_schedule_shift_type":{
        handler: function(val, oldVal) {
          if(val==0&&this.dialogType=='new'){
            this.exceptionshift.reserve_system_exception_schedule_shift_title = ''
            this.reserve_system_shop_basic_teacher =''
          }
        },
        immediate: true
    },
  },
  data() {
    return {
      ExceptionShiftRules: {
          // reserve_system_exception_schedule_shift_date:[
          //   { required: true,message: '排休日期必填欄位' },
          // ],
          reserve_system_exception_schedule_shift_title:[
            { required: true,message: '排休人員或標題必填欄位' },
          ],
          // reserve_system_exception_schedule_shift_start_date:[
          //   { required: true,message: '排休開始日期必填欄位' },
          // ],
          // reserve_system_exception_schedule_shift_end_date:[
          //   { required: true,message: '排休結束日期必填欄位' },
          // ],
          reserve_system_exception_schedule_shift_status:[
            { required: true,message: '排休狀態為必填欄位' },
          ],
      },
      loading:false,
      adminlistLoading:false,
      AdminList:[],
      reserve_system_shop_basic_teacher:''
    }
  },
  methods: {
    change_admin_info(){
      this.exceptionshift.reserve_system_exception_schedule_shift_title = this.reserve_system_shop_basic_teacher
    },
    //關閉選單
    closeAddExceptionShift(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    this.reserve_system_shop_basic_teacher = ''
    this.$emit('getException_shift_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    async getAllAdmin() {
      var payload = ''
      payload += 'all?partner_id=' + this.exceptionshift.partner_id
      console.log('payload', payload)
      this.adminlistLoading = true
      getAdmin(payload).then(resp => {
        this.AdminList = resp.data
        this.adminlistLoading = false
      })
    },
    // 更新與新增選單
    confirmExceptionShift(exceptionshift) {
      this.$refs[exceptionshift].validate(valid => {
        if (valid) {
          this.loading = true
          postExceptionShiftList(this.exceptionshift)
            .then((resp) => {
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
                })
                this.$emit('getExceptionShift')
                //判斷是否為新增或修改
                if(this.dialogType!="edit"&&resp.success==true){
                    this.$nextTick(() => {
                      this.$refs[exceptionshift].resetFields()
                    })
                }
                this.loading = false
                if(resp.success==true){
                  this.closeAddExceptionShift()
                }
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    }
  }
}
</script>