<template>
    <div>
    <el-dialog :visible="dialogMemberVisible" :title="dialogMemberType==='edit'?'更新會員':'新增會員'"
    :before-close="closeAddMember" center
    width="75%"
    append-to-body
    >
        <!-- {{member}} -->
      <el-form :rules="MemberRules" status-icon ref="member" :model="member" label-position="right">
        <el-row :gutter="20">
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
            <el-form-item label="會員姓名" prop="reserve_system_member_username">
                <el-input ref="reserve_system_member_username" v-model="member.reserve_system_member_username"
                name="reserve_system_member_username" placeholder="會員姓名"
                autocomplete="off" />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
            <el-form-item label="會員身分證字號" prop="reserve_system_member_identity">
                <el-input ref="reserve_system_member_identity" v-model="member.reserve_system_member_identity"
                name="reserve_system_member_identity" placeholder="會員身分證字號"
                autocomplete="off" />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
            <el-form-item label="會員電話" prop="reserve_system_member_telephone">
                <el-input ref="reserve_system_member_telephone" v-model="member.reserve_system_member_telephone"
                name="reserve_system_member_telephone" placeholder="會員電話"
                autocomplete="off" />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="7" :lg="7" :xl="7">
            <el-form-item label="會員性別" prop="reserve_system_member_sex">
              <br/>
                <el-radio-group v-model="member.reserve_system_member_sex" name="reserve_system_member_sex" style="margin-bottom:-10px;">
                    <el-radio-button label=0 border>男性</el-radio-button>
                    <el-radio-button label=1 border>女性</el-radio-button>
                </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="7" :lg="7" :xl="7">
            <el-form-item label="會員出生年月日" prop="reserve_system_member_birthday">
              <br/>
                <el-date-picker
                v-model="member.reserve_system_member_birthday"
                ref="reserve_system_member_birthday"
                name="reserve_system_member_birthday"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="選擇會員出生年月日">
                </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="10" :lg="10" :xl="10">
            <el-form-item label="會員信箱" prop="reserve_system_member_email">
                <el-input ref="reserve_system_member_email" v-model="member.reserve_system_member_email"
                name="reserve_system_member_email" placeholder="會員信箱"
                autocomplete="off" />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
            <el-form-item label="會員標籤" prop="reserve_system_member_tag">
                  <br/>
                  <el-select
                      ref="reserve_system_member_tag"
                      v-model="member.reserve_system_member_tag"
                      multiple
                      collapse-tags
                      name="reserve_system_member_tag"
                      width="250px;"
                      placeholder="選擇會員標籤"
                      >
                      <el-option
                          v-for="item in appoint_membertag_List.list"
                          :key="item.reserve_system_member_tag_id"
                          :label="item.reserve_system_member_tag_name"
                          :value="item.reserve_system_member_tag_name"
                          >
                      </el-option>
                  </el-select>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
            <el-form-item label="會員推播方式" prop="reserve_system_member_notify">
                <br/>
                <el-radio-group v-model="member.reserve_system_member_notify" name="reserve_system_member_notify">
                    <el-radio-button label=0 border>信箱</el-radio-button>
                    <el-radio-button label=1 border>簡訊</el-radio-button>
                </el-radio-group>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
            <el-form-item label="會員註冊來源" prop="reserve_system_member_source">
                <br/>
                <el-tag style="margin:10px 0; font-size:20px;">{{member.reserve_system_member_source|reserve_system_member_source}}</el-tag>
                <!-- <el-radio-group v-model="member.reserve_system_member_source" name="reserve_system_member_source">
                    <el-radio-button label=0 border>管理端</el-radio-button>
                    <el-radio-button label=1 border>顧客端</el-radio-button>
                </el-radio-group> -->
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="會員注意事項" prop="reserve_system_member_note">
                <el-input ref="reserve_system_member_note" v-model="member.reserve_system_member_note"
                :autosize="{ minRows: 2, maxRows: 5}"
                type="textarea"
                name="reserve_system_member_note" placeholder="會員注意事項"
                autocomplete="off" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddMember">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmMember('member')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
import { postAppointMemberList } from '@/api/reservationsystemappointmember'
import { getAppointMemberTagList } from '@/api/reservationsystemappointmembertag'
export default {
name: 'AddMember',
props:{
    dialogMemberType:{
        type:String,
        require:true
    },
    dialogMemberVisible:{
        type:Boolean,
        require:true
    },
    member:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      MemberRules: {
          reserve_system_member_username:[
            { required: true,message: '會員姓名為必填欄位' },
          ],
          reserve_system_member_identity:[
            { required: true,message: '會員身分證字號為必填欄位' },
          ],
          reserve_system_member_telephone:[
            { required: true,message: '會員電話為必填欄位' },
          ],
          reserve_system_member_sex:[
            { required: true,message: '會員性別為必填欄位' },
          ],
          // reserve_system_member_birthday:[
          //   { required: true,message: '會員出生年月日為必填欄位' },
          // ],
          reserve_system_member_email:[
            { required: true,message: '會員信箱為必填欄位' },
          ],
          reserve_system_member_source:[
            { required: true,message: '會員註冊來源為必填欄位' },
          ],
          reserve_system_member_notify:[
            { required: true,message: '會員推播方式為必填欄位' },
          ],
      },
      //得知會員標籤
      appoint_membertag_List:[],
      loading:false,
    }
  },
  watch:{
      dialogMemberType:{
        handler: function(val, oldVal) {
          //得知會員標籤
          this.get_member_tag_list()
          //判斷是否有輸入標籤並切割為array
          if(val=='edit'&&this.member.reserve_system_member_tag!=""){
            this.member.reserve_system_member_tag = this.member.reserve_system_member_tag.split(',')
          }
      },
      immediate: true
      },
  },
  filters:{
      reserve_system_member_source(status){
      const reserve_system_member_source = {
        0: '管理端',
        1: '顧客端'
      }
      return reserve_system_member_source[status]
    }
  },
  methods: {
    //關閉會員
    closeAddMember(){
    //更新資料進入外層的預約名單
    this.dialogMemberVisible = false
    this.dialogMemberType = ''
    this.$emit('getMember_status_dialogtype',this.dialogMemberVisible,this.dialogMemberType)
    },
    //得知會員標籤
    get_member_tag_list(){
      this.appoint_membertag_List = []
      var payload ='all?partner_id='+this.member.partner_id
      getAppointMemberTagList(payload).then(resp => {
        this.appoint_membertag_List = resp.data
      })
    },
    // 更新與新增服務項目分類
    confirmMember(member) {
      this.$refs[member].validate(valid => {
        if (valid) {
          this.loading = true
          postAppointMemberList(this.member)
            .then((resp) => {
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
                })
                //判斷是否為新增或修改
                if(this.dialogMemberType!="edit"&&resp.success==true){
                    this.$nextTick(() => {
                      this.$refs[member].resetFields()
                    })
                }
                this.$emit('getAllAppointMember')
                this.loading = false
                if(resp.success==true){
                  this.closeAddMember()
                }
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    }
  }
}
</script>