<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span style="color:red;">商品基本資料</span>
      <el-button type="primary" icon="el-icon-plus" @click="insertappointshop" style="float:right;" :disabled="partner==''?true:false">新增商品基本資料</el-button>
      <!-- {{check_admin_premission}}
      {{dialogType}} -->
    </div>
    <div class="user-profile">
        <AddAppointShop :appointshop="appointshop" :dialogType="dialogType" :dialogVisible="dialogVisible" @getAppointShop="setqueryappointshop" @getAppoint_shop_status_dialogtype="getAppoint_shop_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <SearchAppointShop @SearchAppointShop="SearchAppointShop" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' />
        <el-table v-loading="appoint_shop_listLoading" :data="appoint_shop_List.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <!-- <el-table-column align="center" fixed label="合作夥伴">
            <template slot-scope="scope">
            <el-tag size="medium" type="primary" plain
            style="margin:10px 0;font-size:15px;"
            >
                {{ scope.row.partner_name }}
            </el-tag>
            </template>
        </el-table-column> -->
        <el-table-column align="center" label="治療師/講師">
            <template slot-scope="scope">
              <el-tag style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_shop_basic_teacher }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="課程名稱">
            <template slot-scope="scope">
              <el-tag style="margin:10px 0;font-size:15px;" v-if="scope.row.reserve_system_shop_basic_class==0">{{ scope.row.reserve_system_shop_basic_class_name }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="預約限制開關及人數">
            <template slot-scope="scope">
            <div v-if="scope.row.reserve_system_shop_basic_limit_switch!=0">
                <el-tag :type="scope.row.reserve_system_shop_basic_limit_people>0 ?'danger':''" style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_shop_basic_limit_people }} 人</el-tag>
            </div>
            <div v-else>
                <el-tag type="danger" style="margin:10px 0;font-size:15px;">無限制人數</el-tag>
            </div>
            </template>
        </el-table-column>
        <el-table-column align="center" label="可排定時間">
            <template slot-scope="scope">
            <div v-for="(reserve_system_shop_basic_shift,index) in scope.row.reserve_system_shop_basic_shift" :key="index">
                <el-tag style="margin:10px;font-size:15px;">星期{{ reserve_system_shop_basic_shift.reserve_system_shop_basic_shift_type|reserve_system_shop_basic_shift_type }}</el-tag>
                <el-tag style="margin:10px 0;font-size:15px;">{{ reserve_system_shop_basic_shift.reserve_system_shop_basic_shift_time_start }} ～ {{ reserve_system_shop_basic_shift.reserve_system_shop_basic_shift_time_end }}</el-tag><br/>
            </div>
            </template>
        </el-table-column>
        <el-table-column align="center" width="100" label="商品價錢">
            <template slot-scope="scope">
              <el-tag style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_shop_basic_price }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="100" label="預約基本資料新增時間">
            <template slot-scope="scope">
            {{ scope.row.reserve_system_shop_basic_datetime }}
            </template>
        </el-table-column>
        <el-table-column align="center" width="120" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
            <el-tag :type="scope.row.reserve_system_shop_basic_status==0 ?'danger':''" style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_shop_basic_status|reserve_system_shop_basic_status }}</el-tag>
            <el-button type="primary" icon="el-icon-edit" @click="handleEditappointshop(scope)">編輯</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="appoint_shop_total"
          :page.sync="appoint_shop_List.nowpages"
          :limit.sync="appoint_shop_List.limit"
          @pagination="getAllAppintShop(appoint_shop_List.nowpages,search_appint_shop)"
        />
    </div>
  </el-card>
</template>
<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { getAppointShopList } from '@/api/reservationsystemappointshop'
import AddAppointShop from './AddAppointShop.vue'
import SearchAppointShop from './SearchAppointShop.vue'
import { deepClone } from '@/utils'
import Cookies from 'js-cookie'
const defaultAppointShop = {
  reserve_system_shop_basic_class: 1, reserve_system_shop_basic_teacher: '',reserve_system_shop_basic_class_name: '',
  reserve_system_shop_basic_limit_switch:0,reserve_system_shop_basic_limit_people:0,reserve_system_shop_basic_price:0,
  reserve_system_shop_basic_status:1,reserve_system_shop_basic_note:'',
  reserve_system_shop_basic_shift:[],partner_id: ''
}
export default {
  name:"ReservationSystemAppointShop",
  components:{ Pagination,AddAppointShop,SearchAppointShop },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  watch: {
    partner:{
        handler: function(val, oldVal) {
            if(this.partner!=''){
                this.chosenPartner()
            }
        },
        immediate: true
    },
  },
  filters:{
      //類型：0:課程,1:治療師
      reserve_system_shop_basic_class(status){
      const reserve_system_shop_basic_class = {
        0: '課程',
        1: '治療師'
      }
      return reserve_system_shop_basic_class[status]
      },
      //商品資料表上架情形 0:下架1:上架
      reserve_system_shop_basic_status(status){
      const reserve_system_shop_basic_status = {
        0: '下架',
        1: '上架'
      }
      return reserve_system_shop_basic_status[status]
    },
      //限制人數開關
      reserve_system_shop_basic_limit_switch(status){
      const reserve_system_shop_basic_limit_switch = {
        0: '未開啟',
        1: '開啟'
      }
      return reserve_system_shop_basic_limit_switch[status]
    },
    reserve_system_shop_basic_shift_type(status){
      const reserve_system_shop_basic_shift_type = {
        1: '一',
        2: '二',
        3: '三',
        4: '四',
        5: '五',
        6: '六',
        7: '日',
      }
      return reserve_system_shop_basic_shift_type[status]
    }
  },
  data(){
    return {
      dialogType:'',
      dialogSearchType:'',
      dialogVisible:false,
      dialogSearchVisible:false,
      appoint_shop_listLoading:false,
      appointshop: Object.assign({}, defaultAppointShop),
      search_appint_shop:'',
      appoint_shop_total:0,
      appoint_shop_List:[]
    }
  },
  methods: {
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultAppointShop['partner_id'] = this.partner
        this.search_appint_shop = query
      } else {
        this.search_appint_shop = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllAppintShop(1, this.search_appint_shop)
    },
    // 設定商品基本資料
    setqueryappointshop(){
      //判斷目前頁數在哪一頁
      if(Cookies.get('appointshoppage')==undefined){
        this.getAllAppintShop(1, this.search_appint_shop)
      }
      else{
        this.getAllAppintShop(Cookies.get('appointshoppage'), this.search_appint_shop)
      }
    },
    // 放入實際搜尋條件
    SearchAppointShop(query){
        //放入實際搜尋條件
        this.search_appint_shop = query
        // 設定商品基本資料
        this.setqueryappointshop()
    },
    // 關閉商品基本資料狀態
    getAppoint_shop_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
      defaultAppointShop['reserve_system_shop_basic_shift'] = []
      this.appointshop = Object.assign({}, defaultAppointShop)
    },
    // 顯示所有合作夥伴最新消息
    async getAllAppintShop(page, appoint_shop) {
      var payload = ''
      if (this.search_appint_shop == '') {
        payload = page
      }
      if (this.search_appint_shop != '') {
        payload += page + '?' + appoint_shop
      }
      console.log("before:",Cookies.get('appointshoppage'))
      //設定目前頁數在哪一頁
      Cookies.set('appointshoppage',page)
      console.log("after",Cookies.get('appointshoppage'))
      console.log('payload', payload)
      this.appoint_shop_listLoading = true
      getAppointShopList(payload).then(resp => {
        this.appoint_shop_List = resp.data
        this.appoint_shop_total = this.appoint_shop_List.count
        this.appoint_shop_listLoading = false
      })
    },
    //新增商品基本資料
    insertappointshop(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultAppointShop['partner_id'] = this.partner
      this.appointshop = Object.assign({}, defaultAppointShop)
    },
    //修改商品基本資料
    handleEditappointshop(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      this.appointshop = deepClone(scope.row)
    },
  }
}
</script>