<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span style="color:red;">排休</span>
      <el-button type="primary" icon="el-icon-plus" @click="insertexceptionshift" style="float:right;" :disabled="partner==''?true:false">新增排休</el-button>
      <el-button type="primary" icon="el-icon-edit" @click="batch_exception_shift_status_record('edit')" style="float:right; margin:0 10px;" v-show="chosen_exception_shift_list.length!=0">多筆編輯排班狀態</el-button>
      <el-button type="danger" icon="el-icon-delete" @click="batch_exception_shift_status_record('delete')" style="float:right; margin:0 10px;" v-show="chosen_exception_shift_list.length!=0">多筆刪除排班狀態</el-button>
      <!-- {{check_admin_premission}}
      {{dialogType}} -->
    </div>
    <div class="user-profile">
        <AddExceptionShift :exceptionshift="exceptionshift" :dialogType="dialogType" :dialogVisible="dialogVisible" @getExceptionShift="setqueryexceptionshift" @getException_shift_status_dialogtype="getException_shift_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <SearchExceptionShift @SearchExceptionShift="SearchExceptionShift" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' />
        <el-table 
        v-loading="exception_shift_listLoading" 
        :data="exception_shift_List.list" 
        @selection-change="handleSelectExceptionShiftStatus" 
        :row-key="handleSelectRecoverExceptionShift"
        ref="exception_shift"
        style="width: 100%;margin-top:30px;" 
        border 
        fit 
        highlight-current-row
        >
        <el-table-column
            type="selection"
            reserve-selection
            width="55">
        </el-table-column>
        <el-table-column align="center" label="排休日期">
            <template slot-scope="scope">
              <el-tag type="danger" style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_exception_schedule_shift_date }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="排休日期標題">
            <template slot-scope="scope">
              <el-tag style="margin:10px;font-size:15px;">({{ scope.row.reserve_system_exception_schedule_shift_type | reserve_system_exception_schedule_shift_type }})</el-tag>
              <el-tag style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_exception_schedule_shift_title }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="排休是否顯示">
            <template slot-scope="scope">
              <el-tag :type="scope.row.reserve_system_exception_schedule_shift_status==0 ?'danger':''" style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_exception_schedule_shift_status|reserve_system_exception_schedule_shift_status }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="排休上架時間">
            <template slot-scope="scope">
            {{ scope.row.reserve_system_exception_schedule_shift_datetime }}
            </template>
        </el-table-column>
        <el-table-column align="center" width="120" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
            <el-button type="primary" icon="el-icon-edit" @click="handleEditexceptionshift(scope)">編輯</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="exception_shift_total"
          :page.sync="exception_shift_List.nowpages"
          :limit.sync="exception_shift_List.limit"
          @pagination="getAllExceptionShift(exception_shift_List.nowpages,search_exception_shift)"
        />
    </div>
  </el-card>
</template>
<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { getExceptionShiftList,BatchExceptionScheduleShiftStatus } from '@/api/reservationsystemexceptionshift'
import AddExceptionShift from './AddExceptionShift.vue'
import SearchExceptionShift from './SearchExceptionShift.vue'
import { deepClone } from '@/utils'
import Cookies from 'js-cookie'
const defaultExceptionShift = {
    reserve_system_exception_schedule_shift_type:0,
  	reserve_system_exception_schedule_shift_start_date:'',reserve_system_exception_schedule_shift_end_date:'',reserve_system_exception_schedule_shift_title:'',
    reserve_system_exception_schedule_shift_status:1,partner_id: ''
}
export default {
  name:"ReservationSystemExceptionShift",
  // components:{ Pagination,AddExceptionShift,SearchExceptionShift },
  components:{ Pagination,AddExceptionShift,SearchExceptionShift },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  watch: {
    partner:{
        handler: function(val, oldVal) {
            if(this.partner!=''){
                this.chosenPartner()
            }
        },
        immediate: true
    },
  },
  filters:{
      //排休狀態0:未顯示1:顯示
      reserve_system_exception_schedule_shift_status(status){
      const reserve_system_exception_schedule_shift_status = {
        0: '未顯示',
        1: '顯示'
      }
      return reserve_system_exception_schedule_shift_status[status]
    },
    reserve_system_exception_schedule_shift_type(status){
      const reserve_system_exception_schedule_shift_type ={
        0: '國定假日',
        1: '排休'
      }
      return reserve_system_exception_schedule_shift_type[status]
    }
  },
  data(){
    return {
      dialogType:'',
      dialogSearchType:'',
      dialogVisible:false,
      dialogSearchVisible:false,
      exception_shift_listLoading:false,
      exceptionshift: Object.assign({}, defaultExceptionShift),
      search_exception_shift:'',
      exception_shift_total:0,
      exception_shift_List:[],
      //選擇排班代號
      chosen_exception_shift_list:[]
    }
  },
  methods: {
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultExceptionShift['partner_id'] = this.partner
        this.search_exception_shift = query
      } else {
        this.search_exception_shift = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllExceptionShift(1, query)
    },
    //保存選擇的每一頁數據(reserve_system_exception_schedule_shift_id)
    handleSelectRecoverExceptionShift(row){
      // console.log(row.reserve_system_exception_schedule_shift_id)
      return row.reserve_system_exception_schedule_shift_id
    },
    //多筆選擇排休改狀態
    handleSelectExceptionShiftStatus(exception_shift_list){
      console.log(exception_shift_list)
      this.chosen_exception_shift_list = []
      exception_shift_list.forEach((element)=>{
        this.chosen_exception_shift_list.push(element.reserve_system_exception_schedule_shift_id)
      })
    },
    //多筆編輯、刪除狀態
    batch_exception_shift_status_record(type){
      var payload = {}
      var confirm_message = ''
      var confirm_message_type = ''
      payload['reserve_system_exception_schedule_shift_list'] = this.chosen_exception_shift_list
      payload['reserve_system_exception_schedule_type'] = type
      if(type=='edit'){
        confirm_message = '您確定更改多筆排休狀態？'
        confirm_message_type = '更改 '
      }
      else{
        confirm_message = '您確定刪除多筆排休狀態？'
        confirm_message_type = '刪除 '
      }
      this.$confirm(
        '<span style="font-size:18px;">'+confirm_message+'</span>'
      ,confirm_message_type+this.chosen_exception_shift_list.length+' 筆排休狀態', {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          dangerouslyUseHTMLString:true,
          type: 'warning'
        }).then(async() => {
          await BatchExceptionScheduleShiftStatus(payload).then(resp => {
            this.$message({
            message: resp.message,
            type: resp.success==true ? 'success':'error'
            })
          })
          // 設定排休基本資料
          await this.setqueryexceptionshift()
          //清除所有選中數據
          this.$refs.exception_shift.clearSelection()
        }).catch(action => {
          this.$message({
            type: 'info',
            message: type=='edit'?'取消多筆編輯排休狀態':'取消多筆刪除排休狀態'
          }); 
        })
    },
    // 設定排休基本資料
    setqueryexceptionshift(){
      //判斷目前頁數在哪一頁
      if(Cookies.get('exceptionshiftpage')==undefined){
        this.getAllExceptionShift(1, this.search_exception_shift)
      }
      else{
        this.getAllExceptionShift(Cookies.get('exceptionshiftpage'), this.search_exception_shift)
      }
    },
    // 放入實際搜尋條件
    SearchExceptionShift(query){
        //放入實際搜尋條件
        this.search_exception_shift = query
        // 設定排休
        this.setqueryexceptionshift()
    },
    // 關閉排休狀態
    getException_shift_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
    // 顯示所有合作夥伴排休
    async getAllExceptionShift(page, exception_shift) {
      var payload = ''
      if (this.search_exception_shift == '') {
        payload = page
      }
      if (this.search_exception_shift != '') {
        payload += page + '?' + exception_shift
      }
      console.log("before:",Cookies.get('exceptionshiftpage'))
      //設定目前頁數在哪一頁
      Cookies.set('exceptionshiftpage',page)
      console.log("after",Cookies.get('exceptionshiftpage'))
      console.log('payload', payload)
      this.exception_shift_listLoading = true
      getExceptionShiftList(payload).then(resp => {
        this.exception_shift_List = resp.data
        this.exception_shift_total = this.exception_shift_List.count
        this.exception_shift_listLoading = false
      })
    },
    //新增排休
    insertexceptionshift(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultExceptionShift['partner_id'] = this.partner
      this.exceptionshift = Object.assign({},defaultExceptionShift)
    },
    //修改排休
    handleEditexceptionshift(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      this.exceptionshift = deepClone(scope.row)
    },
  }
}
</script>