<template>
  <el-card style="margin-bottom:20px;" v-loading="ReservationSystemScheduleLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">預約排程</span>
      <!-- {{search_appint_schedule}}
      {{schedule_time_interval}} -->
      <!-- {{exception_shift_List}}
      {{search_except_schedule}} -->
      <!-- {{search_appint_schedule}}
      {{startOfMonth}} -->
      <!-- {{reserve_system_schedule_options.events}} -->
      <!-- {{reserve_system_schedule_options.events}} -->
      <!-- {{appointschedule}} -->
      <!-- {{exception_shift_List}} -->
      <!-- {{search_except_schedule}} -->
      <!-- {{startOfMonth}} -->
    </div>
    <div class="user-profile">
        <!-- <AddAppointShop :appointshop="appointshop" :dialogType="dialogType" :dialogVisible="dialogVisible" @getAppointShop="setqueryappointshop" @getAppoint_shop_status_dialogtype="getAppoint_shop_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <SearchAppointShop @SearchAppointShop="SearchAppointShop" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' /> -->
        <SearchAppointSchedule @SearchAppointSchedule="SearchAppointSchedule" :appointschedule_test="search_appint_schedule" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' />
        <AddAppointSchedule :appointschedule="appointschedule" :click_fullcalendar_button="click_fullcalendar_button" :dialogType="dialogType" :dialogVisible="dialogVisible" @getAppointSchedule="SearchAppointSchedule" @getAppoint_schedule_status_dialogtype="getAppoint_schedule_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <FullCalendar ref="reserve_system_schedule"  :options="reserve_system_schedule_options" v-if="activeTab=='reserve_system_schedule'" style="max-height:500px;" />
    </div>
  </el-card>
</template>
<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { deepClone } from '@/utils'
import { getAppointScheduleList } from '@/api/reservationsystemappointschedule'
import { getExceptionShiftList } from '@/api/reservationsystemexceptionshift'
import dayGridPlugin from '@fullcalendar/daygrid'
import interactionPlugin from '@fullcalendar/interaction'
import moment from 'moment'
import AddAppointSchedule from './AddAppointSchedule.vue'
import SearchAppointSchedule from './SearchAppointSchedule.vue'
const defaultAppointSchedule = {
  reserve_system_shop_basic_schedule_class: 1, reserve_system_shop_basic_schedule_teacher: '',reserve_system_shop_basic_schedule_class_name: '',
  reserve_system_shop_basic_schedule_limit_switch:0,reserve_system_shop_basic_schedule_limit_people:0,
  reserve_system_shop_basic_schedule_note:'',reserve_system_shop_basic_schedule_status:0,
  reserve_system_shop_basic_schedule_practice_people:0,reserve_system_shop_basic_schedule_time_interval:'',
  reserve_system_shop_basic_schedule_start_date:'',reserve_system_shop_basic_schedule_end_date:'',
  partner_id: ''
}
export default {
  name:"ReservationSystemSchedule",
  components:{ Pagination,AddAppointSchedule,SearchAppointSchedule },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  watch: {
    partner:{
        handler: function(val, oldVal) {
          this.chosenPartner()
        },
        immediate: true
    },
    // activeTab:{
    //     handler: function(val, oldVal) {
    //       this.chosenPartner()
    //     },
    //     immediate: true
    // },
  },
  filters:{
      //類型：0:課程,1:治療師
      reserve_system_shop_basic_class(status){
      const reserve_system_shop_basic_class = {
        0: '課程',
        1: '治療師'
      }
      return reserve_system_shop_basic_class[status]
      },
      //商品資料表上架情形 0:下架1:上架
      reserve_system_shop_basic_status(status){
      const reserve_system_shop_basic_status = {
        0: '下架',
        1: '上架'
      }
      return reserve_system_shop_basic_status[status]
    },
  },
  data(){
    return {
      dialogType:'',
      dialogSearchType:'',
      dialogVisible:false,
      dialogSearchVisible:false,
      appointschedule: Object.assign({}, defaultAppointSchedule),
      search_appint_schedule:'',
      search_except_schedule:'',
      startOfMonth:'',
      endOfMonth:'',
      schedule_time_interval:'',
      //切換上上一月行事曆
      click_fullcalendar_button:'',
      ReservationSystemScheduleLoading:false,
      appoint_schedule_List:[],
      exception_shift_List:[],
      //行事曆
      reserve_system_schedule_options: {
        plugins: [ dayGridPlugin, interactionPlugin ],
        locale: 'zh-tw',
        initialView: 'dayGridMonth',
        //點擊任意日期[新增]新增預約預約排程
        dateClick: this.insertappointschedule,
        //點擊任意日期[修改]修改預約預約排程
        eventClick:this.editappointschedule,
        selectable: false,
        editable:true,
        initialDate:this.startOfMonth,
        dayMaxEvents: 2,
        events: [
        ],
        headerToolbar:{
          left: 'prev,next',
          center: 'title',
          right: 'dayGridMonth,dayGridWeek,dayGridDay'
        },
        buttonText: {
          month: '本月',
          week: '本周',
          day: '今日',
          // list:'list'
        },
        customButtons: { 
          prev: { // this overrides the prev button
            text: "PREV", 
            click: () => {           
              console.log("點擊上月/週/日");
              this.ReservationSystemScheduleLoading = true
              let calendarApi = this.$refs.reserve_system_schedule.getApi();
              calendarApi.prev();
              //切換上月
              this.click_event_month_preview_next(calendarApi)
              this.click_fullcalendar_button = "prev"
            }
          },
          next: { // this overrides the next button
            text: "NEXT",
            click: () => {
              console.log("點擊下月/週/日");
              this.ReservationSystemScheduleLoading = true
              let calendarApi = this.$refs.reserve_system_schedule.getApi();
              calendarApi.next();
              // console.log(moment(calendarApi.currentData.currentDate).startOf('month').format('YYYY-MM-DD'))
              // console.log(moment(calendarApi.currentData.currentDate).endOf('month').format('YYYY-MM-DD'))
              // console.log(calendarApi)
              //切換下月
              this.click_event_month_preview_next(calendarApi)
              this.click_fullcalendar_button = "next"
            }
          }
        },
      },
    }
  },
  methods: {
    chosenPartner() {
      var query = ''
      this.ReservationSystemScheduleLoading = true
      var startOfMonth = moment(new Date()).startOf('month').format('YYYY-MM-DD');
      var endOfMonth = moment(new Date()).endOf('month').format('YYYY-MM-DD');
      this.startOfMonth = startOfMonth
      this.endOfMonth = endOfMonth
      this.schedule_time_interval = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner +'&reserve_system_shop_basic_schedule_class=全部'
        // query += 'reserve_system_shop_basic_schedule_time_interval=' + startOfMonth+'~'+endOfMonth
        this.schedule_time_interval+= '&reserve_system_shop_basic_schedule_time_interval=' + startOfMonth+'~'+endOfMonth
        defaultAppointSchedule['partner_id'] = this.partner
        defaultAppointSchedule['reserve_system_shop_basic_schedule_time_interval'] = startOfMonth+'~'+endOfMonth
        this.search_appint_schedule = query
        this.search_except_schedule = ''
        this.search_except_schedule += 'partner_id='+this.partner+'&reserve_system_exception_schedule_shift_status=1'
        this.search_except_schedule += '&reserve_system_exception_schedule_start_date=' + startOfMonth
        this.search_except_schedule += '&reserve_system_exception_schedule_end_date=' + endOfMonth
        console.log(this.search_appint_schedule)
        console.log(this.search_except_schedule)
        console.log(this.schedule_time_interval)
        this.getAllAppintSchedule('all', this.search_appint_schedule,this.search_except_schedule,this.schedule_time_interval)
      }
    },
    // 關閉預約排程資料狀態
    getAppoint_schedule_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
    // 顯示所有預約排程資料及排休
    async getAllAppintSchedule(page, appoint_schedule,except_schedule,schedule_time_interval) {
      var payload = ''
      var payload2 = ''
      if (this.search_appint_schedule != '') {
        payload += page + '?' + appoint_schedule+schedule_time_interval
      }
      if(this.search_except_schedule!=''){
        payload2 += page + '?' + except_schedule
      }
      await getAppointScheduleList(payload).then(resp => {
        if(resp.data.count!=0){
          this.appoint_schedule_List = resp.data.list
        }
        else{
          this.appoint_schedule_List = []
        }
      })
      await getExceptionShiftList(payload2).then(resp => {
        if(resp.data.count!=0){
          this.exception_shift_List = []
          this.exception_shift_List = resp.data.list
        }
        else{
          this.exception_shift_List = []
        }
      })
      //判斷資料如果為空不執行
      // if(this.appoint_schedule_List.length!=0){
      //   //帶入所有這一週/月/日行程
      //   await this.set_this_month_appointschedule()
      // }
      // else{
      //   this.reserve_system_schedule_options.events = []
      // }
      console.log("235: ",payload)
      await this.set_this_month_appointschedule(payload)
      this.ReservationSystemScheduleLoading = false
    },
    //帶入所有這一週/月/日行程
    async set_this_month_appointschedule(appoint_schedule){
      var _self = this
      _self.reserve_system_schedule_options.events = []
      //所有預約實際排班
      await _self.appoint_schedule_List.forEach(async (item)=>{
        var class_type=''
        var class_color=''
        var class_title = ''
        if(item.reserve_system_shop_basic_schedule_class==0){
          class_type='(課程)'
          class_color = item.reserve_system_shop_basic_schedule_practice_people==0?'black':'blue'
          class_title = class_type + item.reserve_system_shop_basic_schedule_teacher +' '+ item.reserve_system_shop_basic_schedule_class_name
        }
        if(item.reserve_system_shop_basic_schedule_class==1){
          class_type='(治療師)'
          class_color = item.reserve_system_shop_basic_schedule_practice_people==0?'black':'blue'
          class_title = class_type + item.reserve_system_shop_basic_schedule_teacher
        }
        _self.reserve_system_schedule_options.events.push({
          //reserve_system_shop_basic_schedule_id
          backgroundColor:class_color,
          id: item.reserve_system_shop_basic_schedule_id,
          //商品類型＋課程或治療師名稱
          title: class_title,
          //開始日期及時間
          start: item.reserve_system_shop_basic_schedule_start_date+' '+item.reserve_system_shop_basic_schedule_start_time,
          //結束日期及時間
          end: item.reserve_system_shop_basic_schedule_end_date+' '+item.reserve_system_shop_basic_schedule_end_time,
        })
      })
      //所有排休班表
      await _self.exception_shift_List.forEach(async(item)=>{
        var class_type=''
        var class_color=''
        var class_title = ''
        //判斷為國定假日
        if(item.reserve_system_exception_schedule_shift_type==0){
          class_type='(國定假日)'
          class_color = 'red'
          class_title = class_type + item.reserve_system_exception_schedule_shift_title
          _self.reserve_system_schedule_options.events.push({
            //reserve_system_shop_basic_schedule_id
            backgroundColor:class_color,
            //商品類型＋課程或治療師名稱
            title: class_title,
            //開始日期及時間
            start: item.reserve_system_exception_schedule_shift_date
          })
        }
        //判斷為排休
        if(item.reserve_system_exception_schedule_shift_type==1){
          class_type='(排休)'
          class_color = 'red'
          class_title = class_type + item.reserve_system_exception_schedule_shift_title
          console.log("293:",appoint_schedule)
          // if(appoint_schedule.includes("partner_id="+item.partner_id)){
          //   _self.reserve_system_schedule_options.events.push({
          //     //reserve_system_shop_basic_schedule_id
          //     backgroundColor:class_color,
          //     //商品類型＋課程或治療師名稱
          //     title: class_title,
          //     //開始日期及時間
          //     start: item.reserve_system_exception_schedule_shift_date
          //   })
          // }
          if(appoint_schedule.includes("reserve_system_shop_basic_schedule_class=全部")){
            _self.reserve_system_schedule_options.events.push({
              //reserve_system_shop_basic_schedule_id
              backgroundColor:class_color,
              //商品類型＋課程或治療師名稱
              title: class_title,
              //開始日期及時間
              start: item.reserve_system_exception_schedule_shift_date
            })
          }
          else if(appoint_schedule.includes("reserve_system_shop_basic_schedule_class=0&reserve_system_shop_basic_schedule_teacher=全部")){
            _self.reserve_system_schedule_options.events.push({
              //reserve_system_shop_basic_schedule_id
              backgroundColor:class_color,
              //商品類型＋課程或治療師名稱
              title: class_title,
              //開始日期及時間
              start: item.reserve_system_exception_schedule_shift_date
            })
          }
          else if(appoint_schedule.includes("reserve_system_shop_basic_schedule_class=1&reserve_system_shop_basic_schedule_teacher=全部")){
            _self.reserve_system_schedule_options.events.push({
              //reserve_system_shop_basic_schedule_id
              backgroundColor:class_color,
              //商品類型＋課程或治療師名稱
              title: class_title,
              //開始日期及時間
              start: item.reserve_system_exception_schedule_shift_date
            })
          }
          //當篩選為治療師跑出特定治療師排休
          else if(appoint_schedule.includes("reserve_system_shop_basic_schedule_class=0&reserve_system_shop_basic_schedule_teacher="+item.reserve_system_exception_schedule_shift_title)){
            _self.reserve_system_schedule_options.events.push({
              //reserve_system_shop_basic_schedule_id
              backgroundColor:class_color,
              //商品類型＋課程或治療師名稱
              title: class_title,
              //開始日期及時間
              start: item.reserve_system_exception_schedule_shift_date
            })
          }
           //當篩選為課程跑出特定治療師排休
          else if(appoint_schedule.includes("reserve_system_shop_basic_schedule_class=1&reserve_system_shop_basic_schedule_teacher="+item.reserve_system_exception_schedule_shift_title)){
            _self.reserve_system_schedule_options.events.push({
              //reserve_system_shop_basic_schedule_id
              backgroundColor:class_color,
              //商品類型＋課程或治療師名稱
              title: class_title,
              //開始日期及時間
              start: item.reserve_system_exception_schedule_shift_date
            })
          }
        }
      })
      // console.log(appoint_schedule.includes("reserve_system_shop_basic_schedule_class=全部"))
      // console.log(appoint_schedule.includes("reserve_system_shop_basic_schedule_class=0&reserve_system_shop_basic_schedule_teacher=全部"))
      // console.log(appoint_schedule.includes("reserve_system_shop_basic_schedule_class=1&reserve_system_shop_basic_schedule_teacher=全部"))
    },
     //點擊任意日期[新增]新增預約預約排程
    insertappointschedule(info){
      info.jsEvent.preventDefault();
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultAppointSchedule['partner_id'] = this.partner
      console.log("得知點擊任意日期:",moment(info.date).format('YYYY-MM-DD'))
      var get_this_month_date = moment(info.date).format('YYYY-MM-DD')
      var get_next_month_date = moment(info.date).add(1, 'month').format('YYYY-MM-DD');
      defaultAppointSchedule['reserve_system_shop_basic_schedule_time_interval'] = get_this_month_date+'~'+get_next_month_date
      this.appointschedule = Object.assign({}, defaultAppointSchedule)
    },
    //點擊任意日期[修改]修改預約預約排程
    editappointschedule(info){
      console.log("294: ",info.event._def.title)
      console.log(info.event._def.title.search('國定假日'))
      console.log(info.event._def.title.search('排休'))
      if((info.event._def.title.search('排休')==-1&&info.event._def.title.search('國定假日')==-1)){
        var payload = ''
        var _self = this
        info.jsEvent.preventDefault();
        console.log("reserve_system_shop_basic_schedule_id",info.event.id)
        var reserve_system_shop_basic_schedule_id = info.event.id
        defaultAppointSchedule['partner_id'] = _self.partner
        payload+='all?partner_id='+defaultAppointSchedule['partner_id']+'&reserve_system_shop_basic_schedule_id='+reserve_system_shop_basic_schedule_id
        getAppointScheduleList(payload).then(resp => {
          _self.dialogType = 'edit'
          _self.dialogVisible = true
          _self.appointschedule = deepClone(resp.data.list[0])
          console.log('_self.appointschedule', _self.appointschedule)
        })
      }
      else{
        this.$message.error(info.event._def.title+' 無法點擊修改')
      }
    },
    //切換上一月份、下一月分預約排程
    click_event_month_preview_next(calendarApi){
      var startOfMonth = moment(calendarApi.currentData.currentDate).startOf('month').format('YYYY-MM-DD')
      var endOfMonth = moment(calendarApi.currentData.currentDate).endOf('month').format('YYYY-MM-DD')
      this.startOfMonth = startOfMonth
      this.endOfMonth = endOfMonth
      this.schedule_time_interval = ''
      this.schedule_time_interval += '&reserve_system_shop_basic_schedule_time_interval=' + this.startOfMonth+'~'+this.endOfMonth
      this.search_except_schedule = ''
      this.search_except_schedule += 'partner_id='+this.partner+'&reserve_system_exception_schedule_shift_status=1'
      this.search_except_schedule += '&reserve_system_exception_schedule_start_date=' + this.startOfMonth
      this.search_except_schedule += '&reserve_system_exception_schedule_end_date=' + this.endOfMonth
      this.getAllAppintSchedule('all', this.search_appint_schedule,this.search_except_schedule,this.schedule_time_interval)
    },
    //搜尋上面帶入參數
    SearchAppointSchedule(page,appoint_schedule){
      this.ReservationSystemScheduleLoading = true
      console.log("415:",appoint_schedule)
      this.search_appint_schedule = ''
      this.search_appint_schedule+=appoint_schedule
      this.schedule_time_interval = ''
      this.schedule_time_interval = '&reserve_system_shop_basic_schedule_time_interval=' + this.startOfMonth+'~'+this.endOfMonth
      this.appointschedule = this.search_appint_schedule
      console.log(this.search_appint_schedule)
      console.log(this.schedule_time_interval)
      //得知當前月份與篩選月份進行切換動作
      this.set_practice_filter_month()
      // console.log(calendarApi.currentData.viewTitle)
      // calendarApi.next();
      this.search_except_schedule = ''
      this.search_except_schedule += 'partner_id='+this.partner+'&reserve_system_exception_schedule_shift_status=1'
      this.search_except_schedule += '&reserve_system_exception_schedule_start_date=' + this.startOfMonth
      this.search_except_schedule += '&reserve_system_exception_schedule_end_date=' + this.endOfMonth
      this.getAllAppintSchedule(page, this.search_appint_schedule,this.search_except_schedule,this.schedule_time_interval)
    },
    //得知當前月份與篩選月份進行切換動作
    set_practice_filter_month(){
      let calendarApi = this.$refs.reserve_system_schedule.getApi();
      console.log(moment(calendarApi.getDate()).format('YYYY-MM-DD'))
      console.log(moment(this.startOfMonth).format('YYYY-MM-DD'))
      //當前月份
      var m1 = moment(calendarApi.getDate()).format('YYYY-MM')
      //篩選月份
      var m2 = moment(this.startOfMonth).format('YYYY-MM')
      var a = moment(m1)
      var b = moment(m2)
      //篩選月份與當前月份差幾個月
      console.log(b.diff(a,'months'))
      if(b.diff(a,'months')>0){
        //差距月份為+
        for (var i = 0; i <b.diff(a,'months'); i++) {
          calendarApi.next()
        }
      }
      if(b.diff(a,'months')<0){
        //差距月份為-
        for (var i = 0; i >b.diff(a,'months'); i--) {
          calendarApi.prev();
        }
      }
    }
  }
}
</script>