<template>
    <div>
    <el-form :inline="true" :model="exception_shift" class="demo-form-inline">
    <el-row>
        <!-- {{exception_shift}}
        {{shop_teacherlist}} -->
        <el-form-item label="合作夥伴">
            <el-select
                v-model="exception_shift.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                placeholder="選擇合作夥伴"
                disabled
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="排班是否顯示">
            <el-select v-model="exception_shift.reserve_system_exception_schedule_shift_status" name="reserve_system_exception_schedule_shift_status" 
             placeholder="排班是否顯示狀態" clearable>
                <el-option label="未顯示" :value="0"></el-option>
                <el-option label="顯示" :value="1"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="searchexceptionshift" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultExceptionShift = {
  partner_id:'',
  reserve_system_exception_schedule_shift_status:1
}

export default {
  name: 'SearchExceptionShift',
  data() {
    return {
      exception_shift: Object.assign({}, defaultExceptionShift),
    }
  },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
    watch: {
      partner:{
        handler: async function(val, oldVal) {
          console.log("val: ",val)
        this.exception_shift.partner_id = this.partner
      },
      immediate: true
      },
  },
  methods: {
      searchexceptionshift(){
        var query = ''
        if(this.exception_shift.partner_id!=''){
            query+= 'partner_id='+this.exception_shift.partner_id+'&'
        }
        if(this.exception_shift.reserve_system_exception_schedule_shift_status!=null){
            query+= 'reserve_system_exception_schedule_shift_status='+this.exception_shift.reserve_system_exception_schedule_shift_status+'&'
        }
        //更新資料進入外層的預約上架資料
        this.$emit('SearchExceptionShift',query.slice(0, -1))
      },
  },
}
</script>