<template>
    <div>
    <el-form :inline="true" :model="appointschedule" class="demo-form-inline">
    <el-row>
        <!-- {{appointschedule}} -->
        <!-- {{schedule_class_namelist.list}} -->
        <!-- {{schedule_teacherlist}} -->
        <!-- {{search_next_preview_appint_schedule}} -->
        <!-- {{appointschedule_test}} -->
        <el-form-item label="合作夥伴">
            <el-select
                v-model="appointschedule.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                placeholder="選擇合作夥伴"
                disabled
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <!-- {{appointschedule.reserve_system_shop_basic_schedule_class}} -->
        <el-form-item label="課程/治療師類型">
            <el-select v-model="appointschedule.reserve_system_shop_basic_schedule_class" 
             placeholder="課程/治療師類型"
             @change="set_reserve_system_shop_basic_schedule_class"
            >
                <el-option label="全部" value="全部">全部</el-option>
                <el-option label="課程" value="0"></el-option>
                <el-option label="治療師" value="1"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="選擇治療師/課程" v-show="appointschedule.reserve_system_shop_basic_schedule_class==0||appointschedule.reserve_system_shop_basic_schedule_class==1">
          <el-select
              v-model="appointschedule.reserve_system_shop_basic_schedule_teacher"
              filterable
              allow-create
              default-first-option
              placeholder="選擇治療師/課程"
              @change="set_reserve_system_shop_basic_schedule_teacher"
          >
              <el-option label="全部" value="全部">全部</el-option>
              <el-option
                  v-for="item in schedule_teacherlist"
                  :key="item.reserve_system_shop_basic_teacher"
                  :label="item.reserve_system_shop_basic_teacher"
                  :value="item.reserve_system_shop_basic_teacher">
              </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="選擇課程名稱" v-show="appointschedule.reserve_system_shop_basic_schedule_class==0&&appointschedule.reserve_system_shop_basic_schedule_teacher!='全部'">
          <el-select
              v-model="appointschedule.reserve_system_shop_basic_schedule_class_name"
              filterable
              allow-create
              default-first-option
              placeholder="選擇課程名稱"
          >
              <el-option label="全部" value="全部">全部</el-option>
              <el-option
                  v-for="item in schedule_class_namelist"
                  :key="item.reserve_system_shop_basic_class_name"
                  :label="item.reserve_system_shop_basic_class_name"
                  :value="item.reserve_system_shop_basic_class_name">
              </el-option>
          </el-select>
        </el-form-item>
        <!-- <el-form-item>
            <el-button type="primary" @click="searchappointachedule" icon="el-icon-search">搜索</el-button>
        </el-form-item> -->
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { getAppointShopList } from '@/api/reservationsystemappointshop'
import _ from 'lodash'
const defaultAppointSchedule = {
  reserve_system_shop_basic_schedule_class: '全部', reserve_system_shop_basic_schedule_teacher: '',reserve_system_shop_basic_schedule_class_name: '',
  reserve_system_shop_basic_schedule_limit_switch:0,reserve_system_shop_basic_schedule_limit_people:0,
  reserve_system_shop_basic_schedule_note:'',reserve_system_shop_basic_schedule_status:1,
  reserve_system_shop_basic_schedule_practice_people:0,reserve_system_shop_basic_schedule_time_interval:'',
  reserve_system_shop_basic_schedule_start_date:'',reserve_system_shop_basic_schedule_end_date:'',
  partner_id: ''
}

export default {
  name: 'SearchAppointSchedule',
  data() {
    return {
      appointschedule: Object.assign({}, defaultAppointSchedule),
      schedule_teacherlist:[],
      schedule_class_namelist:[],
      //可作爲上一個月下一個的篩選
      search_next_preview_appint_schedule:''
    }
  },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    },
    appointschedule_test:{
      type: String
    }
    // appointschedule_test:{
    //   type: String
    // }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
    watch: {
      partner:{
        handler: async function(val, oldVal) {
          console.log("val: ",val)
        this.appointschedule.partner_id = this.partner
        this.set_reserve_system_shop_basic_schedule_class()
      },
      immediate: true
      },
      "appointschedule.reserve_system_shop_basic_schedule_class":{
        handler: async function(val, oldVal) {
          console.log("val: ",val)
        this.searchappointachedule()
      },
      immediate: true
      },
      "appointschedule.reserve_system_shop_basic_schedule_teacher":{
        handler: async function(val, oldVal) {
          console.log("val: ",val)
        this.searchappointachedule()
      },
      immediate: true
      },
      "appointschedule.reserve_system_shop_basic_schedule_class_name":{
        handler: async function(val, oldVal) {
          console.log("val: ",val)
        this.searchappointachedule()
      },
      immediate: true
      },
      activeTab:{
        handler: async function(val, oldVal) {
          if(val=='reserve_system_schedule'){
            this.searchappointachedule()
          }
      },
      immediate: true
      },
      appointschedule_test:{
        handler: async function(val, oldVal) {
          console.log("171 val: ",val)
          var get_partner_split = ''
          var get_schedule_class_split = ''
          var get_schedule_teacher_split = ''
          var get_schedule_class_name_split = ''
          //判斷為課程
          if(val.includes('reserve_system_shop_basic_schedule_class=0')){
            console.log("reserve_system_shop_basic_schedule_class=0 start")
            get_partner_split = val.split('&')[0]
            this.appointschedule.partner_id = get_partner_split.split('=')[1]
            get_schedule_class_split = val.split('&')[1]
            this.appointschedule.reserve_system_shop_basic_schedule_class = "0"
            get_schedule_teacher_split = val.split('&')[2]
            this.appointschedule.reserve_system_shop_basic_schedule_teacher = get_schedule_teacher_split.split('=')[1]
            get_schedule_class_name_split = val.split('&')[3]
            this.appointschedule.reserve_system_shop_basic_schedule_class_name = get_schedule_class_name_split.split('=')[1]
            console.log("reserve_system_shop_basic_schedule_class=0 end")
          }
          //判斷為治療師
          if(val.includes('reserve_system_shop_basic_schedule_class=1')){
            console.log("reserve_system_shop_basic_schedule_class=1 start")
            get_partner_split = val.split('&')[0]
            this.appointschedule.partner_id = get_partner_split.split('=')[1]
            get_schedule_class_split = val.split('&')[1]
            this.appointschedule.reserve_system_shop_basic_schedule_class = "1"
            get_schedule_teacher_split = val.split('&')[2]
            this.appointschedule.reserve_system_shop_basic_schedule_teacher = get_schedule_teacher_split.split('=')[1]
            console.log("reserve_system_shop_basic_schedule_class=1 end")
          }
      },
      immediate: true
      }
  },
  methods: {
      //設定所有篩選條件
      searchappointachedule(){
        var query = ''
        if(this.appointschedule.partner_id!=''){
            query+= 'partner_id='+this.appointschedule.partner_id+'&'
        }
        if(this.appointschedule.reserve_system_shop_basic_schedule_class!=null){
            query+= 'reserve_system_shop_basic_schedule_class='+this.appointschedule.reserve_system_shop_basic_schedule_class+'&'
        }
        if(this.appointschedule.reserve_system_shop_basic_schedule_teacher!=null){
            query+= 'reserve_system_shop_basic_schedule_teacher='+this.appointschedule.reserve_system_shop_basic_schedule_teacher+'&'
        }
        if(this.appointschedule.reserve_system_shop_basic_schedule_class_name!='全部'){
            query+= 'reserve_system_shop_basic_schedule_class_name='+this.appointschedule.reserve_system_shop_basic_schedule_class_name+'&'
        }
        //更新資料進入外層的預約排程資料
        this.$emit('SearchAppointSchedule','all',query.slice(0, -1))
      },
      //帶入治療師或課程下拉式選單
      async set_reserve_system_shop_basic_schedule_class(){
        //   var payload = 'all?partner_id='+this.appointschedule.partner_id+'&reserve_system_shop_basic_schedule_class='+this.appointschedule.reserve_system_shop_basic_schedule_class
        console.log(this.appointschedule.reserve_system_shop_basic_schedule_class)
        console.log(this.appointschedule.reserve_system_shop_basic_schedule_class=="")
        if(this.appointschedule.reserve_system_shop_basic_schedule_class==0||this.appointschedule.reserve_system_shop_basic_schedule_class==1){
            var payload = 'all?partner_id='+this.appointschedule.partner_id+'&reserve_system_shop_basic_class='+this.appointschedule.reserve_system_shop_basic_schedule_class
            this.schedule_teacherlist = []
            await getAppointShopList(payload).then(async resp => {
              console.log(resp.data.list)
                await _.uniqBy(resp.data.list, 'reserve_system_shop_basic_teacher').forEach(async (items) => {
                  console.log(items)
                  await this.schedule_teacherlist.push({
                    "reserve_system_shop_basic_teacher":items.reserve_system_shop_basic_teacher
                  })
                })
                //帶入預設第一個下拉式選單資料
                this.appointschedule.reserve_system_shop_basic_schedule_teacher = '全部'
                if(this.appointschedule.reserve_system_shop_basic_schedule_teacher == '全部'){
                  this.appointschedule.reserve_system_shop_basic_schedule_class_name = ''
                }
                if(this.appointschedule.reserve_system_shop_basic_schedule_class==0){
                  await this.set_reserve_system_shop_basic_schedule_teacher()
                }
                else{
                  this.appointschedule.reserve_system_shop_basic_schedule_class_name = ''
                }
            })
        }
        if(this.appointschedule.reserve_system_shop_basic_schedule_class=='全部'){
          this.schedule_teacherlist = []
          this.schedule_class_namelist = []
          this.appointschedule.reserve_system_shop_basic_schedule_teacher = null
          this.appointschedule.reserve_system_shop_basic_schedule_class_name = ''
        }
      },
      //帶入治療師或課程名稱下拉式選單
      async set_reserve_system_shop_basic_schedule_teacher(){
        //   var payload = 'all?partner_id='+this.appointschedule.partner_id+'&reserve_system_shop_basic_schedule_class='+this.appointschedule.reserve_system_shop_basic_schedule_class
        if(this.appointschedule.reserve_system_shop_basic_schedule_class==0 && this.appointschedule.reserve_system_shop_basic_schedule_teacher!='全部'){
            var payload = 'all?partner_id='+this.appointschedule.partner_id+'&reserve_system_shop_basic_class='+this.appointschedule.reserve_system_shop_basic_schedule_class+
            '&reserve_system_shop_basic_teacher='+this.appointschedule.reserve_system_shop_basic_schedule_teacher

            this.schedule_class_namelist = []
            await getAppointShopList(payload).then(async resp => {
              console.log(resp.data.list)
                await _.uniqBy(resp.data.list, 'reserve_system_shop_basic_class_name').forEach((items) => {
                  console.log(items)
                  this.schedule_class_namelist.push({
                    "reserve_system_shop_basic_class_name":items.reserve_system_shop_basic_class_name
                  })
                })
                // //帶入預設第一個下拉式選單資料
                  this.appointschedule.reserve_system_shop_basic_schedule_class_name = '全部'
                
            })
        }
        if(this.appointschedule.reserve_system_shop_basic_schedule_teacher == '全部'){
          this.appointschedule.reserve_system_shop_basic_schedule_class_name = ''
        }
      },
  },
}
</script>