<template>
    <div>
    <el-form :inline="true" :model="appointshop" class="demo-form-inline">
    <el-row>
        <!-- {{appointshop}}
        {{shop_teacherlist}} -->
        <el-form-item label="合作夥伴">
            <el-select
                v-model="appointshop.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                placeholder="選擇合作夥伴"
                disabled
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="課程/治療師類型">
            <el-select v-model="appointshop.reserve_system_shop_basic_class" name="reserve_system_shop_basic_class" 
             placeholder="課程/治療師類型"
             @change="set_reserve_system_shop_basic_class"
             clearable>
                <el-option label="全部" value="全部">全部</el-option>
                <el-option label="課程" :value="0"></el-option>
                <el-option label="治療師" :value="1"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="選擇治療師/講師" v-show="appointshop.reserve_system_shop_basic_class==0||appointshop.reserve_system_shop_basic_class==1">
          <el-select
              v-model="appointshop.reserve_system_shop_basic_teacher"
              filterable
              allow-create
              default-first-option
              placeholder="選擇治療師/講師"
          >
              <el-option label="全部" value="全部">全部</el-option>
              <el-option
                  v-for="item in shop_teacherlist"
                  :key="item.reserve_system_shop_basic_teacher"
                  :label="item.reserve_system_shop_basic_teacher"
                  :value="item.reserve_system_shop_basic_teacher">
              </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="預約商品上下架">
            <el-select v-model="appointshop.reserve_system_shop_basic_status" name="reserve_system_shop_basic_status" 
             placeholder="預約商品上下架" clearable>
                <el-option label="下架" :value="0"></el-option>
                <el-option label="上架" :value="1"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="searchappointshop" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { getAppointShopList } from '@/api/reservationsystemappointshop'
import { getAdmin } from '@/api/admin_manager'
const defaultAppointShop = {
  partner_id:'',
  reserve_system_shop_basic_class:'全部',
  reserve_system_shop_basic_teacher:'',
  reserve_system_shop_basic_class_name:'',
  reserve_system_shop_basic_status:1
}

export default {
  name: 'SearchAppointShop',
  data() {
    return {
      appointshop: Object.assign({}, defaultAppointShop),
      appoint_shop_List_select:[],
      AdminList:[],
      shop_teacherlist:[]
    }
  },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
    watch: {
      partner:{
        handler: async function(val, oldVal) {
        if(this.activeTab=='reserve_system_appoint_shop'){
          console.log("val: ",val)
          this.appointshop.partner_id = this.partner
          //帶入治療師或課程下拉式選單
          this.set_reserve_system_shop_basic_shop_class()
        }
      },
      immediate: true
      },
  },
  methods: {
      searchappointshop(){
        var query = ''
        if(this.appointshop.partner_id!=''){
            query+= 'partner_id='+this.appointshop.partner_id+'&'
        }
        if(this.appointshop.reserve_system_shop_basic_class!=null){
            query+= 'reserve_system_shop_basic_class='+this.appointshop.reserve_system_shop_basic_class+'&'
        }
        if(this.appointshop.reserve_system_shop_basic_teacher!=null){
            query+= 'reserve_system_shop_basic_teacher='+this.appointshop.reserve_system_shop_basic_teacher+'&'
        }
        if(this.appointshop.reserve_system_shop_basic_status!=null){
            query+= 'reserve_system_shop_basic_status='+this.appointshop.reserve_system_shop_basic_status+'&'
        }
        //更新資料進入外層的預約上架資料
        this.$emit('SearchAppointShop',query.slice(0, -1))
      },

      //帶入治療師或課程下拉式選單
      set_reserve_system_shop_basic_class(){
        console.log(this.appointshop.reserve_system_shop_basic_class)
        console.log(this.appointshop.reserve_system_shop_basic_class=="")
        if(this.appointshop.reserve_system_shop_basic_class==0||this.appointshop.reserve_system_shop_basic_class==1){
            var payload = 'all?partner_id='+this.appointshop.partner_id+'&reserve_system_shop_basic_class='+this.appointshop.reserve_system_shop_basic_class
            this.shop_teacherlist = []
            getAppointShopList(payload).then(resp => {
              console.log(resp.data.list)
                _.uniqBy(resp.data.list, 'reserve_system_shop_basic_teacher').forEach((items) => {
                  console.log(items)
                  this.shop_teacherlist.push({
                    "reserve_system_shop_basic_teacher":items.reserve_system_shop_basic_teacher
                  })
                })
                //帶入預設第一個下拉式選單資料
                this.appointshop.reserve_system_shop_basic_teacher = '全部'
            })
        }
        if(this.appointshop.reserve_system_shop_basic_class=='全部'){
          this.shop_teacherlist = []
          this.appointshop.reserve_system_shop_basic_teacher = null
        }
      },
  },
}
</script>