<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新設定檔外層列表':'新增設定檔外層列表'"
    :before-close="closeAddInnerConfig" center fullscreen
    append-to-body
    >
        <!-- {{dialogRouterType}}
        {{dialogRouterVisible}} -->
      <div style="text-align:right;">
        <el-row :gutter="20">
          <el-col :xs="24" :sm="24" :lg="24" :xl="24">
           <el-button type="info" icon="el-icon-setting" @click="search_router_manager" style="float:right; margin:5px 0;">搜尋路由管理</el-button>
          </el-col>
        </el-row>
      </div>
      <el-form :rules="InnerConfigRules" status-icon ref="innerconfig" :model="innerconfig" label-position="right">
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="資料表名稱" prop="table_name" style="height:220px;">
                  <br/>
                    <el-select
                    v-model="innerconfig.table_name"
                    placeholder="請選擇資料表名稱"
                    filterable
                    default-first-option
                    style="margin:auto 10px;"
                    autocomplete="off"
                    ref="table_name"
                    >
                    <el-option
                        v-for="item in TableNameList.list"
                        :key="item.Tables_in_shopstore"
                        :label="item.Tables_in_shopstore"
                        :value="item.Tables_in_shopstore"
                    />
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="資料表欄位" prop="column_name" style="height:220px;">
                  <br/>
                    <el-select
                    v-model="innerconfig.column_name"
                    placeholder="請選擇資料表欄位"
                    filterable
                    default-first-option
                    style="margin:auto 10px;"
                    autocomplete="off"
                    ref="column_name"
                    :disabled="innerconfig.table_name==''?true:false"
                    >
                    <el-option
                        v-for="item in ColumnNameList.list"
                        :key="item.Field"
                        :label="item.Field"
                        :value="item.Field"
                    />
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="資料表格設定檔" prop="data" >
              <el-input
              v-model="innerconfig.data"
              placeholder="資料表格設定檔"
              type="textarea"
              :rows="5"
              autocomplete="off"
              ref="data"
                  />
              </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddInnerConfig">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmInnerConfig('innerconfig')">確認</el-button>
      </div>
    </el-dialog>
    <serach-router-manager :dialogRouterType="dialogRouterType" :dialogRouterVisible="dialogRouterVisible" @getRouter_status_dialogtype="getRouter_status_dialogtype" @set_innerconfig_data="set_innerconfig_data" />
    </div>
</template>
<script>
import { ShowDatabaseTables,ShowDatabaseTablesField } from '@/api/develop_manager.js'
import SerachRouterManager from './SerachRouterManager.vue'
export default {
name: 'AddInnerConfig',
components:{SerachRouterManager},
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    innerconfig:{
        type:Object,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  data() {
    return {
      InnerConfigRules: {
          table_name:[{ required: true,message: '資料表名稱為必填欄位' }],
          column_name:[{ required: true,message: '資料表欄位為必填欄位' }],
          data:[{ required: true,message: '資料表設定檔為必填欄位' }]
      },
      TableNameList:[],
      ColumnNameList:[],
      loading:false,
      dialogRouterType:'',
      dialogRouterVisible:false
    }
  },
  created() {
    //得知所有資料庫內所有的資料表
    this.show_table_name_list()
  },
  watch:{
    "innerconfig.table_name":function(val){
        //當資料表名稱有資料時，帶入內層資料欄位
        if(val!=''){
            this.change_tablename()
        }
    }
  },
  methods: {
    //關閉選單
    closeAddInnerConfig(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    this.$emit('getinnerconfig_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    getRouter_status_dialogtype(dialogRouterVisible,dialogRouterType){
        this.dialogRouterVisible = dialogRouterVisible
        this.dialogRouterType = dialogRouterType
    },
    //得知所有資料庫內所有的資料表
    show_table_name_list(){
      ShowDatabaseTables().then((resp)=>{
        this.TableNameList = resp.data
      })
    },
    //內層資料欄位呈現
    change_tablename(){
      ShowDatabaseTablesField(this.innerconfig.table_name).then((resp)=>{
        this.ColumnNameList = resp.data
      })
    },
    confirmInnerConfig(innerconfig){
    // 更新與新增設定檔外層
      this.$refs[innerconfig].validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('develop_manager/insert_update_config_name', this.innerconfig)
            .then((res) => {
                // 更新資料進入外層的設定檔外層
                this.$emit('getInnerConfig')
                console.log(res)
                // this.dialogVisible = false
                //判斷是否為新增或修改
                if(this.dialogType!="edit"){
                    this.$nextTick(() => {
                        this.$refs[innerconfig].resetFields();
                    })
                }
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    //搜尋路由管理
    search_router_manager(){
      this.dialogRouterType = 'search'
      this.dialogRouterVisible = true
    },
    //複製放入資料表格設定檔
    set_innerconfig_data(copy_json_data){
        if(this.dialogType=='new'){
            this.innerconfig.data.push(copy_json_data)
        }
    }
  }
}
</script>