<template>
    <div>
    <el-dialog :visible="dialogOuterVisible" :title="dialogOuterType==='edit'?'更新設定檔內層列表':'新增設定檔內層列表'"
    :before-close="closeAddOuterConfig" center fullscreen
    append-to-body
    >
        <!-- {{dialogRouterType}}
        {{dialogRouterVisible}} -->
      <el-form :rules="OuterConfigRules" status-icon ref="outerconfig" :model="outerconfig" label-position="right">
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="資料表格設定檔" prop="json_data" >
              <el-input
              v-model="outerconfig.json_data"
              placeholder="資料表格設定檔"
              type="textarea"
              :rows="12"
              autocomplete="off"
              ref="data"
                  />
              </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddOuterConfig">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmOuterConfig('outerconfig')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
import { getOuterConfig,confirmOuterConfig } from '@/api/develop_manager.js'
export default {
name: 'AddOuterConfig',
props:{
    dialogOuterType:{
        type:String,
        require:true
    },
    dialogOuterVisible:{
        type:Boolean,
        require:true
    },
    outerconfig:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      OuterConfigRules: {
          data:[{ required: true,message: '資料表設定檔為必填欄位' }]
      },
      loading:false,
    }
  },
  methods: {
    //關閉選單
    closeAddOuterConfig(){
    //更新資料進入外層的關閉選單
    this.dialogOuterVisible = false
    this.dialogOuterType = ''
    this.$emit('getouterconfig_status_dialogtype',this.dialogOuterVisible,this.dialogOuterType)
    },
    confirmOuterConfig(outerconfig){
    // 更新與新增設定檔外層
      this.$refs[outerconfig].validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('develop_manager/insert_update_outer_config_name', this.outerconfig)
            .then((res) => {
                // 更新資料進入外層的設定檔外層
                this.$emit('getOuterConfig')
                console.log(res)
                // this.dialogVisible = false
                //判斷是否為新增或修改
                if(this.dialogOuterType!="edit"){
                    this.$nextTick(() => {
                        this.$refs[outerconfig].resetFields();
                    })
                }
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    }
  }
}
</script>