<template>
  <el-card style="margin-bottom:20px;" v-loading="InnerConfigAllLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">設定檔外層資料</span>
      <el-button type="primary" icon="el-icon-edit" @click="insertinnerconfig" style="float:right;" :disabled="partner==null?true:false">新設定檔外層</el-button>
    </div>
    <!-- {{InnerConfig}} -->
    <div class="user-profile">
        <AddInnerConfig :innerconfig="innerconfig" :dialogType="dialogType" :dialogVisible="dialogVisible" @getInnerConfig="chosenPartner" @getinnerconfig_status_dialogtype="getInnerconfig_status_dialogtype" />
        <el-table v-loading="InnerConfigLoading" :data="InnerConfig.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <!-- <el-table-column align="center" width="120" label="rich_menu">
            <template slot-scope="scope">
                {{scope.row.rich_menu}}
            </template>
        </el-table-column> -->
        <el-table-column align="center" label="資料表名稱">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0; font-size:20px;">{{ scope.row.table_name }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="資料表欄位">
            <template slot-scope="scope">
              <el-tag style="margin:10px 0; font-size:20px;">{{ scope.row.column_name }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="資料表設定檔格式">
            <template slot-scope="scope">
              <el-tag style="margin:10px 0; font-size:20px;">{{ scope.row.data }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="100" label="操作">
            <template slot-scope="scope">
                <el-button type="primary" @click="handleEditinnerconfig(scope)" style="margin:5px;" :disabled="partner==null?true:false">編輯</el-button>
            </template>
        </el-table-column>
        </el-table>
          <pagination
          :total="InnerConfig.count"
          :page.sync="InnerConfig.nowpages"
          :limit.sync="InnerConfig.limit"
          @pagination="getinnerconfig(InnerConfig.nowpages,search_innerconfig)"
        />
    </div>
  </el-card>
</template>

<script>
import { getInnerConfig } from '@/api/develop_manager'
import AddInnerConfig from './AddInnerConfig.vue'
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { deepClone } from '@/utils'
const defaultInnerConfig = {
  partner_id:'',
  table_name:'',
  column_name:'',
  data:[]
}
export default {
  name: "innerconfig",
  components: { Pagination,AddInnerConfig },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
  },
  filters:{

  },
  data(){
    return {
      InnerConfig: [],
      check_admin_premission:[],
      InnerConfigLoading:false,
      InnerConfigAllLoading:false,
      search_innerconfig:'',
      dialogType:'new',
      dialogVisible:false,
      innerconfig:Object.assign({}, defaultInnerConfig),
    }
  },
  computed: {
    ...mapGetters([
      'partner_id',
    ])
  },
  async mounted() {
    // 得知使用者實際擁有權限
    this.getAdminPremission("設定檔管理")
  },
    watch: {
      partner:{
        handler: function(val, oldVal) {
        if(this.partner!=''){
          this.chosenPartner()
        }
      },
      immediate: true
      }
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 切換所有合作夥伴的內層設定檔
    chosenPartner() {
      var query = ''
      defaultInnerConfig['partner_id'] = this.partner
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        this.search_innerconfig = query
      } else {
        this.search_innerconfig = query
      }
      this.getinnerconfig(1, query)
    },
    //得知內層設定檔
    getinnerconfig(page,query){
      this.InnerConfig = []
      this.InnerConfigLoading = true
      this.InnerConfigAllLoading = true
      var payload = ''
      if (this.search_inner == '') {
        payload = page
      }
      if (this.search_inner != '') {
        payload += page + '?' + query
      }
      defaultInnerConfig['partner_id'] = this.partner
      getInnerConfig(payload).then(resp => {
        if(resp.success==true){
            this.InnerConfig = resp.data
        }
        this.InnerConfigLoading = false
        this.InnerConfigAllLoading = false
      })
    },
    //新增設定檔內層
    insertinnerconfig(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultInnerConfig['partner_id'] = this.partner
      this.innerconfig = Object.assign({}, defaultInnerConfig)
    },
    //修改設定檔內層
    handleEditinnerconfig(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      this.innerconfig = deepClone(scope.row)
    },
    // 關閉選單狀態
    getInnerconfig_status_dialogtype(status,type){
      this.dialogVisible = status
      this.dialogType = type
    }
  }
}
</script>