<template>
  <el-card style="margin-bottom:20px;" v-loading="OuterConfigAllLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">設定檔內層資料</span>
      <el-button type="primary" icon="el-icon-edit" @click="insertouterconfig" style="float:right;" :disabled="partner==null?true:false">新設定檔內層</el-button>
    </div>
    <!-- {{OuterConfig}} -->
    <!-- {{dialogOuterType}}
    {{dialogOuterVisible}} -->
    <div class="user-profile">
        <AddOuterConfig :outerconfig="outerconfig" :dialogOuterType="dialogOuterType" :dialogOuterVisible="dialogOuterVisible" @getOuterConfig="chosenPartner" @getouterconfig_status_dialogtype="getOuterconfig_status_dialogtype" />
        <el-table v-loading="OuterConfigLoading" :data="OuterConfig.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <!-- <el-table-column align="center" width="120" label="rich_menu">
            <template slot-scope="scope">
                {{scope.row.rich_menu}}
            </template>
        </el-table-column> -->
        <el-table-column align="center" label="資料表設定檔格式" width="800">
            <template slot-scope="scope">
              <el-tag style="margin:10px 0; font-size:20px;">{{ scope.row.json_data }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="150" label="操作">
            <template slot-scope="scope">
                <el-button type="primary" @click="handleEditouterconfig(scope)" style="margin:5px;" :disabled="partner==null?true:false">編輯</el-button>
            </template>
        </el-table-column>
        </el-table>
          <pagination
          :total="OuterConfig.count"
          :page.sync="OuterConfig.nowpages"
          :limit.sync="OuterConfig.limit"
          @pagination="getouterconfig(OuterConfig.nowpages,search_outerconfig)"
        />
    </div>
  </el-card>
</template>

<script>
import { getOuterConfig, } from '@/api/develop_manager'
import AddOuterConfig from './AddOuterConfig.vue'
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { deepClone } from '@/utils'
const defaultOuterConfig = {
  partner_id:'',
  json_data:[]
}
export default {
  name: "outerconfig",
  components: { Pagination,AddOuterConfig },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
  },
  data(){
    return {
      OuterConfig: [],
      check_admin_premission:[],
      OuterConfigLoading:false,
      OuterConfigAllLoading:false,
      search_outerconfig:'',
      dialogOuterType:'new',
      dialogOuterVisible:false,
      outerconfig:Object.assign({}, defaultOuterConfig),
    }
  },
  computed: {
    ...mapGetters([
      'partner_id',
    ])
  },
  async mounted() {
    // 得知使用者實際擁有權限
    this.getAdminPremission("設定檔管理")
  },
    watch: {
      partner:{
        handler: function(val, oldVal) {
        if(this.partner!=''){
          this.chosenPartner()
        }
      },
      immediate: true
      }
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 切換所有合作夥伴的內層設定檔
    chosenPartner() {
      var query = ''
      defaultOuterConfig['partner_id'] = this.partner
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        this.search_outerconfig = query
      } else {
        this.search_outerconfig = query
      }
      this.getouterconfig(query)
    },
    //得知內層設定檔
    getouterconfig(query){
      this.OuterConfig = []
      this.OuterConfigLoading = true
      this.OuterConfigAllLoading = true
      var payload = ''
      payload +=  '1?'+query
      defaultOuterConfig['partner_id'] = this.partner
      getOuterConfig(payload).then(resp => {
        if(resp.success==true){
            this.OuterConfig = resp.data
        }
        this.OuterConfigLoading = false
        this.OuterConfigAllLoading = false
      })
    },
    //新增設定檔內層
    insertouterconfig(){
      this.dialogOuterType = 'new'
      this.dialogOuterVisible = true
      defaultOuterConfig['partner_id'] = this.partner
      this.outerconfig = Object.assign({}, defaultOuterConfig)
    },
    //修改設定檔內層
    handleEditouterconfig(scope){
      this.dialogOuterType = 'edit'
      this.dialogOuterVisible = true
      this.outerconfig = deepClone(scope.row)
    },
    // 關閉選單狀態
    getOuterconfig_status_dialogtype(status,type){
      this.dialogOuterVisible = status
      this.dialogOuterType = type
    }
  }
}
</script>