<template>
    <div>
    <el-dialog :visible="dialogRouterVisible" :title="dialogRouterType==='search'?'搜尋路由管理':''"
    :before-close="closeAddRouter" center
    append-to-body
    width="80%"
    >
      <el-tabs v-model="activeTab">
        <el-tab-pane label="第一層路由資料" name="one_inner_config">
            <el-table v-loading="loading" :data="routerfatherlist" border fit highlight-current-row style="width: 100%;margin-top:10px;">
            <el-table-column
                fixed
                label="權限父層代號"
            >
                <template slot-scope="scope">
                <span>{{ scope.row.premission_father_id }}</span>
                </template>
            </el-table-column>
            <el-table-column
                fixed
                label="權限父層名稱"
            >
                <template slot-scope="scope">
                <span>{{ scope.row.premission_father_name }}</span>
                </template>
            </el-table-column>
            <el-table-column
                fixed
                label="操作"
                align="center"
            >
            <template slot-scope="scope">
                <!-- {{generationPremissionId(scope.row.premission_father_id, scope.row.premission_father_name)}} -->
                <el-button type="primary" @click="handleClipboard(generationPremissionId(scope.row.premission_father_id, scope.row.premission_father_name),$event)">複製</el-button>
            </template>
            </el-table-column>
            </el-table>
        </el-tab-pane>
        <el-tab-pane label="第二層路由資料" name="second_inner_config">
            <el-table v-loading="loading" :data="routersonlist" border fit highlight-current-row style="width: 100%;margin-top:10px;">
            <el-table-column
                fixed
                label="權限子層代號"
            >
                <template slot-scope="scope">
                <span>{{ scope.row.premission_id }}</span>
                </template>
            </el-table-column>
            <el-table-column
                fixed
                label="權限父層名稱"
            >
                <template slot-scope="scope">
                <span>{{ scope.row.premission_father_name }}</span>
                </template>
            </el-table-column>
            <el-table-column
                fixed
                label="權限子層名稱"
            >
                <template slot-scope="scope">
                <span>{{ scope.row.premission_meta_title }}</span>
                </template>
            </el-table-column>
            <el-table-column
                fixed
                label="操作"
                align="center"
            >
            <template slot-scope="scope">
                <!-- {{generationPremissionId(scope.row.premission_father_id, scope.row.premission_father_name)}} -->
                <el-button type="primary" @click="handleClipboard(generationPremissionId(scope.row.premission_id, scope.row.premission_meta_title),$event)">複製</el-button>
            </template>
            </el-table-column>
            </el-table>
        </el-tab-pane>
      </el-tabs>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddRouter">關閉</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import clipboard from '@/utils/clipboard'
export default {
name: 'SerachRouterManager',
props:{
    dialogRouterType:{
        type:String,
        require:true
    },
    dialogRouterVisible:{
        type:Boolean,
        require:true
    },
},
  data() {
    return {
      loading:false,
      activeTab:'one_inner_config'
    }
  },
  computed: {
    ...mapGetters([
      'routerfatherlist',
      'routersonlist'
    ])
  },
  created() {
    this.loading = true
    this.$store.dispatch('router_manager/getRouterPermissionFather','all')
    this.$store.dispatch('router_manager/getRouterPermissionSon',1)
    this.loading = false
  },
  methods: {
    //關閉選單
    closeAddRouter(){
    //更新資料進入外層的關閉選單
    this.dialogRouterVisible = false
    this.dialogRouterType = ''
    this.$emit('getRouter_status_dialogtype',this.dialogRouterVisible,this.dialogRouterType)
    },
    //複製帶入資料
    generationPremissionId(premission_id,premission_name){
        this.$emit('set_innerconfig_data','{"'+premission_id+'":"'+premission_name+'"}')
        return '{"'+premission_id+'":"'+premission_name+'"}'
        // return `{${premission_id}:${premission_name}}`
    },
    //複製父路由與子路由
    handleClipboard(text,event){
        clipboard(text,event)
    }
    
  }
}
</script>