<template>
  <div>
    <!-- {{type}}/{{partner_id}}/{{page}} -->
    <!-- {{todolist}} -->
    <el-table v-loading="permission_fatherLoading" :data="routerfatherlist" border fit highlight-current-row style="width: 100%;margin-top:10px;" v-if="type=='all_router_father'">
      <el-table-column
        fixed
        width="130"
        label="權限父層名稱"
      >
        <template slot-scope="scope">
          <span>{{ scope.row.premission_father_name }}</span>
        </template>
      </el-table-column>

      <el-table-column label="權限父層網址">
        <template slot-scope="{row}">
          <span>{{ row.premission_father_path }}</span>
        </template>
      </el-table-column>
      <el-table-column label="權限父層按鈕">
        <template slot-scope="{row}">
          <div class="icon-item">
            <i v-if="row.premission_father_meta_icon.includes('el')" :class="row.premission_father_meta_icon" />
            <svg-icon v-else :icon-class="row.premission_father_meta_icon" />
          </div>
        </template>
      </el-table-column>
      <el-table-column width="160" label="權限父層轉址">
        <template slot-scope="{row}">
          <span>{{ row.premission_father_redirect }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作">
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditFatherlist(scope)">編輯</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-table v-loading="permission_sonLoading" :data="routersonlist" border fit highlight-current-row style="width: 100%;margin-top:10px;" v-if="type=='all_router_son'">
      <el-table-column  
        fixed
        width="180" 
        label="權限父層>子層名稱">
        <template slot-scope="{row}">
          <span v-if="row.premission_father_name==null">{{ row.premission_meta_title }}</span>
          <span v-else>{{ row.premission_father_name }} > {{ row.premission_meta_title }}</span>
        </template>
      </el-table-column>
      <el-table-column label="權限子層按鈕">
        <template slot-scope="{row}">
          <div class="icon-item">
            <i v-if="row.premission_meta_icon.includes('el')" :class="row.premission_meta_icon" />
            <svg-icon v-else :icon-class="row.premission_meta_icon" />
          </div>
        </template>
      </el-table-column>
      <el-table-column label="權限子層釘選狀態">
        <template slot-scope="{row}">
          <span>{{ row.premission_meta_affix }}</span>
        </template>
      </el-table-column>
      <el-table-column width="185" label="權限父層>子層網址">
        <template slot-scope="{row}">
          <span>{{ row.premission_father_path }}{{ row.premission_route }}</span>
        </template>
      </el-table-column>
      <el-table-column width="100" align="center" label="操作">
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditSonlist(scope)">編輯</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'TodolistPane',
  filters: {
    pushstatusFilter(status) {
      const statusMap = {
        0: '未完成',
        1: '已完成'
      }
      return statusMap[status]
    },
    pushmessageFilter(status){
      const statusMap = {
        0: '關閉',
        1: '開啟'
      }
      return statusMap[status]
    }
  },
  props: {
    type: {
      type: String,
      default: 'all_todolist'
    },
    // 實際新增與修改更新父層資料呈現object
    insert_update_father_data_times:{
      type: Object,
      require:false
    },
    // 實際新增與修改更新子層資料呈現object
    insert_update_son_data_times:{
      type: Object,
      require:false
    },
    // 實際搜尋合作夥伴內代辦事項資料呈現object
    search_todolist_data_times:{
      type: String,
      require:false 
    }
  },
  data() {
    return {
      list: null,
      // listQuery: {
      //   page: 1,
      //   limit: 5,
      //   type: this.type,
      //   sort: '+id'
      // },
      permission_fatherLoading: false,
      permission_sonLoading: false
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
      'routerfatherlist',
      'routersonlist'
    ])
  },
  watch:{
    //更新父層資料
    insert_update_father_data_times(){
      this.$store.dispatch('router_manager/getRouterPermissionFather','all')
    },
    //更新子層資料
    insert_update_son_data_times(){
     this.$store.dispatch('router_manager/getRouterPermissionSon',1)
    }
  },
  created() {
      // 父類別
      if(this.type == 'all_router_father') {
          this.$store.dispatch('router_manager/getRouterPermissionFather','all')
      }
      // 子類別
      if(this.type == 'all_router_son') {
          this.$store.dispatch('router_manager/getRouterPermissionSon',1)
      }
    // this.getList()
  },
  methods: {
    // 顯示選擇父層資料
    handleEditFatherlist(scope) {
      console.log("scope",scope.row)
      this.$emit('getAllFatherlist',scope.row)
    },
    // 顯示選擇子層資料
    handleEditSonlist(scope) {
      console.log("scope",scope.row)
      this.$emit('getAllSonlist',scope.row)
    }
  }
}
</script>
<style lang="scss" scoped>
  .icon-item {
    width: 100px;
    font-size: 30px;
    color: #24292e;
  }
</style>
