<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新票卷開團列表':'新增票卷開團列表'"
    :before-close="closeAddGroup" center fullscreen
    append-to-body
    >
    <!-- {{groupbuygroup}} -->
    <!-- {{ChangeGroupBuyShop}} -->
    <!-- {{get_all_chosen_shop_list}} -->
    <!-- {{ChangeGroupBuyShop_limit_total}} -->
    <!-- {{newGroupBuyShopList}} -->
    <!-- {{GroupBuyShopList.list}} -->
    <!-- {{groupbuygroup.limit_amount_items}} -->
      <div style="text-align:right;">
        <el-row :gutter="20" v-show="dialogType==='new'">
          <el-col :xs="24" :sm="24" :lg="24" :xl="24">
              <el-select
              v-model="copy_groupbuy_id"
              placeholder="請選擇複製開團"
              filterable
              default-first-option
              @change="set_copy_groupbuy"
              style="margin:auto 10px;"
              >
              <el-option
                  v-for="item in GroupBuy.list"
                  :key="item.id"
                  :label="item.title"
                  :value="item.id"
              />
              </el-select>
          </el-col>
        </el-row>
      </div>
      <el-form :rules="GroupRules" status-icon ref="groupbuygroup" :model="groupbuygroup" label-position="right">
        <el-row :gutter="20">
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
              <el-form-item label="票卷開團名稱" prop="title">
                  <el-input
                  v-model="groupbuygroup.title"
                  placeholder="票卷開團名稱"
                  autocomplete="off"
                  ref="title"
                      />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
              <el-form-item label="開始日期" prop="start_at" >
                 <br>
                <el-date-picker v-model="groupbuygroup.start_at" type="date" 
                ref="start_at" name="start_at" placeholder="開始日期"
                value-format="yyyy-MM-dd 00:00:00"
                ></el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6" >
              <el-form-item label="截止日期" prop="end_at">
                 <br>
                <el-date-picker v-model="groupbuygroup.end_at" type="date" 
                ref="end_at" name="end_at" placeholder="截止日期"
                :start-placeholder="groupbuygroup.start_at"
                value-format="yyyy-MM-dd 23:59:59"
                ></el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
              <el-form-item label="票卷前端顯示狀態" prop="on_sale" >
                <br>
                <el-radio-group v-model="groupbuygroup.on_sale" name="on_sale">
                  <el-radio-button label=0 border>未開啟</el-radio-button>
                  <el-radio-button label=1 border>已開啟</el-radio-button>
                </el-radio-group>
              </el-form-item>
            </el-col>
            
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
              <el-form-item label="票卷開團注意事項" prop="description">
                <br/>
                <span style="color:red;">＊請填寫票卷開團注意事項資訊</span>
                <tinymce v-if="!reloading_description" :id="this.tinymce_description+'_'+this.tinymcekey_description" ref="editorDescriptionRef" v-model="groupbuygroup.description" :height="250" :key="this.tinymcekey_description" />
              </el-form-item>
            </el-col>
            <!-- {{groupbuygroup.items}} -->
            <!-- 票卷商品列表 start -->
             <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="border:0.5px solid black;margin:5px 0;">
                <draggable
                v-model="groupbuygroup.items"
                animation="1000"
                >
                <div v-for="(items_list,index) in groupbuygroup.items" :key="index">
                    <el-form-item label="票卷商品" class="el-form-item--small has-error" :prop="'items.'+index+'.product_id'" :rules="[{ required: true, message: '票卷商品為必填欄位'}]">
                      <br/>
                        <el-select
                        v-model="items_list.product_id"
                        placeholder="請選擇票卷商品"
                        filterable
                        default-first-option
                        @change="change_shoplist(index,'items')"
                        style="margin:auto 10px;"
                        >
                        <!-- <el-option
                            v-for="item in GroupBuyShopList.list"
                            :key="item.id"
                            :label="item.title"
                            :value="item.id"
                            :disabled="item.on_sale==0?true:false"
                        /> -->
                        <el-option-group
                          v-for="(GroupBuyShop,Change_GroupBuyShop) in ChangeGroupBuyShop"
                          :key="Change_GroupBuyShop"
                          :label="Change_GroupBuyShop">
                          <el-option
                            v-for="item in GroupBuyShop"
                            :key="item.id"
                            :label="item.title"
                            :value="item.id"
                            :disabled="item.on_sale==0?true:false"
                          >
                          </el-option>
                        </el-option-group>
                        </el-select>
                        <i class="el-icon-delete" @click="removegroupbuy(index,'items')" style="color:red;cursor:pointer;" />
                        <svg-icon class="drag-handler" icon-class="drag" style="margin:0px 10px;cursor:pointer;font-size:18px;" />
                        <el-tag style="margin:10px;" v-if="items_list.shop_big_category=='無' &&items_list.shop_small_category=='無'">無分類</el-tag>
                        <div  v-else-if="items_list.shop_big_category==null &&items_list.shop_small_category==null">
                        </div>
                        <el-tag style="margin:10px;" v-else>{{items_list.shop_big_category}}>{{items_list.shop_small_category}}</el-tag>
                        <el-tag type="danger" style="margin:10px;" v-if="items_list.product_vip==1">vip</el-tag>
                        <el-tag type="danger" style="margin:10px;" v-if="items_list.product_preview==1">需審核</el-tag>
                    </el-form-item>
                </div>
              </draggable>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="票卷商品列表">
                    <el-button type="primary" @click.native="insertgroupbuy('items')">＋</el-button>
                </el-form-item>
            </el-col>
            <!-- 票卷商品列表 end -->
            <!-- 票卷商品(每項商品數量) start -->
            <div v-for="(limit_amount_items_list,index) in groupbuygroup.limit_amount_items" :key="index" v-show="groupbuygroup.items.length!=0">
                <el-col :xs="12" :sm="12" :lg="12" :xl="12" style="border:0.5px solid black;margin:5px 0;">
                    <el-form-item label="票卷商品(每項商品數量)" class="el-form-item--small has-error" :prop="'limit_amount_items.'+index+'.product_id'" :rules="[{ required: true, message: '票卷商品為必填欄位'}]">
                      <br/>
                        <el-select
                        v-model="limit_amount_items_list.product_id"
                        placeholder="請選擇票卷商品(每項商品數量)"
                        filterable
                        default-first-option
                        @change="change_shoplist(index,'limit_amount_items')"
                        style="margin:auto 10px;"
                        >
                        <!-- <el-option
                            v-for="item in get_all_chosen_shop_list"
                            :key="item.product_id"
                            :label="item.product_title"
                            :value="item.product_id"
                        /> -->
                        <el-option-group
                          v-for="(GroupBuyShop_limit_total,Change_GroupBuyShop_limit_total) in ChangeGroupBuyShop_limit_total"
                          :key="Change_GroupBuyShop_limit_total"
                          :label="Change_GroupBuyShop_limit_total">
                          <el-option
                            v-for="item in GroupBuyShop_limit_total"
                            :key="item.product_id"
                            :label="item.product_title"
                            :value="item.product_id"
                          >
                          </el-option>
                        </el-option-group>
                        </el-select>
                        <i class="el-icon-delete" @click="removegroupbuy(index,'limit_amount_items')" style="color:red;cursor:pointer;" />
                        <el-tag style="margin:10px;" v-if="limit_amount_items_list.shop_big_category=='無' &&limit_amount_items_list.shop_small_category=='無'">無分類</el-tag>
                        <div  v-else-if="limit_amount_items_list.shop_big_category==null &&limit_amount_items_list.shop_small_category==null">
                        </div>
                        <el-tag style="margin:10px;" v-else>{{limit_amount_items_list.shop_big_category}}>{{limit_amount_items_list.shop_small_category}}</el-tag>
                        <el-tag type="danger" style="margin:10px;" v-if="limit_amount_items_list.product_vip==1">vip</el-tag>
                        <el-tag type="danger" style="margin:10px;" v-if="limit_amount_items_list.product_preview==1">需審核</el-tag>
                    </el-form-item>
                    <el-form-item label="票卷商品(每項商品數量)" class="el-form-item--small has-error" :prop="'limit_amount_items.'+index+'.amount'" :rules="[{ required: true, message: '票卷商品(每項商品數量)為必填欄位'}]">
                        <br/>
                        <el-input-number v-model="limit_amount_items_list.amount"
                        :min="1" 
                        step=1
                        placeholder="票卷商品(每項商品數量)"
                        autocomplete="off"
                        ref="amount"
                        step-strictly
                        >
                        </el-input-number>
                    </el-form-item>
                </el-col>
            </div>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-show="groupbuygroup.items.length!=0">
                <el-form-item label="票卷商品(每項商品數量)">
                    <el-button type="primary" @click.native="insertgroupbuy('limit_amount_items')">＋</el-button>
                </el-form-item>
            </el-col>
            <!-- 票卷商品(每項商品數量) end -->
            <!-- 票卷商品(每項商品總量) start -->
            <div v-for="(limit_total_amount_items_list,index) in groupbuygroup.limit_total_amount_items" :key="index" v-show="groupbuygroup.items.length!=0">
                <el-col :xs="12" :sm="12" :lg="12" :xl="12" style="border:0.5px solid black;margin:5px 0;">
                    <el-form-item label="票卷商品(每項商品總量)" class="el-form-item--small has-error" :prop="'limit_total_amount_items.'+index+'.product_id'" :rules="[{ required: true, message: '票卷商品(每項商品總量)為必填欄位'}]">
                      <br/>
                        <el-select
                        v-model="limit_total_amount_items_list.product_id"
                        placeholder="請選擇票卷商品(每項商品總量)"
                        filterable
                        default-first-option
                        @change="change_shoplist(index,'limit_total_amount_items')"
                        style="margin:auto 10px;"
                        >
                        <!-- <el-option
                            v-for="item in get_all_chosen_shop_list"
                            :key="item.product_id"
                            :label="item.product_title"
                            :value="item.product_id"
                        /> -->
                        <el-option-group
                          v-for="(GroupBuyShop_limit_total,Change_GroupBuyShop_limit_total) in ChangeGroupBuyShop_limit_total"
                          :key="Change_GroupBuyShop_limit_total"
                          :label="Change_GroupBuyShop_limit_total">
                          <el-option
                            v-for="item in GroupBuyShop_limit_total"
                            :key="item.product_id"
                            :label="item.product_title"
                            :value="item.product_id"
                          >
                          </el-option>
                        </el-option-group>
                        </el-select>
                        <i class="el-icon-delete" @click="removegroupbuy(index,'limit_total_amount_items')" style="color:red;cursor:pointer;" />
                        <el-tag style="margin:10px;" v-if="limit_total_amount_items_list.shop_big_category=='無' &&limit_total_amount_items_list.shop_small_category=='無'">無分類</el-tag>
                        <div  v-else-if="limit_total_amount_items_list.shop_big_category==null &&limit_total_amount_items_list.shop_small_category==null">
                        </div>
                        <el-tag style="margin:10px;" v-else>{{limit_total_amount_items_list.shop_big_category}}>{{limit_total_amount_items_list.shop_small_category}}</el-tag>
                        <el-tag type="danger" style="margin:10px;" v-if="limit_total_amount_items_list.product_vip==1">vip</el-tag>
                        <el-tag type="danger" style="margin:10px;" v-if="limit_total_amount_items_list.product_preview==1">需審核</el-tag>
                    </el-form-item>
                    <el-form-item label="票卷商品(每項商品總量)" class="el-form-item--small has-error" :prop="'limit_total_amount_items.'+index+'.total_amount'" :rules="[{ required: true, message: '票卷商品(每項商品總量)為必填欄位'}]">
                        <br/>
                        <el-input-number v-model="limit_total_amount_items_list.total_amount"
                        :min="1" 
                        step=1
                        placeholder="票卷商品(每項商品總量)"
                        autocomplete="off"
                        ref="amount"
                        step-strictly
                        >
                        </el-input-number>
                    </el-form-item>
                </el-col>
            </div>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-show="groupbuygroup.items.length!=0">
                <el-form-item label="票卷商品(每項商品總量)">
                    <el-button type="primary" @click.native="insertgroupbuy('limit_total_amount_items')">＋</el-button>
                </el-form-item>
            </el-col>
        </el-row>
        <!-- 票卷商品(每項商品總量) end -->
        <!-- 折扣條列式 start -->
        <div v-show="dialogType=='edit'&&groupbuygroup.coupon_items.length!=0">
          <el-table :data="groupbuygroup.coupon_items" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
            <el-table-column align="center" width="180" label="QRCODE">
                <template slot-scope="scope">
                    <qr-code :text="scope.row.coupon_number" size="150" style="margin:auto;"></qr-code>
                    <el-tag style="margin:10px 0; font-size:20px;" type="danger">
                      {{ scope.row.coupon_number }}
                    </el-tag>
                </template>
            </el-table-column>
            <el-table-column align="center" label="折扣標題/狀態">
                <template slot-scope="scope">
                    <el-tag style="margin:10px 0;">{{ scope.row.coupon_name}}</el-tag>
                    <br/>
                    <el-tag :type="scope.row.coupon_status==0?'danger':''">{{ scope.row.coupon_status| coupon_status }}</el-tag>
                </template>
            </el-table-column>
            <el-table-column align="center" label="折扣名稱">
                <template slot-scope="scope">
                    <div v-html="scope.row.coupon_content"></div>
                </template>
            </el-table-column>
            <el-table-column align="center" width="220" label="符合折扣商品">
                <template slot-scope="scope">
                    <el-tag style="margin:10px 0;" v-for="(discount_coupon_list_items,index) in scope.row.discount_coupon_list_items" :key="index">{{ discount_coupon_list_items }}</el-tag><br/>
                </template>
            </el-table-column>
            <el-table-column align="center" label="開始與結束日期">
                <template slot-scope="scope">
                    <el-tag style="margin:10px 0;">{{ scope.row.coupon_start_at }}</el-tag>
                    <br/>
                    <el-tag style="margin:10px 0;">{{ scope.row.coupon_end_at }}</el-tag>
                </template>
            </el-table-column>
          </el-table>
        </div>
      <!-- 折扣條列式 end -->
      </el-form>
      <div style="text-align:right; margin:10px 0;">
        <el-button type="danger" @click="closeAddGroup">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmGroup('groupbuygroup')">確認</el-button>
      </div>
    </el-dialog>
    <!--團購開團狀態提示(新增) -->
    <div v-show="dialogType=='new'">
      <el-dialog
      title="訊息提示"
      :visible.sync="checkgroupbuygroupswitch"
      width="30%"
      center
      append-to-body
      >
      <el-result :icon="checkgroupbuygroupmessage==true?'success':'error'" :title="checkgroupbuygroupmessage==true?'新增票卷完成':'新增票卷失敗'" :subTitle="checkgroupbuygrouptitle">
      </el-result>
      <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="closegroupdialog">關閉票卷</el-button>
          <el-button type="primary" @click="checkgroupbuygroupswitch=false" v-if="checkgroupbuygroupmessage==true">繼續新增</el-button>
          <el-button type="danger" @click="checkgroupbuygroupswitch=false" v-if="checkgroupbuygroupmessage==false">修正錯誤</el-button>
      </span>
      </el-dialog>
    </div>
    <!--團購開團狀態提示(修改) -->
    <div v-show="dialogType=='edit'">
      <el-dialog
      title="訊息提示"
      :visible.sync="checkgroupbuygroupswitch"
      width="30%"
      center
      append-to-body
      >
      <el-result :icon="checkgroupbuygroupmessage==true?'success':'error'" :title="checkgroupbuygroupmessage==true?'修改票卷完成':'修改票卷失敗'" :subTitle="checkgroupbuygrouptitle">
      </el-result>
      <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="closegroupdialog">關閉票卷</el-button>
          <el-button type="danger" @click="checkgroupbuygroupswitch=false" v-if="checkgroupbuygroupmessage==false">修正錯誤</el-button>
      </span>
      </el-dialog>
      </div>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 400px;
    height: 400px;
    display: block;
  }
  /*被拖拽对象的样式*/
  .item {
      padding: 4px;
      background-color: #fdfdfd;
      border: solid 1px #eee;
      margin-bottom: 5px;
      cursor: pointer;
  }
  .item:hover {
      background-color: transparent;
      cursor: move;
  }
  .chosen {
      border: solid 2px #3089dc !important;
  }
</style>
<script>
import { getGroupBuyGroup,getGroupBuyShop,insertgroupbuygroup,editgroupbuygroup,delete_groupbuy_product } from '@/api/groupbuy_manager'
import Tinymce from '@/components/Tinymce'
import draggable from 'vuedraggable'
import { _ } from 'core-js'
// import draggable from 'vuedraggable'
export default {
name: 'AddGroupBuyGroup',
// components: { Tinymce,draggable },
components: { Tinymce,draggable },
filters:{
    coupon_status(status){
    const coupon_status = {
      0: '關閉',
      1: '開啟',
    }
    return coupon_status[status]
  },
},
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    groupbuygroup:{
        type:Object,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  data() {
    return {
      GroupRules: {
          title:[{ required: true,message: '票卷名稱為必填欄位' }],
          // description:[{required:true}],
          start_at:[{ required: true,message: '開始日期為必填欄位' }],
          on_sale:[{required: true}],
          end_at:[{ required: true,message: '截止日期為必填欄位' }],
          // kind:[{required:true}]
      },
      drag:false,
      loading:false,
      //開團商品排序
      groubuy_order_index:0,
      //新增開團商品順序
      groupbuy_order:0,
      //呈現所有複製的開團
      GroupBuy:[],
      copy_groupbuy_id:'',
      GroupBuyFilter:[],
      //呈現所有團購商品列表
      GroupBuyShopList:[],
      //票卷商品分類
      ChangeGroupBuyShop:{},
      newGroupBuyShopList:[],
      //商品數量、商品總量分類
      ChangeGroupBuyShop_limit_total:{},
      //得到所有選擇的票卷商品
      get_all_chosen_shop_list:[],
      //得知聊天機器人基本資料
      LinebotInfo: [],
      //開團資訊(新增)
      checkgroupbuygroupswitch:false,
      //開團正確與錯誤訊息(新增)
      checkgroupbuygroupmessage:'',
      //開團錯誤訊息內文(新增)
      checkgroupbuygrouptitle:'',
      //票卷注意事項說明
      tinymce_description:'tinymce_description',
      tinymcekey_description:0,
      reloading_description:false,
    }
  },
    watch: {
      dialogType:{
        handler: function(val, oldVal) {
            this.getgroupbuyshop()
            this.init_all_groupbuy()
            this.reload_description()
            this.$refs.editorDescriptionRef.setContent(this.groupbuygroup.description)
      },
      immediate: true
      },
      "groupbuygroup.items":{
        handler: function(val, oldVal) {
          this.get_all_chosen_shop_list = []
          this.groubuy_order_index = 0
          val.forEach((element)=>{
            console.log(element)
            this.groubuy_order_index +=1
            element.groupbuy_order = this.groubuy_order_index
            this.get_all_chosen_shop_list.push(element)
          })
          //合併相同的分類產品份入同一類(每項商品數量、每項商品總量)
          this.group_combo_same_GroupBuyShop_limit_total_amount()
      },
      immediate: true
      },
  },
  methods: {
    //重新載入票卷注意事項說明
    reload_description(){
      this.reloading_description = true
      this.$nextTick(()=>{
        this.reloading_description = false
      })
    },
    change_shoplist(index,type){
      var _self = this
      _self.newGroupBuyShopList = _self.GroupBuyShopList.list
      console.log(index)
      console.log(_self.newGroupBuyShopList)
      if(type=='items'){
        _.filter(_self.newGroupBuyShopList, { 'id': _self.groupbuygroup.items[index].product_id }).forEach((items) => {
          console.log(items)
          _self.groupbuygroup.items[index].product_title = items.title
          _self.groupbuygroup.items[index].shop_big_category= items.shop_category[0].shop_big_category
          _self.groupbuygroup.items[index].shop_small_category= items.shop_category[0].shop_small_category
          _self.groupbuygroup.items[index].product_vip= items.product_vip
          _self.groupbuygroup.items[index].product_preview= items.product_preview
        })
        //合併相同的分類產品份入同一類(每項商品數量、每項商品總量)
        this.group_combo_same_GroupBuyShop_limit_total_amount()
      }
      //商品每項商品數量
      else if(type=='limit_amount_items'){
        _.filter(_self.newGroupBuyShopList, { 'id': _self.groupbuygroup.limit_amount_items[index].product_id }).forEach((items) => {
          console.log(items)
          _self.groupbuygroup.limit_amount_items[index].product_title = items.title
          _self.groupbuygroup.limit_amount_items[index].shop_big_category= items.shop_category[0].shop_big_category
          _self.groupbuygroup.limit_amount_items[index].shop_small_category= items.shop_category[0].shop_small_category
          _self.groupbuygroup.limit_amount_items[index].product_vip= items.product_vip
          _self.groupbuygroup.limit_amount_items[index].product_preview= items.product_preview
          _self.groupbuygroup.limit_amount_items[index].amount = items.limit_product_amount
        })
      }
      //商品每項商品總量
      else if(type=='limit_total_amount_items'){
        _.filter(_self.newGroupBuyShopList, { 'id': _self.groupbuygroup.limit_total_amount_items[index].product_id }).forEach((items) => {
          console.log(items)
          _self.groupbuygroup.limit_total_amount_items[index].product_title = items.title
          _self.groupbuygroup.limit_total_amount_items[index].shop_big_category = items.shop_category[0].shop_big_category
          _self.groupbuygroup.limit_total_amount_items[index].shop_small_category = items.shop_category[0].shop_small_category
          _self.groupbuygroup.limit_total_amount_items[index].product_vip = items.product_vip
          _self.groupbuygroup.limit_total_amount_items[index].product_preview = items.product_preview
          _self.groupbuygroup.limit_total_amount_items[index].total_amount = items.limit_total_product_amount
        })
      }
    },
    //關閉選單
    closeAddGroup(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    this.groupbuygroup.description = ''
    // this.refs.tinymce.setContent('')
    this.$emit('getGroup_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    // 更新與新增團購開團
    confirmGroup(groupbuygroup) {
      this.$refs[groupbuygroup].validate(valid => {
        if (valid) {
          this.loading = true
          if(this.dialogType=='new'){
            insertgroupbuygroup(this.groupbuygroup)
              .then((resp) => {
                  if(resp.success==true){
                      this.checkgroupbuygroupswitch = true
                      this.checkgroupbuygrouptitle = ''
                      this.checkgroupbuygroupmessage = resp.success
                      //更新資料進入外層的團購開團
                      this.$emit('getGroupBuyGroup')
                      //判斷是否為新增或修改
                      this.$nextTick(() => {
                        // this.$refs[groupbuyshop].resetFields()
                        this.groupbuygroup.title = '',
                        this.groupbuygroup.start_at = null,
                        this.groupbuygroup.end_at = null,
                        this.groupbuygroup.items = [],
                        this.groupbuygroup.limit_amount_items = [],
                        this.groupbuygroup.limit_total_amount_items = [],
                        this.groupbuygroup.on_sale = 1
                        // this.groupbuygroup.kind = 0
                         this.init_all_groupbuy()
                         this.reload_description()
                         this.$refs.editorDescriptionRef.setContent(this.groupbuygroup.description)
                      });
                  }
                  if(resp.success==false){
                      this.checkgroupbuygroupswitch = true
                      this.checkgroupbuygrouptitle = resp.data
                      this.checkgroupbuygroupmessage = resp.success
                  }
                  this.loading = false
              })
              .catch(() => {
                this.loading = false
                return false
              })
          }
          if(this.dialogType=='edit'){
            editgroupbuygroup(this.groupbuygroup)
              .then((resp) => {
                  if(resp.success==true){
                      this.checkgroupbuygroupswitch = true
                      this.checkgroupbuygrouptitle = ''
                      this.checkgroupbuygroupmessage = resp.success
                      //更新資料進入外層的最新消息
                      this.$emit('getGroupBuyGroup')
                  }
                  this.loading = false
              })
              .catch(() => {
                this.loading = false
                return false
              })
          }
        }
        else {
          console.log('有資料未填寫!!')
          this.$message.error('請確認資料是否填寫無誤');
          return false
        }
      })
    },
    //新增團購商品
    insertgroupbuy(type){
        if(type=='items'){
          this.groupbuy_order = this.groupbuygroup.items.length
          this.groupbuy_order+=1
          this.groupbuygroup.items.push(
            {
              "groupbuy_id":this.groupbuygroup.id,
              "product_id":null,
              "product_title":null,
              "shop_big_category":null,
              "shop_small_category":null,
              "groupbuy_order":this.groupbuy_order
            })
        }
        else if(type=='limit_amount_items'){
          this.groupbuygroup.limit_amount_items.push(
            {
              "groupbuy_id":this.groupbuygroup.id,
              "product_id":null,
              "product_title":null,
              "shop_big_category":null,
              "shop_small_category":null
            })
        }
        else if(type=='limit_total_amount_items'){
          this.groupbuygroup.limit_total_amount_items.push(
            {
              "groupbuy_id":this.groupbuygroup.id,
              "product_id":null,
              "product_title":null,
              "shop_big_category":null,
              "shop_small_category":null
            })
        }
    },
    //刪除團購商品
    removegroupbuy(index,type){
      if(this.dialogType=='edit'){
        this.delete_groupbuy_items(index,type)
      }
      else{
        if(type=='items'){
          this.groupbuygroup.items.splice(index,1)
        }
        else if(type=='limit_amount_items'){
          this.groupbuygroup.limit_amount_items.splice(index,1)
        }
        else if(type=='limit_total_amount_items'){
          this.groupbuygroup.limit_total_amount_items.splice(index,1)
        }
      }
    },
    delete_groupbuy_items(index,type){
      var _self = this
      var message_title = ''
      var message_subtitle = ''
      if(type=='items'){
        message_title = '是否刪除票卷商品列表<span style="font-size:20px; color:red;">「'+_self.groupbuygroup.items[index].product_title+'」</span>';
        message_subtitle = '票卷商品列表'
        _self.payload = {
          'groupbuy_id':_self.groupbuygroup.items[index].groupbuy_id,
          'product_id':_self.groupbuygroup.items[index].product_id,
          'type':type
        }
      }
      else if(type=='limit_amount_items'){
        message_title = '是否刪除票卷商品(每項商品數量)<span style="font-size:20px; color:red;">「'+_self.groupbuygroup.limit_amount_items[index].product_title+'」</span>';
        message_subtitle = '票卷商品(每項商品數量)'
        _self.payload = {
          'groupbuy_id':_self.groupbuygroup.limit_amount_items[index].groupbuy_id,
          'product_id':_self.groupbuygroup.limit_amount_items[index].product_id,
          'type':type
        }
      }
      else if(type=='limit_total_amount_items'){
        message_title = '是否刪除票卷商品(每項商品總量)<span style="font-size:20px; color:red;">「'+_self.groupbuygroup.limit_total_amount_items[index].product_title+'」</span>';
        message_subtitle = '票卷商品(每項商品總量)'
        _self.payload = {
          'groupbuy_id':_self.groupbuygroup.limit_total_amount_items[index].groupbuy_id,
          'product_id':_self.groupbuygroup.limit_total_amount_items[index].product_id,
          'type':type
        }
      }
      _self.$confirm(message_title, message_subtitle, {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        dangerouslyUseHTMLString:true,
        type: 'warning'
      }).then(async() => {
        delete_groupbuy_product(_self.payload).then(resp => {
          _self.$message({
            message: resp.message,
            type: resp.success==true ? 'success':'error'
          })
          _self.$emit('getGroupBuyGroup')
          if(type=='items'){
             _self.groupbuygroup.items.splice(index,1)
          }
          else if(type=='limit_amount_items'){
            _self.groupbuygroup.limit_amount_items.splice(index,1)
          }
          else if(type=='limit_total_amount_items'){
            _self.groupbuygroup.limit_total_amount_items.splice(index,1)
          }
        })
      })
    },
    getgroupbuyshop(){
      this.GroupBuyShopList = []
      this.payload = 'all?partner_id=' + this.groupbuygroup.partner_id
      // this.groupbuyshop = Object.assign({}, defaultShop)
      getGroupBuyShop(this.payload).then(resp => {
        if(resp.success==true){
            this.GroupBuyShopList = resp.data
            //合併相同的分類產品份入同一類(票卷商品)
            this.group_combo_same_GroupBuyShop()
        }
      })
    },
    //合併相同的分類產品份入同一類(票卷商品)
    async group_combo_same_GroupBuyShop(){
      this.ChangeGroupBuyShop = this.GroupBuyShopList.list.reduce((acc, cur) => {
          console.log()
          const shop_big_category = cur.shop_category[0]['shop_big_category']+'>'+cur.shop_category[0]['shop_small_category']
          if (!acc[shop_big_category]) {
              acc[shop_big_category] = [];
          }
          acc[shop_big_category].push(cur);
          return acc;
      }, {});
    },
    //合併相同的分類產品份入同一類(每項商品數量、每項商品總量)
    async group_combo_same_GroupBuyShop_limit_total_amount(){
      this.ChangeGroupBuyShop_limit_total = this.get_all_chosen_shop_list.reduce((acc, cur) => {
          console.log(cur)
          if(cur.shop_big_category!=null&&cur.shop_small_category!=null){
            const shop_big_category = cur.shop_big_category+'>'+cur.shop_small_category
            if (!acc[shop_big_category]) {
                acc[shop_big_category] = [];
            }
            acc[shop_big_category].push(cur);
          }
          return acc;
      }, {});
    },
    //預設所有選單開團
    init_all_groupbuy(){
      var payload = 'all?partner_id='+this.groupbuygroup.partner_id
      console.log("payload test",payload)
      // this.groupbuyshop = Object.assign({}, defaultShop)
      getGroupBuyGroup(payload).then(resp => {
        if(resp.success==true){
            this.GroupBuy = resp.data
        }
      })
    },
    //設定篩選開團
    set_copy_groupbuy(){
      var payload = 'all?partner_id='+this.groupbuygroup.partner_id+'&groupbuy_id='+this.copy_groupbuy_id
      console.log("payload test",payload)
      // this.groupbuyshop = Object.assign({}, defaultShop)
      getGroupBuyGroup(payload).then(resp => {
        if(resp.success==true){
            this.GroupBuyFilter = resp.data
            console.log(this.GroupBuyFilter)
            this.GroupBuyFilter.list.forEach((element)=>{
              if(element.description==null){
                element.description = ''
              }
              delete element.id
              element.items.forEach((element)=>{
                delete element.id
                delete element.groupbuy_id
              })
              this.groupbuygroup = element
              this.$refs.editorDescriptionRef.setContent(element.description)
            })
        }
      })
    },
    //關閉新增開團dialog
    async closegroupdialog(){
      console.log(this.groupbuygroup)
      this.checkgroupbuygroupswitch=false
      await this.closeAddGroup()
    },
    //關閉修改開團dialog
    async closegroupeditdialog(){
      console.log(this.groupbuygroup)
      this.checkgroupbuygroupeditswitch=false
      await this.closeAddGroup()
    }
  }
}
</script>