<template>
    <div>
    <el-dialog :visible="dialogCouponDiscountVisible" :title="dialogCouponDiscountType==='new'?'新增票卷折扣':'修改票卷折扣'"
    :before-close="closeAddCouponDiscount" center
    append-to-body
    width="80%"
    >
    <!-- {{ groupbuycoupondiscount }} -->
      <!-- {{ GroupBuyShop }} -->
      <!-- {{ ChangeGroupBuyShop }} -->
        <!-- {{ groupbuycoupondiscount.coupon_groupbuy_combo }} -->
      <el-form :rules="CouponDiscountRules" status-icon ref="groupbuycoupondiscount" :model="groupbuycoupondiscount" label-position="right">
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
              <el-form-item label="開團名稱" prop="groupbuy_id">
                <br/>
                <el-select
                    v-model="groupbuycoupondiscount.groupbuy_id"
                    name="groupbuy_id"
                    filterable
                    clearable
                    allow-create
                    default-first-option
                    @change="chose_groupbuy_id"
                    placeholder="選擇開團代號"
                >
                    <el-option
                        v-for="item in GroupBuyGroup.list"
                        :key="item.id"
                        :label="item.title"
                        :value="item.id">
                    </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
              <el-form-item label="折扣名稱" prop="coupon_name">
                  <el-input ref="coupon_name" v-model="groupbuycoupondiscount.coupon_name"
                  placeholder="請輸入折扣名稱"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="18" :lg="18" :xl="18">
              <el-form-item label="折扣內容" prop="coupon_content">
                  <el-input ref="coupon_content" v-model="groupbuycoupondiscount.coupon_content"
                  name="coupon_content" placeholder="請輸入折扣內容"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
              <el-form-item label="折扣類型" prop="coupon_type">
                <br/>
                <el-select
                v-model="groupbuycoupondiscount.coupon_type"
                name="coupon_type"
                placeholder="請輸入折扣類型"
                filterable
                default-first-option
                style="margin:auto 10px;"
                >
                    <el-option label="折扣金額" :value="0">折扣金額</el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="9" :lg="9" :xl="9">
              <el-form-item label="折扣金額" prop="coupon_money">
                  <el-input ref="coupon_money" v-model="groupbuycoupondiscount.coupon_money"
                  name="coupon_money" placeholder="請輸入折扣金額"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="9" :lg="9" :xl="9">
              <el-form-item label="折扣代碼" prop="coupon_number">
                  <el-input ref="coupon_number" v-model="groupbuycoupondiscount.coupon_number"
                  name="coupon_number" placeholder="請輸入折扣代碼"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-show="groupbuycoupondiscount.groupbuy_id!=''">
              <el-form-item label="折扣商品列表" prop="coupon_groupbuy_combo">
                    <br/>
                    <el-select
                    v-model="groupbuycoupondiscount.coupon_groupbuy_combo"
                    ref="coupon_groupbuy_combo"
                    placeholder="請輸入折扣商品列表"
                    multiple
                    filterable
                    default-first-option
                    style="margin:auto 10px;width:100%;"
                    >
                        <el-option-group
                        v-for="(GroupBuyShop,Change_GroupBuyShop) in ChangeGroupBuyShop"
                        :key="Change_GroupBuyShop"
                        :label="Change_GroupBuyShop">
                        <el-option
                            v-for="item in GroupBuyShop"
                            :key="item.product_id"
                            :label="item.product_title"
                            :value="parseInt(item.product_id)"
                        >
                        </el-option>
                        </el-option-group>
                    </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
              <el-form-item label="開始日期" prop="coupon_start_at">
                <br/>
                 <el-date-picker v-model="groupbuycoupondiscount.coupon_start_at" type="date" 
                 ref="coupon_start_at" name="coupon_start_at" placeholder="請輸入開始日期"
                 value-format="yyyy-MM-dd"
                 ></el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
              <el-form-item label="截止日期" prop="coupon_end_at">
                <br/>
                 <el-date-picker v-model="groupbuycoupondiscount.coupon_end_at" type="date" 
                 ref="coupon_end_at" name="coupon_end_at" placeholder="請輸入截止日期"
                 value-format="yyyy-MM-dd"
                 ></el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
              <el-form-item label="折扣使用數量" prop="coupon_using_amount">
                <br/>
                <span style="color:red;">數量設為-1為不限制</span>
                <br/>
                    <el-input-number v-model="groupbuycoupondiscount.coupon_using_amount"
                        ref="coupon_using_amount"
                        :min="-1" 
                        step=1
                        placeholder="請輸入折扣使用數量"
                        autocomplete="off"
                        step-strictly
                    >
                    </el-input-number>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
              <el-form-item label="會員使用數量" prop="limit_coupon_member_using_amount">
                <br/>
                <span style="color:red;">數量設為-1為不限制</span>
                <br/>
                    <el-input-number v-model="groupbuycoupondiscount.limit_coupon_member_using_amount"
                        ref="limit_coupon_member_using_amount"
                        :min="-1" 
                        step=1
                        placeholder="請輸入會員使用數量"
                        autocomplete="off"
                        step-strictly
                    >
                    </el-input-number>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
              <el-form-item label="密碼開關" prop="check_have_password_switch">
                <br/>
                <el-select
                v-model="groupbuycoupondiscount.check_have_password_switch"
                name="check_have_password_switch"
                placeholder="請選擇密碼開關"
                filterable
                default-first-option
                style="margin:auto 10px;"
                >
                    <el-option label="關閉密碼" :value="0">關閉密碼</el-option>
                    <el-option label="開啟密碼" :value="1">開啟密碼</el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="18" :lg="18" :xl="18">
              <el-form-item label="密碼欄位" prop="password">
                  <el-input ref="password" v-model="groupbuycoupondiscount.password"
                  name="password" placeholder="請輸入密碼欄位"
                  :disabled="groupbuycoupondiscount.check_have_password_switch==0?true:false"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
              <el-form-item label="折扣狀態" prop="coupon_status">
                <br/>
                <el-select
                v-model="groupbuycoupondiscount.coupon_status"
                name="coupon_status"
                placeholder="請選擇折扣狀態"
                filterable
                default-first-option
                style="margin:auto 10px;"
                >
                    <el-option label="關閉" :value="0">關閉</el-option>
                    <el-option label="開啟" :value="1">開啟</el-option>
                </el-select>
              </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddCouponDiscount">關閉</el-button>
        <!-- :loading="loading"  -->
        <el-button type="primary" @click.native.prevent="confirmCouponDiscount('groupbuycoupondiscount')">{{dialogCouponDiscountType==='new'?'新增票卷折扣':'修改票卷折扣'}}</el-button>
      </div>
    </el-dialog>
    <!--新增會員提示(修改) -->
      <el-dialog
      title="訊息提示"
      :visible.sync="checkgroupbuycoupondiscountswitch"
      width="45%"
      center
      append-to-body
      >
      <el-result :icon="checkgroupbuycoupondiscountmessage==true?'success':'error'" :title="checkgroupbuycoupondiscountmessage==true?'新增票卷折扣完成':'新增票卷折扣失敗'" :subTitle="checkgroupbuycoupondiscounttitle" v-if="dialogCouponDiscountType==='new'">
      </el-result>
      <el-result :icon="checkgroupbuycoupondiscountmessage==true?'success':'error'" :title="checkgroupbuycoupondiscountmessage==true?'修改票卷折扣完成':'修改票卷折扣失敗'" :subTitle="checkgroupbuycoupondiscounttitle" v-if="dialogCouponDiscountType==='edit'">
      </el-result>
      <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="closeAddCouponDiscount">關閉票卷折扣</el-button>
          <el-button type="primary" @click="checkgroupbuycoupondiscountswitch=false" v-if="checkgroupbuycoupondiscountmessage==true&dialogCouponDiscountType==='new'">繼續新增</el-button>
          <el-button type="danger" @click="checkgroupbuycoupondiscountswitch=false" v-if="checkgroupbuycoupondiscountmessage==false">修正錯誤</el-button>
      </span>
      </el-dialog>
    </div>
</template>
<script>
import { insert_update_coupondiscount,getGroupBuyGroup } from '@/api/groupbuy_manager'
import { getLineBotInfo } from '@/api/linebot_manager'
export default {
name: 'AddGroupBuyCouponDiscount',
props:{
    dialogCouponDiscountType:{
        type:String,
        require:true
    },
    dialogCouponDiscountVisible:{
        type:Boolean,
        require:true
    },
    groupbuycoupondiscount:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      CouponDiscountRules: {
        coupon_name:[{ required: true,message: '折扣名稱為必填欄位' }],
        coupon_content:[{ required: true,message: '折扣內容為必填欄位' }],
        coupon_type:[{ required: true,message: '折扣類型為必填欄位' }],
        coupon_money:[
            { required: true,message: '折扣金額為必填欄位' },
            { required: true, message: '折扣金額必須為數字', pattern:/^[0-9\s]*$/ }
        ],
        coupon_number:[
            { required: true,message: '折扣代碼為必填欄位' },
        ],
        coupon_groupbuy_combo:[
            { required: true,message: '折扣商品列表為必填欄位' },
        ],
        coupon_start_at:[
            { required: true,message: '開始日期列表為必填欄位' },
        ],
        coupon_end_at:[
            { required: true,message: '結束日期列表為必填欄位' },
        ],
        coupon_using_amount:[
            { required: true,message: '折扣使用數量為必填欄位' },
        ],
        limit_coupon_member_using_amount:[
            { required: true,message: '會員使用數量為必填欄位' },
        ],
        check_have_password_switch:[
            { required: true,message: '密碼開關為必填欄位' },
        ],
      },
      loading:false,
      //票卷折扣資訊(新增)
      checkgroupbuycoupondiscountswitch:false,
      //票卷折扣正確與錯誤訊息(新增)
      checkgroupbuycoupondiscountmessage:'',
      //票卷折扣錯誤訊息內文(新增)
      checkgroupbuycoupondiscounttitle:'',
      LinebotInfo:[],
      pay_premission:[],
      GroupBuyGroup:[],
      GroupBuyShop:[],
      ChangeGroupBuyShop:{}
    }
  },
  watch:{
    dialogCouponDiscountType: async function(val){
      console.log("330",val)
      //判斷為修改票卷折扣觸發
      if(val=='edit'){
        //點擊團購開團帶入所有商品
        this.groupbuycoupondiscount.coupon_groupbuy_combo = this.groupbuycoupondiscount.coupon_groupbuy_combo.split(',').map(Number)
        this.chose_groupbuy_id()
      }
      await this.getlinebotinfo()
      await this.getgroupbuygroup()
    },
    // "groupbuymember.partner_id": async function(val){
    //   console.log("val: ",val)
    //   await this.getlinebotinfo()
    // }
  },
  methods: {
    //關閉選單
    closeAddCouponDiscount(){
    //更新資料進入外層的關閉選單
    this.dialogCouponDiscountVisible = false
    this.dialogCouponDiscountType = ''
    this.checkgroupbuycoupondiscountswitch = false
    this.$emit('getCouponDiscount_status_dialogtype',this.dialogCouponDiscountVisible,this.dialogCouponDiscountType)
    },
    //點擊團購開團帶入所有商品
    chose_groupbuy_id(){
      var payload = 'all?partner_id='+this.groupbuycoupondiscount.partner_id+'&groupbuy_id='+this.groupbuycoupondiscount.groupbuy_id
      // this.groupbuyGroup = Object.assign({}, defaultGroup)
      getGroupBuyGroup(payload).then(resp => {
        if(resp.success==true){
            this.GroupBuyShop = resp.data.list[0]['items']
            //合併相同的分類產品份入同一類(票卷商品)
            this.group_combo_same_GroupBuyShop()
            if(this.dialogCouponDiscountType=='new'){
                //清空折扣商品列表
                this.groupbuycoupondiscount.coupon_groupbuy_combo = []
            }
        }
      })
    },
    //合併相同的分類產品份入同一類(票卷商品)
    async group_combo_same_GroupBuyShop(){
      this.ChangeGroupBuyShop = this.GroupBuyShop.reduce((acc, cur) => {
          console.log(cur)
          const shop_big_category = cur['shop_big_category']+'>'+cur['shop_small_category']
          if (!acc[shop_big_category]) {
              acc[shop_big_category] = [];
          }
          acc[shop_big_category].push(cur);
          return acc;
      }, {});
    },
    //得知團購開團
    getgroupbuygroup(){
      this.GroupBuyGroup = []
      var payload = 'all?partner_id='+this.groupbuycoupondiscount.partner_id
      // this.groupbuyGroup = Object.assign({}, defaultGroup)
      getGroupBuyGroup(payload).then(resp => {
        if(resp.success==true){
            this.GroupBuyGroup = resp.data
        }
      })
    },
    //得知聊天機器人基本資料
    getlinebotinfo(){
      var payload = {
          'partner_id':this.groupbuycoupondiscount.partner_id
      }
      this.LinebotInfo = []
      getLineBotInfo(payload).then(resp => {
            if(resp.data=="查詢成功"){
                this.LinebotInfo = resp.message[0]
                console.log(this.LinebotInfo.pay_premission)
            }
            else{
              this.LinebotInfo.push({
                 'partner_id':this.partner,
                  'name':'',
                  'logo':'',
                  'channel_token':'',
                  'channel_secret':'',
                  'basic_id':'',
                  'qrcode':'',
                  'channel_type':0,
                  'pay_way':[],
                  'show_one_coupon_groupbuy':0,
                  'show_one_coupon_groupbuy_name':'',
                  'pay_way_description':'',
                  'order_description':'',
                  'on_site_description':'',
                  'pay_premission':[],
                  'linebot_liff':'',
                  'check_coupon_premission':0,
                  'check_linebot_notify_premission':0,
                  'MerchantID':'',
                  'pay_hash_key':'',
                  'pay_hash_iv':'',
                  'reception_hash_key':'',
                  'reception_hash_iv':'',
                  'line_pay_channel_id':'',
                  'line_pay_secret_key':'',
                  'agreement':''
              })
              this.LinebotInfo = this.LinebotInfo[0]
              // this.$message({
              //     message: '請於「Line機器人模組」建立聊天機器人資訊',
              //     type: 'error'
              // })
            }
        })
    },
    confirmCouponDiscount(groupbuycoupondiscount){
        this.$refs[groupbuycoupondiscount].validate(valid => {
            console.log(valid)
            if (valid) {
                this.loading = true
                if(this.dialogCouponDiscountType=='new'){
                    this.groupbuycoupondiscount.coupon_groupbuy_combo = this.groupbuycoupondiscount.coupon_groupbuy_combo.toString()
                    insert_update_coupondiscount(this.groupbuycoupondiscount)
                    .then((resp) => {
                    if(resp.success==true){
                        this.checkgroupbuycoupondiscountswitch = true
                        this.checkgroupbuycoupondiscountmessage = resp.success
                        this.checkgroupbuycoupondiscounttitle = ''
                        this.$emit('getgroupbuycoupondiscount',1,'partner_id='+this.groupbuycoupondiscount.partner_id)
                        this.groupbuycoupondiscount.coupon_groupbuy_combo = []
                    }
                    if(resp.success==false){
                        this.checkgroupbuycoupondiscountswitch = true
                        this.checkgroupbuycoupondiscountmessage = resp.success
                        this.checkgroupbuycoupondiscounttitle = resp.data
                    }
                    this.loading = false
                    })
                    .catch(() => {
                        this.loading = false
                        return false
                    })
                }
                if(this.dialogCouponDiscountType=='edit'){
                    this.groupbuycoupondiscount.coupon_groupbuy_combo = this.groupbuycoupondiscount.coupon_groupbuy_combo.toString()
                    insert_update_coupondiscount(this.groupbuycoupondiscount)
                    .then((resp) => {
                    if(resp.success==true){
                        this.checkgroupbuycoupondiscountswitch = true
                        this.checkgroupbuycoupondiscountmessage = resp.success
                        this.checkgroupbuycoupondiscounttitle = ''
                        this.$emit('getgroupbuycoupondiscount',1,'partner_id='+this.groupbuycoupondiscount.partner_id)
                    }
                    if(resp.success==false){
                        this.checkgroupbuycoupondiscountswitch = true
                        this.checkgroupbuycoupondiscountmessage = resp.success
                        this.checkgroupbuycoupondiscounttitle = resp.data
                    }
                    this.loading = false
                    })
                    .catch(() => {
                        this.loading = false
                        return false
                    })
                }
            }
        })
    }
  }
}
</script>