<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新票卷訂單列表':'新增票卷訂單列表'"
    :before-close="closeAddOrder" center fullscreen
    append-to-body
    >
     <!-- {{groupbuyorder.line_pay_paylog.length}} -->
        <!-- {{groupbuyorder}}
        {{groupbuyorder.reception_paylog.length==2}} -->
        <!-- {{this.LinebotInfo.pay_way}} -->
        <!-- {{orderinfo}} -->
        <!-- {{groupbuyorder}} -->
        <!-- {{GroupBuyShopList}} -->
        <!-- {{groupbuyorder}} -->
        <!-- {{ChangeGroupBuyShop}} -->
        <!-- {{GroupBuyShopList}} -->
      <div style="text-align:right;" v-show="dialogType==='new'">
        <el-row :gutter="20">
          <el-col :xs="24" :sm="24" :lg="24" :xl="24">
           <el-button type="info" icon="el-icon-user" @click="insertgroupbuymember" style="float:right; margin:5px 0;">新會員</el-button>
          </el-col>
          <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            搜尋會員
            <el-select
                v-model="groupbuyorder.mid"
                name="mid"
                filterable
                clearable
                remote
                :remote-method="search_member"
                placeholder="選擇會員"
                :loading="search_mid_loading"
                @change="set_member_profile"
                ref="mid"
                >
                <el-option
                v-for="item in allmemberlist"
                :key="item.mid"
                :label="item.mobile+'('+item.real_name+')'"
                :value="item.mid"
                
                >
                </el-option>
            </el-select>
          </el-col>
        </el-row>
      </div>
      <el-form :rules="OrderRules" status-icon ref="groupbuyorder" :model="groupbuyorder" label-position="right">
        <el-row :gutter="20">
            <!-- <el-col :xs="24" :sm="10" :lg="10" :xl="8">
              <el-form-item label="使用者user_id" prop="line_user_id">
                  <el-input
                  v-model="groupbuyorder.line_user_id"
                  placeholder="使用者user_id"
                  autocomplete="off"
                  ref="line_user_id"
                  disabled
                      />
              </el-form-item>
            </el-col> -->
            <!-- <el-col :xs="24" :sm="6" :lg="6" :xl="8">
              <el-form-item label="訂購人">
                  <el-input
                  v-model="groupbuyorder.real_name"
                  placeholder="訂購人"
                  autocomplete="off"
                  disabled
                      />
              </el-form-item>
            </el-col> -->
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="訂購人資訊">
              <!-- {{groupbuyorder.real_name!=null}} -->
                    <br/>
                    <el-image
                        style="max-width:200px;height:150px;"
                        :src="groupbuyorder.avatar"
                        fit="fit"
                        v-show="groupbuyorder.avatar!=null"
                        >
                        <div slot="error" class="image-slot">
                            <i class="el-icon-picture-outline"></i>
                        </div>
                    </el-image>
                    <br/>
                    <el-tag style="margin:10px; font-size:18px;" v-show="groupbuyorder.real_name!=null">{{groupbuyorder.real_name}}</el-tag>
                    <el-tag style="margin:10px; font-size:18px;" v-show="groupbuyorder.mobile!=''">{{groupbuyorder.mobile}}</el-tag>
                    <el-tag type="danger" style="margin:10px; font-size:18px;" v-show="groupbuyorder.vip==1">vip</el-tag>
                    <div v-show="groupbuyorder.avatar==null" style="max-width:200px;">
                    </div>
              </el-form-item>
            </el-col>
            <!-- 判斷團購票卷是否「開啟權限」「開啟」 不顯示訂購定址 -->
            <el-col :xs="24" :sm="this.LinebotInfo.check_coupon_premission!=1?12:24" :lg="this.LinebotInfo.check_coupon_premission!=1?12:24" :xl="this.LinebotInfo.check_coupon_premission!=1?12:24" v-if="this.LinebotInfo.check_coupon_premission!=1"
            :style="this.LinebotInfo.check_coupon_premission!=1?'height:200px;':''"
            >
              <el-form-item label="訂購地址" prop="address">
                  <el-input
                  v-model="groupbuyorder.address"
                  placeholder="訂購地址"
                  autocomplete="off"
                  ref="address"
                      />
              </el-form-item>
            </el-col>
            <!-- <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-if="groupbuyorder.status==1||groupbuyorder.status=='1'">
              <el-alert
              title="付款狀態「已付款」無法在修改訂單，請將怎筆「取消」，再次訂購"
              type="error"
              style="margin:5px 0;"
              :closable="false"
              show-icon
              >
              </el-alert>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-if="groupbuyorder.status==-1||groupbuyorder.status=='-1'">
              <el-alert
              title="付款狀態「取消」無法在修改訂單"
              type="error"
              style="margin:5px 0;"
              :closable="false"
              show-icon
              >
              </el-alert>
            </el-col> -->
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="票卷開團名稱" prop="groupbuy_id" style="height:220px;">
                  <br/>
                    <el-select
                    v-model="groupbuyorder.groupbuy_id"
                    placeholder="請選擇票卷開團名稱"
                    filterable
                    default-first-option
                    style="margin:auto 10px;"
                    autocomplete="off"
                    @change="edit_getgroupbuygroup"
                    ref="groupbuy_id"
                    :disabled="groupbuyorder.status==1||groupbuyorder.status==-1?true:false"
                    >
                    <el-option
                        v-for="item in GroupBuyGroupList.list"
                        :key="item.id"
                        :label="item.title"
                        :value="item.id"
                        :disabled="item.on_sale==1?false:true"
                    />
                    </el-select>
                    <el-button type="primary" style="margin:5px 10;" @click="recover_groupbuygroup" v-show="groupbuyorder.groupbuy_id!=''&&dialogType==='new'">恢復</el-button>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-show="groupbuyorder.groupbuy_id!=''">
                <el-form-item label="訂購商品列表">
                    <el-button type="primary" @click.native="insertgrouporder" :disabled="groupbuyorder.status==1||groupbuyorder.status==-1?true:false">＋</el-button>
                </el-form-item>
            </el-col>
            <!-- {{groupbuyorder.items}} -->
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-show="groupbuyorder.groupbuy_id!=''&&groupbuyorder.vip==0">
              <el-tag type="danger" style="margin:15px 0;font-size:20px;">注意事項：票卷商品，非vip將無法點擊選購</el-tag>
            </el-col>
            <div v-for="(items_list,index) in groupbuyorder.items" :key="index">
                <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                    <el-form-item label="票卷商品" class="el-form-item--small has-error" :prop="'items.'+index+'.product_id'" :rules="[{ required: true, message: '票卷商品為必填欄位'}]">
                        <el-select
                        v-model="items_list.product_id"
                        placeholder="請選擇票卷商品"
                        filterable
                        default-first-option
                        @input="changeproduct_id($event, items_list)"
                        style="margin:auto 10px;"
                        :disabled="groupbuyorder.status==1||groupbuyorder.status==-1?true:false"
                        >
                        <!-- 判斷商品是否下架如為下架無法在選購商品 -->
                        <!-- <el-option
                            v-for="item in GroupBuyShopList"
                            :key="item.product_id"
                            :label="item.product_title"
                            :value="item.product_id"
                            :disabled="groupbuyorder.vip==0&&item.product_vip==0&&item.on_sale==1||groupbuyorder.vip==1&&item.product_vip==1&&item.on_sale==1||groupbuyorder.vip==1&&item.product_vip==0&&item.on_sale==1?false:true"
                        /> -->
                        <el-option-group
                          v-for="(GroupBuyShop,Change_GroupBuyShop) in ChangeGroupBuyShop"
                          :key="Change_GroupBuyShop"
                          :label="Change_GroupBuyShop">
                          <el-option
                            v-for="item in GroupBuyShop"
                            :key="item.product_id"
                            :label="item.product_title"
                            :value="item.product_id"
                            :disabled="groupbuyorder.vip==0&&item.product_vip==0&&item.on_sale==1||groupbuyorder.vip==1&&item.product_vip==1&&item.on_sale==1||groupbuyorder.vip==1&&item.product_vip==0&&item.on_sale==1?false:true"
                          >
                          </el-option>
                        </el-option-group>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :lg="6" :xl="6">
                    <el-form-item label="商品單價">
                        <el-input
                        v-model="items_list.price"
                        placeholder="商品單價"
                        autocomplete="off"
                        ref="price"
                        disabled
                            />
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :lg="6" :xl="6">
                    <el-form-item label="商品數量">
                      <br/>
                        <el-input-number v-model="items_list.qty"
                        :min="1"
                        :max="items_list.limit_product_amount"
                        step=1
                        placeholder="商品數量"
                        autocomplete="off"
                        @change="changeshopqty($event, items_list)"
                        :disabled="groupbuyorder.status==1||groupbuyorder.status==-1?true:false"
                        ref="qty"
                        step-strictly
                        >
                        </el-input-number>
                        <!-- <el-input
                        v-model="items_list.qty"
                        @input="changeshopqty($event, items_list)"
                        placeholder="商品數量"
                        autocomplete="off"
                        :disabled="groupbuyorder.status==1||groupbuyorder.status==-1?true:false"
                        ref="qty"
                            /> -->
                    </el-form-item>
                    <!-- <el-button type="danger" @click.native="removegroupbuy(index)">-</el-button> -->
                </el-col>
                <el-col :xs="24" :sm="24" :lg="6" :xl="6">
                    <el-form-item label="商品小計">
                        <el-input
                        v-model="items_list.subtotal"
                        placeholder="商品數量"
                        autocomplete="off"
                        ref="subtotal"
                        disabled
                            />
                    </el-form-item>
                    <!-- <el-button type="danger" @click.native="removegroupbuy(index)">-</el-button> -->
                </el-col>
                <el-col :xs="24" :sm="24" :lg="4" :xl="4">
                  <!-- {{items_list}} -->
                    <el-form-item label="商品分類">
                        <el-tag style="margin:10px;" v-if="items_list.shop_big_category=='無' &&items_list.shop_small_category=='無'">無分類</el-tag>
                        <div  v-else-if="items_list.shop_big_category==null &&items_list.shop_small_category==null">
                        </div>
                        <el-tag style="margin:10px;" v-else>{{items_list.shop_big_category}}>{{items_list.shop_small_category}}</el-tag>
                        <!-- {{items_list.product_preview==1}} -->
                        <el-tag style="margin:10px;" type="danger" v-show="items_list.product_preview==1">需審核</el-tag>
                    </el-form-item>
                </el-col>
                <el-col :xs="4" :sm="4" :lg="2" :xl="2" v-show="groupbuyorder.status=='0'">
                    <i class="el-icon-delete" @click="removegrouporder(index)" style="color:red;" />
                    <!-- <el-button type="danger" @click.native="removegrouporder(index)" :disabled="groupbuyorder.status==1||groupbuyorder.status==-1?true:false">-</el-button> -->
                </el-col>
                <!-- <el-button type="danger" @click.native="removegroupbuy(index)">-</el-button> -->
            </div>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="text-align:right;color:red;margin:10px auto;font-size:30px;">
                <hr/>
                <!-- {{ GroupBuyCouponList }} -->
                <!-- {{ GroupBuyCouponDetail }} -->
                <div v-show="groupbuyorder.items.length!=0&&groupbuyorder.mid!=''&&groupbuyorder.groupbuy_id!=''">
                <el-select
                v-model="groupbuyorder.coupon_id"
                placeholder="請選擇優惠卷"
                filterable
                clearable
                default-first-option
                style="margin:5px 0; border: 1px solid black;"
                autocomplete="off"
                ref="coupon_id"
                @change="getgroupbuycoupondetail"
                :disabled="groupbuyorder.status==1||groupbuyorder.status==-1?true:false"
                >
                <el-option
                    v-for="item in GroupBuyCouponList"
                    :key="item.coupon_id"
                    :label="item.coupon_name"
                    :value="item.coupon_id"
                    :disabled="item.coupon_show==0?true:false"
                />
                </el-select>
                <br/>
                </div>
                原始總計：{{groupbuyorder.origin_total }}
                <div v-show="GroupBuyCouponDetail.length>0">
                  <br/>
                  <el-tag v-for="(item,index) in GroupBuyCouponDetail" :key="index" style="margin:10px; font-size:18px;">({{item.coupon_number}}) {{ item.coupon_name }} * 1 = {{ item.coupon_money }}</el-tag>
                  <el-tag v-for="(item,index) in GroupBuyCouponDetail" :key="index" style="margin:10px; font-size:18px;" v-show="item.coupon_using_amount==-1">{{ item.discount_coupon_using_amount }} 張</el-tag>
                  <el-tag v-for="(item,index) in GroupBuyCouponDetail" :key="index" style="margin:10px; font-size:18px;" :type="item.discount_coupon_using_amount>=item.coupon_using_amount?'danger':''" v-show="item.coupon_using_amount!==-1">{{item.discount_coupon_using_amount}} / {{item.coupon_using_amount}} 張</el-tag>
                  <!-- <el-tag style="font-size:20px; text-align:center;" v-show="groupbuycoupondiscount.coupon_using_amount==-1">
                      {{groupbuycoupondiscount.discount_coupon_using_amount}} 張 
                  </el-tag>
                  <el-tag style="font-size:20px; text-align:center;" 
                  :type="groupbuycoupondiscount.discount_coupon_using_amount>=groupbuycoupondiscount.coupon_using_amount?'danger':''"
                  v-show="groupbuycoupondiscount.coupon_using_amount!=-1">
                      {{groupbuycoupondiscount.discount_coupon_using_amount}} / {{groupbuycoupondiscount.coupon_using_amount}} 張
                  </el-tag> -->
                </div>
                <br/>
                總計：{{groupbuyorder.total }}
                <hr/>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="付款方式" prop="pay_type" >
                <br>
                <el-radio-group v-model="groupbuyorder.pay_type" name="pay_type">
                    <el-radio-button label=0 border :disabled='this.LinebotInfo.pay_way.includes(0)?false:true'>信用卡</el-radio-button>
                    <el-radio-button label=1 border :disabled='this.LinebotInfo.pay_way.includes(1)?false:true'>ATM</el-radio-button>
                    <el-radio-button label=2 border :disabled='this.LinebotInfo.pay_way.includes(2)?false:true'>超商條碼</el-radio-button>
                    <el-radio-button label=3 border :disabled='this.LinebotInfo.pay_way.includes(3)?false:true'>Line Pay</el-radio-button>
                    <el-radio-button label=4 border :disabled='this.LinebotInfo.pay_way.includes(4)?false:true'>現金</el-radio-button>
                </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="付款狀態" prop="status" >
                <br>
                <el-radio-group v-model="groupbuyorder.status" @change="change_pay_status" name="status">
                    <el-radio-button label=0 :disabled="groupbuyorder.reception_paylog.length==1||groupbuyorder.reception_paylog.length==2?true:false" border>未付款</el-radio-button>
                    <el-radio-button label=1 :disabled="groupbuyorder.reception_paylog.length==2?true:false" border>已付款</el-radio-button>
                    <el-radio-button label=-1 :disabled="groupbuyorder.reception_paylog.length==2?true:false" border>取消</el-radio-button>
                </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-if="groupbuyorder.reception_paylog.length==1">
              <el-alert
              title="已開立發票，無法修改訂購商品列表"
              type="error"
              style="margin:5px 0;"
              :closable="false"
              show-icon
              >
              </el-alert>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-if="groupbuyorder.reception_paylog.length==2">
              <el-alert
              title="已作廢發票，無法修改訂單"
              type="error"
              style="margin:5px 0;"
              :closable="false"
              show-icon
              >
              </el-alert>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-if="groupbuyorder.line_pay_paylog.length==2">
              <el-alert
              title="line pay已退款，無法修改訂單"
              type="error"
              style="margin:5px 0;"
              :closable="false"
              show-icon
              >
              </el-alert>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
              <el-form-item label="訂單備註">
                  <el-input
                      v-model="groupbuyorder.order_note"
                      :autosize="{ minRows: 3, maxRows: 5}"
                      type="textarea"
                      placeholder="訂單備註"
                      name="order_note"
                      autocomplete="off"
                  />
              </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddOrder">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmOrder('groupbuyorder')" :disabled="groupbuyorder.reception_paylog.length==2||groupbuyorder.line_pay_paylog.length==2?true:false">確認</el-button>
      </div>
    </el-dialog>
    <!--訂單狀態提示(新增) -->
      <el-dialog
      title="訊息提示"
      :visible.sync="checkgroupbuyorderswitch"
      width="50%"
      center
      append-to-body
      >
      <el-result :icon="checkgroupbuyordermessage==true?'success':'error'" :title="checkgroupbuyordermessage==true?'新增訂單完成':'新增訂單失敗'" :subTitle="checkgroupbuyordertitle">
      </el-result>
      <span slot="footer" class="dialog-footer">
          <el-button type="primary" style="margin:5px 10;" @click="closeorderdialog">關閉訂單</el-button>
          <el-button type="primary" style="margin:5px 10;" @click="checkgroupbuyorderswitch=false;groupbuyorder.items=[];groupbuyorder.status=0;" v-if="checkgroupbuyordermessage==true">繼續新增</el-button>
          <el-button type="danger" style="margin:5px 10;" @click="checkgroupbuyorderswitch=false" v-if="checkgroupbuyordermessage==false">修正錯誤</el-button>
          <!-- 判斷團購票卷是否「開啟權限」「開啟」且狀態為「已付款」 顯示票卷審核 -->
          <el-divider content-position="center" v-if="groupbuyorder.status==1&&LinebotInfo.check_coupon_premission==1">票卷審核</el-divider>
          <div
          v-for="item,key in orderinfo"
          :key="key"
          class="coupon_check_div"
          >
            <el-button type="primary" 
            @click="coupon_check(key)"
            v-if="checkgroupbuyordermessage==true&&LinebotInfo.check_coupon_premission==1&&item.product_type==1&&groupbuyorder.status==1"
            >
            {{item.product_name}}</el-button>
          </div>
      </span>
      </el-dialog>
    <!--訂單狀態提示(修改) -->
      <el-dialog
      title="訊息提示"
      :visible.sync="checkgroupbuyordereditswitch"
      width="50%"
      center
      append-to-body
      >
      <el-result :icon="checkgroupbuyordereditmessage==true?'success':'error'" :title="checkgroupbuyordereditmessage==true?'修改訂單完成':'修改訂單失敗'" :subTitle="checkgroupbuyorderedittitle">
      </el-result>
      <span slot="footer" class="dialog-footer">
          <el-button type="primary" style="margin:5px 10;" @click="closeordereditdialog">關閉訂單</el-button>
          <el-button type="primary" @click="checkgroupbuyordereditswitch=false" v-if="checkgroupbuyordereditswitch==true">繼續查看</el-button>
           <!-- 判斷團購票卷是否「開啟權限」「開啟」且狀態為「已付款」 顯示票卷審核 -->
          <!-- <el-button type="primary" style="margin:5px 10;" @click="coupon_check" v-if="checkgroupbuyordereditswitch==true&&this.LinebotInfo.check_coupon_premission==1">票卷審核</el-button> -->
          <el-divider content-position="center" v-if="groupbuyorder.status==1">票卷審核</el-divider>
          <!-- {{orderinfo}} -->
          <div
          v-for="item,key in orderinfo"
          :key="key"
          class="coupon_check_div"
          >
            <el-button type="primary"
            @click="coupon_check(key)"
            v-if="checkgroupbuyordereditswitch==true&&LinebotInfo.check_coupon_premission==1&&item.product_type==1&&groupbuyorder.status==1"
            >
            {{item.product_name}}</el-button>
          </div>
      </span>
      </el-dialog>
      <!-- 票卷訊息提示(新增、修改) -->
      <el-dialog
      title="訊息提示"
      :visible.sync="checkgroupbuycouponswitch"
      width="50%"
      center>
      <el-result :icon="checkgroupbuycouponmessage==true?'success':'error'" :title="checkgroupbuycouponmessage==true?'票卷審核完成':'票卷審核失敗'" :subTitle="checkgroupbuycoupontitle">
      </el-result>
      <span slot="footer" class="dialog-footer">
          <el-button type="primary" style="margin:5px 10;" @click="closeorderdialog" v-show="dialogType==='new'">關閉訂單</el-button>
          <el-button type="primary" style="margin:5px 10;" @click="continuesorderdialog" v-show="dialogType==='new'">繼續審核票卷</el-button>
          <el-button type="primary" style="margin:5px 10;" @click="closeordereditdialog" v-show="dialogType==='edit'">關閉訂單</el-button>
          <el-button type="primary" style="margin:5px 10;" @click="continueeditsorderdialog" v-show="dialogType==='edit'">繼續審核票卷</el-button>
          <!-- <el-button type="primary" style="margin:5px 10;" @click="checkgroupbuyorderswitch=false;checkgroupbuycouponswitch=false;" v-show="dialogType==='new'&&checkgroupbuycouponmessage==true">繼續新增</el-button> -->
      </span>
      </el-dialog>
      
      <AddGroupBuyMember :groupbuymember="groupbuymember" :dialogMemberType="dialogMemberType" :dialogMemberVisible="dialogMemberVisible" @getMember_status_dialogtype="getMember_status_dialogtype" />
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 400px;
    height: 400px;
    display: block;
  }
  .coupon_check_div{
    display: inline-block;
    margin: 0 10px;
  }
</style>
<script>
//會員
const defaultMember = {
  partner_id:'',
  line_user_id:'',
  nick_name:'',
  real_name:'',
  avatar:'',
  email:'',
  mobile:'',
  birthday:'',
  //發票類型
  invoice_type:'1',
  //發票種類
  reception_kind:'1',
  sex:'1',
  address:'無地址',
  status:0,
  carrier_type:'',
  carrier_num:'',
  identifier:'',
  company_title:'',
  mail_address:'無地址',
  vip:'0',
  source:'2',
  state_of_health:'無',
  health:'0',
  how_long_climbed:'0',
  emergency_contact:'',
  emergency_relation:'',
  emergency_phone:'',
  member_tag:[]
}
import { insertgroupbuyorder,editgroupbuyorder,delete_groupbuy_order_items,getGroupBuySingleShop,getGroupBuyGroup,getGroupBuyMember,checkGroupBuyCoupon,getGroupBuyCouponList,getGroupBuyCouponDetail } from '@/api/groupbuy_manager'
import { getLineBotInfo } from '@/api/linebot_manager'
import AddGroupBuyMember from './AddGroupBuyMember.vue'
export default {
name: 'AddGroupBuyOrder',
components: { AddGroupBuyMember },
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    groupbuyorder:{
        type:Object,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  data() {
    return {
      OrderRules: {
          // real_name:[{ required: true,message: '訂購人為必填欄位' }],
          address:[{ required: true,message: '訂購地址為必填欄位' }],
          status:[{ required: true,message: '付款狀態為必填欄位' }],
          groupbuy_id:[{ required: true,message: '票卷開團名稱為必填欄位' }],
          pay_type:[{ required: true,message: '付款方式為必填欄位' }]
      },
      loading:false,
      search_mid_loading:false,
      GroupBuyShopList:[],
      //票卷商品分類
      ChangeGroupBuyShop:{},
      GroupBuyPeopleList:[],
      allmemberlist:[],
      payloadcoupon:{},
      payloadshop:'',
      payloadgroup:'',
      payloadcoupondetail:'',
      GroupBuyGroupList:[],
      GroupBuyCouponList:[],
      GroupBuyCouponDetail:[],
      origin_pay_status:null,
      //訂單資訊(新增)
      checkgroupbuyorderswitch:false,
      //訂單正確與錯誤訊息(新增)
      checkgroupbuyordermessage:'',
      //訂單錯誤訊息內文(新增)
      checkgroupbuyordertitle:'',
      //訂單資訊(修改)
      checkgroupbuyordereditswitch:false,
      //訂單正確與錯誤訊息(修改)
      checkgroupbuyordereditmessage:'',
      //訂單錯誤訊息內文(修改)
      checkgroupbuyorderedittitle:'',
      //票卷審核資訊
      checkgroupbuycouponswitch:false,
      //審核正確與錯誤訊息
      checkgroupbuycouponmessage:'',
      //審核錯誤訊息內文
      checkgroupbuycoupontitle:'',
      //會員
      dialogMemberType:'',
      dialogMemberVisible:false,
      groupbuymember:Object.assign({}, defaultMember),
      //得知聊天機器人基本資料
      LinebotInfo: [],
      //得知訂單資訊
      orderinfo:[],
      search_groupbuycoupon:{},
    }
  },
    watch: {
      dialogType:{
        handler: function(val, oldVal) {
            // this.getgroupbuyshop()
            if(val=='edit'){
              //得知[修改]團購名稱
              this.edit_getgroupbuygroup()
              //得知聊天機器人基本資料
              this.getlinebotinfo()
              if(this.groupbuyorder.coupon_id!=null){
                //得到所有優惠卷列表
                this.get_all_coupon_list()
                this.getgroupbuycoupondetail()
              }
            }
            if(val=='new'){
              //得知[新增]團購名稱
              this.new_getgroupbuygroup()
              //得知聊天機器人基本資料
              this.getlinebotinfo()
            }
      },
      immediate: true
      },
      "groupbuyorder.status":{
        handler: function(val, oldVal) {
        // console.log(val)
        // console.log(oldVal)
        //得知原始付款狀態
        this.origin_pay_status = oldVal
      },
      immediate: true
      },
  },
  methods: {
    //關閉選單
    closeAddOrder(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    //得知訂單資訊
    this.orderinfo = []
    this.groupbuyorder.items = []
    this.GroupBuyCouponList = []
    this.GroupBuyCouponDetail = []
    //付款狀態恢復到未付款
    this.groupbuyorder.status = 0
    this.$emit('getOrder_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    //得知聊天機器人基本資料
    async getlinebotinfo(){
      var payload = {
          'partner_id':this.groupbuyorder.partner_id
      }
      await getLineBotInfo(payload).then(resp => {
            if(resp.data=="查詢成功"){
              this.LinebotInfo = resp.message[0]
            }
      })
      //只有在新增時才帶入預設值
      //判斷是否開啟任意付款狀態並帶入預設值
      if(this.dialogType=='new'){
        if(this.LinebotInfo.pay_way.includes(4)==true){
          this.groupbuyorder.pay_type = 4
        }
        else if(this.LinebotInfo.pay_way.includes(3)==true){
          this.groupbuyorder.pay_type = 3
        }
        else if(this.LinebotInfo.pay_way.includes(2)==true){
          this.groupbuyorder.pay_type = 2
        }
        else if(this.LinebotInfo.pay_way.includes(1)==true){
          this.groupbuyorder.pay_type = 1
        }
        else if(this.LinebotInfo.pay_way.includes(0)==true){
          this.groupbuyorder.pay_type = 0
        }
      }
    },
    //新增會員
    insertgroupbuymember(){
      this.dialogMemberType = 'new'
      this.dialogMemberVisible = true
      defaultMember['partner_id'] = this.groupbuyorder.partner_id
      this.groupbuymember = Object.assign({}, defaultMember)
    },
    //搜尋會員
    search_member(query){
      this.search_mid_loading = true
      if(query!=''){
        var payload ='1?partner_id='+this.groupbuyorder.partner_id+'&search_member='+query
        getGroupBuyMember(payload).then(resp => {
            if(resp.success==true){
              this.allmemberlist = []
              resp.data.list.forEach((element,index)=>{
                //判斷會員是否為該合作夥伴
                if(this.groupbuyorder.partner_id==element.partner_id){
                  this.allmemberlist.push({
                    "mid": element.id,
                    "real_name": element.real_name,
                    "nick_name": element.nick_name,
                    "avatar": element.avatar,
                    "mobile": element.mobile,
                    "line_user_id": element.line_user_id,
                    "address": element.address,
                    "vip": element.vip
                  })
                }
              })
              this.search_mid_loading = false
            }
        })
      }
      else{
        this.allmemberlist = []
        this.search_mid_loading = false
      }
    },
    //帶入會員基本資料
    set_member_profile(){
      if(this.groupbuyorder.mid==''){
        this.groupbuyorder.real_name = null,
        this.groupbuyorder.mobile = '',
        this.groupbuyorder.line_user_id = '',
        this.groupbuyorder.avatar = null,
        this.groupbuyorder.vip = '',
        this.groupbuyorder.address = ''
      }
      if(this.groupbuyorder.groupbuy_id!=''){
        //得到所有優惠卷列表
        this.get_all_coupon_list()
        this.groupbuyorder.coupon_id = '',
        this.GroupBuyCouponDetail = []
        this.groupbuyorder.total = this.groupbuyorder.origin_total
      }
      //篩選符合的使用者mid資料的json格式
      var get_member_profile_array = this.allmemberlist.filter((el)=>{
        return el.mid == this.groupbuyorder.mid
      })
      console.log(get_member_profile_array)
      //帶入所有會員資料
      this.groupbuyorder.real_name = get_member_profile_array[0].real_name
      this.groupbuyorder.mobile = get_member_profile_array[0].mobile
      this.groupbuyorder.line_user_id = get_member_profile_array[0].line_user_id
      this.groupbuyorder.avatar = get_member_profile_array[0].avatar
      this.groupbuyorder.vip = get_member_profile_array[0].vip
      if(get_member_profile_array[0].address==''||get_member_profile_array[0].address==null){
        this.groupbuyorder.address = '無地址'
      }
      else{
        this.groupbuyorder.address = get_member_profile_array[0].address
      }
    },
    // 更新與新增團購開團
    confirmOrder(groupbuyorder) {
      var _self = this 
      _self.$refs[groupbuyorder].validate(valid => {
        if (valid) {
          _self.loading = true
          if(_self.dialogType=='new'){
            _self.$confirm('送出訂單請<span style="font-size:20px; color:red;">「再次檢查輸入欄位」</span>', '訂單狀態', {
              confirmButtonText: 'Confirm',
              cancelButtonText: 'Cancel',
              dangerouslyUseHTMLString:true,
              type: 'warning'
            }).then(async() => {
              insertgroupbuyorder(_self.groupbuyorder)
                .then((resp) => {
                  if(resp.success==true){
                      _self.checkgroupbuyorderswitch = true
                      _self.checkgroupbuyordertitle = ''
                      _self.checkgroupbuyordermessage = resp.success
                      _self.orderinfo = []
                      //得知新增訂單資訊
                      _self.groupbuyorder.items.forEach((element)=>{
                        _self.orderinfo.push({
                          'order_sn':resp.data['order_sn'],
                          'product_id':element.product_id,
                          'product_name':element.product_name,
                          'product_type':element.product_type
                        })
                      })
                      // this.orderinfo['order_sn'] = resp.data['order_sn']
                      // this.orderinfo['product_id'] = this.groupbuyorder.items[0].product_id
                      // this.orderinfo['product_name'] = this.groupbuyorder.items[0].product_name
                      //更新資料進入外層的訂單管理
                      _self.$emit('getGroupBuyOrder')
                      //判斷是否為新增或修改
                      _self.$nextTick(() => {
                        // this.$refs[groupbuyorder].resetFields()
                        _self.groupbuyorder.line_user_id = '',
                        _self.groupbuyorder.avatar = null,
                        _self.groupbuyorder.real_name = null,
                        _self.groupbuyorder.groupbuy_id = '',
                        _self.groupbuyorder.mid = '',
                        _self.groupbuyorder.mobile = '',
                        _self.groupbuyorder.address = '',
                        _self.groupbuyorder.total = 0
                        _self.groupbuyorder.origin_total = 0
                        _self.groupbuyorder.vip = '0'
                        _self.groupbuyorder.order_sn = ''
                        // this.groupbuyorder.pay_type = 0,
                        //判斷是否開啟任意付款狀態並帶入預設值
                        if(_self.LinebotInfo.pay_way.includes(0)==true){
                          _self.groupbuyorder.pay_type = 0
                        }
                        else if(_self.LinebotInfo.pay_way.includes(1)==true){
                          _self.groupbuyorder.pay_type = 1
                        }
                        else if(_self.LinebotInfo.pay_way.includes(2)==true){
                          _self.groupbuyorder.pay_type = 2
                        }
                        else if(_self.LinebotInfo.pay_way.includes(3)==true){
                          _self.groupbuyorder.pay_type = 3
                        }
                        else if(_self.LinebotInfo.pay_way.includes(4)==true){
                          _self.groupbuyorder.pay_type = 4
                        }
                        _self.new_getgroupbuygroup()
                      });
                  }
                  if(resp.success==false){
                      _self.checkgroupbuyorderswitch = true
                      _self.checkgroupbuyordertitle = resp.data
                      _self.checkgroupbuyordermessage = resp.success
                  }
                  _self.loading = false
                })
                .catch(() => {
                  _self.loading = false
                  return false
                })
              })
              .catch(action => {
                if(action=='cancel'){
                  _self.$message({
                    type: 'info',
                    message: '取消新增訂單'
                  });
                  _self.loading = false
                }
              })
          }
          if(_self.dialogType=='edit'){
            editgroupbuyorder(_self.groupbuyorder)
              .then((resp) => {
                  if(resp.success==true){
                      _self.checkgroupbuyordereditswitch = true
                      _self.checkgroupbuyorderedittitle = ''
                      _self.checkgroupbuyordereditmessage = resp.success
                      console.log(_self.groupbuyorder.order_sn)
                      console.log(resp)
                      //更新資料進入外層的訂單管理
                      _self.$emit('getGroupBuyOrder')
                      //得知修改訂單資訊
                      // this.orderinfo['order_sn'] = this.groupbuyorder.order_sn
                      // this.orderinfo['product_id'] = this.groupbuyorder.items[0].product_id
                      // this.orderinfo['product_name'] = this.groupbuyorder.items[0].groupbuy_shop_name
                      _self.orderinfo = []
                      //得知修改訂單資訊
                      _self.groupbuyorder.items.forEach((element)=>{
                        if(element.id!=null){
                          _self.orderinfo.push({
                            'order_sn':_self.groupbuyorder.order_sn,
                            'product_id':element.product_id,
                            'product_name':element.groupbuy_shop_name,
                            'product_type':element.product_type
                          })
                        }
                        else{
                          _self.orderinfo.push({
                            'order_sn':_self.groupbuyorder.order_sn,
                            'product_id':element.product_id,
                            'product_name':element.product_name,
                            'product_type':element.product_type
                          })
                        }
                      })
                  }
                  if(resp.success==false){
                      _self.checkgroupbuyordereditswitch = true
                      _self.checkgroupbuyorderedittitle = resp.data
                      _self.checkgroupbuyordereditmessage = resp.success
                  }
                  _self.loading = false
              })
              .catch(() => {
                _self.loading = false
                return false
              })
          }
        }
        else {
          console.log('有資料未填寫!!')
          this.$message.error('請確認資料是否填寫無誤');
          return false
        }
      })
    },
    //新增團購訂單
    insertgrouporder(){
        this.groupbuyorder.items.push(
        {
            "id":null,
            "orders_id": this.groupbuyorder.orderid,
            "product_id":null,
            "product_name":"",
            "product_type":"",
            "qty":1,
            "price":null,
            "subtotal":"",
            "shop_big_category":null,
            "shop_small_category":null,
            "product_preview":null
        })
    },
    //刪除團購訂單
    removegrouporder(index){
      var _self = this
      //判斷是否為修改且商品id不為null
      //start if(_self.dialogType=='edit'&&_self.groupbuyorder.items[index].id!=null){
      if(_self.dialogType=='edit'&&_self.groupbuyorder.items[index].id!=null){
          _self.$confirm('是否刪除商品 「<span style="font-size:18px;color:red;">'+_self.groupbuyorder.items[index].groupbuy_shop_name+'</span>」', '刪除訂單商品', {
            confirmButtonText: 'Confirm',
            cancelButtonText: 'Cancel',
            dangerouslyUseHTMLString:true,
            type: 'warning'
          }).then(async() => {
          _self.delete_groupbuy_order_items(index)
          _self.groupbuyorder.items.splice(index,1)
          _self.groupbuyorder.origin_total = 0
          _self.groupbuyorder.total = 0
          _self.groupbuyorder.items.forEach(element=>{
          _self.groupbuyorder.total+= element.price*element.qty
          _self.groupbuyorder.origin_total+= element.price*element.qty
          })
          //得到所有優惠卷列表
          _self.get_all_coupon_list()
          //如果有放入優惠自動結算扣款資訊
          _self.getgroupbuycoupondetail()
        })
      }
      //end if(_self.dialogType=='edit'&&_self.groupbuyorder.items[index].id!=null){
      else{
        _self.groupbuyorder.items.splice(index,1)
        _self.groupbuyorder.origin_total = 0
        _self.groupbuyorder.total = 0
        _self.groupbuyorder.items.forEach(element=>{
          _self.groupbuyorder.origin_total+= element.price*element.qty
          _self.groupbuyorder.total+= element.price*element.qty
        })
        //得到所有優惠卷列表
        _self.get_all_coupon_list()
        //如果有放入優惠自動結算扣款資訊
        _self.getgroupbuycoupondetail()
      }
    },
    //刪除團購訂單內商品
    delete_groupbuy_order_items(index){
      var _self = this
      _self.payload = {
        'id':_self.groupbuyorder.items[index].id
      }
      delete_groupbuy_order_items(_self.payload).then(resp => {
        _self.$message({
          message: resp.message,
          type: resp.success==true ? 'success':'error'
        })
        _self.$emit('getGroupBuyOrder')
      })
    },
    //變動商品數量
    changeshopqty(newqty,items_list){
        var _self = this
        if(newqty!=null){
            items_list.subtotal = items_list.price * newqty
            _self.groupbuyorder.origin_total = 0
            _self.groupbuyorder.total = 0
            _self.groupbuyorder.items.forEach(element=>{
                _self.groupbuyorder.origin_total+= element.price*element.qty
                _self.groupbuyorder.total+= element.price*element.qty
            })
            //得到所有優惠卷列表
            _self.get_all_coupon_list()
            //如果有放入優惠自動結算扣款資訊
            _self.getgroupbuycoupondetail()
        }
        // console.log(newqty)
        console.log(items_list)
    },
    //變動商品品名
    changeproduct_id(newqproduct_id,items_list){
      console.log("702: ",newqproduct_id,items_list)
        var _self = this
        var groupbuy_id = _self.groupbuyorder.groupbuy_id;
        if(newqproduct_id!=null){
            getGroupBuySingleShop(newqproduct_id,parseInt(groupbuy_id)).then(async resp => {
                if(resp.success==true){
                    if(resp.data.sellingprice!=null){
                        items_list.price= resp.data.sellingprice
                    }
                    else{
                        items_list.price= resp.data.price
                    }
                    items_list.subtotal = items_list.price * items_list.qty
                    items_list.product_name = resp.data.title
                    items_list.product_type = resp.data.type
                    items_list.product_preview = resp.data.product_preview
                    items_list.shop_big_category = resp.data.shop_category[0].shop_big_category
                    items_list.shop_small_category = resp.data.shop_category[0].shop_small_category
                    //如有limit_product=1，可設定每項商品實際可買數量
                    items_list.limit_product_amount = resp.data.limit_product==1?resp.data.limit_product_amount:100
                    _self.groupbuyorder.origin_total = 0
                    _self.groupbuyorder.total = 0
                    _self.groupbuyorder.items.forEach(element=>{
                        _self.groupbuyorder.origin_total+= element.price*element.qty
                        _self.groupbuyorder.total+= element.price*element.qty
                    })
                    //得到所有優惠卷列表
                    await _self.get_all_coupon_list()
                    //如果有放入優惠自動結算扣款資訊
                    await _self.getgroupbuycoupondetail()
                }
            })
        }
        // console.log(newqty)
        console.log(items_list)
    },
    // getgroupbuyshop(){
    //   this.GroupBuyShopList = []
    //   this.payloadshop = '1?partner_id=' + this.groupbuyorder.partner_id
    //   // this.groupbuyshop = Object.assign({}, defaultShop)
    //   getGroupBuyShop(this.payloadshop).then(resp => {
    //     if(resp.success==true){
    //         this.GroupBuyShopList = resp.data
    //     }
    //   })
    // },
    //恢復預設團購名稱
    async recover_groupbuygroup(){
        var _self = this
        _self.$confirm('是否恢復預設票卷開團列表？', '恢復預設票卷開團狀態', {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          dangerouslyUseHTMLString:true,
          type: 'warning'
        }).then(async() => {
            _self.GroupBuyGroupList = []
            _self.payloadgroup = 'all?partner_id=' + _self.groupbuyorder.partner_id
            // _self.groupbuyshop = Object.assign({}, defaultShop)
            await getGroupBuyGroup(_self.payloadgroup).then(resp => {
              if(resp.success==true){
                  _self.GroupBuyGroupList = resp.data
                  //商品開團帶沆恢復至預設
                  _self.groupbuyorder.groupbuy_id = ''
                  //商品恢復至預設
                  _self.GroupBuyShopList = []
                  //折扣卷恢復至預設
                  _self.GroupBuyCouponList = []
                  //折扣卷列表恢復至預設
                  _self.GroupBuyCouponDetail = []
                  //商品列表恢復至預設
                  _self.groupbuyorder.items = []
                  //商品原始金額恢復至預設
                  _self.groupbuyorder.origin_total = 0
                   //商品實際金額恢復至預設
                  _self.groupbuyorder.total = 0
              }
            })
          })
          .catch(action => {
            if(action=='cancel'){
              _self.$message.info('取消恢復預設票卷開團')
            }
          })
    },
    //合併相同的分類產品份入同一類(票卷商品)
    async group_combo_same_GroupBuyShop(){
      this.ChangeGroupBuyShop = this.GroupBuyShopList.reduce((acc, cur) => {
          if(cur.shop_big_category!=null&&cur.shop_small_category!=null){
            const shop_big_category = cur.shop_big_category+'>'+cur.shop_small_category
            if (!acc[shop_big_category]) {
                acc[shop_big_category] = [];
            }
            acc[shop_big_category].push(cur);
          }
          return acc;
      }, {});
    },
    //得到所有優惠卷列表
    async get_all_coupon_list(){
      var _self = this
      _self.payloadcoupon = {
        'partner_id':_self.groupbuyorder.partner_id,
        'groupbuy_id':_self.groupbuyorder.groupbuy_id,
        'member_id':_self.groupbuyorder.mid,
        'items':_self.groupbuyorder.items
      }
      _self.GroupBuyCouponList = []
      await getGroupBuyCouponList(_self.payloadcoupon).then(async resp => {
        if(resp.success==true){
            _self.GroupBuyCouponList = resp.data
        }
      })
    },
    async getgroupbuycoupondetail(){
      var _self = this
      _self.payloadcoupondetail ='1?partner_id='+_self.groupbuyorder.partner_id+'&coupon_id='+_self.groupbuyorder.coupon_id
      _self.GroupBuyCouponDetail = []
      _self.groupbuyorder.total = 0
      if(_self.groupbuyorder.coupon_id!=''){
        await getGroupBuyCouponDetail(_self.payloadcoupondetail).then(async resp => {
          if(resp.success==true){
              _self.GroupBuyCouponDetail = resp.data.list
              _self.GroupBuyCouponDetail.forEach(element=>{
              _self.groupbuyorder.total = _self.groupbuyorder.origin_total - element.coupon_money
              console.log(_self.groupbuyorder.discount)
              })
          }
        })
      }
      else{
        _self.groupbuyorder.total = _self.groupbuyorder.origin_total
      }
    },
    //得知[修改]團購名稱
    async edit_getgroupbuygroup(){
      var _self = this
      _self.GroupBuyGroupList = []
      _self.payloadgroup = 'all?partner_id=' + _self.groupbuyorder.partner_id+'&groupbuy_id='+_self.groupbuyorder.groupbuy_id
      // _self.groupbuyshop = Object.assign({}, defaultShop)
      await getGroupBuyGroup(_self.payloadgroup).then(async resp => {
        if(resp.success==true){
            _self.GroupBuyGroupList = resp.data
        }
      })
      _self.GroupBuyShopList = []
      await _self.GroupBuyGroupList.list.forEach((element)=>{
        console.log(element)
        element.items.forEach((element_items)=>{
            console.log(element_items)
            _self.GroupBuyShopList.push(element_items)
        })
      })
      //當「新增」團購訂單，點擊「團購名稱」，自動帶入預設「商品列表」、「數量」及「計算價錢」
      if(_self.dialogType=='new'){
        await _self.insertgrouporder()
        _self.groupbuyorder.items[0].product_id = _self.GroupBuyShopList[0].product_id
        await _self.changeproduct_id(_self.groupbuyorder.items[0].product_id,_self.groupbuyorder.items[0])
      }
      await _self.group_combo_same_GroupBuyShop()
    },
    //得知[新增]團購名稱
    async new_getgroupbuygroup(){
      var _self = this
      _self.GroupBuyGroupList = []
      _self.payloadgroup = 'all?partner_id=' + _self.groupbuyorder.partner_id
      // _self.groupbuyshop = Object.assign({}, defaultShop)
      await getGroupBuyGroup(_self.payloadgroup).then(resp => {
        if(resp.success==true){
            _self.GroupBuyGroupList = resp.data
        }
      })
    },
    async change_pay_status(){
      if(this.groupbuyorder.status == 1){
        this.$confirm('是否將付款狀態更改為「<span style="font-size:20px;color:red">已付款</span>」', '變更付款狀態', {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          dangerouslyUseHTMLString:true,
          type: 'warning'
        }).then(async() => {
            this.groupbuyorder.status = 1
          })
          .catch(action => {
            if(action=='cancel'){
              this.groupbuyorder.status = this.origin_pay_status
            }
          })
      }
      else if(this.groupbuyorder.status == 0){
        this.$confirm('是否將付款狀態更改為「<span style="font-size:20px;color:red">未付款</span>」', '變更付款狀態', {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          dangerouslyUseHTMLString:true,
          type: 'warning'
        }).then(async() => {
            this.groupbuyorder.status = 0
          })
          .catch(action => {
            if(action=='cancel'){
              this.groupbuyorder.status = this.origin_pay_status
            }
          })
      }
      else if(this.groupbuyorder.status == -1){
        this.$confirm('<span style="font-size:20px;">是否將付款狀態更改為「</span><span style="font-size:20px;color:red">取消</span>」', '變更付款狀態', {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          dangerouslyUseHTMLString:true,
          type: 'warning'
        }).then(async() => {
            this.groupbuyorder.status = -1
          })
          .catch(action => {
            if(action=='cancel'){
              this.groupbuyorder.status = this.origin_pay_status
            }
          })
      }
    },
    //關閉新增訂單dialog
    async closeorderdialog(){
      console.log(this.groupbuyorder)
      this.checkgroupbuyorderswitch=false
      this.checkgroupbuycouponswitch=false
      await this.closeAddOrder()
    },
    //繼續審核新增訂單dialog
    async continuesorderdialog(){
      this.checkgroupbuyorderswitch = true
      this.checkgroupbuycouponswitch=false
    },
    //關閉修改訂單dialog
    async closeordereditdialog(){
      console.log(this.groupbuyorder)
      this.checkgroupbuyordereditswitch=false
      this.checkgroupbuycouponswitch=false
      await this.closeAddOrder()
    },
    //繼續審核修改訂單dialog
    async continueeditsorderdialog(){
      this.checkgroupbuyordereditswitch= true
      this.checkgroupbuycouponswitch=false
    },
    //關閉會員dialog
    getMember_status_dialogtype(dialogMemberVisible,dialogMemberType){
      this.dialogMemberVisible = dialogMemberVisible
      this.dialogMemberType = dialogMemberType
    },
    //票卷審核按鈕
    coupon_check(key){
      //審核
      this.checkgroupbuycoupon(key)
    },
    //審核
    checkgroupbuycoupon(key){
          var _self = this
          var regex = /^[0-9\s]*$/;
          // console.log(key)
          // console.log(_self.orderinfo)
          // console.log(_self.orderinfo[key].order_sn)
          _self.search_groupbuycoupon['coupon_order'] = _self.orderinfo[key]['order_sn']+'+'+_self.orderinfo[key]['product_id']
          _self.search_groupbuycoupon['coupon_title'] = _self.orderinfo[key]['product_name']
          _self.search_groupbuycoupon['partner_id'] = _self.groupbuyorder.partner_id
        _self.$prompt('請輸入使用張數?', '是否確定審核「'+_self.search_groupbuycoupon['coupon_title']+'」票卷', {
          inputValue:'1',
          inputValidator:(value)=>{
              if(!value){
                  return '輸入框不能為空值'
              }
              if(!regex.test(value)){
                  return '輸入框必須為數字'
              }
          }
      
          }).then(({ value }) => {
            _self.search_groupbuycoupon['coupon_qty'] = value
            checkGroupBuyCoupon(_self.search_groupbuycoupon).then(resp => {
              console.log("resp",resp.success)
              if(resp.success==true){
                  _self.checkgroupbuycouponswitch = true
                  _self.checkgroupbuycoupontitle = resp.message
                  _self.checkgroupbuycouponmessage = resp.success
                  _self.$emit('getGroupBuyOrder')
              }
              if(resp.success==false){
                  _self.checkgroupbuycouponswitch = true
                  _self.checkgroupbuycoupontitle = resp.data
                  _self.checkgroupbuycouponmessage = resp.success
              }
            })
          }).catch(() => {
            _self.$message({
              type: 'info',
              message: '取消審核票卷資訊'
            });       
          });
    }
  }
}
</script>