<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新票卷商品列表':'新增票卷商品列表'"
    :before-close="closeAddShop" center fullscreen
    append-to-body
    >
    <!-- {{groupbuyshop_1}} -->
    <!-- {{groupbuyshop_1}}
    {{groupbuyshop}} -->

        <!-- {{groupbuyshop}}
        <hr/>
        {{GroupBuyShop.list}}
        <hr/>
        {{copy_product_id}}
        <hr/>
        {{GroupBuyShopFilter.list}}
        <hr/>
        {{groupbuyshop_1}} -->
         <!-- {{groupbuyshop_1}} -->
         <!-- {{origin_image}} -->
         <!-- {{origin_image!=null&&dialogType==='edit'}} -->
        <!-- {{ChangeGroupBuyShop}} -->
      <div style="text-align:right;">
        <el-row :gutter="20" v-show="dialogType==='new'">
          <el-col :xs="24" :sm="24" :lg="24" :xl="24">
              <el-select
              v-model="copy_product_id"
              placeholder="請選擇複製商品"
              filterable
              default-first-option
              @change="set_copy_groupbuyshop"
              style="margin:auto 10px;"
              >
              <!-- <el-option
                  v-for="item in GroupBuyShop.list"
                  :key="item.id"
                  :label="item.title"
                  :value="item.id"
                  :disabled="item.on_sale==0?true:false"
              /> -->
              <el-option-group
                v-for="(GroupBuyShop,Change_GroupBuyShop) in this.ChangeGroupBuyShop"
                :key="Change_GroupBuyShop"
                :label="Change_GroupBuyShop">
                <el-option
                  v-for="item in GroupBuyShop"
                  :key="item.id"
                  :label="item.title"
                  :value="item.id"
                  :disabled="item.on_sale==0?true:false"
                >
                </el-option>
              </el-option-group>
              </el-select>
          </el-col>
        </el-row>
      </div>
      <el-form :rules="ShopRules" status-icon ref="groupbuyshop" :model="groupbuyshop_1" label-position="right">
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="商品名稱" prop="title">
                  <el-input
                  v-model="groupbuyshop_1.title"
                  placeholder="商品名稱"
                  autocomplete="off"
                  ref="title"
                      />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="4" :lg="4" :xl="4">
                <el-form-item label="商品分類" prop="shop_category_id">
                  <br/>
                    <el-select
                        v-model="groupbuyshop_1.shop_category_id"
                        name="shop_category_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="商品分類"
                        ref="shop_category_id"
                        >
                        <el-option
                        v-for="item in shopcategorylist"
                        :key="item.shop_category_id"
                        :label="item.shop_big_category+'>'+item.shop_small_category"
                        :value="item.shop_category_id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8">
              <el-form-item label="商品單位" prop="productword">
                  <el-input
                  v-model="groupbuyshop_1.productword"
                  placeholder="商品單位"
                  autocomplete="off"
                  ref="productword"
                      />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
              <el-form-item label="商品描述" prop="description">
                  <el-input
                  v-model="groupbuyshop_1.description"
                  placeholder="商品描述"
                  type="textarea"
                  :rows="5"
                  autocomplete="off"
                  ref="description"
                      />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="商品接受可付款方式" prop="pay_way">
                  <el-checkbox-group v-model="groupbuyshop_1.pay_way" name="pay_way">
                    <br/>
                    <el-checkbox label="0" :disabled='this.LinebotInfo.pay_way.includes(0)?false:true'>
                      信用卡
                    </el-checkbox>
                    <el-checkbox label="1" :disabled='this.LinebotInfo.pay_way.includes(1)?false:true'>
                      ATM
                    </el-checkbox>
                    <el-checkbox label="2" :disabled='this.LinebotInfo.pay_way.includes(2)?false:true'>
                      超商
                    </el-checkbox>
                    <el-checkbox label="3" :disabled='this.LinebotInfo.pay_way.includes(3)?false:true'>
                      Line Pay
                    </el-checkbox>
                    <el-checkbox label="4" :disabled='this.LinebotInfo.pay_way.includes(4)?false:true'>
                      現金
                    </el-checkbox>
                  </el-checkbox-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="商品類型" prop="type">
              <br/>
              <el-radio-group v-model="groupbuyshop_1.type" name="type">
                <el-radio-button label=0 border>實體</el-radio-button>
                <el-radio-button label=1 border>票卷</el-radio-button>
              </el-radio-group>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="票卷類型" prop="kind">
              <br/>
                <el-radio-group v-model="groupbuyshop_1.kind" name="kind" :disabled="groupbuyshop_1.type==1?false:true">
                  <el-radio-button label=0 border>一般性票卷</el-radio-button>
                  <el-radio-button label=1 border>月票卷</el-radio-button>
                  <el-radio-button label=2 border>季票卷</el-radio-button>
                  <el-radio-button label=4 border>半年票卷</el-radio-button>
                  <el-radio-button label=3 border>年票卷</el-radio-button>
                </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12" style="margin-bottom:2px;">
              <el-form-item label="折抵數量" prop="option">
                  <el-input
                  v-model="groupbuyshop_1.option"
                  placeholder="折抵數量"
                  autocomplete="off"
                  ref="option"
                  :disabled="groupbuyshop_1.type==1&&groupbuyshop_1.kind==0?false:true"
                      />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="商品原價" prop="price">
                  <el-input
                  v-model="groupbuyshop_1.price"
                  placeholder="商品原價"
                  autocomplete="off"
                  ref="price"
                      />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="商品特價" prop="sellingprice">
                  <el-input
                  v-model="groupbuyshop_1.sellingprice"
                  placeholder="商品特價"
                  autocomplete="off"
                  ref="sellingprice"
                      />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="商品是否上架" prop="on_sale">
              <br/>
              <el-radio-group v-model="groupbuyshop_1.on_sale" name="on_sale">
                <el-radio-button label=0 border>下架</el-radio-button>
                <el-radio-button label=1 border>上架</el-radio-button>
              </el-radio-group>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="商品是否刪除" prop="disable">
              <br/>
              <el-radio-group v-model="groupbuyshop_1.disable" name="disable">
                <el-radio-button label=0 border>未刪除</el-radio-button>
                <el-radio-button label=1 border>已刪除</el-radio-button>
              </el-radio-group>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
              <el-form-item label="限制商品單項購買數量開關" prop="limit_product">
                <br/>
                  <el-radio-group v-model="groupbuyshop_1.limit_product" name="limit_product">
                    <el-radio-button label=0 border>關閉</el-radio-button>
                    <el-radio-button label=1 border>開啟</el-radio-button>
                  </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
              <el-form-item label="限制商品單項購買數量" prop="limit_product_amount">
                  <el-input
                  v-model="groupbuyshop_1.limit_product_amount"
                  placeholder="限制商品購買數量"
                  autocomplete="off"
                  ref="limit_product_amount"
                  :disabled="groupbuyshop_1.limit_product==1?false:true"
                      />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
              <el-form-item label="限制商品總購買數量開關" prop="limit_total_product">
                <br/>
                  <el-radio-group v-model="groupbuyshop_1.limit_total_product" name="limit_total_product">
                    <el-radio-button label=0 border>關閉</el-radio-button>
                    <el-radio-button label=1 border>開啟</el-radio-button>
                  </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6">
              <el-form-item label="限制商品總購買數量" prop="limit_total_product_amount">
                  <el-input
                  v-model="groupbuyshop_1.limit_total_product_amount"
                  placeholder="限制商品購買數量"
                  autocomplete="off"
                  ref="limit_total_product_amount"
                  :disabled="groupbuyshop_1.limit_total_product==1?false:true"
                      />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="商品是否為vip" prop="product_vip">
                <br/>
                  <el-radio-group v-model="groupbuyshop_1.product_vip" name="product_vip">
                    <el-radio-button label=0 border>否</el-radio-button>
                    <el-radio-button label=1 border>是</el-radio-button>
                  </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="商品是否審核" prop="product_preview">
                <br/>
                  <el-radio-group v-model="groupbuyshop_1.product_preview" name="product_preview">
                    <el-radio-button label=0 border>否</el-radio-button>
                    <el-radio-button label=1 border>是</el-radio-button>
                  </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="原始商品照片">
              <br/>
                <el-image :src="upload_path+origin_image"
                style="width:300px;"
                >
                    <div slot="error" class="image-slot">
                    <i class="el-icon-picture-outline"></i>
                    </div>
                </el-image>
                <el-button type="danger" style="margin:5px 10; text-align:right;" @click="recover_groupbuyshop" v-show="origin_image!=null&&dialogType==='edit'">刪除</el-button>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="上傳商品照片" prop="image">
            <el-upload
                class="avatar-uploader"
                :action="upload_path+'/groupbuy/'"
                ref="image"
                name="image"
                :multiple="false"
                :auto-upload="false"
                :limit="1"
                accept="image/png,image/jpeg"
                :on-change="before_upload_image_upload"
                :on-remove="reset_upload_image_upload"
                >
                <img v-if="show_upload_image_preview" :src="show_upload_image_preview" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                <!-- <p style="color:red;">寬度：</p>
                <p style="color:red;">高度：</p>
                <p style="color:red;">寬高比率：</p>
                <p style="color:red;">ssss</p> -->
            </el-upload>
            </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddShop">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmShop('groupbuyshop')">確認</el-button>
      </div>
    </el-dialog>
    <!--團購開團狀態提示(新增) -->
      <el-dialog
      title="訊息提示"
      :visible.sync="checkgroupbuyshopswitch"
      v-if="dialogType=='new'"
      width="30%"
      center
      append-to-body
      >
      <el-result :icon="checkgroupbuyshopmessage==true?'success':'error'" :title="checkgroupbuyshopmessage==true?'新增商品完成':'新增商品失敗'" :subTitle="checkgroupbuyshoptitle">
      </el-result>
      <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="closeshopdialog">關閉商品</el-button>
          <el-button type="primary" @click="checkgroupbuyshopswitch=false" v-if="checkgroupbuyshopmessage==true">繼續新增</el-button>
          <el-button type="danger" @click="checkgroupbuyshopswitch=false" v-if="checkgroupbuyshopmessage==false">修正錯誤</el-button>
      </span>
      </el-dialog>
    <!--團購開團狀態提示(修改) -->
      <el-dialog
      title="訊息提示"
      :visible.sync="checkgroupbuyshopswitch"
      v-if="dialogType=='edit'"
      width="30%"
      center
      append-to-body
      >
      <el-result :icon="checkgroupbuyshopmessage==true?'success':'error'" :title="checkgroupbuyshopmessage==true?'修改商品完成':'修改商品失敗'" :subTitle="checkgroupbuyshoptitle">
      </el-result>
      <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="closeshopdialog">關閉商品</el-button>
          <el-button type="primary" @click="checkgroupbuyshopswitch=false" v-if="checkgroupbuyshopmessage==true">繼續查看</el-button>
          <el-button type="danger" @click="checkgroupbuyshopswitch=false" v-if="checkgroupbuyshopmessage==false">修正錯誤</el-button>
      </span>
      </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 300px;
    /* height: 400px; */
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
import { insertgroupbuyshop,editgroupbuyshop,getGroupBuyShop,delGroupBuyShopImage } from '@/api/groupbuy_manager'
import { getLineBotInfo } from '@/api/linebot_manager'
export default {
name: 'AddGroupBuyShop',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    groupbuyshop:{
        type:Object,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  data() {
    //驗證是否為數字判斷
    let reg_is_number = /^[0-9\s]*$/
    //驗證商品原價不能小於商品特價
    var validateprice = (rule, price, callback) => {
        console.log(this.groupbuyshop_1.price)
        console.log(price)
        console.log(parseInt(price)>parseInt(this.groupbuyshop_1.sellingprice))
        // if (!reg_is_number.test(price)) {
        //     callback(new Error('商品原價必須為數字'))
        // }
        if (parseInt(price)<parseInt(this.groupbuyshop_1.sellingprice)) {
            callback(new Error('商品原價不能小於商品特價'))
        } else {
            callback()
        }
    }
    //驗證商品特價不能大於商品原價
    var validatesellingprice = (rule, sellingprice, callback) => {
        console.log(this.groupbuyshop_1.price)
        console.log(sellingprice)
        console.log(parseInt(sellingprice)>parseInt(this.groupbuyshop_1.price))
        // if (!reg_is_number.test(sellingprice)) {
        //     callback(new Error('商品特價必須為數字'))
        // }
        if (parseInt(sellingprice)>parseInt(this.groupbuyshop_1.price)) {
            callback(new Error('商品特價不能大於商品原價'))
        } else {
            callback()
        }
    }
    return {
      ShopRules: {
          title:[{ required: true,message: '商品名稱為必填欄位' }],
          shop_category_id:[{ required: true,message: '商品分類為必填欄位' }],
          productword:[
            { required: true,message: '商品單位為必填欄位' }
          ],
          // description:[{required:true}],
          price:[
            { required: true,message: '商品原價為必填欄位' },
            // { required: true,message: '商品原價必須為數字', pattern:/^[0-9\s]*$/ },
            { validator: validateprice }
          ],
          sellingprice:[
            // { required: true,message: '商品特價為必填欄位' },
            // { required: true,message: '商品特價必須為數字', pattern:/^[0-9\s]*$/ },
            { validator: validatesellingprice }
          ],
          pay_way:[{type:'array',required : true,message: '商品可付款方式為必填欄位'}],
          option:[
            { required: true,message: '商品折抵數量為必填欄位' },
            { required: true,message: '商品折抵數量必須為數字', pattern:/^[0-9\s]*$/ },
          ],
          limit_product:[
            { required: true,message: '限制商品購買數量開關為必填欄位' }
          ],
          limit_product_amount:[
            { required: true,message: '限制商品單項購買數量為必填欄位' },
            { required: true,message: '限制商品單項購買數量必須為數字', pattern:/^[0-9\s]*$/ },
          ],
          limit_total_product:[
            { required: true,message: '限制商品總購買數量開關為必填欄位' }
          ],
          limit_total_product_amount:[
            { required: true,message: '限制商品總購買數量為必填欄位' },
            { required: true,message: '限制商品總購買數量必須為數字', pattern:/^[0-9\s]*$/ },
          ],
          product_vip:[
            { required: true,message: '商品是否為vip為必填欄位' },
          ],
          product_preview:[
            { required: true,message: '商品是否審核為必填欄位' },
          ],
          // price:[{required:true}]
      },
      loading:false,
      // 圖片網址位置
      upload_path: '',
      //原始照片
      origin_image:'',
      //預覽照片
      show_upload_image_preview:'',
      specorder:0,
      //呈現所有複製的商品
      GroupBuyShop:[],
      ChangeGroupBuyShop:{},
      ////呈現所有篩選的商品
      GroupBuyShopFilter:[],
      //得知聊天機器人基本資料
      LinebotInfo: [],
      copy_product_id:'',
      groupbuyshop_1:{},
      payloadshop:'',
      //開團商品資訊
      checkgroupbuyshopswitch:false,
      //開團商品正確與錯誤訊息
      checkgroupbuyshopmessage:'',
      //開團商品錯誤訊息內文
      checkgroupbuyshoptitle:'',
    //   order_mid_loading:false,
    //   shopLoading:false,
    //   shop:[]
    }
  },
  computed: {
    ...mapGetters([
      'shopcategorylist'
    ])
  },
    watch: {
      dialogType:{
        handler: async function(val, oldVal) {
        if(this.dialogType=='edit'){
            this.origin_image = this.groupbuyshop.image
        }
        else{
            this.origin_image = ''
        }
        await this.init_all_groupbuyshop()
      },
      immediate: true
      },
      //票卷類型，設定票卷類型為非【一般性票卷】折抵數量預設為0
      "groupbuyshop_1.kind":{
      handler: function(val, oldVal) {
        if(val!=0){
          this.groupbuyshop_1.option = 0
        }
      },
      immediate: true
      },
      //限制商品購買數量開關，關閉將商品限制數量恢復為預設
      "groupbuyshop_1.limit_product":{
      handler: function(val, oldVal) {
        if(val==0){
          this.groupbuyshop_1.limit_product_amount = 0
        }
      },
      immediate: true
      },
      //限制商品總購買數量開關，關閉將商品限制數量恢復為預設
      "groupbuyshop_1.limit_total_product":{
      handler: function(val, oldVal) {
        if(val==0){
          this.groupbuyshop_1.limit_total_product_amount = 0
        }
      },
      immediate: true
      }
  },
  created() {
        // 圖片網址位置
        this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
        // 得知所有的商品管理分類
        this.getShopCategory('all')
  },
  methods: {
    async getShopCategory(page) {
      await this.$store.dispatch('shop/getShopCategory',page)
    },
    //關閉選單
    closeAddShop(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    this.groupbuyshop_1.image = this.origin_image

    this.show_upload_image_preview = null
    this.$emit('getShop_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    // 更新與新增團購商品
    confirmShop(groupbuyshop) {
      this.$refs[groupbuyshop].validate(valid => {
        if (valid) {
          this.loading = true
          const GroupBuyshopFormData = new FormData()
          GroupBuyshopFormData.append('partner_id',this.groupbuyshop_1.partner_id)
          GroupBuyshopFormData.append('shop_category_id',this.groupbuyshop_1.shop_category_id)
          GroupBuyshopFormData.append('title',this.groupbuyshop_1.title)
          GroupBuyshopFormData.append('productword',this.groupbuyshop_1.productword)
          GroupBuyshopFormData.append('description',this.groupbuyshop_1.description)
          GroupBuyshopFormData.append('sellingprice',this.groupbuyshop_1.sellingprice==null?'':this.groupbuyshop_1.sellingprice)
          GroupBuyshopFormData.append('price',this.groupbuyshop_1.price)
          GroupBuyshopFormData.append('on_sale',this.groupbuyshop_1.on_sale)
          GroupBuyshopFormData.append('pay_way',this.groupbuyshop_1.pay_way)
          //判斷有沒有商品品名列表，沒有：商品價錢與特價自動為預設
          // if(this.groupbuyshop_1.specs.length!=0){
          //   this.groupbuyshop_1.sellingprice = null
          //   this.groupbuyshop_1.price = null
          //   this.groupbuyshop_1.on_sale = null
          //   GroupBuyshopFormData.append('sellingprice',this.groupbuyshop_1.sellingprice)
          //   GroupBuyshopFormData.append('price',this.groupbuyshop_1.price)
          //   GroupBuyshopFormData.append('on_sale',this.groupbuyshop_1.on_sale)
          // }
          //判斷有沒有商品品名列表，有：商品價錢與特價自動為設定價錢
          // if(this.groupbuyshop_1.specs.length==0){
          //   GroupBuyshopFormData.append('sellingprice',this.groupbuyshop_1.sellingprice)
          //   GroupBuyshopFormData.append('price',this.groupbuyshop_1.price)
          //   GroupBuyshopFormData.append('on_sale',this.groupbuyshop_1.on_sale)
          // }
          // GroupBuyshopFormData.append('specs',JSON.stringify(this.groupbuyshop_1.specs))
          GroupBuyshopFormData.append('disable',this.groupbuyshop_1.disable)
          GroupBuyshopFormData.append('type',this.groupbuyshop_1.type)
          GroupBuyshopFormData.append('option',this.groupbuyshop_1.option)
          GroupBuyshopFormData.append('kind',this.groupbuyshop_1.kind)
          GroupBuyshopFormData.append('limit_product',this.groupbuyshop_1.limit_product)
          GroupBuyshopFormData.append('limit_product_amount',this.groupbuyshop_1.limit_product_amount)
          GroupBuyshopFormData.append('limit_total_product',this.groupbuyshop_1.limit_total_product)
          GroupBuyshopFormData.append('limit_total_product_amount',this.groupbuyshop_1.limit_total_product_amount)
          GroupBuyshopFormData.append('product_vip',this.groupbuyshop_1.product_vip)
          GroupBuyshopFormData.append('product_preview',this.groupbuyshop_1.product_preview)
          if(this.dialogType=='new'){
            // console.log(this.groupbuyshop_1.image!=null||this.groupbuyshop_1.image!="")
            if(this.groupbuyshop_1.image==null||this.groupbuyshop_1.image==""){
              console.log("無圖片")
            }
            else{
              console.log("有圖片")
              if(this.groupbuyshop_1.image.raw!=undefined){
                console.log("有圖片")
                GroupBuyshopFormData.append('image',this.groupbuyshop_1.image.raw)
              }
            }
            insertgroupbuyshop(GroupBuyshopFormData)
              .then((resp) => {
                  if(resp.success==true){
                      this.checkgroupbuyshopswitch = true
                      this.checkgroupbuyshoptitle = ''
                      this.checkgroupbuyshopmessage = resp.success
                      //更新資料進入外層的開團商品
                      this.$emit('getGroupBuyShop')
                      //判斷是否為新增或修改
                      this.$nextTick(() => {
                        // this.$refs[groupbuyshop].resetFields()
                        this.groupbuyshop_1.title = '',
                        this.groupbuyshop_1.shop_category_id = ''
                        this.groupbuyshop_1.productword = '',
                        this.groupbuyshop_1.description = '',
                        this.groupbuyshop_1.image = '',
                        this.groupbuyshop_1.sellingprice = null,
                        this.groupbuyshop_1.price = null,
                        this.groupbuyshop_1.pay_way = [],
                        // this.groupbuyshop_1.specs = [],
                        this.groupbuyshop_1.on_sale = 1,
                        this.groupbuyshop_1.disable = 0
                        this.groupbuyshop_1.type = 0
                        this.groupbuyshop_1.option = 0
                        this.groupbuyshop_1.kind = 0
                        this.groupbuyshop_1.limit_product = 0
                        this.groupbuyshop_1.limit_product_amount = 0
                        this.groupbuyshop_1.limit_total_product = 0
                        this.groupbuyshop_1.limit_total_product_amount = 0
                        this.groupbuyshop_1.product_vip = 0
                        this.groupbuyshop_1.product_preview = 0
                        this.copy_product_id = ''
                        this.init_all_groupbuyshop()
                      })
                      //預覽圖片回復預設值
                      this.$refs.image.clearFiles()
                      this.show_upload_image_preview = null
                  }
                  if(resp.success==false){
                      this.checkgroupbuyshopswitch = true
                      this.checkgroupbuyshoptitle = resp.data
                      this.checkgroupbuyshopmessage = resp.success
                  }
                  this.loading = false
              })
              .catch(() => {
                this.loading = false
                return false
              })
          }
          if(this.dialogType=='edit'){
            if(this.groupbuyshop_1.image!=null){
              if(this.groupbuyshop_1.image.raw!=null){
                GroupBuyshopFormData.append('image',this.groupbuyshop_1.image.raw)
              }
              else{
                GroupBuyshopFormData.append('image',this.groupbuyshop_1.image)
              }
            }
            editgroupbuyshop(this.groupbuyshop_1.id,GroupBuyshopFormData)
              .then((resp) => {
                  if(this.dialogType=='edit'){
                      if(this.groupbuyshop_1.image!=null){
                          if(this.groupbuyshop_1.image.raw!=null){
                              this.origin_image = '/groupbuy/'+this.groupbuyshop_1.image.name
                          }
                          else{
                              this.origin_image = this.groupbuyshop_1.image
                          }
                      }
                  }
                  if(resp.success==true){
                      this.checkgroupbuyshopswitch = true
                      this.checkgroupbuyshoptitle = ''
                      this.checkgroupbuyshopmessage = resp.success
                  }
                  if(resp.success==false){
                      this.checkgroupbuyshopswitch = true
                      this.checkgroupbuyshoptitle = resp.data
                      this.checkgroupbuyshopmessage = resp.success
                  }
                  //更新資料進入外層的商品
                  this.$emit('getGroupBuyShop')
                  //預覽圖片回復預設值
                  this.$refs.image.clearFiles()
                  this.show_upload_image_preview = null
                  this.loading = false
              })
              .catch(() => {
                this.loading = false
                return false
              })
          }
        }
        else {
          console.log('有資料未填寫!!')
          this.$message.error('請確認資料是否填寫無誤');
          return false
        }
      })
    },
    //刪除原始照片
    async recover_groupbuyshop(){
        var _self = this
        _self.$confirm('是否恢復<span style="font-size:20px; color:red;">「預設原始照片」</span>？', '恢復預原始照片狀態', {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          dangerouslyUseHTMLString:true,
          type: 'warning'
        }).then(async() => {
            _self.GroupBuyGroupList = []
            _self.payloadshop = {
              'partner_id': _self.groupbuyshop_1.partner_id,
              'id': _self.groupbuyshop_1.id,
            }
            // _self.groupbuyshop = Object.assign({}, defaultShop)
            await delGroupBuyShopImage(_self.payloadshop).then(resp => {
              if(resp.success==true){
                _self.groupbuyshop_1.image = null
                _self.origin_image = ''
                //更新資料進入外層的商品
                _self.$emit('getGroupBuyShop')
              }
              _self.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
              })
            })
          })
          .catch(action => {
            if(action=='cancel'){
              _self.$message.info('取消恢復預設原始照片')
            }
          })
    },
    //新增商品品名
    insertgroupbuyshopspec(){
      if(this.dialogType=='new'){
        this.groupbuyshop_1.specs.push(
          {"product_spec_name": null, "product_spec_price": null,"product_spec_sellingprice": null, "product_spec_order": this.specorder,"on_sale": 1 }
        )
        this.specorder++
      }
      else{
        this.groupbuyshop_1.specs.push(
          {"id":null,"product_spec_name": null, "product_spec_price": null,"product_spec_sellingprice": null, "product_spec_order": this.specorder,"on_sale": 1 }
        )
        this.specorder++
      }
    },
    //刪除商品品名
    removegroupbuyshopspec(index){
      this.groupbuyshop_1.specs.splice(index,1)
    },
    before_upload_image_upload(file) {
        const isJPG = file.raw.type.toLowerCase() === 'image/jpeg'||'image/png';
        const isLt1M = file.size / 1024 / 1024 < 1;
        if (!isLt1M) {
          this.$message.error('上傳圖片檔案不超過1MB!!');
        //   this.$refs.
        return isLt1M;
        }
        else if(!isJPG) {
          this.$message.error('上傳格式不正確!!');
          return isJPG;
        }
        const issize = new Promise((resolve,reject)=>{
            let reader = new FileReader()
            reader.readAsDataURL(file.raw);
            let URL = window.URL || window.webkitURL;
            console.log("file",file)
            let image = new Image()
            image.onload = function(){
                console.log("image.width",image.width)
                console.log("image.height",image.height)
                console.log("image.width/image.height",image.width/image.height)
                // if((image.width<800||image.width>2500)){
                //     // this.$message.error('上傳寬度須介於800px到2500px之間');
                //     reject('上傳寬度須介於800px到2500px之間')
                // }
                // if((image.height<250||image.height>1700)){
                //     // this.$message.error('上傳高度須介於250px到720px之間');
                //     reject('上傳高度須介於250px到1700px之間')
                // }
                // if((image.width/image.height)<1.45){
                //     // this.$message.error('上傳比例須大於1.45以上');
                //     reject('上傳比例須大於1.45以上')
                // }
                resolve()
            }
            this.groupbuyshop_1.image = file
            this.show_upload_image_preview = URL.createObjectURL(file.raw);
            image.src = this.show_upload_image_preview
        }).then(()=>{
            // 預覽圖片
            return isLt1M&isJPG&issize;
        },
        (error)=>{
            console.log("error",error)
            this.$message.error(error)
            this.groupbuyshop_1.image = ""
            this.show_upload_image_preview = null
            this.$refs.image.clearFiles()
            return Promise.reject()
        })
    },
    // 取消上傳圖片
    reset_upload_image_upload(){
      this.groupbuyshop_1.image = this.origin_image
      this.show_upload_image_preview = null
    },
    //預設所有選單商品
    async init_all_groupbuyshop(){
      var payload = 'all?partner_id='+this.groupbuyshop.partner_id
      this.groupbuyshop_1.partner_id = this.groupbuyshop.partner_id
      console.log("payload test",payload)
      // this.groupbuyshop = Object.assign({}, defaultShop)
      await getGroupBuyShop(payload).then(resp => {
        if(resp.success==true){
            this.GroupBuyShop = resp.data
            //合併相同的分類產品份入同一類
            this.group_combo_same_GroupBuyShop()
        }
      })
      //判斷商品付款方式是修改要切割字串
      if(this.dialogType=='edit'){
        // alert(this.groupbuyshop)
        this.groupbuyshop.pay_way = this.groupbuyshop.pay_way.split(',')
      }
      this.groupbuyshop_1 = this.groupbuyshop
      await this.getlinebotinfo()
    },
    //合併相同的分類產品份入同一類
    async group_combo_same_GroupBuyShop(){
      this.ChangeGroupBuyShop = this.GroupBuyShop.list.reduce((acc, cur) => {
          const shop_big_category = cur.shop_category[0]['shop_big_category']+'>'+cur.shop_category[0]['shop_small_category']
          if (!acc[shop_big_category]) {
              acc[shop_big_category] = [];
          }
          acc[shop_big_category].push(cur);
          return acc;
      }, {});
    },
    //設定篩選選單商品
    set_copy_groupbuyshop(){
      var payload = 'all?partner_id='+this.groupbuyshop_1.partner_id+'&id='+this.copy_product_id
      console.log("payload test",payload)
      // this.groupbuyshop = Object.assign({}, defaultShop)
      getGroupBuyShop(payload).then(resp => {
        if(resp.success==true){
            this.GroupBuyShopFilter = resp.data
            console.log(this.GroupBuyShopFilter)
            this.GroupBuyShopFilter.list.forEach((element)=>{
              //判斷商品付款方式是修改要切割字串
              element.pay_way = element.pay_way.split(',')
              this.groupbuyshop_1 = element
              delete this.groupbuyshop_1.id
              delete this.groupbuyshop_1.created_at
              delete this.groupbuyshop_1.updated_at
            })
        }
      })
    },
    //關閉新增商品dialog
    async closeshopdialog(){
      console.log(this.groupbuyshop)
      this.checkgroupbuyshopswitch=false
      await this.closeAddShop()
    },
    //得知聊天機器人基本資料
    async getlinebotinfo(){
      var payload = {
          'partner_id':this.groupbuyshop_1.partner_id
      }
      await getLineBotInfo(payload).then(resp => {
            if(resp.data=="查詢成功"){
              this.LinebotInfo = resp.message[0]
            }
      })
    }
  }
}
</script>