<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新團購發票':'新增團購發票'"
    :before-close="closeAddReception" center fullscreen
    append-to-body
    >
        <!-- {{groupbuyreception}} -->
        <!-- {{GroupBuyOrderList.list}} -->
        <!-- {{GroupBuyOrderSingleList}} -->
      <el-form :rules="ReceptionRules" status-icon ref="groupbuyreception" :model="groupbuyreception" label-position="right">
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="自訂編號" prop="ecpay_payload.RelateNumber">
                <div style="color:red;">
                    ＊為避免重複開立發票，自訂編號不能重複
                </div>
                <el-select
                v-model="groupbuyreception.ecpay_payload.RelateNumber"
                placeholder="請選擇自訂編號"
                filterable
                default-first-option
                @change="chosen_order"
                style="margin:auto 10px; width:260px;"
                >
                <el-option
                    v-for="item in GroupBuyOrderList.list"
                    :key="item.order_sn"
                    :label="item.order_sn+'('+item.real_name+')'"
                    :value="item.order_sn"
                />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="字軌類型" prop="ecpay_payload.InvType">
                <br/>
                <el-select
                v-model="groupbuyreception.ecpay_payload.InvType"
                placeholder="請選擇字軌類型"
                filterable
                default-first-option
                style="margin:auto 10px;"
                >
                    <el-option label="一般稅額" value="07">一般稅額</el-option>
                    <el-option label="特種稅額" value="08">特種稅額</el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="8">
              <el-form-item label="客戶編號" prop="ecpay_payload.CustomerID">
                  <el-input ref="客戶編號" v-model="groupbuyreception.ecpay_payload.CustomerID"
                  name="CustomerID" placeholder="請輸入客戶編號"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="10" :lg="10" :xl="6">
              <el-form-item label="統一編號" prop="ecpay_payload.CustomerIdentifier">
                <el-alert
                :title="show_company_name_message"
                type="success"
                style="margin:3px 0; font-size:20px;"
                show-icon
                v-if="show_company_name_message!=''"
                >
                </el-alert>
                  <el-input ref="統一編號" v-model="groupbuyreception.ecpay_payload.CustomerIdentifier"
                  name="ecpay_payload.CustomerIdentifier" placeholder="請輸入統一編號"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="2" :lg="2" :xl="2" :offset=".5">
                <el-button type="info" :disabled="groupbuyreception.ecpay_payload.CustomerIdentifier!=''?false:true" @click="checkCustomerIdentifier">統編<br/>確認</el-button>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="8">
              <el-form-item label="客戶名稱" prop="ecpay_payload.CustomerName">
                  <el-input ref="客戶名稱" v-model="groupbuyreception.ecpay_payload.CustomerName"
                  name="ecpay_payload.CustomerName" placeholder="請輸入客戶名稱"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="8">
              <el-form-item label="客戶地址" prop="ecpay_payload.CustomerAddr">
                  <el-input ref="客戶地址" v-model="groupbuyreception.ecpay_payload.CustomerAddr"
                  name="ecpay_payload.CustomerAddr" placeholder="請輸入客戶地址"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="8">
              <el-form-item label="客戶電話" prop="ecpay_payload.CustomerPhone">
                  <el-input ref="客戶電話" v-model="groupbuyreception.ecpay_payload.CustomerPhone"
                  name="ecpay_payload.CustomerPhone" placeholder="請輸入客戶電話"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="8">
              <el-form-item label="客戶信箱" prop="ecpay_payload.CustomerEmail">
                  <el-input ref="客戶信箱" v-model="groupbuyreception.ecpay_payload.CustomerEmail"
                  name="ecpay_payload.CustomerEmail" placeholder="請輸入客戶信箱"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-table v-loading="GroupBuyProductListLoading" :data="groupbuyreception.ecpay_payload.Items" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
                <el-table-column align="center" label="No.">
                    <template slot-scope="scope">
                        {{scope.row.ItemSeq }}
                    </template>
                </el-table-column>
                <el-table-column align="center" label="商品名稱">
                    <template slot-scope="scope">
                        <el-tag style="margin:10px 0;">
                        {{ scope.row.ItemName }}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column align="center" label="數量">
                    <template slot-scope="scope">
                        <el-tag style="margin:10px 0;">
                        {{ scope.row.ItemCount }}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column align="center" label="單位">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.ItemWord"
                        placeholder="請輸入單位"
                        autocomplete="off" />
                    </template>
                </el-table-column>
                <el-table-column align="center" label="單價">
                    <template slot-scope="scope">
                        <el-tag style="margin:10px 0;">
                        {{ scope.row.ItemPrice }}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column align="center" label="合計">
                    <template slot-scope="scope">
                        <el-tag style="margin:10px 0;">
                        {{ scope.row.ItemAmount }}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column align="center" label="備註">
                    <template slot-scope="scope">
                        <el-input ref="商品備註" v-model="scope.row.ItemRemark"
                        type="textarea"
                        placeholder="請輸入商品備註"
                        autocomplete="off" />
                    </template>
                </el-table-column>
                </el-table>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="課稅類別" prop="ecpay_payload.TaxType">
                <br/>
                <el-select
                v-model="groupbuyreception.ecpay_payload.TaxType"
                placeholder="請選擇課稅類別"
                filterable
                default-first-option
                style="margin:auto 10px;"
                >
                    <el-option label="應稅" value="1">應稅</el-option>
                    <el-option label="零稅率" value="2">零稅率</el-option>
                    <el-option label="免稅率" value="3">免稅率</el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="發票總金額(含稅)" prop="ecpay_payload.SalesAmount">
                  <el-input ref="發票總金額(含稅)" v-model="groupbuyreception.ecpay_payload.SalesAmount"
                  name="SalesAmount" placeholder="請輸入發票總金額(含稅)"
                  autocomplete="off" disabled />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="載具類別" prop="ecpay_payload.CarrierType">
                <br/>
                <el-select
                v-model="groupbuyreception.ecpay_payload.CarrierType"
                placeholder="請選擇載具類別"
                filterable
                default-first-option
                @change="chosen_CarrierType"
                style="margin:auto 10px;"
                >
                    <el-option label="不使用載具" value="">不使用載具</el-option>
                    <el-option label="綠界電子發票載具" value="1" v-if="groupbuyreception.ecpay_payload.CustomerIdentifier==''">綠界電子發票載具</el-option>
                    <el-option label="自然人憑證號碼" value="2" v-if="groupbuyreception.ecpay_payload.CustomerIdentifier==''">自然人憑證號碼</el-option>
                    <el-option label="手機條碼載具" value="3" v-if="groupbuyreception.ecpay_payload.CustomerIdentifier==''">手機條碼載具</el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="groupbuyreception.ecpay_payload.CarrierType=='2'||groupbuyreception.ecpay_payload.CarrierType=='3'">
              <el-form-item label="載具編號" prop="ecpay_payload.CarrierNum">
                <br/>
                  <el-input ref="載具編號" v-model="groupbuyreception.ecpay_payload.CarrierNum"
                  name="ecpay_payload.CarrierNum" placeholder="請輸入載具編號"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="4" :lg="4" :xl="4" v-if="groupbuyreception.ecpay_payload.CarrierType=='3'">
                <el-button type="info" :disabled="groupbuyreception.ecpay_payload.CarrierNum!=''?false:true" @click="checkCarrierNum">手機條碼<br/>確認</el-button>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="是否列印發票" prop="ecpay_payload.CarrierNum">
                <br/>
                <el-select
                v-model="groupbuyreception.ecpay_payload.Print"
                placeholder="請選擇列印發票"
                filterable
                default-first-option
                style="margin:auto 10px;"
                >
                    <el-option label="不列印" value="0" v-if="groupbuyreception.ecpay_payload.CarrierType=='1'||groupbuyreception.ecpay_payload.CarrierType=='2'||groupbuyreception.ecpay_payload.CarrierType=='3'">不列印</el-option>
                    <el-option label="列印" value="1" v-if="groupbuyreception.ecpay_payload.CarrierType==''">列印</el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
              <el-form-item label="發票備註" prop="ecpay_payload.InvoiceRemark">
                <br/>
                  <el-input ref="發票備註" v-model="groupbuyreception.ecpay_payload.InvoiceRemark"
                  type="textarea"
                  name="ecpay_payload.InvoiceRemark" placeholder="請輸入發票備註"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddReception">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmReception('groupbuyreception')">開立發票</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 400px;
    height: 400px;
    display: block;
  }
</style>
<script>
// import { getGroupBuyShop,insertgroupbuyorder,editgroupbuyorder,getGroupBuySingleShop,getGroupBuyGroup } from '@/api/groupbuy_manager'
import { getGroupBuyOrder,checkCustomerIdentifier,checkCarrierNum,insertgroupbuyreception } from '@/api/groupbuy_manager'
export default {
name: 'AddGroupBuyReception',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    groupbuyreception:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      ReceptionRules: {
        "ecpay_payload.RelateNumber":[{required:true}],
        "ecpay_payload.InvType":[{required:true}],
        "ecpay_payload.SalesAmount":[{required:true}],
        "ecpay_payload.CustomerName":[{required:true}],
        "ecpay_payload.CustomerAddr":[{required:true}],
        // "ecpay_payload.CustomerPhone":[{required:true}],
        "ecpay_payload.CustomerEmail":[{required:true}]
      },
      //下拉式選擇全部訂單資料
      GroupBuyOrderList: [],
      //下拉式選擇單一訂單資料
      GroupBuyOrderSingleList:[],
      GroupBuyProductList:[],
      show_company_name_message:'',
      loading:false,
      GroupBuyProductListLoading:false
    }
  },
    watch: {
      dialogType:{
        handler: function(val, oldVal) {
            //得知所有訂單列表
            this.getgroupbuyorder('all','?partner_id='+this.groupbuyreception.partner_id)
      },
      immediate: true
      },
  },
  methods: {
    //關閉選單
    closeAddReception(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    this.$emit('getReception_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    //得知所有訂單列表
    async getgroupbuyorder(page,query){
      this.GroupBuyOrderList = []
      var payload = ''
      payload = page + query
      // this.payload = '1?partner_id=' + this.partner
      await getGroupBuyOrder(payload).then(resp => {
        console.log("resp",resp)
        if(resp.success==true){
            this.GroupBuyOrderList = resp.data
        }
      })
    },
    //選擇自訂編號
    chosen_order(){
      this.GroupBuyOrderSingleList = []
      this.GroupBuyProductList = []
      this.groupbuyreception.ecpay_payload.Items = []
      var payload = ''
      payload = '1?partner_id='+this.groupbuyreception.partner_id+'&order_sn='+this.groupbuyreception.ecpay_payload.RelateNumber
      getGroupBuyOrder(payload).then(resp => {
        console.log("resp",resp)
        if(resp.success==true){
            this.GroupBuyOrderSingleList = resp.data.list[0]
            this.groupbuyreception.ecpay_payload.CustomerName = this.GroupBuyOrderSingleList.real_name
            this.groupbuyreception.ecpay_payload.CustomerAddr = this.GroupBuyOrderSingleList.address
            this.groupbuyreception.ecpay_payload.CustomerPhone = this.GroupBuyOrderSingleList.mobile
            this.groupbuyreception.ecpay_payload.CustomerEmail = this.GroupBuyOrderSingleList.mail_address
            this.groupbuyreception.ecpay_payload.SalesAmount = this.GroupBuyOrderSingleList.total
            this.GroupBuyProductListLoading = true
            this.GroupBuyOrderSingleList.items.forEach((element,index) => {
                index++
                this.groupbuyreception.ecpay_payload.Items.push({
                    "ItemSeq":index,
                    "ItemName":element.groupbuy_shop_name,
                    "ItemCount":element.qty,
                    "ItemWord":element.groupbuy_shop_productword,
                    "ItemPrice":element.price,
                    "ItemTaxType":"1",
                    "ItemAmount":element.subtotal,
                    "ItemRemark":""
                })
            });
            this.GroupBuyProductListLoading = false
        }
      })
    },
    //檢查統一編號
    checkCustomerIdentifier(){
      var payload = {
        "CustomerIdentifier":''
      }
      payload['CustomerIdentifier'] = this.groupbuyreception.ecpay_payload.CustomerIdentifier
      // this.payload = '1?partner_id=' + this.partner
      checkCustomerIdentifier(payload).then(resp => {
        console.log("resp",resp)
         this.$message({
            message: resp.message,
            type: resp.success==true ? 'success':'error'
         })
         if(resp.success==true){
            this.show_company_name_message = resp.data
         }
         else{
            this.show_company_name_message = ''
         }
      })
    },
    //檢查手機條碼
    checkCarrierNum(){
      var payload = {
        "partner_id":this.groupbuyreception.partner_id,
        "ecpay_payload":{
            "MerchantID": this.groupbuyreception.ecpay_payload.MerchantID,
            "BarCode": this.groupbuyreception.ecpay_payload.CarrierNum
        }
      }
      // this.payload = '1?partner_id=' + this.partner
      checkCarrierNum(payload).then(resp => {
        console.log("resp",resp)
         this.$message({
            message: resp.message,
            type: resp.success==true ? 'success':'error'
         })
      })
    },
    //選擇載具類別
    chosen_CarrierType(){
        //選擇不使用載具類別
        if(this.groupbuyreception.ecpay_payload.CarrierType==''){
            //選擇列印
            this.groupbuyreception.ecpay_payload.Print = '1'
        }
        //選擇綠界科技電子發票載具
        if(this.groupbuyreception.ecpay_payload.CarrierType=='1'){
            //選擇不列印
            this.groupbuyreception.ecpay_payload.Print = '0'
        }
        //選擇自然人憑證
        if(this.groupbuyreception.ecpay_payload.CarrierType=='2'){
            //選擇不列印
            this.groupbuyreception.ecpay_payload.Print = '0'
        }
        //選擇自然人憑證
        if(this.groupbuyreception.ecpay_payload.CarrierType=='3'){
            //選擇不列印
            this.groupbuyreception.ecpay_payload.Print = '0'
        }
    },
    //確認開立發票
    confirmReception(groupbuyreception){
        this.$confirm('<span style="font-size:20px;">是否確定開立發票，請檢查「<span style="color:red;text-decoration:underline;">輸入資訊</span>」是否輸入無誤？</span>', '確認開立發票', {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          dangerouslyUseHTMLString:true,
          type: 'warning'
        }).then(async() => {
            this.$refs[groupbuyreception].validate(valid => {
                if (valid) {
                this.loading = true
                if(this.dialogType=='new'){
                    insertgroupbuyreception(this.groupbuyreception)
                    .then((resp) => {
                        this.$message({
                        message: resp.message,
                        type: resp.success==true ? 'success':'error'
                        })
                        //更新資料進入外層的團購發票
                        this.$emit('getGroupBuyReception')
                        //判斷是否為新增或修改
                        this.$nextTick(() => {
                            // this.$refs[groupbuyshop].resetFields()
                            this.groupbuyreception.ecpay_payload.RelateNumber = '',
                            this.groupbuyreception.ecpay_payload.CustomerIdentifier = '',
                            this.groupbuyreception.ecpay_payload.CustomerID = '',
                            this.groupbuyreception.ecpay_payload.CustomerName = '',
                            this.groupbuyreception.ecpay_payload.CustomerAddr = '',
                            this.groupbuyreception.ecpay_payload.CustomerPhone = '',
                            this.groupbuyreception.ecpay_payload.CustomerEmail = '',
                            this.groupbuyreception.ecpay_payload.ClearanceMark = '1',
                            this.groupbuyreception.ecpay_payload.Print = '0',
                            this.groupbuyreception.ecpay_payload.Donation = '0',
                            this.groupbuyreception.ecpay_payload.LoveCode = '',
                            this.groupbuyreception.ecpay_payload.CarrierType = '1',
                            this.groupbuyreception.ecpay_payload.CarrierNum = '',
                            this.groupbuyreception.ecpay_payload.TaxType = '1',
                            this.groupbuyreception.ecpay_payload.SalesAmount = 0,
                            this.groupbuyreception.ecpay_payload.InvoiceRemark = '',
                            this.groupbuyreception.ecpay_payload.InvType = '07',
                            this.groupbuyreception.ecpay_payload.vat = '1',
                            this.groupbuyreception.ecpay_payload.SpecialTaxType = '0',
                            this.groupbuyreception.ecpay_payload.Items = [];
                        });
                        this.loading = false
                    })
                    .catch(() => {
                        this.loading = false
                        return false
                    })
                }
                }
                else {
                console.log('有資料未填寫!!')
                return false
                }
            })
        })
    }

  }
}
</script>