<template>
    <div>
    <el-dialog :visible="dialogMemberVisible" :title="dialogMemberType==='new'?'新增會員':'修改會員'"
    :before-close="closeAddMember" center
    append-to-body
    width="80%"
    >
    <!-- {{groupbuymember}} -->
    <!-- {{dialogMemberType}} -->
    <!-- {{groupbuymember}}
    {{dialogMemberType}}
    {{groupbuymember.reception_kind}} -->
    <!-- {{groupbuymember}}
    {{LinebotInfo.pay_premission}} -->
    <!-- {{LinebotInfo}} -->
    <!-- {{groupbuymember}} -->
      <el-form :rules="MemberRules" status-icon ref="groupbuymember" :model="groupbuymember" label-position="right">
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="姓名" prop="real_name">
                  <el-input ref="real_name" v-model="groupbuymember.real_name"
                  placeholder="請輸入姓名"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="手機" prop="mobile">
                  <el-input ref="mobile" v-model="groupbuymember.mobile"
                  name="mobile" placeholder="請輸入手機"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
              <el-form-item label="信箱" prop="email">
                  <el-input ref="email" v-model="groupbuymember.email"
                  name="email" placeholder="請輸入信箱"
                  autocomplete="off"
                   />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
              <el-form-item label="性別" prop="sex">
                <br/>
                <el-select
                v-model="groupbuymember.sex"
                name="sex"
                placeholder="請輸入性別"
                filterable
                default-first-option
                style="margin:auto 10px;"
                >
                    <el-option label="男" value="1">男</el-option>
                    <el-option label="女" value="2">女</el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
              <el-form-item label="生日" prop="birthday">
                <br/>
                 <el-date-picker v-model="groupbuymember.birthday" type="date" 
                 ref="birthday" name="birthday" placeholder="請輸入生日"
                 value-format="yyyy-MM-dd"
                 ></el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
              <el-form-item label="會員vip" prop="vip">
                <br/>
                <el-select
                v-model="groupbuymember.vip"
                name="sex"
                placeholder="請選擇是否為vip"
                filterable
                default-first-option
                style="margin:auto 10px;"
                >
                    <el-option label="否" value="0">否</el-option>
                    <el-option label="是" value="1">是</el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
              <el-form-item label="會員註冊來源" prop="source">
                <br/>
                <el-select
                v-model="groupbuymember.source"
                name="source"
                placeholder="請輸入會員註冊來源"
                filterable
                default-first-option
                style="margin:auto 10px;"
                >
                    <el-option label="line" value="1">line</el-option>
                    <el-option label="後台" value="2">後台</el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="會員標籤">
                    <br/>
                    <el-select
                        v-model="groupbuymember.member_tag"
                        name="member_tag"
                        filterable
                        allow-create
                        multiple
                        clearable
                        placeholder="會員標籤"
                        ref="member_tag"
                        style="width:80%"
                        >
                      <el-option
                          v-for="item,index in membertag_List.list"
                          :key="index"
                          :label="item.member_2_tag"
                          :value="item.member_2_tag"
                          >
                      </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
              <el-form-item label="地址" prop="address">
                  <el-input ref="address" v-model="groupbuymember.address"
                  name="address" placeholder="請輸入地址"
                  autocomplete="off"
                   />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
              <el-form-item label="會員備註" prop="note">
                  <el-input ref="note" v-model="groupbuymember.note"
                  name="note" placeholder="會員備註"
                  :autosize="{ minRows: 3, maxRows: 5}"
                  type="textarea"
                  autocomplete="off"
                   />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-if="LinebotInfo.check_coupon_premission==1">
             <el-divider content-position="center">個人身體及健康概述</el-divider>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="12" :xl="12" v-if="LinebotInfo.check_coupon_premission==1">
              <el-form-item label="健康狀況" prop="health">
                    <el-select
                    v-model="groupbuymember.health"
                    placeholder="請選擇健康狀況"
                    filterable
                    default-first-option
                    style="margin:auto 10px;"
                    >
                    <!-- <el-option label="111" value="111"></el-option> -->
                    <el-option label="良好/Good" value="0"></el-option>
                    <el-option label="其他,請於下題描述" value="1"></el-option>
                    </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="12" :xl="12" v-if="LinebotInfo.check_coupon_premission==1">
              <el-form-item label="健康描述" prop="state_of_health">
                  <el-input ref="state_of_health" v-model="groupbuymember.state_of_health"
                  name="state_of_health" placeholder="請輸入健康描述"
                  autocomplete="off"
                  :disabled="groupbuymember.health==0?true:false"
                   />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="24" :xl="24" v-if="LinebotInfo.check_coupon_premission==1">
              <el-form-item label="攀登年資" prop="how_long_climbed">
                    <el-select
                    v-model="groupbuymember.how_long_climbed"
                    placeholder="請選擇攀登年資"
                    filterable
                    default-first-option
                    style="margin:auto 10px;"
                    >
                    <!-- <el-option label="111" value="111"></el-option> -->
                    <el-option label="初次/First time" value="0"></el-option>
                    <el-option label="一年內/Under 1 year" value="1"></el-option>
                    <el-option label="一年以上/Above 1 year" value="2"></el-option>
                    </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="LinebotInfo.check_coupon_premission==1">
              <el-form-item label="緊急聯絡人姓名" prop="emergency_contact">
                  <el-input ref="emergency_contact" v-model="groupbuymember.emergency_contact"
                  name="emergency_contact" placeholder="請輸入緊急聯絡人姓名"
                  autocomplete="off"
                   />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="LinebotInfo.check_coupon_premission==1">
              <el-form-item label="緊急聯絡人之關係" prop="emergency_relation">
                  <el-input ref="emergency_relation" v-model="groupbuymember.emergency_relation"
                  name="emergency_relation" placeholder="請輸入緊急聯絡人之關係"
                  autocomplete="off"
                   />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="LinebotInfo.check_coupon_premission==1">
              <el-form-item label="緊急聯絡人聯絡電話" prop="emergency_phone">
                  <el-input ref="emergency_phone" v-model="groupbuymember.emergency_phone"
                  name="emergency_phone" placeholder="請輸入緊急聯絡人電話"
                  autocomplete="off"
                   />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-if="LinebotInfo.pay_premission.includes('電子發票')">
             <el-divider content-position="center">發票</el-divider>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="8" v-if="LinebotInfo.pay_premission.includes('電子發票')">
              <el-form-item label="發票類型" prop="invoice_type">
                <br/>
                <el-select
                v-model="groupbuymember.invoice_type"
                placeholder="請選擇發票類型"
                filterable
                default-first-option
                style="margin:auto 10px;"
                >
                    <el-option label="二聯式發票" value="1">二聯式發票</el-option>
                    <el-option label="三聯式發票" value="2">三聯式發票</el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="8" v-if="groupbuymember.invoice_type=='1'&&LinebotInfo.pay_premission.includes('電子發票')">
              <el-form-item label="發票種類" prop="reception_kind">
                <br/>
                <el-select
                v-model="groupbuymember.reception_kind"
                placeholder="請選擇發票種類"
                filterable
                default-first-option
                style="margin:auto 10px;"
                >
                    <el-option label="會員email" value="1">會員email</el-option>
                    <el-option label="手機載具" value="3">手機載具</el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="8" v-show="groupbuymember.invoice_type=='1'&&groupbuymember.reception_kind=='3'&&LinebotInfo.pay_premission.includes('電子發票')">
              <el-form-item label="手機載具" prop="carrier_num">
                  <el-input ref="carrier_num" v-model="groupbuymember.carrier_num"
                  name="carrier_num" placeholder="請輸入手機載具"
                  autocomplete="off"
                   />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-if="LinebotInfo.check_coupon_premission==1&&dialogMemberType==='edit'">
            <el-divider content-position="center">風險同意書</el-divider>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-if="LinebotInfo.check_coupon_premission==1&&dialogMemberType==='edit'" style="text-align:center;">
            <el-tag type="danger" v-if="groupbuymember.contract==null">無風險同意書</el-tag>
            <el-button type="primary" @click.native.prevent="download_contract(groupbuymember)" v-else>下載風險同意書</el-button>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddMember">關閉</el-button>
        <!-- :loading="loading"  -->
        <el-button type="primary" @click.native.prevent="confirmMember('groupbuymember')">{{dialogMemberType==='new'?'新增會員':'修改會員'}}</el-button>
      </div>
    </el-dialog>
    <!--新增會員提示(修改) -->
      <el-dialog
      title="訊息提示"
      :visible.sync="checkgroupbuymemberswitch"
      width="45%"
      center
      append-to-body
      >
      <el-result :icon="checkgroupbuymembermessage==true?'success':'error'" :title="checkgroupbuymembermessage==true?'新增會員完成':'新增會員失敗'" :subTitle="checkgroupbuymembertitle" v-if="dialogMemberType==='new'">
      </el-result>
      <el-result :icon="checkgroupbuymembermessage==true?'success':'error'" :title="checkgroupbuymembermessage==true?'修改會員完成':'修改會員失敗'" :subTitle="checkgroupbuymembertitle" v-if="dialogMemberType==='edit'">
      </el-result>
      <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="closeAddMember">關閉會員</el-button>
          <el-button type="primary" @click="checkgroupbuymemberswitch=false" v-if="checkgroupbuymembermessage==true&dialogMemberType==='new'">繼續新增</el-button>
          <el-button type="danger" @click="checkgroupbuymemberswitch=false" v-if="checkgroupbuymembermessage==false">修正錯誤</el-button>
      </span>
      </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 400px;
    height: 400px;
    display: block;
  }
</style>
<script>
import { insertgroupmember,updategroupmember,getgroupmember2Tag } from '@/api/groupbuy_manager'
import { getLineBotInfo } from '@/api/linebot_manager'
export default {
name: 'AddGroupBuyMember',
props:{
    dialogMemberType:{
        type:String,
        require:true
    },
    dialogMemberVisible:{
        type:Boolean,
        require:true
    },
    groupbuymember:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      MemberRules: {
        real_name:[{ required: true,message: '姓名為必填欄位' }],
        mobile:[
          { required: true, message: '手機為必填欄位' },
          { required: true, message: '手機必須為數字', pattern:/^[0-9\s]*$/ },
          { required:true, message:'請輸入09開頭的10位數手機號碼',pattern:/^09[0-9]{8}$/ },
        ],
        email:[
          { required: true,message: '信箱為必填欄位' },
          { required:true, message:'請輸入正確的信箱格式',pattern:/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/ },
        ],
        sex:[{ required: true,message: '性別為必填欄位' }],
        vip:[{ required: true,message: '會員vip為必填欄位' }],
        source:[{ required: true,message: '會員註冊來源為必填欄位' }],
        birthday:[{ required: true,message: '生日為必填欄位' }],
        invoice_type:[{ required: true,message: '發票類型為必填欄位' }],
        reception_kind:[{ required: true,message: '發票種類為必填欄位' }]
      },
      loading:false,
      //會員資訊(新增)
      checkgroupbuymemberswitch:false,
      //會員正確與錯誤訊息(新增)
      checkgroupbuymembermessage:'',
      //會員錯誤訊息內文(新增)
      checkgroupbuymembertitle:'',
      LinebotInfo:[],
      pay_premission:[],
      membertag_List:[]
    }
  },
  async created() {
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  watch:{
    dialogMemberType: function(val){
      console.log("330",val)
      //判斷為修改會員觸發
      if(val=='edit'){
        //判斷如果為綠界發票帶入資料
        if(this.groupbuymember.carrier_type=="1"){
        this.groupbuymember.invoice_type='1',
        this.groupbuymember.reception_kind='1'
        }
        //判斷如果為手機條碼載具帶入資料
        if(this.groupbuymember.carrier_type=="3"){
          this.groupbuymember.invoice_type='1',
          this.groupbuymember.reception_kind='3'
        }
        //判斷如果性別為1為男生
        if(this.groupbuymember.sex==1){
          this.groupbuymember.sex='1'
        }
        //判斷如果性別為2為女生
        if(this.groupbuymember.sex==2){
          this.groupbuymember.sex='2'
        }
        //判斷如果會員註冊為1line註冊
        if(this.groupbuymember.source==1){
          this.groupbuymember.source='1'
        }
        //判斷如果會員註冊為2後台註冊
        if(this.groupbuymember.source==2){
          this.groupbuymember.source='2'
        }
        //判斷如果會員vip為0否
        if(this.groupbuymember.vip==0){
          this.groupbuymember.vip='0'
        }
        //判斷如果會員vip為1是
        if(this.groupbuymember.vip==1){
          this.groupbuymember.vip='1'
        }
      }
      this.getlinebotinfo()
      this.get_all_default_member_tag()
    },
    // "groupbuymember.partner_id": async function(val){
    //   console.log("val: ",val)
    //   await this.getlinebotinfo()
    // }
  },
  methods: {
    //關閉選單
    closeAddMember(){
    //更新資料進入外層的關閉選單
    this.dialogMemberVisible = false
    this.dialogMemberType = ''
    this.checkgroupbuymemberswitch = false
    this.$emit('getMember_status_dialogtype',this.dialogMemberVisible,this.dialogMemberType)
    },
    //得知聊天機器人基本資料
    getlinebotinfo(){
      var payload = {
          'partner_id':this.groupbuymember.partner_id
      }
      this.LinebotInfo = []
      getLineBotInfo(payload).then(resp => {
            if(resp.data=="查詢成功"){
                this.LinebotInfo = resp.message[0]
                console.log(this.LinebotInfo.pay_premission)
            }
            else{
              this.LinebotInfo.push({
                 'partner_id':this.partner,
                  'name':'',
                  'logo':'',
                  'channel_token':'',
                  'channel_secret':'',
                  'basic_id':'',
                  'qrcode':'',
                  'channel_type':0,
                  'pay_way':[],
                  'show_one_coupon_groupbuy':0,
                  'show_one_coupon_groupbuy_name':'',
                  'pay_way_description':'',
                  'order_description':'',
                  'on_site_description':'',
                  'pay_premission':[],
                  'linebot_liff':'',
                  'check_coupon_premission':0,
                  'check_linebot_notify_premission':0,
                  'MerchantID':'',
                  'pay_hash_key':'',
                  'pay_hash_iv':'',
                  'reception_hash_key':'',
                  'reception_hash_iv':'',
                  'line_pay_channel_id':'',
                  'line_pay_secret_key':'',
                  'agreement':''
              })
              this.LinebotInfo = this.LinebotInfo[0]
              // this.$message({
              //     message: '請於「Line機器人模組」建立聊天機器人資訊',
              //     type: 'error'
              // })
            }
        })
    },
    //得知所有預設標籤
    get_all_default_member_tag(){
      this.membertag_List = []
      var payload ='all?partner_id='+this.groupbuymember.partner_id
      getgroupmember2Tag(payload).then(resp => {
        this.membertag_List = resp.data
      })
    },
    //下載風險同意書
    download_contract(row){
        window.open(this.upload_path+row.contract,'_blank')
    },
    confirmMember(groupbuymember){
        this.$refs[groupbuymember].validate(valid => {
            console.log(valid)
            if (valid) {
                this.loading = true
                if(this.dialogMemberType=='new'){
                    if(this.groupbuymember.invoice_type=='1'&&this.groupbuymember.reception_kind=='1'){
                        this.groupbuymember.carrier_type='1'
                    }
                    if(this.groupbuymember.invoice_type=='1'&&this.groupbuymember.reception_kind=='3'){
                        this.groupbuymember.carrier_type='3'
                    }
                    insertgroupmember(this.groupbuymember)
                    .then((resp) => {
                    if(resp.success==true){
                        this.checkgroupbuymemberswitch = true
                        this.checkgroupbuymembertitle = ''
                        this.checkgroupbuymembermessage = resp.success
                        //判斷是否為新增或修改
                        this.$nextTick(() => {
                            // this.$refs[groupbuyorder].resetFields()
                            this.groupbuymember.real_name = '',
                            this.groupbuymember.email = '',
                            this.groupbuymember.mobile = '',
                            this.groupbuymember.birthday = '',
                            this.groupbuymember.invoice_type = '1',
                            this.groupbuymember.reception_kind = '1',
                            this.groupbuymember.sex = '1',
                            this.groupbuymember.address = '無地址',
                            this.groupbuymember.carrier_type = '',
                            this.groupbuymember.carrier_num = '',
                            this.groupbuymember.identifier = '',
                            this.groupbuymember.company_title = '',
                            this.groupbuymember.mail_address = '無地址',
                            this.groupbuymember.vip = '0',
                            this.groupbuymember.source = '2',
                            this.groupbuymember.health='0',
                            this.groupbuymember.state_of_health='無',
                            this.groupbuymember.how_long_climbed='0',
                            this.groupbuymember.emergency_contact='',
                            this.groupbuymember.emergency_relation='',
                            this.groupbuymember.emergency_phone=''
                        });
                        this.$emit('groupbuymember',1,'partner_id='+this.groupbuymember.partner_id)
                    }
                    if(resp.success==false){
                        this.checkgroupbuymemberswitch = true
                        this.checkgroupbuymembertitle = resp.data
                        this.checkgroupbuymembermessage = resp.success
                    }
                    this.loading = false
                    })
                    .catch(() => {
                        this.loading = false
                        return false
                    })
                }
                if(this.dialogMemberType=='edit'){
                    if(this.groupbuymember.invoice_type=='1'&&this.groupbuymember.reception_kind=='1'){
                        this.groupbuymember.carrier_type='1'
                    }
                    if(this.groupbuymember.invoice_type=='1'&&this.groupbuymember.reception_kind=='3'){
                        this.groupbuymember.carrier_type='3'
                    }
                    console.log("271: ",this.groupbuymember)
                    updategroupmember(this.groupbuymember)
                    .then((resp) => {
                    if(resp.success==true){
                        this.checkgroupbuymemberswitch = true
                        this.checkgroupbuymembertitle = ''
                        this.checkgroupbuymembermessage = resp.success
                        this.$emit('groupbuymember',1,'partner_id='+this.groupbuymember.partner_id)
                    }
                    if(resp.success==false){
                        this.checkgroupbuymemberswitch = true
                        this.checkgroupbuymembertitle = resp.data
                        this.checkgroupbuymembermessage = resp.success
                    }
                    this.loading = false
                    })
                    .catch(() => {
                        this.loading = false
                        return false
                    })
                }
            }
        })
    }
  }
}
</script>