<template>
    <div>
      <el-dialog :visible="dialogCouponDiscountRecordVisible" :title="dialogCouponDiscountRecordType==='record'?'查看票卷折扣紀錄':''"
      :before-close="closeAddCouponDiscountRecord" center fullscreen
      append-to-body
      >
            <el-row :gutter="20">
                <el-form status-icon :model="groupbuycoupondiscount" label-position="right">
                    <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                        <el-form-item label="折扣代碼/名稱">
                            <el-tag style="margin:10px 0; font-size:20px;">
                            ({{ groupbuycoupondiscount.coupon_number }}) {{groupbuycoupondiscount.coupon_name}}
                            </el-tag>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                        <el-form-item label="折扣內容">
                            <el-tag style="margin:10px 0; font-size:20px;">
                            {{groupbuycoupondiscount.coupon_content}}
                            </el-tag>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                        <el-form-item label="總計折扣項目">
                            <el-tag style="margin:5px; font-size:20px;" v-for="(discount_coupon_list_items,index) in groupbuycoupondiscount.discount_coupon_list_items" :key="index">{{ discount_coupon_list_items }}</el-tag>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                        <el-form-item label="使用時間">
                             <el-tag :type="groupbuycoupondiscount.coupon_status==1?'':'danger'" style="margin:10px 0; font-size:20px;">
                                {{groupbuycoupondiscount.coupon_start_at}} ~
                                {{groupbuycoupondiscount.coupon_end_at}}
                             </el-tag>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                        <el-form-item label="總計使用張數">
                            <el-tag style="font-size:20px; text-align:center;" v-show="groupbuycoupondiscount.coupon_using_amount==-1">
                                {{groupbuycoupondiscount.discount_coupon_using_amount}} 張 
                            </el-tag>
                            <el-tag style="font-size:20px; text-align:center;" 
                            :type="groupbuycoupondiscount.discount_coupon_using_amount>=groupbuycoupondiscount.coupon_using_amount?'danger':''"
                            v-show="groupbuycoupondiscount.coupon_using_amount!=-1">
                                {{groupbuycoupondiscount.discount_coupon_using_amount}} / {{groupbuycoupondiscount.coupon_using_amount}} 張
                            </el-tag><br/>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                        <el-form-item label="總計折扣金額">
                            <el-tag style="font-size:20px; text-align:center;" v-show="groupbuycoupondiscount.coupon_using_amount==-1">
                                {{groupbuycoupondiscount.discount_coupon_using_subtotal}} 元
                            </el-tag>
                            <el-tag style="font-size:20px; text-align:center;" 
                            :type="groupbuycoupondiscount.discount_coupon_using_amount>=groupbuycoupondiscount.coupon_using_amount?'danger':''"
                            v-show="groupbuycoupondiscount.coupon_using_amount!=-1">
                                {{groupbuycoupondiscount.discount_coupon_using_subtotal}} 元
                            </el-tag><br/>
                        </el-form-item>
                    </el-col>
                </el-form>
            </el-row>
            <el-table
            :data="groupbuycoupondiscount.discount_coupon_using_record" 
            style="width: 100%;" border fit highlight-current-row>
                <el-table-column align="center" label="姓名">
                    <template slot-scope="scope">
                        <span style="font-size:20px;">
                            {{ scope.row.real_name }}
                        </span>
                    </template>
                </el-table-column>
                <el-table-column align="center" label="折扣金額">
                    <template slot-scope="scope">
                        <span style="font-size:20px;">
                        {{ scope.row.coupon_using_subtotal }}
                        </span>
                    </template>
                </el-table-column>
                <el-table-column align="center" label="使用狀態">
                    <template slot-scope="scope">
                        <div v-if="scope.row.coupon_using_status==0">
                            <span style="font-size:20px; color:red;">
                                未使用或取消
                            </span>
                        </div>
                        <div v-if="scope.row.coupon_using_status==1">
                            <span style="font-size:20px;">
                                使用
                            </span>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column align="center" label="使用時間">
                    <template slot-scope="scope">
                        <span style="font-size:20px;">
                            {{ scope.row.coupon_using_date }}
                        </span>
                    </template>
                </el-table-column>
                <el-table-column align="center" label="取消時間">
                    <template slot-scope="scope">
                        <span style="font-size:20px; color:red;">
                            {{ scope.row.coupon_using_cancel }}
                        </span>
                    </template>
                </el-table-column>
            </el-table>
      <div style="text-align:right; margin:10px 0;">
        <el-button type="primary" @click="closeAddCouponDiscountRecord">關閉票卷折扣紀錄</el-button>
      </div>
      </el-dialog>
    </div>
</template>
<script>
export default {
name: 'CheckGroupBuyCouponDiscountRecord',
props:{
    dialogCouponDiscountRecordType:{
        type:String,
        require:true
    },
    dialogCouponDiscountRecordVisible:{
        type:Boolean,
        require:true
    },
    groupbuycoupondiscount:{
        type:Object,
        require:true
    }
},
  data() {
    return {

    }
  },
  watch:{
    dialogCouponDiscountRecordType: async function(val){

    },
    // "groupbuymember.partner_id": async function(val){
    //   console.log("val: ",val)
    //   await this.getlinebotinfo()
    // }
  },
  methods: {
    //關閉選單
    closeAddCouponDiscountRecord(){
    //更新資料進入外層的關閉選單
    this.dialogCouponDiscountRecordVisible = false
    this.dialogCouponDiscountRecordType = ''
    this.$emit('getCouponDiscountRecord_status_dialogtype',this.dialogCouponDiscountRecordVisible,this.dialogCouponDiscountRecordType)
    },
  }
}
</script>