<template>
  <el-card style="margin-bottom:20px;" v-loading="GroupBuyOrderLoading">
    
    <div slot="header" class="clearfix">
      <span style="color:red;">票卷訂單列表</span>
      <el-button type="primary" icon="el-icon-edit" @click="downloadgroupbuyorder" style="float:right;margin:0 10px;" :disabled="partner==''?true:false" v-show="groupbuystatus==true">匯出訂單</el-button>
      <el-button type="primary" icon="el-icon-edit" @click="insertgroupbuyorder" style="float:right;margin:0 10px;" :disabled="partner==''?true:false" v-show="groupbuystatus==true">新訂單</el-button>
    </div>
    <!-- {{check_admin_premission}} -->
    <!-- {{GroupBuyGroupLoading}} -->
    <!-- {{GroupBuyGroup}} -->
    <!-- {{groupbuyliffweb}} -->
    <!-- {{GroupBuyOrder.list}} -->
    <!-- {{search_groupbuyorder}} -->
    <!-- {{dialogSearchInfoType}}
    {{memberinfo}}
    {{dialogSearchInfoVisible}} -->
    <!-- {{ one_button_coupon }} -->
    <div class="user-profile">
      <!-- {{show_filter_order_field}} -->
      <!-- {{activeTab}} -->
      <!-- {{LinebotInfo}} -->
      <div style="margin:5px 0;">
       <span style="color:red;">搜尋選單:</span>
       <!-- {{search_menu_switch}} -->
        <el-switch
          v-model="search_menu_switch"
          active-text="開啟"
          inactive-text="關閉"
          active-value="1"
          inactive-value="0"
          style="margin:0 20px;"
          >
        </el-switch>
        <span style="color:red;">下方表格篩選:</span>
        <el-switch
          v-model="search_table_switch"
          active-text="開啟"
          inactive-text="關閉"
          active-value="1"
          inactive-value="0"
          style="margin:0 20px;"
          >
        </el-switch>
        <span style="color:red;">一鍵編輯付款:</span>
        <el-switch
          v-model="one_button_check_switch"
          active-text="開啟"
          inactive-text="關閉"
          active-value="1"
          inactive-value="0"
          style="margin:0 20px;"
          >
        </el-switch>
        <span style="color:red;" v-if="partner=='jameschen'">一鍵審核票卷:</span>
        <el-switch
          v-model="one_button_coupon_switch"
          active-text="開啟"
          inactive-text="關閉"
          active-value="1"
          inactive-value="0"
          style="margin:0 20px;"
          v-if="partner=='jameschen'"
          >
        </el-switch>
        <br/>
        <el-button-group style="position:fixed; z-index:2;float:right;">
        <el-button type="primary" icon="el-icon-edit" style="margin:5px 0;"  @click="update_batch_order" v-show="one_button_check_switch=='1'">編輯付款</el-button>
        <br/>
        <el-button type="primary" icon="el-icon-edit" style="margin:5px 0;" @click="update_batch_coupon"  v-show="one_button_coupon_switch=='1'&&one_button_coupon.length!=0">審核票卷</el-button>
        </el-button-group>
      </div>
      <!-- {{dialogSearchType}}
      {{dialogSearchVisible}} -->
        <AddGroupBuyOrder :groupbuyorder="groupbuyorder" :dialogType="dialogType" :dialogVisible="dialogVisible" @getGroupBuyOrder="setqueryorder" @getOrder_status_dialogtype="getOrder_status_dialogtype" />
        <DownloadGroupBuyOrder :dialogDownloadType="dialogDownloadType" :dialogDownloadVisible="dialogDownloadVisible" :partner="partner" @close_Download_export_Order="close_Download_export_Order" />
        <SearchGroupBuyOrder v-on:SearchGroupOrder="SearchGroupBuyOrder" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' v-show="search_menu_switch=='1'" />
        <SearchMemberCoupon :enter_place="'order'" :membercoupon="membercoupon" :dialogSearchType="dialogSearchType" :dialogSearchVisible="dialogSearchVisible" @getMemberCoupon_status_dialogtype="getMemberCoupon_status_dialogtype" />
        <SearchMemberInfo :memberinfo="memberinfo" :dialogSearchInfoType="dialogSearchInfoType" :dialogSearchInfoVisible="dialogSearchInfoVisible" @getMemberInfo_status_dialogtype="getMemberInfo_status_dialogtype" />
        <div v-show="search_table_switch=='1'">
          <span style="marign:20 0;color:red;">下方表格要篩選的資料格式</span>
          <el-checkbox-group v-model="show_filter_order_field" style="marign:20  0;">
          <el-checkbox label="票卷名稱/訂單編號"></el-checkbox>
          <el-checkbox label="訂購人資訊"></el-checkbox>
          <el-checkbox label="訂購品項"></el-checkbox>
          <!-- <el-checkbox label="訂購金額/項"></el-checkbox> -->
          <el-checkbox label="票卷是否審核" v-if="LinebotInfo.check_coupon_premission==1"></el-checkbox>
          <el-checkbox label="訂單備註"></el-checkbox>
          <el-checkbox label="訂單成立時間"></el-checkbox>
          <el-checkbox label="付款資訊"></el-checkbox>
          <el-checkbox label="發票資訊" v-if="LinebotInfo.pay_premission.includes('電子發票')"></el-checkbox>
          <el-checkbox label="操作"></el-checkbox>
          <el-checkbox label="電子發票" v-if="LinebotInfo.pay_premission.includes('電子發票')"></el-checkbox>
          </el-checkbox-group>
        </div>
        <!-- {{GroupBuyOrder.list}} -->
        <!-- {{one_button_check_switch}} -->
        <!-- {{batch_order}} -->
        <el-table v-loading="GroupBuyOrderLoading" :data="GroupBuyOrder.list" style="width: 100%;margin-top:30px;"
         border fit highlight-current-row>
         <!-- @select="one_button_check_select" -->
        <el-table-column type="expand">
            <template slot-scope="scope">
            <el-form label-position="left" class="demo-table-expand">
                <el-divider>訂購使用者資訊</el-divider>
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                        <el-form-item label="訂購姓名/電話">
                            <span style="font-size:20px;">{{scope.row.real_name}}({{ scope.row.mobile}})</span>
                            <span style="font-size:20px; color:red;" v-if="scope.row.vip==1">vip</span>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-show="LinebotInfo.check_coupon_premission!=1">
                        <el-form-item label="訂購地址">
                            <span style="font-size:20px;">{{ scope.row.address }}</span>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                        <el-form-item label="訂單編號">
                            <span>
                                <el-tag style="margin:10px 0;">
                                    {{ scope.row.order_sn }}
                                </el-tag>
                            </span>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                        <el-form-item label="付款方式">
                            <span>
                                <el-tag style="margin:10px 0;">
                                    {{ scope.row.pay_type| pay_money_pay_type}}
                                </el-tag>
                            </span>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                        <el-form-item label="付款狀態">
                            <span>
                                <el-tag style="margin:10px 0;" :type="scope.row.status==0||scope.row.status==-1?'danger':''">
                                    {{ scope.row.status | pay_money_status }}
                                </el-tag>
                            </span>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <el-form class="demo-table-expand">
                <el-divider>訂購明細資訊</el-divider>
                <div v-for="(order_list,index) in scope.row.items" :key="index">
                    <el-row :gutter="20">
                        <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                            <el-form-item  label="商品名稱/數量">
                                <!-- {{ customer }} -->
                                <!-- <span style="font-size:20px;">{{ customer.rdata.member_name }}</span> -->
                                <span style="font-size:20px;">
                                    <el-tag style="margin:10px 0;font-size:18px;" type="danger">
                                    {{order_list.groupbuy_shop_name}}
                                    </el-tag>
                                    *
                                    <el-tag style="margin:10px 0;font-size:18px;" type="danger">
                                     {{ order_list.qty }}
                                    </el-tag>
                                </span>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                            <el-form-item label="商品小計">
                                <!-- {{ customer }} -->
                                <span style="font-size:20px;">{{ order_list.price }} * {{ order_list.qty }} = {{ order_list.subtotal }} </span>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="order_list.product_type==1&&order_list.product_kind==0">
                            <el-form-item label="商品剩餘張數">
                                <!-- {{ customer }} -->
                                <el-tag style="margin:10px 0;font-size:20px;" :type="order_list.remain_using_qty==0?'danger':''">
                                  {{ order_list.remain_using_qty }}
                                </el-tag>
                                <!-- <span style="font-size:20px;">{{ order_list.remain_using_qty }} </span> -->
                            </el-form-item>
                        </el-col>
                    </el-row>
                </div>
                <div v-for="(groupbuy_coupon_list,index) in scope.row.groupbuy_coupon" :key="index">
                    <el-row :gutter="20">
                        <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                            <el-form-item  label="折扣名稱/數量">
                                <!-- {{ customer }} -->
                                <!-- <span style="font-size:20px;">{{ customer.rdata.member_name }}</span> -->
                                <span style="font-size:20px;">
                                    <el-tag style="margin:10px 0;font-size:18px;" type="danger">
                                    {{groupbuy_coupon_list.coupon_name}}
                                    </el-tag>
                                    *
                                    <el-tag style="margin:10px 0;font-size:18px;" type="danger">
                                    1
                                    </el-tag>
                                </span>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                            <el-form-item label="優惠小計">
                                <!-- {{ customer }} -->
                                <span style="font-size:20px; color:red;">{{ groupbuy_coupon_list.coupon_money }} * 1 = {{ groupbuy_coupon_list.coupon_money }} </span>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </div>
                <el-form-item label="總計">
                    <span style="font-size:25px; color:red; text-decoration: underline;">
                        {{scope.row.total}}
                    </span>
                </el-form-item>
            </el-form>
            <el-form class="demo-table-expand" v-show="scope.row.line_pay_paylog.length!=0">
                <el-divider>linepay 付款退款資訊</el-divider>
                <div v-for="(line_pay,index) in scope.row.line_pay_paylog" :key="index">
                    <el-row :gutter="20">
                        <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                          <el-form-item  label="是否為付款/退款">
                              <!-- {{ customer }} -->
                              <!-- <span style="font-size:20px;">{{ customer.rdata.member_name }}</span> -->
                              <span style="font-size:20px;">
                                  <el-tag style="margin:10px 0;font-size:18px;">
                                    {{line_pay.line_pay_type|line_pay_type}}
                                  </el-tag>
                              </span>
                          </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                          <el-form-item  label="交易號碼">
                              <!-- {{ customer }} -->
                              <!-- <span style="font-size:20px;">{{ customer.rdata.member_name }}</span> -->
                              <span style="font-size:20px;">
                                  <el-tag style="margin:10px 0;font-size:18px;" type="danger">
                                  {{line_pay.line_pay_transactionid}}
                                  </el-tag>
                              </span>
                          </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="16" :lg="16" :xl="16">
                          <el-form-item  label="狀態/訊息">
                              <!-- {{ customer }} -->
                              <!-- <span style="font-size:20px;">{{ customer.rdata.member_name }}</span> -->
                              <span style="font-size:20px;">
                                  <el-tag style="margin:10px 5px;font-size:18px;" :type="line_pay.line_pay_returncode=='0000'?'':'danger'">
                                    {{ line_pay.line_pay_returncode }} {{ line_pay.line_pay_returnmessage }}
                                  </el-tag>
                              </span>
                          </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-show="line_pay.line_pay_returncode=='0000'&&line_pay.line_pay_type==1">
                          <el-form-item  label="退款新序號">
                              <!-- {{ customer }} -->
                              <!-- <span style="font-size:20px;">{{ customer.rdata.member_name }}</span> -->
                              <span style="font-size:20px;">
                                  <el-tag style="margin:10px 0;font-size:18px;" type="danger">
                                  {{line_pay.line_pay_refundtransactionid}}
                                  </el-tag>
                              </span>
                          </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-show="line_pay.line_pay_returncode=='0000'&&line_pay.line_pay_type==1">
                            <el-form-item  label="退款日期">
                                <!-- {{ customer }} -->
                                <!-- <span style="font-size:20px;">{{ customer.rdata.member_name }}</span> -->
                                <span style="font-size:20px;">
                                    <el-tag style="margin:10px 0;font-size:18px;" type="danger">
                                    {{line_pay.line_pay_refundtransactiondate}}
                                    </el-tag>
                                </span>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </div>
            </el-form>
            <el-form class="demo-table-expand" v-if="scope.row.reception_paylog.length!=0">
                <el-divider>發票資訊</el-divider>
                  <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                      <el-form-item label="發票開立日期">
                          <span>
                              <el-tag style="margin:10px 0;">
                                  {{ scope.row.reception_paylog[0].InvoiceDate }}
                              </el-tag>
                          </span>
                      </el-form-item>
                  </el-col>
                  <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                      <el-form-item label="發票開立號碼">
                          <span>
                              <el-tag style="margin:10px 0;">
                                  {{ scope.row.reception_paylog[0].InvoiceNo }}
                              </el-tag>
                          </span>
                      </el-form-item>
                  </el-col>
                  <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                      <el-form-item label="發票開立狀態">
                          <span>
                              <el-tag style="margin:10px 0;">
                                  {{ scope.row.reception[0].InvoiceStatus | InvoiceStatus }}
                              </el-tag>
                          </span>
                      </el-form-item>
                  </el-col>
                  <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                      <el-form-item label="發票隨機碼">
                          <span>
                              <el-tag style="margin:10px 0;">
                                  {{ scope.row.reception_paylog[0].RandomNumber }}
                              </el-tag>
                          </span>
                      </el-form-item>
                  </el-col>
                  <div v-for="(paylog_list,index) in scope.row.reception_paylog" :key="index">
                    <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                        <el-form-item  label="異動狀態">
                            <span style="font-size:20px;">
                                <el-tag style="margin:10px 0;font-size:18px;" type="danger">
                                {{paylog_list.reception_invoice_paylog|reception_invoice_paylog}}
                                </el-tag>
                            </span>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                        <el-form-item label="異動原因" v-if="paylog_list.reception_invoice_paylog=='2'">
                            <span style="font-size:20px; color:red;">
                                {{paylog_list.Reason}}
                            </span>
                        </el-form-item>
                    </el-col>
                  </div>
            </el-form>
            <!-- <el-form class="demo-table-expand">
                <el-divider>發票異動資訊</el-divider>
                <div v-for="(paylog_list,index) in scope.row.reception_paylog">
                    <el-row :gutter="20">
                        <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                            <el-form-item  label="異動狀態">
                                <span style="font-size:20px;">
                                    <el-tag style="margin:10px 0;font-size:18px;" type="danger">
                                    {{paylog_list.reception_invoice_paylog|reception_invoice_paylog}}
                                    </el-tag>
                                </span>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                            <el-form-item label="異動原因" v-if="paylog_list.reception_invoice_paylog=='2'">
                                <span style="font-size:20px; color:red;">
                                    {{paylog_list.Reason}}
                                </span>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </div>
            </el-form> -->
            </template>
        </el-table-column>
        <!-- type="selection" -->
        <!-- <el-table-column align="center" width="60" label="是否選中">
          <template slot-scope="scope">
            <el-checkbox v-model="scope.row.checked" @change="one_button_check_select(scope.row,scope.row.checked,scope.$index)" v-show="one_button_check_switch=='1'"></el-checkbox>
          </template>
        </el-table-column> -->
        <el-table-column align="center" width="180" label="票卷名稱/訂單編號" v-if="this.show_filter_order_field.includes('票卷名稱/訂單編號')">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;">
                  {{ scope.row.groupbuy_title }}
                </el-tag>
                <el-tag style="margin:10px 0;">
                  {{ scope.row.order_sn }}
                </el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="220" label="訂購人資訊" v-if="this.show_filter_order_field.includes('訂購人資訊')">
            <template slot-scope="scope">
                <el-avatar 
                size="large"
                :src="scope.row.avatar"
                v-if="scope.row.avatar!=null"
                >
                </el-avatar>
                <br/>
                <div v-show="one_button_check_switch=='0'">
                  <el-tag style="margin:3px 0;font-size:18px;cursor:pointer;" @click="searchmembercoupon(scope.row)" v-show="LinebotInfo.check_coupon_premission==1">{{ scope.row.real_name}}</el-tag>
                  <el-tag style="margin:3px 0;font-size:18px;" v-show="LinebotInfo.check_coupon_premission!=1">{{ scope.row.real_name}}</el-tag>
                </div>
                <div v-show="one_button_check_switch=='1'">
                  <!-- <i class="el-icon-user-solid" style="color:black; margin:0 5px;"  /> -->
                  <el-tag style="margin:3px 0;font-size:18px;cursor:pointer;" @click="searchmembercoupon(scope.row)" v-show="LinebotInfo.check_coupon_premission==1">{{ scope.row.real_name}}</el-tag>
                   <el-tag style="margin:3px 0;font-size:18px;" v-show="LinebotInfo.check_coupon_premission!=1">{{ scope.row.real_name}}</el-tag>
                </div>
                <br/>
                <el-tag style="margin:3px 0;font-size:18px;cursor:pointer;" @click="searchmemberinfo(scope.row)">{{scope.row.mobile}}</el-tag>
                <br/>
                <el-tag type="danger" style="margin:10px 0;font-size:18px;" v-show="scope.row.vip==1">vip</el-tag>
                <br/>
                <el-tag style="margin:10px 0;font-size:18px;" v-if="LinebotInfo.check_coupon_premission!=1">{{ scope.row.address}}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="訂購品項/總計" width="300" v-if="show_filter_order_field.includes('訂購品項')">
            <template slot-scope="scope">
              <div v-for="(order_list,index) in scope.row.items" :key="index">
                <el-checkbox :label="order_list.groupbuy_shop_name" v-show="order_list.product_type==1&&one_button_coupon_switch==1&&scope.row.status==1" @change="checkcoupon(order_list,scope.row.order_sn)"></el-checkbox>
                <!-- <i class="el-icon-tickets" v-show="order_list.product_type==1" style="color:red; margin:0 5px;" @click="checkgroupbuycoupon(scope.row,index)"  /> -->
                <el-tag style="margin:10px 0;font-size:18px;" type="danger">
                  {{order_list.groupbuy_shop_name}}
                </el-tag>
              </div>
              <el-divider content-position="center">總計</el-divider>
              <span style="font-size:18px; color:red;">
              {{ scope.row.total}}
              </span>
            </template>
        </el-table-column>
        <!-- <el-table-column align="center" label="訂購金額/項" v-if="show_filter_order_field.includes('訂購金額/項')">
            <template slot-scope="scope">
                <span style="font-size:18px; color:red;">
                {{ scope.row.total}}
                </span>
                /
                <span style="font-size:18px; color:red;">
                {{ scope.row.items.length }} 項
                </span>
            </template>
        </el-table-column> -->
        <el-table-column align="center" width="350" label="付款資訊" v-if="show_filter_order_field.includes('付款資訊')">
            <template slot-scope="scope">
              <el-tag style="margin:10px 0;" v-show="one_button_check_switch=='0'">
                {{ scope.row.pay_type| pay_money_pay_type}}
              </el-tag>
                <el-select
                v-model="scope.row.pay_type"
                placeholder="請選擇付款方式"
                filterable
                default-first-option
                name="pay_type"
                style="margin:auto 10px;"
                v-show="one_button_check_switch=='1'"
                :disabled="(scope.row.line_pay_paylog.length==2&&scope.row.status==-1&&scope.row.pay_type==3)?true:false"
                >
                  <el-option label="信用卡" :value="0" :disabled='LinebotInfo.pay_way.includes(0)?false:true'>信用卡</el-option>
                  <el-option label="ATM" :value="1" :disabled='LinebotInfo.pay_way.includes(1)?false:true'>ATM</el-option>
                  <el-option label="超商條碼" :value="2" :disabled='LinebotInfo.pay_way.includes(2)?false:true'>超商條碼</el-option>
                  <el-option label="Line Pay" :value="3" :disabled='LinebotInfo.pay_way.includes(3)?false:true'>Line Pay</el-option>
                  <el-option label="現金" :value="4" :disabled='LinebotInfo.pay_way.includes(4)?false:true'>現金</el-option>
                </el-select>
              <br/>
              <el-tag style="margin:10px 0; font-size:16px;" :type="scope.row.status==0||scope.row.status==-1?'danger':''" v-show="one_button_check_switch=='0'">
                {{ scope.row.status | pay_money_status }}
              </el-tag>
              <br/>
              <el-select
              v-model="scope.row.status"
              placeholder="請選擇付款狀態"
              filterable
              default-first-option
              name="status"
              style="margin:auto 10px;"
              v-show="one_button_check_switch=='1'"
              :disabled="(scope.row.line_pay_paylog.length==2&&scope.row.status==-1&&scope.row.pay_type==3)?true:false"
              >
                <el-option label="未付款" :value="0">未付款</el-option>
                <el-option label="已付款" :value="1">已付款</el-option>
                <el-option label="取消" :value="-1">取消</el-option>
              </el-select>
              <div v-if="scope.row.line_pay_paylog.length==1">
                <div v-if="scope.row.line_pay_paylog[0]['line_pay_type']==0&&scope.row.line_pay_paylog[0]['line_pay_returncode']=='0000'&&scope.row.status==-1&&scope.row.pay_type==3">
                <el-button type="primary" @click="handlerefundlinepay(scope.row)" style="margin:5px;">退款</el-button><br/>
                </div>
                <div v-if="scope.row.line_pay_paylog[0]['line_pay_type']==0&&scope.row.line_pay_paylog[0]['line_pay_returncode']!='0000'&&scope.row.status==-1&&scope.row.pay_type==3">
                  {{scope.row.line_pay_paylog[0]['line_pay_returnmessage']}}
                </div>
              </div>
              <div v-if="scope.row.line_pay_paylog.length==2">
                <div v-if="scope.row.line_pay_paylog[1]['line_pay_type']==1&&scope.row.line_pay_paylog[1]['line_pay_returncode']=='0000'&&scope.row.status==-1&&scope.row.pay_type==3">
                  <el-tag style="margin:10px 0; font-size:16px;" type="danger">
                    line pay 已退款
                  </el-tag>
                </div>
                <div v-if="scope.row.line_pay_paylog[1]['line_pay_type']==1&&scope.row.line_pay_paylog[1]['line_pay_returncode']!='0000'&&scope.row.status==-1&&scope.row.pay_type==3">
                  <el-tag style="margin:10px 0; font-size:16px;" type="danger">
                    {{scope.row.line_pay_paylog[1]['line_pay_returnmessage']}}
                  </el-tag>
                </div>
              </div>
            </template>
        </el-table-column>
        <el-table-column align="center" label="票卷是否審核" width="260" v-if="LinebotInfo.check_coupon_premission==1 && show_filter_order_field.includes('票卷是否審核')">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0; font-size:16px;" type="danger" v-if="scope.row.items.length==0">
                  商品品項不能為空
                </el-tag>
                <el-tag style="margin:10px 0; font-size:16px;" type="danger" v-else-if="scope.row.items[0].product_kind==0&&scope.row.items[0].product_type==0">
                  實體商品無法審核
                </el-tag>
                <el-tag style="margin:10px 0; font-size:16px;" type="danger" v-else-if="scope.row.status==0">
                  付款狀態「未付款」無法審核
                </el-tag>
                <el-tag style="margin:10px 0; font-size:16px;" type="danger" v-else-if="scope.row.status==-1">
                  付款狀態「取消」無法審核
                </el-tag>
                <el-tag style="margin:10px 0; font-size:16px;" v-else-if="scope.row.items[0].practice_using_qty>0">
                  v
                </el-tag>
                <el-tag style="margin:10px 0; font-size:16px;" type="danger" v-else>
                  x
                </el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="訂單備註" width="260" v-if="show_filter_order_field.includes('訂單備註')">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0; font-size:16px;" type="danger" v-show="scope.row.order_note!=''">
                  {{scope.row.order_note}}
                </el-tag>
            </template>
        </el-table-column>
        <!-- <el-table-column align="center"  label="訂購商品明細">
            <template slot-scope="scope">
                <div v-if="scope.row.items.length!=0">
                  <div  v-for="item in scope.row.items" :key="item.id">
                    <hr/>
                    <el-image
                        style="width: 250px; height: 250px"
                        :src="upload_path+item.product_image"
                        fit="fit"
                        v-show="item.product_image!=null"
                        >
                        <div slot="error" class="image-slot">
                            <i class="el-icon-picture-outline"></i>
                        </div>
                    </el-image>
                    <div  v-show="item.product_image!=null">
                        <br/>
                    </div>
                    <el-tag style="margin:10px 0;">
                      {{item.product_title}}
                    </el-tag>
                    <hr/>
                  </div>
                </div>
                <el-tag style="margin:10px 0;" type="danger" v-else>
                    無設定開團商品
                </el-tag>
            </template>
        </el-table-column> -->
        <el-table-column align="center" width="140" label="發票資訊" v-if="show_filter_order_field.includes('發票資訊')">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0; font-size:16px;" type="danger" v-if="scope.row.reception.length==0">
                  無開立發票
                </el-tag>
                <div v-else>
                  <el-tag style="margin:10px 0; font-size:16px;" :type="scope.row.reception[0].InvoiceStatus==1||scope.row.reception[0].InvoiceStatus==3?'':'danger'">
                    {{ scope.row.reception[0].InvoiceStatus | InvoiceStatus }}
                  </el-tag>
                </div>
            </template>
        </el-table-column>
        <el-table-column align="center" label="訂單成立時間" width="200" v-if="this.show_filter_order_field.includes('訂單成立時間')">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;">
                  {{ scope.row.created_at }}
                </el-tag>
            </template>
        </el-table-column>
        <!-- <el-table-column align="center" label="訂購日期">
            <template slot-scope="scope">
                {{ scope.row.created_at }}
            </template>
        </el-table-column> -->
        <!-- <el-table-column align="center" label="修改日期">
            <template slot-scope="scope">
                <div v-if="scope.row.created_at==scope.row.updated_at">
                {{ scope.row.updated_at }}
                </div>
                <div v-else style="color:red;">
                {{ scope.row.updated_at }}
                </div>
            </template>
        </el-table-column> -->
        <el-table-column align="center" width="120" label="操作" v-if="show_filter_order_field.includes('操作')&&check_admin_premission.includes('update_btn')">
            <template slot-scope="scope">
                <el-button type="primary" @click="handleEditgroupbuyorder(scope)" style="margin:5px;">編輯</el-button>
            </template>
        </el-table-column>
        <el-table-column align="center" width="380"  label="電子發票" v-if="show_filter_order_field.includes('電子發票')&&check_admin_premission.includes('update_btn')&&LinebotInfo.pay_premission.includes('電子發票')">
            <template slot-scope="scope">
                <div v-if="scope.row.reception.length==0&&scope.row.status==1">
                <el-button type="primary" @click="handlereception(scope.row)" style="margin:5px;">開立電子發票</el-button><br/>
                </div>
                <div v-if="scope.row.reception.length!=0">
                  <el-button type="danger" @click="handlereinvalidception(scope.row)" style="margin:5px;" v-if="scope.row.reception[0].InvoiceStatus==1&scope.row.status==-1">作廢電子發票</el-button>
                  <el-tag style="margin:10px 0; font-size:16px;" type="danger" v-if="scope.row.reception[0].InvoiceStatus==3">
                      已「作廢發票」無法開立發票
                  </el-tag>
                </div>
                <el-tag style="margin:10px 0; font-size:16px;" type="danger" v-if="scope.row.status==0">
                    付款狀態「未付款」無法開立發票
                </el-tag>
                <el-tag style="margin:10px 0; font-size:16px;" type="danger" v-if="scope.row.reception.length==0&&scope.row.status==-1">
                    付款狀態「取消」無法開立發票
                </el-tag>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="GroupBuyOrder.count"
          :page.sync="GroupBuyOrder.nowpages"
          :limit.sync="GroupBuyOrder.limit"
          @pagination="getgroupbuyorder(GroupBuyOrder.nowpages,search_groupbuyorder)"
        />
    </div>
  <!--開立發票資訊 -->
    <el-dialog
    title="訊息提示"
    :visible.sync="checkgroupbuyreceptionswitch"
    width="30%"
    center
    append-to-body
    >
    <el-result :icon="checkgroupbuyreceptionmessage==true?'success':'error'" :title="checkgroupbuyreceptionmessage==true?'開立發票完成':'開立發票失敗'" :subTitle="checkgroupbuyreceptiontitle">
    </el-result>
    <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="checkgroupbuyreceptionswitch=false">關閉</el-button>
    </span>
    </el-dialog>
  <!--作廢發票資訊 -->
    <el-dialog
    title="訊息提示"
    :visible.sync="checkgroupbuyinvalidreceptionswitch"
    width="30%"
    center
    append-to-body
    >
    <el-result :icon="checkgroupbuyinvalidreceptionmessage==true?'success':'error'" :title="checkgroupbuyinvalidreceptionmessage==true?'作廢發票完成':'作廢發票失敗'" :subTitle="checkgroupbuyinvalidreceptiontitle">
    </el-result>
    <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="checkgroupbuyinvalidreceptionswitch=false">關閉</el-button>
    </span>
    </el-dialog>
  <!--linepay退款資訊 -->
    <el-dialog
    title="訊息提示"
    :visible.sync="checkgroupbuyinvalidlinepayswitch"
    width="30%"
    center
    append-to-body
    >
    <el-result :icon="checkgroupbuyinvalidlinepaymessage==true?'success':'error'" :title="checkgroupbuyinvalidlinepaymessage==true?'linepay退款完成':'linepay退款失敗'" :subTitle="checkgroupbuyinvalidlinepaytitle">
    </el-result>
    <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="checkgroupbuyinvalidlinepayswitch=false">關閉</el-button>
    </span>
    </el-dialog>
  </el-card>
</template>

<script>
import Pagination from '@/components/Pagination'
import { getLineBotInfo } from '@/api/linebot_manager'
import { getGroupBuyOrder,insertgroupbuyreception,invalidgroupbuyreception,checkGroupBuyCoupon,editgroupbuyorder,refundgroupbuylinepay,batchgroupbuyorder,batchgroupbuycoupon } from '@/api/groupbuy_manager'
import { getAdminPremission } from '@/api/premission_manager'
import AddGroupBuyOrder from './AddGroupBuyOrder.vue'
import SearchGroupBuyOrder from './SearchGroupBuyOrder.vue'
import DownloadGroupBuyOrder from './DownloadGroupBuyOrder.vue'
import SearchMemberCoupon from './SearchMemberCoupon.vue'
import SearchMemberInfo from './SearchMemberInfo.vue'
import { deepClone } from '@/utils'
import Cookies from 'js-cookie'

const defaultOrder = {
  partner_id:'',
  order_sn:'',
  groupbuy_id:'',
  mid:'',
  address:'',
  coupon_id:'',
  total:0,
  origin_total:0,
  status:0,
  pay_type:null,
  order_note:'',
  items:[],
  reception_paylog:[],
  reception:[],
  line_pay_paylog:[],
  order_note:'',
  checked:0
}
//搜尋會員票卷
const defaultMemberCoupon = {
  partner_id:'',
  search_member_info:''
}

//搜尋會員info
const defaultMemberInfo = {
  partner_id:'',
  search_member_info:''
}

//開立電子發票
const defaultReception = {
  partner_id:'',
  ecpay_payload:{
		MerchantID: '',
    RelateNumber: '',
    CustomerID:'',
    CustomerIdentifier: '',
    CustomerName: '',
    CustomerAddr: '',
    CustomerPhone: '',
    CustomerEmail: '',
    ClearanceMark: '1',
    Print:'0',
    Donation:'0',
    LoveCode:'',
    CarrierType:'1',
    CarrierNum:'',
    TaxType: '1',
    SalesAmount:0,
    InvoiceRemark:'',
		InvType: '07',
		vat: '1',
		SpecialTaxType:'0',
    Items:[],
  }
}

//作廢發票
const defaultInvalidReception = {
  partner_id:'',
  ecpay_payload:{
		MerchantID: '',
    RelateNumber: '',
    InvoiceNo:'',
    InvoiceDate:'',
    Reason:''
  }
}

//linepay退款
const defaultInvalidlinepay = {
  partner_id:'',
  order_sn:'',
  total:''
}


export default {
  name: "groupbuyOrder",
  components: { AddGroupBuyOrder,Pagination,SearchGroupBuyOrder,DownloadGroupBuyOrder,SearchMemberCoupon,SearchMemberInfo },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
  filters:{
      line_pay_type(status){
      const line_pay_type = {
        0: '付款',
        1: '退款',
      }
      return line_pay_type[status]
    },
      pay_money_status(status){
      const pay_money_status = {
        0: '未付款',
        1: '已付款',
        "-1": '取消'
      }
      return pay_money_status[status]
    },
      pay_money_pay_type(status){
      const pay_money_pay_type = {
        0: '信用卡',
        1: 'ATM',
        2: '超商',
        3: 'line pay',
        4: '現金'
      }
      return pay_money_pay_type[status]
    },
      InvoiceStatus(status){
      const InvoiceStatus = {
        1: '開立成功',
        2: '開立失敗',
        3: '作廢成功'
      }
      return InvoiceStatus[status]
    },
      reception_invoice_paylog(status){
      const reception_invoice_paylog = {
        0: '開立成功',
        1: '開立失敗',
        2: '作廢成功'
      }
      return reception_invoice_paylog[status]
    },
  },
  data(){
    return {
      GroupBuyOrder: [],
      check_admin_premission:[],
      payload:'',
      loading:false,
      GroupBuyOrderLoading:false,
      dialogType:'',
      dialogSearchType:'',
      dialogVisible:false,
      dialogSearchVisible:false,
      dialogDownloadType:'new',
      dialogDownloadVisible:false,
      dialogSearchInfoType:'',
      dialogSearchInfoVisible:false,
      groupbuyorder:Object.assign({}, defaultOrder),
      //開立發票資訊
      checkgroupbuyreceptionswitch:false,
      //開立發票正確與錯誤訊息
      checkgroupbuyreceptionmessage:'',
      //開立發票錯誤訊息內文
      checkgroupbuyreceptiontitle:'',
      //作廢發票資訊
      checkgroupbuyinvalidreceptionswitch:false,
      //作廢發票正確與錯誤訊息
      checkgroupbuyinvalidreceptionmessage:'',
      //作廢發票錯誤訊息內文
      checkgroupbuyinvalidreceptiontitle:'',
      //linepay退款資訊
      checkgroupbuyinvalidlinepayswitch:false,
      //linepay退款正確與錯誤訊息
      checkgroupbuyinvalidlinepaymessage:'',
      //linepay退款錯誤訊息內文
      checkgroupbuyinvalidlinepaytitle:'',
      // 圖片網址位置
      upload_path: '',
      search_groupbuyorder:'',
      show_filter_order_field:['票卷名稱/訂單編號','訂購人資訊','訂購品項','票卷是否審核','訂單備註','訂單成立時間','付款資訊','操作','電子發票'],
      //得知聊天機器人基本資料
      LinebotInfo: [],
      groupbuystatus:true,
      //搜尋選單
      search_menu_switch:'0',
      //下方表格篩選
      search_table_switch:'0',
      //一鍵付款
      one_button_check_switch:'0',
      batch_order:[],
      //一鍵審核
      one_button_coupon_switch:'0',
      //打勾要審核的票卷
      one_button_coupon:[],
      //搜尋會員票卷
      membercoupon:Object.assign({}, defaultMemberCoupon),
      //搜尋會員資訊
      memberinfo:Object.assign({}, defaultMemberInfo),
      //審核
      search_groupbuycoupon:{},
    }
  },
    watch: {
      partner:{
        handler: async function(val, oldVal) {
        if(this.partner!=''){
          // this.getgroupbuyorder()
          await this.chosenPartner()
          if(this.activeTab=='groupbuy_order'){
          // this.getgroupbuyorder()
          await this.getlinebotinfo()
          }
        }
      },
      immediate: true
      },
      activeTab:{
        handler: async function(val, oldVal) {
        if(val=='groupbuy_order'){
          // this.getgroupbuyorder()
          await this.getlinebotinfo()
        }
      },
      immediate: true
      },
      "GroupBuyOrder.list":{
      handler: async function(val, oldVal) {
        console.log("val",val)
      },
      immediate: true
      }
  },
  async mounted() {
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
    // 得知使用者實際擁有權限
    await this.getAdminPremission("團購管理")
    
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        await getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    //搜尋會員票卷按鈕
    searchmembercoupon(row){
      // alert(row)
      this.dialogSearchType = 'search'
      this.dialogSearchVisible = true
      defaultMemberCoupon['partner_id'] = row.partner_id
      defaultMemberCoupon['search_member_info'] = row.real_name
      this.membercoupon = Object.assign({}, defaultMemberCoupon)
    },
    //搜尋會員資訊按鈕
    searchmemberinfo(row){
      // alert(row)
      this.dialogSearchInfoType = 'search'
      this.dialogSearchInfoVisible = true
      defaultMemberInfo['partner_id'] = row.partner_id
      defaultMemberInfo['search_member_info'] = row.mobile
      this.memberinfo = Object.assign({}, defaultMemberInfo)
    },
    //得知聊天機器人基本資料
    getlinebotinfo(){
      var payload = {
          'partner_id':this.partner
      }
      this.LinebotInfo = []
      getLineBotInfo(payload).then(resp => {
            if(resp.data=="查詢成功"){
                defaultReception['ecpay_payload']['MerchantID'] = resp.message[0].MerchantID
                defaultInvalidReception['ecpay_payload']['MerchantID'] = resp.message[0].MerchantID
                this.LinebotInfo = resp.message[0]
                this.groupbuystatus = true
            }
            else{
              this.LinebotInfo.push({
                  'partner_id':this.partner,
                  'name':'',
                  'logo':'',
                  'channel_token':'',
                  'channel_secret':'',
                  'basic_id':'',
                  'qrcode':'',
                  'channel_type':0,
                  'pay_way':[],
                  'show_one_coupon_groupbuy':0,
                  'show_one_coupon_groupbuy_name':'',
                  'pay_way_description':'',
                  'order_description':'',
                  'on_site_description':'',
                  'pay_premission':[],
                  'linebot_liff':'',
                  'check_coupon_premission':0,
                  'check_linebot_notify_premission':0,
                  'MerchantID':'',
                  'pay_hash_key':'',
                  'pay_hash_iv':'',
                  'reception_hash_key':'',
                  'reception_hash_iv':'',
                  'line_pay_channel_id':'',
                  'line_pay_secret_key':'',
                  'agreement':''
              })
              this.LinebotInfo = this.LinebotInfo[0]
              this.$message({
                  message: '請於「Line機器人模組」建立聊天機器人資訊',
                  type: 'error'
              })
              this.groupbuystatus = false
            }
        })
    },
    // 切換所有合作夥伴的團購訂單
    chosenPartner() {
      var query = ''
      defaultOrder['partner_id'] = this.partner
      defaultReception['partner_id'] = this.partner
      defaultInvalidReception['partner_id'] = this.partner
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        // this.groupbuyorder = Object.assign({}, defaultOrder)
        this.search_groupbuyorder = query
      } else {
        this.search_groupbuyorder = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getgroupbuyorder(1, query)
    },
    // 設定搜尋的訂單
    setqueryorder(){
      //判斷目前頁數在哪一頁
      if(Cookies.get('orderpage')==undefined){
        this.getgroupbuyorder(1, this.search_groupbuyorder)
      }
      else{
        this.getgroupbuyorder(Cookies.get('orderpage'), this.search_groupbuyorder)
      }
    },
    // 搜尋所有團購訂單模組
    SearchGroupBuyOrder(query) {
      this.search_groupbuyorder = query

    //   console.log('query', query)
      this.getgroupbuyorder(1,this.search_groupbuyorder)
    },
    //得知團購訂單
    getgroupbuyorder(page,query){
      this.GroupBuyOrder = []
      this.GroupBuyOrderLoading = true
      var payload = ''
      defaultOrder['partner_id'] = this.partner
      if (this.search_groupbuyorder == '') {
        payload = page
      }
      if (this.search_groupbuyorder != '') {
        payload += page + '?' + query
      }
      console.log("before:",Cookies.get('orderpage'))
      //設定目前頁數在哪一頁
      Cookies.set('orderpage',page)
      console.log("after",Cookies.get('orderpage'))
      // this.payload = '1?partner_id=' + this.partner
      getGroupBuyOrder(payload).then(resp => {
        if(resp.success==true){
            this.GroupBuyOrder = resp.data
        }
        this.GroupBuyOrderLoading = false
      })
    },
    //新增訂單
    insertgroupbuyorder(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultOrder['partner_id'] = this.partner
      defaultOrder['items'] = []
      this.groupbuyorder = Object.assign({}, defaultOrder)
    },
    handleEditgroupbuyorder(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      if(scope.row.coupon_id==null){
        scope.row.coupon_id = ''
      }
      // if(this.health.class==scope.row.class){
      //   scope.row.class = scope.row.class
      // }
      // else{
      //   scope.row.class = this.health.class
      // }
      this.groupbuyorder = deepClone(scope.row)
    },
    //匯出訂單
    downloadgroupbuyorder(){
      this.dialogDownloadType = 'download'
      this.dialogDownloadVisible = true
    },
    // 關閉選單狀態
    getOrder_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
    // 關閉匯出選單狀態
    close_Download_export_Order(status,type) {
      this.dialogDownloadVisible = status
      this.dialogDownloadType = type
    },
    //開立電子發票
    handlereception(reception){
      console.log(reception)
      defaultReception['ecpay_payload']['RelateNumber'] = reception.order_sn
      //統一編號
      defaultReception['ecpay_payload']['CustomerIdentifier'] = reception.identifier
      //客戶名稱
      defaultReception['ecpay_payload']['CustomerName'] = reception.real_name
      //客戶地址
      if(reception.address==''){
        reception.address = '無地址'
      }
      defaultReception['ecpay_payload']['CustomerAddr'] = reception.address
      //客戶電話
      defaultReception['ecpay_payload']['CustomerPhone'] = reception.mobile
      //客戶信箱
      defaultReception['ecpay_payload']['CustomerEmail'] = reception.email
      //發票總金額
      defaultReception['ecpay_payload']['SalesAmount'] = reception.total
      //載具類別
      defaultReception['ecpay_payload']['CarrierType'] = reception.carrier_type
      //載具類別(綠界電子發票、自然人憑證、手機條碼)，代表不列印
      if(defaultReception['ecpay_payload']['CarrierType']=='1'||defaultReception['ecpay_payload']['CarrierType']=='2'||defaultReception['ecpay_payload']['CarrierType']=='3'){
        defaultReception['ecpay_payload']['Print'] = '0'
      }
      //載具類別(不使用載具），代表列印
      if(defaultReception['ecpay_payload']['CarrierType']==''){
        defaultReception['ecpay_payload']['Print'] = '1'
      }
      //載具編號
      defaultReception['ecpay_payload']['CarrierNum'] = reception.carrier_num
      //訂購商品
      var index = 0
      //訂購商品變為預設
      defaultReception['ecpay_payload']['Items'] = []
      reception.items.forEach((element,index) => {
        index++
        defaultReception['ecpay_payload']['Items'].push({
            "ItemSeq":index,
            "ItemName":element.groupbuy_shop_name,
            "ItemCount":element.qty,
            "ItemWord":element.groupbuy_shop_productword,
            "ItemPrice":element.price,
            "ItemTaxType":"1",
            "ItemAmount":element.subtotal,
            "ItemRemark":element.groupbuy_shop_Remark
        })
      })
      if(reception.coupon_id!=null){
      reception.groupbuy_coupon.forEach((element,index) => {
        defaultReception['ecpay_payload']['Items'].push({
            "ItemSeq":defaultReception['ecpay_payload']['Items'].length+1,
            "ItemName":element.coupon_name,
            "ItemCount":1,
            "ItemWord":"張",
            "ItemPrice":element.coupon_money,
            "ItemTaxType":"1",
            "ItemAmount":-element.coupon_money*1,
            "ItemRemark":'無'
        })
      })
      }
      defaultReception['ecpay_payload']['CarrierNum'] = reception.carrier_num
      console.log(defaultReception)
      this.$confirm('<span style="font-size:20px;">是否確定開立發票?</span>', '確定開立發票訂單編號「'+reception.order_sn+'」', {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          dangerouslyUseHTMLString:true,
          type: 'warning'
        }).then(async() => {
          insertgroupbuyreception(defaultReception).then(resp => {
            console.log("resp",resp)
            if(resp.success==true){
                this.checkgroupbuyreceptionswitch = true
                this.checkgroupbuyreceptiontitle = ''
                this.checkgroupbuyreceptionmessage = resp.success
                this.getgroupbuyorder(this.GroupBuyOrder.nowpages,this.search_groupbuyorder)
            }
            else{
                this.checkgroupbuyreceptionswitch = true
                this.checkgroupbuyreceptiontitle = resp.message
                this.checkgroupbuyreceptionmessage = resp.success
            }
          })
        }).catch(action => {
          this.$message({
            type: 'info',
            message: '取消開立發票'
          }); 
        })
    },
    //作廢電子發票
    handlereinvalidception(reception){
      this.$prompt('請輸入作廢發票原因?', '確定作廢訂單編號「'+reception.order_sn+'」', {
        inputValue:'商品品項不一樣',
        inputValidator:(value)=>{
            if(!value){
                return '輸入框不能為空值'
            }
        }
        }).then(({ value }) => {
          defaultInvalidReception['ecpay_payload']['RelateNumber'] = reception.order_sn
          defaultInvalidReception['ecpay_payload']['InvoiceNo'] = reception.reception_paylog[0].InvoiceNo
          defaultInvalidReception['ecpay_payload']['InvoiceDate'] = reception.reception_paylog[0].InvoiceDate
          defaultInvalidReception['ecpay_payload']['Reason'] = value
          console.log("650: ",defaultInvalidReception)
          invalidgroupbuyreception(defaultInvalidReception).then(resp => {
            console.log("resp",resp)
            if(resp.success==true){
                this.checkgroupbuyinvalidreceptionswitch = true
                this.checkgroupbuyinvalidreceptiontitle = ''
                this.checkgroupbuyinvalidreceptionmessage = resp.success
            }
            else{
                this.checkgroupbuyinvalidreceptionswitch = true
                this.checkgroupbuyinvalidreceptiontitle = resp.data
                this.checkgroupbuyinvalidreceptionmessage = resp.success
            }
            this.getgroupbuyorder(this.GroupBuyOrder.nowpages,this.search_groupbuyorder)
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消作廢發票'
          });       
        });
    },
    //退款linepay
    handlerefundlinepay(linepay){
      defaultInvalidlinepay['partner_id'] = linepay.partner_id
      defaultInvalidlinepay['order_sn'] = linepay.order_sn
      defaultInvalidlinepay['total'] = linepay.total
      this.$confirm('<span style="font-size:20px;">是否確定linepay退款?</span>', '確定退款訂單編號「'+linepay.order_sn+'」', {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          dangerouslyUseHTMLString:true,
          type: 'warning'
        }).then(async() => {
          refundgroupbuylinepay(defaultInvalidlinepay).then(resp => {
            console.log("resp",resp)
            if(resp.success==true){
                this.checkgroupbuyinvalidlinepayswitch = true
                this.checkgroupbuyinvalidlinepaytitle = ''
                this.checkgroupbuyinvalidlinepaymessage = resp.success
                this.getgroupbuyorder(this.GroupBuyOrder.nowpages,this.search_groupbuyorder)
            }
            else{
                this.checkgroupbuyinvalidlinepayswitch = true
                this.checkgroupbuyinvalidlinepaytitle = resp.message
                this.checkgroupbuyinvalidlinepaymessage = resp.success
            }
          })
        }).catch(action => {
          this.$message({
            type: 'info',
            message: '取消linepay退款'
          }); 
        })
    },
    //打勾要審核的票卷
    checkcoupon(order_list,order_sn){
      var _self = this
       const found =  _self.one_button_coupon.find((el)=>el.id==order_list['id'])
      //  const index =  _self.one_button_coupon.findIndex((el)=>el.id==order_list['id'])
       if(!found){
        order_list['order_sn'] = order_sn
        order_list['partner_id'] = _self.partner
         _self.one_button_coupon.push({
          "id":order_list['id'],
          "order_sn":order_list['order_sn'],
          "product_id":order_list['product_id'],
          "partner_id":order_list['partner_id']
         })
       }
       else{
        _self.one_button_coupon.map((coupon,index)=>{
          console.log('start')
          console.log(index)
          console.log(coupon.id== order_list['id'])
          console.log('end')
          if(coupon.id== order_list['id']){
            _self.one_button_coupon.splice(index,1)
          }
        })
       }
    },
    //一鍵更新所有票卷審核（票卷審核）
    update_batch_coupon(){
      var _self = this
      _self.$confirm('<span style="font-size:20px;">更新此頁面票卷審核?</span>', '是否一鍵更新票卷審核', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        dangerouslyUseHTMLString:true,
        type: 'warning'
      }).then(async() => {
        batchgroupbuycoupon(_self.one_button_coupon).then(resp => {
          if(resp.success==true){
            _self.$message({
              type: 'success',
              message: '一鍵審核票卷資訊成功'
            });
            _self.one_button_coupon = []
            _self.getgroupbuyorder(_self.GroupBuyOrder.nowpages,_self.search_groupbuyorder)
          }else{
            _self.$message({
              type: 'error',
              message: '一鍵審核票卷資訊失敗'
            });
          }
        })
      }).catch(action => {
        _self.$message({
          type: 'info',
          message: '取消一鍵審核票卷資訊'
        }); 
      })
    },
    //一鍵更新所有訂單資訊（付款狀態）
    update_batch_order(){
      var _self = this
      _self.batch_order = []
      _self.$confirm('<span style="font-size:20px;">更新此頁面訂單付款資訊?</span>', '是否一鍵更新訂單資訊', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        dangerouslyUseHTMLString:true,
        type: 'warning'
      }).then(async() => {
        console.log("test")
        _self.GroupBuyOrder.list.forEach((element)=>{
          _self.batch_order.push({
            "order_sn": element.order_sn,
            "pay_type": element.pay_type,
            "status": element.status
          })
        })
        batchgroupbuyorder(_self.batch_order).then(resp => {
          if(resp.success==true){
            _self.$message({
              type: 'success',
              message: '一鍵更新訂單資訊成功'
            });
            _self.getgroupbuyorder(_self.GroupBuyOrder.nowpages,_self.search_groupbuyorder)
          }else{
            _self.$message({
              type: 'error',
              message: '一鍵更新訂單資訊失敗'
            });
          }
        })
      }).catch(action => {
        _self.$message({
          type: 'info',
          message: '取消一鍵更新訂單資訊'
        }); 
      })
    },
    //從會員票卷回到訂單主頁面
    getMemberCoupon_status_dialogtype(status,type,enter_place) {
      if(enter_place=='order'){
        this.dialogSearchVisible = status
        this.dialogSearchType = type
        this.getgroupbuyorder(this.GroupBuyOrder.nowpages,this.search_groupbuyorder)
      }
    },
    //從會員資訊回到訂單主頁面
    getMemberInfo_status_dialogtype(status,type) {
        this.dialogSearchInfoVisible = status
        this.dialogSearchInfoType = type
        this.getgroupbuyorder(this.GroupBuyOrder.nowpages,this.search_groupbuyorder)
    },
    //審核
    checkgroupbuycoupon(row,index){
        var _self = this
        _self.search_groupbuycoupon['partner_id'] = row.partner_id
        _self.search_groupbuycoupon['coupon_order'] = row.order_sn+'+'+row.items[index].product_id
        _self.search_groupbuycoupon['coupon_name'] = row.items[index].groupbuy_shop_name
        var regex = /^[0-9\s]*$/;
      _self.$prompt('請輸入使用張數?', '是否確定審核「'+_self.search_groupbuycoupon['coupon_name']+'」', {
        inputValue:'1',
        inputValidator:(value)=>{
            if(!value){
                return '輸入框不能為空值'
            }
            if(!regex.test(value)){
                return '輸入框必須為數字'
            }
        }
    
        }).then(({ value }) => {
          _self.search_groupbuycoupon['coupon_qty'] = value
          checkGroupBuyCoupon(_self.search_groupbuycoupon).then(resp => {
            console.log("resp",resp.success)
             if(resp.success==true){
                _self.$message({
                  message: resp.message,
                  type: resp.success==true ? 'success':'error'
                })
                _self.getgroupbuyorder(_self.GroupBuyOrder.nowpages,_self.search_groupbuyorder)
             }
             if(resp.success==false){
                _self.$message({
                  message: resp.data,
                  type: resp.success==true ? 'success':'error'
                })
             }
          })
        }).catch(() => {
          _self.$message({
            type: 'info',
            message: '取消審核票卷資訊'
          });       
        });
    }
  }
}
</script>