<template>
  <el-card style="margin-bottom:20px;" v-loading="GroupBuyStaticLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">票卷分析</span>
    </div>
    <!-- {{check_admin_premission}} -->
    <!-- {{GroupBuyGroupLoading}} -->
    <!-- {{GroupBuyGroup}} -->
    <!-- {{groupbuyliffweb}} -->
    <!-- {{GroupBuyOrder.list}} -->
    <div class="user-profile">
        <SearchGroupBuyStatic v-on:SearchGroupStatic="SearchGroupBuyStatic" :partner="partner" v-if='this.check_admin_premission.includes("search_btn")' />
         <!-- {{GroupBuyStatic}} -->
      <el-form status-icon :model="GroupBuyStatic" label-position="center">
        <el-row :gutter="20">
          <div v-for="(GroupBuyStatics,index) in GroupBuyStatic">
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="票卷名稱" v-show="GroupBuyStatic.length!=0">
                <br/>
                <el-tag style="margin:10px 0;font-size:18px;">
                  {{GroupBuyStatic[0].title}}
                </el-tag>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="開始日期/截止日期" v-show="GroupBuyStatic.length!=0">
                <br/>
                <el-tag style="margin:10px 0;font-size:18px;">
                  {{GroupBuyStatic[0].start_at}} - {{GroupBuyStatic[0].end_at}}
                </el-tag>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
              <el-form-item label="票卷商品" v-show="GroupBuyStatic.length!=0">
                <br/>
                  <el-tag style="margin:10px 5px;font-size:18px;" v-for="(item,key) in GroupBuyStatic[0].items" :key="key" v-show="GroupBuyStatic[0].items.length!=0">
                    {{item.title}}
                  </el-tag>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-show="GroupBuyStatic.length!=0">
              <div class="chart-wrapper">
                <pie-chart :GroupBuyStatic="GroupBuyStatic" />
              </div>
            </el-col>
          </div>
        </el-row>
      </el-form>
    </div>
  </el-card>
</template>

<script>
import { getAdminPremission } from '@/api/premission_manager'
import { getGroupBuyStatic } from '@/api/groupbuy_manager'
import SearchGroupBuyStatic from './SearchGroupBuyStatic.vue'
import PieChart from './PieChart.vue'
import { deepClone } from '@/utils'

const defaultGroupBuyStatic = {
  partner_id:'',
  groupbuy_id:''
}

export default {
  name: "groupbuyStatic",
  components: { SearchGroupBuyStatic,PieChart },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
  filters:{

  },
  data(){
    return {
      GroupBuyStatic: [],
      GroupBuyStaticLoading:false,
      check_admin_premission:[],
      // 圖片網址位置
      upload_path: '',
      search_groupbuystatic:''
    }
  },
    watch: {
      partner:{
        handler: function(val, oldVal) {
        if(this.partner!=''){
          // this.getgroupbuyorder()
          // this.chosenPartner()
        }
      },
      immediate: true
      }
  },
  async mounted() {
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
    // 得知使用者實際擁有權限
    await this.getAdminPremission("團購管理")
    
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        await getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 搜尋所有團購分析模組
    SearchGroupBuyStatic(query) {
      this.search_groupbuystatic = query

    //   console.log('query', query)
      this.getgroupbuystatic()
    },
    //得知團購統計分析
    getgroupbuystatic(){
      this.GroupBuyStatic = []
      this.GroupBuyStaticLoading = true
      var payload = ''
      defaultGroupBuyStatic['partner_id'] = this.partner
      defaultGroupBuyStatic['groupbuy_id'] = this.search_groupbuystatic
      // this.payload = '1?partner_id=' + this.partner
      getGroupBuyStatic(defaultGroupBuyStatic['groupbuy_id']).then(resp => {
        if(resp.success==true){
            this.GroupBuyStatic = resp.data
        }
        this.GroupBuyStaticLoading = false
      })
    },
  }
}
</script>