<template>
  <el-card style="margin-bottom:20px;" v-loading="GroupBuyShopLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">票卷商品列表</span>
      <el-button type="primary" icon="el-icon-edit" @click="insertgroupbuyshop" style="float:right;" :disabled="partner==''?true:false">新票卷商品</el-button>
    </div>
    <div class="user-profile">
      <!-- {{GroupBuyShop}} -->
        <AddGroupBuyShop :groupbuyshop="groupbuyshop" :dialogType="dialogType" :dialogVisible="dialogVisible" @getGroupBuyShop="setqueryshop"  @getShop_status_dialogtype="getShop_status_dialogtype" />
        <SearchGroupBuyShop v-on:SearchGroupShop="SearchGroupBuyShop" :partner="partner" v-if='this.check_admin_premission.includes("search_btn")' />
        <span style="marign:20 0;color:red;">下方表格要篩選的資料格式</span>
        <el-checkbox-group v-model="show_filter_shop_field" style="marign:20  0;">
        <el-checkbox label="商品分類/名稱/單位"></el-checkbox>
        <el-checkbox label="商品描述"></el-checkbox>
        <el-checkbox label="圖片"></el-checkbox>
        <el-checkbox label="商品原價/特價"></el-checkbox>
        <el-checkbox label="商品是否上下架"></el-checkbox>
        <el-checkbox label="商品類型"></el-checkbox>
        <el-checkbox label="折抵數量"></el-checkbox>
        <el-checkbox label="票卷類型"></el-checkbox>
        <el-checkbox label="商品接受可付款方式"></el-checkbox>
        <el-checkbox label="商品是否刪除"></el-checkbox>
        <el-checkbox label="商品vip"></el-checkbox>
        <el-checkbox label="商品審核"></el-checkbox>
        <el-checkbox label="商品限制開關/數量"></el-checkbox>
        <el-checkbox label="商品限制開關/總數量"></el-checkbox>
        </el-checkbox-group>
        <el-table :data="GroupBuyShop.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <el-table-column align="center" width="180" label="商品分類/名稱/單位" v-if="this.show_filter_shop_field.includes('商品分類/名稱/單位')">
            <template slot-scope="scope">
                 <el-tag style="margin:10px 0;" 
                 v-if="scope.row.shop_category[0].shop_big_category=='無'&&scope.row.shop_category[0].shop_small_category=='無'">
                    無分類
                  </el-tag>
                 <el-tag style="margin:10px 0;"  v-else>
                    {{ scope.row.shop_category[0].shop_big_category}}>{{scope.row.shop_category[0].shop_small_category}}
                  </el-tag>
                  <br/>
                <el-tag style="margin:10px 0;">{{ scope.row.title}}</el-tag><br/>
                <el-tag style="margin:10px 0;">{{ scope.row.productword}}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="200" label="商品描述" v-if="this.show_filter_shop_field.includes('商品名稱/單位')">
            <template slot-scope="scope">
                {{ scope.row.description}}
            </template>
        </el-table-column>
        <!-- <el-table-column align="center" width="250" label="商品品項">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;" v-if="scope.row.specs.length==0">無額外品項</el-tag>
                <div v-else>
                  <div  v-for="item in scope.row.specs" :key="item.id">
                    <hr/>
                    {{item.product_spec_name}}<br/>
                    {{item.product_spec_price}}(<span style="color:red">{{item.product_spec_sellingprice}}</span>)<br/>
                    <el-tag style="margin:10px 0;" :type="item.on_sale==0?'danger':''">
                      {{item.on_sale | on_sale }}
                    </el-tag>
                    <hr/>
                  </div>
                </div>
            </template>
        </el-table-column> -->
        <el-table-column align="center" width="250" label="圖片" v-if="this.show_filter_shop_field.includes('圖片')">
            <template slot-scope="scope">
                <el-image 
                    :src="upload_path+scope.row.image"
                    v-if="scope.row.image!=null"
                    style="max-width:200px;"
                >
                    <div slot="error" class="image-slot">
                        <i class="el-icon-picture-outline" />
                    </div>
                </el-image>
                <el-tag style="margin:10px 0;" v-else>無圖片</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="170" label="商品原價/特價" v-if="this.show_filter_shop_field.includes('商品原價/特價')">
            <template slot-scope="scope">
              <div v-show="scope.row.price!=0">
              {{ scope.row.price }}
              （
              <span style="color:red" v-if="scope.row.sellingprice==null">無設定特價</span>
              <span v-else>{{scope.row.sellingprice}}</span>
              ）
              </div>
              <!-- <div v-show="scope.row.price==0&&scope.row.sellingprice==0">
                <el-tag style="margin:10px 0;" type="danger">
                  以商品品項價格為主
                </el-tag>
              </div> -->
            </template>
        </el-table-column>
        <el-table-column align="center" width="170" label="商品是否上下架" v-if="this.show_filter_shop_field.includes('商品是否上下架')">
            <template slot-scope="scope">
              <!-- <div v-if="scope.row.specs.length!=0">
                <el-tag style="margin:10px 0;" type="danger">
                  以商品品項上下架為主
                </el-tag>
              </div> -->
              <el-tag style="margin:10px 0;" :type="scope.row.on_sale==0?'danger':''">
              {{ scope.row.on_sale| on_sale }}
              </el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="商品類型" v-if="this.show_filter_shop_field.includes('商品類型')">
            <template slot-scope="scope">
               <el-tag style="margin:10px 0;">
              {{ scope.row.type| type }}
               </el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="130" label="折抵數量" v-if="this.show_filter_shop_field.includes('折抵數量')">
            <template slot-scope="scope">
              <div v-if="scope.row.type==1&&scope.row.kind==0">
               <el-tag style="margin:10px 0;">
              {{ scope.row.option }}
               </el-tag>
              </div>
              <div v-else>
               <el-tag style="margin:10px 0;" type="danger">
                無折抵數量
               </el-tag>
              </div>
            </template>
        </el-table-column>
        <el-table-column align="center" width="130" label="票卷類型" v-if="this.show_filter_shop_field.includes('票卷類型')">
            <template slot-scope="scope">
               <el-tag style="margin:10px 0;" v-if="scope.row.type==1">
              {{ scope.row.kind|kind }}
               </el-tag>
               <el-tag style="margin:10px 0;" v-else type="danger">
                無票卷類型
               </el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="130" label="商品接受可付款方式" v-if="this.show_filter_shop_field.includes('商品接受可付款方式')">
            <template slot-scope="scope">
              <div v-if="scope.row.pay_way.includes('0')">
                <el-tag style="margin:10px 0;">
                  信用卡
                </el-tag>
                <br/>
              </div>
              <div v-if="scope.row.pay_way.includes('1')">
                <el-tag style="margin:10px 0;">
                  ATM
                </el-tag>
                <br/>
               </div>
              <div v-if="scope.row.pay_way.includes('2')">
                <el-tag style="margin:10px 0;">
                  超商
                </el-tag>
                <br/>
              </div>
              <div v-if="scope.row.pay_way.includes('3')">
               <el-tag style="margin:10px 0;">
                Line Pay
               </el-tag>
               <br/>
              </div>
              <div v-if="scope.row.pay_way.includes('4')">
                <el-tag style="margin:10px 0;">
                  現金
                </el-tag>
                <br/>
              </div>
            </template>
        </el-table-column>
        <el-table-column align="center" width="130" label="商品vip" v-if="this.show_filter_shop_field.includes('商品vip')">
            <template slot-scope="scope">
               <el-tag style="margin:10px 0; font-size:20px;" v-if="scope.row.product_vip==0">
                  x
               </el-tag>
               <el-tag style="margin:10px 0; font-size:20px;" v-else type="danger">
                  v
               </el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="130" label="商品審核" v-if="this.show_filter_shop_field.includes('商品審核')">
            <template slot-scope="scope">
               <el-tag style="margin:10px 0; font-size:20px;" v-if="scope.row.product_preview==0">
                  x
               </el-tag>
               <el-tag style="margin:10px 0; font-size:20px;" v-else type="danger">
                  v
               </el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="商品限制開關/數量" v-if="this.show_filter_shop_field.includes('商品限制開關/數量')">
            <template slot-scope="scope">
               <el-tag style="margin:10px 0;">
              {{ scope.row.limit_product| limit_product }}
               </el-tag>
               <br/>
               <div v-show="scope.row.limit_product==1">
               數量限制：
               <el-tag style="margin:10px 0;" type="danger">
                {{ scope.row.limit_product_amount }}
               </el-tag>
               </div>
            </template>
        </el-table-column>
        <el-table-column align="center" label="商品限制開關/總數量" v-if="this.show_filter_shop_field.includes('商品限制開關/總數量')">
            <template slot-scope="scope">
               <el-tag style="margin:10px 0;">
              {{ scope.row.limit_total_product| limit_total_product }}
               </el-tag>
               <br/>
               <div v-show="scope.row.limit_total_product==1">
               數量限制：
               <el-tag style="margin:10px 0;" type="danger">
                {{ scope.row.limit_total_product_amount }}
               </el-tag>
               </div>
            </template>
        </el-table-column>
        <el-table-column align="center" label="商品是否刪除" v-if="this.show_filter_shop_field.includes('商品是否刪除')">
            <template slot-scope="scope">
               <el-tag style="margin:10px 0;" :type="scope.row.disable==1?'danger':''">
              {{ scope.row.disable| disable }}
               </el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="180" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;" :type="scope.row.disable==1?'danger':''" v-show="scope.row.disable==1">
                  已刪除無法編輯檢視
                </el-tag>
                <el-button type="primary" @click="handleEditgroupbuyshop(scope)" style="margin:5px;" :disabled="scope.row.disable==1?true:false">編輯</el-button>
                <el-button type="danger" @click="handledeletegroupbuyshop(scope)" style="margin:5px;" v-show="scope.row.disable==0">刪除</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="GroupBuyShop.count"
          :page.sync="GroupBuyShop.nowpages"
          :limit.sync="GroupBuyShop.limit"
          @pagination="getgroupbuyshop(GroupBuyShop.nowpages,search_groupbuyshop)"
        />
    </div>
  </el-card>
</template>

<script>
import Pagination from '@/components/Pagination'
import { getGroupBuyShop,delgroupbuyshop } from '@/api/groupbuy_manager'
import { getAdminPremission } from '@/api/premission_manager'
import AddGroupBuyShop from './AddGroupBuyShop.vue'
import SearchGroupBuyShop from './SearchGroupBuyShop.vue'
import { deepClone } from '@/utils'
import Cookies from 'js-cookie'

const defaultShop = {
  partner_id:'',
  shop_category_id:'',
  title:'',
  productword:'',
  description:'',
  image:'',
  sellingprice:null,
  price:null,
  // specs:[],
  on_sale:1,
  disable:0,
  type:0,
  option:0,
  kind:0,
  limit_product:0,
  limit_product_amount:0,
  limit_total_product:0,
  limit_total_product_amount:0,
  product_vip:0,
  product_preview:0,
  pay_way:[]
}

export default {
  name: "groupbuyshop",
  components: { AddGroupBuyShop,Pagination,SearchGroupBuyShop },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    },
    dialogType:'new',
    dialogVisible:false,
  },
  filters:{
      on_sale(status){
      const on_sale = {
        0: '下架',
        1: '上架'
      }
      return on_sale[status]
    },
    limit_product(status){
      const limit_product = {
        0: '關閉',
        1: '開啟'
      }
      return limit_product[status]
    },
    limit_total_product(status){
      const limit_total_product = {
        0: '關閉',
        1: '開啟'
      }
      return limit_total_product[status]
    },
      disable(status){
      const disable = {
        0: '未刪除',
        1: '已刪除'
      }
      return disable[status]
    },
      type(status){
      const type = {
        0: '實體',
        1: '票卷'
      }
      return type[status]
    },
      kind(status){
      const kind = {
        0: '一般性票卷',
        1: '月票卷',
        2: '季票卷',
        3: '年票卷',
        4: '半年票卷'
      }
      return kind[status]
    },
  },
  data(){
    return {
      GroupBuyShop: [],
      check_admin_premission:[],
      payload:'',
      loading:false,
      GroupBuyShopLoading:false,
      // 圖片網址位置
      upload_path:'',
      groupbuyshop:Object.assign({}, defaultShop),
      search_groupbuyshop:'',
      show_filter_shop_field:['商品分類/名稱/單位','商品描述','圖片','商品原價/特價','商品是否上下架','商品類型','折抵數量','票卷類型','商品接受可付款方式','商品vip','商品審核'],
    }
  },
    watch: {
      partner:{
        handler: function(val, oldVal) {
        if(this.partner!=''){
          this.chosenPartner()
        }
      },
      immediate: true
      }
  },
  mounted() {
    // 圖片網址位置
    this.GroupBuyShopLoading = true
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
    // 得知使用者實際擁有權限
    this.getAdminPremission("團購管理")
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 搜尋所有團購商品模組
    SearchGroupBuyShop(query) {
      this.search_groupbuyshop = query

    //   console.log('query', query)
      this.getgroupbuyshop(1,this.search_groupbuyshop)
    },
    // 切換所有合作夥伴的團購訂單
    chosenPartner() {
      var query = ''
      defaultShop['partner_id'] = this.partner
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        // this.groupbuyorder = Object.assign({}, defaultOrder)
        this.search_groupbuyshop = query
      } else {
        this.search_groupbuyshop = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getgroupbuyshop(1, query)
    },
    // 設定搜尋的商品
    setqueryshop(){
      //判斷目前頁數在哪一頁
      if(Cookies.get('shoppage')==undefined){
        this.getgroupbuyshop(1, this.search_groupbuyshop)
      }
      else{
        this.getgroupbuyshop(Cookies.get('shoppage'), this.search_groupbuyshop)
      }
    },
    //得知團購商品
    getgroupbuyshop(page,query){
      this.GroupBuyShop = []
      this.GroupBuyShopLoading = true
      var payload = ''
      if (this.search_groupbuyshop == '') {
        payload = page
      }
      if (this.search_groupbuyshop != '') {
        payload += page + '?' + query
      }
      defaultShop['partner_id'] = this.partner
      console.log("before:",Cookies.get('shoppage'))
      //設定目前頁數在哪一頁
      Cookies.set('shoppage',page)
      console.log("after",Cookies.get('shoppage'))
      // this.groupbuyshop = Object.assign({}, defaultShop)
      getGroupBuyShop(payload).then(resp => {
        if(resp.success==true){
            this.GroupBuyShop = resp.data
        }
        this.GroupBuyShopLoading = false
      })
    },
    insertgroupbuyshop(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultShop['partner_id'] = this.partner
      this.groupbuyshop = Object.assign({}, defaultShop)
    },
    handleEditgroupbuyshop(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      // scope.row.specs = []
      // if(this.health.class==scope.row.class){
      //   scope.row.class = scope.row.class
      // }
      // else{
      //   scope.row.class = this.health.class
      // }
      this.groupbuyshop = deepClone(scope.row)
    },
    // 關閉選單狀態
    getShop_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
    // 刪除商品
    handledeletegroupbuyshop(scope) {
      this.$confirm('是否刪除  「' + scope.row.title + '」 此項商品，將無法進行復原?', 'Warning', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      })
        .then(async() => {
          await delgroupbuyshop({ 'id': scope.row.id,'partner_id':this.partner }).then((resp) => {
            this.$message({
              type: 'success',
              message: resp.message
            })
          })
          await this.chosenPartner()
        })
        .catch(err => { console.error(err) })
    },
  }
}
</script>