<template>
  <el-card style="margin-bottom:20px;" v-loading="GroupBuyReceptionLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">團購發票列表</span>
      <!-- <el-button type="primary" icon="el-icon-edit" @click="downloadgroupbuyorder" style="float:right;margin:0px 5px;" :disabled="partner==''?true:false">匯出發票</el-button> -->
      <el-button type="primary" icon="el-icon-edit" @click="insertgroupbuyreception" style="float:right;margin:0px 5px;" :disabled="partner==''?true:false">新發票</el-button>
    </div>
    <div class="user-profile">
      <!-- {{GroupBuyShop}} -->
      <!-- {{dialogNotifyVisible}} -->
        <AddGroupBuyReception :groupbuyreception="groupbuyreception" :dialogType="dialogType" :dialogVisible="dialogVisible" @getGroupBuyReception="chosenPartner" @getReception_status_dialogtype="getReception_status_dialogtype" />
        <SendGroupBuyReception :groupbuyreceptionnotify="groupbuyreceptionnotify" :dialogNotifyType="dialogNotifyType" :dialogNotifyVisible="dialogNotifyVisible" @getReception_Notify_status_dialogtype="getNotifyReception_status_dialogtype" />
        <!-- <DownloadGroupBuyOrder :dialogDownloadType="dialogDownloadType" :dialogDownloadVisible="dialogDownloadVisible" :partner="partner" @close_Download_export_Order="close_Download_export_Order" /> -->
        <!-- <SearchGroupBuyOrder v-on:SearchGroupOrder="SearchGroupBuyOrder" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' /> -->
        <el-table v-loading="GroupBuyReceptionLoading" :data="GroupBuyReception.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <el-table-column type="expand">
            <template slot-scope="scope">
            <el-form label-position="left" class="demo-table-expand">
                <el-divider>訂購使用者資訊</el-divider>
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                        <el-form-item label="客戶名稱">
                            <span style="font-size:20px;">{{ scope.row.CustomerName }}</span>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                        <el-form-item label="客戶地址">
                            <span style="font-size:20px;">{{ scope.row.CustomerAddr }}</span>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                        <el-form-item label="客戶電話">
                            <span style="font-size:20px;">{{ scope.row.CustomerPhone }}</span>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                        <el-form-item label="客戶信箱">
                            <span style="font-size:20px;">{{ scope.row.CustomerEmail}}</span>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                        <el-form-item label="訂單編號">
                            <span style="font-size:20px;">{{ scope.row.RelateNumber }}</span>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                        <el-form-item label="公司統編">
                            <span style="font-size:20px;">{{ scope.row.CustomerIdentifier }}</span>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <el-form class="demo-table-expand">
                <el-divider>訂購明細資訊</el-divider>
                <div v-for="(order_list,index) in scope.row.items">
                    <el-row :gutter="20">
                        <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                            <el-form-item  label="商品名稱/數量(品項)">
                                <!-- {{ customer }} -->
                                <!-- <span style="font-size:20px;">{{ customer.rdata.member_name }}</span> -->
                                <span style="font-size:20px;">
                                    <el-tag style="margin:10px 0;font-size:18px;" type="danger">
                                    {{order_list.ItemName}}
                                    </el-tag>
                                    *
                                    <el-tag style="margin:10px 0;font-size:18px;" type="danger">
                                    {{ order_list.ItemCount }}（{{ order_list.ItemWord}}）
                                    </el-tag>
                                </span>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                            <el-form-item label="商品小計">
                                <!-- {{ customer }} -->
                                <span style="font-size:20px;">
                                    <el-tag type="danger" v-if="order_list.ItemTaxType=='1'">（應稅）</el-tag>
                                    <el-tag v-if="order_list.ItemTaxType=='2'">（零稅率）</el-tag>
                                    <el-tag v-if="order_list.ItemTaxType=='3'">（免稅）</el-tag>
                                    {{ order_list.ItemPrice }} * {{ order_list.ItemCount }} = {{ order_list.ItemAmount }} 
                                </span>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </div>
                <el-form-item label="總計(含稅)">
                    <span style="font-size:25px; color:red; text-decoration: underline;">
                        {{scope.row.SalesAmount}}
                    </span>
                </el-form-item>
            </el-form>
            <el-form class="demo-table-expand">
                <el-divider>發票異動資訊</el-divider>
                <div v-for="(paylog_list,index) in scope.row.paylog">
                    <el-row :gutter="20">
                        <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                            <el-form-item  label="異動狀態">
                                <!-- {{ customer }} -->
                                <!-- <span style="font-size:20px;">{{ customer.rdata.member_name }}</span> -->
                                <span style="font-size:20px;">
                                    <el-tag style="margin:10px 0;font-size:18px;" type="danger">
                                    {{paylog_list.reception_invoice_paylog|reception_invoice_paylog}}
                                    </el-tag>
                                </span>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                            <el-form-item label="異動原因" v-if="paylog_list.reception_invoice_paylog=='2'">
                                <!-- {{ customer }} -->
                                <span style="font-size:20px; color:red;">
                                    {{paylog_list.Reason}}
                                </span>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </div>
            </el-form>
            </template>
        </el-table-column>
        <el-table-column align="center" width="180" label="訂單編號">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;">
                  {{ scope.row.RelateNumber }}
                </el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="160" label="訂購人資訊">
            <template slot-scope="scope">
                {{ scope.row.CustomerName}}<br/>
                {{ scope.row.CustomerPhone}}<br/>
                {{ scope.row.CustomerEmail}}
            </template>
        </el-table-column>
        <el-table-column align="center"  label="載具方式">
            <template slot-scope="scope">
                {{ scope.row.CarrierType|CarrierType}}<br/>
                <div v-if="scope.row.CarrierNum!=null" style="color:red;">
                {{ scope.row.CarrierNum}}
                </div>
                <div v-if="scope.row.CarrierNum==null">
                無載具編號
                </div>
            </template>
        </el-table-column>
        <el-table-column align="center"  label="發票總金額">
            <template slot-scope="scope">
                <span style="font-size:18px; color:red;">
                {{ scope.row.SalesAmount}}
                </span>
            </template>
        </el-table-column>
        <el-table-column align="center"  label="發票資訊">
            <template slot-scope="scope">
                <div  style="font-size:18px; color:red;">
                  {{ scope.row.paylog[0].InvoiceNo}}<br/>
                  {{ scope.row.paylog[0].RandomNumber}}<br/>
                </div>
                {{ scope.row.paylog[0].InvoiceDate}}
            </template>
        </el-table-column>
        <el-table-column align="center" width="120" label="列印註記">
            <template slot-scope="scope">
                <el-tag :type="scope.row.Print=='0'?'':'danger'">{{ scope.row.Print|Print}}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center"  width="130"  label="發票開立狀態">
            <template slot-scope="scope">
                <el-tag :type="scope.row.InvoiceStatus=='1'?'':'danger'">{{ scope.row.InvoiceStatus|InvoiceStatus}}</el-tag><br/>
            </template>
        </el-table-column>
        <el-table-column align="center" width="150"  label="作廢發票">
            <template slot-scope="scope">
              <el-button type="danger" @click="invalid_reception_issue(scope.row)" :disabled="scope.row.InvoiceStatus==3?true:false">作廢發票</el-button>
            </template>
        </el-table-column>
        <el-table-column align="center" width="150"  label="補寄通知">
            <template slot-scope="scope">
              <el-button type="info" @click="send_reception_notify(scope.row)">補寄通知</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="GroupBuyReception.count"
          :page.sync="GroupBuyReception.nowpages"
          :limit.sync="GroupBuyReception.limit"
          @pagination="getgroupbuyreception(GroupBuyReception.nowpages,search_groupbuyreception)"
        />
    </div>
  </el-card>
</template>

<script>
import Pagination from '@/components/Pagination'
import { getGroupBuyReception } from '@/api/groupbuy_manager'
import { getLineBotInfo } from '@/api/linebot_manager'
import { getAdminPremission } from '@/api/premission_manager'
import AddGroupBuyReception from './AddGroupBuyReception.vue'
import SearchGroupBuyOrder from './SearchGroupBuyOrder.vue'
import SendGroupBuyReception from './SendGroupBuyReception.vue'
import DownloadGroupBuyOrder from './DownloadGroupBuyOrder.vue'
import { deepClone } from '@/utils'
import { invalidgroupbuyreception } from '@/api/groupbuy_manager'

const defaultReception = {
  partner_id:'',
  ecpay_payload:{
		MerchantID: '',
    RelateNumber: '',
    CustomerID:'',
    CustomerIdentifier: '',
    CustomerName: '',
    CustomerAddr: '',
    CustomerPhone: '',
    CustomerEmail: '',
    ClearanceMark: '1',
    Print:'0',
    Donation:'0',
    LoveCode:'',
    CarrierType:'1',
    CarrierNum:'',
    TaxType: '1',
    SalesAmount:0,
    InvoiceRemark:'',
		InvType: '07',
		vat: '1',
		SpecialTaxType:'0',
    Items:[]
  }
}

//作廢發票
const defaultInvalidReception = {
  partner_id:'',
  ecpay_payload:{
		MerchantID: '',
    RelateNumber: '',
    InvoiceNo:'',
    InvoiceDate:'',
    Reason:''
  }
}

//補寄通知
const defaultReceptionNotify = {
  partner_id:'',
  ecpay_payload:{
		MerchantID: '',
    InvoiceNo: '',
    AllowanceNo:'',
    Phone:'',
    NotifyMail:'',
    // A:皆通知,E:電子郵件,S:簡訊
    Notify:'',
    //I: 發票開立,II: 發票作廢,AW: 發票中獎
    InvoiceTag:'',
    //A: 皆發送通知,M: 發送通知給特店,C: 發送通知給客戶
    Notified:''
  }
}

export default {
  name: "groupbuyReception",
  components: { AddGroupBuyReception,Pagination,SearchGroupBuyOrder,DownloadGroupBuyOrder,SendGroupBuyReception },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
  filters:{
      InvoiceStatus(status){
      const InvoiceStatus = {
        1: '開立成功',
        2: '開立失敗',
        3: '作廢成功'
      }
      return InvoiceStatus[status]
    },
      reception_invoice_paylog(status){
      const reception_invoice_paylog = {
        0: '開立成功',
        1: '開立失敗',
        2: '作廢成功'
      }
      return reception_invoice_paylog[status]
    },
      Print(status){
      const Print = {
        0: '不列印',
        1: '要列印',
      }
      return Print[status]
    },
      CarrierType(status){
      const CarrierType = {
        null:'無載具',
        '': '無載具',
        1: '綠界電子發票載具',
        2: '自然人憑證號碼',
        3: '手機條碼載具',
      }
      return CarrierType[status]
    },
      CarrierNum(status){
      const CarrierNum = {
        null:'無載具編號',
      }
      return CarrierNum[status]
    }
  },
  data(){
    return {
      GroupBuyReception: [],
      check_admin_premission:[],
      payload:'',
      loading:false,
      GroupBuyReceptionLoading:false,
      //新發票
      dialogType:'',
      dialogVisible:false,
      dialogDownloadType:'',
      dialogDownloadVisible:false,
      //補寄通知
      dialogNotifyType:'',
      dialogNotifyVisible:false,
      //新發票
      groupbuyreception:Object.assign({}, defaultReception),
      //補寄通知
      groupbuyreceptionnotify:Object.assign({}, defaultReceptionNotify),
      // 圖片網址位置
      upload_path: '',
      search_groupbuyreception:''
    }
  },
    watch: {
      partner:{
        handler: function(val, oldVal) {
        if(this.partner!=''){
          // this.getgroupbuyorder()
          //得知聊天機器人基本資料
          this.getlinebotinfo()
          this.chosenPartner()
        }
      },
      immediate: true
      },
      // activeTab:{
      //   handler: function(val, oldVal) {
      //   if(this.activeTab=='groupbuy_reception'){
      //     // this.getgroupbuyorder()
      //     //得知聊天機器人基本資料
      //     this.getlinebotinfo()
      //     this.chosenPartner()
      //   }
      // },
      // immediate: true
      // }
  },
  async mounted() {
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
    // 得知使用者實際擁有權限
    await this.getAdminPremission("團購管理")
    
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        await getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    //得知聊天機器人基本資料
    getlinebotinfo(){
      this.payload = {
          'partner_id':this.partner
      }
      getLineBotInfo(this.payload).then(resp => {
            if(resp.data=="查詢成功"){
                defaultReception['ecpay_payload']['MerchantID'] = resp.message[0].MerchantID
                defaultInvalidReception['ecpay_payload']['MerchantID'] = resp.message[0].MerchantID
                defaultReceptionNotify['ecpay_payload']['MerchantID'] = resp.message[0].MerchantID
            }
        })
    },
    // 切換所有合作夥伴的團購發票
    chosenPartner() {
      var query = ''
      defaultReception['partner_id'] = this.partner
      defaultInvalidReception['partner_id'] = this.partner
      defaultReceptionNotify['partner_id'] = this.partner
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        // this.groupbuyorder = Object.assign({}, defaultOrder)
        this.search_groupbuyreception = query
      } else {
        this.search_groupbuyreception = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getgroupbuyreception(1, query)
    },
    // 搜尋所有團購發票模組
    SearchGroupBuyReception(query) {
      this.search_groupbuyreception = query

    //   console.log('query', query)
      this.getgroupbuyreception(1,this.search_groupbuyreception)
    },
    //得知團購發票
    getgroupbuyreception(page,query){
      this.GroupBuyReception = []
      this.GroupBuyReceptionLoading = true
      var payload = ''
      defaultReception['partner_id'] = this.partner
      if (this.search_groupbuyreception == '') {
        payload = page
      }
      if (this.search_groupbuyreception != '') {
        payload += page + '?' + query
      }
      // this.payload = '1?partner_id=' + this.partner
      getGroupBuyReception(payload).then(resp => {
        if(resp.success==true){
            this.GroupBuyReception = resp.data
        }
        this.GroupBuyReceptionLoading = false
      })
    },
    insertgroupbuyreception(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultReception['partner_id'] = this.partner
      this.groupbuyreception = Object.assign({}, defaultReception)
    },
    handleEditgroupbuyreception(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      // if(this.health.class==scope.row.class){
      //   scope.row.class = scope.row.class
      // }
      // else{
      //   scope.row.class = this.health.class
      // }
      this.groupbuyreception = deepClone(scope.row)
    },
    //匯出訂單
    downloadgroupbuyreception(){
      this.dialogDownloadType = 'edit'
      this.dialogDownloadVisible = true
    },
    // 關閉選單狀態
    getReception_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
    // 關閉選單狀態
    getNotifyReception_status_dialogtype(status,type){
      this.dialogNotifyVisible = status
      this.dialogNotifyType = type
    },
    // 關閉匯出選單狀態
    close_Download_export_Reception(status,type) {
      this.dialogDownloadVisible = status
      this.dialogDownloadType = type
    },
    invalid_reception_issue(reception){
      this.$prompt('請輸入作廢發票原因?', '確定作廢訂單編號「'+reception.RelateNumber+'」', {
        }).then(({ value }) => {
          defaultInvalidReception['ecpay_payload']['RelateNumber'] = reception.RelateNumber
          defaultInvalidReception['ecpay_payload']['InvoiceNo'] = reception.paylog[0].InvoiceNo
          defaultInvalidReception['ecpay_payload']['InvoiceDate'] = reception.paylog[0].InvoiceDate
          defaultInvalidReception['ecpay_payload']['Reason'] = value
          console.log("432: ",defaultInvalidReception)
          invalidgroupbuyreception(defaultInvalidReception).then(resp => {
            console.log("resp",resp)
            this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
            })
            this.chosenPartner()
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '取消作廢發票'
          });       
        });
    },
    send_reception_notify(reception){
      defaultReceptionNotify['ecpay_payload']['InvoiceNo'] = reception.paylog[0].InvoiceNo
      defaultReceptionNotify['ecpay_payload']['Phone'] = reception.CustomerPhone
      defaultReceptionNotify['ecpay_payload']['NotifyMail'] = reception.CustomerEmail
      // A:皆通知,E:電子郵件,S:簡訊
      defaultReceptionNotify['ecpay_payload']['Notify'] = 'A'
      //I: 發票開立,II: 發票作廢,AW: 發票中獎
      //開立成功（發票開立）
      if(reception.InvoiceStatus==1){
        defaultReceptionNotify['ecpay_payload']['InvoiceTag'] = 'I'
      }
      //I: 發票開立,II: 發票作廢,AW: 發票中獎
      //作廢成功（發票作廢）
      if(reception.InvoiceStatus==3){
        defaultReceptionNotify['ecpay_payload']['InvoiceTag'] = 'II'
      }
      //A: 皆發送通知,M: 發送通知給特店,C: 發送通知給客戶
      defaultReceptionNotify['ecpay_payload']['Notified'] = 'C'
      this.dialogNotifyType = 'new'
      this.dialogNotifyVisible = true
      this.groupbuyreceptionnotify = Object.assign({}, defaultReceptionNotify)
      console.log(this.groupbuyreceptionnotify)
    }
  }
}
</script>