<template>
  <el-card style="margin-bottom:20px;" v-loading="GroupBuyGroupLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">票卷開團列表</span>
      <el-button type="primary" icon="el-icon-edit" @click="insertgroupbuygroup" style="float:right;" :disabled="partner==''?true:false" v-show="groupbuyliffwebstatus==true">新票卷開團</el-button>
    </div>
    <!-- {{check_admin_premission}} -->
    <!-- {{GroupBuyGroupLoading}} -->
    <!-- {{GroupBuyGroup}} -->
    <!-- {{groupbuyliffweb}} -->
    <div class="user-profile">
      <!-- {{GroupBuyGroup.list}} -->
      
        <AddGroupBuyGroup :groupbuygroup="groupbuygroup" :dialogType="dialogType" :dialogVisible="dialogVisible" @getGroupBuyGroup="chosenPartner" @getGroup_status_dialogtype="getGroup_status_dialogtype" />
        <SearchGroupBuyGroup v-on:SearchGroup="SearchGroupBuyGroup" :partner="partner" v-if='this.check_admin_premission.includes("search_btn")' />
        <el-table :data="GroupBuyGroup.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <el-table-column type="expand">
            <template slot-scope="scope">
            <el-form label-position="left" class="demo-table-expand">
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                        <el-form-item label="開團商品">
                          <div v-if="scope.row.items.length!=0">
                            <br/>
                            <el-col :xs="8" :sm="8" :lg="8" :xl="8" v-for="item in scope.row.items" :key="item.id">
                            <!-- <div  v-for="item in scope.row.items" :key="item.id"> -->
                              <!-- <el-image
                                  style="max-width:200px;"
                                  :src="upload_path+item.product_image"
                                  fit="fit"
                                  v-show="item.product_image!=null"
                                  >
                                  <div slot="error" class="image-slot">
                                      <i class="el-icon-picture-outline"></i>
                                  </div>
                              </el-image>
                              <div  v-show="item.product_image!=null">
                                  <br/>
                              </div> -->
                              <el-tag style="margin:10px 0;">
                                {{item.product_title}}
                              </el-tag>
                              <el-tag type="danger" style="margin:10px;" v-if="item.product_vip==1">
                                vip
                              </el-tag>
                              <el-tag type="danger" style="margin:10px;" v-if="item.product_preview==1">
                                需審核
                              </el-tag>
                            <!-- </div> -->
                            </el-col>
                          </div>
                          <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-else>
                          <el-tag style="margin:10px 0;" type="danger" >
                              無設定開團商品
                          </el-tag>
                          </el-col>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                      <el-form-item label="開團商品-每項購買數量">
                        <div v-if="scope.row.limit_amount_items.length!=0">
                          <br/>
                          <el-col :xs="8" :sm="8" :lg="8" :xl="8" v-for="item in scope.row.limit_amount_items" :key="item.id">
                            <el-tag style="margin:10px 0;">
                              {{item.product_title}}
                            </el-tag>
                            <el-tag type="danger" style="margin:10px;" v-if="item.product_vip==1">
                              vip
                            </el-tag>
                            <el-tag type="danger" style="margin:10px;" v-if="item.product_preview==1">
                              需審核
                            </el-tag>
                            <br/>
                            總購買數量限制：
                            <el-tag type="danger" style="margin:10px 0;">
                              {{item.amount}}
                            </el-tag>
                          </el-col>
                        </div>
                        <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-else>
                        <el-tag style="margin:10px 0;" type="danger">
                            無設定-每項購買數量
                        </el-tag>
                        </el-col>
                      </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                      <el-form-item label="開團商品-每項購買總量">
                        <div v-if="scope.row.limit_total_amount_items.length!=0">
                          <br/>
                          <el-col :xs="8" :sm="8" :lg="8" :xl="8" v-for="item in scope.row.limit_total_amount_items" :key="item.id">
                            <el-tag style="margin:10px 0;">
                              {{item.product_title}}
                            </el-tag>
                            <el-tag type="danger" style="margin:10px;" v-if="item.product_vip==1">
                              vip
                            </el-tag>
                            <el-tag type="danger" style="margin:10px;" v-if="item.product_preview==1">
                              需審核
                            </el-tag>
                            <br/>
                            總購買總量限制：
                            <el-tag type="danger" style="margin:10px 0;">
                              {{item.total_amount}}
                            </el-tag>
                          </el-col>
                        </div>
                        <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-else>
                        <el-tag style="margin:10px 0;" type="danger">
                            無設定-每項購買總量
                        </el-tag>
                        </el-col>
                      </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                        <el-form-item label="開團注意事項">
                          <br/>
                            <div style="font-size:15px;" v-html="scope.row.description">
                            </div>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            </template>
        </el-table-column>
        <el-table-column align="center" label="開團名稱/前端顯示狀態">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;">{{ scope.row.title}}</el-tag><br/>
                <el-tag style="margin:10px 0;" :type="scope.row.on_sale==0?'danger':''">
                  {{ scope.row.on_sale | on_sale }}
                </el-tag>
            </template>
        </el-table-column>
        <!-- <el-table-column align="center" label="開團商品">
            <template slot-scope="scope">
                <div v-if="scope.row.items.length!=0">
                  <div  v-for="item in scope.row.items" :key="item.id">
                    <hr/>
                    <el-image
                        style="max-width:200px;"
                        :src="upload_path+item.product_image"
                        fit="fit"
                        v-show="item.product_image!=null"
                        >
                        <div slot="error" class="image-slot">
                            <i class="el-icon-picture-outline"></i>
                        </div>
                    </el-image>
                    <div  v-show="item.product_image!=null">
                        <br/>
                    </div>
                    <el-tag style="margin:10px 0;">
                      {{item.product_title}}
                    </el-tag>
                    <el-tag type="danger" style="margin:10px;" v-if="item.product_vip==1">
                      vip
                    </el-tag>
                    <el-tag type="danger" style="margin:10px;" v-if="item.product_preview==1">
                      需審核
                    </el-tag>
                    <hr/>
                  </div>
                </div>
                <el-tag style="margin:10px 0;" type="danger" v-else>
                    無設定開團商品
                </el-tag>
            </template>
        </el-table-column> -->
        <!-- <el-table-column align="center" label="開團商品-每項購買數量">
            <template slot-scope="scope">
                <div v-if="scope.row.limit_amount_items.length!=0">
                  <div  v-for="item in scope.row.limit_amount_items" :key="item.id">
                    <hr/>
                    <el-tag style="margin:10px 0;">
                      {{item.product_title}}
                    </el-tag>
                    <el-tag type="danger" style="margin:10px;" v-if="item.product_vip==1">
                      vip
                    </el-tag>
                    <el-tag type="danger" style="margin:10px;" v-if="item.product_preview==1">
                      需審核
                    </el-tag>
                    <br/>
                    總購買數量限制：
                    <el-tag type="danger" style="margin:10px 0;">
                      {{item.amount}}
                    </el-tag>
                    <hr/>
                  </div>
                </div>
                <el-tag style="margin:10px 0;" type="danger" v-else>
                    無設定-每項購買數量
                </el-tag>
            </template>
        </el-table-column> -->
        <!-- <el-table-column align="center" label="開團商品-每項購買總量">
            <template slot-scope="scope">
                <div v-if="scope.row.limit_total_amount_items.length!=0">
                  <div  v-for="item in scope.row.limit_total_amount_items" :key="item.id">
                    <hr/>
                    <el-tag style="margin:10px 0;">
                      {{item.product_title}}
                    </el-tag>
                    <el-tag type="danger" style="margin:10px;" v-if="item.product_vip==1">
                      vip
                    </el-tag>
                    <el-tag type="danger" style="margin:10px;" v-if="item.product_preview==1">
                      需審核
                    </el-tag>
                    <br/>
                    總購買總量限制：
                    <el-tag type="danger" style="margin:10px 0;">
                      {{item.total_amount}}
                    </el-tag>
                    <hr/>
                  </div>
                </div>
                <el-tag style="margin:10px 0;" type="danger" v-else>
                    無設定-每項購買總量
                </el-tag>
            </template>
        </el-table-column> -->
        <el-table-column align="center" label="開始及截止時間">
            <template slot-scope="scope">
                <el-tag plain style="margin:2px auto;">
                {{ scope.row.start_at }}
                </el-tag>
                <br>
                ▼
                <br>
                <el-tag plain style="margin:2px auto;">
                {{ scope.row.end_at }}
                </el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
                <el-tooltip placement="top">
                <div slot="content">
                    {{ generateGroupCode(scope.row.groupbuy_id) }}
                </div>
                <el-button type="primary" @click="handleClipboard(generateGroupCode(scope.row.groupbuy_id),$event)" v-show="groupbuyliffwebstatus==true">複製票卷號碼</el-button>
                </el-tooltip>
                <br/>
                <el-button type="primary" @click="handleEditgroupbuygroup(scope)" style="margin:5px;" v-show="groupbuyliffwebstatus==true">編輯</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="GroupBuyGroup.count"
          :page.sync="GroupBuyGroup.nowpages"
          :limit.sync="GroupBuyGroup.limit"
          @pagination="getgroupbuygroup(GroupBuyGroup.nowpages,search_groupbuygroup)"
        />
    </div>
  </el-card>
</template>

<script>
import Pagination from '@/components/Pagination'
import clipboard from '@/utils/clipboard'
import { getGroupBuyGroup } from '@/api/groupbuy_manager'
import { getLineBotInfo } from '@/api/linebot_manager'
import { getAdminPremission } from '@/api/premission_manager'
import AddGroupBuyGroup from './AddGroupBuyGroup.vue'
import SearchGroupBuyGroup from './SearchGroupBuyGroup.vue'
import { deepClone } from '@/utils'

const defaultGroup = {
  partner_id:'',
  title:'',
  description:'',
  start_at:'',
  end_at:'',
  on_sale:1,
  // kind:0,
  items:[],
  limit_amount_items:[],
  limit_total_amount_items:[],
}

export default {
  name: "groupbuyGroup",
  components: { AddGroupBuyGroup,Pagination,SearchGroupBuyGroup },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    },
    dialogType:'new',
    dialogVisible:false,
  },
  filters:{
      on_sale(status){
      const on_sale = {
        0: '未開啟',
        1: '已開啟'
      }
      return on_sale[status]
    },
    //   kind(status){
    //   const kind = {
    //     0: '現場取',
    //     1: '寄送'
    //   }
    //   return kind[status]
    // },
  },
  data(){
    return {
      GroupBuyGroup: [],
      check_admin_premission:[],
      payload:'',
      loading:false,
      GroupBuyGroupLoading:false,
      groupbuygroup:Object.assign({}, defaultGroup),
      // 圖片網址位置
      upload_path: '',
      groupbuyliffweb:'',
      groupbuyliffwebstatus:true,
      search_groupbuygroup:''
    }
  },
    watch: {
      partner:{
        handler: function(val, oldVal) {
        if(this.partner!=''){
          this.chosenPartner()
          if(this.activeTab=='groupbuy_group'){
            // 得知群組liff網址
            this.getgroupbuyliff()
          }
        }
      },
      immediate: true
      },
      activeTab:{
        handler: async function(val, oldVal) {
        if(val=='groupbuy_group'){
          // 得知群組liff網址
          await this.getgroupbuyliff()
        }
      },
      immediate: true
      },
  },
  async mounted() {
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
    // 得知使用者實際擁有權限
    await this.getAdminPremission("團購管理")
    
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        await getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    //複製團號
    generateGroupCode(groupbuy_id) {
      return this.groupbuyliffweb+'/?id='+groupbuy_id
    },
    //複製團號提示訊息
    handleClipboard(text, event) {
      clipboard(text, event)
    },
    // 切換所有合作夥伴的團購商品
    chosenPartner() {
      var query = ''
      defaultGroup['partner_id'] = this.partner
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        // this.groupbuyorder = Object.assign({}, defaultOrder)
        this.search_groupbuygroup = query
      } else {
        this.search_groupbuygroup = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getgroupbuygroup(1, query)
    },
    // 搜尋所有團購商品模組
    SearchGroupBuyGroup(query) {
      this.search_groupbuygroup = query

    //   console.log('query', query)
      this.getgroupbuygroup(1,this.search_groupbuygroup)
    },
    //得知團購開團
    getgroupbuygroup(page,query){
      this.GroupBuyGroup = []
      this.GroupBuyGroupLoading = true
      var payload = ''
      if (this.search_groupbuygroup == '') {
        payload = page
      }
      if (this.search_groupbuygroup != '') {
        payload += page + '?' + query
      }
      defaultGroup['partner_id'] = this.partner
      // this.groupbuyGroup = Object.assign({}, defaultGroup)
      getGroupBuyGroup(payload).then(resp => {
        if(resp.success==true){
            this.GroupBuyGroup = resp.data
        }
        this.GroupBuyGroupLoading = false
      })
    },
    insertgroupbuygroup(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultGroup['partner_id'] = this.partner
      this.groupbuygroup = Object.assign({}, defaultGroup)
    },
    handleEditgroupbuygroup(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      // if(this.health.class==scope.row.class){
      //   scope.row.class = scope.row.class
      // }
      // else{
      //   scope.row.class = this.health.class
      // }
      this.groupbuygroup = deepClone(scope.row)
    },
    // 關閉選單狀態
    getGroup_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
    //得知合作夥伴liff網址
    getgroupbuyliff(){
      this.payload = {
          'partner_id':this.partner
      }
      getLineBotInfo(this.payload).then(resp => {
        if(resp.data=="查詢成功"){
          if(resp.message[0]['linebot_liff']!=null){
            this.groupbuyliffweb = resp.message[0]['linebot_liff']
            this.groupbuyliffwebstatus = true
          }
          else{
            this.groupbuyliffweb = ''
            this.$message({
                message: '請於「Line機器人模組」設定機器人LIFF網址',
                type: 'error'
            })
            this.groupbuyliffwebstatus = false
          }
        }
        else{
            this.groupbuyliffweb = ''
            this.$message({
                message: '請於「Line機器人模組」建立聊天機器人資訊',
                type: 'error'
            })
            this.groupbuyliffwebstatus = false
        }
      })
    }
  }
}
</script>