<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span style="color:red;">票卷審核列表</span>
            <!-- 直接在內部搜尋完畢審核 -->
            <el-button type="primary" icon="el-icon-search" @click="searchmembercoupon" style="float:right;" :disabled="partner==''?true:false">搜尋會員票卷</el-button>
    </div>
    <div class="user-profile">
      <SearchGroupBuyCoupon v-on:SearchGroupBuyCoupon="SearchGroupBuyCoupon" :partner="partner" v-if='this.check_admin_premission.includes("search_btn")' />
      <SearchMemberCoupon :enter_place="'coupon'" :membercoupon="membercoupon" :dialogSearchType="dialogSearchType" :dialogSearchVisible="dialogSearchVisible" @getMemberCoupon_status_dialogtype="getMemberCoupon_status_dialogtype" />
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="18" :xl="18" v-for="(item,index) in GroupBuyCoupon" :key="index" v-show="GroupBuyCoupon.length!=0" style="margin:auto;">
              <!-- {{item}} -->
                <el-card shadow="hover" class="box-card" style="margin:15px 0;">
                <div slot="header" class="clearfix">
                    <span style="fon-size:18px;color:red;">票卷資訊</span><br/>
                    <span style="fon-size:18px;color:red;font-size:18px;">
                      #{{item.order_sn}}
                    </span>
                            <!-- {{checkgroupbuycouponmessage}}
                            {{search_groupbuycoupon}} -->
                            <!-- {{checkgroupbuycouponswitch}}
                            {{checkgroupbuycoupontitle }} -->
                </div>
                <div style="margin-bottom:10px;text-align:center;">
                    <el-avatar 
                    size="large"
                    :src="item.avatar"
                    v-if="item.avatar!=null"
                    >
                    </el-avatar>
                    <el-descriptions title="會員信息">
                        <el-descriptions-item label="使用者"><span style="font-size:18px;">{{item.real_name}}</span></el-descriptions-item>
                        <el-descriptions-item label="手機號碼"><span style="font-size:18px;">{{item.mobile}}</span></el-descriptions-item>
                        <el-descriptions-item label="信箱"><span style="font-size:18px;">{{item.email}}</span></el-descriptions-item>
                    </el-descriptions>
                    <el-descriptions title="使用票卷資訊">
                        <el-descriptions-item label="票卷種類"><el-tag size="large" style="font-size:18px;">{{item.kind|kind}}</el-tag></el-descriptions-item>
                        <el-descriptions-item label="購買品項/張數">
                          <el-tag size="large" style="font-size:18px;">{{item.title}}*{{item.qty}}</el-tag>
                        </el-descriptions-item>
                        <el-descriptions-item label="合計張數" v-if="item.kind==0">
                          <el-tag size="large" style="font-size:18px;">{{item.option*item.qty}}</el-tag>
                          </el-descriptions-item>
                        <!-- <el-descriptions-item label="總計張數" v-if="item.option!=0">{{item.option*item.qty}}</el-descriptions-item>
                        <el-descriptions-item label="使用張數"><el-tag size="large" type="danger" style="font-size:18px;">{{item.practice_using_qty}}</el-tag></el-descriptions-item> -->
                          <el-descriptions-item label="剩餘張數" v-if="item.kind==0"><el-tag size="large" :type="total_using_ticket(item.option*item.qty,item.practice_using_qty)<=1?'danger':''" style="font-size:18px;">{{total_using_ticket(item.option*item.qty,item.practice_using_qty)}}</el-tag></el-descriptions-item>
                          <el-descriptions-item :label="item.kind!=0?'有效日期':'購票日期'"><el-tag size="large" :type="item.kind!=0?'danger':''" style="font-size:18px;">{{created_expire_date(item.kind,item.created_at)}}</el-tag></el-descriptions-item>
                    </el-descriptions>
                    <el-collapse accordion>
                        <el-collapse-item>
                            <template slot="title">
                            使用紀錄<i class="header-icon el-icon-info"></i>
                            </template>
                            <el-descriptions title="歷史使用紀錄" v-for="(past_using_items_list,index_2) in item.past_using_items" :key="index_2">
                                <el-descriptions-item label="使用數量"><span style="font-size:18px;">{{past_using_items_list.qty}}</span></el-descriptions-item>
                                <el-descriptions-item label="使用時間"><span style="color:red; font-size:18px;">{{past_using_items_list.created_at}}</span></el-descriptions-item>
                            </el-descriptions>
                        </el-collapse-item>
                    </el-collapse>
                </div>
                <div style="margin-bottom:10px;text-align:center;">
                    <el-button type="primary" icon="el-icon-edit" @click="checkgroupbuycoupon(item.order_sn,item.product_id,item.title)">審核</el-button><br/>
                </div>
                </el-card>
            </el-col>
            <el-col v-show="GroupBuyCoupon.length==0">
                <el-empty description="無票卷資訊"></el-empty>
            </el-col>
        </el-row>
    </div>
    <!-- 票卷訊息提示 -->
    <el-dialog
    title="訊息提示"
    :visible.sync="checkgroupbuycouponswitch"
    width="30%"
    center>
    <el-result :icon="checkgroupbuycouponmessage==true?'success':'error'" :title="checkgroupbuycouponmessage==true?'票卷審核完成':'票卷審核失敗'" :subTitle="checkgroupbuycoupontitle">
    </el-result>
    <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="checkgroupbuycouponswitch=false">關閉</el-button>
    </span>
    </el-dialog>
  </el-card>
</template>
<script>
import Pagination from '@/components/Pagination'
import { getGroupBuyCoupon,checkGroupBuyCoupon } from '@/api/groupbuy_manager'
import { getAdminPremission } from '@/api/premission_manager'
import SearchGroupBuyCoupon from './SearchGroupBuyCoupon.vue'
import SearchMemberCoupon from './SearchMemberCoupon.vue'
import { deepClone } from '@/utils'
import { mapGetters } from 'vuex'
import moment from 'moment'
//搜尋會員票卷
const defaultMemberCoupon = {
  partner_id:'',
  search_member_info:''
}

export default {
  name: "groupbuyCoupon",
  components: { SearchGroupBuyCoupon,SearchMemberCoupon },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  filters:{
      type(status){
      const type = {
        0: '實體',
        1: '票卷'
      }
      return type[status]
    },
      kind(status){
      const kind = {
        0: '一般性票卷',
        1: '月票卷',
        2: '季票卷',
        3: '年票卷',
        4: '半年票卷'
      }
      return kind[status]
    },
  },
  data(){
    return {
      check_admin_premission:[],
      GroupBuyCoupon:[],
      CouponlistLoading:false,
      //票卷審核資訊
      checkgroupbuycouponswitch:false,
      //審核正確與錯誤訊息
      checkgroupbuycouponmessage:'',
      //審核錯誤訊息內文
      checkgroupbuycoupontitle:'',
      search_groupbuycoupon:{},
      //搜尋會員票卷
      membercoupon:Object.assign({}, defaultMemberCoupon),
      dialogSearchType:'',
      dialogSearchVisible:false

    }
  },
    watch: {
      partner:{
        handler: function(val, oldVal) {
        if(this.partner!=''){

        }
      },
      immediate: true
      }
  },
  async mounted() {
    // 得知使用者實際擁有權限
    await this.getAdminPremission("團購管理")
    
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        await getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    //計算所有票卷張數
    total_using_ticket(all_ticket,using_ticket){
      return all_ticket-using_ticket
    },
    //得知開始及到期日期
    created_expire_date(kind,created_at){
      //判斷kind一般性票卷
      if(kind==0){
        return moment(created_at).format('YYYY-MM-DD')
      }
      //判斷kind月票卷
      if(kind==1){
        return moment(created_at).format('YYYY-MM-DD')+'~'+moment(created_at).add(30,'d').format('YYYY-MM-DD')
      }
      //判斷kind季票卷
      if(kind==2){
        return moment(created_at).format('YYYY-MM-DD')+'~'+ moment(created_at).add(90,'d').format('YYYY-MM-DD')
      }
      //判斷kind年票卷
      if(kind==3){
        return moment(created_at).format('YYYY-MM-DD')+'~'+ moment(created_at).add(365,'d').format('YYYY-MM-DD')
      }
      //判斷kind半年票卷
      if(kind==4){
        return moment(created_at).format('YYYY-MM-DD')+'~'+ moment(created_at).add(183,'d').format('YYYY-MM-DD')
      }
    },
    //搜尋會員票卷按鈕
    searchmembercoupon(){
      this.dialogSearchType = 'search'
      this.dialogSearchVisible = true
      defaultMemberCoupon['partner_id'] = this.partner
      this.membercoupon = Object.assign({}, defaultMemberCoupon)
    },
    // 關閉選單狀態
    getMemberCoupon_status_dialogtype(status,type,enter_place) {
      if(enter_place=='coupon'){
        this.dialogSearchVisible = status
        this.dialogSearchType = type
      }
    },
    // 搜尋所有團購票卷模組
    SearchGroupBuyCoupon(query) {
      this.search_groupbuycoupon = query
      this.getgroupbuycoupon(query)
    },
    //得知票卷基本資訊
    getgroupbuycoupon(query){
      var _self = this
      _self.GroupBuyCoupon = []
      _self.CouponlistLoading = true
      getGroupBuyCoupon(query).then(resp => {
        if(resp.success==true){
          _self.GroupBuyCoupon = resp.data
        }
        if(resp.success==false){
          _self.checkgroupbuycouponswitch = true
          _self.checkgroupbuycoupontitle = resp.data
          _self.checkgroupbuycouponmessage = resp.success
        }
        _self.CouponlistLoading = false
      })
    },
    //審核
    checkgroupbuycoupon(order_sn,product_id,product_name){
        var _self = this
        var regex = /^[0-9\s]*$/;
        _self.search_groupbuycoupon['coupon_order'] = order_sn+'+'+product_id
        _self.search_groupbuycoupon['coupon_name'] = product_name
      _self.$prompt('請輸入使用張數?', '是否確定審核「'+_self.search_groupbuycoupon['coupon_name']+'」', {
        inputValue:'1',
        inputValidator:(value)=>{
            if(!value){
                return '輸入框不能為空值'
            }
            if(!regex.test(value)){
                return '輸入框必須為數字'
            }
        }
    
        }).then(({ value }) => {
          _self.search_groupbuycoupon['coupon_qty'] = value
          checkGroupBuyCoupon(_self.search_groupbuycoupon).then(resp => {
            console.log("resp",resp.success)
             if(resp.success==true){
                _self.checkgroupbuycouponswitch = true
                _self.checkgroupbuycoupontitle = resp.message
                _self.checkgroupbuycouponmessage = resp.success
                _self.getgroupbuycoupon(_self.search_groupbuycoupon)
             }
             if(resp.success==false){
                _self.checkgroupbuycouponswitch = true
                _self.checkgroupbuycoupontitle = resp.data
                _self.checkgroupbuycouponmessage = resp.success
             }
          })
        }).catch(() => {
          _self.$message({
            type: 'info',
            message: '取消審核票卷資訊'
          });       
        });
    }
  }
}
</script>