<template>
  <el-card style="margin-bottom:20px;" v-loading="GroupBuyCouponLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">票卷折扣列表</span>
      <el-button type="primary" icon="el-icon-edit" @click="insertgroupbuycoupondiscount" style="float:right;" :disabled="partner==''?true:false" v-show="groupbuyliffwebstatus==true">新票卷折扣</el-button>
    </div>
    <div class="user-profile">
        <AddGroupBuyCouponDiscount :groupbuycoupondiscount="groupbuycoupondiscount" :dialogCouponDiscountType="dialogType" :dialogCouponDiscountVisible="dialogVisible" @getgroupbuycoupondiscount="getgroupbuycoupondiscount" @getCouponDiscount_status_dialogtype="getCouponDiscount_status_dialogtype" />
        <CheckGroupBuyCouponDiscountRecord :groupbuycoupondiscount="groupbuycoupondiscount" :dialogCouponDiscountRecordType="dialogCouponDiscountRecordType" :dialogCouponDiscountRecordVisible="dialogCouponDiscountRecordVisible" @getCouponDiscountRecord_status_dialogtype="getCouponDiscountRecord_status_dialogtype" />
        <SearchGroupBuyCouponDiscount v-on:SearchGroupBuyCouponDiscount="SearchGroupBuyCouponDiscount" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' />
        <el-table v-loading="GroupBuyCouponDiscountLoading" :data="GroupBuyCouponDiscount.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <el-table-column align="center" width="200" fixed label="QRCODE">
            <template slot-scope="scope">
                <qr-code :text="scope.row.coupon_number" size="150"></qr-code>
                <el-tag style="margin:10px 0; font-size:20px;" type="danger">
                  {{ scope.row.coupon_number }}
                </el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="220" label="符合折扣商品">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;" v-for="(discount_coupon_list_items,index) in scope.row.discount_coupon_list_items" :key="index">{{ discount_coupon_list_items }}</el-tag><br/>
            </template>
        </el-table-column>
        <el-table-column align="center" width="200" label="折扣標題/狀態">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;">{{ scope.row.coupon_name}}</el-tag><br/>
                <el-tag style="margin:10px 0;" :type="scope.row.coupon_status==0?'danger':''">
                  {{ scope.row.coupon_status | coupon_status }}
                </el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="220" label="折扣名稱/開團名稱">
            <template slot-scope="scope">
                <el-tag plain style="margin:2px auto;">
                    {{ scope.row.groupbuys_list['title'] }}
                </el-tag>
                <br/>
                <el-tag style="margin:10px 0;">{{ scope.row.coupon_content}}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="折扣類型/折扣金額">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;">{{ scope.row.coupon_type| coupon_type }}</el-tag><br/>
                <el-tag style="margin:10px 0;" type="danger">
                  {{ scope.row.coupon_money }}
                </el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="折扣使用數量">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;" v-show="scope.row.coupon_using_amount!=-1">{{ scope.row.coupon_using_amount }}</el-tag>
                <el-tag style="margin:10px 0;" type="danger" v-show="scope.row.coupon_using_amount==-1">無限制</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="會員使用數量">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;" v-show="scope.row.limit_coupon_member_using_amount!=-1">{{ scope.row.limit_coupon_member_using_amount }}</el-tag>
                <el-tag style="margin:10px 0;" type="danger" v-show="scope.row.limit_coupon_member_using_amount==-1">無限制</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="密碼開關/密碼欄位">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;" :type="scope.row.check_have_password_switch==1?'danger':''">{{ scope.row.check_have_password_switch| check_have_password_switch }}</el-tag><br/>
                <span style="color:red;" v-show="scope.row.check_have_password_switch==1">{{ scope.row.password }}</span>
            </template>
        </el-table-column>
        <el-table-column align="center" width="220" label="開始及截止時間">
            <template slot-scope="scope">
                <el-tag plain style="margin:2px auto;">
                {{ scope.row.coupon_start_at }}
                </el-tag>
                <br>
                ▼
                <br>
                <el-tag plain style="margin:2px auto;">
                {{ scope.row.coupon_end_at }}
                </el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="120" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
                <el-button type="primary" @click="handleEditgroupbuycoupondiscount(scope)" style="margin:5px;" v-show="groupbuyliffwebstatus==true">編輯</el-button>
                <el-button type="primary" @click="handleCheckgroupbuycoupondiscountRecord(scope)" style="margin:5px;" v-show="groupbuyliffwebstatus==true">查看</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="GroupBuyCouponDiscount.count"
          :page.sync="GroupBuyCouponDiscount.nowpages"
          :limit.sync="GroupBuyCouponDiscount.limit"
          @pagination="getgroupbuycoupondiscount(GroupBuyCouponDiscount.nowpages,search_groupbuycoupondiscount)"
        />
    </div>
  </el-card>
</template>

<script>
import Pagination from '@/components/Pagination'
import { deepClone } from '@/utils'
import { getLineBotInfo } from '@/api/linebot_manager'
import { getAdminPremission } from '@/api/premission_manager'
import { getGroupBuyCouponDetail } from '@/api/groupbuy_manager'
import AddGroupBuyCouponDiscount from './AddGroupBuyCouponDiscount.vue'
import CheckGroupBuyCouponDiscountRecord from './CheckGroupBuyCouponDiscountRecord.vue'
import SearchGroupBuyCouponDiscount from './SearchGroupBuyCouponDiscount.vue'

const defaultCouponDiscount = {
  partner_id:'',
  coupon_name:'',
  coupon_content:'',
  coupon_type:0,
  coupon_number:'',
  coupon_groupbuy_combo:'',
  coupon_using_amount:-1,
  limit_coupon_member_using_amount:-1,
  coupon_start_at:'',
  coupon_end_at:'',
  check_have_password_switch:0,
  password:'',
  groupbuy_id:'',
  coupon_money:50,
  coupon_status:1
}

export default {
  name: "GroupBuyCouponDiscount",
  components: { Pagination,AddGroupBuyCouponDiscount,SearchGroupBuyCouponDiscount,CheckGroupBuyCouponDiscountRecord },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    },
    dialogType:'new',
    dialogCouponDiscountRecordType:'',
    dialogVisible:false,
    dialogCouponDiscountRecordVisible:false
  },
  data(){
    return {
      GroupBuyCouponDiscount: [],
      check_admin_premission:[],
      payload:'',
      loading:false,
      GroupBuyCouponDiscountLoading:false,
      groupbuycoupondiscount:Object.assign({}, defaultCouponDiscount),
      // 圖片網址位置
      upload_path: '',
      groupbuyliffweb:'',
      groupbuyliffwebstatus:true,
      search_groupbuycoupondiscount:''
    }
  },
    watch: {
      partner:{
        handler: function(val, oldVal) {
        if(this.partner!=''){
          this.chosenPartner()
          if(this.activeTab=='groupbuy_coupon_discount'){
            // 得知群組liff網址
            this.getgroupbuyliff()
          }
        }
      },
      immediate: true
      },
      activeTab:{
        handler: async function(val, oldVal) {
        if(val=='groupbuy_coupon_discount'){
          // 得知群組liff網址
          await this.getgroupbuyliff()
          await this.chosenPartner()
        }
      },
      immediate: true
      },
  },
  filters:{
      coupon_status(status){
      const coupon_status = {
        0: '關閉',
        1: '開啟'
      }
      return coupon_status[status]
    },
      check_have_password_switch(status){
      const check_have_password_switch = {
        0: '關閉密碼',
        1: '開啟密碼'
      }
      return check_have_password_switch[status]
    },
      coupon_type(status){
      const coupon_type = {
        0: '折扣金額',
      }
      return coupon_type[status]
    },
  },
  async mounted() {
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
    // 得知使用者實際擁有權限
    await this.getAdminPremission("團購管理")
    
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        await getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 切換所有合作夥伴的團購商品
    chosenPartner() {
      var query = ''
      defaultCouponDiscount['partner_id'] = this.partner
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        // this.groupbuyorder = Object.assign({}, defaultOrder)
        this.search_groupbuycoupondiscount = query
      } else {
        this.search_groupbuycoupondiscount = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getgroupbuycoupondiscount(1, query)
    },
    // 搜尋所有團購折扣模組
    SearchGroupBuyCouponDiscount(query){
      this.search_groupbuycoupondiscount = query

    //   console.log('query', query)
      this.getgroupbuycoupondiscount(1,this.search_groupbuycoupondiscount)
    },
    //得知團購折扣
    getgroupbuycoupondiscount(page,query){
      this.GroupBuyCouponDiscount = []
      this.GroupBuyCouponDiscountLoading = true
      var payload = ''
      if (this.search_groupbuycoupondiscount == '') {
        payload = page
      }
      if (this.search_groupbuycoupondiscount != '') {
        payload += page + '?' + query
      }
      defaultCouponDiscount['partner_id'] = this.partner
      getGroupBuyCouponDetail(payload).then(resp => {
        if(resp.success==true){
            this.GroupBuyCouponDiscount = resp.data
        }
        this.GroupBuyCouponDiscountLoading = false
      })
    },
    insertgroupbuycoupondiscount(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultCouponDiscount['partner_id'] = this.partner
      this.groupbuycoupondiscount = Object.assign({}, defaultCouponDiscount)
    },
    handleEditgroupbuycoupondiscount(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      scope.row.groupbuy_id = parseInt(scope.row.groupbuy_id)
      // if(this.health.class==scope.row.class){
      //   scope.row.class = scope.row.class
      // }
      // else{
      //   scope.row.class = this.health.class
      // }
      this.groupbuycoupondiscount = deepClone(scope.row)
    },
    handleCheckgroupbuycoupondiscountRecord(scope){
      this.dialogCouponDiscountRecordType = 'record'
      this.dialogCouponDiscountRecordVisible = true
      scope.row.partner_id = this.partner
      scope.row.groupbuy_id = parseInt(scope.row.groupbuy_id)
      this.groupbuycoupondiscount = deepClone(scope.row)
    },
    // 關閉選單狀態
    getCouponDiscount_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
    // 關閉選單狀態
    getCouponDiscountRecord_status_dialogtype(status,type) {
      this.dialogCouponDiscountRecordVisible = status
      this.dialogCouponDiscountRecordType = type
    },
    //得知合作夥伴liff網址
    getgroupbuyliff(){
      this.payload = {
          'partner_id':this.partner
      }
      getLineBotInfo(this.payload).then(resp => {
        if(resp.data=="查詢成功"){
          if(resp.message[0]['linebot_liff']!=null){
            this.groupbuyliffweb = resp.message[0]['linebot_liff']
            this.groupbuyliffwebstatus = true
          }
          else{
            this.groupbuyliffweb = ''
            this.$message({
                message: '請於「Line機器人模組」設定機器人LIFF網址',
                type: 'error'
            })
            this.groupbuyliffwebstatus = false
          }
        }
        else{
            this.groupbuyliffweb = ''
            this.$message({
                message: '請於「Line機器人模組」建立聊天機器人資訊',
                type: 'error'
            })
            this.groupbuyliffwebstatus = false
        }
      })
    }
  }
}
</script>