<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<script>
import echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme
import resize from './mixins/resize'

export default {
  mixins: [resize],
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '400px'
    },
    GroupBuyStatic:{
        type:Object,
        require:true
    }
  },
  data() {
    return {
      chart: null,
      //設定團購商品列表
      all_groupbuy_product_name:[],
      //設定團購商品和資料
      all_groupbuy_product_name_value:[]
    }
  },
  mounted() {
    this.$nextTick(() => {
      //設定所有團購參數資料
      this.set_all_groupdata()
      this.initChart()
    })
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el, 'macarons')
      this.chart.setOption({
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
          left: 'center',
          bottom: '10',
          //設定團購商品列表
          data: this.all_groupbuy_product_name
        },
        series: [
          {
            name: this.GroupBuyStatic[0].title+' 開團商品統計',
            type: 'pie',
            roseType: 'radius',
            radius: [15, 95],
            center: ['50%', '38%'],
            //設定團購商品和資料
            data: this.all_groupbuy_product_name_value,
            animationEasing: 'cubicInOut',
            animationDuration: 1800
          }
        ]
      })
    },
    //設定所有團購參數資料
    set_all_groupdata(){
      this.GroupBuyStatic[0].items.forEach((element)=>{
        this.all_groupbuy_product_name.push(element.tittle)
        this.all_groupbuy_product_name_value.push({
            value: element.total, name: element.title
        })
      })
    }
  }
}
</script>
