<template>
    <div>
    <el-dialog :visible="dialogSearchInfoVisible" :title="dialogSearchInfoType==='search'?'搜尋會員資訊':''"
    :before-close="closeMemberInfo" center fullscreen
    append-to-body
    >
    <!-- {{memberinfo}} -->
    <!-- {{groupbuymember}} -->
    <!-- {{groupbuymember.health}} -->
    <!-- {{LinebotInfo.check_coupon_premission}} -->
    <!-- {{LinebotInfo}} -->
    <!-- {{get_mid}} -->
    <!-- {{groupbuymember}} -->
    <!-- {{payload_member_using_record}} -->
    <!-- {{allmemberlist}} -->
    <!-- {{MemberLinePayRecord}} -->
    <el-form :inline="true" :model="memberinfo" class="demo-form-inline">
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="合作夥伴">
                    <br/>
                    <el-select
                        v-model="memberinfo.partner_id"
                        name="partner_id"
                        filterable
                        allow-create
                        default-first-option
                        placeholder="選擇合作夥伴"
                        disabled
                    >
                        <el-option
                            v-for="item in partnerlist.list"
                            :key="item.category_id"
                            :label="item.partner_name"
                            :value="item.partner_id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="會員資訊">
                    <br/>
                    <el-select
                        v-model="memberinfo.search_member_info"
                        name="search_member_info"
                        filterable
                        remote
                        :remote-method="search_member"
                        placeholder="選擇會員"
                        :loading="search_mid_loading"
                        @change="set_member_profile"
                        ref="search_member_info"
                        >
                        <el-option
                        v-for="item in allmemberlist"
                        :key="item.mid"
                        :label="item.mobile+'('+item.real_name+')'"
                        :value="item.mobile"
                        
                        >
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <!-- <div style="text-align:right;">
                <el-button type="danger" @click="closeMemberInfo">關閉</el-button>
            </div> -->
        </el-row>
        <el-row :gutter="20">
          <el-tabs v-model="activeTab">
            <!-- 會員資訊 start -->
            <el-tab-pane label="會員資訊" name="member_info">
                <el-form :rules="MemberRules" status-icon ref="groupbuymember" :model="groupbuymember" label-position="right">
                    <el-row :gutter="20">
                        <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                        <el-form-item label="姓名" prop="real_name">
                            <el-input ref="real_name" v-model="groupbuymember.real_name"
                            placeholder="請輸入姓名"
                            autocomplete="off" />
                        </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                        <el-form-item label="手機" prop="mobile">
                            <el-input ref="mobile" v-model="groupbuymember.mobile"
                            name="mobile" placeholder="請輸入手機"
                            autocomplete="off" />
                        </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                        <el-form-item label="信箱" prop="email">
                            <el-input ref="email" v-model="groupbuymember.email"
                            name="email" placeholder="請輸入信箱"
                            autocomplete="off"
                            />
                        </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                        <el-form-item label="性別" prop="sex">
                            <el-select
                            v-model="groupbuymember.sex"
                            name="sex"
                            placeholder="請輸入性別"
                            filterable
                            default-first-option
                            style="margin:auto 10px;"
                            >
                                <el-option label="男" value="1">男</el-option>
                                <el-option label="女" value="2">女</el-option>
                            </el-select>
                        </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                        <el-form-item label="生日" prop="birthday">
                            <el-date-picker
                            v-model="groupbuymember.birthday"
                            ref="birthday"
                            name="birthday"
                            type="date"
                            value-format="yyyy-MM-dd"
                            placeholder="請輸入生日">
                            </el-date-picker>
                        </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                        <el-form-item label="會員vip" prop="vip">
                            <el-select
                            v-model="groupbuymember.vip"
                            name="sex"
                            placeholder="請選擇是否為vip"
                            filterable
                            default-first-option
                            style="margin:auto 10px;"
                            >
                                <el-option label="否" value="0">否</el-option>
                                <el-option label="是" value="1">是</el-option>
                            </el-select>
                        </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                        <el-form-item label="會員註冊來源" prop="source">
                            <el-select
                            v-model="groupbuymember.source"
                            name="source"
                            placeholder="請輸入會員註冊來源"
                            filterable
                            default-first-option
                            style="margin:auto 10px;"
                            >
                                <el-option label="line" value="1">line</el-option>
                                <el-option label="後台" value="2">後台</el-option>
                            </el-select>
                        </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                        <el-form-item label="地址" prop="address">
                            <el-input ref="address" v-model="groupbuymember.address"
                            name="address" placeholder="請輸入地址"
                            autocomplete="off"
                            />
                        </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                        <el-form-item label="會員備註" prop="note">
                            <el-input ref="note" v-model="groupbuymember.note"
                            name="note" placeholder="會員備註"
                            :autosize="{ minRows: 3, maxRows: 5}"
                            autocomplete="off"
                            />
                        </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                            <el-form-item label="會員標籤">
                                <br/>
                                <el-select
                                    v-model="groupbuymember.member_tag"
                                    name="member_tag"
                                    filterable
                                    allow-create
                                    multiple
                                    clearable
                                    placeholder="會員標籤"
                                    ref="member_tag"
                                    style="width:80%"
                                    >
                                    <el-option
                                        v-for="item,index in membertag_List.list"
                                        :key="index"
                                        :label="item.member_2_tag"
                                        :value="item.member_2_tag"
                                        >
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-if="LinebotInfo.check_coupon_premission==1">
                        <el-divider content-position="center">個人身體及健康概述</el-divider>
                        </el-col>
                        <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="LinebotInfo.check_coupon_premission==1">
                        <el-form-item label="健康狀況" prop="health">
                                <el-select
                                v-model="groupbuymember.health"
                                placeholder="請選擇健康狀況"
                                filterable
                                default-first-option
                                style="margin:auto 10px;"
                                >
                                <!-- <el-option label="111" value="111"></el-option> -->
                                <el-option label="良好/Good" value="0"></el-option>
                                <el-option label="其他,請於下題描述" value="1"></el-option>
                                </el-select>
                        </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="LinebotInfo.check_coupon_premission==1">
                        <el-form-item label="健康描述" prop="state_of_health">
                            <el-input ref="state_of_health" v-model="groupbuymember.state_of_health"
                            name="state_of_health" placeholder="請輸入健康描述"
                            autocomplete="off"
                            :disabled="groupbuymember.health==0?true:false"
                            />
                        </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="LinebotInfo.check_coupon_premission==1">
                        <el-form-item label="攀登年資" prop="how_long_climbed">
                                <el-select
                                v-model="groupbuymember.how_long_climbed"
                                placeholder="請選擇攀登年資"
                                filterable
                                default-first-option
                                style="margin:auto 10px;"
                                >
                                <!-- <el-option label="111" value="111"></el-option> -->
                                <el-option label="初次/First time" value="0"></el-option>
                                <el-option label="一年內/Under 1 year" value="1"></el-option>
                                <el-option label="一年以上/Above 1 year" value="2"></el-option>
                                </el-select>
                        </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="LinebotInfo.check_coupon_premission==1">
                        <el-form-item label="緊急聯絡人姓名" prop="emergency_contact">
                            <el-input ref="emergency_contact" v-model="groupbuymember.emergency_contact"
                            name="emergency_contact" placeholder="請輸入緊急聯絡人姓名"
                            autocomplete="off"
                            />
                        </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="LinebotInfo.check_coupon_premission==1">
                        <el-form-item label="緊急聯絡人之關係" prop="emergency_relation">
                            <el-input ref="emergency_relation" v-model="groupbuymember.emergency_relation"
                            name="emergency_relation" placeholder="請輸入緊急聯絡人之關係"
                            autocomplete="off"
                            />
                        </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="LinebotInfo.check_coupon_premission==1">
                        <el-form-item label="緊急聯絡人聯絡電話" prop="emergency_phone">
                            <el-input ref="emergency_phone" v-model="groupbuymember.emergency_phone"
                            name="emergency_phone" placeholder="請輸入緊急聯絡人電話"
                            autocomplete="off"
                            />
                        </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-if="LinebotInfo.pay_premission.includes('電子發票')">
                        <el-divider content-position="center">發票</el-divider>
                        </el-col>
                        <el-col :xs="24" :sm="12" :lg="12" :xl="8" v-if="LinebotInfo.pay_premission.includes('電子發票')">
                        <el-form-item label="發票類型" prop="invoice_type">
                            <br/>
                            <el-select
                            v-model="groupbuymember.invoice_type"
                            placeholder="請選擇發票類型"
                            filterable
                            default-first-option
                            style="margin:auto 10px;"
                            >
                                <el-option label="二聯式發票" value="1">二聯式發票</el-option>
                                <el-option label="三聯式發票" value="2">三聯式發票</el-option>
                            </el-select>
                        </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="12" :lg="12" :xl="8" v-if="groupbuymember.invoice_type=='1'&&LinebotInfo.pay_premission.includes('電子發票')">
                        <el-form-item label="發票種類" prop="reception_kind">
                            <br/>
                            <el-select
                            v-model="groupbuymember.reception_kind"
                            placeholder="請選擇發票種類"
                            filterable
                            default-first-option
                            style="margin:auto 10px;"
                            >
                                <el-option label="會員email" value="1">會員email</el-option>
                                <el-option label="手機載具" value="3">手機載具</el-option>
                            </el-select>
                        </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :lg="24" :xl="8" v-show="groupbuymember.invoice_type=='1'&&groupbuymember.reception_kind=='3'&&LinebotInfo.pay_premission.includes('電子發票')">
                        <el-form-item label="手機載具" prop="carrier_num">
                            <el-input ref="carrier_num" v-model="groupbuymember.carrier_num"
                            name="carrier_num" placeholder="請輸入手機載具"
                            autocomplete="off"
                            />
                        </el-form-item>
                        </el-col>
                        <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-if="LinebotInfo.check_coupon_premission==1">
                        <el-divider content-position="center">風險同意書</el-divider>
                        </el-col>
                        <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-if="LinebotInfo.check_coupon_premission==1" style="text-align:center;">
                        <el-tag type="danger" v-if="groupbuymember.contract==null">無風險同意書</el-tag>
                        <el-button type="primary" @click.native.prevent="download_contract(groupbuymember)" v-else>下載風險同意書</el-button>
                        </el-col>
                    </el-row>
                </el-form>
                <div style="text-align:right;">
                    <el-button type="danger" @click="closeMemberInfo">關閉</el-button>
                    <el-button type="primary" @click.native.prevent="confirmMember('groupbuymember')">修改會員</el-button>
                </div>
            </el-tab-pane>
            <!-- 會員資訊 end -->
            <!-- 會員消費紀錄 start -->
            <el-tab-pane label="會員消費記錄" name="member_buy_record">
                <div v-if="MemberBuyRecord.list.length!=0">
                    <el-table v-loading="MemberBuyRecordLoading" :data="MemberBuyRecord.list" style="width: 100%;margin-top:30px;"
                    border fit highlight-current-row>
                        <el-table-column align="center" width="180" label="票卷名稱/訂單編號">
                            <template slot-scope="scope">
                                <el-tag style="margin:10px 0;">
                                {{ scope.row.groupbuy_title }}
                                </el-tag>
                                <el-tag style="margin:10px 0;">
                                {{ scope.row.order_sn }}
                                </el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" width="220" label="訂購人資訊">
                            <template slot-scope="scope">
                                <el-avatar 
                                size="large"
                                :src="scope.row.avatar"
                                v-if="scope.row.avatar!=null"
                                >
                                </el-avatar>
                                <br/>
                                <el-tag style="margin:3px 0;font-size:18px;">{{ scope.row.real_name}}</el-tag>
                                <br/>
                                <el-tag style="margin:3px 0;font-size:18px;">{{scope.row.mobile}}</el-tag>
                                <br/>
                                <el-tag type="danger" style="margin:10px 0;font-size:18px;" v-show="scope.row.vip==1">vip</el-tag>
                                <br/>
                                <el-tag style="margin:10px 0;font-size:18px;" v-if="LinebotInfo.check_coupon_premission!=1">{{ scope.row.address}}</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="訂購品項/數量/總計" width="230">
                            <template slot-scope="scope">
                            <div v-for="(order_list,index) in scope.row.items" :key="index">
                                <el-tag style="margin:10px 0;font-size:18px;" type="danger">
                                    {{order_list.groupbuy_shop_name}}
                                </el-tag>
                                <br/>
                                <el-tag style="margin:10px 0;font-size:18px;">
                                    {{order_list.qty}}({{order_list.groupbuy_shop_productword}})
                                </el-tag>
                            </div>
                            <el-divider content-position="center">總計</el-divider>
                            <span style="font-size:18px; color:red;">
                            {{ scope.row.total}}
                            </span>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="付款方式/狀態">
                            <template slot-scope="scope">
                                <el-tag style="margin:10px 0;">
                                    {{ scope.row.pay_type| pay_money_pay_type}}
                                </el-tag><br/>
                                <el-tag style="margin:10px 0;" :type="scope.row.status==0||scope.row.status==-1?'danger':''">
                                    {{ scope.row.status | pay_money_status }}
                                </el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="訂單成立時間">
                            <template slot-scope="scope">
                                <el-tag style="margin:10px 0;">
                                {{ scope.row.created_at }}
                                </el-tag>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <div v-else>
                    <el-empty description="無會員消費紀錄"></el-empty>
                </div>
            <div style="text-align:right; margin:10px 0;">
                <el-button type="danger" @click="closeMemberInfo">關閉</el-button>
            </div>
            </el-tab-pane>
            <!-- 會員消費紀錄 end -->
            <!-- 會員使用票卷記錄 start -->
            <el-tab-pane label="會員使用票卷記錄" name="member_using_record" v-if="LinebotInfo.check_coupon_premission==1">
                <div class="block" v-if="member_using_record_log.list.length!=0">
                    <div class="radio" style="margin:10px 0;">
                        排序：
                        <el-radio-group v-model="reverse_member_using_record_log">
                        <el-radio :label="true">降冪</el-radio>
                        <el-radio :label="false">升冪</el-radio>
                        </el-radio-group>
                    </div>
                    <el-timeline :reverse="reverse_member_using_record_log">
                        <!-- {{id}} -->
                        <!-- {{log_record_time}} -->
                    <el-timeline-item 
                    v-for="(item,index) of member_using_record_log.list" 
                    :key="index" 
                    :timestamp="item.created_at"
                    >
                        <el-card>
                        <h4 style="font-size:18px;">[{{item.order_sn}}] {{ item.real_name }}</h4>
                        <p style="font-size:16px;">審核品項/張數 <span style="color:red;">{{ item.title }} ＊ {{ item.qty }}</span></p>
                        </el-card>
                    </el-timeline-item>
                    </el-timeline>
                </div>
                <div class="block" v-else>
                <el-empty description="無會員使用票卷紀錄"></el-empty>
                </div>
                <div style="text-align:right;">
                    <el-button type="danger" @click="closeMemberInfo">關閉</el-button>
                </div>
            </el-tab-pane>
            <!-- 會員使用票卷記錄 end -->
            <!-- 會員line pay 紀錄 start -->
            <el-tab-pane label="會員line pay 記錄" name="member_linepay_record">
                <div v-if="MemberLinePayRecordCount!=0">
                    <el-table v-loading="MemberLinePayRecordLoading" :data="MemberLinePayRecord" style="width: 100%;margin-top:30px;"
                    border fit highlight-current-row
                    >
                        <el-table-column align="center" width="180" label="訂單編號">
                            <template slot-scope="scope">
                            <el-tag style="margin:10px 0;">
                            {{scope.row.order_sn}}
                            </el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="訂購品項/數量/總計" width="230">
                            <template slot-scope="scope">
                            <div v-for="(order_list,index) in scope.row.order_items" :key="index">
                                <el-tag style="margin:10px 0;font-size:18px;" type="danger">
                                    {{order_list.groupbuy_shop_name}}
                                </el-tag>
                                <br/>
                                <el-tag style="margin:10px 0;font-size:18px;">
                                    {{order_list.qty}}({{order_list.groupbuy_shop_productword}})
                                </el-tag>
                            </div>
                            <el-divider content-position="center">總計</el-divider>
                            <span style="font-size:18px; color:red;">
                            {{ scope.row.order_total}}
                            </span>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="付款/退款 紀錄">
                            <template slot-scope="scope">
                                <el-tag style="margin:10px 0;">
                                    {{ scope.row.line_pay_type| line_pay_type}}
                                </el-tag><br/>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="LinePay 狀態代碼訊息">
                            <template slot-scope="scope">
                                <el-tag style="margin:10px 0;" :type="scope.row.line_pay_returncode=='0000'?'':'danger'">
                                {{ scope.row.line_pay_returncode }}
                                </el-tag>
                                <br/>
                                <el-tag style="margin:10px 0;" :type="scope.row.line_pay_returncode=='0000'?'':'danger'">
                                    {{ scope.row.line_pay_returnmessage }}
                                </el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="LinePay 退款新序號">
                            <template slot-scope="scope">
                                <el-tag style="margin:10px 0;" v-if="scope.row.line_pay_type==1&&scope.row.line_pay_returncode=='0000'">
                                {{ scope.row.line_pay_refundtransactionid }}
                                </el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="LinePay 退款新序號">
                            <template slot-scope="scope">
                                <el-tag style="margin:10px 0;" v-if="scope.row.line_pay_type==1&&scope.row.line_pay_returncode=='0000'">
                                {{ scope.row.line_pay_refundtransactiondate }}
                                </el-tag>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <div v-else>
                    <el-empty description="無會員Line Pay紀錄"></el-empty>
                </div>
            <div style="text-align:right; margin:10px 0;">
                <el-button type="danger" @click="closeMemberInfo">關閉</el-button>
            </div>
            </el-tab-pane>
            <!-- 會員消費紀錄 end -->
          </el-tabs>
        </el-row>
    </el-form>
    </el-dialog>
    <!--新增會員提示(修改) -->
      <el-dialog
      title="訊息提示"
      :visible.sync="memberinfoswitch"
      width="45%"
      center
      append-to-body
      >
      <!-- {{memberinfomessage}} -->
      <el-result :icon="memberinfomessage==true?'success':'error'" :title="memberinfomessage==true?'修改會員完成':'修改會員失敗'" :subTitle="memberinfotitle">
      </el-result>
      <span slot="footer" class="dialog-footer">
          <el-button type="primary" @click="closeMemberInfo">關閉會員資訊</el-button>
      </span>
      </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 400px;
    height: 400px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
import { getGroupBuyMember,updategroupmember,getAllCoupon,getGroupBuyOrder,getgroupmember2Tag } from '@/api/groupbuy_manager'
import { getLineBotInfo } from '@/api/linebot_manager'
import { deepClone } from '@/utils'
export default {
name: 'SearchMemberInfo',
props:{
    dialogSearchInfoType:{
        type:String,
        require:true
    },
    dialogSearchInfoVisible:{
        type:Boolean,
        require:true
    },
    memberinfo:{
        type:Object,
        require:true
    },
},
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
    watch: {
      "memberinfo.search_member_info":{
        handler: async function(val, oldVal) {
        if(this.memberinfo.search_member_info!=''){
            await this.search_member(val)
            console.log("356")
            await this.set_member_profile()
            await this.get_member_using_data()
            await this.get_member_buy_record_data()
            await this.get_all_default_member_tag()
        }
      },
      immediate: true
      },
      
  },
  data() {
    return {
      MemberRules: {
        real_name:[{ required: true,message: '姓名為必填欄位' }],
        mobile:[
          { required: true, message: '手機為必填欄位' },
          { required: true, message: '手機必須為數字', pattern:/^[0-9\s]*$/ },
          { required:true, message:'請輸入09開頭的10位數手機號碼',pattern:/^09[0-9]{8}$/ },
        ],
        email:[
          { required: true,message: '信箱為必填欄位' },
          { required:true, message:'請輸入正確的信箱格式',pattern:/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/ },
        ],
        sex:[{ required: true,message: '性別為必填欄位' }],
        vip:[{ required: true,message: '會員vip為必填欄位' }],
        source:[{ required: true,message: '會員註冊來源為必填欄位' }],
        birthday:[{ required: true,message: '生日為必填欄位' }],
        invoice_type:[{ required: true,message: '發票類型為必填欄位' }],
        reception_kind:[{ required: true,message: '發票種類為必填欄' }]
      },
      search_mid_loading:false,
      allmemberlist:[],
      activeTab:'member_info',
      groupbuymember:{},
      get_mid:null,
      LinebotInfo:[],
      pay_premission:[],
      loading:false,
      //會員資訊(修改)
      memberinfoswitch:false,
      //會員正確與錯誤訊息(修改)
      memberinfomessage:false,
      //會員錯誤訊息內文(修改)
      memberinfotitle:'',
      //會員消費紀錄
      MemberBuyRecord:[],
      MemberBuyRecordLoading:false,
      //會員使用紀錄
      member_using_record_log: [],
      reverse_member_using_record_log: false,
      payload_member_using_record:'',
      //會員line pay付款紀錄
      MemberLinePayRecord:[],
      MemberLinePayRecordLoading:false,
      MemberLinePayRecordCount:0,
      membertag_List:[]
    }
  },
  filters:{
      line_pay_type(status){
      const line_pay_type = {
        0: '付款',
        1: '退款',
      }
      return line_pay_type[status]
    },
      pay_money_status(status){
      const pay_money_status = {
        0: '未付款',
        1: '已付款',
        "-1": '取消'
      }
      return pay_money_status[status]
    },
      pay_money_pay_type(status){
      const pay_money_pay_type = {
        0: '信用卡',
        1: 'ATM',
        2: '超商',
        3: 'line pay',
        4: '現金'
      }
      return pay_money_pay_type[status]
    },
  },
  mounted() {
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    //關閉選單
    closeMemberInfo(){
    //更新資料進入外層的關閉選單
    this.dialogSearchInfoVisible = false
    this.memberinfoswitch = false;
    this.dialogSearchInfoType = ''
    this.memberinfo.search_member_info = ''
    this.groupbuymember = {}
    // this.refs.tinymce.setContent('')
    this.$emit('getMemberInfo_status_dialogtype',this.dialogSearchVisible,this.dialogSearchType)
    },
    //得知聊天機器人基本資料
    getlinebotinfo(){
      var payload = {
          'partner_id':this.memberinfo.partner_id
      }
      this.LinebotInfo = []
      getLineBotInfo(payload).then(resp => {
            if(resp.data=="查詢成功"){
                this.LinebotInfo = resp.message[0]
                console.log("386")
                console.log(this.LinebotInfo.pay_premission)
            }
            else{
              this.LinebotInfo.push({
                    'partner_id':this.partner,
                    'name':'',
                    'logo':'',
                    'channel_token':'',
                    'channel_secret':'',
                    'basic_id':'',
                    'qrcode':'',
                    'channel_type':0,
                    'pay_way':[],
                    'show_one_coupon_groupbuy':0,
                    'show_one_coupon_groupbuy_name':'',
                    'pay_way_description':'',
                    'order_description':'',
                    'on_site_description':'',
                    'pay_premission':[],
                    'linebot_liff':'',
                    'check_coupon_premission':0,
                    'check_linebot_notify_premission':0,
                    'MerchantID':'',
                    'pay_hash_key':'',
                    'pay_hash_iv':'',
                    'reception_hash_key':'',
                    'reception_hash_iv':'',
                    'line_pay_channel_id':'',
                    'line_pay_secret_key':'',
                    'agreement':''
              })
              this.LinebotInfo = this.LinebotInfo[0]
              // this.$message({
              //     message: '請於「Line機器人模組」建立聊天機器人資訊',
              //     type: 'error'
              // })
            }
        })
    },
    //搜尋會員
    async search_member(query){
      var _self = this
      _self.search_mid_loading = true
      await _self.getlinebotinfo()
      if(query!=''){
        var payload ='1?partner_id='+_self.memberinfo.partner_id+'&search_member='+query
        await getGroupBuyMember(payload).then(resp => {
            if(resp.success==true){
              _self.allmemberlist = []
               var invoice_type = '',reception_kind =''
              resp.data.list.forEach((element,index)=>{
                //判斷會員是否為該合作夥伴
                if(_self.memberinfo.partner_id==element.partner_id){
                    if(element.carrier_type=='1'){
                        invoice_type = '1',
                        reception_kind = '1'
                    }
                    else{
                        invoice_type = '1',
                        reception_kind = '3'
                    }
                    //得知會員標籤
                    var get_member_tag = []
                    if(element.member_tag_options.length!=0){
                        element.member_tag_options.forEach(element => {
                            get_member_tag.push(element.member_2_tag)
                        });
                    }
                    _self.allmemberlist.push({
                        "id": element.id,
                        "partner_id":element.partner_id,
                        "real_name": element.real_name,
                        "nick_name": element.nick_name,
                        "sex": element.sex.toString()==null?'':element.sex.toString(),
                        "birthday": element.birthday,
                        "avatar": element.avatar,
                        "mobile": element.mobile,
                        "line_user_id": element.line_user_id,
                        "address": element.address,
                        "contract":element.contract,
                        "vip": element.vip.toString()==null?'':element.vip.toString(),
                        "note":element.note,
                        "email": element.email,
                        "carrier_type":element.carrier_type,
                        "carrier_num": element.carrier_num,
                        "invoice_type":invoice_type,
                        "reception_kind":reception_kind,
                        "source": element.source.toString()==null?'':element.source.toString(),
                        "health":element.member_options[0]['health'].toString()==null?'':element.member_options[0]['health'].toString(),
                        "state_of_health":element.member_options[0]['state_of_health'],
                        "how_long_climbed":element.member_options[0]['how_long_climbed'].toString()==null?'':element.member_options[0]['how_long_climbed'].toString(),
                        "emergency_contact":element.member_options[0]['emergency_contact'],
                        "emergency_phone":element.member_options[0]['emergency_phone'],
                        "emergency_relation":element.member_options[0]['emergency_relation'],
                        "member_tag":get_member_tag
                    })
                    _self.get_mid = element.id
                }
              })
              _self.search_mid_loading = false
            }
        })
      }
      else{
        _self.allmemberlist = []
        _self.search_mid_loading = false
      }
    },
    //帶入會員基本資料
    async set_member_profile(){
      //篩選符合的使用者mid資料的json格式
      console.log(this.allmemberlist)
      var get_member_profile_array = await this.allmemberlist.filter((el)=>{
        return el.id == this.get_mid
      })
      console.log(get_member_profile_array)
      this.groupbuymember = get_member_profile_array[0]
    },
    confirmMember(groupbuymember){
        this.$refs[groupbuymember].validate(valid => {
            console.log(valid)
            if (valid) {
                this.loading = true
                if(this.groupbuymember.invoice_type=='1'&&this.groupbuymember.reception_kind=='1'){
                    this.groupbuymember.carrier_type='1'
                }
                if(this.groupbuymember.invoice_type=='1'&&this.groupbuymember.reception_kind=='3'){
                    this.groupbuymember.carrier_type='3'
                }
                updategroupmember(this.groupbuymember)
                .then((resp) => {
                if(resp.success==true){
                    this.memberinfoswitch = true
                    this.memberinfotitle = ''
                    this.memberinfomessage = resp.success
                    this.$emit('getMemberInfo_status_dialogtype',this.dialogSearchInfoVisible,this.dialogSearchType)
                }
                if(resp.success==false){
                    this.memberinfoswitch = true
                    this.memberinfotitle = resp.data
                    this.memberinfomessage = resp.success
                }
                this.loading = false
                })
                .catch(() => {
                    this.loading = false
                    return false
                })
            }
        })
    },
    //得知所有預設標籤
    get_all_default_member_tag(){
      this.membertag_List = []
      var payload ='all?partner_id='+this.groupbuymember.partner_id
      getgroupmember2Tag(payload).then(resp => {
        this.membertag_List = resp.data
      })
    },
    //下載風險同意書
    download_contract(row){
        window.open(this.upload_path+row.contract,'_blank')
    },
    //得知所有會員購買紀錄
    async get_member_buy_record_data(){
        var _self = this
        _self.MemberLinePayRecord = []
        _self.MemberLinePayRecordCount = 0
        var payload = ''
        payload='all?partner_id=' + _self.memberinfo.partner_id+'&mobile='+_self.groupbuymember.mobile
        _self.MemberBuyRecordLoading = true
        _self.MemberLinePayRecordLoading = true
        getGroupBuyOrder(payload).then(resp => {
        if(resp.success==true){
            _self.MemberBuyRecord = resp.data
            _self.MemberBuyRecord.list.forEach((element)=>{
                //判斷付款行為line pay 且有付款紀錄才需增加
                if(element.pay_type==3 && element.line_pay_paylog!=0){
                    element.line_pay_paylog.forEach((all_line_pay_log)=>{
                        _self.MemberLinePayRecord.push({
                            "order_sn":element.order_sn,
                            "order_items":element.items,
                            "order_total":element.total,
                            "line_pay_transactionid":all_line_pay_log.line_pay_transactionid,
                            "line_pay_type":all_line_pay_log.line_pay_type,
                            "line_pay_returncode":all_line_pay_log.line_pay_returncode,
                            "line_pay_returnmessage":all_line_pay_log.line_pay_returnmessage,
                            "line_pay_refundtransactionid":all_line_pay_log.line_pay_refundtransactionid,
                            "line_pay_refundtransactiondate":all_line_pay_log.line_pay_refundtransactiondate
                        })
                        _self.MemberLinePayRecordCount++
                    })
                }
            })
        }
        _self.MemberBuyRecordLoading = false
        _self.MemberLinePayRecordLoading = false
        })
    },
    //得知所有會員使用紀錄
    async get_member_using_data(){
        var _self = this
        _self.payload_member_using_record = 'all?partner_id=' + _self.memberinfo.partner_id+'&mobile='+_self.groupbuymember.mobile
        //表格呈現所有訂單
        await getAllCoupon(_self.payload_member_using_record).then(resp => {
            if(resp.success==true){
                _self.member_using_record_log = resp.data
            }
        })
    },
  }
}
</script>