<template>
    <div>
    <el-form :inline="true" :model="groupbuycoupondiscount" class="demo-form-inline">
    <el-row>
        <el-form-item label="合作夥伴">
            <el-select
                v-model="groupbuycoupondiscount.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                placeholder="選擇合作夥伴"
                disabled
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="開團代號">
            <el-select
                v-model="groupbuycoupondiscount.groupbuy_id"
                name="groupbuy_id"
                filterable
                clearable
                allow-create
                default-first-option
                placeholder="選擇開團代號"
            >
                <el-option
                    v-for="item in GroupBuyGroup.list"
                    :key="item.id"
                    :label="item.title"
                    :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="折扣碼狀態">
            <el-select v-model="groupbuycoupondiscount.coupon_status" name="coupon_status" 
             placeholder="折扣碼狀態">
                <el-option label="關閉" :value=0></el-option>
                <el-option label="開啟" :value=1></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="searchgroupbuycoupondiscount" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { getGroupBuyGroup } from '@/api/groupbuy_manager'
const defaultGroupBuyCouponDiscount = {
  partner_id:'',
  groupbuy_id:'',
  coupon_status:1,
}

export default {
  name: 'SearchGroupBuyCouponDiscount',
  data() {
    return {
      groupbuycoupondiscount: Object.assign({}, defaultGroupBuyCouponDiscount),
      GroupBuyGroup:[]
    }
  },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    },
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
    watch: {
      partner:{
        handler: async function(val, oldVal) {
        this.groupbuycoupondiscount.partner_id = val
        await this.getgroupbuygroup()
      },
      immediate: true
      },
      activeTab:{
        handler: async function(val, oldVal) {
        if(val=='groupbuy_coupon_discount'){
            await this.getgroupbuygroup()
        }
      },
      immediate: true
      },
  },
  methods: {
      searchgroupbuycoupondiscount(){
        var query = ''
        if(this.groupbuycoupondiscount.partner_id!=''){
            query+= 'partner_id='+this.groupbuycoupondiscount.partner_id+'&'
        }
        if(this.groupbuycoupondiscount.groupbuy_id!=''){
            query+= 'groupbuy_id='+this.groupbuycoupondiscount.groupbuy_id+'&'
        }
        query+= 'coupon_status='+this.groupbuycoupondiscount.coupon_status+'&'
        //更新資料進入外層的團購折扣管理
        this.$emit('SearchGroupBuyCouponDiscount',query.slice(0, -1))
      },
    //得知團購開團
    getgroupbuygroup(){
      this.GroupBuyGroup = []
      var payload = 'all?partner_id='+this.groupbuycoupondiscount.partner_id
      // this.groupbuyGroup = Object.assign({}, defaultGroup)
      getGroupBuyGroup(payload).then(resp => {
        if(resp.success==true){
            this.GroupBuyGroup = resp.data
        }
      })
    },
  }
}
</script>