<template>
    <div>
    <el-form :inline="true" :model="groupbuycoupon" class="demo-form-inline">
    <el-row>
        <el-form-item label="合作夥伴">
            <el-select
                v-model="groupbuycoupon.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                placeholder="選擇合作夥伴"
                disabled
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="票卷號碼">
            <el-input v-model="groupbuycoupon.coupon_order"
            name="coupon_oder" placeholder="票卷號碼"
            style="width:250px;"
            clearable
           />
        </el-form-item>
        <!-- <el-form-item>
            <el-button type="primary" @click="searchgroupbuycoupon" icon="el-icon-search" :disabled="groupbuycoupon.coupon_order==''?true:false">查詢</el-button>
        </el-form-item> -->
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultGroupBuyCoupon = {
  partner_id:'',
  coupon_order:'',
}

export default {
  name: 'SearchGroupBuyCoupon',
  data() {
    return {
      groupbuycoupon: Object.assign({}, defaultGroupBuyCoupon)
    }
  },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
    watch: {
      partner:{
        handler: function(val, oldVal) {
        this.groupbuycoupon.partner_id = val
      },
      immediate: true
      },
      "groupbuycoupon.coupon_order":{
        handler: function(val, oldVal) {
          if(val.length>=22){
            this.searchgroupbuycoupon()
          }
      },
      immediate: true
      },
  },
  methods: {
      searchgroupbuycoupon(){
        //更新資料進入外層的團購票卷管理
        this.$emit('SearchGroupBuyCoupon',this.groupbuycoupon)
      }
  },
}
</script>