<template>
    <div>
    <el-form :inline="true" :model="groupbuygroup" class="demo-form-inline">
    <el-row>
        <el-form-item label="合作夥伴">
            <el-select
                v-model="groupbuygroup.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                placeholder="選擇合作夥伴"
                disabled
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="票卷開團名稱">
            <el-input v-model="groupbuygroup.title"
            name="title" placeholder="票卷開團名稱"
            clearable
           />
        </el-form-item>
        <el-form-item label="開始日期">
            <el-date-picker v-model="groupbuygroup.start_at" type="date" 
            name="start_at" placeholder="開始日期"
            value-format="yyyy-MM-dd"
            ></el-date-picker>
        </el-form-item>
        <el-form-item label="截止日期">
            <el-date-picker v-model="groupbuygroup.end_at" type="date" 
            name="end_at" placeholder="截止日期"
            value-format="yyyy-MM-dd"
            ></el-date-picker>
        </el-form-item>
        <el-form-item label="票卷前端顯示狀態">
            <el-select v-model="groupbuygroup.on_sale" name="on_sale" 
             placeholder="票卷前端顯示狀態" clearable>
                <el-option label="未開啟" value=0></el-option>
                <el-option label="已開啟" value=1></el-option>
            </el-select>
        </el-form-item>
        <!-- <el-form-item label="金流狀態">
            <el-select v-model="groupbuygroup.kind" name="kind" 
             placeholder="金流狀態" clearable>
                <el-option label="現場取" value=0></el-option>
                <el-option label="寄送" value=1></el-option>
            </el-select>
        </el-form-item> -->
        <el-form-item>
            <el-button type="primary" @click="searchgroupbuygroup" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultGroupBuyGroup = {
  partner_id:'',
  title:'',
  start_at:'',
  end_at:'',
  on_sale:"",
}

export default {
  name: 'SearchGroupBuyGroup',
  data() {
    return {
      groupbuygroup: Object.assign({}, defaultGroupBuyGroup)
    }
  },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
    watch: {
      partner:{
        handler: function(val, oldVal) {
        this.groupbuygroup.partner_id = val
      },
      immediate: true
      },
  },
  methods: {
      searchgroupbuygroup(){
        var query = ''
        if(this.groupbuygroup.partner_id!=''){
            query+= 'partner_id='+this.groupbuygroup.partner_id+'&'
        }
        if(this.groupbuygroup.title!=''){
            query+= 'title='+this.groupbuygroup.title+'&'
        }
        if(this.groupbuygroup.on_sale!=''){
            query+= 'on_sale='+this.groupbuygroup.on_sale+'&'
        }
        if(this.groupbuygroup.start_at==null){
            this.groupbuygroup.start_at = ''
        }
        if(this.groupbuygroup.end_at==null){
            this.groupbuygroup.end_at = ''
        }
        if((this.groupbuygroup.start_at!=''&&this.groupbuygroup.end_at!='')){
            query+= 'start_at='+this.groupbuygroup.start_at+'&'
            query+= 'end_at='+this.groupbuygroup.end_at+'&'
        }
        // if(this.groupbuygroup.kind!=''){
        //     query+= 'kind='+this.groupbuygroup.kind+'&'
        // }
        // if(query.includes('partner_id'))
        // {
        //     this.$emit('searchShoppartner',this.groupbuyshop.partner_id)
        // }
        // if(!query.includes('partner_id')){
        //     this.$emit('searchShoppartner','')
        // }
        //更新資料進入外層的團購商品管理
        this.$emit('SearchGroup',query.slice(0, -1))
      }
  },
}
</script>