<template>
    <div>
      <!-- {{groupbuyshop}} -->
    <el-form :inline="true" :model="groupbuyshop" class="demo-form-inline">
    <el-row>
        <el-form-item label="合作夥伴">
            <el-select
                v-model="groupbuyshop.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                placeholder="選擇合作夥伴"
                disabled
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="商品名稱">
            <el-input v-model="groupbuyshop.title"
            name="title" placeholder="商品名稱"
            clearable
           />
        </el-form-item>
        <el-form-item label="商品是否上下架">
            <el-select v-model="groupbuyshop.on_sale" name="on_sale" 
             placeholder="商品是否上下架" clearable>
                <el-option label="下架" value=0></el-option>
                <el-option label="上架" value=1></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="商品是否刪除">
            <el-select v-model="groupbuyshop.disable" name="disable" 
             placeholder="商品是否刪除" clearable>
                <el-option label="未刪除" value=0></el-option>
                <el-option label="已刪除" value=1></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="商品類型">
            <el-select v-model="groupbuyshop.type" name="type" 
             placeholder="商品類型" clearable>
                <el-option label="實體" value=0></el-option>
                <el-option label="票卷" value=1></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="票卷類型" v-if="groupbuyshop.type==1">
            <el-select v-model="groupbuyshop.kind" name="type" 
             placeholder="票卷類型" clearable>
                <el-option label="一般性票卷" value=0></el-option>
                <el-option label="月票卷" value=1></el-option>
                <el-option label="季票卷" value=2></el-option>
                <el-option label="半年票卷" value=4></el-option>
                <el-option label="年票卷" value=3></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="searchgroupbuyshop" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultGroupBuyShop = {
  partner_id:'',
  title:'',
  description:'',
  on_sale:"",
  disable:"",
  type:"0",
  kind:""
}

export default {
  name: 'SearchGroupBuyShop',
  data() {
    return {
      groupbuyshop: Object.assign({}, defaultGroupBuyShop)
    }
  },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
    watch: {
      partner:{
        handler: function(val, oldVal) {
        this.groupbuyshop.partner_id = val
      },
      immediate: true
      },
      "groupbuyshop.type":{
        handler: function(val, oldVal) {
          //判斷商品類型為實體，需把票卷資訊清空
          if(val==0){
            this.groupbuyshop.kind = ''
          }
      },
      immediate: true
      },
  },
  methods: {
      searchgroupbuyshop(){
        var query = ''
        if(this.groupbuyshop.partner_id!=''){
            query+= 'partner_id='+this.groupbuyshop.partner_id+'&'
        }
        if(this.groupbuyshop.title!=''){
            query+= 'title='+this.groupbuyshop.title+'&'
        }
        if(this.groupbuyshop.on_sale!=''){
            query+= 'on_sale='+this.groupbuyshop.on_sale+'&'
        }
        if(this.groupbuyshop.disable!=''){
            query+= 'disable='+this.groupbuyshop.disable+'&'
        }
        if(this.groupbuyshop.type!=''){
            query+= 'type='+this.groupbuyshop.type+'&'
        }
        if(this.groupbuyshop.kind!=''){
            query+= 'kind='+this.groupbuyshop.kind+'&'
        }
        // if(query.includes('partner_id'))
        // {
        //     this.$emit('searchShoppartner',this.groupbuyshop.partner_id)
        // }
        // if(!query.includes('partner_id')){
        //     this.$emit('searchShoppartner','')
        // }
        //更新資料進入外層的團購商品管理
        this.$emit('SearchGroupShop',query.slice(0, -1))
      }
  },
}
</script>