<template>
    <div>
    <el-form :inline="true" :model="groupbuymember" class="demo-form-inline">
    <el-row>
        <el-form-item label="合作夥伴">
            <el-select
                v-model="groupbuymember.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                placeholder="選擇合作夥伴"
                disabled
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="搜尋姓名、電話、信箱">
            <el-input v-model="groupbuymember.search_member"
            name="search_member" placeholder="搜尋姓名、電話、信箱"
            style="width:250px;"
            clearable
           />
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="searchgroupbuymember" icon="el-icon-search">搜索</el-button>
        </el-form-item>
        <!-- <el-form-item>
            <el-button type="primary" @click="searchgroupbuycoupon" icon="el-icon-search" :disabled="groupbuycoupon.coupon_order==''?true:false">查詢</el-button>
        </el-form-item> -->
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultGroupBuyMember = {
  partner_id:'',
  search_member:'',
}

export default {
  name: 'SearchGroupBuyMember',
  data() {
    return {
      groupbuymember: Object.assign({}, defaultGroupBuyMember)
    }
  },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
    watch: {
      partner:{
        handler: function(val, oldVal) {
        this.groupbuymember.partner_id = val
      },
      immediate: true
      }
  },
  methods: {
      searchgroupbuymember(){
        var query = ''
        if(this.groupbuymember.partner_id!=''){
            query+= 'partner_id='+this.groupbuymember.partner_id+'&'
        }
        if(this.groupbuymember.search_member!=''){
            query+= 'search_member='+this.groupbuymember.search_member+'&'
        }
        //更新資料進入外層的團購會員管理
        this.$emit('SearchGroupMember',1,query.slice(0, -1))
      }
  },
}
</script>