<template>
    <div>
    <el-form :inline="true" :model="groupbuystatic" class="demo-form-inline">
    <el-row>
        <el-form-item label="票卷名稱">
            <el-select
                v-model="groupbuystatic.groupbuy_id"
                name="groupbuy_id"
                filterable
                allow-create
                default-first-option
                placeholder="票卷名稱"
            >
                <el-option
                    v-for="item in GroupBuyGroupList.list"
                        :key="item.id"
                        :label="item.title"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <!-- {{partner}}
        {{groupbuystatic.groupbuy_id}} -->
        <el-form-item>
            <el-button type="primary" @click="searchgroupbuystatic" :disabled="groupbuystatic.groupbuy_id==null?true:false" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { getGroupBuyGroup } from '@/api/groupbuy_manager'
const defaultGroupBuyStatic = {
  partner_id:'',
  groupbuy_id:'',
}

export default {
  name: 'SearchGroupBuyStatic',
  data() {
    return {
      groupbuystatic: Object.assign({}, defaultGroupBuyStatic),
      GroupBuyGroupList:[]
    }
  },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
    watch: {
      partner:{
        handler: function(val, oldVal) {
        this.groupbuystatic.partner_id = val
        //清除預設團購名稱內的資料
        this.groupbuystatic.groupbuy_id = null
        this.getgroupbuygroup()
        //切換partner時團購時帶入空的資料
        this.searchgroupbuystatic()
      },
      immediate: true
      },
  },
  methods: {
      searchgroupbuystatic(){
        var query = ''
        if(this.groupbuystatic.groupbuy_id!=''){
            query+= this.groupbuystatic.groupbuy_id
        }
        //切換partner時團購資料帶入空的資料
        else{
            this.$emit('SearchGroupStatic',[])
        }
        // if(query.includes('partner_id'))
        // {
        //     this.$emit('searchShoppartner',this.groupbuyshop.partner_id)
        // }
        // if(!query.includes('partner_id')){
        //     this.$emit('searchShoppartner','')
        // }
        //更新資料進入外層的團購分析
        this.$emit('SearchGroupStatic',query)
      },
      //得知所有團購名稱
      async getgroupbuygroup(){
        var _self = this
        _self.GroupBuyGroupList = []
        _self.payloadgroup = 'all?partner_id=' + _self.groupbuystatic.partner_id
        // _self.groupbuyshop = Object.assign({}, defaultShop)
        await getGroupBuyGroup(_self.payloadgroup).then(resp => {
            if(resp.success==true){
                _self.GroupBuyGroupList = resp.data
            }
        })
    },
  },
}
</script>