<template>
    <div>
    <el-form :inline="true" :model="groupbuyorder" class="demo-form-inline">
    <el-row>
      <!-- {{activeTab}} -->
      <!-- {{groupbuyorder}} -->
    <!-- {{LinebotInfo}} -->
        <el-form-item label="合作夥伴">
            <el-select
                v-model="groupbuyorder.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                placeholder="選擇合作夥伴"
                disabled
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="票卷開團名稱">
            <el-select
                v-model="groupbuyorder.groupbuy_id"
                name="groupbuy_id"
                filterable
                allow-create
                default-first-option
                placeholder="票卷開團名稱"
                clearable
            >
                <el-option
                    v-for="item in GroupBuyGroupList.list"
                        :key="item.groupbuy_id"
                        :label="item.title"
                        :value="item.groupbuy_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="訂單編號">
            <el-input v-model="groupbuyorder.order_sn"
            name="order_sn" placeholder="訂單編號"
            @keydown.enter.capture.native="searchgroupbuyorder"
            clearable
           />
        </el-form-item>
        <el-form-item label="訂購姓名">
            <el-input v-model="groupbuyorder.real_name"
            name="real_name" placeholder="訂購姓名"
            @keydown.enter.capture.native="searchgroupbuyorder"
            clearable
           />
        </el-form-item>
        <el-form-item label="訂購電話">
            <el-input v-model="groupbuyorder.mobile"
            name="mobile" placeholder="訂購電話"
            @keydown.enter.capture.native="searchgroupbuyorder"
            clearable
           />
        </el-form-item>
        <!-- 判斷不開啟票卷服務顯示取貨地址 -->
        <el-form-item label="取貨地址" v-if="LinebotInfo.check_coupon_premission=='0'">
            <el-input v-model="groupbuyorder.address"
            name="address" placeholder="取貨地址"
            clearable
           />
        </el-form-item>
        <el-form-item label="訂單狀態">
            <el-select v-model="groupbuyorder.status" name="status" 
             placeholder="訂單狀態" clearable>
                <el-option label="未付款" value=0></el-option>
                <el-option label="已付款" value=1></el-option>
                <el-option label="取消" value=-1></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="開始日期">
            <el-date-picker v-model="groupbuyorder.start_at" type="date" 
            name="start_at" placeholder="開始日期"
            value-format="yyyy-MM-dd"
            ></el-date-picker>
        </el-form-item>
        <el-form-item label="截止日期">
            <el-date-picker v-model="groupbuyorder.end_at" type="date" 
            name="end_at" placeholder="截止日期"
            value-format="yyyy-MM-dd"
            ></el-date-picker>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="searchgroupbuyorder" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { getLineBotInfo } from '@/api/linebot_manager'
import { getGroupBuyGroup } from '@/api/groupbuy_manager'
const defaultGroupBuyOrder = {
  partner_id:'',
  groupbuy_id:'',
  order_sn:'',
  real_name:'',
  mobile:'',
  address:'',
  status:"",
}

export default {
  name: 'SearchGroupBuyOrder',
  data() {
    return {
      groupbuyorder: Object.assign({}, defaultGroupBuyOrder),
      GroupBuyGroupList:[],
      //得知聊天機器人基本資料
      LinebotInfo: [],
    }
  },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
    watch: {
      partner:{
        handler: async function(val, oldVal) {
          console.log("val: ",val)
        this.groupbuyorder.partner_id = this.partner
        await this.getgroupbuygroup()
        await this.getlinebotinfo()
      },
      immediate: true
      },
      // activeTab:{
      //   handler: function(val, oldVal) {
      //     console.log("val: ",val)
      //   this.groupbuyorder.partner_id = this.partner
      //   this.getgroupbuygroup()
      // },
      // immediate: true
      // },
  },
  methods: {
      //得知聊天機器人基本資料
      getlinebotinfo(){
        var payload = {
            'partner_id':this.partner
        }
        this.LinebotInfo = []
        getLineBotInfo(payload).then(resp => {
              if(resp.data=="查詢成功"){
                  this.LinebotInfo = resp.message[0]
              }
              else{
                this.LinebotInfo.push({
                  'partner_id':this.partner,
                  'name':'',
                  'logo':'',
                  'channel_token':'',
                  'channel_secret':'',
                  'basic_id':'',
                  'qrcode':'',
                  'channel_type':0,
                  'pay_way':[],
                  'show_one_coupon_groupbuy':0,
                  'show_one_coupon_groupbuy_name':'',
                  'pay_way_description':'',
                  'order_description':'',
                  'on_site_description':'',
                  'pay_premission':[],
                  'linebot_liff':'',
                  'check_coupon_premission':0,
                  'check_linebot_notify_premission':0,
                  'MerchantID':'',
                  'pay_hash_key':'',
                  'pay_hash_iv':'',
                  'reception_hash_key':'',
                  'reception_hash_iv':'',
                  'line_pay_channel_id':'',
                  'line_pay_secret_key':'',
                  'agreement':''
                })
                this.LinebotInfo = this.LinebotInfo[0]
                // this.$message({
                //     message: '請於「Line機器人模組」建立聊天機器人資訊',
                //     type: 'error'
                // })
              }
          })
      },
      searchgroupbuyorder(){
        var query = ''
        if(this.groupbuyorder.partner_id!=''){
            query+= 'partner_id='+this.groupbuyorder.partner_id+'&'
        }
        if(this.groupbuyorder.order_sn!=''){
            query+= 'order_sn='+this.groupbuyorder.order_sn+'&'
        }
        if(this.groupbuyorder.groupbuy_id!=''){
            query+= 'groupbuy_id='+this.groupbuyorder.groupbuy_id+'&'
        }
        if(this.groupbuyorder.real_name!=''){
            query+= 'real_name='+this.groupbuyorder.real_name+'&'
        }
        if(this.groupbuyorder.mobile!=''){
            query+= 'mobile='+this.groupbuyorder.mobile+'&'
        }
        //判斷不開啟票卷服務顯示取貨地址
        if(this.LinebotInfo.check_coupon_premission=='0'){
          if(this.groupbuyorder.address!=''){
              query+= 'address='+this.groupbuyorder.address+'&'
          }
        }
        if(this.groupbuyorder.status!=''){
            query+= 'status='+this.groupbuyorder.status+'&'
        }
        if(this.groupbuyorder.start_at==null||this.groupbuyorder.end_at==null){
          this.groupbuyorder.start_at = '',
          this.groupbuyorder.end_at = ''
        }
        if((this.groupbuyorder.start_at!=''&&this.groupbuyorder.end_at!='')){
            query+= 'start_at='+this.groupbuyorder.start_at+'&'
            query+= 'end_at='+this.groupbuyorder.end_at+'&'
        }
        // if(query.includes('partner_id'))
        // {
        //     this.$emit('searchShoppartner',this.groupbuyshop.partner_id)
        // }
        // if(!query.includes('partner_id')){
        //     this.$emit('searchShoppartner','')
        // }
        // 移除最後一個＆
        // query.slice(0, -1)
        //更新資料進入外層的團購訂單管理
        this.$emit('SearchGroupOrder',query.slice(0, -1))
      },
      //得知所有團購名稱
      async getgroupbuygroup(){
        var _self = this
        _self.GroupBuyGroupList = []
        _self.payloadgroup = 'all?partner_id=' + _self.groupbuyorder.partner_id
        // _self.groupbuyshop = Object.assign({}, defaultShop)
        await getGroupBuyGroup(_self.payloadgroup).then(resp => {
            if(resp.success==true){
                _self.GroupBuyGroupList = resp.data
            }
        })
    },
  },
}
</script>