<template>
    <div>
    <el-dialog :visible="dialogSearchVisible" :title="dialogSearchType==='search'?'搜尋會員票卷':''"
    :before-close="closeMemberCoupon" center fullscreen
    append-to-body
    >
    <!-- {{membercoupon}} -->
    <!-- {{GroupBuyCoupon_invalid}} -->
    <el-form :inline="true" :model="membercoupon" class="demo-form-inline">
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="合作夥伴">
                    <br/>
                    <el-select
                        v-model="membercoupon.partner_id"
                        name="partner_id"
                        filterable
                        allow-create
                        default-first-option
                        placeholder="選擇合作夥伴"
                        disabled
                    >
                        <el-option
                            v-for="item in partnerlist.list"
                            :key="item.category_id"
                            :label="item.partner_name"
                            :value="item.partner_id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="會員資訊">
                    <br/>
                    <el-select
                        v-model="membercoupon.search_member_info"
                        name="search_member_info"
                        filterable
                        remote
                        :remote-method="search_member"
                        placeholder="選擇會員"
                        :loading="search_mid_loading"
                        @change="searchmembercoupon"
                        ref="search_member_info"
                        >
                        <el-option
                        v-for="item in allmemberlist"
                        :key="item.mid"
                        :label="item.mobile+'('+item.real_name+')'"
                        :value="item.mobile"
                        
                        >
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <div style="text-align:right;">
                <!-- <el-button type="primary" @click="searchmembercoupon" icon="el-icon-search" :disabled="membercoupon.search_member_info==''?true:false">查詢</el-button> -->
                <el-button type="danger" @click="closeMemberCoupon">關閉</el-button>
            </div>
        </el-row>
        <el-row :gutter="20" v-loading="CouponlistLoading" v-show="GroupBuyCoupon.length!=0">
          <el-tabs v-model="activeTab">
            <el-tab-pane :label='"全部("+GroupBuyCoupon.length+")"' name="all_coupon">
                <!-- 全部票卷 -->
              <el-col :xs="24" :sm="24" :lg="12" :xl="12" v-for="(item,index) in GroupBuyCoupon" :key="index" v-show="GroupBuyCoupon.length!=0" v-loading="CouponlistLoading">
                  <el-card shadow="hover" class="box-card" style="margin:15px 0;">
                  <div slot="header" class="clearfix">
                      <span style="fon-size:18px;color:red;">票卷資訊</span><br/>
                      <span style="fon-size:18px;color:red;font-size:18px;">#{{item.order_sn}}</span>
                      <!-- {{item}} -->
                              <!-- {{checkgroupbuycouponmessage}}
                              {{search_groupbuycoupon}} -->
                              <!-- {{checkgroupbuycouponswitch}}
                              {{checkgroupbuycoupontitle }} -->
                  </div>
                  <div style="margin-bottom:10px;text-align:center;">
                      <el-avatar 
                      size="large"
                      :src="item.avatar"
                      v-if="item.avatar!=null"
                      >
                      </el-avatar>
                      <el-descriptions title="會員信息">
                          <el-descriptions-item label="使用者"><span style="font-size:18px;">{{item.real_name}}</span></el-descriptions-item>
                          <el-descriptions-item label="手機號碼"><span style="font-size:18px;">{{item.mobile}}</span></el-descriptions-item>
                          <el-descriptions-item label="信箱" ><span style="font-size:18px;">{{item.email}}</span></el-descriptions-item>
                      </el-descriptions>
                      <el-descriptions title="訂單資訊">
                          <el-descriptions-item label="訂單狀態"><el-tag size="large" style="font-size:18px;" :type="item.status==1?'':'danger'">{{item.status|order_status}}</el-tag></el-descriptions-item>
                          <el-descriptions-item label="訂單備註" v-show="item.order_note!=''"><el-tag size="large" style="font-size:18px;" type="danger">{{item.order_note}}</el-tag></el-descriptions-item>
                      </el-descriptions>
                      <el-descriptions title="使用票卷資訊">
                          <el-descriptions-item label="票卷種類"><span style="font-size:18px;">{{item.kind|kind}}</span></el-descriptions-item>
                          <el-descriptions-item label="購買品項/張數">
                          <span style="font-size:16px;">{{item.title}}*{{item.qty}}</span>
                          </el-descriptions-item>
                          <el-descriptions-item label="合計張數" v-if="item.kind==0">
                            <el-tag size="large" style="font-size:18px;">{{item.option*item.qty}}</el-tag>
                          </el-descriptions-item>
                          <el-descriptions-item label="剩餘張數" v-if="item.kind==0"><el-tag size="large" :type="total_using_ticket(item.option*item.qty,item.practice_using_qty)<=1?'danger':''" style="font-size:18px;">{{total_using_ticket(item.option*item.qty,item.practice_using_qty)}}</el-tag></el-descriptions-item>
                         <el-descriptions-item :label="item.kind!=0?'有效日期':'購票日期'"><el-tag size="large" :type="item.kind!=0?'danger':''" style="font-size:18px;">{{created_expire_date(item.kind,item.created_at)}}</el-tag></el-descriptions-item>
                      </el-descriptions>
                      <el-collapse accordion>
                          <el-collapse-item>
                              <template slot="title">
                              使用紀錄<i class="header-icon el-icon-info"></i>
                              </template>
                              <el-descriptions title="歷史使用紀錄" v-for="(past_using_items_list,index_2) in item.past_using_items" :key="index_2">
                                  <el-descriptions-item label="使用數量"><span style="font-size:18px;">{{past_using_items_list.qty}}</span></el-descriptions-item>
                                  <el-descriptions-item label="使用時間"><span style="color:red; font-size:18px;">{{past_using_items_list.created_at}}</span></el-descriptions-item>
                              </el-descriptions>
                          </el-collapse-item>
                      </el-collapse>
                  </div>
                  <div style="margin-bottom:10px;text-align:center;">
                      <el-button type="primary" icon="el-icon-edit" @click="checkgroupbuycoupon(item.order_sn,item.product_id,item.title)">審核</el-button><br/>
                  </div>
                  </el-card>
              </el-col>
              <el-col v-show="GroupBuyCoupon.length==0">
                  <el-empty description="無票卷資訊"></el-empty>
              </el-col>
            </el-tab-pane>
            <el-tab-pane :label='"有效("+GroupBuyCoupon_invalid.length+")"' name="invalid_coupon">
                <!-- 有效票卷 -->
              <el-col :xs="24" :sm="24" :lg="12" :xl="12" v-for="(item,index) in GroupBuyCoupon_invalid" :key="index" v-show="GroupBuyCoupon_invalid.length!=0" v-loading="CouponlistLoading">
                  <el-card shadow="hover" class="box-card" style="margin:15px 0;">
                  <div slot="header" class="clearfix">
                      <span style="fon-size:18px;color:red;">票卷資訊</span><br/>
                      <span style="fon-size:18px;color:red;font-size:18px;">#{{item.order_sn}}</span>
                      <!-- {{item}} -->
                              <!-- {{checkgroupbuycouponmessage}}
                              {{search_groupbuycoupon}} -->
                              <!-- {{checkgroupbuycouponswitch}}
                              {{checkgroupbuycoupontitle }} -->
                  </div>
                  <div style="margin-bottom:10px;text-align:center;">
                      <el-avatar 
                      size="large"
                      :src="item.avatar"
                      v-if="item.avatar!=null"
                      >
                      </el-avatar>
                      <el-descriptions title="會員信息">
                          <el-descriptions-item label="使用者"><span style="font-size:18px;">{{item.real_name}}</span></el-descriptions-item>
                          <el-descriptions-item label="手機號碼"><span style="font-size:18px;">{{item.mobile}}</span></el-descriptions-item>
                          <el-descriptions-item label="信箱" ><span style="font-size:18px;">{{item.email}}</span></el-descriptions-item>
                      </el-descriptions>
                      <el-descriptions title="訂單資訊">
                          <el-descriptions-item label="訂單狀態"><el-tag size="large" style="font-size:18px;" :type="item.status==1?'':'danger'">{{item.status|order_status}}</el-tag></el-descriptions-item>
                          <el-descriptions-item label="訂單備註" v-show="item.order_note!=''"><el-tag size="large" style="font-size:18px;" type="danger">{{item.order_note}}</el-tag></el-descriptions-item>
                      </el-descriptions>
                      <el-descriptions title="使用票卷資訊">
                          <el-descriptions-item label="票卷種類"><span style="font-size:18px;">{{item.kind|kind}}</span></el-descriptions-item>
                          <el-descriptions-item label="購買品項/張數">
                          <span style="font-size:16px;">{{item.title}}*{{item.qty}}</span>
                          </el-descriptions-item>
                          <el-descriptions-item label="合計張數" v-if="item.kind==0">
                            <el-tag size="large" style="font-size:18px;">{{item.option*item.qty}}</el-tag>
                          </el-descriptions-item>
                           <el-descriptions-item label="剩餘張數" v-if="item.kind==0"><el-tag size="large" :type="total_using_ticket(item.option*item.qty,item.practice_using_qty)<=1?'danger':''" style="font-size:18px;">{{total_using_ticket(item.option*item.qty,item.practice_using_qty)}}</el-tag></el-descriptions-item>
                          <el-descriptions-item :label="item.kind!=0?'有效日期':'購票日期'"><el-tag size="large" :type="item.kind!=0?'danger':''" style="font-size:18px;">{{created_expire_date(item.kind,item.created_at)}}</el-tag></el-descriptions-item>
                      </el-descriptions>
                      <el-collapse accordion>
                          <el-collapse-item>
                              <template slot="title">
                              使用紀錄<i class="header-icon el-icon-info"></i>
                              </template>
                              <el-descriptions title="歷史使用紀錄" v-for="(past_using_items_list,index_2) in item.past_using_items" :key="index_2">
                                  <el-descriptions-item label="使用數量"><span style="font-size:18px;">{{past_using_items_list.qty}}</span></el-descriptions-item>
                                  <el-descriptions-item label="使用時間"><span style="color:red; font-size:18px;">{{past_using_items_list.created_at}}</span></el-descriptions-item>
                              </el-descriptions>
                          </el-collapse-item>
                      </el-collapse>
                  </div>
                  <div style="margin-bottom:10px;text-align:center;">
                      <el-button type="primary" icon="el-icon-edit" @click="checkgroupbuycoupon(item.order_sn,item.product_id,item.title)">審核</el-button><br/>
                  </div>
                  </el-card>
              </el-col>
              <el-col v-show="GroupBuyCoupon_invalid.length==0">
                  <el-empty description="無票卷資訊"></el-empty>
              </el-col>
            </el-tab-pane>
            <el-tab-pane :label='"無效("+GroupBuyCoupon_not_invalid.length+")"' name="not_valid_coupon">
                <!-- 無效票卷 -->
              <el-col :xs="24" :sm="24" :lg="12" :xl="12" v-for="(item,index) in GroupBuyCoupon_not_invalid" :key="index" v-show="GroupBuyCoupon_not_invalid.length!=0" v-loading="CouponlistLoading">
                  <el-card shadow="hover" class="box-card" style="margin:15px 0;">
                  <div slot="header" class="clearfix">
                      <span style="fon-size:18px;color:red;">票卷資訊</span><br/>
                      <span style="fon-size:18px;color:red;font-size:18px;">#{{item.order_sn}}</span>
                      <!-- {{item}} -->
                              <!-- {{checkgroupbuycouponmessage}}
                              {{search_groupbuycoupon}} -->
                              <!-- {{checkgroupbuycouponswitch}}
                              {{checkgroupbuycoupontitle }} -->
                  </div>
                  <div style="margin-bottom:10px;text-align:center;">
                      <el-avatar 
                      size="large"
                      :src="item.avatar"
                      v-if="item.avatar!=null"
                      >
                      </el-avatar>
                      <el-descriptions title="會員信息">
                          <el-descriptions-item label="使用者"><span style="font-size:18px;">{{item.real_name}}</span></el-descriptions-item>
                          <el-descriptions-item label="手機號碼"><span style="font-size:18px;">{{item.mobile}}</span></el-descriptions-item>
                          <el-descriptions-item label="信箱" ><span style="font-size:18px;">{{item.email}}</span></el-descriptions-item>
                      </el-descriptions>
                      <el-descriptions title="訂單資訊">
                          <el-descriptions-item label="訂單狀態"><el-tag size="large" style="font-size:18px;" :type="item.status==1?'':'danger'">{{item.status|order_status}}</el-tag></el-descriptions-item>
                          <el-descriptions-item label="訂單備註" v-show="item.order_note!=''"><el-tag size="large" style="font-size:18px;" type="danger">{{item.order_note}}</el-tag></el-descriptions-item>
                      </el-descriptions>
                      <el-descriptions title="使用票卷資訊">
                          <el-descriptions-item label="票卷種類"><span style="font-size:18px;">{{item.kind|kind}}</span></el-descriptions-item>
                          <el-descriptions-item label="購買品項/張數">
                          <span style="font-size:16px;">{{item.title}}*{{item.qty}}</span>
                          </el-descriptions-item>
                          <el-descriptions-item label="合計張數" v-if="item.kind==0">
                            <el-tag size="large" style="font-size:18px;">{{item.option*item.qty}}</el-tag>
                          </el-descriptions-item>
                          <el-descriptions-item label="剩餘張數" v-if="item.kind==0"><el-tag size="large" :type="total_using_ticket(item.option*item.qty,item.practice_using_qty)<=1?'danger':''" style="font-size:18px;">{{total_using_ticket(item.option*item.qty,item.practice_using_qty)}}</el-tag></el-descriptions-item>
                          <el-descriptions-item :label="item.kind!=0?'有效日期':'購票日期'"><el-tag size="large" :type="item.kind!=0?'danger':''" style="font-size:18px;">{{created_expire_date(item.kind,item.created_at)}}</el-tag></el-descriptions-item>
                      </el-descriptions>
                      <el-collapse accordion>
                          <el-collapse-item>
                              <template slot="title">
                              使用紀錄<i class="header-icon el-icon-info"></i>
                              </template>
                              <el-descriptions title="歷史使用紀錄" v-for="(past_using_items_list,index_2) in item.past_using_items" :key="index_2">
                                  <el-descriptions-item label="使用數量"><span style="font-size:18px;">{{past_using_items_list.qty}}</span></el-descriptions-item>
                                  <el-descriptions-item label="使用時間"><span style="color:red; font-size:18px;">{{past_using_items_list.created_at}}</span></el-descriptions-item>
                              </el-descriptions>
                          </el-collapse-item>
                      </el-collapse>
                  </div>
                  <!-- <div style="margin-bottom:10px;text-align:center;">
                      <el-button type="primary" icon="el-icon-edit" @click="checkgroupbuycoupon(item.order_sn,item.product_id,item.title)">審核</el-button><br/>
                  </div> -->
                  </el-card>
              </el-col>
              <el-col v-show="GroupBuyCoupon_not_invalid.length==0">
                  <el-empty description="無票卷資訊"></el-empty>
              </el-col>
            </el-tab-pane>
          </el-tabs>
        </el-row>
    </el-form>
    </el-dialog>
    <!-- 票卷訊息提示 -->
    <el-dialog
    title="訊息提示"
    :visible.sync="checkgroupbuycouponswitch"
    width="30%"
    center>
    <el-result :icon="checkgroupbuycouponmessage==true?'success':'error'" :title="checkgroupbuycouponmessage==true?'票卷審核完成':'票卷審核失敗'" :subTitle="checkgroupbuycoupontitle">
    </el-result>
    <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="checkgroupbuycouponswitch=false">關閉</el-button>
    </span>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 400px;
    height: 400px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
import { searchMemberCoupon,checkGroupBuyCoupon,getGroupBuyMember } from '@/api/groupbuy_manager'
import moment from 'moment'
export default {
name: 'SearchMemberCoupon',
props:{
    enter_place:{
        type:String,
        require:true
    },
    dialogSearchType:{
        type:String,
        require:true
    },
    dialogSearchVisible:{
        type:Boolean,
        require:true
    },
    membercoupon:{
        type:Object,
        require:true
    },
},
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
    watch: {
      "membercoupon.search_member_info":{
        handler: function(val, oldVal) {
        //enter_palce從訂單進來才需判斷
        if(this.enter_place=='order'){
          if(this.membercoupon.search_member_info!=''){
            this.searchmembercoupon()
          }
        }
      },
      immediate: true
      }
  },
  data() {
    return {
      GroupBuyCoupon:[],
      GroupBuyCoupon_invalid:[],
      GroupBuyCoupon_not_invalid:[],
      CouponlistLoading:false,
      //票卷審核資訊
      checkgroupbuycouponswitch:false,
      //審核正確與錯誤訊息
      checkgroupbuycouponmessage:'',
      //審核錯誤訊息內文
      checkgroupbuycoupontitle:'',
      search_groupbuycoupon:{},
      search_mid_loading:false,
      allmemberlist:[],
      activeTab:'invalid_coupon'
    }
  },
  filters:{
      order_status(status){
      const order_status = {
        0: '訂單 未付款',
        1: '訂單 已付款',
        "-1": '訂單 已取消'
      }
      return order_status[status]
    },
      type(status){
      const type = {
        0: '實體',
        1: '票卷'
      }
      return type[status]
    },
      kind(status){
      const kind = {
        0: '一般性票卷',
        1: '月票卷',
        2: '季票卷',
        3: '年票卷',
        4: '半年票卷'
      }
      return kind[status]
    },
  },
  methods: {
    //關閉選單
    closeMemberCoupon(){
    //更新資料進入外層的關閉選單
    this.dialogSearchVisible = false
    this.dialogSearchType = ''
    this.membercoupon.search_member_info = ''
    this.GroupBuyCoupon = []
    this.GroupBuyCoupon_invalid = []
    this.GroupBuyCoupon_not_invalid = []
    // this.refs.tinymce.setContent('')
    this.$emit('getMemberCoupon_status_dialogtype',this.dialogSearchVisible,this.dialogSearchType,this.enter_place)
    },
    //計算所有票卷張數
    total_using_ticket(all_ticket,using_ticket){
      return all_ticket-using_ticket
    },
    //得知開始及到期日期
    created_expire_date(kind,created_at){
      //判斷kind一般性票卷
      if(kind==0){
        return moment(created_at).format('YYYY-MM-DD')
      }
      //判斷kind月票卷
      if(kind==1){
        return moment(created_at).format('YYYY-MM-DD')+'~'+moment(created_at).add(30,'d').format('YYYY-MM-DD')
      }
      //判斷kind季票卷
      if(kind==2){
        return moment(created_at).format('YYYY-MM-DD')+'~'+ moment(created_at).add(90,'d').format('YYYY-MM-DD')
      }
      //判斷kind年票卷
      if(kind==3){
        return moment(created_at).format('YYYY-MM-DD')+'~'+ moment(created_at).add(365,'d').format('YYYY-MM-DD')
      }
      //判斷kind半年票卷
      if(kind==4){
        return moment(created_at).format('YYYY-MM-DD')+'~'+ moment(created_at).add(183,'d').format('YYYY-MM-DD')
      }
    },
    //得知票卷基本資訊
    searchmembercoupon(){
      var _self = this
      _self.CouponlistLoading = true
      var payload = 'all?partner_id='+_self.membercoupon.partner_id+'&search_member_info='+_self.membercoupon.search_member_info
      searchMemberCoupon(payload).then(resp => {
        _self.GroupBuyCoupon = []
        _self.GroupBuyCoupon_invalid = []
        _self.GroupBuyCoupon_not_invalid = []
        var GroupBuyCoupon_invalid = []
        if(resp.success==true){
            //判斷partner_id和商品類型為虛擬商品及訂單狀態為已付款（呈現全部訂單）
            _self.GroupBuyCoupon = resp.data.list.filter(data=>data.partner_id==_self.membercoupon.partner_id&&data.type==1)
            //判斷partner_id和商品類型為虛擬商品及訂單狀態為未付款獲取消（呈現無效訂單）
            _self.GroupBuyCoupon_not_invalid = resp.data.list.filter(data=>data.partner_id==_self.membercoupon.partner_id&&data.type==1&(data.status==0||data.status==-1))
            //判斷partner_id和商品類型為虛擬商品及訂單狀態為已付款（呈現有效訂單）
            GroupBuyCoupon_invalid = resp.data.list.filter(data=>data.partner_id==_self.membercoupon.partner_id&&data.type==1&data.status==1)
            console.log(_self.GroupBuyCoupon_invalid)
            console.log(GroupBuyCoupon_invalid)
            console.log(_self.GroupBuyCoupon_not_invalid)
            // console.log(_self.GroupBuyCoupon_invalid)
            GroupBuyCoupon_invalid.forEach((element)=>{
              //判斷kind一次性票卷
              var total_using = 0
              var start_at,expire_at,now
              if(element.kind==0){
                total_using = element.option*element.qty-parseInt(element.practice_using_qty)
                console.log(total_using)
                if(total_using<=0){
                    _self.GroupBuyCoupon_not_invalid.push(element)
                }
                if(total_using>0){
                    _self.GroupBuyCoupon_invalid.push(element)
                }
              }
              //判斷kind月票卷
              else if(element.kind==1){
                now = moment(new Date()).format('YYYY-MM-DD HH:mm:ss')
                console.log(now)
                expire_at = moment(element.created_at).add(1,'M').format('YYYY-MM-DD 23:59:59')
                console.log(now)
                console.log(start_at)
                console.log(expire_at)
                 //現在日期小於到期日期
                if(moment(now).isBefore(expire_at)){
                    _self.GroupBuyCoupon_invalid.push(element)
                }
                 //現在日期大於到期日期
                if(moment(now).isAfter(expire_at)){
                    _self.GroupBuyCoupon_not_invalid.push(element)
                }
              }
              //判斷kind季票卷
              else if(element.kind==2){
                now = moment(new Date()).format('YYYY-MM-DD HH:mm:ss')
                console.log(now)
                expire_at = moment(element.created_at).add(4,'M').format('YYYY-MM-DD 23:59:59')
                console.log(now)
                console.log(start_at)
                console.log(expire_at)
                 //現在日期小於到期日期
                if(moment(now).isBefore(expire_at)){
                    _self.GroupBuyCoupon_invalid.push(element)
                }
                 //現在日期大於到期日期
                if(moment(now).isAfter(expire_at)){
                    _self.GroupBuyCoupon_not_invalid.push(element)
                }
              }
              //判斷kind年票卷
              else if(element.kind==3){
                now = moment(new Date()).format('YYYY-MM-DD HH:mm:ss')
                console.log(now)
                expire_at = moment(element.created_at).add(12,'M').format('YYYY-MM-DD 23:59:59')
                console.log(now)
                console.log(start_at)
                console.log(expire_at)
                 //現在日期小於到期日期
                if(moment(now).isBefore(expire_at)){
                    _self.GroupBuyCoupon_invalid.push(element)
                }
                 //現在日期大於到期日期
                if(moment(now).isAfter(expire_at)){
                    _self.GroupBuyCoupon_not_invalid.push(element)
                }
              }
              //判斷kind半年票卷
              else if(element.kind==4){
                now = moment(new Date()).format('YYYY-MM-DD HH:mm:ss')
                console.log(now)
                expire_at = moment(element.created_at).add(6,'M').format('YYYY-MM-DD 23:59:59')
                console.log(now)
                console.log(start_at)
                console.log(expire_at)
                 //現在日期小於到期日期
                if(moment(now).isBefore(expire_at)){
                    _self.GroupBuyCoupon_invalid.push(element)
                }
                 //現在日期大於到期日期
                if(moment(now).isAfter(expire_at)){
                    _self.GroupBuyCoupon_not_invalid.push(element)
                }
              }
              else{
                _self.GroupBuyCoupon_invalid.push(element)
              }
            })
            // _self.GroupBuyCoupon = resp.data.list.filter(data=>data.partner_id==_self.membercoupon.partner_id&&data.type==1)
        }
        _self.CouponlistLoading = false
      })
    },
    //搜尋會員
    search_member(query){
      this.search_mid_loading = true
      if(query!=''){
        var payload ='1?partner_id='+this.membercoupon.partner_id+'&search_member='+query
        getGroupBuyMember(payload).then(resp => {
            if(resp.success==true){
              this.allmemberlist = []
              resp.data.list.forEach((element,index)=>{
                //判斷會員是否為該合作夥伴
                if(this.membercoupon.partner_id==element.partner_id){
                  this.allmemberlist.push({
                    "mid": element.id,
                    "real_name": element.real_name,
                    "nick_name": element.nick_name,
                    "avatar": element.avatar,
                    "mobile": element.mobile,
                    "line_user_id": element.line_user_id,
                    "address": element.address
                  })
                }
              })
              this.search_mid_loading = false
            }
        })
      }
      else{
        this.allmemberlist = []
        this.search_mid_loading = false
      }
    },
    //審核
    checkgroupbuycoupon(order_sn,product_id,product_name){
        var _self = this
        _self.search_groupbuycoupon['partner_id'] = _self.membercoupon.partner_id
        _self.search_groupbuycoupon['coupon_order'] = order_sn+'+'+product_id
        _self.search_groupbuycoupon['coupon_name'] = product_name
        var regex = /^[0-9\s]*$/;
      _self.$prompt('請輸入使用張數?', '是否確定審核「'+_self.search_groupbuycoupon['coupon_name']+'」', {
        inputValue:'1',
        inputValidator:(value)=>{
            if(!value){
                return '輸入框不能為空值'
            }
            if(!regex.test(value)){
                return '輸入框必須為數字'
            }
        }
    
        }).then(({ value }) => {
          _self.search_groupbuycoupon['coupon_qty'] = value
          checkGroupBuyCoupon(_self.search_groupbuycoupon).then(resp => {
            console.log("resp",resp.success)
             if(resp.success==true){
                _self.checkgroupbuycouponswitch = true
                _self.checkgroupbuycoupontitle = resp.message
                _self.checkgroupbuycouponmessage = resp.success
                _self.searchmembercoupon()
             }
             if(resp.success==false){
                _self.checkgroupbuycouponswitch = true
                _self.checkgroupbuycoupontitle = resp.data
                _self.checkgroupbuycouponmessage = resp.success
             }
          })
        }).catch(() => {
          _self.$message({
            type: 'info',
            message: '取消審核票卷資訊'
          });       
        });
    }
  }
}
</script>