<template>
    <div>
    <el-dialog :visible="dialogNotifyVisible" :title="dialogNotifyType==='new'?'補寄通知':''"
    :before-close="closeAddNotifyReception" center
    append-to-body
    >
      <el-form :rules="ReceptionNotifyRules" status-icon ref="groupbuyreceptionnotify" :model="groupbuyreceptionnotify" label-position="right">
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="12" :xl="8">
              <el-form-item label="發送電子郵件" prop="ecpay_payload.NotifyMail">
                  <el-input ref="發送電子郵件" v-model="groupbuyreceptionnotify.ecpay_payload.NotifyMail"
                  name="NotifyMail" placeholder="請輸入發送電子郵件"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="8">
              <el-form-item label="發送簡訊號碼" prop="ecpay_payload.Phone">
                  <el-input ref="發送簡訊號碼" v-model="groupbuyreceptionnotify.ecpay_payload.Phone"
                  name="Phone" placeholder="請輸入發送簡訊號碼"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="8">
              <el-form-item label="發票號碼" prop="ecpay_payload.InvoiceNo">
                  <el-input ref="發票號碼" v-model="groupbuyreceptionnotify.ecpay_payload.InvoiceNo"
                  name="InvoiceNo" placeholder="請輸入發票號碼"
                  autocomplete="off"
                  disabled
                   />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="8">
              <el-form-item label="發送方式" prop="ecpay_payload.Notify">
                <br/>
                <el-select
                v-model="groupbuyreceptionnotify.ecpay_payload.Notify"
                placeholder="請選擇發送方式"
                filterable
                default-first-option
                style="margin:auto 10px;"
                >
                    <el-option label="簡訊" value="S">簡訊</el-option>
                    <el-option label="電子郵件" value="E">電子郵件</el-option>
                    <el-option label="皆通知時" value="A">皆通知時</el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="8">
              <el-form-item label="發送內容類型" prop="ecpay_payload.InvoiceTag">
                <br/>
                <el-select
                v-model="groupbuyreceptionnotify.ecpay_payload.InvoiceTag"
                placeholder="請選擇發送內容類型"
                filterable
                default-first-option
                style="margin:auto 10px;"
                >
                    <el-option label="發票開立" value="I">發票開立</el-option>
                    <el-option label="發票作廢" value="II">發票作廢</el-option>
                    <el-option label="發票中獎" value="AW">發票中獎</el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="8">
              <el-form-item label="發送對象" prop="ecpay_payload.Notified">
                <br/>
                <el-select
                v-model="groupbuyreceptionnotify.ecpay_payload.Notified"
                placeholder="請選擇發送對象"
                filterable
                default-first-option
                style="margin:auto 10px;"
                >
                    <el-option label="發送通知給客戶" value="C">發送通知給客戶</el-option>
                </el-select>
              </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddNotifyReception">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmNotifyReception('groupbuyreceptionnotify')">補寄通知</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 400px;
    height: 400px;
    display: block;
  }
</style>
<script>
import { Notifygroupbuyreception } from '@/api/groupbuy_manager'
export default {
name: 'SendGroupBuyReception',
props:{
    dialogNotifyType:{
        type:String,
        require:true
    },
    dialogNotifyVisible:{
        type:Boolean,
        require:true
    },
    groupbuyreceptionnotify:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      ReceptionNotifyRules: {
        "ecpay_payload.NotifyMail":[{required:true}],
        "ecpay_payload.Phone":[{required:true}],
        "ecpay_payload.InvoiceNo":[{required:true}],
        "ecpay_payload.Notify":[{required:true}],
        "ecpay_payload.InvoiceTag":[{required:true}],
        "ecpay_payload.Notified":[{required:true}]
      },
      loading:false,
    }
  },
    watch: {
      dialogNotifyType:{
        handler: function(val, oldVal) {

      },
      immediate: true
      },
  },
  methods: {
    //關閉選單
    closeAddNotifyReception(){
    //更新資料進入外層的關閉選單
    this.dialogNotifyVisible = false
    this.dialogNotifyType = ''
    this.$emit('getReception_Notify_status_dialogtype',this.dialogNotifyVisible,this.dialogNotifyType)
    },
    confirmNotifyReception(groupbuyreceptionnotify){
        this.$refs[groupbuyreceptionnotify].validate(valid => {
            if (valid) {
            this.loading = true
            if(this.dialogNotifyType=='new'){
                Notifygroupbuyreception(this.groupbuyreceptionnotify)
                .then((resp) => {
                    this.$message({
                    message: resp.message,
                    type: resp.success==true ? 'success':'error'
                    })
                    //判斷是否為新增或修改
                    this.loading = false
                    //關閉選單
                    this.closeAddNotifyReception()
                })
                .catch(() => {
                    this.loading = false
                    return false
                })
            }
            }
            else {
            console.log('有資料未填寫!!')
            return false
            }
        })
    }
  }
}
</script>