<template>
  <div class="app-container">
    <el-select
      v-model="partner"
      placeholder="請選擇合作夥伴"
      filterable
      default-first-option
      style="margin:auto 10px;"
      @change="chosenPartner"
    >
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id"
      />
    </el-select>
    <!-- {{Linebotchecknotshowothermenu}} -->
    <!-- {{LinebotInfo}} -->
      <el-tabs v-model="activeTab">
        <el-tab-pane label="首頁大圖" name="reserve_system_banner">
            <!-- 首頁大圖 -->
              <ReservationSystemBanner :activeTab="activeTab" :partner="partner" :check_admin_premission="check_admin_premission" />
        </el-tab-pane>
        <el-tab-pane label="首頁跑馬燈" name="reserve_system_marquee">
            <!-- 首頁跑馬燈 -->
              <ReservationSystemMarquee :activeTab="activeTab" :partner="partner" :check_admin_premission="check_admin_premission" />
        </el-tab-pane>
        <el-tab-pane label="最新消息" name="reserve_system_hotnews">
            <!-- 最新消息 -->
              <ReservationSystemHotnews :activeTab="activeTab" :partner="partner" :check_admin_premission="check_admin_premission" />
        </el-tab-pane>
        <el-tab-pane label="服務項目" name="reserve_system_services">
            <!-- 服務項目 -->
              <ReservationSystemService :activeTab="activeTab" :partner="partner" :check_admin_premission="check_admin_premission" />
        </el-tab-pane>
        <el-tab-pane label="衛教" name="reserve_system_health">
            <!-- 衛教 -->
              <ReservationSystemHealth :activeTab="activeTab" :partner="partner" :check_admin_premission="check_admin_premission" />
        </el-tab-pane>
        <el-tab-pane label="團隊成員" name="reserve_system_team">
            <!-- 團隊成員 -->
              <ReservationSystemTeam :activeTab="activeTab" :partner="partner" :check_admin_premission="check_admin_premission" />
        </el-tab-pane>
        <el-tab-pane label="單位基本資料" name="reserve_system_setting">
            <!-- 單位基本資料 -->
              <ReservationSystemSetting :activeTab="activeTab" :partner="partner" :check_admin_premission="check_admin_premission" />
        </el-tab-pane>
        <el-tab-pane label="單位基本資料(前端偏好設定)" name="reserve_system_preference_setting">
            <!-- 單位基本資料(前端偏好設定) -->
              <ReservationSystemSettingPreference :activeTab="activeTab" :partner="partner" :check_admin_premission="check_admin_premission" />
        </el-tab-pane>
        <el-tab-pane label="單位基本資料(banner、網頁資訊)" name="reserve_system_banner_meta_setting">
            <!-- 單位基本資料(banner、網頁資訊) -->
            <ReservationSystemSettingBannerMetaPreference :activeTab="activeTab" :partner="partner" :check_admin_premission="check_admin_premission" />
        </el-tab-pane>
      </el-tabs>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import path from 'path'
import { deepClone } from '@/utils'
import { getAdminPremission } from '@/api/premission_manager'
import ReservationSystemBanner from '../reservation_system_page/components/reservationsystembanner.vue'
import ReservationSystemSetting from '../reservation_system_page/components/reservationsystemsetting.vue'
import ReservationSystemSettingPreference from '../reservation_system_page/components/reservationsystemsettingpreference.vue'
import ReservationSystemMarquee from '../reservation_system_page/components/reservationsystemmarquee.vue'
import ReservationSystemHotnews from '../reservation_system_page/components/reservationsystemhotnews.vue'
import ReservationSystemService from '../reservation_system_page/components/reservationsystemservice.vue'
import ReservationSystemHealth from '../reservation_system_page/components/reservationsystemhealth.vue'
import ReservationSystemTeam from '../reservation_system_page/components/reservationsystemteam.vue'
import ReservationSystemSettingBannerMetaPreference from '../reservation_system_page/components/reservationsystemsettingbannermetapreference.vue'
export default {
  name: 'ReservationSystemPageManager',
  components: { ReservationSystemBanner,ReservationSystemMarquee,ReservationSystemHotnews,ReservationSystemService,ReservationSystemHealth,ReservationSystemSetting,ReservationSystemSettingPreference,ReservationSystemTeam,ReservationSystemSettingBannerMetaPreference },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'new',
      partner: '',
      check_admin_premission:[],
      activeTab:'reserve_system_banner',
      loading:false,
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  filters: {

  },
  async created() {
    // 顯示合作夥伴
    await this.getPartner('all')
    //預設帶入第一個partner_id
    await this.initPartner()
    // 得知使用者實際擁有權限
    await this.getAdminPremission("頁面模組")
  },
    watch: {
    partner:{
    handler: function(val, oldVal) {

    },
    immediate: true
    }
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner', payload)
    },
    async chosenPartner(){
        console.log(this.activeTab)
    },
    //剛開始直接設定預設的partner
    async initPartner(){
        await this.partnerlist.list.forEach(async(element,index)=>{
          if(index==0){
            console.log("show_first_init_partner",element.partner_id)
            this.partner = element.partner_id
          }
          console.log("show_all_init_partner",element.partner_id)
        })
        console.log(this.activeTab)
    },
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
