<template>
  <div class="app-container">
    <el-row :gutter="20">
      <el-col :xs="23" :sm="23" :lg="7" :xl="7" :offset="1" v-for="(item,index) in ai_manager" :key="index">
        <el-card shadow="hover" class="box-card" style="margin:15px 0;">
          <div slot="header" class="clearfix">
            <span>{{item.title}}</span>
            <el-link icon="el-icon-link" style="float: right; padding: 3px 0" :href="item.ai_url" target="_blank">參考外部Api</el-link>
          </div>
          <div>
            說明:建議圖片解析度需大於640x480，
            且車牌寬度介於170至180像素，車牌角度俯角低於15度時辨識準確度最佳。
            另車牌污損、遮蔽、反光、不完整將影響車牌辨識準確度。 
            汽車車牌辨識率為90%，機車車牌辨識率為75%。
            (辨識條件須滿足：圖片解析度大於640x480，車牌寬度介於170至180像素，車牌角度俯角低於15度，車牌無污損、遮蔽、反光、不完整等情況)
          </div>
          <div style="margin:10 0px;text-align:center">
            <el-upload
            class="avatar-uploader"
            action="https://shopstore-dashboardupload.gohojia.com/api/get_recognition_car"
            :multiple="false"
            :auto-upload="false"
            :limit="1"
            accept="image/jpg,image/jpeg"
            :on-change="before_car_photo_upload"
            :on-remove="reset_car_photo_upload"
            name="file"
            >
            <img v-if="show_car_photo_preview" :src="show_car_photo_preview" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
            <div style="margin:10px">
                <el-button :loading="loading" type="primary" @click.native.prevent="confirmrecognization()" :disabled="show_car_photo_preview==''?true:false">確認</el-button>
            </div>
          </div>
          <div style="margin:20px;" v-if="ai_result['result']!=''">
            <el-tag :type="ai_result['type']" effect="plain" style="font-size:20px;">{{ai_result['result']}}</el-tag>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <!-- <a class="document-btn" target="_blank" href="https://store.akveo.com/products/vue-java-admin-dashboard-spring?utm_campaign=akveo_store-Vue-Vue_demo%2Fgithub&utm_source=vue_admin&utm_medium=referral&utm_content=demo_English_button">Java backend integration</a>
    <a class="document-btn" target="_blank" href="https://panjiachen.github.io/vue-element-admin-site/">Documentation</a>
    <a class="document-btn" target="_blank" href="https://github.com/PanJiaChen/vue-element-admin/">Github Repository</a>
    <a class="document-btn" target="_blank" href="https://panjiachen.gitee.io/vue-element-admin-site/zh/">国内文档</a>
    <dropdown-menu class="document-btn" :items="articleList" title="系列文章" />
    <a class="document-btn" target="_blank" href="https://panjiachen.github.io/vue-element-admin-site/zh/job/">内推招聘</a> -->
  </div>
</template>
<style>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 300px;
    height: 300px;
    line-height: 300px;
    text-align: center;
  }
  .avatar {
    width: 300px;
    height: 300px;
    display: block;
  }
</style>
<script>
// import DropdownMenu from '@/components/Share/DropdownMenu'
import { insert_update_recogiation_car } from '@/api/ai_manager'
export default {
  name: '',
  // components: { DropdownMenu },
  data() {
    return {
        ai_manager: [
            { 
            title : "AI車牌辨識",
            ai_url: "https://iot.cht.com.tw/iot/developer/ai_document_api"
            }
        ],
        ai_result: {
            'result': '',
            'type': ''
        },
        car_photo: '',
        show_car_photo_preview: '',
        loading: false
    }
  },
  created() {

  },
  methods: {
    // 顯示辨識車牌
    async confirmrecognization() {
          this.loading = true
          const AIFormData = new FormData()
          if(this.car_photo !=null) {
            AIFormData.append('file', this.car_photo.raw)
          }
          insert_update_recogiation_car(AIFormData).then((resp)=>{
              if(resp.data.plates.length!=0) {
                this.ai_result['result'] = resp.data.plates[0].plateText
                this.ai_result['type'] = 'success'
              }
              else {
                this.ai_result['result'] = '找不到符合的車牌'
                this.ai_result['type'] = 'danger'
              }
              this.loading = false
          })
    },
    before_car_photo_upload(file) {
        const isJPG = file.raw.type.toLowerCase() === 'image/jpeg'||'image/jpg'||'image/png';
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isLt2M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
        //   this.$refs.
        return isLt2M;
        }
        else if(!isJPG) {
          this.$message.error('上傳格式不正確!!');
          return isJPG;
        }
        let reader = new FileReader()
        reader.readAsDataURL(file.raw);
        let URL = window.URL || window.webkitURL;
        console.log("file",file)
        // 放入所有車牌辨識資訊
        this.car_photo = file
        // 預覽圖片
        this.show_car_photo_preview = URL.createObjectURL(file.raw);
        return isLt2M&isJPG;
    },
    // 取消上傳圖片
    reset_car_photo_upload(){
    this.car_photo = null
    this.show_car_photo_preview = null
    this.ai_result['result'] = ''
    this.ai_result['type'] = ''
    }
  }
}
</script>

<style lang="scss" scoped>
// .documentation-container {
//   margin: 50px;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: flex-start;

//   .document-btn {
//     flex-shrink: 0;
//     display: block;
//     cursor: pointer;
//     background: black;
//     color: white;
//     height: 60px;
//     padding: 0 16px;
//     margin: 16px;
//     line-height: 60px;
//     font-size: 20px;
//     text-align: center;
//   }
// }
</style>
