<template>
  <div class="tab-container">
    <!-- {{activeName}} -->
    <el-button type="primary" icon="el-icon-edit" style="margin:5px auto;" @click="handleAddPartnerCategorylist" v-if="activeName=='all_partner_category_record'">新合作夥伴分類</el-button>
    <el-button type="primary" icon="el-icon-edit" style="margin:auto 5px;" @click="handleAddHotnewsCategorylist" v-if="activeName=='all_hotnews_category_record'">新最新消息分類</el-button>
    <el-button type="primary" icon="el-icon-edit" style="margin:5px auto;" @click="handleAddQuestionCategorylist" v-if="activeName=='all_question_category_record'">新常見問題分類</el-button>
    <el-button type="primary" icon="el-icon-edit" @click="handleAddShopCategorylist" v-if="activeName=='all_shop_category_record'">新商品分類</el-button>
    <el-button type="primary" icon="el-icon-edit" @click="handleAddRoleCategorylist" v-if="activeName=='all_role_category_record'">新角色分類</el-button>
    <el-button type="primary" icon="el-icon-edit" @click="handleAddMainPackagelist" v-if="activeName=='all_main_package_record'">新貼圖主標題分類</el-button>
    <el-button type="primary" icon="el-icon-edit" @click="handleAddSubPackagelist" v-if="activeName=='all_sub_package_record'">新貼圖子標題分類</el-button>
    <el-button type="primary" icon="el-icon-edit" style="margin:5px auto;" @click="handleAddWordCategorylist" v-if="activeName=='all_word_category_record'">新常用子句</el-button>
    <!-- <search-PartnerCategory-Record v-on:searchPartnerCategoryRecord="searchPartnerCategoryRecord" v-if="activeName=='all_partner_category_record'"/>
    <search-HotnewsCategory-Record v-on:searchHotnewsCategoryRecord="searchHotnewsCategoryRecord" v-if="activeName=='all_hotnews_category_record'"/>
    <search-QuestionCategory-Record v-on:searchQuestionCategoryRecord="searchQuestionCategoryRecord" v-if="activeName=='all_question_category_record'"/>
    <search-ShopCategory-Record v-on:searchShopCategoryRecord="searchShopCategoryRecord" v-if="activeName=='all_shop_categoey_record'"/> -->
    <el-tabs v-model="activeName" style="margin-top:15px; width:100%;" type="border-card">
      <el-tab-pane v-for="item in tabLogRecordOptions" :key="item.key" :label="item.label" :name="item.key">
        <keep-alive>
          <All-Category-Record v-if="activeName==item.key" 
          :type="item.key"
          :activeName="activeName"

          :search_partner_category_record_data_times="search_partner_category_record_data_times"
          :Panel="Panel"
          v-on:getAllPartnerCategorylist="handleEditPartnerCategorylist"

          :search_hotnews_category_record_data_times="search_hotnews_category_record_data_times"
          :insert_update_hotnews_category_data_times="insert_update_hotnews_category_data_times"
          v-on:getAllHotnewsCategorylist="handleEditHotnewsCategorylist"

          :search_question_category_record_data_times="search_question_category_record_data_times"
          :insert_update_question_category_data_times="insert_update_question_category_data_times"
          v-on:getAllQuestionCategorylist="handleEditQuestionCategorylist"

          :search_shop_categoey_record_data_times="search_shop_categoey_record_data_times"
          :insert_update_shop_category_data_times="insert_update_shop_category_data_times"
          v-on:getAllShopCategorylist="handleEditShopCategorylist"

          :search_role_categoey_record_data_times="search_role_categoey_record_data_times"
          :insert_update_role_category_data_times="insert_update_role_category_data_times"
          v-on:getAllRoleCategorylist="handleEditRoleCategorylist"

          :search_main_package_record_data_times="search_main_package_record_data_times"
          :insert_update_main_package_data_times="insert_update_main_package_data_times"
          v-on:getAllMainPackagelist="handleEditMainPackagelist"

          :search_sub_package_record_data_times="search_sub_package_record_data_times"
          :insert_update_sub_package_data_times="insert_update_sub_package_data_times"
          v-on:getAllSubPackagelist="handleEditSubPackagelist"

          :search_word_category_record_data_times="search_word_category_record_data_times"
          :insert_update_word_category_data_times="insert_update_word_category_data_times"
          v-on:getAllWordCategorylist="handleEditWordCategorylist"

           />
        </keep-alive>
      </el-tab-pane>
    </el-tabs>
    <add-PartnerCategorylist :dialogPartnerCategoryType="dialogPartnerCategoryType" :dialogPartnerCategoryVisible="dialogPartnerCategoryVisible" :partnercategorylist="partnercategorylist" 
     v-on:getPartnercategoryliststatus="getPartnercategoryliststatus" v-on:getpartnercategoryupdate="getpartnercategoryupdate" />
    <add-HotnewsCategorylist :dialogHotnewsCategoryType="dialogHotnewsCategoryType" :dialogHotnewsCategoryVisible="dialogHotnewsCategoryVisible" :hotnewscategorylist="hotnewscategorylist" 
     v-on:getHotnewscategoryliststatus="getHotnewscategoryliststatus" v-on:gethotnewscategoryupdate="gethotnewscategoryupdate" />
    <add-QuestionCategorylist :dialogQuestionCategoryType="dialogQuestionCategoryType" :dialogQuestionCategoryVisible="dialogQuestionCategoryVisible" :questioncategorylist="questioncategorylist" 
     v-on:getQuestioncategoryliststatus="getQuestioncategoryliststatus" v-on:getquestioncategoryupdate="getquestioncategoryupdate" />
    <add-ShopCategorylist :dialogShopCategoryType="dialogShopCategoryType" :dialogShopCategoryVisible="dialogShopCategoryVisible" :shopcategorylist="shopcategorylist" 
     v-on:getShopcategoryliststatus="getShopcategoryliststatus" v-on:getshopcategoryupdate="getshopcategoryupdate" />
    <add-RoleCategorylist :dialogRoleCategoryType="dialogRoleCategoryType" :dialogRoleCategoryVisible="dialogRoleCategoryVisible" :rolecategorylist="rolecategorylist" 
     v-on:getRolecategoryliststatus="getRolecategoryliststatus" v-on:getrolecategoryupdate="getrolecategoryupdate" />
    <add-MainPackagelist :dialogMainPackageType="dialogMainPackageType" :dialogMainPackageVisible="dialogMainPackageVisible" :mainpackagelist="mainpackagelist" 
     v-on:getMainPackageliststatus="getMainPackageliststatus" v-on:getmainpackageupdate="getmainpackageupdate" />
    <add-SubPackagelist :dialogSubPackageType="dialogSubPackageType" :dialogSubPackageVisible="dialogSubPackageVisible" :subpackagelist="subpackagelist" 
     v-on:getSubPackageliststatus="getSubPackageliststatus" v-on:getsubpackageupdate="getsubpackageupdate" />
    <add-word-category :dialogWordCategoryType="dialogWordCategoryType" :dialogWordCategoryVisible="dialogWordCategoryVisible" :wordcategory="wordcategorylist"
    v-on:getWordCategory_status_dialogtype="getWordcategoryliststatus" v-on:getwordcategoryupdate="getwordcategoryupdate" tabname="all_partner_category_record"
    />
  </div>
</template>

<script>
import { deepClone } from '@/utils'
import AllCategoryRecord from './component/AllCategoryRecord.vue'
import AddPartnerCategorylist from './component/AddPartnerCategorylist.vue'
import AddHotnewsCategorylist from './component/AddHotnewsCategorylist.vue'
import AddQuestionCategorylist from './component/AddQuestionCategorylist.vue'
import AddShopCategorylist from './component/AddShopCategorylist.vue'
import AddRoleCategorylist from './component/AddRoleCategorylist.vue'
import AddMainPackagelist from './component/AddMainPackagelist.vue'
import AddSubPackagelist from './component/AddSubPackagelist.vue'
import AddWordCategory from './component/AddWordCategory.vue'
// import SearchLoginRecord from './component/SearchLoginRecord.vue'
// import SearchLogRecord from './component/SearchLogRecord.vue'
const defaultPartnerCategorylist = {
    partner_category_name: ''
}
const defaultHotnewsCategorylist = {
    hotnews_category_name: ''
}
const defaultQuestionCategorylist = {
    question_category_name: ''
}
const defaultShopCategorylist = {
    shop_big_category: '',
    shop_big_category_number: '',
    shop_big_category_small_category: ''
}
const defaultRoleCategorylist = {
    roles_name: ''
}
const defaultMainPackagelist = {
    package_id:null,
    package_title: ''
}
const defaultSubPackagelist = {
    sticker_package_id:1,
    sticker_id: []
}
const defaultWordCategorylist = {
    reserve_system_word_type:0,
    reserve_system_word_title:'',
    reserve_system_word_content: ''
}
export default {
  components: { AllCategoryRecord, AddPartnerCategorylist, AddHotnewsCategorylist, AddQuestionCategorylist, AddShopCategorylist, AddRoleCategorylist, AddMainPackagelist, AddSubPackagelist,AddWordCategory },
  data() {
    return {
      tabLogRecordOptions: [
        { label: '合作夥伴分類', key: 'all_partner_category_record' },
        { label: '最新消息分類', key: 'all_hotnews_category_record' },
        { label: '常見問題分類', key: 'all_question_category_record' },
        { label: '商品分類', key: 'all_shop_category_record' },
        { label: '角色分類', key: 'all_role_category_record' },
        { label: '貼圖主標題', key: 'all_main_package_record' },
        { label: '貼圖子標題', key: 'all_sub_package_record' },
        { label: '常用文字', key: 'all_word_category_record' },
      ],
      activeName: 'all_partner_category_record',
      // 所有合作夥伴分類搜尋資料帶出
      search_partner_category_record_data_times: '',
      partnercategorylist: Object.assign({}, defaultPartnerCategorylist),
      dialogPartnerCategoryType: 'new',
      dialogPartnerCategoryVisible: false,
      Panel: Object.assign({}, {}),
      // 實際新增與修改代父層次數
      partnercategorylist_time: 1,

      // 所有最新消息分類搜尋資料帶出
      search_hotnews_category_record_data_times: '',
      hotnewscategorylist: Object.assign({}, defaultHotnewsCategorylist),
      dialogHotnewsCategoryType: 'new',
      dialogHotnewsCategoryVisible: false,
      insert_update_hotnews_category_data_times: Object.assign({}, {}),
      // 實際新增與修改代父層次數
      hotnewscategorylist_time: 1,

      // 所有常見問題分類搜尋資料帶出
      search_question_category_record_data_times: '',
      questioncategorylist: Object.assign({}, defaultQuestionCategorylist),
      dialogQuestionCategoryType: 'new',
      dialogQuestionCategoryVisible: false,
      insert_update_question_category_data_times: Object.assign({}, {}),
      // 實際新增與修改代父層次數
      questioncategorylist_time: 1,

      // 所有商品分類搜尋資料帶出
      search_shop_categoey_record_data_times: '',
      shopcategorylist: Object.assign({}, defaultShopCategorylist),
      dialogShopCategoryType: 'new',
      dialogShopCategoryVisible: false,
      insert_update_shop_category_data_times: Object.assign({}, {}),
      // 實際新增與修改代父層次數
      shopcategorylist_time: 1,

      // 所有角色分類搜尋資料帶出
      search_role_categoey_record_data_times: '',
      rolecategorylist: Object.assign({}, defaultRoleCategorylist),
      dialogRoleCategoryType: 'new',
      dialogRoleCategoryVisible: false,
      insert_update_role_category_data_times: Object.assign({}, {}),
      // 實際新增與修改代父層次數
      rolecategorylist_time: 1,

      // 所有貼圖主分類搜尋資料帶出
      search_main_package_record_data_times: '',
      mainpackagelist: Object.assign({}, defaultMainPackagelist),
      dialogMainPackageType: 'new',
      dialogMainPackageVisible: false,
      insert_update_main_package_data_times: Object.assign({}, {}),
      // 實際新增與修改代父層次數
      mainpackagelist_time: 1,

      // 所有貼圖主分類搜尋資料帶出
      search_sub_package_record_data_times: '',
      subpackagelist: Object.assign({}, defaultSubPackagelist),
      dialogSubPackageType: 'new',
      dialogSubPackageVisible: false,
      insert_update_sub_package_data_times: Object.assign({}, {}),
      // 實際新增與修改代父層次數
      subpackagelist_time: 1,

      // 所有常用子句搜尋資料帶出
      search_word_category_record_data_times: '',
      wordcategorylist: Object.assign({}, defaultWordCategorylist),
      dialogWordCategoryType: '',
      dialogWordCategoryVisible: false,
      insert_update_word_category_data_times: Object.assign({}, {}),
      // 實際新增與修改代父層次數
      wordcategorylist_time: 1,
      
    }
  },
  watch: {
    activeName(val) {
      this.$router.push(`${this.$route.path}?tab=${val}`)
    }
  },
  created() {
    // init the default selected tab
    const tab = this.$route.query.tab
    if (tab) {
      this.activeName = tab
    }
  },
  methods: {
    // 所有合作夥伴分類搜尋資料帶出
    searchPartnerCategoryRecord(query) {
      this.search_partner_category_record_data_times = query
      console.log('query', query)
    },
    // 新合作夥伴分類
    handleAddPartnerCategorylist(){
      this.partnercategorylist = Object.assign({}, defaultPartnerCategorylist)
      this.dialogPartnerCategoryType = 'new'
      this.dialogPartnerCategoryVisible = true
    },
    // 修改合作夥伴分類
    handleEditPartnerCategorylist(get_select_partnercategorylist) {
      this.partnercategorylist = deepClone(get_select_partnercategorylist)
      this.dialogPartnerCategoryType = 'edit'
      this.dialogPartnerCategoryVisible = true
    },
    // 關閉代父層合作夥伴分類dialog狀態
    getPartnercategoryliststatus(status) {
      this.dialogPartnerCategoryVisible = status
    },
    // 新增與修改更新父層資料-合作夥伴分類
    getpartnercategoryupdate() {
      this.Panel = { 'partnercategorylist_time': this.partnercategorylist_time++ }
    },

    // 所有最新消息分類搜尋資料帶出
    searchHotnewsCategoryRecord(query) {
      this.search_hotnews_category_record_data_times = query
      console.log('query1229', query)
    },
    // 新最新消息分類
    handleAddHotnewsCategorylist(){
      this.hotnewscategorylist = Object.assign({}, defaultHotnewsCategorylist)
      this.dialogHotnewsCategoryType = 'new'
      this.dialogHotnewsCategoryVisible = true
    },
    // 修改最新消息分類
    handleEditHotnewsCategorylist(get_select_hotnewscategorylist) {
      this.hotnewscategorylist = deepClone(get_select_hotnewscategorylist)
      this.dialogHotnewsCategoryType = 'edit'
      this.dialogHotnewsCategoryVisible = true
    },
    // 關閉代父層最新消息分類dialog狀態
    getHotnewscategoryliststatus(status) {
      this.dialogHotnewsCategoryVisible = status
    },
    // 新增與修改更新父層資料-最新消息分類
    gethotnewscategoryupdate() {
      this.insert_update_hotnews_category_data_times = { 'hotnewscategorylist_time': this.hotnewscategorylist_time++ }
    },

    // 所有常見問題分類搜尋資料帶出
    searchQuestionCategoryRecord(query) {
      this.search_question_category_record_data_times = query
      console.log('query', query)
    },
    // 新最常見問題分類
    handleAddQuestionCategorylist(){
      this.questioncategorylist = Object.assign({}, defaultQuestionCategorylist)
      this.dialogQuestionCategoryType = 'new'
      this.dialogQuestionCategoryVisible = true
    },
    // 修改常見問題分類
    handleEditQuestionCategorylist(get_select_questioncategorylist) {
      this.questioncategorylist = deepClone(get_select_questioncategorylist)
      this.dialogQuestionCategoryType = 'edit'
      this.dialogQuestionCategoryVisible = true
    },
    // 關閉代父層常見問題分類dialog狀態
    getQuestioncategoryliststatus(status) {
      this.dialogQuestionCategoryVisible = status
    },
    // 新增與修改更新父層資料-常見問題分類
    getquestioncategoryupdate() {
      this.insert_update_question_category_data_times = { 'questioncategorylist_time': this.questioncategorylist_time++ }
    },

    // 所有商品分類搜尋資料帶出
    searchShopCategoryRecord(query) {
      this.search_shop_category_record_data_times = query
      console.log('query1229', query)
    },
    // 新商品分類
    handleAddShopCategorylist(){
      this.shopcategorylist = Object.assign({}, defaultShopCategorylist)
      this.dialogShopCategoryType = 'new'
      this.dialogShopCategoryVisible = true
    },
    // 修改商品分類
    handleEditShopCategorylist(get_select_shopcategorylist) {
      this.shopcategorylist = deepClone(get_select_shopcategorylist)
      this.dialogShopCategoryType = 'edit'
      this.dialogShopCategoryVisible = true
    },
    // 關閉代父層商品分類dialog狀態
    getShopcategoryliststatus(status) {
      this.dialogShopCategoryVisible = status
    },
    // 新增與修改更新父層資料-商品分類
    getshopcategoryupdate() {
      this.insert_update_shop_category_data_times = { 'shopcategorylist_time': this.shopcategorylist_time++ }
    },

    // 所有角色分類搜尋資料帶出
    searchRoleCategoryRecord(query) {
      this.search_role_category_record_data_times = query
      console.log('query1229', query)
    },
    // 新角色分類
    handleAddRoleCategorylist(){
      this.rolecategorylist = Object.assign({}, defaultRoleCategorylist)
      this.dialogRoleCategoryType = 'new'
      this.dialogRoleCategoryVisible = true
    },
    // 修改角色分類
    handleEditRoleCategorylist(get_select_rolecategorylist) {
      this.rolecategorylist = deepClone(get_select_rolecategorylist)
      this.dialogRoleCategoryType = 'edit'
      this.dialogRoleCategoryVisible = true
    },
    // 關閉代父層角色分類dialog狀態
    getRolecategoryliststatus(status) {
      this.dialogRoleCategoryVisible = status
    },
    // 新增與修改更新父層資料-角色分類
    getrolecategoryupdate() {
      this.insert_update_role_category_data_times = { 'rolecategorylist_time': this.rolecategorylist_time++ }
    },
    // 貼圖主分類
    handleAddMainPackagelist(){
      this.mainpackagelist = Object.assign({}, defaultMainPackagelist)
      this.dialogMainPackageType = 'new'
      this.dialogMainPackageVisible = true
    },
    // 修改貼圖主分類
    handleEditMainPackagelist(get_select_mainpackagelist) {
      this.mainpackagelist = deepClone(get_select_mainpackagelist)
      this.dialogMainPackageType = 'edit'
      this.dialogMainPackageVisible = true
    },
    // 關閉代父層貼圖主分類dialog狀態
    getMainPackageliststatus(status) {
      this.dialogMainPackageVisible = status
    },
    // 新增與修改更新父層資料-貼圖主分類
    getmainpackageupdate() {
      this.insert_update_main_package_data_times = { 'mainpackagelist_time': this.mainpackagelist_time++ }
    },

    // 貼圖子分類
    handleAddSubPackagelist(){
      this.subpackagelist = Object.assign({}, defaultSubPackagelist)
      this.dialogSubPackageType = 'new'
      this.dialogSubPackageVisible = true
    },
    // 修改貼圖子分類
    handleEditSubPackagelist(get_select_subpackagelist) {
      this.subpackagelist = deepClone(get_select_subpackagelist)
      this.dialogSubPackageType = 'edit'
      this.dialogSubPackageVisible = true
    },
    // 關閉代父層貼圖子分類dialog狀態
    getSubPackageliststatus(status) {
      this.dialogSubPackageVisible = status
    },
    // 新增與修改更新父層資料-貼圖子分類
    getsubpackageupdate() {
      this.insert_update_sub_package_data_times = { 'subpackagelist_time': this.subpackagelist_time++ }
    },
    // 新常用子句
    handleAddWordCategorylist(){
      this.wordcategorylist = Object.assign({}, defaultWordCategorylist)
      this.dialogWordCategoryType = 'new'
      this.dialogWordCategoryVisible = true
    },
    // 修改常用子句
    handleEditWordCategorylist(get_select_wordcategorylist) {
      this.wordcategorylist = deepClone(get_select_wordcategorylist)
      this.dialogWordCategoryType = 'edit'
      this.dialogWordCategoryVisible = true
    },
    // 關閉代父層常用子句dialog狀態
    getWordcategoryliststatus(status) {
      this.dialogWordCategoryVisible = status
    },
    // 新增與修改更新父層資料-常用子句
    getwordcategoryupdate() {
      this.insert_update_word_category_data_times = { 'wordcategorylist_time': this.wordcategorylist_time++ }
    },

  }
}
</script>

<style scoped>
  .tab-container {
    margin: 30px;
  }
</style>
