<template>
  <div class="app-container">
    <search-Hotnews @searchHotnews="SearchAllhotnews" @searchHotnewspartner="switchPartner" v-if='this.check_admin_premission.includes("search_btn")' />
    <el-button type="primary" icon="el-icon-edit" @click="handleAddHotnews" v-if='this.check_admin_premission.includes("insert_btn")'>新最新消息</el-button>
    <!-- {{partner}} -->
    <el-select
      v-model="partner"
      placeholder="請選擇合作夥伴"
      filterable
      default-first-option
      clearable
      style="margin:auto 10px;"
      @change="chosenPartner"
    >
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id"
      />
    </el-select>
    <!-- {{partnerlist}} -->
    <!-- {{PartnerList}} -->
    <!-- {{partner}}
  {{HotnewsList}}
  {{dialogVisible}} -->
    <add-hotnews
      :dialog-type="dialogType"
      :dialog-visible="dialogVisible"
      :hotnews="hotnews"
      @getHotnews="getHotnewsemit"
      @getHotnewsstatus="getHotnewsstatus"
    />
    <el-table v-loading="hotnewslistLoading" :data="HotnewsList.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
      <el-table-column align="center" fixed width="160" label="合作夥伴/狀態">
        <template slot-scope="scope">
          <el-tag size="medium" type="primary" plain>
            {{ scope.row.partner_name }}
          </el-tag>
          <br>
          <el-tag v-if="scope.row.hotnews_status==2" style="margin:10px 0;">{{ scope.row.hotnews_status | hotnews_status }}</el-tag>
          <el-tag v-if="scope.row.hotnews_status==0 || scope.row.hotnews_status==1" style="margin:10px 0;" type="danger">{{ scope.row.hotnews_status | hotnews_status }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="最新消息標題/分類">
        <template slot-scope="scope">
          {{ scope.row.hotnews_title }}<br>
          <el-tag size="medium" type="primary" plain style="margin:5px 0;">
            {{ scope.row.hotnews_category_name }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="350" label="最新消息圖片">
        <template slot-scope="scope">
          <el-image 
          :src="upload_path+scope.row.hotnews_photo"
          >
            <div slot="error" class="image-slot">
              <i class="el-icon-picture-outline" />
            </div>
          </el-image>
        </template>
      </el-table-column>
      <el-table-column align="center" width="170" label="最新消息上架日期">
        <template slot-scope="scope">
          {{ scope.row.hotnews_datetime }}
        </template>
      </el-table-column>
      <el-table-column align="center" width="100" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditHotnews(scope)">編輯</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="HotnewsList.count"
      :page.sync="HotnewsList.nowpages"
      :limit.sync="HotnewsList.limit"
      @pagination="getAllHotnews(HotnewsList.nowpages,search_hotnews)"
    />

    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import path from 'path'
import { deepClone } from '@/utils'
import { getHotnews } from '@/api/hotnews_manager'
import AddHotnews from './component/AddHotnews.vue'
import { getAdminPremission } from '@/api/premission_manager'
import SearchHotnews from './component/SearchHotnews.vue'

const defaultHotnews = {
  hotnews_title: '', hotnews_content: '',
  hotnews_photo: null, hotnews_status: 0,
  partner_id: '', hotnews_category_id: 1
}

export default {
  name: 'HotnewsManager',
  components: { AddHotnews, SearchHotnews, Pagination },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'new',
      partner: '',
      HotnewsList: [],
      hotnewslistLoading: false,
      hotnews: Object.assign({}, defaultHotnews),
      // 圖片網址位置
      upload_path: '',
      search_hotnews: '',
      check_admin_premission:[]
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  filters: {
    // 最新消息狀態
    hotnews_status(status) {
      const hotnews_status = {
        0: '草稿',
        1: '下架',
        2: '上架'
      }
      return hotnews_status[status]
    }
  },
  async created() {
    // 顯示合作夥伴
    await this.getPartner('all')
    //預設帶入第一個partner_id
    await this.initPartner()
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
    // 得知使用者實際擁有權限
    await this.getAdminPremission("最新消息管理")
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner', payload)
    },
    //剛開始直接設定預設的partner
    async initPartner(){
        var query = ''
        await this.partnerlist.list.forEach(async(element,index)=>{
          if(index==0){
            // console.log("show_first_init_partner",element.partner_id)
            this.partner = element.partner_id
            query += 'partner_id=' + this.partner
            defaultHotnews['partner_id'] = this.partner
            this.groupbuymember = Object.assign({}, defaultHotnews)
            this.search_hotnews = query
            console.log(this.search_hotnews)
            this.getAllHotnews(1,this.search_hotnews)
          }
        //   console.log("show_all_init_partner",element.partner_id)
        })
        // console.log(this.activeTab)
    },
    // 顯示所有合作夥伴最新消息
    async getAllHotnews(page, hotnews) {
      var payload = ''
      if (this.search_hotnews == '') {
        payload = page
      }
      if (this.search_hotnews != '') {
        payload += page + '?' + hotnews
      }
      console.log('payload', payload)
      this.hotnewslistLoading = true
      getHotnews(payload).then(resp => {
        this.HotnewsList = resp.data
        this.hotnewslistLoading = false
      })
    },
    // 切換所有合作夥伴的最新消息
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultHotnews['partner_id'] = this.partner
        this.search_hotnews = query
      } else {
        this.search_hotnews = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllHotnews(1, query)
    },
    // 帶出所有已新增合作夥伴的最新消息
    getHotnewsemit(partner_id) {
      var query = ''
      // console.log("partner_id",partner_id)
      if (partner_id != '') {
        query += 'partner_id=' + partner_id
        defaultHotnews['partner_id'] = partner_id
        this.partner = partner_id
        // console.log("this.partner",partner_id)
        this.search_hotnews = query
      } else {
        this.search_hotnews = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllHotnews(1, query)
    },
    // 新增最新消息按鈕
    handleAddHotnews() {
      this.hotnews = Object.assign({}, defaultHotnews)
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    // 修改最新消息按鈕
    handleEditHotnews(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      // console.log("scope.row",scope.row)
      this.hotnews = deepClone(scope.row)
    },
    handleDelete({ $index, row }) {
      this.$confirm('Confirm to remove the role?', 'Warning', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      })
        .then(async() => {
          await deleteRole(row.key)
          this.rolesList.splice($index, 1)
          this.$message({
            type: 'success',
            message: 'Delete succed!'
          })
        })
        .catch(err => { console.error(err) })
    },
    // 關閉合作夥伴dialog狀態
    getHotnewsstatus(status) {
      this.dialogVisible = status
    },
    // 搜尋切換合作夥伴
    switchPartner(partner_id) {
      // 搜尋有帶出合作夥伴
      if (partner_id != '') {
        defaultHotnews['partner_id'] = partner_id
        this.partner = partner_id
      }
      // 搜尋沒有帶出合作夥伴
      if (partner_id == '') {
        defaultHotnews['partner_id'] = ''
        this.partner = ''
      }
    },
    // 搜尋所有常見問題管理
    SearchAllhotnews(query) {
      this.search_hotnews = query
      console.log('query', query)
      this.getAllHotnews(1, this.search_hotnews)
    }
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
