<template>
  <div class="app-container">
     <search-Question v-on:searchQuestion="SearchAllquestion" v-on:searchQuestionpartner="switchPartner" v-if='this.check_admin_premission.includes("search_btn")' />
    <el-button type="primary" icon="el-icon-edit" @click="handleAddQuestion" v-if='this.check_admin_premission.includes("insert_btn")'>新常見問題</el-button>
    <!-- {{partner}} -->
    <!-- {{partnerlist.list}} -->
    <el-select v-model="partner" placeholder="請選擇合作夥伴" @change="chosenPartner" 
    filterable default-first-option clearable style="margin:auto 10px;">
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id">
      </el-option>
    </el-select>
    <!-- {{partnerlist}} -->
  <!-- {{PartnerList}} -->
  <!-- {{partner}}
  {{QuestionList}} -->
  <!-- {{QuestionList}}
  {{dialogVisible}} -->
    <add-Question :dialogType="dialogType" :dialogVisible="dialogVisible" :question="question" 
    v-on:getQuestion="getQuestionemit" v-on:getQuestionstatus="getQuestionstatus"
    />
    <el-table v-loading="questionlistLoading" :data="QuestionList.list" style="width: 100%;margin-top:30px;" border>
      <el-table-column align="center" fixed width="130" label="合作夥伴/狀態">
        <template slot-scope="scope">
          <el-tag type="primary" plain>
            {{ scope.row.partner_name }}
          </el-tag>
          <br/>
          <el-tag style="margin:10px 0;" v-if="scope.row.question_status==0">{{ scope.row.question_status | question_status }}</el-tag>
          <el-tag style="margin:10px 0;" v-if="scope.row.question_status==1||scope.row.question_status==2" type="danger">{{ scope.row.question_status | question_status }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="常見問題標題/分類">
        <template slot-scope="scope">
          {{ scope.row.question_title }}<br/>
          <el-tag size="medium" type="primary" plain style="margin:5px 0;">
            {{ scope.row.question_category_name }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="350" label="常見問題圖片">
        <template slot-scope="scope">
           <el-image :src="upload_path+scope.row.question_photo" >
            <div slot="error" class="image-slot">
              <i class="el-icon-picture-outline"></i>
            </div>
           </el-image>
        </template>
      </el-table-column>
      <el-table-column align="center" width="170" label="常見問題上架日期">
        <template slot-scope="scope">
          {{ scope.row.question_datetime }}
        </template>
      </el-table-column>
      <el-table-column align="center" width="100" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditQuestion(scope)">編輯</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="QuestionList.count"
      :page.sync="QuestionList.nowpages"
      :limit.sync="QuestionList.limit"
      @pagination="getAllQuestion(QuestionList.nowpages,search_question)" />
    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import path from 'path'
import { deepClone } from '@/utils'
import { getQuestion } from '@/api/question_manager'
import AddQuestion from './component/AddQuestion.vue'
import { getAdminPremission } from '@/api/premission_manager'
import SearchQuestion from './component/SearchQuestion.vue'

const defaultQuestion = {
  question_title: '',question_content: '',
  question_photo: null,question_status: 0,
  partner_id:'',question_category_id:1
}

export default {
  name: 'question_manager',
  components: { AddQuestion,SearchQuestion,Pagination },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'new',
      partner: '',
      QuestionList: [],
      questionlistLoading: false,
      question: Object.assign({}, defaultQuestion),
      // 是否搜尋過常見問題
      search_question_btn: false,
      // 圖片網址位置
      upload_path: '',
      search_question: '',
      check_admin_premission:[]
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  watch:{
  },
  filters:{
    //合作夥伴狀態
    question_status(status){
      const question_status = {
        0:'草稿',
        1:'下架',
        2:'上架'
      }
      return question_status[status]
    }
  },
  created() {
    // 顯示合作夥伴
    this.getPartner('all')
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
    // 得知使用者實際擁有權限
    this.getAdminPremission("常見問題管理")
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
     // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner',payload)
    },
     // 顯示所有合作夥伴常見問題
    async getAllQuestion(page,question) {
      var payload = ''
      if(this.search_question == ''){
        payload = page 
      }
      if(this.search_question != ''){
        payload += page+'?'+question
      }
      this.questionlistLoading = true
      getQuestion(payload).then(resp => {
        this.QuestionList = resp.data
        this.questionlistLoading = false
      })
    },
    // 切換所有合作夥伴的常見問題
    chosenPartner() {
      var query = ''
      if(this.partner!='') {
            query+= 'partner_id='+this.partner
            defaultQuestion['partner_id'] = this.partner
            this.search_question = query
      }
      else {
        this.search_question = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllQuestion(1,query)
    },
    // 帶出所有已新增合作夥伴的常見問題
    getQuestionemit(partner_id) {
      var query = ''
      // console.log("partner_id",partner_id)
      if(partner_id!='') {
            query+= 'partner_id='+partner_id
            defaultQuestion['partner_id'] = partner_id
            this.partner = partner_id
            this.search_question = query
            // console.log("this.partner",partner_id)
      }else {
        this.search_question = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllQuestion(1,query)
    },
    // 新增常見問題按鈕
    handleAddQuestion() {
      this.question = Object.assign({}, defaultQuestion)
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    // 修改常見問題按鈕
    handleEditQuestion(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      // console.log("scope.row",scope.row)
      this.question = deepClone(scope.row)
    },
    handleDelete({ $index, row }) {
      this.$confirm('Confirm to remove the role?', 'Warning', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      })
        .then(async() => {
          await deleteRole(row.key)
          this.rolesList.splice($index, 1)
          this.$message({
            type: 'success',
            message: 'Delete succed!'
          })
        })
        .catch(err => { console.error(err) })
    },
    // 關閉合作夥伴dialog狀態
    getQuestionstatus(status) {
      this.dialogVisible = status
    },
    // 搜尋切換合作夥伴
    switchPartner(partner_id) {
      // 搜尋有帶出合作夥伴
      if(partner_id!='') {
        defaultQuestion['partner_id'] = partner_id
        this.partner = partner_id
      }
      // 搜尋沒有帶出合作夥伴
      if(partner_id=='') {
        defaultQuestion['partner_id'] = ''
        this.partner = ''
      }
    },
    // 搜尋所有常見問題管理
    SearchAllquestion(query) {
      this.search_question = query
      console.log('query', query)
      this.getAllQuestion(1,this.search_question)
    }
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
