<template>
  <div class="tab-container">
    <search-Todolist v-on:searchTodolist="searchTodolist" v-on:searchTodolistpartner="switchPartner" v-if='this.check_admin_premission.includes("search_btn")' />
    <el-button type="primary" icon="el-icon-edit" @click="handleAddTodolist" v-if='this.check_admin_premission.includes("insert_btn")'>新代辦事項</el-button>
    <!-- v-on:getTodolist="getTodolistemit" -->
    <el-select v-model="partner" placeholder="請選擇合作夥伴" @change="chosenPartner"  style="margin:0 10px;"
      filterable default-first-option clearable>
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id">
      </el-option>
    </el-select>
    <el-tabs v-model="activeName" style="margin-top:15px; width:100%;" type="border-card">
      <el-tab-pane v-for="item in tabTodolistOptions" :key="item.key" :label="item.label" :name="item.key">
        <keep-alive>
          <todolist-Pane v-if="activeName==item.key" :type="item.key" :partner_id="partner" 
          :insert_update_todolist_data_times="insert_update_todolist_data_times" :search_todolist_data_times="search_todolist_data_times"
          v-on:getAllTodolist="handleEditTodolist"
          :check_admin_premission="check_admin_premission"
           />
        </keep-alive>
      </el-tab-pane>
    </el-tabs>
    <!-- {{dialogVisible}} -->
    <add-Todolist :dialogType="dialogType" :dialogVisible="dialogVisible" :todolist="todolist" 
     v-on:getTodoliststatus="getTodoliststatus" v-on:getTodolistpartnerupdate="getTodolistpartnerupdate" 
     />
     <!-- v-on:getTodolist="getTodolistemit" -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { deepClone } from '@/utils'
import TodolistPane from './component/TodolistPane.vue'
import AddTodolist from './component/AddTodolist.vue'
import { getAdminPremission } from '@/api/premission_manager'
import SearchTodolist from './component/SearchTodolist.vue'
const defaultTodolist = {
  schedule_title: '',schedule_status: 0,
  push_message_date: '',push_message_time: '',
  push_message_switch: 0,schedule_color: '#FF000',
  schedule_note: '',partner_id:''
}
export default {
  components: { TodolistPane,AddTodolist,SearchTodolist },
  data() {
    return {
      tabTodolistOptions: [
        { label: '所有代辦事項', key: 'all_todolist' },
        // { label: '今日代辦事項', key: 'today' }
      ],
      activeName: 'all_todolist',
      partner: '',
      dialogVisible: false,
      dialogType: 'new',
      // 實際新增與修改代辦事項次數
      todolist_time: 1,
      // 新增與修改更新合作夥伴內代辦事項資料呈現object
      insert_update_todolist_data_times: Object.assign({}, {}),
      // 搜尋合作夥伴內代辦事項資料呈現object
      search_todolist_data_times: '',
      todolist: Object.assign({}, defaultTodolist),
      check_admin_premission:[]
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  watch: {
    activeName(val) {
      this.$router.push(`${this.$route.path}?tab=${val}`)
    }
  },
  created() {
    // init the default selected tab
    const tab = this.$route.query.tab
    if (tab) {
      this.activeName = tab
    }
     //顯示合作夥伴
    this.getPartner('all')
    // 得知使用者實際擁有權限
    this.getAdminPremission("代辦事項管理")
  },
  methods: {
      // 得知使用者實際擁有權限
      async getAdminPremission(premission_name) {
        var payload = {
          "check_admin_premission":premission_name
        }
          getAdminPremission(payload).then((resp)=>{
            console.log(resp)
            console.log(resp['check_admin_premission'])
            resp['check_admin_premission'].forEach((element)=>{
              this.check_admin_premission.push(element)
            })
          })
      },
      //顯示合作夥伴
      async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner',payload)
      },
    //切換所有合作夥伴的常見問題
    chosenPartner(){
      var query = ''
      if(this.partner!=''){
            query+= 'partner_id='+this.partner
            defaultTodolist['partner_id'] = this.partner
      }
    },
    // 新增所有代辦事項
    handleAddTodolist() {
      defaultTodolist['partner_id'] = this.partner
      this.todolist = Object.assign({}, defaultTodolist)
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    // 修改所有代辦事項
    handleEditTodolist(get_select_todolist) {
      this.todolist = deepClone(get_select_todolist)
      this.dialogType = 'edit'
      this.dialogVisible = true
    },
    // 關閉代辦事項模組dialog狀態
    getTodoliststatus(status) {
      this.dialogVisible = status
    },
    // 新增與修改更新合作夥伴內代辦事項資料呈現
    getTodolistpartnerupdate(partner_id){
      this.insert_update_todolist_data_times = {"partner_id":partner_id,"todolist_time":this.todolist_time++}
      this.partner = partner_id
      defaultTodolist['partner_id'] = this.partner_id
    },
    // 搜尋切換合作夥伴
    switchPartner(partner_id){
      // 搜尋有帶出合作夥伴
      if(partner_id!=''){
        defaultTodolist['partner_id'] = partner_id
        this.partner = partner_id
      }
      // 搜尋沒有帶出合作夥伴
      if (partner_id==''){
        defaultTodolist['partner_id'] = ''
        this.partner = ''
      }
    },
    // 所有搜尋資料帶出
    searchTodolist(query){
      this.search_todolist_data_times  = query
      // console.log("query", query)
    }
    }
}
</script>

<style scoped>
  .tab-container {
    margin: 30px;
  }
</style>
