<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>德誠資訊.ico">
    <!-- <link rel="icon" href="<%= BASE_URL %>德誠資訊1.ico"> -->
    <title><%= webpackConfig.name %></title>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lc76B0jAAAAACTVDZMh961m2eBJDo6zG_-di_-z"></script>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
