<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType=='edit'?'更新個案管理':'查看個案管理'"
    :before-close="closeAddPerson" 
    center
    fullscreen
    append-to-body
    >
    <!-- {{personlist}} -->
    <!-- {{other_health_person_treat_site}} -->
      <el-form :rules="PersonRules" status-icon ref="personlist" :model="personlist" label-position="right">
        <!-- 會員基本資料 start -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="background-color:#D6E4F1; margin:10px 0;">
              <span style="color:red;font-size:24px;">會員基本資料</span>
            </el-col>
          <el-col :xs="24" :sm="12" :lg="6" :xl="6">
            <el-form-item label="會員姓名">
                {{personlist.reserve_system_member_username}}
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="6" :xl="6">
            <el-form-item label="會員出生年月日">
                {{personlist.reserve_system_member_birthday}}
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="6" :xl="6">
            <el-form-item label="會員電話">
                {{personlist.reserve_system_member_telephone}}
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="6" :xl="6">
            <el-form-item label="會員信箱">
                {{personlist.reserve_system_member_email}}
            </el-form-item>
          </el-col>
        </el-row>
         <!-- 會員基本資料 end -->
        <!-- 會員預約資訊start  -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="background-color:#D6E4F1; margin:10px 0;">
              <span style="color:red;font-size:24px;">會員預約資訊</span>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
            <el-form-item label="看診醫生">
                {{personlist.reserve_system_shop_basic_schedule_teacher}}
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
            <el-form-item label="看診日期">
                {{personlist.reserve_system_shop_basic_schedule_start_date}}
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
            <el-form-item label="看診時間">
                    {{personlist.reserve_system_shop_basic_schedule_start_time}} ~ {{personlist.reserve_system_shop_basic_schedule_end_time}}
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="6" :xl="6">
            <el-form-item label="看診需求">
                <br/>
                {{personlist.reserve_system_order_note}}
            </el-form-item>
            </el-col>
        </el-row>
        <!-- 病歷資訊 start -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="background-color:#D6E4F1; margin:10px 0;">
              <span style="color:red;font-size:24px;">病歷資訊</span>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                <el-form-item label="病歷序號">
                    {{personlist.reserve_system_health_record_id }}
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                <el-form-item label="訂單編號">
                    {{personlist.reserve_system_order_sn}}
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                <el-form-item label="治療師個案看診序號">
                    {{personlist.reserve_system_health_record_serial}}
                </el-form-item>
            </el-col>
        </el-row>
        <!-- 病歷資訊 end-->
        <!-- 會員預約資訊end  -->
        <!-- 歷史治療紀錄start  -->
        <el-row :gutter="20" v-show="personlist.reserve_system_health_first_record==1">
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="background-color:#D6E4F1; margin:10px 0;">
              <span style="color:red;font-size:24px;">歷史治療紀錄</span>
            </el-col>
            <el-table 
            v-loading="person_past_List_listLoading" 
            :data="person_past_List.list"
            style="width: 100%;margin-top:30px;" 
            border 
            fit 
            highlight-current-row
            >
            <el-table-column align="center" label="治療日期">
                <template slot-scope="scope">
                {{ scope.row.reserve_system_shop_basic_schedule_start_date }}
                </template>
            </el-table-column>
            <el-table-column align="center" label="治療時間">
                <template slot-scope="scope">
                {{ scope.row.reserve_system_shop_basic_schedule_start_time }} ~ {{ scope.row.reserve_system_shop_basic_schedule_end_time }}
                </template>
            </el-table-column>
            <el-table-column align="center" label="治療初診、複診">
                <template slot-scope="scope">
                {{ scope.row.reserve_system_health_first_record|reserve_system_health_first_record }}
                </template>
            </el-table-column>
            <el-table-column align="center" label="治療師個案看診序號">
                <template slot-scope="scope">
                {{ scope.row.reserve_system_health_record_serial }}
                </template>
            </el-table-column>
            <el-table-column align="center" label="治療部位">
                <template slot-scope="scope">
                {{ scope.row.reserve_system_health_person_treat_site }}
                </template>
            </el-table-column>
            <el-table-column align="center" label="治療師紀錄">
                <template slot-scope="scope">
                {{ scope.row.reserve_system_health_person_record }}
                </template>
            </el-table-column>
            </el-table>
        </el-row>
        <!-- 歷史治療紀錄end  -->
        <!-- 此次治療紀錄start（編輯）  -->
        <el-row :gutter="20" v-show="dialogType=='edit'">
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="background-color:#D6E4F1; margin:10px 0;">
              <span style="color:red;font-size:24px;">此次治療紀錄</span>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                <el-form-item label="初診、複診" prop="reserve_system_health_first_record">
                    {{personlist.reserve_system_health_first_record|reserve_system_health_first_record}}
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                <el-form-item label="治療部位" prop="reserve_system_health_person_treat_site">
                    <el-checkbox-group v-model="personlist.reserve_system_health_person_treat_site" style="marign:10px 0;">
                    <el-checkbox label="頸"></el-checkbox>
                    <el-checkbox label="胸"></el-checkbox>
                    <el-checkbox label="腰"></el-checkbox>
                    <el-checkbox label="肩"></el-checkbox>
                    <el-checkbox label="肘"></el-checkbox>
                    <el-checkbox label="手腕、手指"></el-checkbox>
                    <el-checkbox label="髖"></el-checkbox>
                    <el-checkbox label="膝"></el-checkbox>
                    <el-checkbox label="腳踝、腳掌"></el-checkbox>
                    <el-checkbox label="其他"></el-checkbox>
                    </el-checkbox-group>
                    <el-input v-model="other_health_person_treat_site"
                    placeholder="其他治療部位"
                    v-show="personlist.reserve_system_health_person_treat_site.includes('其他')"
                    autocomplete="off" />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                <el-form-item label="病歷完診狀態" prop="reserve_system_health_edit">
                    <el-radio-group v-model="personlist.reserve_system_health_edit">
                        <el-radio-button :label=0 :value="0" border>未完診</el-radio-button>
                        <el-radio-button :label=1 :value="1" border>已完診</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                <el-form-item label="病歷作廢狀態" prop="reserve_system_health_status">
                    <el-radio-group v-model="personlist.reserve_system_health_status">
                        <el-radio-button :label=0 :value="0" border>未作廢</el-radio-button>
                        <el-radio-button :label=1 :value="1" border>已作廢</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="治療師記錄" prop="reserve_system_health_person_record">
                    <el-input ref="reserve_system_health_person_record" v-model="personlist.reserve_system_health_person_record"
                    :autosize="{ minRows: 2, maxRows: 5}"
                    type="textarea"
                    name="reserve_system_health_person_record" placeholder="自由選填登打"
                    autocomplete="off" />
                </el-form-item>
            </el-col>
        </el-row>
        <!-- 此次治療紀錄end（編輯）  -->
        <!-- 此次治療紀錄start（查看）  -->
        <el-row :gutter="20" v-show="dialogType=='check'">
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="background-color:#D6E4F1; margin:10px 0;">
              <span style="color:red;font-size:24px;">此次治療紀錄</span>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                <el-form-item label="初診、複診" prop="reserve_system_health_first_record">
                    {{personlist.reserve_system_health_first_record|reserve_system_health_first_record}}
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                <el-form-item label="治療部位" prop="reserve_system_health_person_treat_site">
                    {{personlist.reserve_system_health_person_treat_site}}
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                <el-form-item label="病歷完診狀態" prop="reserve_system_health_edit">
                    <span v-show="personlist.reserve_system_health_edit==0">
                        未完診
                    </span>
                    <span v-show="personlist.reserve_system_health_edit==1">
                        已完診
                    </span>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                <el-form-item label="病歷作廢狀態" prop="reserve_system_health_status">
                    <span v-show="personlist.reserve_system_health_status==0">
                        未作廢
                    </span>
                    <span v-show="personlist.reserve_system_health_status==1">
                        已作廢
                    </span>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="治療師記錄" prop="reserve_system_health_person_record">
                    <br/>
                    <span v-show="personlist.reserve_system_health_person_record!=null">
                        {{personlist.reserve_system_health_person_record}}
                    </span>
                </el-form-item>
            </el-col>
        </el-row>
        <!-- 此次治療紀錄end（查看）  -->
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddPerson">關閉</el-button>
        <el-button :loading="loading" type="primary" v-show="dialogType=='edit'" @click.native.prevent="confirmPerson('personlist')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
import { postAppointPersonList,getAppointPastPersonList } from '@/api/reservationsystemperson'
export default {
name: 'AddPerson',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    personlist:{
        type:Object,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  watch: {
    dialogType:{
        handler: function(val, oldVal) {
          if(val=='edit'){
            // console.log(this.personlist.reserve_system_health_person_treat_site.length)
            // console.log(this.personlist.reserve_system_health_person_treat_site.split(',').length)
            if(this.personlist.reserve_system_health_person_treat_site.length!=0){
                this.personlist.reserve_system_health_person_treat_site = this.personlist.reserve_system_health_person_treat_site.split(',')
                this.other_health_person_treat_site = ''
                this.personlist.reserve_system_health_person_treat_site.map(element=>{
                  console.log(element)
                  if(
                    element!='頸'||element!='胸'||element!='腰'||
                    element!='肩'||element!='肘'||element!='手腕、手指'||
                    element!='髖'||element!='膝'||element!='腳踝、腳掌'||
                    element!='其他'){
                      this.other_health_person_treat_site=element
                    }
                })
            }
            else{
                this.personlist.reserve_system_health_person_treat_site = []
            }
          }
          //判斷為複診在觸發呈現
          if(this.personlist.reserve_system_health_first_record==1){
            //得知歷史病歷進程
            this.getPastPerson()
          }
        },
        immediate: true
    },
    "personlist.reserve_system_health_person_treat_site":{
        handler: function(val, oldVal) {
            console.log(val)
            if(!val.includes('其他')){
                this.other_health_person_treat_site = ''
            }
        },
        immediate: true
    },
    other_health_person_treat_site:{
        handler: function(val, oldVal) {
            console.log(val)
        },
        immediate: true
    },
  },
  filters:{
    //初診、複診
    reserve_system_health_first_record(status){
      const reserve_system_health_first_record ={
        0: '初診',
        1: '複診'
      }
      return reserve_system_health_first_record[status]
    },
  },
  data() {
    return {
      PersonRules: {
          reserve_system_health_first_record:[
            { required: true,message: '初診、複診必填欄位' },
          ],
          reserve_system_health_person_treat_site:[
            { required: true,message: '治療部位必填欄位' },
          ],
          // reserve_system_exception_schedule_shift_status:[
          //   { required: true,message: '排休狀態為必填欄位' },
          // ],
      },
      person_past_List_listLoading:false,
      person_past_List:[],
      loading:false,
      //其他治療部位輸入
      other_health_person_treat_site:''
      // adminlistLoading:false,
      // AdminList:[],
      // reserve_system_shop_basic_teacher:''
    }
  },
  methods: {
    //關閉選單
    closeAddPerson(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    this.other_health_person_treat_site = ''
    this.$emit('getPerson_list_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    //得知歷史治療紀錄進程
    async getPastPerson() {
      var payload = ''
      payload +='1?partner_id='+this.personlist.partner_id+'&'
      payload +='reserve_system_shop_basic_schedule_teacher='+this.personlist.reserve_system_shop_basic_schedule_teacher+'&'
      payload +='reserve_system_member_username='+this.personlist.reserve_system_member_username+'&'
      payload +='reserve_system_health_record_serial='+this.personlist.reserve_system_health_record_serial
      this.person_past_List_listLoading = true
      await getAppointPastPersonList(payload).then(resp => {
        this.person_past_List = resp.data
        this.person_past_List_listLoading = false
      })
    },
    // 更新個案管理
    confirmPerson(personlist) {
      if(this.other_health_person_treat_site!=''){
        this.personlist.reserve_system_health_person_treat_site.map(element=>{
          console.log(element)
          if(
            element!='頸'||element!='胸'||element!='腰'||
            element!='肩'||element!='肘'||element!='手腕、手指'||
            element!='髖'||element!='膝'||element!='腳踝、腳掌'||
            element!='其他'){
              this.personlist.reserve_system_health_person_treat_site.push(this.other_health_person_treat_site)
            }
        })
      }
      this.$refs[personlist].validate(valid => {
        if (valid) {
          this.loading = true
           postAppointPersonList(this.personlist)
            .then((resp) => {
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
                })
                this.$emit('getPerson')
                this.loading = false
                if(resp.success==true){
                  this.closeAddPerson()
                }
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    }
  }
}
</script>