<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span style="color:red;">個案管理清單</span>
    </div>
    <!-- {{personlist}} -->
    <div class="user-profile">
        <AddPerson :personlist="personlist" :dialogType="dialogType" :dialogVisible="dialogVisible" @getPerson="setqueryperson" @getPerson_list_status_dialogtype="getPerson_list_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <SearchPerson @SearchPerson="SearchPerson" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' />
        <el-table 
        v-loading="person_List_listLoading" 
        :data="person_List.list"
        style="width: 100%;margin-top:30px;" 
        border 
        fit 
        highlight-current-row
        >
        <el-table-column align="center" label="預約日期">
            <template slot-scope="scope">
              <el-tag style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_shop_basic_schedule_start_date }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="預約時間">
            <template slot-scope="scope">
              <el-tag style="margin:10px;font-size:15px;"> {{ scope.row.reserve_system_shop_basic_schedule_start_time }} ~ {{ scope.row.reserve_system_shop_basic_schedule_end_time }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="治療師">
            <template slot-scope="scope">
              <el-tag style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_shop_basic_schedule_teacher }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="預約 會員資訊">
            <template slot-scope="scope">
              <el-tag style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_member_username }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="初診、複診">
            <template slot-scope="scope">
                <el-tag style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_health_first_record|reserve_system_health_first_record }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="病歷完診狀態">
            <template slot-scope="scope">
                <el-tag :type="scope.row.reserve_system_health_edit==0?'danger':''" style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_health_edit|reserve_system_health_edit }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="病歷作廢狀態">
            <template slot-scope="scope">
                <el-tag :type="scope.row.reserve_system_health_status==1?'danger':''" style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_health_status|reserve_system_health_status }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="病歷產生時間">
            <template slot-scope="scope">
                <el-tag style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_health_datetime }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="120" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
            <el-button type="primary" icon="el-icon-edit" v-if="scope.row.reserve_system_health_edit==0&&scope.row.reserve_system_health_status==0" @click="handleEditPerson(scope)">編輯</el-button>
            <el-button type="primary" icon="el-icon-view" 
            v-else 
            @click="handleCheckPerson(scope)">查看</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="person_List_total"
          :page.sync="person_List.nowpages"
          :limit.sync="person_List.limit"
          @pagination="getAllPerson(person_List.nowpages,search_person)"
        />
    </div>
  </el-card>
</template>
<script>
import Pagination from '@/components/Pagination'
import { getAppointPersonList } from '@/api/reservationsystemperson'
import SearchPerson from './SearchPerson.vue'
import AddPerson from './AddPerson.vue'
import { mapGetters } from 'vuex'
import { deepClone } from '@/utils'
import Cookies from 'js-cookie'
import moment from 'moment'
export default {
  name:"ReservationSystemPerson",
  // components:{ Pagination,AddExceptionShift,SearchExceptionShift },
  components:{ Pagination,SearchPerson,AddPerson },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
      'roles',
      'name'
    ])
  },
  watch: {
    partner:{
        handler: async function(val, oldVal) {
            if(val!=''){
                await this.$store.dispatch('user/getInfo')
                await this.chosenPartner()
            }
        },
        immediate: true
    },
    activeTab:{
        handler: function(val, oldVal) {
            if(val!=''){
                this.chosenPartner()
            }
        },
        immediate: true
    },
  },
  filters:{
    //初診、複診
    reserve_system_health_first_record(status){
      const reserve_system_health_first_record ={
        0: '初診',
        1: '複診'
      }
      return reserve_system_health_first_record[status]
    },
    //病歷作廢狀態 0:未作廢,1:已作廢	
    reserve_system_health_status(status){
      const reserve_system_health_status ={
        0: '未作廢',
        1: '已作廢'
      }
      return reserve_system_health_status[status]
    },
    //病歷完診狀態 0:未完診,1:完診
    reserve_system_health_edit(status){
      const reserve_system_health_edit ={
        0: '未完診',
        1: '已完診'
      }
      return reserve_system_health_edit[status]
    }
  },
  data(){
    return {
      dialogType:'',
      dialogSearchType:'',
      dialogVisible:false,
      dialogSearchVisible:false,
      person_List_listLoading:false,
      person_List:[],
      personlist:{},
      search_person:'',
      person_List_total:0
    }
  },
  methods: {
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        if(this.roles==1){
        query += 'partner_id=' + this.partner+
        '&reserve_system_shop_basic_schedule_teacher=全部'+
        '&reserve_system_shop_basic_schedule_start_date='+moment(new Date()).startOf('day').format('YYYY-MM-DD')+
        '&reserve_system_shop_basic_schedule_type=0'
        }
        else{
        query += 'partner_id=' + this.partner+
        '&reserve_system_shop_basic_schedule_teacher='+this.name+
        '&reserve_system_shop_basic_schedule_start_date='+moment(new Date()).startOf('day').format('YYYY-MM-DD')+
        '&reserve_system_shop_basic_schedule_type=0'
        }
        this.search_person = query
      } else {
        this.search_person = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllPerson(1, query)
    },
    // 設定報名基本資料
    setqueryperson(){
      //判斷目前頁數在哪一頁
      if(Cookies.get('personpage')==undefined){
        this.getAllPerson(1, this.search_person)
      }
      else{
        this.getAllPerson(Cookies.get('personpage'), this.search_person)
      }
    },
    // 放入實際搜尋條件
    SearchPerson(query){
        //放入實際搜尋條件
        this.search_person = query
        // 設定報名模組
        this.setqueryperson()
    },
    // 顯示所有報名模組
    async getAllPerson(page, person) {
      var payload = ''
      if (this.search_person == '') {
        payload = page
      }
      if (this.search_person != '') {
        payload += page + '?' + person
      }
      console.log("before:",Cookies.get('personpage'))
      //設定目前頁數在哪一頁
      Cookies.set('personpage',page)
      console.log("after",Cookies.get('personpage'))
      console.log('payload', payload)
      this.person_List_listLoading = true
      getAppointPersonList(payload).then(resp => {
        this.person_List = resp.data
        this.person_List_total = this.person_List.count
        this.person_List_listLoading = false
      })
    },
    //查看
    handleCheckPerson(scope){
      this.dialogType = 'check'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      this.personlist = deepClone(scope.row)
    },
    //編輯
    handleEditPerson(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      this.personlist = deepClone(scope.row)
    },
    getPerson_list_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
  }
}
</script>