<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span style="color:red;">報到模組</span>
    </div>
    <!-- {{join_List.list}} -->
    <!-- {{roles}}
    {{name}} -->
    <div class="user-profile">
        <SearchJoin @SearchJoin="SearchJoin" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' />
        <el-button type="primary" icon="el-icon-edit" @click="batch_join_status_record" style="float:right;margin:10px 0;" v-show="chosen_join_List.length!=0">編輯報到狀態</el-button>
        <el-table 
        v-loading="join_List_listLoading" 
        :data="join_List.list"
        @selection-change="handleSelectjoinStatus"
        :row-key="handleSelectRecoverjoin"
        ref="join"
        style="width: 100%;margin-top:30px;" 
        border 
        fit 
        highlight-current-row
        >
        <el-table-column
            type="selection"
            reserve-selection
            :selectable="handleCanBeSelect"
            width="55">
        </el-table-column>
        <el-table-column align="center" label="預約 日期/時間">
            <template slot-scope="scope">
              <el-tag style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_shop_basic_schedule_start_date }}</el-tag>
              <el-tag style="margin:10px;font-size:15px;"> {{ scope.row.reserve_system_shop_basic_schedule_start_time }} ~ {{ scope.row.reserve_system_shop_basic_schedule_end_time }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="服務名稱">
            <template slot-scope="scope">
              <el-tag style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_shop_basic_schedule_teacher }}</el-tag>
              <el-tag style="font-size:15px;" v-show="scope.row.reserve_system_shop_basic_schedule_class_name!=null">{{ scope.row.reserve_system_shop_basic_schedule_class_name }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="預約 會員資訊">
            <template slot-scope="scope">
              <el-tag style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_member_username }}</el-tag>
              <el-tag style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_member_identity }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="預約 狀態">
            <template slot-scope="scope">
                <el-tag :type="scope.row.reserve_system_order_status==0?'danger':''" style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_order_status|reserve_system_order_status }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="報到 狀態/時間">
            <template slot-scope="scope">
                <el-tag :type="scope.row.reserve_system_join_status==0?'danger':''" style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_join_status|reserve_system_join_status }}</el-tag>
                <el-tag style="margin:10px;font-size:15px;" v-show="scope.row.reserve_system_join_datetime!=null">{{ scope.row.reserve_system_join_datetime }}</el-tag>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="join_List_total"
          :page.sync="join_List.nowpages"
          :limit.sync="join_List.limit"
          @pagination="getAllJoin(join_List.nowpages,search_join)"
        />
    </div>
  </el-card>
</template>
<script>
import Pagination from '@/components/Pagination'
import { getAppointJoinList,BatchAppointJoinStatus } from '@/api/reservationsystemjoin'
import SearchJoin from './SearchJoin.vue'
import { mapGetters } from 'vuex'
import { deepClone } from '@/utils'
import Cookies from 'js-cookie'
import moment from 'moment'
export default {
  name:"ReservationSystemJoin",
  // components:{ Pagination,AddExceptionShift,SearchExceptionShift },
  components:{ Pagination,SearchJoin },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
      'roles',
      'name'
    ])
  },
  watch: {
    partner:{
        handler: async function(val, oldVal) {
            if(val!=''){
                await this.$store.dispatch('user/getInfo')
                await this.chosenPartner()
            }
        },
        immediate: true
    },
  },
  filters:{
      //排休狀態0:預約取消1:預約成功
      reserve_system_order_status(status){
      const reserve_system_order_status = {
        0: '預約取消',
        1: '預約成功'
      }
      return reserve_system_order_status[status]
    },
    reserve_system_join_status(status){
      const reserve_system_join_status ={
        0: '未報到',
        1: '報到'
      }
      return reserve_system_join_status[status]
    }
  },
  data(){
    return {
      dialogType:'',
      dialogSearchType:'',
      dialogVisible:false,
      dialogSearchVisible:false,
      join_List_listLoading:false,
      join_List:[],
      chosen_join_List:[],
      search_join:'',
      join_List_total:0
    }
  },
  methods: {
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        if(this.roles==1){
        query += 'partner_id=' + this.partner+
        '&reserve_system_shop_basic_schedule_teacher=全部'+
        '&reserve_system_shop_basic_schedule_start_date='+moment(new Date()).startOf('day').format('YYYY-MM-DD')+
        '&reserve_system_order_status=1'
        }
        else{
        query += 'partner_id=' + this.partner+
        '&reserve_system_shop_basic_schedule_teacher='+this.name
        '&reserve_system_shop_basic_schedule_start_date='+moment(new Date()).startOf('day').format('YYYY-MM-DD')+
        '&reserve_system_order_status=1'
        }
        this.search_join = query
      } else {
        this.search_join = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllJoin(1, query)
    },
    //多筆選擇報到模組狀態
    handleSelectjoinStatus(join_list){
      console.log(join_list)
      this.chosen_join_List = []
      join_list.forEach((element)=>{
        this.chosen_join_List.push(element.reserve_system_order_sn)
      })
    },
    //編輯報到狀態
    batch_join_status_record(){
      var payload = {}
      var confirm_message = ''
      var confirm_message_type = ''
      confirm_message = '您確定更改報到狀態？'
      confirm_message_type = '更改 '
      payload['reserve_system_join_sn_list'] = this.chosen_join_List
      this.$confirm(
        '<span style="font-size:18px;">'+confirm_message+'</span>'+
        '<span style="font-size:20px;color:red;">'+this.chosen_join_List.join('\r')+'</span>'
      ,confirm_message_type+this.chosen_join_List.length+' 筆報到狀態', {
          confirmButtonText: '確認',
          cancelButtonText: '取消',
          dangerouslyUseHTMLString:true,
          type: 'warning'
        }).then(async() => {
          await BatchAppointJoinStatus(payload).then(resp => {
            this.$message({
            message: resp.message,
            type: resp.success==true ? 'success':'error'
            })
          })
          // 設定排休基本資料
          await this.setqueryjoin()
          //清除所有選中數據
          this.$refs.join.clearSelection()
        }).catch(action => {
          this.$message({
            type: 'info',
            message: '取消編輯報到狀態'
          }); 
        })
    },
    //確認多選是否可以點擊（判斷預約狀態0:預約失敗，不可點擊,1:預約成功，可以點擊）
    handleCanBeSelect(row){
      console.log("730: ",row)
      if(row.reserve_system_order_status==1){
        return true
      }
      else{
        return false
      }
    },
    //保存選擇的每一頁數據(reserve_system_order_sn)
    handleSelectRecoverjoin(row){
      return row.reserve_system_order_sn
    },
    // 設定報名基本資料
    setqueryjoin(){
      //判斷目前頁數在哪一頁
      if(Cookies.get('joinpage')==undefined){
        this.getAllJoin(1, this.search_join)
      }
      else{
        this.getAllJoin(Cookies.get('joinpage'), this.search_join)
      }
    },
    // 放入實際搜尋條件
    SearchJoin(query){
        //放入實際搜尋條件
        this.search_join = query
        // 設定報名模組
        this.setqueryjoin()
    },
    // 顯示所有報名模組
    async getAllJoin(page, join) {
      var payload = ''
      if (this.search_join == '') {
        payload = page
      }
      if (this.search_join != '') {
        payload += page + '?' + join
      }
      console.log("before:",Cookies.get('joinpage'))
      //設定目前頁數在哪一頁
      Cookies.set('joinpage',page)
      console.log("after",Cookies.get('joinpage'))
      console.log('payload', payload)
      this.join_List_listLoading = true
      getAppointJoinList(payload).then(resp => {
        this.join_List = resp.data
        this.join_List_total = this.join_List.count
        this.join_List_listLoading = false
      })
    },
  }
}
</script>