<template>
    <div>
    <el-form :inline="true" :model="join" class="demo-form-inline">
    <el-row>
        <!-- {{join}}
        {{teacherlist}} -->
        <el-form-item label="合作夥伴">
            <el-select
                v-model="join.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                placeholder="選擇合作夥伴"
                disabled
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="預約開始日期">
            <el-date-picker v-model="join.reserve_system_shop_basic_schedule_start_date" type="date" 
            ref="reserve_system_shop_basic_schedule_start_date" name="reserve_system_shop_basic_schedule_start_date" placeholder="開始日期"
            value-format="yyyy-MM-dd"
            @change="searchjoin"
            ></el-date-picker>
        </el-form-item>
        <el-form-item label="預約治療師">
            <el-select
                v-model="join.reserve_system_shop_basic_schedule_teacher"
                name="reserve_system_shop_basic_schedule_teacher"
                filterable
                allow-create
                default-first-option
                placeholder="選擇治療師"
                @change="searchjoin"
            >
                <el-option label="全部" value="全部" v-show="roles==1">全部</el-option>
                <el-option
                    v-for="item in teacherlist"
                    :key="item.reserve_system_shop_basic_teacher"
                    :label="item.reserve_system_shop_basic_teacher"
                    :value="item.reserve_system_shop_basic_teacher">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="預約管理訂單狀態">
            <el-select 
            v-model="join.reserve_system_order_status" 
            name="reserve_system_order_status" 
            placeholder="預約管理訂單狀態"
            @change="searchjoin"
            clearable>
                <el-option label="預約取消" :value="0"></el-option>
                <el-option label="預約成功" :value="1"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="預約管理報到狀態">
            <el-select 
            v-model="join.reserve_system_join_status"
            name="reserve_system_join_status" 
            placeholder="預約管理報到狀態" 
            @change="searchjoin"
            clearable>
                <el-option label="未報到" :value="0"></el-option>
                <el-option label="已報到" :value="1"></el-option>
            </el-select>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
import { getAppointShopList } from '@/api/reservationsystemappointshop'
import { getAdmin } from '@/api/admin_manager'
const defaultJoin = {
  partner_id:'',
  reserve_system_order_status:1,
  reserve_system_join_status:null,
  reserve_system_shop_basic_schedule_teacher:'',
  reserve_system_shop_basic_schedule_start_date:'',
}

export default {
  name: 'SearchJoin',
  data() {
    return {
      join: Object.assign({}, defaultJoin),
      teacherlist:[]
    }
  },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
      'roles',
      'name'
    ])
  },
    watch: {
      partner:{
        handler: async function(val, oldVal) {
          console.log("val: ",val)
        this.join.partner_id = this.partner
        this.join.reserve_system_shop_basic_schedule_start_date = moment(new Date()).startOf('day').format('YYYY-MM-DD')
        this.show_teacherlist()
      },
      immediate: true
      },
    activeTab:{
        handler: function(val, oldVal) {
        this.searchjoin()
        },
        immediate: true
    },
  },
  methods: {
      searchjoin(){
        var query = ''
        if(this.join.partner_id!=''){
            query+= 'partner_id='+this.join.partner_id+'&'
        }
        if(this.join.reserve_system_shop_basic_schedule_teacher!=''){
          query+= 'reserve_system_shop_basic_schedule_teacher='+this.join.reserve_system_shop_basic_schedule_teacher+'&'
        }
        if(this.join.reserve_system_order_status!=null){
            query+= 'reserve_system_order_status='+this.join.reserve_system_order_status+'&'
        }
        if(this.join.reserve_system_join_status!=null){
            query+= 'reserve_system_join_status='+this.join.reserve_system_join_status+'&'
        }
        if(this.join.reserve_system_shop_basic_schedule_start_date!=null){
            query+= 'reserve_system_shop_basic_schedule_start_date='+this.join.reserve_system_shop_basic_schedule_start_date+'&'
        }
        //更新資料進入外層的預約上架資料
        this.$emit('SearchJoin',query.slice(0, -1))
      },
      //顯示治療師
      show_teacherlist(){
        //判斷最高權限
        if(this.roles==1){
            var payload = 'all?partner_id='+this.join.partner_id
        }
        //不是最高權限只顯示自己治療師
        else{
            var payload = 'all?partner_id='+this.join.partner_id+'&reserve_system_shop_basic_teacher='+this.name
        }
        this.teacherlist = []
        getAppointShopList(payload).then(resp => {
          console.log(resp.data.list)
            _.uniqBy(resp.data.list, 'reserve_system_shop_basic_teacher').forEach((items) => {
              console.log(items)
              this.teacherlist.push({
                "reserve_system_shop_basic_teacher":items.reserve_system_shop_basic_teacher
              })
            })
            //判斷最高權限
            if(this.roles==1){
            this.join.reserve_system_shop_basic_schedule_teacher='全部'
            }
            //不是最高權限只顯示自己治療師
            else{
            this.join.reserve_system_shop_basic_schedule_teacher=this.teacherlist[0]['reserve_system_shop_basic_teacher']
            }
        })
      }
  },
}
</script>