<template>
  <div class="app-container">
    <search-Partner @searchPartner="SearchAllPartner" v-if='this.check_admin_premission.includes("search_btn")' />
    <el-button type="primary" icon="el-icon-edit" @click="handleAddPartner" v-if='this.check_admin_premission.includes("insert_btn")'>新合作夥伴</el-button>
    <!-- {{partner}} -->
    <!-- {{partnerlist.list}} -->
    <!-- {{dialogType}} -->
    <!-- {{check_admin_premission}} -->
    <add-Partner
      :dialog-type="dialogType"
      :dialog-visible="dialogVisible"
      :partner="partner"
      @getPartner="getPartner"
      @getPartnerstatus="getPartnerstatus"
    />
    <!-- {{partnerlist}}
    {{partnerlist.nowpage}} -->
    <el-table v-loading="partnerlistLoading" :data="partnerlist.list" style="width: 100%;margin-top:20px;" border fit>
      <el-table-column align="center" width="30">
        <template slot-scope="scope">
          <i v-if="scope.row.partner_status_1==0||scope.row.partner_status_2==0||scope.row.partner_status_3==0" class="el-icon-warning" style="color:red;" />
        </template>
      </el-table-column>
      <el-table-column align="center" label="合作夥伴代號">
        <template slot-scope="scope">
          {{ scope.row.partner_id }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="合作夥伴名稱">
        <template slot-scope="scope">
          {{ scope.row.partner_name }}
        </template>
      </el-table-column>
      <el-table-column align="center" width="120" label="上下班時間">
        <template slot-scope="scope">
          {{ scope.row.partner_check_in_time }} / {{ scope.row.partner_check_out_time }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="合作夥伴電話">
        <template slot-scope="scope">
          {{ scope.row.partner_phone }}
        </template>
      </el-table-column>
      <el-table-column align="center" width="120" label="合作夥伴審核1">
        <template slot-scope="scope">
          <el-tag size="medium" :type="scope.row.partner_status_1==0?'danger':'primary'" plain>
            育誠 {{ scope.row.partner_status_1 | partner_status }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="120" label="合作夥伴審核2">
        <template slot-scope="scope">
          <el-tag size="medium" :type="scope.row.partner_status_2==0?'danger':'primary'" plain>
            德志 {{ scope.row.partner_status_2 | partner_status }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="120" label="合作夥伴審核3">
        <template slot-scope="scope">
          <el-tag size="medium" :type="scope.row.partner_status_3==0?'danger':'primary'" plain>
            天德 {{ scope.row.partner_status_3 | partner_status }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="120" label="合作夥伴狀態">
        <template slot-scope="scope">
          <el-tag size="medium" :type="scope.row.partner_open_close==0?'danger':'primary'">
            {{ scope.row.partner_open_close | partner_open_close }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="80" label="管理人數統計">
        <template slot-scope="scope">
            {{ scope.row.show_admin_count }}
        </template>
      </el-table-column>
      <el-table-column align="center" width="120" label="綁定line通知">
        <template slot-scope="scope">
          <el-tag size="medium" :type="scope.row.is_bind_line_notify==true?'':'danger'">
            {{ scope.row.is_bind_line_notify | is_bind_line_notify }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column fixed="right" align="center" width="100" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditPartner(scope)">編輯</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="partnerlist.count"
      :page.sync="partnerlist.nowpages"
      :limit.sync="partnerlist.limit"
      @pagination="getPartner(partnerlist.nowpages,search_partner)"
    />

    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import path from 'path'
import { deepClone } from '@/utils'
import { getPartner } from '@/api/partner_manager'
import AddPartner from './component/AddPartner.vue'
import { getAdminPremission } from '@/api/premission_manager'
import SearchPartner from './component/SearchPartner.vue'
// 定義合作夥伴
const defaultPartner = {
  partner_id: '', partner_name: '',
  partner_info: '', partner_tax: '',
  partner_phone: '', partner_avatar: null, partner_licence: null,
  partner_category_id: 1, partner_vendor: 10000, partner_datetime: '',
  partner_status_1: '0', partner_status_2: '0',
  partner_status_3: '0', partner_open_close: '0',
  partner_lat:0,partner_lon:0,
  partner_check_in_time:'09:00',partner_check_out_time:'17:30'
}

export default {
  name: 'PartnerManager',
  components: { Pagination, AddPartner, SearchPartner },
  data() {
    return {
      partner: Object.assign({}, defaultPartner),
      dialogVisible: false,
      dialogType: 'new',
      partnerlistLoading: true,
      search_partner: '',
      downloadPartnerLoading:false,
      check_admin_premission:[]
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  filters: {
    // 合作夥伴狀態
    partner_status(status) {
      const partner_status = {
        0: '審核中',
        1: '已審核'
      }
      return partner_status[status]
    },
    // 合作夥伴開關
    partner_open_close(status) {
      const partner_status = {
        0: '關閉',
        1: '開啟'
      }
      return partner_status[status]
    },
    // 綁定line_notify通知
    is_bind_line_notify(status) {
      const bind_line_notify = {
        'true': 'v',
        'false': 'x'
      }
      return bind_line_notify[status]
    },
  },
  created() {
    // 得知所有的合作夥伴管理
    this.getPartner(1,'')
    // 得知使用者實際擁有權限
    this.getAdminPremission("合作夥伴管理")
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    async getPartner(page,partner) {
      var payload = ''
      if (this.search_partner == '') {
        payload = page
      }
      if (this.search_partner != '') {
        payload += page + '?' + partner
      }
      this.partnerlistLoading = true
      await this.$store.dispatch('partner/getPartner', payload).then((resp) => {
        console.log('1229', resp)
        this.partnerlistLoading = false
      })
    },
    // 關閉合作夥伴dialog狀態
    getPartnerstatus(status) {
      this.dialogVisible = status
    },
    // 新增合作夥伴按鈕
    handleAddPartner() {
      this.partner = Object.assign({}, defaultPartner)
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    // 修改
    handleEditPartner(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      this.partner = deepClone(scope.row)
      console.log('this.partner', this.partner)
    },
    handleDelete({ $index, row }) {
      this.$confirm('Confirm to remove the role?', 'Warning', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      })
        .then(async() => {
          await deleteRole(row.key)
          this.rolesList.splice($index, 1)
          this.$message({
            type: 'success',
            message: 'Delete succed!'
          })
        })
        .catch(err => { console.error(err) })
    },
    closeMain(flag) {
      console.log(flag)
      console.log('data')
    },
    // 搜尋所有合作夥伴模組
    SearchAllPartner(query) {
      this.search_partner = query
      // console.log('query', query)
      this.getPartner(1, this.search_partner)
    }
  },
  // 離開合作夥伴恢復預設合作夥伴內容
  beforeRouteLeave(to, from, next) {
    //恢復所有搜尋狀況
    this.search_partner = 'partner_open_close=1'
    // 得知所有的合作夥伴管理
    this.getPartner('all',this.search_partner)
    next()
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
