<template>
  <div>
    <el-dialog
      :visible.sync="dialogVisible"
      v-if="dialogVisible"
      :title="dialogType==='edit'?'更新司機路線':'新增司機路線模組'"
      :before-close="closeAddRouter"
      center
      fullscreen>
      <!-- {{router}} -->
      <!-- {{value}} -->
      <!-- {{window_open_info}} -->
      <!-- {{driverlist}} -->
      <el-form ref="router" :rules="RouterRules" status-icon :model="router" label-position="left">
      <div style="text-align:center; font-size:20px; color:red;">
        1.搜尋預約資料
        <!-- <el-button :loading="loading" type="primary" @click.native.prevent="confirmPartner('partner')">確認</el-button> -->
      </div>
        <el-row :gutter="20">
            <el-col :xs="24" :sm="4" :lg="4" :xl="4">
                <el-form-item label="合作夥伴" prop="partner_id">
                  <br/>
                    <el-select
                        v-model="router.partner_id"
                        name="partner_id"
                        filterable
                        default-first-option
                        clearable
                        placeholder="選擇合作夥伴"
                        ref="partner_id"
                        disabled
                        >
                        <el-option
                        v-for="item in partnerlist.list"
                        :key="item.partner_id"
                        :label="item.partner_name"
                        :value="item.partner_id">
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                <el-form-item label="選擇預約日期" prop="reserve_date">
                  <br/>
                    <el-date-picker v-model="router.reserve_date" type="date"
                    ref="reserve_date" name="reserve_date" placeholder="選擇預約日期"
                    value-format="yyyy/MM/dd"
                    :readonly="dialogType==='edit'? true:false"
                    >
                    </el-date-picker>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                <el-form-item label="去程或回程" prop="type">
                  <br/>
                    <el-select v-model="router.type" name="type" 
                    placeholder="去程或回程"
                    :disabled="dialogType==='edit'? true:false"
                    >
                        <el-option label="去程" value="1"></el-option>
                        <el-option label="回程" value="2"></el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="4" :lg="4" :xl="4">
                <el-button type="primary" :disabled="router.reserve_date!=''&&router.type!=''?false:true" @click="search_reserve_data">搜尋預約資料</el-button>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <!-- {{all_marker}} -->
                <GmapMap ref="mapRef"
                :center="this.geoposition_googlemap"
                :zoom="zoom"
                style="width:100%;height: 600px;"
                >
                <GmapMarker
                    :key="index"
                    v-for="(m, index) in all_marker"
                    :position="m"
                    :clickable="true"
                    @click="opengooglemapWindowinfo"
                >
                    <GmapInfoWindow
                    :key="index"
                    @closeclick="window_open_info=false"
                    :opened="window_open_info"
                    >
                        <!-- <p>
                        預約ID: 
                        <el-tag style="margin-right:15px;">
                            {{m.rid}}
                        </el-tag>
                        個案: {{m.member_name}}
                        </p> -->
                        <p>
                        個案:<el-tag style="margin:0px 5px;">
                            {{m.member_name}}
                        </el-tag>
                        地址:{{m.address}}
                        </p>
                    </GmapInfoWindow>
                </GmapMarker>
                </GmapMap>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <!-- {{canditate_member}} -->
                <el-table v-loading="canditate_member_loading" :data="canditate_member" style="width: 100%;margin-top:20px;" border fit>
                <el-table-column align="center" label="預約ID">
                    <template slot-scope="scope">
                    {{ scope.row.rid }}
                    </template>
                </el-table-column>
                <el-table-column align="center" width="140" label="個案資訊">
                    <template slot-scope="scope">
                    {{ scope.row.member.name }}<br/>
                    {{ scope.row.member.account }}<br/>
                    <!-- 居住地相同 -->
                    <div v-if="scope.row.member.address==scope.row.address">
                      {{ scope.row.member.address }}
                    </div>
                    <!-- 居住地不相同已reserver_car地址為主 -->
                    <div v-if="scope.row.member.address!=scope.row.address" style="color:red;">
                      {{ scope.row.address }}
                    </div>
                    </template>
                </el-table-column>
                <el-table-column align="center" width="140" label="家屬資訊">
                    <template slot-scope="scope">
                    {{ scope.row.contact }}<br/>
                    {{ scope.row.contact_phone }}
                    </template>
                </el-table-column>
                <el-table-column align="center" label="載客狀態">
                    <template slot-scope="scope">
                      <el-tag :type="scope.row.status==0?'':'danger'">
                          {{scope.row.status| driver_status }}
                      </el-tag>
                    </template>
                </el-table-column>
                <el-table-column align="center" width="120" label="已排定司機">
                    <template slot-scope="scope" style="color:red;" v-if="scope.row.driver_name!=''">
                      <el-tag type="danger">
                        {{ scope.row.driver_name }}
                      </el-tag>
                    </template>
                </el-table-column>
                <el-table-column align="center" width="140" label="操作">
                    <template slot-scope="scope">
                        <el-button type="primary" icon="el-icon-edit" @click="handleAddRouterorder(scope)" :disabled="scope.row.selected==1?true:false&&moment(new Date()).format('MM-DD')>router.reserve_date?true:false">加入順序</el-button>
                        <el-button type="primary" icon="el-icon-close" v-if="dialogType==='edit'&&scope.row.driver_id==router.driver_id" @click="changedrivercancelswitch(scope.row)" style="margin:5px auto;">載客狀態</el-button>
                    </template>
                </el-table-column>
                </el-table>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12" v-if="second_reserve_data==true" style="margin:15px 0;">
                <el-form-item label="實際派車順序" v-if="dialogType=='new'" style="text-align:center;">
                  <br/>
                  <!-- {{router.rid}} -->
                    <el-tag v-for="item of router.rid" :key="item" style="margin-right:15px;font-size:18px;">
                      {{ get_rid_to_name(item) }}
                    </el-tag>
                </el-form-item>
                <el-form-item label="實際派車順序" v-if="dialogType=='edit'" style="text-align:center;">
                  <br/>
                    <!-- {{rid}} -->
                    <el-tag v-for="item of rid" :key="item" style="margin-right:15px;;font-size:18px;">
                      {{ get_rid_to_name(item) }}
                    </el-tag>
                </el-form-item>
            </el-col>
        </el-row>
      <div style="text-align:center; font-size:20px; color:red; margin:20px auto;" v-if="second_reserve_data==true">
        2.帶入預約資料
        <!-- <el-button :loading="loading" type="primary" @click.native.prevent="confirmPartner('partner')">確認</el-button> -->
      </div>
        <el-row :gutter="20"  v-if="second_reserve_data==true">
            <el-col :xs="24" :sm="24" :lg="4" :xl="4">
                <el-form-item label="合作夥伴" prop="partner_id">
                  <br/>
                    <el-select
                        v-model="router.partner_id"
                        name="partner_id"
                        filterable
                        default-first-option
                        clearable
                        placeholder="選擇合作夥伴"
                        ref="partner_id"
                        >
                        <el-option
                        v-for="item in partnerlist.list"
                        :key="item.partner_id"
                        :label="item.partner_name"
                        :value="item.partner_id">
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="4" :xl="4">
                <el-form-item label="司機" prop="driver_id">
                  <br/>
                    <el-select
                        v-model="router.driver_id"
                        name="driver_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="選擇司機"
                        ref="driver_id"
                        :disabled="this.router.partner_id==''"
                        >
                        <el-option
                        v-for="item in driverlist"
                        :key="item.adminid"
                        :label="item.name"
                        :value="item.adminid"
                        :disabled="item.status==0"
                        >
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
            <!-- {{rid_options}} -->
            <!-- {{rid}} -->
            <el-col :xs="24" :sm="24" :lg="12" :xl="12" v-if="dialogType=='new'">
                <el-form-item label="順序" prop="rid">
                  <br/>
                    <el-drag-select v-model="router.rid" style="width:500px;" multiple placeholder="選擇司機載客順序"
                    :disabled="this.router.driver_id==''"
                    ref="rid"
                    >
                        <el-option v-for="item in rid_options" :key="item.value" :label="item.label" :value="item.value" />
                    </el-drag-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12" v-if="dialogType=='edit'">
                <el-form-item label="順序">
                  <br/>
                    <el-drag-select v-model="rid" style="width:500px;" multiple placeholder="選擇司機載客順序"
                    >
                        <el-option v-for="item in rid_options" :key="item.value" :label="item.label" :value="item.value" />
                    </el-drag-select>
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddRouter">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmRouter('router')" v-if="second_reserve_data==true">確認</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { get_Driver,get_Driver_reservation,cancel_member_driver_order } from '@/api/driver_router_manager'
import ElDragSelect from '@/components/DragSelect' // base on element-ui
import { search_partner_lat_lng } from '@/api/partner_manager'
import moment from 'moment'
export default {
  name: 'AddEditRouter',
  props: {
    dialogType: {
      type: String,
      require: true
    },
    dialogVisible: {
      type: Boolean,
      require: true
    },
    router: {
      type: Object,
      require: true
    }
  },
  components: { ElDragSelect },
  data() {
    return {
        RouterRules: {
          partner_id: [{ required: true,message: '合作夥伴公司統編為必填'}],
          reserve_date: [{ required: true,message: '預約日期為必填'}],
          type: [{ required: true,message: '去程回程為必填'}],
          driver_id: [{ required: true,message: '司機為必填'}],
          rid:[{ type:'array',required: true,message: '順序為必填'}]
        },
        driverlist:[],
        canditate_member_loading:false,
        canditate_member:[],
        //所有預約選項
        rid_options: [],
        //帶入新的預約選項
        new_rid_options:[],
        rid:[],
        geoposition_googlemap:{ lat:0, lng:0 },
        url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        attribution:
            '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
        zoom: 14,
        //所有定位點
        all_marker:[],
        window_open_info:false,
        loading:false,
        //帶入預約資料開關
        second_reserve_data:false
    }
  },
  filters:{
    // 司機狀態
    driver_status(status){
      const driver_status = {
        0:'正常',
        1:'取消'
      }
      return driver_status[status]
    }
  },
  watch:{
      "router.partner_id":function(val){
          //新增且partner_id不能為空時觸發
          // if((this.router.partner_id!=''&&this.dialogType=='new') || (this.router.partner_id!=''&&this.dialogType=='edit')){
          //   this.get_driverlist()
          // }
          this.get_driverlist()
      }
      ,
      "dialogType":function(val){
          //修改且partner_id不能為空時觸發
          if((this.router.partner_id!=''&&this.dialogType=='edit')){
            // alert(this.dialogType)
            //得知預約資料
            this.search_reserve_data()
            //得知所有司機
            this.get_driverlist()
            this.get_edit_order_driverlist()
          }
      },
      "router.status":function(val){
        console.log(val)
      }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  mounted() {
  },
  methods: {
    //搜尋預約資料
    get_driverlist(){
       var payload = { "partner_id": this.router.partner_id}
       this.driverlist = []
       get_Driver(payload).then(resp => {
        this.driverlist = resp.drivers
      })
    },
    //得知預約id轉換個案姓名
    get_rid_to_name(item){
      var _self = this
      _self.filter_new_one_rid_options = [],
      _self.new_rid_options = _self.rid_options
      _self.filter_new_one_rid_options = _self.new_rid_options.filter(data=>data.value==item)
      console.log(item)
      console.log(_self.new_rid_options)
      return _self.filter_new_one_rid_options[0]['label']
    },
    // 關閉司機路線
    closeAddRouter() {
    // 更新資料進入外層的司機路線狀態
      this.dialogVisible = false
      this.router.driver_id = ''
      if(this.dialogType=='new'){
        this.rid = []
        this.rid_options = []
        this.canditate_member = []
        this.geoposition_googlemap = {lat:0,lng:0}
        this.all_marker = []
        this.second_reserve_data = false
        this.dialogType = ''
      }
      if(this.dialogType=='edit'){
        this.second_reserve_data = false
        this.dialogType = ''
        this.canditate_member = []
        this.geoposition_googlemap = {lat:0,lng:0}
        this.all_marker = []
      }
      this.$emit('getRouterstatus', this.dialogVisible,this.dialogType)
    },
    //加入順序
    handleAddRouterorder(scope){
        var _self = this
        _self.rid_options.push({
                "label":scope.row.member.name,
                "value":scope.row.rid
        })
        _self.second_reserve_data = true
        _self.rid_options = _.uniqWith(_self.rid_options, _.isEqual);
            this.$message({
                message: '已加入順序列，即可進行順序排序',
                type: 'success'
            })
    },
    //搜尋需要搭車的會員資料
    search_reserve_data(){
        var payload = { "mid": "","partner_id": this.router.partner_id,"driverId": "","reserveDate": this.router.reserve_date,"type": this.router.type}
        this.canditate_member_loading = true
        //回覆預設順序選項
        this.rid_options = []
        //回覆預設順序
        this.router.rid = []
        //回覆預設順序
       //判斷搜尋預約資料資料是新增，才為空白
       if(this.dialogType=='new'){
          this.router.driver_id = ''
        }
        //回覆所有標記點的位置
        this.all_marker = []
        //回覆所有候選成員資料
        this.canditate_member = []
       get_Driver_reservation(payload).then(resp => {
        this.canditate_member = resp.items
        console.log(this.canditate_member)
        resp.items.forEach(element => {
                this.geoposition_googlemap = {
                lat:element.member.member_lat,
                lng:element.member.member_lon,
              }
                this.all_marker.push({
                  lat:element.member.member_lat,
                  lng:element.member.member_lon,
                  rid: element.rid,
                  member_name: element.member.name,
                  address: element.address
              })
              this.$refs.mapRef.$mapPromise.then((map) => {
                map.panTo({lat:element.member.member_lat,lng:element.member.member_lon})
              })
            //帶入實際所有地址點的位置
            // search_partner_lat_lng({"address":element.member.address}).then(resp => {
            //     //帶入google map地圖實際點的位置
            //     this.geoposition_googlemap = {
            //     lat:resp.data.results[0].geometry.location.lat,
            //     lng:resp.data.results[0].geometry.location.lng
            //     }
            //     this.all_marker.push({
            //         lat: resp.data.results[0].geometry.location.lat, 
            //         lng: resp.data.results[0].geometry.location.lng,
            //         rid: element.rid,
            //         member_name: element.member.name,
            //         member_address: element.member.address
            //     })
            //     // this.$refs.mapRef.$mapPromise.then((map) => {
            //     //     map.panTo({lat: resp.data.results[0].geometry.location.lat, lng: resp.data.results[0].geometry.location.lng})
            //     //     })
            // })
        });
      })
      this.canditate_member_loading = false
    },
    //開啟地圖定位點上的資訊
    opengooglemapWindowinfo(){
        if(this.window_open_info == false){
            this.window_open_info = true
        }
        else{
            this.window_open_info = false
        }
    },
    //得知修改司機名單順序
    get_edit_order_driverlist(){
      this.rid = []
      this.rid_options = []
      this.canditate_member = []
      this.geoposition_googlemap = {lat:0,lng:0}
      this.all_marker = []
      this.second_reserve_data = true
      this.router.customer.forEach((resp)=>{
        console.log(resp)
        this.rid.push(resp.rid)
        this.rid_options.push({
                "label":resp.rdata.member_name,
                "value":resp.rid
        })
      })
    },
    // 更新與新增司機路線模組
    confirmRouter(router) {
      this.$refs[router].validate(valid => {
        if (valid) {
          this.loading = true
          console.log(this.router)
          var payload = {
              "driverid":"",
              "rid":""
          }
          if(this.dialogType=='new'){
            payload['driverid'] = this.router.driver_id
            payload['rid'] = this.router.rid
          }
          if(this.dialogType=='edit'){
            payload['driverid'] = this.router.driver_id
            payload['rid'] = this.rid
          }
          // alert(payload)
          this.$store.dispatch('driver_router_manager/InsertUpdateDriverListReservation', payload)
            .then((res) => {
                //更新資料進入外層的司機路線管裡
                this.$emit('getAllRouter',1)
                //判斷是否為新增或修改
                if(this.dialogType!="edit"){
                    this.$nextTick(() => {
                      this.$refs[router].resetFields()
                      this.rid = []
                      this.rid_options = []
                      this.canditate_member = []
                      this.geoposition_googlemap = {lat:0,lng:0}
                      this.all_marker = []
                      this.second_reserve_data = false
                    })
                }
                // this.order.order_detail = []
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    //改變該筆司機排序狀態
    changedrivercancelswitch(row){
      var message = ''
      var changestatus = 0
      //判斷狀態是否為正常，將會顯示「取消個案」訊息
      if(row.status==0){
        message ='取消個案：'
        changestatus = 1
      }
      //判斷狀態是否為取消，將會顯示「恢復個案」訊息
      if(row.status==1){
        message ='恢復個案：'
        changestatus = 0
      }
      this.$confirm('<span style="font-size:20px;">'+message+'</span><span style="font-size:20px;color:red">'+row.member.name+'</span><span style="font-size:20px;"> 載客狀態</span>', '變更狀態', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        dangerouslyUseHTMLString:true,
        type: 'warning'
      }).then(async() => {
          await cancel_member_driver_order({ 'rid': row.rid,'status':changestatus }).then((resp) => {
            this.$message({
            type: 'success',
            message: resp.message
            })
          })
          //搜尋需要搭車的會員資料
          this.search_reserve_data()
          //載入更新的載客狀態
          this.$emit('getAllRouter',1)
          // 關閉司機路線
          this.closeAddRouter()
        })
        .catch(action => {
          if(action=='cancel'){

          }
        })
    }
  }
}
</script>
