<template>
    <div>
    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='record'?'查詢打卡記錄':''"
    :before-close="closeAddWorker" center fullscreen>
    <!-- {{worker}} -->
    <el-form :inline="true" :model="worker" class="demo-form-inline">
      <el-row>
        <el-form-item label="篩選月/週">
          <el-select
            v-model="worker.worker_date_time_type"
            name="status"
            placeholder="篩選月/週"
            clearable
            @change="selectsearchsingleworker"
          >
            <!-- @keyup.enter.native="searchadmin" -->
            <el-option label="週" value="week" />
            <el-option label="月" value="month" />
          </el-select>
        </el-form-item>
        <el-form-item label="開始日期">
            <el-date-picker v-model="worker.worker_start_date_time" type="date" 
            ref="worker_start_date_time" name="worker_start_date_time" placeholder="開始日期"
            value-format="yyyy-MM-dd"
            @keydown.enter.capture.native="searchsingleworker"
            ></el-date-picker>
        </el-form-item>
        <el-form-item label="結束日期">
            <el-date-picker v-model="worker.worker_end_date_time" type="date" 
            ref="worker_end_date_time" name="worker_end_date_time" placeholder="結束日期"
            value-format="yyyy-MM-dd"
            @keydown.enter.capture.native="searchsingleworker"
            ></el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" icon="el-icon-search" @click="searchsingleworker">搜索</el-button>
        </el-form-item>
      </el-row>
    </el-form>
    <el-table v-loading="workersinglelistLoading" :data="all_single_worker_list.list" style="width: 100%;margin-top:20px;" border fit>
      <el-table-column align="center" fixed width="150" label="合作夥伴">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.partner_name!=null" type="primary" plain>
            {{ scope.row.partner_name }}
          </el-tag>
          <el-tag v-if="scope.row.partner_name==null" type="danger" plain>
            無
          </el-tag>
          <br>
        </template>
      </el-table-column>
      <el-table-column align="center" width="150" label="姓名/電話">
        <template slot-scope="scope">
          {{ scope.row.name }}<br>
          <el-tag size="medium" type="primary" plain style="margin:5px 0;">
            {{ scope.row.phone }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="打卡狀態/紀錄">
        <template slot-scope="scope">
          <el-tag type="primary" plain>
            {{ scope.row.worker_switch|worker_switch }}
          </el-tag><br/>
          <div style="color:red;,argin:5px auto;">{{ scope.row.worker_date_time }}</div>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="all_single_worker_list.count"
      :page.sync="all_single_worker_list.nowpages"
      :limit.sync="all_single_worker_list.limit"
      @pagination="get_worker_single_manager(all_single_worker_list.nowpages,search_worker)" />
      <el-calendar v-model="calendar_this_day">
        <template
          slot="dateCell"
          slot-scope="{data}">
          <p>
            {{ data.day.split('-').slice(2).join('-') }}
          </p>
          <p class="tagStyle">
            <font>{{ calCountByMonth(data.day.split('-').slice(0).join('-')) }}</font>
          </p>
        </template>
      </el-calendar>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddWorker">關閉</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { getSingleWorker,getSingleWorkerStatic } from '@/api/worker_manager'
import Pagination from '@/components/Pagination'
export default {
name: 'SearchWorker',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    worker:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      //得知全部單一使用者紀錄loading
      workersinglelistLoading: false,
      search_worker:'',
      //得知全部單一使用者紀錄
      all_single_worker_list:[],
      monthlyCheckIn: [],
      monthlyCheckOut: [],
      monthlyDate: [],
      year:null,
      month:'',
      tagColor:'#008ffb',
      calendar_this_day:new Date()
    }
  },
  components: { Pagination },
  filters:{
    // 打卡狀態
    worker_switch(status){
      const worker_switch = {
        0:'上班',
        1:'下班',
      }
      return worker_switch[status]
    },
  },
  watch:{
      dialogVisible(olddata,newdata){
        if(olddata==true&&this.dialogType=='record'){
          this.$nextTick(() => {
          var payload = '?admin_id='+this.worker.id
          console.log("payload",this.worker)
          this.get_worker_single_manager(1,payload)
          //下方行事曆固定打卡班表
          this.get_worker_single_manager_static('all_static')
          })
        }
      }
  },
  mounted() {
    let data = new Date();
    this.year = data.getFullYear();
    this.month = data.getMonth() + 1;
    this.month = this.month < 10 ? "0" + this.month : this.month;
  },
  methods: {
        //下拉式選單篩選週/月搜尋
        selectsearchsingleworker(){
        var query = ''
        if(this.worker.id!=''){
            query += 'admin_id=' + this.worker.id + '&'
        }
        if(this.worker.partner_id!=''){
            query += 'partner_id=' + this.worker.partner_id + '&'
        }
        if(this.worker.worker_date_time_type!=''){
            query += 'worker_date_time_type=' + this.worker.worker_date_time_type + '&'
        }
        this.search_worker = query
        this.get_worker_single_manager(1,this.search_worker)
      },
      //按鈕搜尋
      searchsingleworker(){
        var query = ''
        if(this.worker.id!=''){
            query += 'admin_id=' + this.worker.id + '&'
        }
        if(this.worker.partner_id!=''){
            query += 'partner_id=' + this.worker.partner_id + '&'
        }
        if(this.worker.worker_start_date_time!=''){
            query += 'worker_start_date_time=' + this.worker.worker_start_date_time + '&'
        }
        if(this.worker.worker_end_date_time!=''){
            query += 'worker_end_date_time=' + this.worker.worker_end_date_time
        }
        this.search_worker = query
        this.get_worker_single_manager(1,this.search_worker)
      },
      get_worker_single_manager(page,worker=null){
        var payload = ''
        if (this.search_worker == '') {
            payload = page+'?admin_id='+this.worker.id
        }
        if (this.search_worker != '') {
            payload += page + '?' + worker
        }
      this.workersinglelistLoading = true
       getSingleWorker(payload).then(resp => {
        this.all_single_worker_list = resp.data
        this.workersinglelistLoading = false
      })
      },
      //下方行事曆固定打卡班表
      get_worker_single_manager_static(page) {
        var _self = this
        var payload = ''
        payload = page+'?year='+_self.year+'&month='+_self.month+'&admin_id='+_self.worker.id
        getSingleWorkerStatic(payload).then(res => {
          console.log(res.data)
          if(res.success==true){
            let tmpdata = res.data.list
            console.log("tmpdata",tmpdata)
            //清除所有預設資料日期、上下班打卡資料
            _self.monthlyDate = []
            _self.monthlyCheckIn = []
            _self.monthlyCheckOut = []
            tmpdata.forEach(function(v){
              _self.monthlyDate.push(v.date)
              _self.monthlyCheckIn.push(v.check_in)
              _self.monthlyCheckOut.push(v.check_out)
            })
          }
      })
    },
    // 回傳 上班次數&下班次數
      calCountByMonth(date) {
        console.log("data",date)
        var _self = this
        for( let i = 0 ; i < _self.monthlyDate.length ; i++){
          if (_self.monthlyDate[i] == date){
            if(_self.monthlyCheckIn[i]==1&&_self.monthlyCheckOut[i]==1){
              return '✔︎ / ✗'
            }
            else if(_self.monthlyCheckIn[i]==1&&_self.monthlyCheckOut[i]==0){
              return '✔︎ / ✗'
            }
            else if(_self.monthlyCheckIn[i]==0&&_self.monthlyCheckOut[i]==1){
              return '✗ / ✔︎'
            }
            else{
              return '✗ / ✗'
            }
          }
        }
      },
      //關閉打卡記錄
      closeAddWorker(){
        this.dialogVisible = false
        this.$emit('getSingleWorkertatus',this.dialogVisible)

      }
  }
}
</script>
<style scoped>
  p.tagStyle{
    font-size: 20px;
    font-weight: bold;
  }
</style>