<template>
  <div>
    <el-dialog
      :visible.sync="dialogUploadVisible"
      v-if="dialogUploadVisible"
      :title="dialogUploadType==='upload'?'上傳搭車名單':''"
      :before-close="closeAddUploadRouter"
      center
      fullscreen>
      <!-- {{ uploadrouterlist }} -->
      <!-- {{ partnerlist }} -->
      <el-form :rules="UploadRouterRules" status-icon ref="uploadrouterlist" :model="uploadrouterlist" label-position="center">
        <el-row ref="uploadrouterlist" :gutter="20">
        <el-col :xs="12" :sm="12" :lg="12" :xl="12">
            <el-form-item label="合作夥伴" prop="partner_id">
              <br/>
                <el-select
                    v-model="uploadrouterlist.partner_id"
                    name="partner_id"
                    filterable
                    default-first-option
                    clearable
                    placeholder="選擇合作夥伴"
                    ref="partner_id"
                    >
                    <el-option
                    v-for="item in partnerlist.list"
                    :key="item.partner_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-col>
          <el-col :xs="12" :sm="12" :lg="12" :xl="12">
            <el-form-item label="會員預約名單" prop="file">
              <el-upload
                class="avatar-uploader"
                action="https://jsonplaceholder.typicode.com/posts/"
                ref="file"
                name="file"
                :show-file-list="false"
                :multiple="false"
                :before-upload="handleClick"
                accept=".xlsx"
              >
              <!-- <div slot="tip" class="el-upload__tip" style="color:red">
                檔案上傳格式，只適用xlsx or csv
              </div>
              <i class="el-icon-plus avatar-uploader-icon"></i> -->
              <i class="el-icon-upload"></i>
              <div class="el-upload__text">將文件拖至此處<em>點擊上傳</em></div>
              <div class="el-upload__tip" slot="tip"> <el-link icon="el-icon-link" style="text-align:center;" :href="upload_member_path" target="_blank">會員預約名單上傳範例</el-link></div>
              <div class="el-upload__tip" slot="tip">只能上傳xlsx</div>
              </el-upload>
            </el-form-item>
          </el-col>
        <div style="text-align:center; font-size:20px; color:red;">
          預覽上傳名單資料
          <!-- <el-button :loading="loading" type="primary" @click.native.prevent="confirmPartner('partner')">確認</el-button> -->
        </div>
          <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-table :data="show_upload_data" border highlight-current-row style="width: 100%;margin-top:20px;">
              <el-table-column align="center" label="類型">
                <template slot-scope="scope">
                    <el-tag size="medium" type="primary" plain style="margin:5px 0;">
                        {{ scope.row.類別 }}
                    </el-tag>
                </template>
              </el-table-column>
              <el-table-column align="center" label="搭乘日期">
                <template slot-scope="scope">
                  {{ scope.row.預約日期 }}<br>
                </template>
              </el-table-column>
              <el-table-column align="center" label="個案資訊">
                <template slot-scope="scope">
                  {{ scope.row.姓名 }}<br>
                  {{ scope.row.身分證字號 }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="家屬資訊">
                <template slot-scope="scope">
                  {{ scope.row.聯絡人 }}<br>
                  {{ scope.row.聯絡人電話 }}
                </template>
              </el-table-column>
              <el-table-column align="center" label="接送地址">
                <template slot-scope="scope">
                  {{ scope.row.地址 }}<br>
                </template>
              </el-table-column>
            </el-table>
          </el-col>
        </el-row>
      </el-form>
      <div v-for="(all_alert_message,index) in show_upload_alert_message" :key="index">
        <el-alert
          :title="all_alert_message"
          type="error"
          style="margin:5px 0;"
          :closable="false"
          show-icon
          >
        </el-alert>
      </div>
      <div style="text-align:right; margin:10px auto;">
        <el-button type="danger" @click="closeAddUploadRouter">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmRouterUpload('uploadrouterlist')">確認</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import XLSX from 'xlsx'
import { mapGetters } from 'vuex'
export default {
  name: 'AddEditUploadRouter',
  props: {
    dialogUploadType: {
      type: String,
      require: true
    },
    dialogUploadVisible: {
      type: Boolean,
      require: true
    },
    uploadrouterlist:{
      type:  Object,
      require: true
    }
  },
  data() {
    return {
      show_upload_data:[],
      UploadRouterRules:{
        file: [{ required: true,message: '會員預約名單為必填' }],
        partner_id: [{ required: true,message: '合作夥伴公司統編為必填'}]
      },
      loading:false,
      //上傳會員名單位置
      upload_member_path: '',
      //顯示上傳錯誤訊息
      show_upload_alert_message:[],
    }
  },
  watch:{

  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  filters:{
    //去程與回程
    type(status){
      const type = {
        0:'來回',
        1:'去程',
        2:'回程',
      }
      return type[status]
    },
  },
  mounted(){
    this.upload_member_path = process.env.VUE_APP_BASE_API_UPLOAD +'/all_example_upload/上傳搭車會員名單範例.xlsx'
  },
  methods: {
    // 關閉搭車名單
    closeAddUploadRouter() {
    // 更新資料進入外層的司機路線狀態
      this.getrRouterUploadstatus = false
      this.show_upload_data = []
      this.show_upload_alert_message = []
      this.$emit('getrRouterUploadstatus', this.getrRouterUploadstatus)
    },
    async handleClick(file){
      //上傳excel檔案
      this.uploadrouterlist.file = file
      let result = await this.readXLSX(file);  //讀取到的內容
    },
    readXLSX(file) {
      let nameSplit = file.name.split(".");
      let format = nameSplit[nameSplit.length - 1];
      if (!["xlsx", "csv"].includes(format)) {
        return false;
      }
      return new Promise((resolve, reject) => {
        let reader = new FileReader();
        reader.readAsBinaryString(file);
        reader.onload = evt => {
          let data = evt.target.result; // 讀到的數據
          let workbook = XLSX.read(data, { type: "binary" });
          let sheetName = workbook.SheetNames[0]
          /* DO SOMETHING WITH workbook HERE */
          console.log(workbook);
          let worksheet = workbook.Sheets[sheetName];
          console.log(XLSX.utils.sheet_to_json(worksheet));
          this.show_upload_data = XLSX.utils.sheet_to_json(worksheet)
        };
      });
    },
    //上傳搭車名單
    confirmRouterUpload(uploadrouterlist){
      this.$refs[uploadrouterlist].validate(valid => {
        if (valid) {
          const routerFormData = new FormData()
          routerFormData.append('partner_id',this.uploadrouterlist.partner_id)
          routerFormData.append('file',this.uploadrouterlist.file)
          this.loading = true
          this.$store.dispatch('driver_router_manager/InsertUpdateUploadmembercsv',routerFormData)
            .then((res) => {
              if(res.success==true){
                this.$nextTick(() => {
                  this.$refs[uploadrouterlist].resetFields()
                  this.show_upload_data = []
                  this.show_upload_alert_message = []
                  this.loading = false
                })
              }
              else{
                this.show_upload_alert_message = []
                res.items.forEach((element)=>{
                  this.show_upload_alert_message.push("第"+element.id+"筆 UID:"+element.UID+" "+element.message)
                })
                this.loading = false
              }
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
  }
}
</script>
