<template>
    <div id="echart" style="height:350px;width:100%;"></div>
</template>
<script>
import echarts from 'echarts'
export default {
  name: 'WorkerManagerChart',
  props:{
    get_partner:{
      type: String,
      require:false 
    },
    get_worker_manager:{
      type: Object,
      require:false 
    },
  },
  watch:{
      //得知切換的合作夥伴
      get_partner(old){
          console.log("old",old)
      },
      get_worker_manager(old_data_object){
          console.log("all_data",old_data_object)
            this.get_user_name = [],
            this.get_user_check_in_record = [],
            this.get_user_check_out_record = [],
            this.get_user_special_day_record = []
            old_data_object.list.forEach(element => {
                this.get_user_name.push(element.name)
                this.get_user_check_in_record.push(element.check_in_record_month_count)
                this.get_user_check_out_record.push(element.check_out_record_month_count)
                this.get_user_special_day_record.push(element.special_day)
            });
            this.$nextTick(() => {
            this.initChart()
            })
      }
  },
  data() {
    return {
      chart: null,
      //得知使用者名稱
      get_user_name:[],
      //得知使用者上班打卡次數
      get_user_check_in_record:[],
      //得知使用者下班打卡次數
      get_user_check_out_record:[],
      //得知使用者休假次數
      get_user_special_day_record:[]
    }
  },
  mounted() {
    // this.$nextTick(() => {
    //   this.initChart()
    // })
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el, 'echart')
      this.setOptions()
    },
    setOptions(){
      this.chart.setOption({
        xAxis: [
            {
            type: 'category',
            data: this.get_user_name
            }
        ],
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
            type: 'shadow'
            }
        },
        yAxis: [
            {
            type: 'value'
            }
        ],
        legend: {
        //   data: ['expected', 'actual']
        },
        series: [
        {
        name: '上班打卡次數',
        type: 'bar',
        stack: 'Ad',
        emphasis: {
            focus: 'series'
        },
        data: this.get_user_check_in_record
        },
        {
        name: '下班打卡次數',
        type: 'bar',
        stack: 'Ad',
        emphasis: {
            focus: 'series'
        },
        data: this.get_user_check_out_record
        },
        {
        name: '休假次數',
        type: 'bar',
        // stack: 'Ad',
        emphasis: {
            focus: 'series'
        },
        data: this.get_user_special_day_record
        },
        ]
      })
    }
  },
}
</script>