<template>
  <div class="app-container">
    <el-button type="primary" icon="el-icon-upload" @click="handleUploadRouter" v-if='this.check_admin_premission.includes("insert_btn")'>上傳搭車會員名單</el-button>
    <el-button type="primary" icon="el-icon-edit" @click="handleAddRouter" v-if='this.check_admin_premission.includes("insert_btn") && list_or_fullcalendar==0'>新司機路線</el-button>
    <!-- {{dialogUploadVisible}} -->
    <!-- {{ dialogVisible }} -->
    <!-- {{calendarOptions.events}} --> 
    <!-- {{list_or_fullcalendar}} -->
    <!-- {{this.partner}} -->
    <add-Router
      :dialog-type="dialogType"
      :dialog-visible="dialogVisible"
      :router="router"
      @getRouterstatus="getRouterstatus"
      @getAllRouter="getAllRouter"
    />
    <upload-Router
      :dialog-upload-type="dialogUploadType"
      :dialog-upload-visible="dialogUploadVisible"
      :uploadrouterlist="uploadrouterlist"
      @getrRouterUploadstatus="getrRouterUploadstatus"
    />
     <el-switch
    v-model="list_or_fullcalendar"
    active-text="行事曆"
    inactive-text="條列式">
    </el-switch>
    <el-select
      v-model="partner"
      placeholder="請選擇合作夥伴"
      filterable
      default-first-option
      style="margin:10px;"
      @change="chosenPartner"
    >
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id"
      />
    </el-select>
    <el-table v-loading="drivermanagerlistLoading" :data="driverManagerList.items" style="width: 100%;margin-top:30px;" border fit highlight-current-row v-if="list_or_fullcalendar==0">
      <el-table-column type="expand">
        <template slot-scope="scope">
          <el-form label-position="left" class="demo-table-expand">
              <el-divider>搭乘資訊</el-divider>
              <el-form-item label="搭乘日期">
                  <span>{{ scope.row.reserve_date }}</span>
              </el-form-item>
              <el-form-item label="司機名稱">
                  <span>{{ scope.row.driver_name }}</span>
              </el-form-item>
              <el-form-item label="去程回程">
                  <span>{{ scope.row.customer[0].rdata.type | type }}</span>
              </el-form-item> 
          </el-form>
          <el-form class="demo-table-expand">
              <el-divider>乘客資訊</el-divider>
              <div v-for="(customer,index) in scope.row.customer">
                  <el-form-item label="順序">
                    <span style="font-size:25px; color:red;">#{{ index+=1 }}</span>
                  </el-form-item>
                  <el-form-item label="個案姓名">
                    <!-- {{ customer }} -->
                      <span style="font-size:20px;">{{ customer.rdata.member_name }}</span>
                  </el-form-item>
                  <el-form-item label="個案地址">
                    <!-- {{ customer }} -->
                      <span style="font-size:20px;">{{ customer.rdata.address }}</span>
                  </el-form-item>
                  <el-form-item label="聯絡人姓名">
                    <!-- {{ customer }} -->
                      <span style="font-size:20px;">{{ customer.rdata.contact }}</span>
                  </el-form-item>
                  <el-form-item label="聯絡人電話">
                      <span style="font-size:20px;">{{ customer.rdata.contact_phone }}</span>
                  </el-form-item>
              </div>
          </el-form>
        </template>
      </el-table-column>
      <el-table-column align="center" width="140" label="搭乘日期">
        <template slot-scope="scope">
          {{ scope.row.reserve_date }}<br>
          <el-tag size="medium" type="primary" plain style="margin:5px 0;">
                {{ scope.row.customer[0].rdata.type | type }}
          </el-tag><br/>
        </template>
      </el-table-column>
      <el-table-column align="center" width="140" label="司機名稱">
        <template slot-scope="scope">
          {{ scope.row.driver_name }}
        </template>
      </el-table-column>
      <!-- <el-table-column align="center" label="去程與回程">
        <template slot-scope="scope">
            <el-tag size="medium" type="primary" plain style="margin:5px 0;">
                {{ scope.row.customer[0].rdata.type | type }}
            </el-tag>
        </template>
      </el-table-column> -->

      <el-table-column align="center" label="乘車順序">
        <template slot-scope="scope">
            <el-tag v-for="(item,index) in scope.row.customer" style="margin:5px;" :key="index">{{item.rdata.member_name}}</el-tag>
        </template>
      </el-table-column>
      <!-- <el-table-column align="center" label="近一次下班打卡紀錄">
        <template slot-scope="scope">
          <div style="color:red;">{{ scope.row.check_out_record }}</div>
        </template>
      </el-table-column> -->
      <!-- v-if='this.check_admin_premission.includes("update_btn")' -->
      <el-table-column align="center" width="170" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
          <!-- {{compare_now_date_to_reserve_date(scope.row.reserve_date)}} -->
          <!-- {{scope.row.reserve_date}} -->
          <el-button type="primary" icon="el-icon-search" :disabled="compare_now_date_to_reserve_date(scope.row.reserve_date)==true?true:false" @click="handleEditRouter(scope)">編輯</el-button>
          <el-alert
          v-if="compare_now_date_to_reserve_date(scope.row.reserve_date)==true"
          title="已過搭乘日期"
          type="error"
          style="margin:5px 0;"
          :closable="false"
          show-icon
          >
        </el-alert>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="driverManagerList.count"
      :page.sync="driverManagerList.nowpages"
      :limit.sync="driverManagerList.limit"
      v-if="list_or_fullcalendar==0"
      @pagination="getAllRouter(driverManagerList.nowpages)"
    />
  <FullCalendar ref="fullCalendar"  :options="calendarOptions" v-if="list_or_fullcalendar==1" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Pagination from '@/components/Pagination'
import { deepClone } from '@/utils'
import AddRouter from './component/AddRouter.vue'
import UploadRouter from './component/UploadRouter.vue'
import { getAdminPremission } from '@/api/premission_manager'
import { get_Driver_List_Bydid_reservation_query } from '@/api/driver_router_manager'
import dayGridPlugin from '@fullcalendar/daygrid'
import interactionPlugin from '@fullcalendar/interaction'
import moment from 'moment'

const defaultRouter = {
  mid:'',
  partner_id: '',
  driver_id:'',
  reserve_date:'',
  type:'',
  rid:[]
}
const defaultUploadRouter = {
  partner_id: '',
  file:null
}

export default {
  name: 'DriverRouterManager',
  components: { Pagination,AddRouter,UploadRouter },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'new',
      dialogUploadType: 'upload',
      dialogUploadVisible: false,
      router: Object.assign({}, defaultRouter),
      uploadrouterlist: Object.assign({}, defaultUploadRouter),
      partner:'',
      page:1,
      check_admin_premission:[],
      drivermanagerlistLoading:false,
      list_or_fullcalendar:0,
      calendarOptions: {
        plugins: [ dayGridPlugin, interactionPlugin ],
        initialView: 'dayGridMonth',
        //點擊任意日期[新增]司機路線
        dateClick: this.adddriverClick,
        selectable: true,
        events: [
          // { title: 'event 1', start: '2022-06-03 09:00',end:"2022-06-03 12:00" },
          // { title: 'event 2', start: '2022-06-03 16:00',end:"2022-06-03 19:00" }
        ],
        //點擊任意日期[修改]司機路線
        eventClick:this.editdriverClick,
        headerToolbar:{
          left: 'prev,next',
          center: 'title',
          right: 'dayGridMonth,dayGridWeek,dayGridDay'
        },
        buttonText: {
          month: '本月',
          week: '本周',
          day: '今日',
          // list:'list'
        },
      customButtons: { 
        prev: { // this overrides the prev button
          text: "PREV", 
          click: () => {           
            console.log("eventPrev");
             let calendarApi = this.$refs.fullCalendar.getApi();
             calendarApi.prev();
          }
        },
        next: { // this overrides the next button
          text: "NEXT",
          click: () => {
             console.log("eventNext");
             let calendarApi = this.$refs.fullCalendar.getApi();
             calendarApi.next();
          }
        }
      },
      },
    }
  },
  watch: {
    list_or_fullcalendar: function(val){
      console.log(val)
      //行事曆
      if(val==1){
        if(this.partner!=''){
          this.getAllRouter('all')
        }
        
      }
      //條列式
      else if(val==0){
        if(this.partner!=''){
          this.getAllRouter(1)
        }
      }
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
      'driverManagerList'
    ])
  },
  filters:{
    //去程與回程
    type(status){
      const type = {
        "1":'去程',
        "2":'回程',
      }
      return type[status]
    },
  },
  async created() {
    // 顯示合作夥伴
    await this.getPartner('all')
    //預設帶入第一個partner_id
    await this.initPartner()
    // 得知使用者實際擁有權限
    await this.getAdminPremission("司機路線模組")
    
  },
  methods: {
    //剛開始直接設定預設的partner
    async initPartner(){
        var query = ''
        await this.partnerlist.list.forEach(async(element,index)=>{
          if(index==0){
            // console.log("show_first_init_partner",element.partner_id)
            this.partner = element.partner_id
            query += 'partner_id=' + this.partner
            defaultRouter['partner_id'] = this.partner
            this.router = Object.assign({}, defaultRouter)
            defaultUploadRouter['partner_id'] = this.partner
            this.uploadrouterlist = Object.assign({}, defaultUploadRouter)
            this.getAllRouter(1)
          }
        //   console.log("show_all_init_partner",element.partner_id)
        })
        // console.log(this.activeTab)
    },
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner', payload)
    },
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    //比較現在日期與搭車日期 現在日期大於搭車日期無法編輯，反知亦然
    compare_now_date_to_reserve_date(reserve_date){
      return moment(moment(new Date()).format('YYYY/MM/DD')).isAfter(reserve_date);
    },
    //點擊任意日期[修改]司機路線
    async editdriverClick(info){
      info.jsEvent.preventDefault();
      console.log(info.event)
      // 修改司機路線按鈕[行事曆]
      this.handleEditRouter_fullcalendar(info.event.url)
      // console.log(info.event.title)
    },
    //點擊任意日期[新增]司機路線
    async adddriverClick(info){
      info.jsEvent.preventDefault();
      console.log("得知點擊任意日期:",moment(info.date).format('YYYY/MM/DD'))
      defaultRouter['partner_id'] = this.partner
      defaultRouter['reserve_date'] = moment(info.date).format('YYYY/MM/DD')
      // 新增司機路線按鈕
      this.handleAddRouter()
      // console.log(info.event.title)
    },
    async getAllRouter(page){
        this.drivermanagerlistLoading = true
        console.log("this.partner")
        console.log(this.partner)
        defaultRouter['partner_id'] = this.partner
        defaultUploadRouter['partner_id'] = this.partner
        var payload = { "partner_id": this.partner,"page":page}
        await this.$store.dispatch('driver_router_manager/getDriverListReservationQuery', payload)
        this.drivermanagerlistLoading = false
        //設定所有此月份該合作夥伴司機執勤日期列表
        await this.setallthismonthdriverlist()
    },
    // 切換所有合作夥伴的司機路線模組
    async chosenPartner() {
        if(this.partner!=''){
        var payload = { "partner_id": this.partner,"page":this.page}
        this.drivermanagerlistLoading = true 
        defaultRouter['partner_id'] = this.partner
        defaultUploadRouter['partner_id'] = this.partner
        await this.$store.dispatch('driver_router_manager/getDriverListReservationQuery', payload)
        this.drivermanagerlistLoading = false
        await this.setallthismonthdriverlist()
        }
    },
    //設定所有此月份該合作夥伴司機執勤日期列表
    async setallthismonthdriverlist(){
      this.calendarOptions.events = []
      await this.driverManagerList.items.forEach((item)=>{
        var start_date=''
        var end_date=''
        var driver_title=''
        if(item.customer[0].rdata.type==1){
          driver_title = "(去程)"
          start_date = '09:00'
          end_date = '12:00'
        }
        if(item.customer[0].rdata.type==2){
          driver_title = "(回程)"
          start_date = '18:00'
          end_date = '20:00'
        }
        this.calendarOptions.events.push({
          //rid
          id: item.rid,
          //司機和去程回程
          title: item.driver_name+driver_title, 
          //開始日期及時間
          start: moment(item.reserve_date).format('YYYY-MM-DD')+' '+start_date,
          //結束日期及時間
          end: moment(item.reserve_date).format('YYYY-MM-DD')+' '+end_date,
          //搭乘資訊
          url: JSON.stringify({"driver_id":item.driver_id,"partner_id":item.partner_id,"reserve_date":item.reserve_date,"type":item.type,"page":"all"})
        })
      })
    },
    // 新增司機路線按鈕
    handleAddRouter() {
      this.router = Object.assign({}, defaultRouter)
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    // 修改司機路線按鈕
    handleEditRouter(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      console.log(scope)
      this.router = deepClone(scope.row)
      console.log('this.router', this.router)
    },
    // 修改司機路線按鈕[行事曆]
    handleEditRouter_fullcalendar(all_chosen_data){
      var _self = this
      console.log(JSON.parse(all_chosen_data))
      get_Driver_List_Bydid_reservation_query(JSON.parse(all_chosen_data)).then(resp => {
        console.log(resp.items[0])
        _self.dialogType = 'edit'
        _self.dialogVisible = true
        _self.router = deepClone(resp.items[0])
        console.log('_self.router', _self.router)
      })
    },
    //開啟或關閉 新司機路線
    getRouterstatus(status,type){
        this.dialogVisible = status
        this.dialogType = type
    },
     // 新增搭車會員名單
    handleUploadRouter(){
      this.dialogUploadType = 'upload'
      this.dialogUploadVisible = true
       this.uploadrouterlist = Object.assign({}, defaultUploadRouter)
    },
    //開啟或關閉 上傳搭車會員名單
    getrRouterUploadstatus(status){
        this.dialogUploadVisible = status
    },
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
