<template>
  <div class="app-container">
    <!-- <search-Admin @searchAdmin="SearchAllAdmin" @searchAdminpartner="switchPartner" /> -->
    <!-- {{ partner }} -->
    <!-- <search-Worker :dialogType="dialogType" :dialogVisible="dialogVisible" :worker="worker" v-on:getSingleWorkertatus="getSingleWorkertatus" /> -->
    <!-- {{flag}} -->
    <el-switch
    v-model="real_track_or_not_switch"
    active-text="歷史追蹤"
    inactive-text="即時追蹤">
    </el-switch>
    <el-select
      v-model="partner"
      placeholder="請選擇合作夥伴"
      filterable
      default-first-option
      clearable
      style="margin:10px;"
      @change="chosenPartner"
    >
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id"
      />
    </el-select>
    <!-- {{show_all_real_time_admin}} -->
    <!-- {{show_all_history_time_admin_router_animate}} -->
      <!-- <l-map style="width:100%;height: 500px;" :zoom="real_track_or_not_switch==false?15:20" :center="geoposition_partner">
        <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
        <v-marker-cluster v-if="real_track_or_not_switch==false">
        <l-marker :lat-lng="item.admin_local" v-for="item in show_all_real_time_admin" :key="item.admin_id">
          <l-popup>
            <p>
              姓名:{{item.admin_name}}
            </p>
            <p>
              使用者狀態:
              <el-tag :type="item.admin_status==0?'danger':''" plain>
                {{item.admin_status| admin_status}}
              </el-tag>
            </p>
            <p>
              路徑追蹤時間:{{item.admin_recent_date_time}}
            </p>
          </l-popup>
        </l-marker>
        </v-marker-cluster>
        <l-moving-rotated-marker
          v-for="driver in show_all_history_time_admin_router_animate"
          :key="driver.id"
          :if="real_track_or_not_switch==true"
          :lat-lng="driver.admin_local"
          @click="setCurrentDriver(driver.admin_local)"
          ref="driverMarker"
          :duration="3000"
        />
        <l-control-fullscreen position="topleft"/>
      </l-map> -->
    <!-- {{geoposition_partner_googlemap}}//
    {{past_road_path}} -->
      <GmapMap ref="mapRef"
      :center="geoposition_partner_googlemap"
      :zoom="real_track_or_not_switch==false?15:13"
      style="width:100%;height: 450px;"
      >
      <GmapPolyline
        :options="{ strokeColor:'black',geodesic: true,strokeOpacity: 1.0,strokeWeight: 2,}"
        :path="past_road_path"
        v-if="real_track_or_not_switch==true"
      >
      </GmapPolyline>
      <GmapMarker
        :position="geoposition_partner_googlemap"
        :clickable="true"
        :draggable="true"
        @click="opengooglemapWindow"
        v-if="real_track_or_not_switch==false"
      >
        <GmapInfoWindow
          @closeclick="window_open=false"
          :opened="window_open"
          v-for="item in show_all_real_time_admin" :key="item.admin_id"
        >
            <p>
              姓名:{{item.admin_name}}
            </p>
            <p>
              使用者狀態:
              <el-tag :type="item.admin_status==0?'danger':''" plain>
                {{item.admin_status| admin_status}}
              </el-tag>
            </p>
            <p>
              路徑追蹤時間:{{item.admin_recent_date_time}}
            </p>
        </GmapInfoWindow>
      </GmapMarker>
      </GmapMap>
    <p v-if="real_track_or_not_switch==true">路徑代號：<el-tag plain>{{show_now_router_event_id}}</el-tag></p>
    <p v-if="real_track_or_not_switch==true">日期：{{show_now_date}}</p>
    <!-- 開始 導航 結束 暫停 四個按鈕 -->
    <p v-if="real_track_or_not_switch==true">狀態：<el-tag  :type="show_now_driver_status=='開始'||show_now_driver_status=='結束'||show_now_driver_status==null?'primary':'danger'" plain>{{show_now_driver_status}}</el-tag></p>
    <p v-if="real_track_or_not_switch==true">經緯度：{{show_now_geo}}</p>
    <el-table v-loading="historylistLoading" :data="show_all_history_time_admin.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row v-show="real_track_or_not_switch">
      <el-table-column align="center" fixed width="150" label="合作夥伴/姓名">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.partner_name!=null" type="primary" plain>
            {{ scope.row.partner_name }}
            <br/>
          {{ scope.row.name }}
          </el-tag>
          <el-tag v-if="scope.row.partner_name==null" type="danger" plain>
            無<br/>
          {{ scope.row.name }}
          </el-tag>
          <br>
        </template>
      </el-table-column>
      <el-table-column align="center" label="路徑代號/狀態">
        <template slot-scope="scope">
          {{ scope.row.router_event_id }}<br>
            <el-tag :type="scope.row.admin_status==0?'danger':''" plain>
              {{scope.row.admin_status| admin_status }}
            </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="300" label="簽名模式/圖片檔/簽名日期">
        <template slot-scope="scope">
          {{ scope.row.router_track_sign_way|router_track_sign_way }}<br>
          <el-image 
          :src="scope.row.router_track_photo"
          >
            <div slot="error" class="image-slot">
              <i class="el-icon-picture-outline" />
            </div>
          </el-image>
          <p style="color:red;">{{scope.row.router_track_sign_date_time }}</p>
        </template>
      </el-table-column>
      <el-table-column align="center" width="260" label="開始/結束時間">
        <template slot-scope="scope">
            <el-tag plain style="margin:2px auto;">
              {{ scope.row.router_track_start_time }}
            </el-tag>
            <br>
            ▼
            <br>
            <el-tag plain style="margin:2px auto;">
              {{ scope.row.router_track_end_time }}
            </el-tag>
        </template>
      </el-table-column>
      <!-- <el-table-column align="center" width="155" label="簽名模式/簽名日期">
        <template slot-scope="scope">
        </template>
      </el-table-column> -->


      <el-table-column align="center" width="130" label="操作">
          <template slot-scope="scope">
              <!-- :disabled="scope.row.router_track_sign_way==null?true:false" -->
              <!-- {{show_now_router_event_id}}
              {{scope.row.router_event_id}} -->
          <!-- 判斷點擊路徑代號與資料路徑代號是否不一致且狀態是「導航」，其他「開始路徑」無法點擊 -->
          <!-- 判斷點擊路徑代號與資料路徑代號是否一致且狀態是「開始」、「結束」，自己「開始路徑」無法再次點擊 -->
          <el-button type="primary" icon="el-icon-position" style="margin:5px auto;" :disabled="show_now_router_event_id!=scope.row.router_event_id&&show_now_driver_status=='導航'||
          show_now_router_event_id==scope.row.router_event_id&&show_now_driver_status=='導航'" @click="click_router_animate(scope.row)">開始路徑</el-button><br>
          <!-- 判斷「點擊路徑代號」與「資料路徑代號」是否不一致且狀態是「導航」，其他「暫停路徑」無法點擊 -->
          <!-- 判斷「點擊路徑代號」與「資料路徑代號」是否一致且狀態是「導航」，其他「暫停路徑」無法顯示 -->
          <el-button type="warning" icon="el-icon-position" style="margin:5px auto;" :disabled="show_now_router_event_id!=scope.row.router_event_id&&show_now_driver_status=='導航'" @click="stop_router_animate(scope.row)" v-show="show_now_router_event_id==scope.row.router_event_id&&show_now_driver_status=='導航'">暫停路徑</el-button><br>
          
          <el-button type="primary" icon="el-icon-position" style="margin:5px auto;" @click="click_router_animate_google_map(scope.row)">
          google
          </el-button>
          </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="show_all_history_time_admin.count"
      :page.sync="show_all_history_time_admin.nowpages"
      :limit.sync="show_all_history_time_admin.limit"
      @pagination="getAllHistoryRouterWorker(show_all_history_time_admin.nowpages,search_router_track)"
      v-show="real_track_or_not_switch"
    />
     <!-- <worker-manager-chart :get_partner="get_partner" :get_worker_manager="get_worker_manager" /> -->

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Pagination from '@/components/Pagination'
import { getRealtimeRouterTracker,getHistoryRouterTracker } from '@/api/router_tracker_manager'
import { scrollTo } from '@/utils/scroll-to'
import { deepClone } from '@/utils'
// import SearchWorker from './component/SearchWorker.vue'
// import WorkerManagerChart from './component/WorkerManagerChart.vue'
// import AddAdmin from './component/AddAdmin.vue'
// import SearchAdmin from './component/SearchAdmin.vue'

const defaultWorker = {
  partner_id: ''
}

export default {
  name: 'RouterTrackerManager',
  components: { Pagination },
  data() {
    return {
      partner: '',
      search_router_track: '',
      //預設經度緯度合作夥伴
      geoposition_partner:[0,0],
      //預設經度緯度合作夥伴(google_map)
      geoposition_partner_googlemap:{
        lat:0,lng:0
      },
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution:
        '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      zoom: 13,
      //顯示所有即時使用者位置
      show_all_real_time_admin:[],
      //非即時與即時路徑追蹤按鈕
      real_track_or_not_switch:false,
      //顯示所有非即時使用者列表
      show_all_history_time_admin:[],
      //顯示所有非即時使用者路徑動畫
      show_all_history_time_admin_router_animate:[],
      historylistLoading: false,
      // 顯示日期
      show_now_date:'',
      // 顯示路徑代號
      show_now_router_event_id:'',
      flag:false,
      // 顯示路徑代號時間
      flag_settimeout:null,
      // 顯示路徑代號所有時間代號
      flag_settimeout_number:[],
      // 顯示經緯度
      show_now_geo:null,
      // 顯示路徑狀態
      show_now_driver_status:null,
      window_open:false,
      past_road_path:[]
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  watch:{
    //歷史追蹤或是即時追蹤判斷
    real_track_or_not_switch(status){
        console.log(status)
        //判斷為歷史追蹤且有partner
        if(status==true&&this.partner!=''){
            this.getAllHistoryRouterWorker(1, this.search_router_track)
        }
        //判斷為即時追蹤且有partner
        if(status==false&&this.partner!=''){
            this.getAllRouterWorker(1, this.search_router_track)
        }
    }
  },
  filters: {
    // 管理者狀態
    admin_status(status) {
      const admin_status = {
        0: '未啟用',
        1: '啟用',
      }
      return admin_status[status]
    },
    // 司機簽名方式
    router_track_sign_way(status) {
      const router_track_sign_way = {
        0: ' 手動簽名',
        1: 'qrcode掃描',
        'null':"無"
      }
      return router_track_sign_way[status]
    }
  },
  created() {
    // 顯示合作夥伴
    this.getPartner('all')
  },
  methods: {
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner', payload)
    },
    // 顯示所有合作夥伴即時追蹤模組
    async getAllRouterWorker(page, router_track) {
      var payload = ''
      if (this.search_router_track == '') {
        payload = page
      }
      if (this.search_router_track != '') {
        payload += page + '?' + router_track
      }
      console.log('payload', payload)
      this.$nextTick(() => {
      getRealtimeRouterTracker(payload).then(resp => {
            var _self = this
            _self.show_all_real_time_admin = []
            if(resp.data.count!=0){
            //預設經度緯度合作夥伴
            _self.geoposition_partner = [resp.data.list[0].practice_lat,resp.data.list[0].practice_lon]
            _self.geoposition_partner_googlemap = {
              lat:resp.data.list[0].practice_lat,lng:resp.data.list[0].practice_lon
            }
            resp.data.list.forEach(element => {
                _self.show_all_real_time_admin.push({
                    'admin_id':element.admin_id,
                    'admin_name':element.name,
                    'admin_status':element.status,
                    'admin_local':[element.practice_lat,element.practice_lon],
                    'admin_recent_date_time':element.router_track_date_time
                })
            });
            // //預設標注點合作夥伴
            // this.markerLatLng_partner = [resp.data.list[0].partner_lat,resp.data.list[0].partner_lon]
            }
        })
      })
    },
    opengooglemapWindow(){
      this.window_open = true
    },
    // 切換所有合作夥伴的即時追蹤模組
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultWorker['partner_id'] = this.partner
        this.search_router_track = query
      } else {
        this.search_router_track = query
      }
      // console.log("defaultAdmin['partner_id']", defaultAdmin['partner_id'])
      //即時追蹤
      if(this.real_track_or_not_switch==false){
          this.getAllRouterWorker(1, query)
      }
      //歷史追蹤
      if(this.real_track_or_not_switch==true){
          this.getAllHistoryRouterWorker(1, query)
      }
    },
    // 顯示所有合作夥伴歷史追蹤模組
    async getAllHistoryRouterWorker(page, router_track) {
      var payload = ''
      var _self = this
      if (_self.search_router_track == '') {
        payload = page
      }
      if (_self.search_router_track != '') {
        payload += page + '?' + router_track
      }
      console.log('payload', payload)
      _self.$nextTick(() => {
          _self.historylistLoading = true
      getHistoryRouterTracker(payload).then(resp => {
            _self.show_all_history_time_admin = resp.data
            _self.historylistLoading = false
        })
      })
    },
    //點擊路徑動畫
    click_router_animate(driver){
        var _self = this
        scrollTo(0, 800)
        _self.geoposition_partner = [driver.all_router_track[0].practice_lat,driver.all_router_track[0].practice_lon]
        // _self.show_all_history_time_admin_router_animate = driver.all_router_track
        console.log("driver.all_router_track",driver.all_router_track)
        console.log(_self.show_now_driver_status)
        _self.show_now_driver_status = '開始'
        driver.all_router_track.forEach((element,index)=>{
            // _self.$refs.driveMarker.slideTo([element.practice_lat,element.practice_lon])
             console.log("_self.flag",_self.flag)
             console.log("_self.flag_settimeout",_self.flag_settimeout)
                if(_self.flag_settimeout!=null){
                    _self.flag_settimeout_number.push(_self.flag_settimeout)
                }
                _self.flag_settimeout = setTimeout(() => {
                    _self.show_all_history_time_admin_router_animate = []
                    // if(_self.flag==false){
                        _self.show_all_history_time_admin_router_animate.push({
                        'id':index,
                        'admin_local':[element.practice_lat,element.practice_lon]
                        })
                        //顯示日期
                        _self.show_now_date = element.router_track_date_time
                        //顯示經緯度
                        _self.show_now_geo = [element.practice_lat,element.practice_lon]
                        //中心點
                        _self.geoposition_partner = [element.practice_lat,element.practice_lon]
                        //顯示路徑代號
                        _self.show_now_router_event_id = driver.router_event_id
                        _self.show_now_driver_status = '導航'
                        if(_self.show_now_date==driver.router_track_end_time){
                            _self.show_now_driver_status = '結束'
                        }
                    // }
                    // _self.$refs.driverMarker[index].mapObject
                    // console.log(index)
                    // console.log(_self.$refs.driverMarker[index].mapObject._latlng)
                }, 1500 * (index + 1));
        })
        console.log(_self.show_now_driver_status)
    },
    //點擊路徑動畫(google_map)
    click_router_animate_google_map(driver){
      var _self = this
      _self.past_road_path = []
      console.log("driver",driver)
      scrollTo(0,800)
      driver.all_router_track.forEach((element,index)=>{
        _self.past_road_path.push({
          lat:element.practice_lat,lng:element.practice_lon
        })
        _self.geoposition_partner_googlemap = {
          lat:element.practice_lat,lng:element.practice_lon
        }
      })
      _self.show_now_router_event_id = driver.router_event_id
      _self.show_now_date = driver.all_router_track[0].router_track_date_time+'~'+driver.all_router_track[driver.all_router_track.length-1].router_track_date_time
    },
    //停止動畫
    stop_router_animate(){
        var _self = this
        console.log("_self.flag_settimeout_number stop",_self.flag_settimeout_number)
         _self.show_now_driver_status = '暫停'
        _self.flag_settimeout_number.forEach((element)=>{
            clearInterval(element)
        })
        scrollTo(0, 800)
        // clearInterval(_self.flag_settimeout_number)
        _self.flag_settimeout_number = []
        console.log("_self.flag_settimeout_number stop",_self.flag_settimeout_number)
    }
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
