<template>
  <div class="app-container">
    <!-- <search-Admin @searchAdmin="SearchAllAdmin" @searchAdminpartner="switchPartner" /> -->
    <!-- {{ partner }} -->
    <search-Worker :dialogType="dialogType" :dialogVisible="dialogVisible" :worker="worker" v-on:getSingleWorkertatus="getSingleWorkertatus" />
    <el-select
      v-model="partner"
      placeholder="請選擇合作夥伴"
      filterable
      default-first-option
      clearable
      style="margin:10px;"
      @change="chosenPartner"
    >
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id"
      />
    </el-select>
    <!-- <l-map style="width:100%;height: 450px;" :zoom="zoom" :center="geoposition_partner">
      <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
      <l-marker :lat-lng="markerLatLng_partner"></l-marker>
    </l-map> -->
    <GmapMap ref="mapRef"
    :center="geoposition_partner_googlemap"
    :zoom="17"
    style="width:100%;height: 450px;"
    >
    <GmapMarker
      :position="geoposition_partner_googlemap"
    />
    </GmapMap>
    <el-table v-loading="workermanagerlistLoading" :data="WorkerManagerList.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
      <el-table-column align="center" fixed width="150" label="合作夥伴">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.partner_name!=null" type="primary" plain>
            {{ scope.row.partner_name }}
            <br/>
          {{ scope.row.username }}
          </el-tag>
          <el-tag v-if="scope.row.partner_name==null" type="danger" plain>
            無<br/>
          {{ scope.row.username }}
          </el-tag>
          <br>
        </template>
      </el-table-column>
      <el-table-column align="center" width="150" label="姓名/電話">
        <template slot-scope="scope">
          {{ scope.row.name }}<br>
          <el-tag size="medium" type="primary" plain style="margin:5px 0;">
            {{ scope.row.phone }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="155" label="近一次上/下班打卡紀錄">
        <template slot-scope="scope">
          <el-tag size="medium" type="" plain style="margin:5px 0;" v-if="scope.row.check_in_record!=null">
            上班
          </el-tag>
          <div style="color:red;">
            {{ scope.row.check_in_record }}
          </div><br/>
          <el-tag size="medium" type="" plain style="margin:5px 0;" v-if="scope.row.check_out_record!=null">
            下班
          </el-tag>
          <div style="color:red;">
            {{ scope.row.check_out_record }}
          </div>
        </template>
      </el-table-column>
      <el-table-column align="center" label="此月份上/下班打卡次數">
        <template slot-scope="scope">
          <el-tag size="medium" type="" plain style="margin:5px;">
            上班 <div style="color:red;">{{ scope.row.check_in_record_month_count }}</div>
          </el-tag>
          <!-- <div style="color:red;">
            {{ scope.row.check_in_record_month_count }}
          </div><br/> -->
          <el-tag size="medium" type="" plain style="margin:5px;">
            下班 <div style="color:red;">{{ scope.row.check_out_record_month_count }}</div>
          </el-tag>
          <!-- <div style="color:red;">
            {{ scope.row.check_out_record_month_count }}
          </div> -->
        </template>
      </el-table-column>
      <el-table-column align="center" width="155" label="特休天數/使用天數">
        <template slot-scope="scope">
          <div style="color:red;">
            {{ scope.row.special_day }}
          </div><br/>
        </template>
      </el-table-column>
      <!-- <el-table-column align="center" label="近一次下班打卡紀錄">
        <template slot-scope="scope">
          <div style="color:red;">{{ scope.row.check_out_record }}</div>
        </template>
      </el-table-column> -->
      <el-table-column align="center" width="200" label="操作">
        <template slot-scope="scope">
          <el-button type="primary" icon="el-icon-search" @click="handleworkerrecord(scope)" :disabled="scope.row.check_in_record==null||scope.row.check_out_record==null?true:false">打卡紀錄</el-button><br>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="WorkerManagerList.count"
      :page.sync="WorkerManagerList.nowpages"
      :limit.sync="WorkerManagerList.limit"
      @pagination="getAllWorker(WorkerManagerList.nowpages,search_admin)"
    />
     <worker-manager-chart :get_partner="get_partner" :get_worker_manager="get_worker_manager" />
    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Pagination from '@/components/Pagination'
import { getWorker } from '@/api/worker_manager'
import { deepClone } from '@/utils'
import SearchWorker from './component/SearchWorker.vue'
import WorkerManagerChart from './component/WorkerManagerChart.vue'
// import AddAdmin from './component/AddAdmin.vue'
// import SearchAdmin from './component/SearchAdmin.vue'

const defaultWorker = {
  partner_id: ''
}

export default {
  name: 'WorkerManager',
  components: { Pagination,SearchWorker, WorkerManagerChart },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'record',
      partner: '',
      WorkerManagerList: [],
      workermanagerlistLoading: false,
      worker: Object.assign({}, defaultWorker),
      search_worker: '',
      //預設經度緯度合作夥伴
      geoposition_partner:[0,0],
      //預設經度緯度合作夥伴(google_map)
      geoposition_partner_googlemap:{
        lat:0,lng:0
      },
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution:
        '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      zoom: 17,
      //預設標注點合作夥伴
      markerLatLng_partner: [0,0],
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  filters: {

  },
  created() {
    // 顯示合作夥伴
    this.getPartner('all')
  },
  methods: {
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner', payload)
    },
    // 顯示所有合作夥伴打卡模組
    async getAllWorker(page, worker) {
      var payload = ''
      if (this.search_worker == '') {
        payload = page
      }
      if (this.search_worker != '') {
        payload += page + '?' + worker
      }
      console.log('payload', payload)
      this.workermanagerlistLoading = true
      getWorker(payload).then(resp => {
        this.WorkerManagerList = resp.data
        if(resp.data.count!=0){
          //預設經度緯度合作夥伴
          this.geoposition_partner = [resp.data.list[0].partner_lat,resp.data.list[0].partner_lon]
          //預設標注點合作夥伴
          this.markerLatLng_partner = [resp.data.list[0].partner_lat,resp.data.list[0].partner_lon]
          this.workermanagerlistLoading = false
          //預設經度緯度合作夥伴(google_map)
          this.geoposition_partner_googlemap = {
            lat:resp.data.list[0].partner_lat,
            lng:resp.data.list[0].partner_lon
          }
          //切換合作夥版放入分析圖表當中
          this.get_partner = this.partner
          this.get_worker_manager = resp.data
        }
        else{
          this.workermanagerlistLoading = false
          //切換合作夥版放入分析圖表當中
          this.get_partner = this.partner
          this.get_worker_manager = resp.data
        }
        // console.log("this.geoposition_not_real_time",this.geoposition_not_real_time)
      })
    },
    // 切換所有合作夥伴的打卡模組
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultWorker['partner_id'] = this.partner
        this.search_worker = query
      } else {
        this.search_worker = query
      }
      // console.log("defaultAdmin['partner_id']", defaultAdmin['partner_id'])
      this.getAllWorker(1, query)
    },
    //關閉所有紀錄dialog狀態
    getSingleWorkertatus(status){
      this.dialogVisible = status
    },
    //得知該位員工打卡記錄
    handleworkerrecord(scope){
      this.dialogType = 'record'
      this.dialogVisible = true
      this.worker = deepClone(scope.row)
    }
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
