<template>
  <div class="app-container">
     <!-- <search-Pushchannel v-on:searchPushchannel="SearchAllPushchannel" v-if='this.check_admin_premission.includes("search_btn")' /> -->
     <!-- {{groupbuymember}} -->
    <SearchGroupBuyMember
    v-on:SearchGroupMember="getMember" 
    :partner="partner" 
    v-if='this.check_admin_premission.includes("search_btn")' />
    <el-select
      v-model="partner"
      placeholder="請選擇合作夥伴"
      filterable
      default-first-option
      style="margin:auto 10px;"
      @change="chosenPartner"
    >
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id"
      />
    </el-select>
    <!-- {{LinebotInfo}} -->
    <el-button type="primary" icon="el-icon-edit" @click="handleAddMember">新票卷會員模組</el-button>
    <div style="text-align:right;" v-show="GroupBuyMember.length!=0">
      <el-button icon="el-icon-download" type="primary" style="margin:3px 0;" :loading="memberlistLoading" @click="confirmexportmemberdownload">匯出會員</el-button>
    </div>
    <!-- {{check_admin_premission}} -->
    <!-- {{dialogType}}
    {{dialogVisible}} -->
    <!-- {{GroupBuyMember}} -->
    <AddGroupBuyMember
    :groupbuymember="groupbuymember"
    :dialogMemberType="dialogMemberType"
    :dialogMemberVisible="dialogMemberVisible"
    @getMember_status_dialogtype="getMember_status_dialogtype"
    @groupbuymember="getMember" />
    <el-table v-loading="memberlistLoading" :data="GroupBuyMember" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
      <el-table-column align="center" label="票卷會員">
        <template slot-scope="scope">
            <el-avatar 
            size="large"
            :src="scope.row.avatar"
            v-if="scope.row.avatar!=null"
            >
            </el-avatar>
            <br/>
            <el-tag style="margin:10px 0;cursor:pointer;" @click="handleEditMember(scope)">{{ scope.row.real_name }}</el-tag>
            <el-tag type="danger" style="margin:10px 0;" v-if="scope.row.vip==1">vip</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="會員信箱/電話" width="200">
        <template slot-scope="scope">
            <el-tag style="margin:10px 0;">{{ scope.row.email }}</el-tag><br/>
            <el-tag style="margin:10px 0;">{{ scope.row.mobile }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="會員載具方式" width="160" v-if="LinebotInfo.pay_premission.includes('電子發票')">
        <template slot-scope="scope">
            <el-tag style="margin:10px 0;">{{ scope.row.carrier_type|CarrierType }}</el-tag><br/>
            <div v-if="scope.row.carrier_type=='3'">
            <div v-if="scope.row.carrier_num!=null" style="color:red;">
            {{ scope.row.carrier_num}}
            </div>
            <div v-if="scope.row.carrier_num==null">
              <el-tag type="danger">x</el-tag><br/>
            </div>
            </div>
          <br/>
        </template>
      </el-table-column>
      <el-table-column align="center" label="健康狀況及攀登經驗" width="200" v-if="LinebotInfo.check_coupon_premission==1">
        <template slot-scope="scope">
            <div v-if="scope.row.member_options.length==0">
              <!-- <el-tag type="danger">無填寫健康狀況及攀登經驗</el-tag> -->
              <el-tag type="danger">x</el-tag><br/>
            </div>
            <div v-else>
              <el-tag style="margin:10px 0;"  :type="scope.row.member_options[0]['health']==1?'danger':'primary'">健康狀況 ：{{ scope.row.member_options[0]['health']|health}}</el-tag><br/>
              <el-tag style="margin:10px 0;" :type="scope.row.member_options[0]['health']==1?'danger':'primary'" v-show="scope.row.member_options[0]['health']==1">健康簡述 ：{{ scope.row.member_options[0]['state_of_health']}}</el-tag><br/>
              <el-tag style="margin:10px 0;">攀登經驗：{{ scope.row.member_options[0]['how_long_climbed']|how_long_climbed}} </el-tag><br/>
            </div>
        </template>
      </el-table-column>
      <el-table-column align="center" label="緊急聯絡人資訊" width="180" v-if="LinebotInfo.check_coupon_premission==1">
        <template slot-scope="scope">
            <div v-if="scope.row.member_options.length==0">
              <!-- <el-tag type="danger">無填寫緊急聯絡資訊</el-tag> -->
              <el-tag type="danger">x</el-tag><br/>
            </div>
            <div v-else>
              <el-tag style="margin:10px 0;">聯絡人/關係 ：{{ scope.row.member_options[0]['emergency_contact']}}({{ scope.row.member_options[0]['emergency_relation']}})</el-tag><br/>
              <el-tag style="margin:10px 0;">聯絡電話 ：{{ scope.row.member_options[0]['emergency_phone']}}</el-tag><br/>
            </div>
          <br/>
        </template>
      </el-table-column>
      <el-table-column align="center" label="授權登入" v-if="LinebotInfo.check_coupon_premission==1">
        <template slot-scope="scope">
            <div v-if="scope.row.first==0">
              <el-tag type="danger">x</el-tag>
            </div>
            <div v-else>
              <el-tag>v</el-tag>
            </div>
          <br/>
        </template>
      </el-table-column>
      <el-table-column align="center" label="風險同意書" width="120" v-if="LinebotInfo.check_coupon_premission==1">
        <template slot-scope="scope">
            <div v-if="scope.row.contract=='' || scope.row.contract==null">
                <!-- <el-tag type="danger">無風險同意書</el-tag><br/> -->
                <el-tag type="danger">x</el-tag><br/>
            </div>
            <div v-else>
                 <el-button type="primary" @click="download_contract(scope.row)">下載</el-button><br/>
            </div>
        </template>
      </el-table-column>
      <el-table-column align="center" label="消費紀錄" width="250">
        <template slot-scope="scope">
            <div v-if="scope.row.member_order_info.member_buy_order_count==0">
            <el-tag type="danger" style="font-size:20px;">無任何消費紀錄</el-tag>
            </div>
            <div v-else>
              <span style="margin:10px 0;">最近一次消費金額</span>
              <el-tag style="margin:10px 5px;">{{scope.row.member_order_info.member_buy_recent_total}}</el-tag><br/>
              <span style="margin:10px 0;">最近一次消費時間</span>
              <el-tag type="danger" style="margin:10px 0;">{{scope.row.member_order_info.member_buy_recent_created_at}}</el-tag><br/>
              <hr/>
              <span style="margin:10px 0;">截止目前消費次數</span>
              <el-tag style="margin:10px 5px;">{{scope.row.member_order_info.member_buy_order_count}}</el-tag><br/>
              <span style="margin:10px 0;">截止目前消費金額</span>
              <el-tag style="margin:10px 5px;">{{scope.row.member_order_info.member_buy＿order_total}}</el-tag><br/>
            </div>
        </template>
      </el-table-column>
      <el-table-column align="center" label="會員加入時間/註冊來源" width="220">
        <template slot-scope="scope">
            <el-tag>{{scope.row.created_at}}</el-tag>
            <br/>
            <el-tag style="margin:10px 0;">{{ scope.row.source| source }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
          <el-tag style="margin:10px 0;" :type="scope.row.status==1?'danger':'primary'">{{ scope.row.status | status }}</el-tag><br/>
          <el-button type="primary" @click="handleEditMember(scope)">編輯</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="GroupBuyMember_count"
      :page.sync="GroupBuyMember_nowpages"
      :limit.sync="GroupBuyMember_limit"
      @pagination="getMemberPagination(GroupBuyMember_nowpages,search_member)"
    />

    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Pagination from '@/components/Pagination'
import path from 'path'
import { deepClone } from '@/utils'
import { getAdminPremission } from '@/api/premission_manager'
import { getGroupBuyMember } from '@/api/groupbuy_manager'
import { getLineBotInfo } from '@/api/linebot_manager'
import AddGroupBuyMember from './components/AddGroupBuyMember.vue'
import SearchGroupBuyMember from './components/SearchGroupBuyMember.vue'

//會員
const defaultMember = {
  partner_id:'',
  line_user_id:'',
  nick_name:'',
  real_name:'',
  avatar:'',
  email:'',
  mobile:'',
  birthday:'',
  //發票類型
  invoice_type:'1',
  //發票種類
  reception_kind:'1',
  sex:'1',
  address:'無地址',
  status:0,
  carrier_type:'',
  carrier_num:'',
  identifier:'',
  company_title:'',
  mail_address:'無地址',
  vip:'0',
  source:'2',
  note:'',
  state_of_health:'無',
  health:'0',
  how_long_climbed:'0',
  emergency_contact:'',
  emergency_relation:'',
  emergency_phone:'',
  member_tag:[]
}

export default {
  name: 'groupbuy_member_manager',
  components: { Pagination,AddGroupBuyMember,SearchGroupBuyMember },
  data() {
    return {
      dialogMemberVisible: false,
      dialogMemberType: '',
      partner: '',
      GroupBuyMember:[],
      //匯出會員格式
      GroupBuyMemberDownload:[],
      GroupBuyMember_count:0,
      GroupBuyMember_nowpages:1,
      GroupBuyMember_limit:10,
      memberlistLoading: false,
      groupbuymember: Object.assign({}, defaultMember),
      search_member:'',
      check_admin_premission:[],
      LinebotInfo:[],
      filter_download:[],
      show_all_member_export:[],
      show_member_tag:[]
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
      'memberlist'
    ])
  },
  filters:{
    //註冊來源
    source(status){
      const source_status = {
        1: 'line',
        2: '後台'
      }
      return source_status[status]
    },
    //狀態
    status(status){
      const contract_status = {
        0:'啟用',
        1:'停用',
      }
      return contract_status[status]
    },
    //載具
    CarrierType(status){
      const CarrierType = {
        null:'無載具',
        '': '無載具',
        0: '無載具',
        1: '綠界電子發票載具',
        2: '自然人憑證號碼',
        3: '手機條碼載具',
      }
      return CarrierType[status]
    },
    CarrierNum(status){
      const CarrierNum = {
        null:'無載具編號',
      }
      return CarrierNum[status]
    },
    health(status){
      const health = {
        0:'良好',
        1:'其他'
      }
      return health[status]
    },
    how_long_climbed(status){
      const how_long_climbed = {
        0:'初次',
        1:'一年內',
        2:'一年以上'
      }
      return how_long_climbed[status]
    }
  },
  async created() {
    //顯示合作夥伴
    await this.getPartner('all')
    //預設帶入第一個partner_id
    await this.initPartner()
    // 得知使用者實際擁有權限
    await this.getAdminPremission("團購會員管理")
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          this.check_admin_premission = []
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
      //得知聊天機器人基本資料
      getlinebotinfo(){
        var payload = {
            'partner_id':this.partner
        }
        this.LinebotInfo = []
        getLineBotInfo(payload).then(resp => {
              if(resp.data=="查詢成功"){
                  this.LinebotInfo = resp.message[0]
              }
              else{
                this.LinebotInfo.push({
                  'partner_id':this.partner,
                  'name':'',
                  'logo':'',
                  'channel_token':'',
                  'channel_secret':'',
                  'basic_id':'',
                  'qrcode':'',
                  'channel_type':0,
                  'pay_way':[],
                  'show_one_coupon_groupbuy':0,
                  'show_one_coupon_groupbuy_name':'',
                  'pay_way_description':'',
                  'order_description':'',
                  'on_site_description':'',
                  'pay_premission':[],
                  'linebot_liff':'',
                  'check_coupon_premission':0,
                  'check_linebot_notify_premission':0,
                  'MerchantID':'',
                  'pay_hash_key':'',
                  'pay_hash_iv':'',
                  'reception_hash_key':'',
                  'reception_hash_iv':'',
                  'line_pay_channel_id':'',
                  'line_pay_secret_key':'',
                  'agreement':''
                })
                this.LinebotInfo = this.LinebotInfo[0]
                // this.$message({
                //     message: '請於「Line機器人模組」建立聊天機器人資訊',
                //     type: 'error'
                // })
              }
          })
      },
    // 切換所有合作夥伴的最新消息
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultMember['partner_id'] = this.partner
        this.groupbuymember = Object.assign({}, defaultMember)
        this.search_member = query
      } else {
        this.search_member = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getMember(1,this.search_member)
    },
    //剛開始直接設定預設的partner
    async initPartner(){
        var query = ''
        await this.partnerlist.list.forEach(async(element,index)=>{
          if(index==0){
            // console.log("show_first_init_partner",element.partner_id)
            this.partner = element.partner_id
            query += 'partner_id=' + this.partner
            defaultMember['partner_id'] = this.partner
            this.groupbuymember = Object.assign({}, defaultMember)
            this.search_member = query
            console.log(this.search_member)
            this.getMember(1,this.search_member)
          }
        //   console.log("show_all_init_partner",element.partner_id)
        })
        // console.log(this.activeTab)
    },
    //下載風險同意書
    download_contract(row){
        window.open(this.upload_path+row.contract,'_blank')
    },
     //顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner',payload)
    },
    // 得知會員模組
    async getMember(page,payload) {
      this.memberlistLoading = true
      this.search_member = payload
      this.GroupBuyMember = []
      console.log("1")
      getGroupBuyMember(page+'?'+payload).then(resp => {
        if(resp.success==true){
            //判斷partner_id是否為一樣
            this.GroupBuyMember = resp.data.list.filter(data=>data.partner_id==this.groupbuymember.partner_id)
            this.GroupBuyMember_count = resp.data.count
            this.GroupBuyMember_nowpages = resp.data.nowpages
            this.GroupBuyMember_limit = resp.data.limit

        }
       this.memberlistLoading = false
      })
      // 得知使用者聊天機器人基本資料
      await this.getlinebotinfo()
    },
    // 新增團購會員按鈕
    handleAddMember() {
      this.groupbuymember = Object.assign({}, defaultMember)
      this.dialogMemberType = 'new'
      this.dialogMemberVisible = true
    },
    // 修改團購會員按鈕
    handleEditMember(scope) {
      this.dialogMemberType = 'edit'
      this.dialogMemberVisible = true
      //將發票參數放入
      //為綠界發票帶入
      if(scope.row.carrier_type=='1'){
        scope.row.invoice_type = '1'
        scope.row.reception_kind = '1'
      }
      //為手機條碼帶入
      if(scope.row.carrier_type=='3'){
        scope.row.invoice_type = '1'
        scope.row.reception_kind = '3'
      }
      //將個人身體及健康概述
      scope.row.health = scope.row.member_options[0]['health'].toString()
      scope.row.state_of_health = scope.row.member_options[0]['state_of_health'].toString()
      scope.row.how_long_climbed = scope.row.member_options[0]['how_long_climbed'].toString()
      scope.row.emergency_contact = scope.row.member_options[0]['emergency_contact']
      scope.row.emergency_relation = scope.row.member_options[0]['emergency_relation']
      scope.row.emergency_phone = scope.row.member_options[0]['emergency_phone']
      var get_member_tag = []
      if(scope.row.member_tag_options.length!=0){
        scope.row.member_tag_options.forEach(element => {
        get_member_tag.push(element.member_2_tag)
      });
      scope.row.member_tag = get_member_tag
      }
      else{
        scope.row.member_tag = []
      }
      this.groupbuymember = deepClone(scope.row)
      console.log(this.groupbuymember)
    },
    // 點擊分頁團購會員
    async getMemberPagination(page, search_member) {
      var payload = ''
      var _self = this
      if (_self.search_member == '') {
        payload = page
      }
      if (_self.search_member != '') {
        payload += search_member
      }
      this.getMember(page,payload)
    },
    // 關閉會員
    getMember_status_dialogtype(dialogMemberVisible,dialogMemberType){
      this.dialogMemberVisible = dialogMemberVisible
      this.dialogMemberType = dialogMemberType
    },
    //匯出會員
    confirmexportmemberdownload(){
        this.memberlistLoading = true
        var filename = '匯出會員資料'
        import('@/vendor/Export2Excel').then(async excel => {
        this.filter_download = []
        this.filter_download.push('會員名稱')
        this.filter_download.push('會員信箱')
        this.filter_download.push('會員電話')
        this.filter_download.push('會員是否成為vip')
        if(this.LinebotInfo.check_coupon_premission==1){
          this.filter_download.push('會員健康狀態')
          this.filter_download.push('會員攀登經驗')
          this.filter_download.push('會員緊急聯絡人')
        }
        this.filter_download.push('會員最近一次消費金額')
        this.filter_download.push('會員最近一次消費時間')
        this.filter_download.push('會員截至目前消費次數')
        this.filter_download.push('會員截至目前消費金額')
        this.filter_download.push('會員標籤')
        this.filter_download.push('會員加入時間')
        this.show_all_member_export = []
        this.GroupBuyMemberDownload = []
        await getGroupBuyMember('all?partner_id='+this.partner).then(async resp => {
          if(resp.success==true){
              //判斷partner_id是否為一樣
              this.GroupBuyMemberDownload = await resp.data.list.filter(data=>data.partner_id==this.groupbuymember.partner_id)

          }
        })
        this.GroupBuyMemberDownload.forEach((element)=>{
          if(this.LinebotInfo.check_coupon_premission==1){
            var get_health_title  ='',
            get_health_description = '',
            get_how_long_climbed =''
            if(element.member_options[0]['health']==0){
              get_health_title = '良好'
              get_health_description = ''
            }
            else{
              get_health_title = '其他'
              get_health_description = element.member_options[0]['state_of_health']
            }
            if(element.member_options[0]['how_long_climbed']==0){
              get_how_long_climbed = '初次'
            }
            if(element.member_options[0]['how_long_climbed']==1){
              get_how_long_climbed = '一年內'
            }
            if(element.member_options[0]['how_long_climbed']==2){
              get_how_long_climbed = '一年內以上'
            }
            this.show_member_tag = []
            element.member_tag_options.forEach((member)=>{
              this.show_member_tag.push(member.member_2_tag)
            })
            this.show_all_member_export.push({
                    "會員名稱": element.real_name,
                    "會員信箱": element.email,
                    "會員電話": element.mobile,
                    "會員是否成為vip":element.vip==0?'x':'v',
                    "會員健康狀態": get_health_title,
                    "會員健康描述": get_health_description,
                    "會員攀登經驗": get_how_long_climbed,
                    "會員緊急聯絡人": element.member_options[0]['emergency_contact']+'('+element.member_options[0]['emergency_relation']+')'+'//'+element.member_options[0]['emergency_phone'],
                    "會員最近一次消費金額": element.member_order_info.member_buy_recent_total,
                    "會員最近一次消費時間": element.member_order_info.member_buy_recent_created_at,
                    "會員截至目前消費次數": element.member_order_info.member_buy_order_count,
                    "會員截至目前消費金額": element.member_order_info.member_buy＿order_total,
                    "會員標籤": this.show_member_tag,
                    "會員加入時間": element.created_at,
            })
          }
          else{
            this.show_member_tag = []
            element.member_tag_options.forEach((member)=>{
              this.show_member_tag.push(element.member_2_tag)
            })
            this.show_all_member_export.push({
                    "會員名稱": element.real_name,
                    "會員信箱": element.email,
                    "會員電話": element.mobile,
                    "會員是否成為vip":element.vip==0?'x':'v',
                    "會員最近一次消費金額": element.member_order_info.member_buy_recent_total,
                    "會員最近一次消費時間": element.member_order_info.member_buy_recent_created_at,
                    "會員截至目前消費次數": element.member_order_info.member_buy_order_count,
                    "會員截至目前消費金額": element.member_order_info.member_buy＿order_total,
                    "會員標籤": this.show_member_tag,
                    "會員加入時間": element.created_at,
            })
          }
        })
        const data = this.formatJsonFilter(this.filter_download, this.show_all_member_export)
        excel.export_json_to_excel({
            header: this.filter_download, //Header Required
            data, //Specific data Required
            filename: filename, //Optional
            autoWidth: true, //Optional
            bookType: 'xlsx'
        })
        this.memberlistLoading = false
      })
    },
    formatJsonFilter(filterVal, jsonData) {
      console.log(jsonData)
      console.log(filterVal)
      return jsonData.map(v => filterVal.map(j => {
        console.log(v[j])
        return v[j]
      }))
    }
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
