<template>
  <div class="app-container">
    <el-select
      v-model="partner"
      placeholder="請選擇合作夥伴"
      filterable
      default-first-option
      style="margin:auto 10px;"
      @change="chosenPartner"
    >
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id"
      />
    </el-select>
    <!-- {{Linebotchecknotshowothermenu}} -->
    <!-- {{LinebotInfo}} -->
      <el-tabs v-model="activeTab">
        <el-tab-pane label="票卷商品" name="groupbuy_shop">
            <!-- 團購商品 -->
              <GroupBuyShop :activeTab="activeTab" :partner="partner" />
        </el-tab-pane>
        <el-tab-pane label="票卷開團" name="groupbuy_group">
            <!-- 團購開團 -->
            <GroupBuyGroup :activeTab="activeTab" :partner="partner" />
        </el-tab-pane>
        <el-tab-pane label="票卷折扣" name="groupbuy_coupon_discount">
            <!-- 團購折扣 -->
            <GroupBuyCouponDiscount :activeTab="activeTab" :partner="partner" />
        </el-tab-pane>
        <el-tab-pane label="票卷訂單" name="groupbuy_order">
            <!-- 團購訂單 -->
            <GroupBuyOrder :activeTab="activeTab" :partner="partner" />
        </el-tab-pane>
        <!-- 判斷確認是否開啟票卷權限才顯示tab -->
        <el-tab-pane label="票卷審核" name="groupbuy_card" v-if="LinebotInfo.check_coupon_premission==1">
            <!-- 團購票卷 -->
            <GroupBuyCoupon :activeTab="activeTab" :partner="partner" />
        </el-tab-pane>
        <!-- 判斷確認是否開啟電子發票權限才顯示tab -->
        <el-tab-pane label="票卷發票" name="groupbuy_reception" v-if="LinebotInfo.pay_premission.includes('電子發票')">
            <!-- 團購發票 -->
            <GroupBuyReception :activeTab="activeTab" :partner="partner" />
        </el-tab-pane>
        <el-tab-pane label="票卷分析" name="groupbuy_static">
            <GroupBuyStatic :activeTab="activeTab" :partner="partner" />
        </el-tab-pane>
        <!-- 判斷機器人類型channel_type==1群組機器人才顯示tab -->
        <el-tab-pane label="團購群組" name="groupbuy_grouplist" v-if="LinebotInfo.channel_type==1">
            團購群組 {{partner}}
        </el-tab-pane>
      </el-tabs>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import path from 'path'
import { deepClone } from '@/utils'
import { getAdminPremission } from '@/api/premission_manager'
import { getLineBotInfo } from '@/api/linebot_manager'
import GroupBuyShop from './components/GroupBuyShop.vue'
import GroupBuyGroup from './components/GroupBuyGroup.vue'
import GroupBuyOrder from './components/GroupBuyOrder.vue'
import GroupBuyCoupon from './components/GroupbuyCoupon.vue'
import GroupBuyReception from './components/GroupBuyReception.vue'
import GroupBuyStatic from './components/GroupBuyStatic.vue'
import GroupBuyCouponDiscount from './components/GroupBuyCouponDiscount.vue'
export default {
  name: 'GroupBuyManager',
  components: { GroupBuyShop,GroupBuyGroup,GroupBuyOrder,GroupBuyCoupon,GroupBuyReception,GroupBuyStatic,GroupBuyCouponDiscount },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'new',
      partner: '',
      LinebotMenu:[],
      LinebotInfo:[],
      check_admin_premission:[],
      //選單
      activeTab:'groupbuy_order',
      loading:false,
      Linebotchecknotshowothermenu:false
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  filters: {

  },
  async created() {
    // 顯示合作夥伴
    await this.getPartner('all')
    //預設帶入第一個partner_id
    await this.initPartner()
    // 得知使用者實際擁有權限
    await this.getAdminPremission("團購管理")
  },
    watch: {
        partner:{
        handler: function(val, oldVal) {
        if(this.partner!=''){
            // this.getlinebotmenu()
            //得知聊天機器人基本資料
            this.getlinebotinfo()
        }
        },
        immediate: true
        }
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner', payload)
    },
    async chosenPartner(){
        console.log(this.activeTab)
    },
    //剛開始直接設定預設的partner
    async initPartner(){
        await this.partnerlist.list.forEach(async(element,index)=>{
          if(index==0){
            console.log("show_first_init_partner",element.partner_id)
            this.partner = element.partner_id
          }
          console.log("show_all_init_partner",element.partner_id)
        })
        console.log(this.activeTab)
    },
     //得知聊天機器人基本資料
    async getlinebotinfo(){
      this.LinebotInfo = []
      var payload = {
          'partner_id':this.partner
      }
      await getLineBotInfo(payload).then(resp => {
            if(resp.data=="查詢成功"){
              this.LinebotInfo = resp.message[0]
            }
            else{
            this.LinebotInfo.push({
                'partner_id':this.partner,
                'name':'',
                'logo':'',
                'channel_token':'',
                'channel_secret':'',
                'basic_id':'',
                'qrcode':'',
                'channel_type':0,
                'pay_way':[],
                'show_one_coupon_groupbuy':0,
                'show_one_coupon_groupbuy_name':'',
                'pay_way_description':'',
                'order_description':'',
                'on_site_description':'',
                'pay_premission':[],
                'linebot_liff':'',
                'check_coupon_premission':0,
                'check_linebot_notify_premission':0,
                'MerchantID':'',
                'pay_hash_key':'',
                'pay_hash_iv':'',
                'reception_hash_key':'',
                'reception_hash_iv':'',
                'line_pay_channel_id':'',
                'line_pay_secret_key':'',
                'agreement':''
            })
            this.LinebotInfo = this.LinebotInfo[0]
            }
      })
    },
    
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
