<template>
    <div>
    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'更新預約會員標籤模組':'新增預約會員標籤模組'"
    :before-close="closeAddMemberTag" center
    width="75%"
    append-to-body
    >
      <el-form :rules="MemberTagRules" status-icon ref="membertag" :model="membertag" label-position="right">
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="8" :xl="8">
                <el-form-item label="預約會員標籤" prop="reserve_system_member_tag_name">
                    <el-input ref="reserve_system_member_tag_name" v-model="membertag.reserve_system_member_tag_name"
                    name="reserve_system_member_tag_name" placeholder="預約會員標籤"
                    autocomplete="off" />
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddMemberTag">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmMemberTag('membertag')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { postAppointMemberTagList } from '@/api/reservationsystemappointmembertag'
export default {
name: 'AddAppointMemberTag',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    membertag:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      MemberTagRules: {
        reserve_system_member_tag_name: [{ required: true,message: '預約會員標籤為必填欄位'}]
      },
      loading:false,
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  methods: {
    // 更新與新增預約會員標籤
    confirmMemberTag(membertag) {
      this.$refs[membertag].validate(valid => {
        if (valid) {
          this.loading = true
          postAppointMemberTagList(this.membertag)
            .then((resp) => {
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error',
                duration:5000
                })
                this.$emit('getAllAppointMemberTag')
                //判斷是否為新增且無錯誤訊息提示
                if(this.dialogType!="edit"){
                    this.$nextTick(() => {
                      this.$refs[membertag].resetFields()
                    })
                    //當新增成功，自動關閉預約名單資訊
                    if(resp.success==true){
                      this.closeAddMemberTag()
                    }
                }
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    //關閉預約會員標籤
    closeAddMemberTag(){
    //更新資料進入外層的預約會員標籤
    this.dialogVisible = false
    this.dialogType =''
    this.$emit('getMemberTagstatus',this.dialogVisible,this.dialogType)
    },
  }
}
</script>