<template>
    <div>
    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'更新抽獎模組':'新增抽獎模組'"
    :before-close="closeAddLuckyWheel" center fullscreen
    append-to-body
    >
      <el-form :rules="LuckyWheelRules" status-icon ref="luckywheel" :model="luckywheel" label-position="right">
          <!-- {{partner}}
          {{dialogVisible}} --> 
          <!-- {{luckywheel}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="4" :xl="4">
                <el-form-item label="合作夥伴" prop="partner_id">
                  <br/>
                    <el-select
                        v-model="luckywheel.partner_id"
                        name="partner_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="選擇合作夥伴"
                        ref="partner_id"
                        >
                        <el-option
                        v-for="item in partnerlist.list"
                        :key="item.category_id"
                        :label="item.partner_name"
                        :value="item.partner_id">
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="8" :xl="8">
                <el-form-item label="抽獎標題" prop="lucky_wheel_title">
                    <el-input ref="lucky_wheel_title" v-model="luckywheel.lucky_wheel_title"
                    name="lucky_wheel_title" placeholder="抽獎標題"
                    autocomplete="off" />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                <el-form-item label="抽獎類型" prop="lucky_wheel_type">
                  <br/>
                    <el-radio-group v-model="luckywheel.lucky_wheel_type" 
                    ref="lucky_wheel_type" name="lucky_wheel_type">
                        <el-radio-button label=0 border>轉盤</el-radio-button>
                        <el-radio-button label=1 border>九宮格</el-radio-button>                        
                        <el-radio-button label=2 border>老虎機</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                <el-form-item label="抽獎類型" prop="lucky_wheel_status">
                  <br/>
                    <el-radio-group v-model="luckywheel.lucky_wheel_status" 
                    ref="lucky_wheel_status" name="lucky_wheel_status">
                        <el-radio-button label=0 border>準備</el-radio-button>
                        <el-radio-button label=1 border>下架</el-radio-button>                        
                        <el-radio-button label=2 border>上架</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="6">
                <el-form-item label="開始日期">
                    <el-date-picker v-model="luckywheel.lucky_wheel_start_datetime" type="date" 
                    ref="lucky_wheel_start_datetime" name="lucky_wheel_start_datetime" placeholder="開始日期"
                    value-format="yyyy-MM-dd"
                    ></el-date-picker>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="6">
                <el-form-item label="結束日期">
                    <el-date-picker v-model="luckywheel.lucky_wheel_end_datetime" type="date" 
                    ref="lucky_wheel_end_datetime" name="lucky_wheel_end_datetime" placeholder="結束日期"
                    value-format="yyyy-MM-dd"
                    ></el-date-picker>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="抽獎商品/機率">
                    <el-button type="primary" @click.native="insertLuckyWheelproduct">＋</el-button>
                </el-form-item>
            </el-col>
            <div v-for="(lucky_wheel_price_list,index) in luckywheel.lucky_wheel_price_list" :key="index">
            <el-col :xs="24" :sm="11" :lg="8" :xl="8">
                <el-form-item label="抽獎產品">
                    <el-input v-model="lucky_wheel_price_list.lucky_wheel_prizes_name"
                     placeholder="抽獎產品"
                    autocomplete="off" />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="11" :lg="3" :xl="3">
                <el-form-item label="抽獎機率">
                    <el-input v-model="lucky_wheel_price_list.lucky_wheel_prizes_range"
                     placeholder="抽獎機率"
                    autocomplete="off" />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="2" :lg="1" :xl="1">
                <br/>
                <el-button type="danger" @click.native="removeLuckyWheelproduct(index)">-</el-button>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
              <el-progress :percentage="lucky_wheel_price_list.lucky_wheel_prizes_range"></el-progress>
            </el-col>
            </div>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddLuckyWheel">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmLuckyWheel('luckywheel')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddEditLuckyWheel',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    luckywheel:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      LuckyWheelRules: {
        partner_id: [{ required: true }],
        lucky_wheel_title: [{ required: true }],
        lucky_wheel_type:[{ required:true}],
        lucky_wheel_status:[{required:true}],
        lucky_wheel_prizes_name:[{required:true}],
        lucky_wheel_prizes_range:[{required:true}],
      },
      // 預覽選擇的最新消息圖片
      show_hotnews_photo_preview: null,
      loading:false,
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  methods: {
    // 更新與新增最新消息
    confirmLuckyWheel(luckywheel) {
      this.$refs[luckywheel].validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('luckywheel/insert_update_luckywheel', this.luckywheel)
            .then((res) => {
                //更新資料進入外層的抽獎模組
                this.$emit('getluckywheel',this.luckywheel.partner_id)
                //判斷是否為新增或修改
                if(this.dialogType!="edit"){
                    this.$nextTick(() => {
                      this.$refs[luckywheel].resetFields()
                      this.luckywheel.lucky_wheel_price_list = []
                    })
                }
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    //關閉最新消息
    closeAddLuckyWheel(){
    //更新資料進入外層的最新消息狀態
    this.dialogVisible = false
    this.luckywheel.lucky_wheel_price_list = []
    console.log("this.luckywheel.lucky_wheel_price_list",this.luckywheel.lucky_wheel_price_list)
    this.$emit('getLuckyWheelstatus',this.dialogVisible)

    },
    //新增所有抽獎商品
    insertLuckyWheelproduct(){
        this.luckywheel.lucky_wheel_price_list.push(
          {"lucky_wheel_prizes_name": null, "lucky_wheel_prizes_photo": null, "lucky_wheel_prizes_range": 20}
        )
      console.log(this.luckywheel.lucky_wheel_price_list)
    },
    //刪除所有抽獎商品
    removeLuckyWheelproduct(index){
      this.luckywheel.lucky_wheel_price_list.splice(index,1)
    },
    before_hotnews_photo_upload(file){
        const isJPG = file.raw.type.toLowerCase() === 'image/jpeg'||'image/jpg'||'image/png';
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isLt2M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
        //   this.$refs.
        return isLt2M;
        }
        else if(!isJPG){
          this.$message.error('上傳格式不正確!!');
          return isJPG;
        }
        let reader = new FileReader()
        reader.readAsDataURL(file.raw);
        let URL = window.URL || window.webkitURL;
        console.log("file",file)
        //放入所有最新消息圖片資訊
        this.hotnews.hotnews_photo = file
        //預覽圖片
        this.show_hotnews_photo_preview = URL.createObjectURL(file.raw);
        return isLt2M&isJPG;
    },
    //取消上傳圖片
    reset_hotnews_photo_upload(){
       this.hotnews.hotnews_photo = null
      this.show_hotnews_photo_preview = null
    }
  }
}
</script>