<template>
    <div>
    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'更新群組發文管理':'新增群組發文管理'"
    :before-close="closeAddMemberGroup" center fullscreen
    append-to-body
    >
      <el-form :rules="MemberGroupRules" status-icon ref="membergroup" :model="membergroup" label-position="right">
        <!-- {{membergroup}} -->
        <!-- {{dialogVisible}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                <el-form-item label="合作夥伴" prop="partner_id">
                  <br/>
                    <el-select
                        v-model="membergroup.partner_id"
                        name="partner_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="選擇合作夥伴"
                        ref="partner_id"
                        disabled
                        >
                        <el-option
                        v-for="item in partnerlist.list"
                        :key="item.category_id"
                        :label="item.partner_name"
                        :value="item.partner_id"
                        
                        >
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
            <!-- {{grouplist}} -->
            <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                <el-form-item label="發文群組" prop="groups_array">
                  <br/>
                    <el-select
                        v-model="membergroup.groups_array"
                        name="groups_array"
                        filterable
                        multiple
                        collapse-tags
                        default-first-option
                        placeholder="選擇發文群組"
                        ref="groups_array"
                        >
                        <el-option
                        v-for="item in grouplist"
                        :key="item.groupid"
                        :label="item.groupname"
                        :value="item.groupid"
                        :disabled="item.groupstatus==''?true:false"
                        >
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
              <el-form-item label="發送頻率" prop="freq">
                <br/>
                  <el-radio-group v-model="membergroup.freq" 
                  ref="freq" name="freq">
                      <el-radio-button label=0 border>一次性</el-radio-button>
                      <el-radio-button label=1 border>固定時間</el-radio-button>  
                      <el-radio-button label=2 border>即時性</el-radio-button>                        
                  </el-radio-group>
              </el-form-item>
          </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-if="membergroup.freq==0||membergroup.freq==1">
                <el-form-item label="推播日期" prop="push_message_date">
                    <el-date-picker v-model="push_message_date" type="date" 
                    ref="push_message_date" name="push_message_date" placeholder="推播日期"
                    value-format="yyyy-MM-dd">
                    </el-date-picker>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-if="membergroup.freq==0||membergroup.freq==1">
                <el-form-item label="推播時間" prop="push_message_time">
                    <el-time-select v-model="push_message_time"
                        ref="push_message_time" name="push_message_time"
                        :picker-options="{start: '00:05',step: '00:05',end: '23:55'}"
                        placeholder="推播時間">
                    </el-time-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="訊息內容(文字)" prop="messages">
                    <el-input v-model="membergroup.messages"
                    placeholder="訊息內容(文字)"
                    type="textarea"
                    ref="messages" name="messages"
                    :rows="5"
                    autocomplete="off"
                     />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-if="dialogType==='edit'&&(origin_image!=null)">
                <el-form-item label="原始圖片">
                  <el-image :src="upload_path+origin_image"
                  style="width:350px;"
                  >
                      <div slot="error" class="image-slot">
                      <i class="el-icon-picture-outline"></i>
                      </div>
                  </el-image>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="圖片">
                  <el-upload
                    class="avatar-uploader"
                    action="https://shopstore-dashboardupload.gohojia.com/linepushmessage"
                    ref="photo"
                    name="photo"
                    :multiple="false"
                    :auto-upload="false"
                    :limit="1"
                    accept="image/png,image/jpg,image/jpeg"
                    :on-change="before_group_photo_upload"
                    :on-remove="reset_group_photo_upload"
                    >
                    <div slot="tip" class="el-upload__tip" style="color:red">
                      *圖檔支援.png,.jpeg格式<br/>
                      *圖檔大小尺寸 700 * 600<br/>
                      *檔名命名時不能有中文<br/>
                      *只能上傳一張圖片，且不超過2MB
                    </div>
                    <img v-if="show_membergroup_photo_preview" :src="show_membergroup_photo_preview" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                  </el-upload>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="貼圖主分類" prop="sticker">
                    <br/>
                    <!-- {{membergroup.sticker_package_id}} -->
                    <el-select
                        ref="sticker"
                        v-model="membergroup.sticker_package_id"
                        name="sticker"
                        clearable
                        width="100%"
                        @change="set_sticker"
                        placeholder="選擇貼圖主分類">
                        <el-option
                            v-for="item in sticker_package"
                            :key="item.main_line_package_id"
                            :label="item.package_title"
                            :value="item.main_line_package_id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-col :xs="7" :sm="4" :lg="2" :xl="2" v-for="(select_sticker_id,index) in sticker_id" :key="index">
                <el-form-item prop="sub_line_package_id">
                    <el-image
                        style="width: 100px; height: 100px"
                        :src="'https://stickershop.line-scdn.net/stickershop/v1/sticker/'+select_sticker_id.sticker_id+'/android/sticker.png'"
                        fit="fit">
                        <div slot="error" class="image-slot">
                            <i class="el-icon-picture-outline"></i>
                        </div>
                    </el-image>
                    <br/>
                    <el-radio v-model="membergroup.sub_line_package_id" :label="select_sticker_id.sub_line_package_id" border style="margin:10px;" name="sub_line_package_id">{{select_sticker_id.sticker_id}}</el-radio>
                </el-form-item>
                </el-col>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddMemberGroup">關閉</el-button>
        <el-button v-if="dialogType==='edit'" :loading="loading" type="primary" @click.native.prevent="confirmMemberGroup('membergroup','update')">確認</el-button>
        <el-button v-if="dialogType==='new'" :loading="loading" type="primary" @click.native.prevent="confirmMemberGroup('membergroup','insert')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
import { getMemberGroupName,insertMemberGroup,updateMemberGroup } from '@/api/member_group_manager'
import { getMainLinePackage,getSubLinePackage } from '@/api/line_package_manager'
import moment from 'moment'
export default {
name: 'AddEditMemberGroup',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    membergroup:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      MemberGroupRules: {
        partner_id: [{ required: true }],
        groups_array: [{type:'array',required: true,message: '發文群組為必填欄位' }],
        messages:[
          {required: true,message: '發文訊息為必填欄位'},
          {max:1000, message: '發文訊息不超過1000字'}
        ]
      },
      loading:false,
      //發文群組選單
      grouplist:[],
      //預覽照片
      show_membergroup_photo_preview:'',
      sticker_package:[],
      sticker_id:[],
      push_message_date: '',
      push_message_time:'',
      // 圖片網址位置
      upload_path: '',
      //原始照片
      origin_image:'',
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  mounted() {
        this.getLineMainPackageRecord('all')
        // 圖片網址位置
        this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  watch: {
    push_message_date:function(date){
        var _self = this
        _self.membergroup.send_at = date.toString()+' '+_self.push_message_time
    },
    push_message_time:function(time){
        var _self = this
        _self.membergroup.send_at = _self.push_message_date+' '+time.toString()
    },
    dialogVisible:function(dialogVisible){
        var _self = this
        if(dialogVisible==true){
            if(_self.dialogType=='edit'){
                _self.push_message_date = _self.membergroup.send_at.split(' ')[0]
                _self.push_message_time = _self.membergroup.send_at.split(' ')[1]
                _self.origin_image = _self.membergroup.photo
                _self.set_sticker()
            }
            _self.set_linemessage_partnerid_to_group()
            // console.log(_self.membergroup.messages[0].text)
            // console.log(_self.membergroup)
        }
        _self.$nextTick(() => {
            _self.$refs[membergroup].resetFields();
        })
    }
  },
  methods: {
    //設定合作夥伴下有幾個群組
    async set_linemessage_partnerid_to_group(){
        await getMemberGroupName(this.membergroup.partner_id).then((resp)=>{
            this.grouplist = resp.groups
        })
    },
    //新增訊息格式
    insertmessagetype(){
        this.messagesorder = parseInt(this.membergroup.messages.length)+1
        this.messagesorder = this.messagesorder++
        this.membergroup.messages.push(
          {"order": this.messagesorder, "type": 1, "text": ''}
        )
    },
    //關閉群組發文管理
    closeAddMemberGroup(){
    //更新資料進入外層的群組發文管理狀態
    var _self = this
    _self.dialogVisible = false
    _self.push_message_date  = ''
    _self.push_message_time  = ''
    //貼圖恢復為預設
    _self.sticker_id = []
    //圖片恢復為預設
    _self.show_membergroup_photo_preview = null
    //關閉時將圖片移除
    // _self.membergroup.messages.forEach((element,index)=>{
    //     if(element.type=="2"){
    //         _self.handleRemoveClick(index)
    //     }
    // })
    _self.$emit('getMemberGroupstatus',_self.dialogVisible)
    },
    //
    confirmMemberGroup(membergroup,dialogType){
      this.$refs[membergroup].validate(valid => {
        if (valid) {
          this.loading = true
          const MemberGroupFormData = new FormData()
          MemberGroupFormData.append('partner_id',this.membergroup.partner_id)
          MemberGroupFormData.append('groups',JSON.stringify(this.membergroup.groups_array))
          MemberGroupFormData.append('freq',this.membergroup.freq)
          MemberGroupFormData.append('messages',this.membergroup.messages)
            if(this.membergroup.sub_line_package_id!=''){
              MemberGroupFormData.append('sticker',this.membergroup.sub_line_package_id)
            }
          //即時性資料帶即時推播日期時間
          if(this.membergroup.freq==2){
            // console.log(moment(moment(new Date()).format('YYYY-MM-DD HH:MM:SS'))._i)
            this.membergroup.send_at = moment(moment(new Date()).format('YYYY-MM-DD HH:MM:SS'))._i
            // console.log(this.membergroup.send_at)
          }
          MemberGroupFormData.append('send_at',this.membergroup.send_at)
          //新增
          if(dialogType=='insert'){
            if(this.membergroup.photo!=''){
              MemberGroupFormData.append('photo',this.membergroup.photo.raw)
            }
            insertMemberGroup(MemberGroupFormData).then(resp => {
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
                })
                this.loading = false
                this.messagephoto=''
                this.push_message_date=''
                this.push_message_time=''
                this.membergroup.send_at=''
                this.membergroup.freg = 0
                this.membergroup.push_id = 0
                // this.membergroup.messages.forEach((element,index) => {
                //     if(element.type==2){
                //         this.handleRemoveClick(index)
                //     }
                // });
                this.membergroup.messages = ''
                this.$refs.photo.clearFiles()
                this.membergroup.photo = ''
                this.show_membergroup_photo_preview = null
                //貼圖恢復為預設
                this.sticker_id = []
                this.membergroup.sticker = null
                this.membergroup.sub_line_package_id = null
                this.membergroup.groups = []
                //更新資料進入外層的群組發文模組
                this.$emit('getMemberGroup',this.membergroup.partner_id)
            })
          }
          //更新
          else{
            if(this.membergroup.photo!=null){
              if(this.membergroup.photo.raw!=null){
                MemberGroupFormData.append('photo',this.membergroup.photo.raw)
              }
            }
            updateMemberGroup(MemberGroupFormData,this.membergroup.id).then(resp => {
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
                })
                this.loading = false
                //更新資料進入外層的群組發文模組
                this.$emit('getMemberGroup',this.membergroup.partner_id)
            })
          }
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    getLineMainPackageRecord(page) {
        getMainLinePackage(page).then((resp)=>{
            this.sticker_package = resp.data.list
        })
    },
    set_sticker(){
      var payload = ''
      //判斷貼圖主分類資料是否為空
      if(this.membergroup.sticker_package_id!=''){
        payload += 'all?sticker_package_id='+this.membergroup.sticker_package_id
          getSubLinePackage(payload).then((resp)=>{
              this.sticker_id = []
              this.sticker_id = resp.data.list
          })
      }
      else{
        this.sticker_id = []
        this.membergroup.sub_line_package_id = ''
      }
    },
    before_group_photo_upload(file) {
        const isJPG = file.raw.type.toLowerCase() === 'image/jpeg'||'image/jpg'||'image/png';
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isLt2M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
        //   this.$refs.
        return isLt2M;
        }
        else if(!isJPG){
          this.$message.error('上傳格式不正確!!');
          return isJPG;
        }
        let reader = new FileReader()
        reader.readAsDataURL(file.raw);
        let URL = window.URL || window.webkitURL;
        console.log("file",file)
        // 放入所有membergroup圖片資訊
        this.membergroup.photo = file
        //預覽圖片
        this.show_membergroup_photo_preview = URL.createObjectURL(file.raw);
        return isLt2M&isJPG;
    },
    // 取消上傳圖片
    reset_group_photo_upload(){
      this.membergroup.photo = null
      this.show_membergroup_photo_preview = null
    }
  }
}
</script>