<template>
    <div>
    <el-dialog :visible.sync="dialogVisiblePreview" title="預覽抽獎模組"
    :before-close="closeAddLuckyWheel" center fullscreen
    append-to-body
    >
        <el-form :model="luckywheel" label-position="right">
            <el-row :gutter="20">
                <el-col :xs="10" :sm="8" :lg="8" :xl="8">
                    <el-form-item label="抽獎標題" disabled="true">
                        <el-input v-model="luckywheel.lucky_wheel_title"
                        name="lucky_wheel_title" placeholder="抽獎標題"
                        autocomplete="off" readonly />
                    </el-form-item>
                </el-col>
                <el-col :xs="7" :sm="8" :lg="8" :xl="8" v-if="luckywheel.lucky_wheel_start_datetime!=''">
                    <el-form-item label="開始時間" disabled="true">
                        <el-input v-model="luckywheel.lucky_wheel_start_datetime"
                        name="lucky_wheel_title" placeholder="開始時間"
                        autocomplete="off" readonly />
                    </el-form-item>
                </el-col>
                <el-col :xs="7" :sm="8" :lg="8" :xl="8" v-if="luckywheel.lucky_wheel_end_datetime!=''">
                    <el-form-item label="結束時間" disabled="true">
                        <el-input v-model="luckywheel.lucky_wheel_end_datetime"
                        name="lucky_wheel_title" placeholder="結束時間"
                        autocomplete="off" readonly />
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
      <div>
        <LuckyWheel
          ref="myLucky"
          width="350px"
          height="350px"
          :blocks="blocks"
          :prizes="prizes"
          :buttons="buttons"
          :defaultConfig="defaultConfig"
          @start="startCallBack"
          @end="endCallBack"
          style="margin:auto;"
        />
      </div>
      <div style="text-align:right;">
            <el-button type="danger" @click="closeAddLuckyWheel">關閉</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
const synth = window.speechSynthesis;
const speak_msg = new SpeechSynthesisUtterance();
const audio = new Audio(require('@/assets/sound/lucky_ring.mp3'))
export default {
name: 'PreviewLuckyWheel',
props:{
    dialogTypePreview:{
        type:String,
        require:true
    },
    dialogVisiblePreview:{
        type:Boolean,
        require:true
    },
    luckywheel:{
        type:Object,
        require:true
    }
},
watch:{
    luckywheel(){
        var _self = this
        _self.prizes = []
        _self.luckywheel.lucky_wheel_price_list.forEach((element,index) => {
            console.log(index)
            if(index%2==0){
                _self.prizes.push({
                    fonts: [{ text: element.lucky_wheel_prizes_name, top: '15%' }],
                    background: '#e9e8fe', 
                    range: element.lucky_wheel_prizes_range
                })
            }
            else{
                _self.prizes.push({
                    fonts: [{ text: element.lucky_wheel_prizes_name, top: '15%' }],
                    background: '#b8c5f2', 
                    range: element.lucky_wheel_prizes_range
                })
            }
        });
    }
},
  data() {
    return {
        blocks: [{ padding: '15px', background: '#869cfa' }],
        prizes: [
          { fonts: [{ text: '奶昔*4', top: '15%' }], background: '#e9e8fe', range: 3 },
          { fonts: [{ text: '奶昔*1', top: '15%' }], background: '#b8c5f2', range: 35 },
          { fonts: [{ text: '銘謝惠顧', top: '15%' }], background: '#e9e8fe', range: 15 },
          { fonts: [{ text: '奶昔*2', top: '15%' }], background: '#b8c5f2', range: 8 },
          { fonts: [{ text: '奶昔*1', top: '15%' }], background: '#e9e8fe', range: 35 },
          { fonts: [{ text: '奶昔*3', top: '15%' }], background: '#b8c5f2', range: 4 },
        ],
        buttons: [
          { radius: '40%', background: '#617df2' },
          { radius: '45%', background: '#afc8ff' },
          {
            radius: '40%', background: '#869cfa',
            pointer: true,
            fonts: [{ text: '開始\n抽獎', top: '-10px' }]
          },
        ],
        defaultConfig: {
          speed: 25,
          accelerationTime: 1700,
          decelerationTime: 1700
        },
    }
  },
  methods: {
    //關閉預覽抽獎模組
    closeAddLuckyWheel(){
    //更新資料進入外層的最新消息狀態
    this.dialogVisiblePreview = false
    this.$emit('getLuckyWheelstatuspreview',this.dialogVisiblePreview)

    },
    //開始轉盤
    startCallBack () {
    this.$refs.myLucky.play()
    speak_msg.text = `開始抽獎！！！`
    // speak_msg.lang = "zh-CN"
    synth.speak(speak_msg)
    audio.play()
    // 假设接口的请求速度是5s
    setTimeout(() => {
        // 2s后拿到后端返回的中奖索引
        // const index = 0
        // 然后停止游戏 (缓慢停止)
        this.$refs.myLucky.stop()
    }, 500)
    },
    endCallBack (prize) {
    // 当完全停止时, 触发回调函数
    console.log(prize)
    audio.pause()
    audio.currentTime = 0
    if(prize.fonts[0].text!='銘謝惠顧'){
        speak_msg.text = `恭喜中獎！！！${prize.fonts[0].text}`
        // speak_msg.lang = "zh-CN"
        synth.speak(speak_msg)
        this.$dialog({
        content: `恭喜中獎！！！${prize.fonts[0].text}`,
        noCloseBtn: false,
        noOkBtn: true,
        cancelBtnTxt: "我知道了"
        });
    }else{
        speak_msg.text = `${prize.fonts[0].text}`
        // speak_msg.lang = "zh-CN"
        synth.speak(speak_msg)
        this.$dialog({
        content: `${prize.fonts[0].text}`,
        noCloseBtn: false,
        noOkBtn: true,
        cancelBtnTxt: "我知道了"
        });
    }
    },
  }
}
</script>