<template>
  <el-card style="margin-bottom:20px;" v-loading="ReservationSystemMemberTagLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">會員標籤</span>
      <el-button type="primary" icon="el-icon-plus" @click="insertmembertag" style="float:right;" :disabled="partner==''?true:false">新增會員標籤</el-button>
      <!-- {{check_admin_premission}}
      {{dialogType}} -->
    </div>
    <div class="user-profile">
        <AddAppointMemberTag :membertag="membertag" :dialogType="dialogType" :dialogVisible="dialogVisible" @getAllAppointMemberTag="setquerymembertag" @getMemberTagstatus="getMemberTag_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <!-- <SearchExceptionShift @SearchExceptionShift="SearchExceptionShift" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' /> -->
        <el-table v-loading="ReservationSystemMemberTagLoading" :data="membertag_List.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <el-table-column align="center" label="會員標籤名稱">
            <template slot-scope="scope">
              <el-tag style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_member_tag_name }}</el-tag>           
            </template>
        </el-table-column>
        <el-table-column align="center" width="170" label="會員標籤上架時間">
            <template slot-scope="scope">
              <span style="color:red;">{{ scope.row.reserve_system_member_tag_datetime }}</span>
            </template>
        </el-table-column>
        <el-table-column align="center" width="120" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
            <el-button type="primary" icon="el-icon-edit" @click="handleEditmembertag(scope)">編輯</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="membertag_total"
          :page.sync="membertag_List.nowpages"
          :limit.sync="membertag_List.limit"
          @pagination="getAllMemberTag(membertag_List.nowpages,search_appint_shop)"
        />
    </div>
  </el-card>
</template>
<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { getAppointMemberTagList } from '@/api/reservationsystemappointmembertag'
import AddAppointMemberTag from './AddAppointMemberTag.vue'
// import SearchExceptionShift from './SearchExceptionShift.vue'
import { deepClone } from '@/utils'
import Cookies from 'js-cookie'
const defaultMemberTag = {
  	partner_id:'',reserve_system_member_tag_name:''
}
export default {
  name:"ReservationSystemMemberTag",
  // components:{ Pagination,AddExceptionShift,SearchExceptionShift },
//   components:{ Pagination,AddMember },
  components:{ Pagination,AddAppointMemberTag },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  watch: {
    partner:{
        handler: function(val, oldVal) {
            if(this.partner!=''){
                this.chosenPartner()
            }
        },
        immediate: true
    },
  },
  data(){
    return {
      dialogType:'',
      dialogVisible:false,
      ReservationSystemMemberTagLoading:false,
      membertag: Object.assign({}, defaultMemberTag),
      search_membertag:'',
      membertag_total:0,
      membertag_List:[]
    }
  },
  methods: {
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultMemberTag['partner_id'] = this.partner
        this.search_membertag = query
      } else {
        this.search_membertag = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllMemberTag(1, query)
    },
    // 設定會員
    setquerymembertag(){
      //判斷目前頁數在哪一頁
      if(Cookies.get('membertagpage')==undefined){
        this.getAllMemberTag(1, this.search_membertag)
      }
      else{
        this.getAllMemberTag(Cookies.get('membertagpage'), this.search_membertag)
      }
    },
    // 放入實際搜尋條件
    SearchMemberTag(query){
        //放入實際搜尋條件
        this.search_membertag = query
        // 設定會員
        this.setquerymembertag()
    },
    // 關閉會員狀態
    getMemberTag_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
    // 顯示所有合作夥伴會員
    async getAllMemberTag(page, membertag) {
      var payload = ''
      if (this.search_membertag == '') {
        payload = page
      }
      if (this.search_membertag != '') {
        payload += page + '?' + membertag
      }
      console.log("before:",Cookies.get('membertagpage'))
      //設定目前頁數在哪一頁
      Cookies.set('membertagpage',page)
      console.log("after",Cookies.get('membertagpage'))
      console.log('payload', payload)
      this.ReservationSystemMemberTagLoading = true
      getAppointMemberTagList(payload).then(resp => {
        this.membertag_List = resp.data
        this.membertag_total = this.membertag_List.count
        this.ReservationSystemMemberTagLoading = false
      })
    },
    //新增會員標籤
    insertmembertag(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultMemberTag['partner_id'] = this.partner
      this.membertag = Object.assign({},defaultMemberTag)
    },
    //修改會員標籤
    handleEditmembertag(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      this.membertag = deepClone(scope.row)
    },
  }
}
</script>