<template>
  <el-card style="margin-bottom:20px;" v-loading="ReservationSystemMemberLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">會員</span>
      <el-button type="primary" icon="el-icon-plus" @click="insertmember" style="float:right;" :disabled="partner==''?true:false">新增會員</el-button>
      <!-- {{check_admin_premission}}
      {{dialogType}} -->
    </div>
    <div class="user-profile">
        <AddMember :member="member" :dialogMemberType="dialogMemberType" :dialogMemberVisible="dialogMemberVisible" @getAllAppointMember="setquerymember" @getMember_status_dialogtype="getMember_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <SearchReserveMember @SearchReserveMember="SearchMember" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' />
        <el-table v-loading="ReservationSystemMemberLoading" :data="member_List.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <el-table-column align="center" label="會員資訊（姓名、身分證）">
            <template slot-scope="scope">
              <el-tag style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_member_username }}</el-tag>
              <br/>
              <el-tag style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_member_identity }}</el-tag>
              <!-- <br/>
              <el-tag style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_member_identity }}</el-tag>
              <br/>
              <el-tag style="margin:10px 0;font-size:15px;">({{ scope.row.reserve_system_member_sex|reserve_system_member_sex }})</el-tag>               -->
            </template>
        </el-table-column>
        <el-table-column align="center" label="會員資訊（電話、信箱）">
            <template slot-scope="scope">
              <el-tag style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_member_telephone }}</el-tag>
              <br/>
              <el-tag style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_member_email }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="會員資訊（會員來源、通知方式）">
            <template slot-scope="scope">
              <el-tag style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_member_source|reserve_system_member_source }}</el-tag>
              <br/>
              <el-tag style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_member_notify|reserve_system_member_notify }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="會員標籤">
            <template slot-scope="scope">
              <div v-show="scope.row.reserve_system_member_tag!=''">
                <el-tag type="danger" style="margin:10px;font-size:15px;"  v-for="(item,index) in scope.row.reserve_system_member_tag.split(',')" :key="index">{{ item }}</el-tag><br/>
              </div>
            </template>
        </el-table-column>
        <el-table-column align="center" label="會員註冊時間">
            <template slot-scope="scope">
              <span style="color:red;">{{ scope.row.reserve_system_member_datetime }}</span>
            </template>
        </el-table-column>
        <el-table-column align="center" width="120" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
            <el-button type="primary" icon="el-icon-edit" @click="handleEditmember(scope)">編輯</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="member_total"
          :page.sync="member_List.nowpages"
          :limit.sync="member_List.limit"
          @pagination="getAllMember(member_List.nowpages,search_appint_shop)"
        />
    </div>
  </el-card>
</template>
<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { getAppointMemberList } from '@/api/reservationsystemappointmember'
import AddMember from '../../reservation_system/components/AddMember.vue'
import SearchReserveMember from './SearchReserveMember.vue'
import { deepClone } from '@/utils'
import Cookies from 'js-cookie'
const defaultMember = {
  	partner_id:'',reserve_system_member_username:'',
    reserve_system_member_identity:'',reserve_system_member_telephone:'',
    reserve_system_member_birthday:'',reserve_system_member_sex:0,
    reserve_system_member_email:'',reserve_system_member_note:'',
    reserve_system_member_tag:[],reserve_system_member_source:0,
    reserve_system_member_notify:0
}
export default {
  name:"ReservationSystemMember",
  // components:{ Pagination,AddExceptionShift,SearchExceptionShift },
  components:{ Pagination,AddMember,SearchReserveMember },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  watch: {
    partner:{
        handler: function(val, oldVal) {
            if(this.partner!=''){
                this.chosenPartner()
            }
        },
        immediate: true
    },
  },
  filters:{
      //會員性別（0:男性、1:女性）
      reserve_system_member_sex(status){
      const reserve_system_member_sex = {
        0: '男性',
        1: '女性'
      }
      return reserve_system_member_sex[status]
    },
      //會員註冊來源0:管理端1:顧客
      reserve_system_member_source(status){
      const reserve_system_member_source = {
        0: '管理端',
        1: '顧客端'
      }
      return reserve_system_member_source[status]
    },
      //會員註冊來源0:管理端1:顧客
      reserve_system_member_notify(status){
      const reserve_system_member_notify = {
        0: '信箱',
        1: '簡訊'
      }
      return reserve_system_member_notify[status]
    },
  },
  data(){
    return {
      dialogType:'',
      dialogMemberType:'',
      dialogSearchType:'',
      dialogVisible:false,
      dialogMemberVisible:false,
      dialogSearchVisible:false,
      ReservationSystemMemberLoading:false,
      member: Object.assign({}, defaultMember),
      search_member:'',
      member_total:0,
      member_List:[]
    }
  },
  methods: {
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultMember['partner_id'] = this.partner
        this.search_member = query
      } else {
        this.search_member = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllMember(1, query)
    },
    // 設定會員
    setquerymember(){
      //判斷目前頁數在哪一頁
      if(Cookies.get('memberpage')==undefined){
        this.getAllMember(1, this.search_member)
      }
      else{
        this.getAllMember(Cookies.get('memberpage'), this.search_member)
      }
    },
    // 放入實際搜尋條件
    SearchMember(query){
        //放入實際搜尋條件
        this.search_member = query
        // 設定會員
        this.setquerymember()
    },
    // 關閉會員狀態
    getMember_status_dialogtype(status,type) {
      this.dialogMemberVisible = status
      this.dialogMemberType = type
    },
    // 顯示所有合作夥伴會員
    async getAllMember(page, member) {
      var payload = ''
      if (this.search_member == '') {
        payload = page
      }
      if (this.search_member != '') {
        payload += page + '?' + member
      }
      console.log("before:",Cookies.get('memberpage'))
      //設定目前頁數在哪一頁
      Cookies.set('memberpage',page)
      console.log("after",Cookies.get('memberpage'))
      console.log('payload', payload)
      this.ReservationSystemMemberLoading = true
      getAppointMemberList(payload).then(resp => {
        this.member_List = resp.data
        this.member_total = this.member_List.count
        this.ReservationSystemMemberLoading = false
      })
    },
    //新增會員
    insertmember(){
      this.dialogMemberType = 'new'
      this.dialogMemberVisible = true
      defaultMember['partner_id'] = this.partner
      this.member = Object.assign({},defaultMember)
    },
    //修改會員
    handleEditmember(scope){
      this.dialogMemberType = 'edit'
      this.dialogMemberVisible = true
      scope.row.partner_id = this.partner
      this.member = deepClone(scope.row)
    },
  }
}
</script>