<template>
    <div>
    <el-form :inline="true" :model="luckywheel" class="demo-form-inline">
    <el-row>
        <el-form-item label="合作夥伴">
            <el-select
                v-model="luckywheel.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                @keydown.enter.native="searchluckywheel"
                clearable
                placeholder="選擇合作夥伴"
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="抽獎標題">
            <el-input v-model="luckywheel.lucky_wheel_title" name="lucky_wheel_title" 
            placeholder="抽獎標題" @keyup.enter.native="searchluckywheel" clearable></el-input>
        </el-form-item>
        <el-form-item label="抽獎類型">
            <el-select v-model="luckywheel.lucky_wheel_type" name="lucky_wheel_type" 
             placeholder="抽獎類型" @keyup.enter.native="searchluckywheel" clearable>
                <el-option label="轉盤" value="0"></el-option>
                <el-option label="九宮格" value="1"></el-option>
                <el-option label="老虎機" value="2"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="抽獎狀態">
            <el-select v-model="luckywheel.lucky_wheel_status" name="lucky_wheel_status" 
             placeholder="抽獎狀態" @keyup.enter.native="searchluckywheel" clearable>
                <el-option label="準備" value="0"></el-option>
                <el-option label="下架" value="1"></el-option>
                <el-option label="上架" value="2"></el-option>
            </el-select>
        </el-form-item>
        <!-- {{hotnews.hotnews_status}} -->
        <el-form-item>
            <el-button type="primary" @click="searchluckywheel" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultLuckyWheel = {
  partner_id: '', lucky_wheel_type: "0",
  lucky_wheel_title: '', lucky_wheel_status:"0",
  lucky_wheel_start_datetime: null,lucky_wheel_end_datetime: null,
}

export default {
  name: 'SearchLuckyWheel',
  data() {
    return {
      luckywheel: Object.assign({}, defaultLuckyWheel)
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  methods: {
      searchluckywheel(){
        var query = ''
        if(this.luckywheel.partner_id!=''){
            query+= 'partner_id='+this.luckywheel.partner_id+'&'
        }
        if(this.luckywheel.lucky_wheel_title!=''){
            query+= 'lucky_wheel_title='+this.luckywheel.lucky_wheel_title+'&'
        }
        if(this.luckywheel.lucky_wheel_type!=null){
            query+= 'lucky_wheel_type='+this.luckywheel.lucky_wheel_type+'&'
        }
        if(this.luckywheel.lucky_wheel_status!=null){
            query+= 'lucky_wheel_status='+this.luckywheel.lucky_wheel_status+'&'
        }
        if(query.includes('partner_id'))
        {
            this.$emit('searchLuckyWheelpartner',this.luckywheel.partner_id)
        }
        if(!query.includes('partner_id')){
            this.$emit('searchLuckyWheelpartner','')
        }
        //更新資料進入外層的最新消息
        this.$emit('searchLuckyWheel',query.slice(0, -1))
      }
  },
}
</script>