<template>
    <div>
    <el-form :inline="true" :model="member" class="demo-form-inline">
    <el-row>
        <el-form-item label="合作夥伴">
            <el-select
                v-model="member.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                clearable
                disabled
                placeholder="選擇合作夥伴"
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="會員姓名">
            <el-input v-model="member.reserve_system_member_username" name="reserve_system_member_username" 
            placeholder="會員姓名" clearable></el-input>
        </el-form-item>
        <el-form-item label="會員身分證字號">
            <el-input v-model="member.reserve_system_member_identity" name="reserve_system_member_identity" 
            placeholder="會員身分證字號" clearable></el-input>
        </el-form-item>
        <el-form-item label="會員行動電話">
            <el-input v-model="member.reserve_system_member_telephone" name="reserve_system_member_telephone" 
            placeholder="會員行動電話" clearable></el-input>
        </el-form-item>
        <el-form-item label="會員信箱">
            <el-input v-model="member.reserve_system_member_email" name="reserve_system_member_email" 
            placeholder="會員信箱" clearable></el-input>
        </el-form-item>
        <el-form-item label="會員註冊來源">
            <el-select v-model="member.reserve_system_member_source" name="reserve_system_member_source" 
             placeholder="會員註冊來源" clearable>
                <el-option label="管理端" :value="0"></el-option>
                <el-option label="顧客端" :value="1"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="會員標籤">
            <el-select
                ref="reserve_system_member_tag"
                v-model="member.reserve_system_member_tag"
                multiple
                collapse-tags
                name="reserve_system_member_tag"
                width="250px;"
                placeholder="選擇會員標籤"
                clearable
                >
                <el-option
                    v-for="item in appoint_membertag_List.list"
                    :key="item.reserve_system_member_tag_id"
                    :label="item.reserve_system_member_tag_name"
                    :value="item.reserve_system_member_tag_name"
                    >
                </el-option>
            </el-select>
        </el-form-item>
        <!-- {{hotnews.hotnews_status}} -->
        <el-form-item>
            <el-button type="primary" @click="searchmember" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { getAppointMemberTagList } from '@/api/reservationsystemappointmembertag'
const defaultMember = {
  	partner_id:'',reserve_system_member_username:'',
    reserve_system_member_identity:'',reserve_system_member_telephone:'',
    reserve_system_member_email:'',reserve_system_member_source:null,
    reserve_system_member_tag:''
}

export default {
  name: 'SearchMemberTag',
  data() {
    return {
      member: Object.assign({}, defaultMember),
      //得知會員標籤
      appoint_membertag_List:[],
    }
  },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
    watch: {
      partner:{
        handler: async function(val, oldVal) {
          console.log("val: ",val)
        this.member.partner_id = this.partner
        this.get_member_tag_list()
      },
      immediate: true
      },
  },
  methods: {
        //得知會員標籤
        get_member_tag_list(){
        this.appoint_membertag_List = []
        var payload ='all?partner_id='+this.member.partner_id
        getAppointMemberTagList(payload).then(resp => {
            this.appoint_membertag_List = resp.data
        })
        },
      searchmember(){
        var query = ''
        if(this.member.partner_id!=''){
            query+= 'partner_id='+this.member.partner_id+'&'
        }
        if(this.member.reserve_system_member_username!=''){
            query+= 'reserve_system_member_username='+this.member.reserve_system_member_username+'&'
        }
        if(this.member.reserve_system_member_identity!=''){
            query+= 'reserve_system_member_identity='+this.member.reserve_system_member_identity+'&'
        }
        if(this.member.reserve_system_member_telephone!=''){
            query+= 'reserve_system_member_telephone='+this.member.reserve_system_member_telephone+'&'
        }
        if(this.member.reserve_system_member_email!=''){
            query+= 'reserve_system_member_email='+this.member.reserve_system_member_email+'&'
        }
        if(this.member.reserve_system_member_source!=null){
            query+= 'reserve_system_member_source='+this.member.reserve_system_member_source+'&'
        }
        if(this.member.reserve_system_member_tag!=''){
            query+= 'reserve_system_member_tag='+this.member.reserve_system_member_tag+'&'
        }
        //更新資料進入外層的最新消息
        this.$emit('SearchReserveMember',query.slice(0, -1))
      }
  },
}
</script>