<template>
    <div>
    <el-form :inline="true" :model="membertag" class="demo-form-inline">
    <el-row>
        <el-form-item label="合作夥伴">
            <el-select
                v-model="membertag.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                @keydown.enter.native="searchmembertag"
                clearable
                placeholder="選擇合作夥伴"
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="會員帳號">
            <el-input v-model="membertag.account" name="account" 
            placeholder="會員帳號" @keyup.enter.native="searchmembertag" clearable></el-input>
        </el-form-item>
        <el-form-item label="會員姓名">
            <el-input v-model="membertag.name" name="name" 
            placeholder="會員姓名" @keyup.enter.native="searchmembertag" clearable></el-input>
        </el-form-item>
        <el-form-item label="會員地址">
            <el-input v-model="membertag.address" address="name" 
            placeholder="會員地址" @keyup.enter.native="searchmembertag" clearable></el-input>
        </el-form-item>
        <el-form-item label="會員驗證狀態">
            <el-select v-model="membertag.status" name="status" 
             placeholder="會員驗證狀態" @keyup.enter.native="searchmembertag" clearable>
                <el-option label="未驗證" value="0"></el-option>
                <el-option label="已驗證" value="1"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="會員註冊來源">
            <el-select v-model="membertag.source" name="source" 
             placeholder="會員註冊來源" @keyup.enter.native="searchmembertag" clearable>
                <el-option label="使用端" value="0"></el-option>
                <el-option label="後台" value="1"></el-option>
                <el-option label="line" value="2"></el-option>
            </el-select>
        </el-form-item>
        <!-- {{hotnews.hotnews_status}} -->
        <el-form-item>
            <el-button type="primary" @click="searchmembertag" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultMemberTag = {
  partner_id: '',account:'',name:'',address:'',source:'0',status:'0'
}

export default {
  name: 'SearchMemberTag',
  data() {
    return {
      membertag: Object.assign({}, defaultMemberTag)
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  methods: {
      searchmembertag(){
        var query = ''
        if(this.membertag.partner_id!=''){
            query+= 'partner_id='+this.membertag.partner_id+'&'
        }
        if(this.membertag.account!=''){
            query+= 'account='+this.membertag.account+'&'
        }
        if(this.membertag.name!=''){
            query+= 'name='+this.membertag.name+'&'
        }
        if(this.membertag.status!=null){
            query+= 'status='+this.membertag.status+'&'
        }
        if(this.membertag.source!=null){
            query+= 'source='+this.membertag.source+'&'
        }
        if(this.membertag.address!=null){
            query+= 'address='+this.membertag.address+'&'
        }
        if(query.includes('partner_id'))
        {
            this.$emit('searchMemberTagpartner',this.membertag.partner_id)
        }
        if(!query.includes('partner_id')){
            this.$emit('searchMemberTagpartner','')
        }
        //更新資料進入外層的最新消息
        this.$emit('searchMemberTag',query.slice(0, -1))
      }
  },
}
</script>