<template>
  <div class="tab-container">
    <!-- <search-Todolist v-on:searchTodolist="searchTodolist" v-on:searchTodolistpartner="switchPartner" /> -->
    <!-- <el-button type="primary" icon="el-icon-edit" @click="handleAddFatherlist">新人員設定（個人、群組）</el-button> -->
    <!-- v-on:getTodolist="getTodolistemit" -->
    <el-tabs v-model="activeName" style="margin-top:15px; width:100%;" type="border-card">
      <el-tab-pane v-for="item in tabTodolistOptions" :key="item.key" :label="item.label" :name="item.key">
        <keep-alive>
          <todolist-Pane v-if="activeName==item.key" :type="item.key"
           />
        </keep-alive>
      </el-tab-pane>
    </el-tabs>
    <!-- {{dialogVisible}} -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { deepClone } from '@/utils'
import TodolistPane from './component/TodolistPane.vue'
export default {
  components: { TodolistPane },
  data() {
    return {
      tabTodolistOptions: [
        { label: '所有管理人員對話', key: 'all_chat_admin' },
        { label: '所有消費者對話', key: 'all_chat_cuatome' }
      ],
      activeName: 'all_chat_admin',
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  watch: {
    activeName(val) {
      this.$router.push(`${this.$route.path}?tab=${val}`)
    }
  },
  created() {
    // init the default selected tab
    // 顯示合作夥伴
    this.getPartner('all')
    const tab = this.$route.query.tab
    if (tab) {
      this.activeName = tab
    }
  },
  methods: {
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner',payload)
    }
  }
}
</script>

<style scoped>
  .tab-container {
    margin: 30px;
  }
</style>
