<template>
  <div class="app-container">
    <search-Order @searchOrder="SearchAllOrder" v-on:searchOrderpartner="switchPartner" v-if='this.check_admin_premission.includes("search_btn")' />
    <el-button type="primary" icon="el-icon-s-order" @click="handleAddOrder" v-if='this.check_admin_premission.includes("insert_btn")'>管理端手動下單</el-button>
    <!-- {{partner}} -->
    <!-- {{partnerlist.list}} -->
    <!-- {{dialogType}} -->
    <el-select v-model="partner" placeholder="請選擇合作夥伴" @change="chosenPartner" 
    filterable default-first-option clearable style="margin:auto 10px;">
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id">
      </el-option>
    </el-select>
    <add-Order
      :dialog-type="dialogType"
      :dialog-visible="dialogVisible"
      :order="order"
      @getAllOrder="getAllOrder"
      @getOrderstatus="getOrderstatus"
      @getOrderdialogtype="getOrderdialogtype"
    />
    <!-- {{partnerlist}}
    {{partnerlist.nowpage}} -->
    <!-- {{ShopstoreList}} -->
    <!-- {{OrderList.list}} -->
    <!-- {{orderlist}} -->
    <el-table v-loading="OrderListLoading" :data="orderlist.list" style="width: 100%;margin-top:20px;" border fit>
    <el-table-column type="expand">
      <template slot-scope="scope">
        <el-form label-position="left" class="demo-table-expand">
            <el-divider>商品詳細資料</el-divider>
            <div v-for="(order_detail,index) in scope.row.order_detail">
                <el-form-item label="商品名稱">
                    <span style="font-size:20px;">{{ order_detail.shop_name }}</span>
                </el-form-item>
                <el-form-item label="訂購數量">
                    <span style="font-size:30px;">{{ order_detail.order_list_amount }}</span>
                </el-form-item>
                <el-form-item label="商品定價">
                    <span v-if="order_detail.shop_sale_price==0" style="font-size:30px;">{{ order_detail.shop_price }}</span>
                    <s v-if="order_detail.shop_sale_price!=0"><span style="font-size:30px;">{{ order_detail.shop_price }}</span></s>
                    <span style="font-size:30px; color:red;" v-if="order_detail.shop_sale_price!=0">{{ order_detail.shop_sale_price }}</span>
                </el-form-item>
            </div> 
        </el-form>
        <el-form class="demo-table-expand">
            <el-divider>訂單總計金額</el-divider>
            <el-form-item label="總計金額（未含運費)">
                <span style="font-size:25px;">{{ scope.row.total }}</span>
            </el-form-item>
            <el-form-item label="運費">
                <span style="font-size:25px;">{{ scope.row.shipping_fee }}</span>
            </el-form-item>
            <el-form-item label="總計金額（含運費）">
                <span style="font-size:30px; color:red;">{{scope.row.total + scope.row.shipping_fee }}</span>
            </el-form-item>
        </el-form>
        <el-form label-position="left" class="demo-table-expand">
            <el-divider>訂購人資訊</el-divider>
                <el-form-item label="訂購人姓名">
                    <span style="font-size:30px;">{{ scope.row.member_name }}</span>
                </el-form-item>
                <el-form-item label="訂購人電話">
                    <span style="font-size:20px;">{{ scope.row.member_phone }}</span>
                </el-form-item>
                <el-form-item label="訂購人信箱">
                    <span style="font-size:20px;">{{ scope.row.member_email}}</span>
                </el-form-item>
                <el-form-item label="訂購人地址">
                    <span style="font-size:20px;">{{ scope.row.order_tax}}</span>
                </el-form-item>
        </el-form>
        <el-form label-position="left" class="demo-table-expand">
            <el-divider>訂單資訊</el-divider>
                <el-form-item label="訂單編號">
                    <span style="font-size:20px;">{{ scope.row.order_id}}</span>
                </el-form-item>
                <el-form-item label="付款方式">
                    <span style="font-size:20px;">{{ scope.row.pay_type | pay_type }}</span>
                </el-form-item>
                <el-form-item label="寄送方式">
                    <span style="font-size:20px;">{{ scope.row.shipping_type | shipping_type }}</span>
                </el-form-item>
                <el-form-item label="是否付款">
                    <span style="font-size:20px;">{{ scope.row.is_pay | is_pay }}</span>
                </el-form-item>
        </el-form>
      </template>
    </el-table-column>
      <el-table-column align="center" width="140" label="合作夥伴名稱">
        <template slot-scope="scope">
          {{ scope.row.partner_name }}
        </template>
      </el-table-column>
      <el-table-column align="center" width="160" label="訂單編號">
        <template slot-scope="scope">
          {{ scope.row.order_id}}<br/>
          <el-tag :type="scope.row.order_status==1 ? 'primary':'danger' " plain>
            {{ scope.row.order_status | order_status }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="160" label="訂購人資訊">
        <template slot-scope="scope">
          {{ scope.row.member_name }}<br/>
          {{ scope.row.member_phone }}<br/>
          {{ scope.row.order_tax }}
        </template>
      </el-table-column>
      <el-table-column align="center" width="120" label="訂購金額含運費">
        <template slot-scope="scope">
          {{scope.row.total + scope.row.shipping_fee }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="寄送方式">
        <template slot-scope="scope">
          {{ scope.row.shipping_type | shipping_type }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="付款方式">
        <template slot-scope="scope">
          {{ scope.row.pay_type | pay_type }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="是否付款">
        <template slot-scope="scope">
          <el-tag :type="scope.row.is_pay==0 ? 'danger':'primary' " plain>
            {{ scope.row.is_pay | is_pay }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="200" label="訂購建立時間">
        <template slot-scope="scope">
          {{ scope.row.createtime }}
        </template>
      </el-table-column>
      <el-table-column align="center" width="200" label="訂購修改時間">
        <template slot-scope="scope">
          {{ scope.row.updatetime }}
        </template>
      </el-table-column>
      <el-table-column fixed="right" align="center" width="100" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditOrder(scope)">編輯</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="orderlist.count"
      :page.sync="orderlist.nowpages"
      :limit.sync="orderlist.limit"
      @pagination="getOrderPagination(orderlist.nowpages,search_order)"
    />

    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import path from 'path'
import { deepClone } from '@/utils'
// import { getOrder } from '@/api/shop_manager'
import AddOrder from './component/AddOrder.vue'
import { getAdminPremission } from '@/api/premission_manager'
import SearchOrder from './component/SearchOrder.vue'
// 定義訂單管理
const defaultOrder = {
  partner_id: '',order_mid: null,
  order_tax:'',
  shipping_type: 0,pay_type: 0,
  is_pay:0,order_status:1,
  order_detail:[]
}

export default {
  name: 'OrderManager',
  components: { Pagination,AddOrder,SearchOrder },
//   AddOrder
  data() {
    return {
      order: Object.assign({}, defaultOrder),
      dialogVisible: false,
      dialogType: 'new',
      partner:'',
      OrderList:[],
      OrderListLoading: true,
      search_order: '',
      check_admin_premission:[]
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
      'orderlist'
    ]),
  },
  filters:{
    //寄送方式
    shipping_type(status){
      const shipping_type = {
        0:'自取',
        1:'貨運',
        2:'超商'
      }
      return shipping_type[status]
    },
    //寄送方式
    pay_type(status){
      const pay_type = {
        0:'現金',
        1:'信用卡',
        2:'linepay'
      }
      return pay_type[status]
    },
    //是否付款
    is_pay(status){
      const is_pay = {
        0:'未付款',
        1:'已付款',
      }
      return is_pay[status]
    },
    //訂單狀態
    order_status(status){
      const order_status = {
        0:'刪除',
        1:'正常',
        2:'修改',
        3:'暫停',
      }
      return order_status[status]
    },
  },
  created() {
    // 得知所有的合作夥伴
    this.getPartner('all')
    this.getAllOrder(1)
    // 得知使用者實際擁有權限
    this.getAdminPremission("訂單管理")
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner',payload)
    },
    //切換所有合作夥伴的商品管理
    chosenPartner(){
      var query = ''
      if(this.partner!=''){
            query+= '1?partner_id='+this.partner
            defaultOrder['partner_id'] = this.partner
            this.search_order = query
      }
      else{
        this.search_order = 1
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllOrder(query)
    },
    // 顯示所有訂單管理
    async getAllOrder(page) {
      this.orderlistLoading = true
      await this.$store.dispatch('shop/getOrder',page)
      this.OrderListLoading = false
      // getOrder(page).then(resp => {
      //   this.OrderList = resp.data
      //   this.OrderListLoading = false
      // })
    },
    // 關閉訂單dialog狀態
    getOrderstatus(status) {
      this.dialogVisible = status
    },
    getOrderdialogtype(dialogtype){
      this.dialogType = dialogtype
    },
    // 手動下單按鈕
    handleAddOrder() {
      defaultOrder['order_detail'] = []
      this.order = Object.assign({}, defaultOrder)
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    // 修改
    handleEditOrder(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      this.order = deepClone(scope.row)
      console.log('this.order', this.order)
    },
    // 搜尋所有合作夥伴模組
    SearchAllOrder(query) {
      this.search_order = '1?'+query

    //   console.log('query', query)
      this.getAllOrder(this.search_order)
    },
    // 點擊分頁顯示訂單模組
    async getOrderPagination(page, search_order) {
      var payload = ''
      var _self = this
      if (_self.search_order == '') {
        payload = page
      }
      if (_self.search_order != '') {
        payload += page + '?' + search_order
      }
      this.getAllOrder(payload)
    },
    switchPartner(partner_id){
      //搜尋有帶出合作夥伴
      if(partner_id!=''){
        defaultOrder['partner_id'] = partner_id
        this.partner = partner_id
      }
      //搜尋沒有帶出合作夥伴
      if(partner_id==''){
        defaultOrder['partner_id'] = ''
        this.partner = ''
      }
    }
  },
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
