<template>
  <div class="app-container">
     <search-Shop v-on:searchShop="SearchAllShop" v-on:searchShoppartner="switchPartner" v-if='this.check_admin_premission.includes("search_btn")' />
    <el-button type="primary" icon="el-icon-edit" @click="handleAddShop" v-if='this.check_admin_premission.includes("insert_btn")'>新商品管理</el-button>
    <!-- {{partner}} -->
    <el-select v-model="partner" placeholder="請選擇合作夥伴" @change="chosenPartner" 
    filterable default-first-option clearable style="margin:auto 10px;">
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id">
      </el-option>
    </el-select>
    <!-- {{partnerlist}} -->
  <!-- {{PartnerList}} -->
  <!-- {{partner}}
  {{QuestionList}} -->
  <!-- {{QuestionList}}
  {{dialogVisible}} -->
  <!-- {{shop}} -->
    <add-shop :dialogType="dialogType" :dialogVisible="dialogVisible" :shop="shop" 
    v-on:getShop="getShopemit" v-on:getShopstatus="getShopstatus"
    />
    <el-table v-loading="shoplistLoading" :data="ShopList.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
      <el-table-column align="center" fixed width="150" label="合作夥伴/商品狀態">
        <template slot-scope="scope">
          <el-tag size="medium" type="primary" plain>
            {{ scope.row.partner_name }}
          </el-tag>
          <br/>
          <el-tag style="margin:10px 0;" v-if="scope.row.shop_status==2">{{ scope.row.shop_status | shop_status }}</el-tag>
          <el-tag style="margin:10px 0;" v-if="scope.row.shop_status==0 || scope.row.shop_status==1" type="danger">{{ scope.row.shop_status | shop_status }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="160" label="商品代號/期限">
        <template slot-scope="scope">
          <div v-if="scope.row.shop_date_line==null">
            <el-tag size="medium" type="primary" plain style="margin:5px 0;">
              {{ scope.row.shop_id }} (無期限)
            </el-tag>
          </div>
          <div v-else>
            <el-tag size="medium" type="danger" plain style="margin:5px 0;">
              {{ scope.row.shop_id }} ({{ scope.row.shop_date_line }})
            </el-tag>
          </div>
        </template>
      </el-table-column>
      <el-table-column align="center" width="250" label="商品名稱/出貨地/分類">
        <template slot-scope="scope">
          {{ scope.row.shop_name }}<br/>
          {{ scope.row.shop_place }}<br/>
          <el-tag size="medium" type="primary" plain style="margin:5px 0;">
            {{ scope.row.shop_big_category }} {{ scope.row.shop_small_category }}
          </el-tag>
        </template>
      </el-table-column>
      <!-- <el-table-column align="center" label="最新消息圖片">
        <template slot-scope="scope">
           <el-image :src="scope.row.hotnews_photo" >
            <div slot="error" class="image-slot">
              <i class="el-icon-picture-outline"></i>
            </div>
           </el-image>
        </template>
      </el-table-column> -->
      <el-table-column align="center" width="160" label="商品原價/商品特價">
        <template slot-scope="scope">
          <div v-if="scope.row.shop_sale_price==0">
          {{ scope.row.shop_price }} (無設定)
          </div>
          <div v-else>
          {{ scope.row.shop_price }} ({{ scope.row.shop_sale_price }})
          </div>
        </template>
      </el-table-column>
      <el-table-column align="center" width="150" label="商品庫存/安全庫存">
        <template slot-scope="scope">
          <div v-if="scope.row.safe_stack==0">
          {{ scope.row.shop_stack }} (無設定)
          </div>
          <div v-else>
          {{ scope.row.shop_stack }} ({{ scope.row.safe_stack }})
          </div>
        </template>
      </el-table-column>
      <el-table-column align="center" width="170" label="商品品牌">
        <template slot-scope="scope">
          {{ scope.row.shop_brand }}
        </template>
      </el-table-column>
      <el-table-column align="center" width="150" label="商品規格開關">
        <template slot-scope="scope">
          <el-tag size="medium" type="" effect="plain" style="margin:5px 0;">
          {{ scope.row.shop_stand_switch | shop_switch }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="150" label="商品多件優惠開關">
        <template slot-scope="scope">
          <el-tag size="medium" type="" effect="plain" style="margin:5px 0;">
          {{ scope.row.shop_sale_switch | shop_switch }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="150" label="商品促銷開關">
        <template slot-scope="scope">
          <el-tag size="medium" type="" effect="plain" style="margin:5px 0;">
          {{ scope.row.shop_on_sale_switch | shop_switch }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="150" label="商品活動折扣開關">
        <template slot-scope="scope">
          <el-tag size="medium" type="" effect="plain" style="margin:5px 0;">
          {{ scope.row.shop_discount_switch | shop_switch }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="150" label="商品運費開關">
        <template slot-scope="scope">
          <el-tag size="medium" type="" effect="plain" style="margin:5px 0;">
          {{ scope.row.shop_rate_switch | shop_switch }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="160" label="商品備貨天數">
        <template slot-scope="scope">
          {{ scope.row.shop_common_stack | shop_common_stack }}
        </template>
      </el-table-column>
      <el-table-column align="center" width="200" label="商品備註">
        <template slot-scope="scope">
          {{ scope.row.shop_note }}
        </template>
      </el-table-column>
      <el-table-column align="center" width="160" label="商品關鍵字">
        <template slot-scope="scope">
        <el-tag
            v-for="(shop_keyword_list,index) in scope.row.shop_keyword_array"
            :key="index"
            type=""
            style="margin:5px auto;"
            effect="plain"
            >
            {{shop_keyword_list}} <br/>
        </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="商品屬性">
        <template slot-scope="scope">
        <el-tag
            v-for="(shop_tag_list,index) in scope.row.shop_tag_array"
            :key="index"
            type=""
            style="margin:5px auto;"
            effect="plain"
            >
            {{shop_tag_list}} <br/>
        </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="350" label="商品圖片">
        <template slot-scope="scope">
           <el-image :src="upload_path+scope.row.shop_photo">
            <div slot="error" class="image-slot">
              <i class="el-icon-picture-outline"></i>
            </div>
           </el-image>
        </template>
      </el-table-column>
      <el-table-column align="center" width="100"  label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditShop(scope)">編輯</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="ShopList.count"
      :page.sync="ShopList.nowpages"
      :limit.sync="ShopList.limit"
      @pagination="getAllShop(ShopList.nowpages,search_shop)"
    />

    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Pagination from '@/components/Pagination'
import path from 'path'
import { deepClone } from '@/utils'
import { getShop } from '@/api/shop_manager'
import AddShop from './component/AddShop.vue'
import SearchShop from './component/SearchShop.vue'
import { getAdminPremission } from '@/api/premission_manager'
import SearchQuestion from '../tests/component/SearchQuestion.vue'

const defaultShop = {
  shop_name: '',shop_info: '',
  shop_price: null,shop_sale_price: 0,
  shop_date_line: '',shop_stack: 1,
  shop_note: '' ,shop_category_id: 1,
  shop_keyword_array:[],shop_tag_array:['推薦'],
  safe_stack: 0,partner_id:'',
  shop_stand_switch:0,shop_sale_switch:0,
  shop_limit:null,shop_place:'',
  shop_brand:'',shop_on_sale_switch:0,
  shop_discount_switch:0,shop_status:0,
  shop_common_stack:0,shop_rate_switch:0,
  partner_id:'',shop_photo:null
}

export default {
  name: 'shop_manager',
  components: { Pagination,AddShop,SearchShop, SearchQuestion },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'new',
      partner:'',
      ShopList:[],
      shoplistLoading:false,
      shop: Object.assign({}, defaultShop),
      search_shop:'',
      // 圖片網址位置
      upload_path: '',
      check_admin_premission:[]
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  filters:{
    // 商品狀態
    shop_status(status){
      const shop_status = {
        0:'準備',
        1:'下架',
        2:'上架'
      }
      return shop_status[status]
    },
    // 商品規格開關 商品多件優惠開關 商品促銷開關 商品折扣開關 商品運費開關 
    shop_switch(status){
      const shop_switch = {
        0:'關閉',
        1:'開啟'
      }
      return shop_switch[status]
    },
    // 商品備貨天數
    shop_common_stack(status){
      const shop_common_stack = {
        0: '3天以內',
        1: '3~5天',
        2: '5~10天',
        3:'10天以上'
      }
      return shop_common_stack[status]
    }
  },
  created() {
    // 顯示合作夥伴
    this.getPartner('all')
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
    // 得知使用者實際擁有權限
    this.getAdminPremission("商品管理")
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner',payload)
    },
    // 顯示所有合作夥伴的商品
    async getAllShop(page,shop) {
      var payload = ''
      if (this.search_shop == '') {
        payload = page
      }
      if (this.search_shop != '') {
        payload += page + '?' + shop
      }
      this.shoplistLoading = true
      getShop(payload).then(resp => {
        this.ShopList = resp.data
        this.shoplistLoading = false
      })
    },
    //切換所有合作夥伴的商品管理
    chosenPartner(){
      var query = ''
      if(this.partner!=''){
            query+= 'partner_id='+this.partner
            defaultShop['partner_id'] = this.partner
            this.search_shop = query
      }
      else{
        this.search_shop = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllShop(1,query)
    },
    //帶出所有已新增合作夥伴的商品管理
    getShopemit(partner_id){
      var query = ''
      // console.log("partner_id",partner_id)
      if(partner_id!=''){
            query+= 'partner_id='+partner_id
            defaultShop['partner_id'] = partner_id
            this.partner = partner_id
            // console.log("this.partner",partner_id)
            this.search_shop = query
      }else{
        this.search_shop = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllShop(1,query)
    },
    //新增商品管理按鈕
    handleAddShop() {
      this.shop = Object.assign({}, defaultShop)
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    //修改商品管理按鈕
    handleEditShop(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      console.log("scope.row",scope.row)
      this.shop = deepClone(scope.row)
    },
    //關閉商品管理dialog狀態
    getShopstatus(status){
      this.dialogVisible = status
    },
    // 搜尋所有合作夥伴模組
    SearchAllShop(query) {
      this.search_shop = query

    //   console.log('query', query)
      this.getAllShop(1,this.search_shop)
    },
    // 點擊分頁顯示商品模組
    // async getShopPagination(page, search_shop) {
    //   var payload = ''
    //   var _self = this
    //   if (_self.search_shop == '') {
    //     payload = page
    //   }
    //   if (_self.search_shop != '') {
    //     payload += page + '?' + search_shop
    //   }
    //   this.getAllShop(page,payload)
    // },
    //搜尋切換合作夥伴
    switchPartner(partner_id){
      //搜尋有帶出合作夥伴
      if(partner_id!=''){
        defaultShop['partner_id'] = partner_id
        this.partner = partner_id
      }
      //搜尋沒有帶出合作夥伴
      if(partner_id==''){
        defaultShop['partner_id'] = ''
        this.partner = ''
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
