<template>
  <div class="app-container">
    <search-Shopstore @searchShopstore="SearchAllShopstore" v-on:searchShopstorepartner="switchPartner" v-if='this.check_admin_premission.includes("search_btn")' />
    <el-button type="primary" icon="el-icon-edit" @click="handleAddShopstore" v-if='this.check_admin_premission.includes("insert_btn")'>新商家</el-button>
    <!-- {{partner}} -->
    <!-- {{partnerlist.list}} -->
    <!-- {{dialogType}} -->
    <el-select v-model="partner" placeholder="請選擇合作夥伴" @change="chosenPartner" 
    filterable default-first-option clearable style="margin:auto 10px;">
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id">
      </el-option>
    </el-select>
    <add-Shopstore
      :dialog-type="dialogType"
      :dialog-visible="dialogVisible"
      :shopstore="shopstore"
      @getAllShopstore="getAllShopstore"
      @getShopstorestatus="getShopstorestatus"
    />
    <!-- {{partnerlist}}
    {{partnerlist.nowpage}} -->
    <!-- {{ShopstoreList}} -->
    <el-table v-loading="ShopstoreListLoading" :data="ShopstoreList.list" style="width: 100%;margin-top:20px;" border fit>
      <el-table-column align="center" label="合作夥伴名稱">
        <template slot-scope="scope">
          {{ scope.row.partner_name }}
        </template>
      </el-table-column>
      <el-table-column align="center" width="120" label="商家名稱">
        <template slot-scope="scope">
          {{ scope.row.shopstore_qrcode_shopname }}<br/>
          <qr-code :text="scope.row.shopstore_qrcode_shopname" size="100"></qr-code>
        </template>
      </el-table-column>
      <el-table-column align="center" width="120" label="商家地址">
        <template slot-scope="scope">
          {{ scope.row.shopstore_qrcode_shoptax }}
        </template>
      </el-table-column>
      <el-table-column align="center" width="120" label="商家狀態">
        <template slot-scope="scope">
          <el-tag size="medium" :type="scope.row.shopstore_qrcode_shopstatus==0?'danger':'primary'" plain>
            {{ scope.row.shopstore_qrcode_shopstatus | shopstore_qrcode_shopstatus }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column fixed="right" align="center" width="100" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditShopstore(scope)">編輯</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="ShopstoreList.count"
      :page.sync="ShopstoreList.nowpages"
      :limit.sync="ShopstoreList.limit"
      @pagination="getShopstorePagination(ShopstoreList.nowpages,search_shopstore)"
    />

    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import path from 'path'
import { deepClone } from '@/utils'
import { getShopstore } from '@/api/shop_manager'
import AddShopstore from './component/AddShopstore.vue'
import { getAdminPremission } from '@/api/premission_manager'
import SearchShopstore from './component/SearchShopstore.vue'
// 定義商家名稱
const defaultShopStore = {
  partner_id: '',shopstore_qrcode_shopname: '',
  shopstore_qrcode_shoptax: '',shopstore_qrcode_shopstatus:'1',
}

export default {
  name: 'ShopstoreManager',
  components: { Pagination, AddShopstore, SearchShopstore },
  data() {
    return {
      shopstore: Object.assign({}, defaultShopStore),
      dialogVisible: false,
      dialogType: 'new',
      partner:'',
      ShopstoreList:[],
      ShopstoreListLoading: true,
      search_shopstore: '',
      check_admin_premission:[]
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  filters: {
    // 商家狀態
    shopstore_qrcode_shopstatus(status) {
      const shopstore_qrcode_shopstatus = {
        0: '關閉',
        1: '開啟'
      }
      return shopstore_qrcode_shopstatus[status]
    },
  },
  created() {
    // 得知所有的合作夥伴
    this.getPartner('all')
    this.getAllShopstore(1)
    // 得知使用者實際擁有權限
    this.getAdminPremission("商店管理")
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner',payload)
    },
    //切換所有合作夥伴的商品管理
    chosenPartner(){
      var query = ''
      if(this.partner!=''){
            query+= '1?partner_id='+this.partner
            defaultShopStore['partner_id'] = this.partner
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllShopstore(query)
    },
    // 顯示所有商家
    async getAllShopstore(page) {
      this.shoplistLoading = true
      getShopstore(page).then(resp => {
        this.ShopstoreList = resp.data
        this.ShopstoreListLoading = false
      })
    },
    // 關閉商家資訊dialog狀態
    getShopstorestatus(status) {
      this.dialogVisible = status
    },
    // 新增合作夥伴按鈕
    handleAddShopstore() {
      this.shopstore = Object.assign({}, defaultShopStore)
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    // 修改
    handleEditShopstore(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      this.shopstore = deepClone(scope.row)
      console.log('this.shopstore', this.shopstore)
    },
    // 搜尋所有合作夥伴模組
    SearchAllShopstore(query) {
      this.search_shopstore = '1?'+query

    //   console.log('query', query)
      this.getAllShopstore(this.search_shopstore)
    },
    // 點擊分頁顯示商店模組
    async getShopstorePagination(page, search_shopstore) {
      var payload = ''
      var _self = this
      if (_self.search_shopstore == '') {
        payload = page
      }
      if (_self.search_shopstore != '') {
        payload += page + '?' + search_shopstore
      }
      this.getAllShopstore(payload)
    },
    switchPartner(partner_id){
      //搜尋有帶出合作夥伴
      if(partner_id!=''){
        defaultShopStore['partner_id'] = partner_id
        this.partner = partner_id
      }
      //搜尋沒有帶出合作夥伴
      if(partner_id==''){
        defaultShopStore['partner_id'] = ''
        this.partner = ''
      }
    }
  },
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
