<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新廣告預約':'新增廣告預約'"
    :before-close="closeAddPromotionReserve" center fullscreen
    append-to-body
    >
    <!-- {{promotionreserve}}
    {{show_select_promotion_template_List}} -->
    <!-- {{promotion_template_List.list}} -->
    <!-- {{temp_promotion_template_List}} -->
    <!-- {{step}} -->
    <!-- {{show_select_promotion_template_List[0]['reserve_system_promotion_ads_template_title']}} -->
    <!-- {{promotionreserve.reserve_system_promotion_ads_reserve_start_at}} -->
    <!-- {{promotionreserve.reserve_system_promotion_ads_reserve_member_email}} -->
    <el-steps :active="step">
        <el-step title="步驟一" description="選擇廣告模板"></el-step>
        <el-step title="步驟二" description="選擇推播人員"></el-step>
        <el-step title="步驟三" description="設定推播內容"></el-step>
    </el-steps>
      <el-form :rules="PromotionReserveRules" status-icon ref="promotionreserve" :model="promotionreserve" label-position="right">
          <!-- {{team}}
          {{upload_path+origin_image}} -->
        <el-row :gutter="20" v-loading="promotionreserve_loading">
            <!-- 當為第一步驟且選擇廣告模板(error_message) start -->
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-show="step==1&&show_select_promotion_template_List.length==0">
                <el-alert
                title="請設定廣告模板，在進入此頁面進行選擇"
                type="error"
                :closable="false"
                show-icon
                >
                </el-alert>
            </el-col>
            <!-- 當為第一步驟且選擇廣告模板(error_message) end -->
            <!-- 當為第一步驟且選擇廣告模板 start -->
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-show="step==1&&show_select_promotion_template_List.length==1">
              <el-form-item label="選擇廣告模板" prop="reserve_system_promotion_ads_template_id">
                <br/>
                <el-select
                    v-model="promotionreserve.reserve_system_promotion_ads_template_id"
                    name="reserve_system_promotion_ads_template_id"
                    filterable
                    allow-create
                    default-first-option
                    placeholder="選擇廣告模板"
                    ref="reserve_system_promotion_ads_template_id"
                    style="width:250px"
                    @change="change_promotion_ads"
                    >
                    <el-option
                    v-for="item in promotion_template_List.list"
                    :key="item.reserve_system_promotion_ads_template_id"
                    :label="item.reserve_system_promotion_ads_template_title"
                    :value="item.reserve_system_promotion_ads_template_id">
                    </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <!-- 當為第一步驟且選擇廣告模板 end -->
            <!-- 當為第一步驟且顯示下拉選單廣告版型 start -->
            <div v-show="step==1&&show_select_promotion_template_List.length==1">
                <el-col :xs="24" :sm="24" :lg="24" :xl="24"
                v-if="show_select_promotion_template_List.length==1"
                v-show="show_select_promotion_template_List[0]['reserve_system_promotion_ads_template_banner_photo']!=null">
                <el-form-item label="原始廣告預約版型橫幅圖片">
                    <br/>
                    <el-image :src="upload_path+show_select_promotion_template_List[0]['reserve_system_promotion_ads_template_banner_photo']"
                    style="width:500px;margin:auto;"
                    >
                        <div slot="error" class="image-slot">
                        <i class="el-icon-picture-outline"></i>
                        </div>
                    </el-image>
                </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :lg="12" :xl="12"
                v-if="show_select_promotion_template_List.length==1"
                >
                <el-form-item label="廣告預約版型標題">
                    <br/>
                    {{show_select_promotion_template_List[0]['reserve_system_promotion_ads_template_title']}}
                </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :lg="12" :xl="12"
                v-if="show_select_promotion_template_List.length==1"
                >
                <el-form-item label="廣告預約版型內文">
                    <br/>
                    {{show_select_promotion_template_List[0]['reserve_system_promotion_ads_template_content']}}
                </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :lg="24" :xl="24" 
                v-if="show_select_promotion_template_List.length==1"
                v-show="show_select_promotion_template_List[0]['reserve_system_promotion_ads_template_url']!=null">
                <el-form-item label="廣告預約版型超連結">
                    <br/>
                    <el-button type="primary"  @click="click_href(show_select_promotion_template_List[0]['reserve_system_promotion_ads_template_url'])" v-show="show_select_promotion_template_List[0]['reserve_system_promotion_ads_template_url']!=null">點擊連結</el-button>
                </el-form-item>
                </el-col>
            </div>
            <!-- 當為第一步驟且顯示下拉選單廣告版型 end-->
            <!-- 當為第二步驟且選擇推播標籤 start -->
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-show="step==2">
              <el-form-item label="選擇推播標籤" prop="reserve_system_promotion_ads_reserve_member_tag">
                <br/>
                <el-select
                    v-model="promotionreserve.reserve_system_promotion_ads_reserve_member_tag"
                    name="reserve_system_promotion_ads_reserve_member_tag"
                    filterable
                    allow-create
                    default-first-option
                    placeholder="選擇推播標籤"
                    ref="reserve_system_promotion_ads_reserve_member_tag"
                    style="width:250px"
                    @change="getAllMember"
                    >
                    <el-option
                    label="全部"
                    :value="null">
                    </el-option>
                    <el-option
                    v-for="item in member_tag_List.list"
                    :key="item.reserve_system_member_tag_id"
                    :label="item.reserve_system_member_tag_name"
                    :value="item.reserve_system_member_tag_name">
                    </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-show="step==2">
                <el-table 
                v-loading="ReservationSystemMemberLoading" 
                :data="member_List.list" 
                style="width: 100%;margin-top:30px;"
                @selection-change="handleSelectmember"
                :row-key="handleSelectRecovermember"
                ref="member"
                border 
                fit 
                highlight-current-row
                
                >
                    <el-table-column
                        type="selection"
                        reserve-selection
                        width="55">
                    </el-table-column>
                    <el-table-column align="center" label="會員姓名">
                        <template slot-scope="scope">
                        <el-tag style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_member_username }}</el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column align="center" label="會員信箱">
                        <template slot-scope="scope">
                        <el-tag style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_member_email }}</el-tag>
                        </template>
                    </el-table-column>
                    <el-table-column align="center" label="會員標籤">
                        <template slot-scope="scope">
                        <div v-show="scope.row.reserve_system_member_tag!=''">
                            <el-tag type="danger" style="margin:10px;font-size:15px;"  v-for="(item,index) in scope.row.reserve_system_member_tag.split(',')" :key="index">{{ item }}</el-tag><br/>
                        </div>
                        </template>
                    </el-table-column>
                </el-table>
            </el-col>
            <!-- 當為第二步驟且選擇推播標籤 end -->
            <!-- 當為第三步驟且選擇推播標籤 start -->
            <!-- {{promotionreserve}} -->
            <el-col 
            :xs="promotionreserve.reserve_system_promotion_ads_reserve_real_time_status==0?8:12" 
            :sm="promotionreserve.reserve_system_promotion_ads_reserve_real_time_status==0?8:12" 
            :lg="promotionreserve.reserve_system_promotion_ads_reserve_real_time_status==0?8:12" 
            :xl="promotionreserve.reserve_system_promotion_ads_reserve_real_time_status==0?8:12" 
            v-show="step==3">
                <el-form-item label="廣告預約狀態" prop="reserve_system_promotion_ads_reserve_real_time_status" >
                    <br/>
                    <el-radio-group v-model="promotionreserve.reserve_system_promotion_ads_reserve_real_time_status" name="reserve_system_promotion_ads_reserve_real_time_status">
                        <el-radio-button label=0 border>自定義</el-radio-button>
                        <el-radio-button label=1 border>即時</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col 
            :xs="8" 
            :sm="8" 
            :lg="8" 
            :xl="8"
            v-if="promotionreserve.reserve_system_promotion_ads_reserve_real_time_status==0"
            v-show="step==3">
                <el-form-item label="廣告推播日期時間" prop="reserve_system_promotion_ads_reserve_start_at" >
                    <br/>
                    <el-date-picker 
                    v-model="promotionreserve.reserve_system_promotion_ads_reserve_start_at" 
                    type="datetime" 
                    ref="reserve_system_promotion_ads_reserve_start_at" 
                    name="reserve_system_promotion_ads_reserve_start_at" 
                    placeholder="廣告推播日期時間"
                    value-format="yyyy-MM-dd HH:mm:00"
                    ></el-date-picker>
                </el-form-item>
            </el-col>
            <el-col 
            :xs="promotionreserve.reserve_system_promotion_ads_reserve_real_time_status==0?8:12" 
            :sm="promotionreserve.reserve_system_promotion_ads_reserve_real_time_status==0?8:12" 
            :lg="promotionreserve.reserve_system_promotion_ads_reserve_real_time_status==0?8:12" 
            :xl="promotionreserve.reserve_system_promotion_ads_reserve_real_time_status==0?8:12" 
            v-show="step==3">
                <el-form-item label="廣告推播狀態" prop="reserve_system_promotion_ads_reserve_status" >
                    <br/>
                    <el-radio-group v-model="promotionreserve.reserve_system_promotion_ads_reserve_status" name="reserve_system_promotion_ads_reserve_status">
                        <el-radio-button label=0 border>準備中</el-radio-button>
                        <el-radio-button label=1 border>取消</el-radio-button>
                        <el-radio-button label=2 border disabled>已推播</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <!-- 當為第三步驟且選擇推播標籤 end -->
        </el-row>
      </el-form>
      <div style="text-align:center; margin:10px 0;">
        <el-button type="primary" icon="el-icon-d-arrow-left" @click="next_last_step(0)" :disabled="step>1?false:true"></el-button>
        <el-button type="primary" icon="el-icon-d-arrow-right" @click="next_last_step(1)" :disabled="step<3?false:true"></el-button>
      </div>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddPromotionReserve">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmPromotionReserve('promotionreserve')" :disabled="step==3?false:true">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
import { getPromotionTemplate,postPromotionReserve } from '@/api/reservationsystempromotion'
import { getAppointMemberList } from '@/api/reservationsystemappointmember'
import { getAppointMemberTagList } from '@/api/reservationsystemappointmembertag'
import { _ } from 'core-js'
export default {
name: 'AddPromotionReserve',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    promotionreserve:{
        type:Object,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  data() {
    return {
      PromotionReserveRules: {
        reserve_system_promotion_ads_template_id:[
            {required:true,'message':'選擇廣告模板為必填欄位'}
        ],
        reserve_system_promotion_ads_reserve_real_time_status:[
            {required:true,'message':'廣告預約狀態為必填'}
        ],
        reserve_system_promotion_ads_reserve_status:[
            {required:true,'message':'廣告推播狀態為必填'}
        ],
      },
      step:1,
      loading:false,
      promotionreserve_loading:false,
      // 圖片網址位置
      upload_path: '',
      //原始照片
      origin_image:'',
      //預覽照片
      show_upload_image_preview:'',
      //廣告版型
      promotion_template_List:[],
      //暫存廣告版型
      temp_promotion_template_List:[],
      promotion_template_List_total:0,
      //顯示下拉選單廣告版型
      show_select_promotion_template_List:[],
      //推播標籤
      member_tag_List:[],
      ReservationSystemMemberLoading:false,
      //所有會員列表
      member_List:[],
    }
  },
    watch: {
      dialogType:{
        handler: async function(val, oldVal) {
            this.promotionreserve_loading = true
            console.log("282:",this.partner)
            this.promotionreserve.partner_id = this.partner
            //廣告版型
            await this.getAllPromotiontemplate()
            console.log(this.promotion_template_List_total)
            //有廣告模板帶入預設
            if(this.promotion_template_List_total!=0){
                //帶入預設廣告模型
                if(val=='new'){
                    this.promotionreserve.reserve_system_promotion_ads_template_id = this.promotion_template_List.list[0]['reserve_system_promotion_ads_template_id']
                }
                //過濾廣告版型
                await this.filterPromotiontemplate()
                //會員標籤
                await this.getAllMemberTag()
                if(val=='edit'){
                    this.promotionreserve.reserve_system_promotion_ads_reserve_member_email = this.promotionreserve.reserve_system_promotion_ads_reserve_member_email.split(',')
                    console.log("296: ",this.promotionreserve.reserve_system_promotion_ads_reserve_member_email)
                }
                //會員名單
                await this.getAllMember()
            }
            //沒有廣告模板
            else{
                this.promotionreserve.reserve_system_promotion_ads_template_id = ''
                this.show_select_promotion_template_List = []
                this.promotionreserve_loading = false
            }
            
      },
      immediate: true
      },
    //   partner:{
    //     handler: async function(val, oldVal) {
    //         console.log(val)
    //         this.promotionreserve.partner_id = val
    //         //廣告版型
    //         await this.getAllPromotiontemplate()
    //         //帶入預設廣告模型
    //         if(val=='new'){
    //             this.promotionreserve.reserve_system_promotion_ads_template_id = this.promotion_template_List.list[0]['reserve_system_promotion_ads_template_id']
    //         }
    //         //過濾廣告版型
    //         await this.filterPromotiontemplate()
    //         //會員標籤
    //         await this.getAllMemberTag()
    //         if(val=='edit'){
    //             this.promotionreserve.reserve_system_promotion_ads_reserve_member_email = this.promotionreserve.reserve_system_promotion_ads_reserve_member_email.split(',')
    //             console.log("296: ",this.promotionreserve.reserve_system_promotion_ads_reserve_member_email)
    //         }
    //         //會員名單
    //         await this.getAllMember()
    //   },
    //   immediate: true
    //   }
  },
  created() {
        // 圖片網址位置
        this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    //關閉選單
    closeAddPromotionReserve(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    this.promotionreserve.reserve_system_promotion_ads_reserve_member_email = []
    //清除所有選中數據
    this.$refs.member.clearSelection()
    this.step = 1
    this.$emit('getPromotionReserve_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    //上下一步驟
    next_last_step(type){
        if(type==1){
            if(this.step==1&&this.show_select_promotion_template_List.length==0){
                this.step = 1
                this.$message({
                    message: '無選擇廣告模板，無法進入第二步驟',
                    type: 'error'
                })
            }
            else if(this.step==2&&this.promotionreserve.reserve_system_promotion_ads_reserve_member_email.length==0){
                this.step = 2
                this.$message({
                    message: '無選擇推播成員，無法進入第三步驟',
                    type: 'error'
                })
            }
            else{
                this.step++
                if(this.step>3){
                    this.step = 1
                }
            }
        }
        else{
            this.step--
            if(this.step<2){
                this.step = 1
            }
        }
    },
    //會員標籤
    async getAllMemberTag() {
      var payload = ''
      payload = 'all?partner_id='+this.partner
      getAppointMemberTagList(payload).then(resp => {
        this.member_tag_List = resp.data
      })
    },
    //會員名單
    async getAllMember() {
      var payload = ''
      payload = 'all?partner_id='+this.partner
      if(this.promotionreserve.reserve_system_promotion_ads_reserve_member_tag!=null){
        payload += '&reserve_system_member_tag='+this.promotionreserve.reserve_system_promotion_ads_reserve_member_tag
      }
      this.ReservationSystemMemberLoading = true
      await getAppointMemberList(payload).then(resp => {
        this.member_List = resp.data
        this.ReservationSystemMemberLoading = false
      })
      .then(()=>{
            //編輯觸發
            if(this.dialogType==='edit'){
                // console.log(this.member_List.list.length)
                // console.log(this.member_List.list)
                //判斷選擇推播人員記住所有選擇的資料
                for(const reserve_member_email_list of this.promotionreserve.reserve_system_promotion_ads_reserve_member_email){
                for (const item of this.member_List.list) {
                    // this.$refs.member.toggleRowSelection(item,true);
                    // console.log("item start")
                    // console.log(item)
                    // console.log("item end")
                    // console.log("table_list start")
                    // console.log(table_list)
                    // console.log("table_list end")
                    if(item.reserve_system_member_email==reserve_member_email_list){
                        //記住所有的勾選選項
                        this.$refs.member.toggleRowSelection(item,true);
                    }
                }
                }
            }
        })
    },
    //多筆選擇推播成員
    handleSelectmember(member_list){
      console.log(member_list)
      this.promotionreserve.reserve_system_promotion_ads_reserve_member_email = []
      member_list.forEach((element)=>{
        this.promotionreserve.reserve_system_promotion_ads_reserve_member_email.push(element.reserve_system_member_email)
      })
    },
    //保存選擇的每一頁數據(reserve_system_member_id)
    handleSelectRecovermember(row){
      return row.reserve_system_member_id
    },
    //廣告版型
    async getAllPromotiontemplate() {
      var payload = ''
      payload = 'all?partner_id='+this.partner
      await getPromotionTemplate(payload).then(resp => {
        //廣告版型
        this.promotion_template_List = resp.data
        this.promotion_template_List_total = resp.data.count
        //暫存廣告版型
        this.temp_promotion_template_List = this.promotion_template_List
      })
    },
    //過濾廣告版型
    filterPromotiontemplate(){
      var _self = this
      _.filter(_self.temp_promotion_template_List.list, { 'reserve_system_promotion_ads_template_id': _self.promotionreserve.reserve_system_promotion_ads_template_id }).forEach((items) => {
        console.log(items)
        _self.show_select_promotion_template_List = []
        _self.show_select_promotion_template_List.push(items)
        _self.promotionreserve_loading = false
      })
    },
    //切換廣告版型
    async change_promotion_ads(){
        //廣告版型
        this.promotionreserve_loading = true 
        await this.getAllPromotiontemplate()
        //過濾廣告版型
        await this.filterPromotiontemplate()
    },
    //點擊連結
    click_href(reserve_system_promotion_ads_template_url){
        window.open(reserve_system_promotion_ads_template_url,'_blank')
    },
    // 更新與新增廣告預約
    confirmPromotionReserve(promotionreserve){
      this.$refs[promotionreserve].validate(valid => {
        if (valid) {
          this.loading = true
          postPromotionReserve(this.promotionreserve)
            .then((resp) => {
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
                })
                //判斷是否為新增或修改
                if(this.dialogMemberType!="edit"&&resp.success==true){
                    this.$nextTick(() => {
                      this.$refs[promotionreserve].resetFields()
                    })
                }
                this.$emit('getPromotionReserve')
                this.loading = false
                if(resp.success==true){
                  //清除所有選中數據
                  this.$refs.member.clearSelection()
                  this.closeAddPromotionReserve()
                }
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    }
  }
}
</script>