<template>
    <div>
    <el-dialog :visible="dialogPreviewVisible" title="預覽廣告預約版型名單"
    :before-close="closeAddPreviewTemplate" center
    width="60%"
    append-to-body
    >
    <!-- {{promotionreserve}} -->
        <el-form status-icon :model="promotionreserve" label-position="right">
            <!-- {{team}}
            {{upload_path+origin_image}} -->
            <el-row :gutter="20">
                <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                    <el-divider>廣告預約版型</el-divider>
                </el-col>
                <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-show="promotionreserve.reserve_system_promotion_ads_template_banner_photo!=null">
                <el-form-item label="原始廣告預約版型橫幅圖片">
                    <br/>
                    <el-image :src="upload_path+promotionreserve.reserve_system_promotion_ads_template_banner_photo"
                    style="width:500px;margin:auto;"
                    >
                        <div slot="error" class="image-slot">
                        <i class="el-icon-picture-outline"></i>
                        </div>
                    </el-image>
                </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="廣告預約版型標題">
                    <br/>
                    {{promotionreserve.reserve_system_promotion_ads_template_title}}
                </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="廣告預約版型內文">
                     <br/>
                    {{promotionreserve.reserve_system_promotion_ads_template_content}}
                </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-show="promotionreserve.reserve_system_promotion_ads_template_url!=null">
                <el-form-item label="廣告預約版型超連結" style="text-align:center;">
                    <br/>
                    <el-button type="primary"  @click="click_href(promotionreserve.reserve_system_promotion_ads_template_url)" v-show="promotionreserve.reserve_system_promotion_ads_template_url!=null">點擊連結</el-button>
                </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                    <el-divider>廣告預約名單</el-divider>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="12" :xl="12">
                <el-form-item label="廣告預約標籤">
                    <br/>
                    <el-tag style="margin:5px;font-size:15px;" v-show="promotionreserve.reserve_system_promotion_ads_reserve_member_tag!=null">{{ promotionreserve.reserve_system_promotion_ads_reserve_member_tag }}</el-tag>
                </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="12" :xl="12">
                <el-form-item label="廣告預約名單">
                    <br/>
                    <!-- <div v-for="(reserve_system_promotion_ads_reserve_member_email,index) in promotionreserve.reserve_system_promotion_ads_reserve_member_email.split(',')" :key="index"> -->
                        <el-tag style="margin:5px;font-size:15px;" v-for="(reserve_system_promotion_ads_reserve_member_email,index) in promotionreserve.reserve_system_promotion_ads_reserve_member_email.split(',')" :key="index">{{ reserve_system_promotion_ads_reserve_member_email }}</el-tag>
                    <!-- </div> -->
                </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="12" :xl="12">
                <el-form-item label="廣告預約狀態">
                    <br/>
                    <el-tag style="margin:5px;font-size:15px;" :type="promotionreserve.reserve_system_promotion_ads_reserve_real_time_status==0?'danger':''" v-show="promotionreserve.reserve_system_promotion_ads_reserve_real_time_status!=null">{{ promotionreserve.reserve_system_promotion_ads_reserve_real_time_status|reserve_system_promotion_ads_reserve_real_time_status }}</el-tag>
                </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="12" :xl="12">
                <el-form-item label="廣告預約推播時間">
                    <br/>
                    <el-tag style="margin:5px;font-size:15px;" :type="promotionreserve.reserve_system_promotion_ads_reserve_real_time_status==0?'danger':''">{{ promotionreserve.reserve_system_promotion_ads_reserve_start_at }}</el-tag>
                </el-form-item>
                </el-col>
                <el-col :xs="12" :sm="12" :lg="12" :xl="12">
                    <el-form-item label="廣告預約狀態">
                        <br/>
                        <el-tag style="margin:5px;font-size:15px;" :type="promotionreserve.reserve_system_promotion_ads_reserve_status==0||promotionreserve.reserve_system_promotion_ads_reserve_status==1?'danger':''">{{ promotionreserve.reserve_system_promotion_ads_reserve_status|reserve_system_promotion_ads_reserve_status }}</el-tag>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <div style="text-align:center;">
            <el-button type="danger" @click="closeAddPreviewTemplate">關閉</el-button>
        </div>
    </el-dialog>
    </div>
</template>
<script>
export default {
name: 'PreviewPromotionTemplate',
props:{
    dialogPreviewVisible:{
        type:Boolean,
        require:true
    },
    promotionreserve:{
        type:Object,
        require:true
    }
},
  data(){
    return {
      upload_path:'',
    }
  },
  filters:{
      //即時推送 0:設定時間1:即時
      reserve_system_promotion_ads_reserve_real_time_status(status){
      const reserve_system_promotion_ads_reserve_real_time_status = {
        0: '自定義',
        1: '即時'
      }
      return reserve_system_promotion_ads_reserve_real_time_status[status]
    },
    //廣告推播狀態0:準備中(放入排程),1:取消推播,2:已推播	
    reserve_system_promotion_ads_reserve_status(status){
      const reserve_system_promotion_ads_reserve_status ={
        0: '準備中',
        1: '取消推播',
        2: '已推播'
      }
      return reserve_system_promotion_ads_reserve_status[status]
    }
  },
  async created() {
    // 得知使用者實際擁有權限
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    //預覽衛教圖片
    closeAddPreviewTemplate(){
    //更新資料進入外層的衛教圖片
    this.dialogPreviewVisible = false
    this.$emit('getPreviewTemplate_status_dialogtype',this.dialogPreviewVisible)
    },
    click_href(reserve_system_promotion_ads_template_url){
        window.open(reserve_system_promotion_ads_template_url,'_blank')
    }
  }
}
</script>