<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span style="color:red;">廣告模板</span>
      <el-button type="primary" icon="el-icon-plus" @click="insertpromotiontemplate" style="float:right;" :disabled="partner==''?true:false">新增廣告模板</el-button>
      <!-- {{check_admin_premission}}
      {{dialogType}} -->
    </div>
    <div class="user-profile">
        <AddPromotionTemplate :promotiontemplate="promotiontemplate" :dialogType="dialogType" :dialogVisible="dialogVisible" @getPromotionTemplate="setquerypromotiontemplate" @getPromotionTemplate_status_dialogtype="getPromotionTemplate_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <el-table
        v-loading="promotion_template_listLoading" 
        :data="promotion_template_List.list" 
        style="width: 100%;margin-top:30px;" 
        border 
        fit 
        highlight-current-row
        >
        <el-table-column type="expand">
            <template slot-scope="scope">
            <el-form label-position="left" class="demo-table-expand">
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                        <el-form-item label="廣告版型內文">
                            <br/>
                            <div style="font-size:15px;" v-html="scope.row.reserve_system_promotion_ads_template_content">
                            </div>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            </template>
        </el-table-column>
        <el-table-column align="center" label="廣告版型橫幅圖片">
            <template slot-scope="scope">
            <el-image 
            :src="upload_path+scope.row.reserve_system_promotion_ads_template_banner_photo"
            v-show="scope.row.reserve_system_promotion_ads_template_banner_photo!=null"
            >
                <div slot="error" class="image-slot">
                <i class="el-icon-picture-outline" />
                </div>
            </el-image>
            <el-tag v-show="scope.row.reserve_system_promotion_ads_template_banner_photo==null" type="danger" style="margin:10px 0;">無設定廣告版型橫幅圖片</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="300" label="廣告版型標題">
            <template slot-scope="scope">
              <el-tag style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_promotion_ads_template_title }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="廣告版型超連結">
            <template slot-scope="scope">
                <div v-show="scope.row.reserve_system_promotion_ads_template_url!=null">
                    <el-tag @click="promotion_template_url(scope.row)" style="margin:10px 0;font-size:15px;cursor:pointer;">點擊連結</el-tag>
                </div>
            </template>
        </el-table-column>
        <el-table-column align="center" label="廣告版型上架時間">
            <template slot-scope="scope">
            {{ scope.row.reserve_system_promotion_ads_template_datetime }}
            </template>
        </el-table-column>
        <el-table-column align="center" width="120" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
            <el-button type="primary" icon="el-icon-edit" @click="handleEditpromotiontemplate(scope)">編輯</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="promotion_template_total"
          :page.sync="promotion_template_List.nowpages"
          :limit.sync="promotion_template_List.limit"
          @pagination="getAllPromotiontemplate(promotion_template_List.nowpages,search_promotion_template)"
        />
    </div>
  </el-card>
</template>
<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { getPromotionTemplate } from '@/api/reservationsystempromotion'
import AddPromotionTemplate from './AddPromotionTemplate.vue'
// import SearchExceptionShift from './SearchExceptionShift.vue'
import { deepClone } from '@/utils'
import Cookies from 'js-cookie'
const defaultPromotionTemplate = {
    reserve_system_promotion_ads_template_banner_photo:null,
  	rreserve_system_promotion_ads_template_title:'',
    reserve_system_promotion_ads_template_content:'',
    reserve_system_promotion_ads_template_url:'',
    partner_id: ''
}
export default {
  name:"ReservationSystemPromotionTemplate",
//   components:{ Pagination },
  components:{ Pagination,AddPromotionTemplate },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  watch: {
    partner:{
        handler: function(val, oldVal) {
            if(this.partner!=''){
                this.chosenPartner()
            }
        },
        immediate: true
    },
  },
  data(){
    return {
      dialogType:'',
      dialogVisible:false,
      promotion_template_listLoading:false,
      promotiontemplate: Object.assign({}, defaultPromotionTemplate),
      search_promotion_template:'',
      promotion_template_total:0,
      promotion_template_List:[],
      upload_path:''
    }
  },
  async created() {
    // 得知使用者實際擁有權限
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultPromotionTemplate['partner_id'] = this.partner
        this.search_promotion_template = query
      } else {
        this.search_promotion_template = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllPromotiontemplate(1, query)
    },
    // 設定廣告版型
    setquerypromotiontemplate(){
      //判斷目前頁數在哪一頁
      if(Cookies.get('promotiontemplatepage')==undefined){
        this.getAllPromotiontemplate(1, this.search_promotion_template)
      }
      else{
        this.getAllPromotiontemplate(Cookies.get('promotiontemplatepage'), this.search_promotion_template)
      }
    },
    // 放入實際搜尋條件
    SearchPromotionTemplate(query){
        //放入實際搜尋條件
        this.search_promotion_template = query
        // 設定廣告版型
        this.setquerypromotiontemplate()
    },
    // 關閉廣告狀態
    getPromotionTemplate_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
    // 顯示所有合作夥伴廣告版型
    async getAllPromotiontemplate(page, promotion_template) {
      var payload = ''
      if (this.search_promotion_template == '') {
        payload = page
      }
      if (this.search_promotion_template != '') {
        payload += page + '?' + promotion_template
      }
      console.log("before:",Cookies.get('promotiontemplatepage'))
      //設定目前頁數在哪一頁
      Cookies.set('promotiontemplatepage',page)
      console.log("after",Cookies.get('promotiontemplatepage'))
      console.log('payload', payload)
      this.promotion_template_listLoading = true
      getPromotionTemplate(payload).then(resp => {
        this.promotion_template_List = resp.data
        this.promotion_template_total = this.promotion_template_List.count
        this.promotion_template_listLoading = false
      })
    },
    //新增廣告版型
    insertpromotiontemplate(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultPromotionTemplate['partner_id'] = this.partner
      this.promotiontemplate = Object.assign({},defaultPromotionTemplate)
    },
    //修改廣告版型
    handleEditpromotiontemplate(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      this.promotiontemplate = deepClone(scope.row)
    },
    promotion_template_url(row){
        window.open(row.reserve_system_promotion_ads_template_url,'_blank')
    }
  }
}
</script>