<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span style="color:red;">廣告預約</span>
      <el-button type="primary" icon="el-icon-plus" @click="insertpromotionreserve" style="float:right;" :disabled="partner==''?true:false">新增廣告預約</el-button>
      <!-- {{check_admin_premission}}
      {{dialogType}} -->
      <!-- {{dialogType}} -->
    </div>
    <div class="user-profile">
        <AddPromotionReserve :promotionreserve="promotionreserve" :partner="partner" :dialogType="dialogType" :dialogVisible="dialogVisible" @getPromotionReserve="setquerypromotionreserve" @getPromotionReserve_status_dialogtype="getPromotionReserve_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <PreviewPromotionTemplate :promotionreserve="promotionreserve" :dialogPreviewVisible="dialogPreviewVisible" @getPreviewTemplate_status_dialogtype="getPreviewTemplate_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <SearchPromotionReserve @SearcPromotionReserve="SearchPromotionReserve" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' />
        <el-table
        v-loading="promotion_reserve_listLoading" 
        :data="promotion_reserve_List.list" 
        style="width: 100%;margin-top:30px;" 
        border 
        fit 
        highlight-current-row
        >
        <el-table-column align="center" width="200" label="廣告預約版型名單">
            <template slot-scope="scope">
              <el-tag style="margin:10px 0;font-size:15px;cursor:pointer;" @click="handlePreviewPromotionTemplate(scope)">預覽版型名單</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="150" label="廣告預約狀態">
            <template slot-scope="scope">
              <el-tag :type="scope.row.reserve_system_promotion_ads_reserve_real_time_status==0?'danger':''" style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_promotion_ads_reserve_real_time_status|reserve_system_promotion_ads_reserve_real_time_status }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="300" label="廣告預約推播時間">
            <template slot-scope="scope">
              <el-tag :type="scope.row.reserve_system_promotion_ads_reserve_real_time_status==0?'danger':''" style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_promotion_ads_reserve_start_at }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="300" label="廣告預約推播狀態">
            <template slot-scope="scope">
              <el-tag :type="scope.row.reserve_system_promotion_ads_reserve_status==0||scope.row.reserve_system_promotion_ads_reserve_status==1?'danger':''" style="margin:10px;font-size:15px;">{{ scope.row.reserve_system_promotion_ads_reserve_status|reserve_system_promotion_ads_reserve_status }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="廣告預約上架時間">
            <template slot-scope="scope">
            {{ scope.row.reserve_system_promotion_ads_reserve_datetime }}
            </template>
        </el-table-column>
        <el-table-column align="center" width="120" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
            <el-button 
            type="primary" 
            icon="el-icon-edit" 
            @click="handleEditpromotionreserve(scope)"
            v-show="scope.row.reserve_system_promotion_ads_reserve_status==0"
            >編輯</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="promotion_reserve_total"
          :page.sync="promotion_reserve_List.nowpages"
          :limit.sync="promotion_reserve_List.limit"
          @pagination="getAllPromotionreserve(promotion_reserve_List.nowpages,search_promotion_reserve)"
        />
    </div>
  </el-card>
</template>
<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { getPromotionReserve } from '@/api/reservationsystempromotion'
import PreviewPromotionTemplate from './PreviewPromotionTemplate.vue'
import AddPromotionReserve from './AddPromotionReserve.vue'
import SearchPromotionReserve from './SearchPromotionReserve.vue'
import { deepClone } from '@/utils'
import Cookies from 'js-cookie'
const defaultPromotionReserve = {
    partner_id: '',
    reserve_system_promotion_ads_template_id:null,
    reserve_system_promotion_ads_reserve_real_time_status:1,
    reserve_system_promotion_ads_reserve_member_tag:"",
    reserve_system_promotion_ads_reserve_member_email:[],
    reserve_system_promotion_ads_reserve_status:0
}
export default {
  name:"ReservationSystemPromotionReserve",
//   components:{ Pagination },
  components:{ Pagination,PreviewPromotionTemplate,AddPromotionReserve,SearchPromotionReserve },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  watch: {
    partner:{
        handler: function(val, oldVal) {
            if(this.partner!=''){
                this.chosenPartner()
            }
        },
        immediate: true
    },
    activeTab:{
        handler: function(val, oldVal) {
            if(val=='reserve_system_promotion_reserve'){
                this.setquerypromotionreserve()
            }
        },
        immediate: true
    },
  },
  filters:{
      //即時推送 0:設定時間1:即時
      reserve_system_promotion_ads_reserve_real_time_status(status){
      const reserve_system_promotion_ads_reserve_real_time_status = {
        0: '自定義',
        1: '即時'
      }
      return reserve_system_promotion_ads_reserve_real_time_status[status]
    },
    //廣告推播狀態0:準備中(放入排程),1:取消推播,2:已推播	
    reserve_system_promotion_ads_reserve_status(status){
      const reserve_system_promotion_ads_reserve_status ={
        0: '準備中',
        1: '取消推播',
        2: '已推播'
      }
      return reserve_system_promotion_ads_reserve_status[status]
    }
  },
  data(){
    return {
      dialogType:'',
      dialogVisible:false,
      dialogPreviewVisible:false,
      promotion_reserve_listLoading:false,
      promotionreserve: Object.assign({}, defaultPromotionReserve),
      search_promotion_reserve:'',
      promotion_reserve_total:0,
      promotion_reserve_List:[],
    }
  },
  methods: {
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultPromotionReserve['partner_id'] = this.partner
        this.search_promotion_reserve = query
      } else {
        this.search_promotion_reserve = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllPromotionreserve(1, query)
    },
    // 放入實際搜尋條件
    SearchBanner(query){
        //放入實際搜尋條件
        this.search_promotion_reserve = query
        // 設定搜尋的廣告版型
        this.setquerypromotionreserve()
    },
    // 設定廣告版型
    setquerypromotionreserve(){
      //判斷目前頁數在哪一頁
      if(Cookies.get('promotionreservepage')==undefined){
        this.getAllPromotionreserve(1, this.search_promotion_reserve)
      }
      else{
        this.getAllPromotionreserve(Cookies.get('promotionreservepage'), this.search_promotion_reserve)
      }
    },
    // 放入實際搜尋條件
    SearchPromotionReserve(query){
        //放入實際搜尋條件
        this.search_promotion_reserve = query
        // 設定廣告版型
        this.setquerypromotionreserve()
    },
    // 關閉廣告預約
    getPromotionReserve_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
    //關閉預覽廣告版型
    getPreviewTemplate_status_dialogtype(status){
      this.dialogPreviewVisible = status
    },
    // 顯示所有合作夥伴廣告版型
    async getAllPromotionreserve(page, promotion_reserve) {
      var payload = ''
      if (this.search_promotion_reserve == '') {
        payload = page
      }
      if (this.search_promotion_reserve != '') {
        payload += page + '?' + promotion_reserve
      }
      console.log("before:",Cookies.get('promotionreservepage'))
      //設定目前頁數在哪一頁
      Cookies.set('promotionreservepage',page)
      console.log("after",Cookies.get('promotionreservepage'))
      console.log('payload', payload)
      this.promotion_reserve_listLoading = true
      getPromotionReserve(payload).then(resp => {
        this.promotion_reserve_List = resp.data
        this.promotion_reserve_total = this.promotion_reserve_List.count
        this.promotion_reserve_listLoading = false
      })
    },
    //新增廣告預約
    insertpromotionreserve(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultPromotionReserve['partner_id'] = this.partner
      this.promotionreserve = Object.assign({},defaultPromotionReserve)
    },
    //修改廣告預約
    handleEditpromotionreserve(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      this.promotionreserve = deepClone(scope.row)
    },
    //預覽廣告版型
    handlePreviewPromotionTemplate(scope){
      this.dialogPreviewVisible = true
      this.promotionreserve = deepClone(scope.row)
      console.log(this.service)
    },
  }
}
</script>