<template>
    <div>
    <el-form :inline="true" :model="promotionreserve" class="demo-form-inline">
    <el-row>
        <!-- {{banner}} -->
        <el-form-item label="合作夥伴">
            <el-select
                v-model="promotionreserve.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                placeholder="選擇合作夥伴"
                disabled
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="廣告推播狀態">
            <el-select v-model="promotionreserve.reserve_system_promotion_ads_reserve_status" name="reserve_system_promotion_ads_reserve_status" 
            placeholder="廣告推播狀態" 
            @change="searchpromotionreserve"
            >
                <el-option label="全部" value=3></el-option>
                <el-option label="準備中" value=0></el-option>
                <el-option label="取消推播" value=1></el-option>
                <el-option label="已推播" value=2></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <!-- <el-button type="primary" @click="searchpromotionreserve" icon="el-icon-search">搜索</el-button> -->
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultPromotionReserve = {
  partner_id:'',
  reserve_system_promotion_ads_reserve_status: "3"
}

export default {
  name: 'SearchPromotionReserve',
  data() {
    return {
      promotionreserve: Object.assign({}, defaultPromotionReserve)
    }
  },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
    watch: {
      partner:{
        handler: async function(val, oldVal) {
          console.log("val: ",val)
        this.promotionreserve.partner_id = this.partner
      },
      immediate: true
      },
  },
  methods: {
      searchpromotionreserve(){
        var query = ''
        if(this.promotionreserve.partner_id!=''){
            query+= 'partner_id='+this.promotionreserve.partner_id+'&'
        }
        if(this.promotionreserve.reserve_system_promotion_ads_reserve_status!=''){
            query+= 'reserve_system_promotion_ads_reserve_status='+this.promotionreserve.reserve_system_promotion_ads_reserve_status+'&'
        }
        //更新資料進入外層
        this.$emit('SearcPromotionReserve',query.slice(0, -1))
      }
  },
}
</script>