<template>
    <div>
    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'更新公告管理':'新增公告管理'"
    v-if="dialogVisible"
    :before-close="closeAddAnnounce" center fullscreen>
      <el-form :rules="AnnounceRules" status-icon ref="announce" :model="announce" label-position="left">
          {{announce}}
        <el-row :gutter="20">
            <el-col :xs="12" :sm="18" :lg="12" :xl="12">
                <el-form-item label="公告模組標題" prop="announce_title">
                    <br/>
                    <div style="color:red;">標註：系統維護公告(xxxx-xx-xx)上線實際日期</div>
                    <el-input ref="announce_title" v-model="announce.announce_title"
                    name="announce_title" placeholder="公告模組標題"
                    autocomplete="off"/>
                </el-form-item>
            </el-col>
            <el-col :xs="12" :sm="6" :lg="12" :xl="12">
                <el-form-item label="推播合作夥伴列表" prop="partner_id_array">
                    <br/>
                    <div style="color:red;">標註：選擇有綁定推播的合作夥伴進行推播</div>
                    <el-select
                        ref="partner_id_array"
                        v-model="announce.partner_id_array"
                        multiple
                        collapse-tags
                        name="partner_id_array"
                        width="200px;"
                        placeholder="選擇合作夥伴"
                        @change="handlePartnerSelectAll"
                        >
                        <el-option value="all" label="全選">合作夥伴全選</el-option>
                        <el-option
                            v-for="item in partnerlist.list"
                            :key="item.partner_id"
                            :label="item.partner_name"
                            :value="item.partner_id"
                            :disabled="item.is_bind_line_notify==false"
                            >
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="公告模組內文" prop="announce_content">
                    <br/>
                    <div style="color:red;">
                      標註：1...... 2...... 依照民眾版、合作夥伴 請條列式功能
                    </div>
                    <el-input ref="announce_content" v-model="announce.announce_content"
                    :autosize="{ minRows: 4, maxRows: 6}"
                    type="textarea"
                    name="announce_content" 
                    placeholder="公告模組標題" autocomplete="off"/>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="貼圖主分類" prop="sticker_package_id">
                    <br/>
                    {{announce.sticker_package_id}}
                    <el-select
                        ref="sticker_package_id"
                        v-model="announce.sticker_package_id"
                        name="sticker_package_id"
                        clearable
                        width="100%"
                        @change="set_sticker_package_id"
                        placeholder="選擇貼圖主分類">
                        <el-option
                            v-for="item in sticker_package"
                            :key="item.main_line_package_id"
                            :label="item.package_title"
                            :value="item.main_line_package_id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-col :xs="7" :sm="4" :lg="2" :xl="2" v-for="(select_sticker_id,index) in sticker_id" :key="index">
                <el-form-item prop="sub_line_package_id">
                    <el-image
                        style="width: 100px; height: 100px"
                        :src="'https://stickershop.line-scdn.net/stickershop/v1/sticker/'+select_sticker_id.sticker_id+'/android/sticker.png'"
                        fit="fit">
                        <div slot="error" class="image-slot">
                            <i class="el-icon-picture-outline"></i>
                        </div>
                    </el-image>
                    <br/>
                    <el-radio v-model="announce.sub_line_package_id" :label="select_sticker_id.sub_line_package_id" border style="margin:10px;" name="sub_line_package_id">{{select_sticker_id.sticker_id}}</el-radio>
                </el-form-item>
                </el-col>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="公告模組狀態" prop="status">
                    <br/>
                    <el-radio-group v-model="announce.status" name="status">
                        <el-radio-button label="0" border>草稿</el-radio-button>
                        <el-radio-button label="1" border>下架</el-radio-button>
                        <el-radio-button label="2" border>上架</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="即時推送" prop="real_time_status">
                    <br/>
                    <div style="color:red;">標註：非即時=>選擇非即時再次選擇推播日期及時間進行推播 即時=>選擇即時將送表單立即推送 不推送=>選擇不推送將送出表單不推送</div>
                    <el-radio-group v-model="announce.real_time_status" name="real_time_status">
                        <el-radio-button label="0" border>非即時</el-radio-button>
                        <el-radio-button label="1" border>即時</el-radio-button>
                        <el-radio-button label="2" border>不推送</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-if="announce.real_time_status==0">
                <el-form-item label="推播日期" prop="push_message_date">
                    <el-date-picker v-model="announce.push_message_date" type="date" 
                    ref="push_message_date" name="push_message_date" placeholder="推播日期"
                    value-format="yyyy-MM-dd">
                    </el-date-picker>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-if="announce.real_time_status==0">
                <el-form-item label="推播時間" prop="push_message_time">
                    <el-time-select v-model="announce.push_message_time"
                        ref="push_message_time" name="push_message_time"
                        :picker-options="{start: '00:05',step: '00:05',end: '23:55'}"
                        placeholder="推播時間">
                    </el-time-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="公告模組圖片">
                  <el-upload
                    class="avatar-uploader"
                    action="https://shopstore-dashboardupload.gohojia.com/announce"
                    ref="announce_photo"
                    name="announce_photo"
                    :multiple="false"
                    :auto-upload="false"
                    :limit="1"
                    accept="image/png,image/jpg,image/jpeg"
                    :on-change="before_announce_photo_upload"
                    :on-remove="reset_announce_photo_upload"
                    >
                    <div slot="tip" class="el-upload__tip" style="color:red">
                      *圖檔支援.png,.jpeg格式<br/>
                      *圖檔大小尺寸 700 * 600<br/>
                      *檔名命名時不能有中文<br/>
                      *只能上傳一張圖片，且不超過2MB
                    </div>
                    <img v-if="show_announce_photo_preview" :src="show_announce_photo_preview" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                  </el-upload>
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddAnnounce">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmAnnounce('announce')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 250px;
    height: 250px;
    line-height: 250px;
    text-align: center;
  }
  .avatar {
    width: 250px;
    height: 250px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
import { getMainLinePackage,getSubLinePackage } from '@/api/line_package_manager'
export default {
name: 'AddEditAnnounce',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    announce:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      AnnounceRules: {
        announce_title: [{ required: true,message: '公告模組標題欄位為必填'}],
        announce_content: [{ required: true,message: '公告模組內文欄位為必填'}],
        partner_id_array: [{ required: true,message: '合作夥伴列表欄位為必填'}],
        status: [{ required: true }],
        real_time_status: [{ required: true }]
      },
      loading: false,
      sticker_package:[],
      sticker_id:[],
      // 預覽選擇的公告模組圖片
      show_announce_photo_preview:null
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  watch:{
      dialogVisible(olddata,newdata){
        console.log(newdata)
        if(newdata){
            this.$nextTick(() => {
            this.$refs.announce.resetFields()
            })
        }
        if(olddata==true&&this.dialogType=='edit'){
          this.$nextTick(() => {
          this.set_sticker_package_id()
          })
        }
      },
    announce:{
        handler(announce){
            console.log("announce",announce.real_time_status)
            //判斷即時推送狀態為即時與不推送時，將推播日期與推播時間設為預設
            if(announce.real_time_status=='1'||announce.real_time_status=='2'){
              this.announce.push_message_date = '',
              this.announce.push_message_time = ''
            }
        },
        deep:true
    }
  },
  mounted() {
    this.getLineMainPackageRecord('all')
  },
  methods: {
    //全選標籤
    handlePartnerSelectAll(selectedValues){
        if(selectedValues=='all'){
            //先將重複資料去除
            this.announce.partner_id_array = []
            var payload = selectedValues+ '?' + 'partner_open_close=1'
            this.$store.dispatch('partner/getPartner', payload).then((resp)=>{
                console.log("resp",resp.list)
                resp.list.forEach(element => {
                    //迭代出有綁定合作夥伴的資料
                    if(element.is_bind_line_notify==true){
                        this.announce.partner_id_array.push(element.partner_id)
                    }
                });
            })
        }
    },
    // 更新與新增合作夥伴
    confirmAnnounce(announce){
      this.$refs[announce].validate(valid => {
        if (valid) {
          this.loading = true
          const announceFormData = new FormData()
          announceFormData.append('announce_title',this.announce.announce_title)
          announceFormData.append('announce_content',this.announce.announce_content)
          announceFormData.append('partner_id_array',JSON.stringify(this.announce.partner_id_array))
          announceFormData.append('announce_sticker',this.announce.announce_sticker)
          announceFormData.append('status',this.announce.status)
          announceFormData.append('real_time_status',this.announce.real_time_status)
          announceFormData.append('push_message_date',this.announce.push_message_date)
          announceFormData.append('push_message_time',this.announce.push_message_time)
          announceFormData.append('sub_line_package_id',this.announce.sub_line_package_id)
          if(this.dialogType=='new'){
            if(this.announce.announce_photo!=null){
              announceFormData.append('announce_photo',this.announce.announce_photo.raw)
            }
          }
          if(this.dialogType=='edit'){
            if(this.announce.announce_photo!=null){
              if(this.announce.announce_photo.raw!=undefined){
                announceFormData.append('announce_photo',this.announce.announce_photo.raw)
              }
            }
            announceFormData.append('announce_id',this.announce.announce_id)
          }
          this.$store.dispatch('announce/insert_update_announce', announceFormData)
            .then((res) => {
                //更新資料進入外層的合作夥伴
                this.$emit('getAnnounce',1)
                console.log(res)
                // this.dialogVisible = false
                //判斷是否為新增或修改
                if(this.dialogType!="edit"){
                    this.$nextTick(() => {
                        this.$refs[announce].resetFields();
                    })
                }
                //清除乾淨貼圖選項
                if(this.dialogType=="new"){
                    this.$nextTick(() => {
                        this.sticker_id = []
                    })
                }
                //預覽圖片回復預設值
                this.$refs.announce_photo.clearFiles()
                this.announce.announce_photo = null
                this.show_announce_photo_preview = null
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    // 取消上傳圖片
    reset_announce_photo_upload(){
      this.announce.announce_photo = null
      this.show_announce_photo_preview = null
    },
    //關閉合作夥伴
    closeAddAnnounce(){
    //更新資料進入外層的合作夥伴狀態
    this.sticker_id = []
    this.dialogVisible = false
    this.$emit('getAnnouncestatus',this.dialogVisible)
    // this.sticker_id = []
    },
    getLineMainPackageRecord(page) {
        getMainLinePackage(page).then((resp)=>{
            this.sticker_package = resp.data.list
        })
    },
    set_sticker_package_id(){
      var payload = ''
      //判斷貼圖主分類資料是否為空
      if(this.announce.sticker_package_id!=''){
        payload += 'all?sticker_package_id='+this.announce.sticker_package_id
          getSubLinePackage(payload).then((resp)=>{
              this.sticker_id = []
              this.sticker_id = resp.data.list
          })
      }
      else{
        this.sticker_id = []
        this.announce.sub_line_package_id = ''
      }
    },
    before_announce_photo_upload(file) {
        const isJPG = file.raw.type.toLowerCase() === 'image/jpeg'||'image/jpg'||'image/png';
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isLt2M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
        //   this.$refs.
        return isLt2M;
        }
        else if(!isJPG){
          this.$message.error('上傳格式不正確!!');
          return isJPG;
        }
        let reader = new FileReader()
        reader.readAsDataURL(file.raw);
        let URL = window.URL || window.webkitURL;
        console.log("file",file)
        // 放入所有announce圖片資訊
        this.announce.announce_photo = file
        //預覽圖片
        this.show_announce_photo_preview = URL.createObjectURL(file.raw);
        return isLt2M&isJPG;
    },
  }
}
</script>