<template>
    <div>
    <el-dialog :visible.sync="dialogAdminVisible" :title="dialogAdminType==='edit'?'更新人員管理模組':'新增人員管理模組'"
    :before-close="closeAddAdmin" center
    append-to-body
    width="50%"
    >
      <el-form :rules="AdminRules" status-icon ref="admin" :model="admin" label-position="right">
          <!-- {{partner}}
          {{dialogVisible}} --> 
          <!-- {{admin}} -->
          <!-- {{id}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="8" :xl="8">
                <el-form-item label="合作夥伴" prop="partner_id">
                    <br/>
                    <el-select
                        v-model="admin.partner_id"
                        name="partner_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="選擇合作夥伴"
                        ref="partner_id"
                        disabled
                        >
                        <el-option
                        label="無"
                        value=""
                        v-show="id==1||id==10||id==23"
                        >
                        </el-option>
                        <el-option
                        v-for="item in partnerlist.list"
                        :key="item.category_id"
                        :label="item.partner_name"
                        :value="item.partner_id">
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="8" :xl="8">
                <el-form-item label="帳號(身分證字號)" prop="username">
                    <el-input ref="username" v-model="admin.username"
                    name="username" placeholder="帳號(身分證字號)"
                    autocomplete="off" 
                    :disabled="dialogAdminType==='edit'?true:false"
                    />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="8" :xl="8">
                <el-form-item label="姓名" prop="name">
                <el-input ref="name" v-model="admin.name"
                placeholder="姓名" name="name" 
                autocomplete="off"
                />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="信箱" prop="email">
                <el-input ref="email" v-model="admin.email"
                placeholder="信箱" name="email" 
                autocomplete="off"
                />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="6" :xl="6">
                <el-form-item label="電話" prop="phone">
                <el-input ref="phone" v-model="admin.phone"
                placeholder="電話" name="phone" 
                autocomplete="off"
                />
                <br/>
                <!-- <div style="color:red;">標註：電話號碼為登入密碼</div> -->
                </el-form-item>
            </el-col>
            <!-- {{questioncategorylist}} -->
            <el-col :xs="24" :sm="24" :lg="6" :xl="6">
                <el-form-item label="角色" prop="roles">
                  <br/>
                    <el-select
                        v-model="admin.roles"
                        name="roles"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="選擇角色"
                        ref="roles"
                        >
                        <el-option
                        v-for="item in adminroleslist"
                        :key="item.roles_id"
                        :label="item.roles_name"
                        :value="item.roles_id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="8" :xl="8">
                <el-form-item label="狀態" prop="status">
                  <br/>
                    <el-radio-group v-model="admin.status" 
                    ref="status" name="status">
                        <el-radio-button label=0 border>未啟用</el-radio-button>
                        <el-radio-button label=1 border>啟用</el-radio-button>                        
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="8" :xl="8">
                <el-form-item label="二次驗證開關" prop="validator_mode_status">
                  <br/>
                    <el-radio-group v-model="admin.validator_mode_status" 
                    ref="validator_mode_status" name="validator_mode_status">
                        <el-radio-button label=0 border>關閉</el-radio-button>
                        <el-radio-button label=1 border>開啟</el-radio-button>                     
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="8" :xl="8">
                <el-form-item label="二次驗證模式" prop="validator_mode">
                  <br/>
                    <el-radio-group v-model="admin.validator_mode" 
                    ref="validator_mode" name="validator_mode">
                        <el-radio-button label=0 border v-show="admin.validator_mode_status==0">無</el-radio-button>
                        <el-radio-button label=1 border v-show="admin.validator_mode_status==1">信箱</el-radio-button>
                        <el-radio-button label=2 border v-show="admin.validator_mode_status==1">line notify</el-radio-button>                        
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="大頭貼" prop="avatar">
                    <!-- <el-input v-model="question.question_photo" 
                    name="question_photo" placeholder="常見問題圖片" 
                    autocomplete="off" /> -->
                    <!-- {{admin.avatar}} -->
                  <br/>
                  <div style="color:red;">標註：頭貼大小設定200*200</div>
                  <el-upload
                    class="avatar-uploader"
                    action="https://shopstore-dashboardupload.gohojia.com/shop/shop_category"
                    ref="avatar"
                    name="avatar"
                    :multiple="false"
                    :auto-upload="false"
                    :limit="1"
                    accept="image/png,image/gif,image/jpg,image/jpeg"
                    :on-change="before_admin_photo_upload"
                    :on-remove="reset_admin_photo_upload"
                    >
                    <div slot="tip" class="el-upload__tip" style="color:red">
                      *只能上傳一張圖片，且不超過2MB
                    </div>
                    <img v-if="show_admin_photo_preview" :src="show_admin_photo_preview" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                  </el-upload>
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddAdmin">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmAdmin('admin')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddAdmin',
props:{
    dialogAdminType:{
        type:String,
        require:true
    },
    dialogAdminVisible:{
        type:Boolean,
        require:true
    },
    admin:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      AdminRules: {
        /* partner_id: [{ required: true }], */
        username: [
          { required: true,message: '帳號欄位為必填'}
        ],
        name:[
          { required: true,message: '姓名欄位為必填'},
        ],
        email:[
          { required: true,message: '信箱欄位為必填'},
          { required:true, message:'請輸入正確的信箱格式',pattern:/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/ },
        ],
        phone:[
          { required: true,message: '電話欄位為必填'},
          { required: true, message: '電話必須為數字', pattern:/^[0-9\s]*$/ },
          { required:true, message:'請輸入09開頭的10位數手機號碼',pattern:/^09[0-9]{8}$/ },
        ],
        status:[{ required:true}],
        roles:[
          { required:true,message: '角色欄位為必填'}
          ],
        validator_mode_status:[
          { required:true,message: '二次驗證開關欄位為必填'},
        ],
        validator_mode:[
          { required:true,message: '二次驗證模式欄位為必填'},
        ],
      },
      //預覽選擇的常見問題圖片
      show_admin_photo_preview:null,
      loading:false,
    }
  },
  watch:{
    //選擇驗證開關
    "admin.validator_mode_status":{
    handler: function(val, oldVal) {
      if(val==0){
        this.admin.validator_mode = 0
      }
      if(val==1){
        if(this.admin.validator_mode==0){
          this.admin.validator_mode = 1
        }
      }
    },
    immediate: true
    },
  },
  computed: {
    ...mapGetters([
      'adminroleslist',
      'partnerlist',
      'id',
    ])
  },
  methods: {
    //更新與新增人員管理權限
    confirmAdmin(admin){
      this.$refs[admin].validate(valid => {
        if (valid) {
          this.loading = true
          const AdminFormData = new FormData()
          AdminFormData.append('partner_id',this.admin.partner_id)
          AdminFormData.append('username',this.admin.username)
          AdminFormData.append('name',this.admin.name)
          AdminFormData.append('email',this.admin.email)
          AdminFormData.append('phone',this.admin.phone)
          AdminFormData.append('status',this.admin.status)
          AdminFormData.append('introduction',this.admin.introduction)
          AdminFormData.append('special_day',8)
          AdminFormData.append('roles',this.admin.roles)
          AdminFormData.append('validator_mode',this.admin.validator_mode)
           AdminFormData.append('validator_mode_status',this.admin.validator_mode_status)
          if(this.dialogAdminType=='new'){
            if(this.admin.avatar!=null){
              AdminFormData.append('avatar',this.admin.avatar.raw)
            }
          }
          if(this.dialogAdminType=='edit'){
            if(this.admin.avatar!=null){
              if(this.admin.avatar.raw!=null){
                AdminFormData.append('avatar',this.admin.avatar.raw)
              }
            }
          }
          //修改才有的id參數
          if(this.dialogAdminType=='edit'){
          AdminFormData.append('id',this.admin.id)
          }
          this.$store.dispatch('admin/insert_update_admin', AdminFormData)
            .then((res) => {
                //更新資料進入外層的管理模組
                this.$emit('getAdmin',this.admin.partner_id)
                console.log(this.admin.partner_id)
                //判斷是否為新增或修改
                if(this.dialogAdminType!="edit"&&res.success==true){
                    this.$nextTick(() => {
                      this.$refs[admin].resetFields()
                    })
                }
                //預覽圖片回復預設值
                this.$refs.avatar.clearFiles()
                this.show_admin_photo_preview = null
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    //關閉人員管理模組
    closeAddAdmin(){
    //更新資料進入外層的人員管理模組狀態
    this.dialogAdminVisible = false
    //預覽圖片回復預設值
    this.show_admin_photo_preview = null
    this.$emit('getAdminstatus',this.dialogAdminVisible)

    },
    before_admin_photo_upload(file){
        const isJPG = file.raw.type.toLowerCase() === 'image/jpeg'||'image/jpg'||'image/png';
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isLt2M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
        //   this.$refs.
        return isLt2M;
        }
        else if(!isJPG){
          this.$message.error('上傳格式不正確!!');
          return isJPG;
        }
        let reader = new FileReader()
        reader.readAsDataURL(file.raw);
        let URL = window.URL || window.webkitURL;
        console.log("file",file)
        //放入所有常見問題圖片資訊
        this.admin.avatar = file
        //預覽圖片
        this.show_admin_photo_preview = URL.createObjectURL(file.raw);
        return isLt2M&isJPG;
    },
    //取消上傳圖片
    reset_admin_photo_upload(){
       this.admin.avatar = null
      this.show_admin_photo_preview = null
    }
  }
}
</script>