<template>
    <div>
    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'更新bug回報模組':'新增bug回報模組'"
    :before-close="closeAddBug" center fullscreen>
      <el-form :rules="bugRules" status-icon ref="bug" :model="bug" label-position="left">
          <!-- {{bug}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="8" :xl="8">
                <el-form-item label="bug回報標題" prop="bug_title">
                    <el-input ref="bug_title" v-model="bug.bug_title"
                    name="bug_title" placeholder="bug回報標題"
                    autocomplete="off"/>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="bug回報內文" prop="bug_content">
                    <el-input ref="bug_content" v-model="bug.bug_content"
                    :autosize="{ minRows: 2, maxRows: 4}" type="textarea"
                    name="bug_content" placeholder="bug回報內文"
                    autocomplete="off"/>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="4" :xl="4">
                <el-form-item label="狀態" prop="status">
                     <br/>
                    <el-radio-group v-model="bug.status" 
                    ref="status" 
                    name="status">
                        <el-radio-button label=0 border>未完成</el-radio-button>
                        <el-radio-button label=1 border>完成</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <!-- {{origin_image}} -->
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-if="dialogType==='edit'&&(origin_image!=null)">
                <el-form-item label="原始圖片">
                  <el-image :src="upload_path+origin_image"
                  style="width:350px;"
                  >
                      <div slot="error" class="image-slot">
                      <i class="el-icon-picture-outline"></i>
                      </div>
                  </el-image>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="bug回報截圖">
                  <el-upload
                    class="avatar-uploader"
                    action="https://shopstore-dashboardupload.gohojia.com/bug"
                    ref="bug_photo"
                    name="bug_photo"
                    :multiple="false"
                    :auto-upload="false"
                    :limit="1"
                    accept="image/png,image/gif,image/jpg,image/jpeg"
                    :on-change="before_bug_photo_upload"
                    :on-remove="reset_bug_photo_upload"
                    >
                    <div slot="tip" class="el-upload__tip" style="color:red">
                      *圖檔大小尺寸 750 * 300<br/>
                      *只能上傳一張圖片，且不超過2MB
                    </div>
                    <img v-if="show_bug_photo_preview" :src="show_bug_photo_preview" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                  </el-upload>
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddBug">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmBug('bug')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 250px;
    height: 250px;
    line-height: 250px;
    text-align: center;
  }
  .avatar {
    width: 250px;
    height: 250px;
    display: block;
  }
</style>
<script>
export default {
name: 'AddBug',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    bug:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      bugRules: {
        bug_title: [{ required: true,message: 'bug回報標題為必填'}],
        bug_content: [{ required: true,message: 'bug回報內文為必填'}],
        status: [{ required: true }]
      },
      // 預覽選擇的最新消息圖片
      show_bug_photo_preview: null,
      loading: false,
      // 圖片網址位置
      upload_path: '',
      //原始照片
      origin_image:'',
    }
  },
  mounted() {
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  watch:{
      dialogVisible(dialogVisible){
         var _self = this
        if(dialogVisible==true){
            if(_self.dialogType=='edit'){
                _self.origin_image = _self.bug.bug_photo
            }
            _self.$nextTick(() => {
                _self.$refs[bug].resetFields();
            })
        }
      }
  },
  methods: {
    // 更新與新增bug回報
    confirmBug(bug) {
      this.$refs[bug].validate(valid => {
        if (valid) {
          this.loading = true
          const bugFormData = new FormData()
          bugFormData.append('bug_title',this.bug.bug_title)
          bugFormData.append('bug_content',this.bug.bug_content)
          bugFormData.append('status',this.bug.status)
          if(this.dialogType=='new'){
            if(this.bug.bug_photo!=null){
              bugFormData.append('bug_photo',this.bug.bug_photo.raw)
            }
          }
          if(this.dialogType=='edit'){
            if(this.bug.bug_photo!=null){
              if(this.bug.bug_photo.raw!=undefined){
                bugFormData.append('bug_photo',this.bug.bug_photo.raw)
              }
            }
          }
          // 更新bug回報紀錄
          if(this.dialogType=='edit'){
            bugFormData.append('bug_id',this.bug.bug_id)
          }
          this.$store.dispatch('bug/insert_update_bug', bugFormData)
            .then((res) => {
                // 更新資料進入外層的bug回報
                this.$emit('getBug',1)
                console.log(res)
                // this.dialogVisible = false
                // 判斷是否為新增或修改
                if(this.dialogType!="edit"){
                    this.$nextTick(() => {
                        this.$refs[bug].resetFields();
                    })
                }
                //預覽圖片回復預設值
                this.$refs.bug_photo.clearFiles()
                this.show_bug_photo_preview = null
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    before_bug_photo_upload(file) {
        const isJPG = file.raw.type.toLowerCase() === 'image/jpeg'||'image/jpg'||'image/png';
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isLt2M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
        //   this.$refs.
        return isLt2M;
        }
        else if(!isJPG){
          this.$message.error('上傳格式不正確!!');
          return isJPG;
        }
        let reader = new FileReader()
        reader.readAsDataURL(file.raw);
        let URL = window.URL || window.webkitURL;
        console.log("file",file)
        // 放入所有bug圖片資訊
        this.bug.bug_photo = file
        //預覽圖片
        this.show_bug_photo_preview = URL.createObjectURL(file.raw);
        return isLt2M&isJPG;
    },
    // 取消上傳圖片
    reset_bug_photo_upload(){
      this.bug.bug_photo = null
      this.show_bug_photo_preview = null
    },
    // 關閉bug回報
    closeAddBug() {
    // 更新資料進入外層的bug回報
    this.dialogVisible = false
    this.$emit('getBugstatus',this.dialogVisible)
    }
  }
}
</script>