<template>
    <div>
    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'更新合約模組':'新增合約模組'"
    :before-close="closeAddContract" center fullscreen>
      <el-form :rules="contractRules" status-icon ref="contract" :model="contract" label-position="left">
          <!-- {{contract}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="3" :xl="3">
                <el-form-item label="合作夥伴" prop="partner_id">
                  <el-select
                    v-model="contract.partner_id"
                    placeholder="請選擇合作夥伴"
                    filterable
                    default-first-option
                    ref="partner_id"
                    name="partner_id"
                    style="margin:auto 10px;"
                  >
                    <el-option
                      v-for="item in partnerlist.list"
                      :key="item.partner_id"
                      :label="item.partner_name"
                      :value="item.partner_id"
                    />
                  </el-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                <el-form-item label="合約標題" prop="contract_name">
                    <el-input ref="contract_name" v-model="contract.contract_name"
                    name="contract_name" placeholder="合約標題"
                    autocomplete="off"/>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="合約內文" prop="contract_content">
                    <el-input ref="contract_content" v-model="contract.contract_content"
                    :autosize="{ minRows: 2, maxRows: 4}" type="textarea"
                    name="contract_content" placeholder="合約內文"
                    autocomplete="off"/>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="3" :xl="3">
                <el-form-item label="合約狀態" prop="contract_status">
                     <br/>
                    <el-radio-group v-model="contract.contract_status" 
                    ref="contract_status" 
                    name="contract_status">
                        <el-radio-button label=0 border>關閉</el-radio-button>
                        <el-radio-button label=1 border>開啟</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="合約開始日期" prop="contract_start_at">
                  <br/>
                  <el-date-picker v-model="contract.contract_start_at" type="date" 
                  ref="contract_start_at" name="contract_start_at" placeholder="合約開始日期"
                  value-format="yyyy-MM-dd 00:00:00"
                  ></el-date-picker>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="合約結束日期" prop="contract_end_at">
                  <br/>
                  <el-date-picker v-model="contract.contract_end_at" type="date" 
                  ref="contract_end_at" name="contract_end_at" placeholder="合約結束日期"
                  value-format="yyyy-MM-dd 23:59:59"
                  ></el-date-picker>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="合約檔案">
                  <el-upload
                    class="avatar-uploader"
                    action="https://shopstore-dashboardupload.gohojia.com/contract"
                    ref="contract_file"
                    name="contract_file"
                    :multiple="false"
                    :auto-upload="false"
                    :limit="1"
                    :on-change="before_contract_file_upload"
                    :on-remove="reset_contract_file_upload"
                    >
                    <!-- :on-change="before_bug_photo_upload"
                    :on-remove="reset_bug_photo_upload" -->
                    <!-- <div slot="tip" class="el-upload__tip" style="color:red">
                      *圖檔大小尺寸 750 * 300<br/>
                      *只能上傳一張圖片，且不超過2MB
                    </div>
                    window.open(this.upload_path+row.contract_file,'_blank')

                    <img v-if="show_bug_photo_preview" :src="show_bug_photo_preview" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i> -->
                    <i class="el-icon-plus avatar-uploader-icon"></i>
                  </el-upload>
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddContract">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmContract('contract')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 250px;
    height: 250px;
    line-height: 250px;
    text-align: center;
  }
  .avatar {
    width: 250px;
    height: 250px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddContract',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    contract:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      contractRules: {
        partner_id: [{ required: true,message: '合作夥伴為必填'}],
        contract_name: [{ required: true,message: '合約標題為必填'}],
        contract_content: [{ required: true,message: '合約內文為必填'}],
        contract_start_at: [{ required: true,message: '合約開始日期為必填'}],
        contract_end_at: [{ required: true,message: '合約結束日期為必填'}],
        contract_status: [{ required: true,message: '合約狀態為必填'}]
      },
      loading: false,
    }
  },
  computed: {
    ...mapGetters([
      'contractlist',
      'partnerlist'
    ])
  },
  watch:{
      dialogVisible(dialogVisible){
         var _self = this
         console.log(dialogVisible)
         console.log(_self.contract)
        if(_self.contract.contract_file==null){
            _self.contract.contract_file = ''
        }
      }
  },
  methods: {
    // 更新與新增contract回報
    confirmContract(contract) {
      this.$refs[contract].validate(valid => {
        if (valid) {
          this.loading = true
          const contractFormData = new FormData()
          contractFormData.append('partner_id',this.contract.partner_id)
          contractFormData.append('contract_name',this.contract.contract_name)
          contractFormData.append('contract_content',this.contract.contract_content)
          contractFormData.append('contract_status',this.contract.contract_status)
          contractFormData.append('contract_start_at',this.contract.contract_start_at)
          contractFormData.append('contract_end_at',this.contract.contract_end_at)
          if(this.dialogType=='new'){
            if(this.contract.contract_file!=''){
              contractFormData.append('contract_file',this.contract.contract_file.raw)
            }
          }
          if(this.dialogType=='edit'){
            if(this.contract.contract_file!=''){
              if(this.contract.contract_file.raw!=undefined){
                // console.log(this.contract.contract_file.raw!=undefined)
                contractFormData.append('contract_file',this.contract.contract_file.raw)
              }
            }
          }
          // 更新bug回報紀錄
          if(this.dialogType=='edit'){
            contractFormData.append('contract_id',this.contract.contract_id)
          }
          this.$store.dispatch('contract/insert_update_contract', contractFormData)
            .then((res) => {
                // 更新資料進入外層的bug回報
                this.$emit('getContract',1)
                console.log(res)
                // this.dialogVisible = false
                // 判斷是否為新增或修改
                if(this.dialogType!="edit"){
                    this.$nextTick(() => {
                        this.$refs[contract].resetFields();
                    })
                }
                //合約檔案回覆預設值
                this.$refs.contract_file.clearFiles()
                // this.show_bug_photo_preview = null
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          this.$message.error('請確認資料是否填寫無誤');
          return false
        }
      })
    },
    before_contract_file_upload(file) {
        // const isJPG = file.raw.type.toLowerCase() === 'image/jpeg'||'image/jpg'||'image/png';
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isLt2M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
        //   this.$refs.
        return isLt2M;
        }
        // else if(!isJPG){
        //   this.$message.error('上傳格式不正確!!');
        //   return isJPG;
        // }
        let reader = new FileReader()
        reader.readAsDataURL(file.raw);
        let URL = window.URL || window.webkitURL;
        console.log("file",file)
        // 放入所有bug圖片資訊
        this.contract.contract_file = file
        // return isLt2M&isJPG;
        return isLt2M;
    },
    // 取消上傳檔案
    reset_contract_file_upload(){
      this.contract.contract_file = ''
    },
    // 關閉bug回報
    closeAddContract() {
    // 更新資料進入外層的bug回報
    this.dialogVisible = false
    this.$emit('getContractstatus',this.dialogVisible)
    }
  }
}
</script>