<template>
    <div>
    <el-dialog :visible.sync="dialogpartnerVisible" :title="dialogpartnerType==='edit'?'更新說明文件對應合作夥伴':'新增說明文件對應合作夥伴'"
    :before-close="closeAddDocumentPartner" center fullscreen>
      <el-form :rules="DocumentPartnerRules" status-icon ref="documentpartner" :model="documentpartner" label-position="left">
          <!-- {{documentpartner}} -->
          <!-- {{documentlist}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="合作夥伴" prop="partner_id">
                    <br/>
                    <el-select
                        v-model="documentpartner.partner_id"
                        name="partner_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="選擇合作夥伴"
                        ref="partner_id"
                        >
                        <el-option
                        v-for="item in partnerlist.list"
                        :key="item.category_id"
                        :label="item.partner_name"
                        :value="item.partner_id">
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="選擇對應說明文件" prop="document_id">
                    <br/>
                    <el-select
                        v-model="documentpartner.document_id"
                        name="document_id"
                        filterable
                        allow-create
                        default-first-option
                        multiple
                        placeholder="選擇說明文件"
                        ref="document_id"
                        >
                        <el-option
                        v-for="item in documentlist.list"
                        :key="item.document_id"
                        :label="item.document_title"
                        :value="item.document_id"
                        :disabled="item.document_status==0?true:false"
                        >
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddDocumentPartner">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmDocumentPartner('documentpartner')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddDocumentPartner',
props:{
    dialogpartnerType:{
        type:String,
        require:true
    },
    dialogpartnerVisible:{
        type:Boolean,
        require:true
    },
    documentpartner:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      DocumentPartnerRules: {
        partner_id: [{ required: true,message: '合作夥伴欄位為必填'}],
        document_id: [{ type:'array',required: true,message: '對應說明文件欄位為必填'}]
      },
      loading: false,
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ]),
    documentlist(){
        return this.$store.state.document.documentlist
    },
  },
  watch:{
      dialogpartnerVisible(visible){
        if(visible==true&&this.dialogpartnerType=='edit'){
            this.getDocument('all')
            // 得知所有的說明文件模組
            this.documentpartner.document_id = []
            this.documentpartner.document_detail.forEach(element => {
                this.documentpartner.document_id.push(element.document_id)
            });
        }
        if(visible==true&&this.dialogpartnerType=='new'){
            this.getDocument('all')
        }
      }
  },
  async created() {
    // 顯示合作夥伴
    await this.getPartner('all')
  },
  methods: {
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner', payload)
    },
    // 顯示說明文件模組
    async getDocument(page) {
      await this.$store.dispatch('document/getDocument',page)
    },
    //更新與新增說明文件
    confirmDocumentPartner(documentpartner){
      this.$refs[documentpartner].validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('document/insert_update_document_partner', this.documentpartner)
            .then((res) => {
                //更新資料進入外層的說明文件模組
                this.$emit('getDocumentPartner',1)
                console.log(res)
                // this.dialogVisible = false
                //判斷是否為新增或修改
                if(this.dialogpartnerType!="edit"){
                    this.$nextTick(() => {
                        this.$refs[documentpartner].resetFields();
                    })
                }
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    // 關閉定相對應合作夥伴文件
    closeAddDocumentPartner(){
    //更新資料進入外層的相對應合作夥伴文件狀態
    this.dialogpartnerVisible = false
    this.getDocument(1)
    this.$emit('getDocumentPartnerstatus',this.dialogpartnerVisible)
    },
  }
}
</script>