<template>
    <div>
    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'更新說明文件模組':'新增說明文件模組'"
    :before-close="closeAddDocument" center fullscreen>
      <el-form :rules="DocumentRules" status-icon ref="document" :model="document" label-position="left">
          <!-- {{document}} -->
        <el-row :gutter="20">
            <el-col :xs="12" :sm="12" :lg="6" :xl="8">
                <el-form-item label="說明文件標題" prop="document_title">
                <el-input v-model="document.document_title"
                    placeholder="說明文件標題"
                    ref="document_title" name="document_title" autocomplete="off"
                    style="margin:5px auto;"
                />
                </el-form-item>
            </el-col>
            <el-col :xs="12" :sm="12" :lg="18" :xl="16">
                <el-form-item label="說明文件內文" prop="document_content">
                <el-input v-model="document.document_content" :autosize="{ minRows: 2, maxRows: 4}"
                    type="textarea" placeholder="說明文件內文"
                    ref="document_content" name="document_content" autocomplete="off"
                    style="margin:5px auto;"
                />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="18" :xl="16">
                <el-form-item label="說明文件網址" prop="document_url">
                <el-input v-model="document.document_url"
                    placeholder="說明文件網址"
                    ref="document_url" name="document_url" autocomplete="off"
                    style="margin:5px auto;"
                />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="說明文件網址預覽">
                    <iframe width="100%" height="450" :src="document.document_url" frameborder="0" allowfullscreen></iframe>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="8">
                <el-form-item label="說明文件狀態" prop="document_status">
                    <br/>
                    <el-radio-group v-model="document.document_status" name="document_status">
                        <el-radio-button label="0" border>關閉</el-radio-button>
                        <el-radio-button label="1" border>開啟</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddDocument">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmDocument('document')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddDocument',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    document:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      DocumentRules: {
        document_title: [
          { required: true,message: '說明文件標題欄位為必填'}
        ],
        document_status: [{ required: true }],
        document_url: [{ required: true }]
      },
      loading: false,
    }
  },
  watch:{
      dialogVisible(olddata,newdata){
        console.log(newdata)
        if(newdata){
            this.$nextTick(() => {
            this.$refs.document.resetFields()
            })
        }
      }
  },
  methods: {
    //更新與新增說明文件
    confirmDocument(document){
      this.$refs[document].validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('document/insert_update_document', this.document)
            .then((res) => {
                //更新資料進入外層的說明文件模組
                this.$emit('getDocument',1)
                console.log(res)
                // this.dialogVisible = false
                //判斷是否為新增或修改
                if(this.dialogType!="edit"){
                    this.$nextTick(() => {
                        this.$refs[document].resetFields();
                    })
                }
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    // 關閉合作夥伴
    closeAddDocument(){
    //更新資料進入外層的合作夥伴狀態
    this.dialogVisible = false
    this.$emit('getDocumentstatus',this.dialogVisible)
    },
  }
}
</script>