<template>
    <div>
    <el-dialog :visible.sync="dialogVisible" :title="dialogType=='new'?'新增群組設定':'修改群組設定'"
    :before-close="closeAddgroupemit" center fullscreen>
      <el-tabs v-model="activeTab">
        <el-tab-pane label="群組設定" name="group_basic">
          <GroupSetting :pushchannelgroup="pushchannelgroup" :dialogType="dialogType" @closeAddgroupemit="closeAddgroupemit" />
        </el-tab-pane>
      </el-tabs>
    </el-dialog>
    </div>
</template>
<script>
import GroupSetting from './GroupSetting';
export default {
name: 'AddEditLineNotifyGroup',
components: { GroupSetting },
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    pushchannelgroup:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      activeTab: 'group_basic'
    }
  },
  methods: {
    //再次回傳到最外層關閉群組模組
    closeAddgroupemit(){
    //更新資料進入最外層的群組模組
    this.dialogVisible = false
    // console.log("this.dialogVisible: ",this.dialogVisible)
    this.$emit('getGroup',1,'partner_id='+this.pushchannelgroup.partner_id)
    this.$emit('getGroupstatus',this.dialogVisible)
    // this.activeTab = 'healthstyle_basic'
    },
  }
}
</script>