<template>
    <div>
    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'更新權限模組':'新增權限模組'"
    :before-close="closeAddPremission" center fullscreen>
      <el-form :rules="PremissionRules" status-icon ref="premission" :model="premission" label-position="right">
          <!-- {{premission}} -->
          <!-- {{dialogVisible}}  -->
          <!-- {{premission.roles_id==null}}
          {{premission.roles_id}} -->
          <!-- {{premission.roles_id==null}}
          {{premission.roles_id==''}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="4" :xl="4">
                <el-form-item label="合作夥伴" prop="partner_id">
                    <br/>
                    <el-select
                        v-model="premission.partner_id"
                        name="partner_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="選擇合作夥伴"
                        ref="partner_id"
                        @change="show_all_partner"
                        :disabled="dialogType==='edit'?true:false"
                        >
                        <el-option
                        v-for="item in partnerlist.list"
                        :key="item.category_id"
                        :label="item.partner_name"
                        :value="item.partner_id">
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
            <!-- {{questioncategorylist}} -->
            <!-- {{this.premission['roles_id']}} -->
            <el-col :xs="24" :sm="24" :lg="4" :xl="4">
                <el-form-item label="角色" prop="roles_id">
                    <br/>
                    <el-select
                        v-model="premission.roles_id"
                        name="roles"
                        filterable
                        allow-create
                        default-first-option
                        placeholder="選擇角色"
                        ref="roles_id"
                        @change="show_all_premission"
                        >
                        <el-option
                        v-for="item in premissionroleslist"
                        :key="item.roles_id"
                        :label="item.roles_name"
                        :value="item.roles_id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="16" :xl="16">
                <el-form-item label="目前合作夥伴角色權限">
                    <el-tag v-for="item in premissionlist" style="margin:0 5px;">
                      {{item.premission_meta_title}}
                    </el-tag>
                </el-form-item>
            </el-col>
                                  <!-- {{routersonlist}} -->
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-if="premission.roles_id!=null">
                <el-form-item label="所有權限">
                    <el-table v-loading="premissionroleslistLoading" :data="routersonlist" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
                      <!-- <el-table-column align="center" width="50" label="權限代號">
                        <template slot-scope="scope">
                          <el-tag size="medium" type="primary" plain style="margin:5px 0;">
                            {{ scope.row.premission_id }}
                          </el-tag>
                        </template>
                      </el-table-column> -->
                      <el-table-column align="center" label="權限名稱">
                        <template slot-scope="scope">
                          <el-tag size="medium" type="primary" plain style="margin:5px 0; font-size:20px;">
                            {{ scope.row.premission_father_name}}/{{ scope.row.premission_meta_title }}
                          </el-tag>
                        </template>
                      </el-table-column>
                      <el-table-column align="center" label="操作" v-if="premission.partner_id !='' && premission.roles_id!=null ">
                        <template slot-scope="scope">
                          <!-- <el-button type="primary" @click="handleEditAdmin(scope)">編輯</el-button><br/> -->
                          
                          <el-switch
                            v-model="scope.row.status"
                            active-text="啟用"
                            inactive-text="關閉"
                            active-value="1"
                            inactive-value="0"
                            @change="changepremissionswitch(scope.row)"
                            >
                          </el-switch>
                        </template>
                      </el-table-column>
                      <el-table-column align="center" label="新增按鈕" v-if="premission.partner_id !='' && premission.roles_id!=null ">
                       <template slot-scope="scope">
                          <el-switch
                            v-model="scope.row.insert_btn"
                            active-text="啟用"
                            inactive-text="關閉"
                            active-value="1"
                            inactive-value="0"
                            :disabled="scope.row.status=='0'?true:false"
                            @change="changepremissionswitch_btn(scope.row,'insert_btn')"
                            >
                          </el-switch>
                       </template>
                      </el-table-column>
                      <el-table-column align="center" label="更新按鈕" v-if="premission.partner_id !='' && premission.roles_id!=null ">
                       <template slot-scope="scope">
                          <el-switch
                            v-model="scope.row.update_btn"
                            active-text="啟用"
                            inactive-text="關閉"
                            active-value="1"
                            inactive-value="0"
                            :disabled="scope.row.status=='0'?true:false"
                            @change="changepremissionswitch_btn(scope.row,'update_btn')"
                            >
                          </el-switch>
                       </template>
                      </el-table-column>
                      <el-table-column align="center" label="搜尋按鈕" v-if="premission.partner_id !='' && premission.roles_id!=null ">
                       <template slot-scope="scope">
                          <el-switch
                            v-model="scope.row.search_btn"
                            active-text="啟用"
                            inactive-text="關閉"
                            active-value="1"
                            inactive-value="0"
                            :disabled="scope.row.status=='0'?true:false"
                            @change="changepremissionswitch_btn(scope.row,'search_btn')"
                            >
                          </el-switch>
                       </template>
                      </el-table-column>
                      <!-- <el-table-column align="center" label="新增/更新/搜尋按鈕" v-if="premission.partner_id !='' && premission.roles_id!=null ">
                        <template slot-scope="scope">
                          新增<br/>
                          <el-switch
                            v-model="scope.row.insert_btn"
                            active-text="啟用"
                            inactive-text="關閉"
                            active-value="1"
                            inactive-value="0"
                            :disabled="scope.row.status=='0'?true:false"
                            @change="changepremissionswitch_btn(scope.row,'insert_btn')"
                            >
                          </el-switch><br/>
                          修改<br/>
                          <el-switch
                            v-model="scope.row.update_btn"
                            active-text="啟用"
                            inactive-text="關閉"
                            active-value="1"
                            inactive-value="0"
                            :disabled="scope.row.status=='0'?true:false"
                            @change="changepremissionswitch_btn(scope.row,'update_btn')"
                            >
                          </el-switch><br/>
                          搜尋<br/>
                          <el-switch
                            v-model="scope.row.search_btn"
                            active-text="啟用"
                            inactive-text="關閉"
                            active-value="1"
                            inactive-value="0"
                            :disabled="scope.row.status=='0'?true:false"
                            @change="changepremissionswitch_btn(scope.row,'search_btn')"
                            >
                          </el-switch>
                        </template>
                      </el-table-column> -->
                    </el-table>
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddPremission">關閉</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddPremission',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    premission:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      PremissionRules: {
        partner_id: [{ required: true }],
        roles_id: [{ required: true }]
      },
      loading: false,
      // 內部權限loadimg
      premissionroleslistLoading: false,
      show_all_premission_array: [],
      show_all_premission_array_btn:[]
    }
  },
  watch:{
      dialogVisible(olddata,newdata){
        console.log(newdata)
        if(olddata==true&&this.dialogType=='edit'){
          this.$nextTick(() => {
          this.show_all_partner()
          this.show_all_premission()
          })
        }
      }
  },
  created() {
    this.$store.dispatch('router_manager/getRouterPermissionSon',1)
  },
  computed: {
    ...mapGetters([
      'premissionroleslist',
      'premissionlist',
      'partnerlist',
      'routersonlist'
    ])
  },
  methods: {
    //關閉權限模組
    closeAddPremission(){
    //更新資料進入外層的權限模組狀態
    this.dialogVisible = false
    this.$store.commit('premission/SET_PREMISSION',[])
    this.show_all_premission_array = []
    this.show_all_premission_array_btn = []
    this.$emit('getPremissionstatus',this.dialogVisible)
    //當點擊修改按鈕回復預設合作夥伴角色列表
    if(this.dialogType=='edit'){
        var query = ''
        query+= 'all?partner_id='+this.premission['partner_id']+'&roles_id='+''
        this.$store.dispatch('premission/getPremissionRoles',query)
      }
    },
    // 選擇合作夥伴帶出所有的角色
    show_all_partner(){
      var query = ''
      if(this.dialogType=='new'){
        query+= 'all?partner_id='+this.premission['partner_id']+'&roles_id='+''
        this.premission['roles_id'] = null
      }
      if(this.dialogType=='edit'){
        query+= 'all?partner_id='+this.premission['partner_id']+'&roles_id='+this.premission['roles_id']
      }
      this.$store.commit('premission/SET_PREMISSION',[])
      this.show_all_premission_array = []
      this.show_all_premission_array_btn = []
      this.$store.dispatch('premission/getPremissionRoles',query)
      // 恢復權限原始設定
      this.routersonlist.forEach(element => {
          element.status = "0"
          element.insert_btn = "0"
          element.update_btn = "0"
          element.search_btn = "0"
        // console.log("判斷所有權限開啟狀態",element)
      })
    },
    // 選擇角色帶出所有合作夥伴角色的權限
    show_all_premission() {
      this.premissionroleslistLoading = true
      var query = ''
      query += 'all?partner_id=' + this.premission['partner_id'] + '&roles_id=' + this.premission['roles_id']
      console.log("query", query)
      this.$store.dispatch('premission/getPremission', query).then((resp) => {
        // console.log("得知所有權限", this.routersonlist)
        console.log("得知角色權限", resp)
        this.show_all_premission_array = []
        this.show_all_premission_array_btn = []
        // 判斷角色得知權限
        resp.forEach(element => {
          this.show_all_premission_array.push(element.premission_id)
          this.show_all_premission_array_btn.push({
            "premission_id":element.premission_id,
            "insert_btn":element.insert_btn,
            "update_btn":element.update_btn,
            "search_btn":element.search_btn
          })
          // console.log("放入角色權限陣列",this.show_all_premission_array)
          // console.log("放入角色權限陣列",this.show_all_premission_array_btn)
        })
         // 判斷所有權限得知狀態
        this.routersonlist.forEach(element => {
          // console.log(this.routersonlist)
          // console.log(element)
          if(this.show_all_premission_array.includes(element.premission_id)){
            element.status = "1"
            _.filter(this.show_all_premission_array_btn, { 'premission_id': element.premission_id }).forEach((items) => {
              element.insert_btn = items.insert_btn
              element.update_btn = items.update_btn
              element.search_btn = items.search_btn
            })
            // console.log("get")
            // console.log("element",element)
            // resp.forEach(all_premission_btn => {
            //   if(this.show_all_premission_array.includes(element.premission_id)){
            //   element.insert_btn = all_premission_btn.insert_btn
            //   element.search_btn= all_premission_btn.update_btn
            //   element.search_btn = all_premission_btn.search_btn
            //   }
            // })
          }
          else{
            element.status = "0"
            element.insert_btn = "0"
            element.update_btn = "0"
            element.search_btn = "0"
          }
          // console.log("判斷所有權限開啟狀態",element)
        })
      })
      this.premissionroleslistLoading = false
    },
    // 切換權線狀態
    async changepremissionswitch(all_premission) {
      console.log("all_premission", all_premission['premission_id'])
      var payload = {
        "partner_id": this.premission['partner_id'], "roles_id": this.premission['roles_id'],
        "premission_id": all_premission['premission_id'], "status": all_premission['status']
      }
      // 新增與修改合作夥伴角色權限
      await this.$store.dispatch('premission/insert_update_Premission', payload)
      // 得知目前夥伴角色權限
      this.show_all_premission()
    },
    // 切換權線狀態[新增/修改/搜尋]
    async changepremissionswitch_btn(all_premission,switch_btn) {
      console.log("all_premission", all_premission['premission_id'])
      //新增
      if(switch_btn=='insert_btn'){
        var payload = {
          "partner_id": this.premission['partner_id'], "roles_id": this.premission['roles_id'],
          "premission_id": all_premission['premission_id'], "status": all_premission['status'],
          "insert_btn":all_premission['insert_btn']
        }
      }
      //修改
      if(switch_btn=='update_btn'){
        var payload = {
          "partner_id": this.premission['partner_id'], "roles_id": this.premission['roles_id'],
          "premission_id": all_premission['premission_id'], "status": all_premission['status'],
          "update_btn":all_premission['update_btn']
        }
      }
      //搜尋
      if(switch_btn=='search_btn'){
        var payload = {
          "partner_id": this.premission['partner_id'], "roles_id": this.premission['roles_id'],
          "premission_id": all_premission['premission_id'], "status": all_premission['status'],
          "search_btn":all_premission['search_btn']
        }
      }
      // 新增與修改合作夥伴角色權限
      await this.$store.dispatch('premission/insert_update_Premission', payload)
      // 得知目前夥伴角色權限
      this.show_all_premission()
    }
  }
}
</script>