<template>
    <div>
    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'更新推播模組':'新增推播模組'"
    :before-close="closeAddPushchannel" center fullscreen>
      <el-form :rules="PushchannelRules" status-icon ref="pushchannel" :model="pushchannel" label-position="left">
          {{pushchannel}}
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="4" :xl="4">
                <el-form-item label="合作夥伴" prop="partner_id">
                  <!-- {{partnerlist.list}} -->
                    <el-select
                        v-model="pushchannel.partner_id"
                        name="partner_id"
                        filterable
                        allow-create
                        default-first-option
                        placeholder="選擇合作夥伴"
                        ref="partner_id"
                        @change="chosen_partner"
                        >
                        <el-option
                            v-for="item in partnerlist.list"
                            :key="item.partner_id"
                            :label="item.partner_name"
                            :value="item.partner_id"
                            :disabled="item.is_bind_line_notify==true"
                            >
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
            <el-col :xs="12" :sm="12" :lg="20" :xl="20">
                <el-form-item label="推播token" prop="push_channel_token">
                <el-link href="https://notify-bot.line.me/zh_TW/" target="_blank">
                    <svg-icon icon-class="link" />註冊推播token
                </el-link>
                <el-input v-model="pushchannel.push_channel_token" :autosize="{ minRows: 2, maxRows: 4}"
                    type="textarea" placeholder="推播token"
                    ref="push_channel_token" name="push_channel_token" autocomplete="off"
                    style="margin:5px auto;"
                />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="8">
                <el-form-item label="合作夥伴狀態">
                    <el-radio-group v-model="pushchannel.partner_open_close" name="partner_open_close" disabled>
                        <el-radio-button label="0" border>未啟用</el-radio-button>
                        <el-radio-button label="1" border>啟用</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="18" :xl="16">
                <el-form-item label="推播上架日期" v-if="dialogType==='edit'">
                    <el-input v-model="pushchannel.push_channel_datetime"
                    name="push_channel_datetime" placeholder="推播上架日期"
                    disabled
                     />
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
              <!-- <el-alert
                v-if="pushchannel.is_bind_line_notify==true"
                title="無法再次綁定合作夥伴推播token"
                type="error"
                center
                show-icon
                style="margin:5px auto;"
              /> -->
        <el-button type="danger" @click="closeAddPushchannel">關閉</el-button>
        <!-- :disabled="pushchannel.is_bind_line_notify==true?true:false" -->
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmPushchannel('pushchannel')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { getPartner } from '@/api/partner_manager'
export default {
name: 'AddPushchannel',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    pushchannel:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      PushchannelRules: {
        partner_id: [{ required: true }],
        push_channel_token: [{ required: true }],
        partner_open_close: [{ required: true }]
      },
      loading: false,
      // 推播token說明文字
      show_push_channel_visiable: false
    }
  },
  watch:{
      dialogVisible(olddata,newdata){
        console.log(newdata)
        if(newdata){
            this.$nextTick(() => {
            this.$refs.pushchannel.resetFields()
            })
        }
      }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  methods: {
    //更新與新增合作夥伴
    confirmPushchannel(pushchannel){
      this.$refs[pushchannel].validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('push_channel/insert_update_push_channel', this.pushchannel)
            .then((res) => {
                //更新資料進入外層的推播模組
                this.$emit('getPushchannel',1)
                console.log(res)
                // this.dialogVisible = false
                //判斷是否為新增或修改
                if(this.dialogType!="edit"){
                    this.$nextTick(() => {
                        this.$refs[pushchannel].resetFields();
                    })
                }
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    // 關閉合作夥伴
    closeAddPushchannel(){
    //更新資料進入外層的合作夥伴狀態
    this.dialogVisible = false
    this.$emit('getPushchannelstatus',this.dialogVisible)
    },
    // 選擇合作夥伴帶出該合作夥伴狀態
    chosen_partner(partner_id){
        var partner_id = 'all?partner_id='+partner_id
        var _self = this
        getPartner(partner_id).then(response => {
            console.log("1222",response.data.list[0].is_bind_line_notify)
            _self.pushchannel.partner_open_close = response.data.list[0].partner_open_close
            _self.pushchannel.is_bind_line_notify = response.data.list[0].is_bind_line_notify
            console.log("_self.pushchannel",_self.pushchannel.is_bind_line_notify)
        })
    }
  }
}
</script>