<template>
  <div>
    <!-- {{type}}/{{partner_id}}/{{page}} -->
    <!-- {{todolist}} -->
    <!-- {{id}} -->
    <!-- {{login_record_time}} -->
    <el-table v-loading="log_login_Loading" :data="login_record_time.list" border fit highlight-current-row style="width: 100%;margin-top:10px;" v-if="type=='all_login_record'">
      <el-table-column
        fixed
        width="130"
        label="合作夥伴"
      >
        <template slot-scope="scope">
          <span align="center">
            <el-tag type="danger" v-if="scope.row.partner_name==null">無</el-tag>
            <el-tag v-else>{{ scope.row.partner_name }}</el-tag>
          </span>
        </template>
      </el-table-column>

      <el-table-column label="登入姓名">
        <template slot-scope="{row}">
          <span>{{ row.name }}</span><br/>
          <el-tag>{{ row.roles_name }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column width="160" label="登入時間">
        <template slot-scope="{row}">
          <span>{{ row.admin_datetime }}</span>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="login_record_time.count"
      :page.sync="login_record_time.nowpages"
      :limit.sync="login_record_time.limit"
      v-if="type=='all_login_record'"
      @pagination="getLoginRecord(login_record_time.nowpages)" />
    <el-table v-loading="log_Loading" :data="log_record_time.list" border fit highlight-current-row style="width: 100%;margin-top:10px;" v-if="type=='all_log_record'">
      <el-table-column
        fixed
        width="130"
        label="合作夥伴"
      >
        <template slot-scope="scope">
          <span align="center">
            <el-tag type="danger" v-if="scope.row.partner_name==null">無</el-tag>
            <el-tag v-else>{{ scope.row.partner_name }}</el-tag>
          </span>
        </template>
      </el-table-column>

      <el-table-column width="120" label="操作使用者/權限">
        <template slot-scope="{row}">
          <span>{{ row.name }}</span><br/>
          <el-tag>{{ row.roles_name }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作網址">
        <template slot-scope="{row}">
          <span>{{ row.path }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作資料表">
        <template slot-scope="{row}">
          <span>{{ row.feature_name }}</span>
        </template>
      </el-table-column>
      <el-table-column width="150" label="操作描述">
        <template slot-scope="{row}">
          <span>{{ row.description }}</span>
        </template>
      </el-table-column>
      <el-table-column width="160" label="操作時間">
        <template slot-scope="{row}">
          <span>{{ row.created_at }}</span>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="log_record_time.count"
      :page.sync="log_record_time.nowpages"
      :limit.sync="log_record_time.limit"
      v-if="type=='all_log_record'"
      @pagination="getLogRecord(log_record_time.nowpages)" />
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { getLoginRecord,getLogRecord } from '@/api/log_manager'
import AllLogRecord from './AllLogRecord.vue'
export default {
  components: { Pagination, AllLogRecord },
  name: 'AllLogRecord',
    props: {
    type: {
      type: String,
      default: 'all_login_record'
    },
    // 實際搜尋login_record事項資料呈現object
    search_login_record_data_times:{
      type: String,
      require:false 
    },
    // 實際搜尋log_record事項資料呈現object
    search_log_record_data_times:{
      type: String,
      require:false 
    }
  },
  data() {
    return {
      list: null,
      // listQuery: {
      //   page: 1,
      //   limit: 5,
      //   type: this.type,
      //   sort: '+id'
      // },
      // 登入紀錄
      login_record_time: [],
      // 登入紀錄 loading
      log_login_Loading: false,
      // 是否搜尋過登入紀錄
      search_login_record_btn: false,
      // 操作紀錄
      log_record_time: [],
      // 操作紀錄 loading
      log_Loading: false,
      // 是否搜尋過操作紀錄
      search_log_record_btn: false
    }
  },
  computed: {
    ...mapGetters([
      'id'
    ])
  },
  watch:{
    // 更新父層資料-登入紀錄
    search_login_record_data_times(v){
      this.search_login_record_btn = true
      this.getLoginRecord(1)
    },
    // 更新父層資料-操作紀錄
    search_log_record_data_times(v){
      this.search_log_record_btn = true
      this.getLogRecord(1)
    }
  },
  created() {
      // 登入紀錄
      if(this.type == 'all_login_record') {
         this.getLoginRecord(1)
      }
      // 操作記錄
      if(this.type == 'all_log_record') {
          this.getLogRecord(1)
      }
    // this.getList()
  },
  methods: {
      // 得知 所有登入記錄
      getLoginRecord(page) {
          var payload = ''
          console.log("page",page)
          if(this.search_login_record_btn==false){
            payload += page + '?admin_id=' + this.id
          }
          else{
            payload += page + '?' + this.search_login_record_data_times
          }
          getLoginRecord(payload).then((resp)=>{
              this.login_record_time = resp.data
          })
      },
      // 得知 所有操作記錄
      getLogRecord(page) {
          var payload = ''
          if(this.search_log_record_btn==false){
            payload += page + '?admin_id=' + this.id
          }
          else{
            payload += page + '?' + this.search_log_record_data_times
          }
          getLogRecord(payload).then((resp)=>{
              this.log_record_time = resp.data
          })
      },
  }
}
</script>
<style lang="scss" scoped>
  .icon-item {
    width: 100px;
    font-size: 30px;
    color: #24292e;
  }
</style>
