<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span>群組設定</span>
    </div>
    <!-- {{pushchannelgroup}} -->
    <div class="user-profile">
      <el-form ref="pushchannelgroup" :rules="GroupRules" status-icon :model="pushchannelgroup" label-position="left">
        <el-row :gutter="20">
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
              <el-form-item label="合作夥伴代號" prop="partner_id">
                <br/>
                <el-select
                v-model="pushchannelgroup.partner_id"
                placeholder="請選擇合作夥伴"
                filterable
                default-first-option
                ref="partner_id"
                name="partner_id"
                style="margin:auto 10px;"
                >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.partner_id"
                    :label="item.partner_name"
                    :value="item.partner_id"
                />
                </el-select>
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
              <el-form-item label="群組名稱" prop="push_channel_group_title">
                  <el-input ref="push_channel_group_title" v-model="pushchannelgroup.push_channel_group_title"
                  name="push_channel_group_title" placeholder="群組名稱"
                  autocomplete="off" />
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="dialogType=='edit'">
              <el-form-item label="是否綁定" prop="push_channel_group_token">
                <br/>
                <el-tag style="margin:10px 0;" size="medium" effect="plain" @click="not_update_bind_notify_group('pushchannelgroup')" v-if="pushchannelgroup.push_channel_group_token==''" type="danger">未綁定</el-tag>
                <el-tag style="margin:10px 0;" size="medium" effect="plain" @click="confirm_revoke_notify_group('pushchannelgroup')" v-else>已綁定</el-tag>
              </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddGroup">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="not_insert_bind_notify_group('pushchannelgroup')" v-if="dialogType=='new'">確認</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="update_bind_notify_group('pushchannelgroup')" v-if="dialogType=='edit'">更新</el-button>
      </div>
    </div>
  </el-card>
</template>

<script>
import { UpdateNotifyGroup } from '@/api/push_channel'
import { mapGetters } from 'vuex'
export default {
  name: "GroupSetting",
  props: {
    dialogType:{
        type:String,
        require:true
    },
    pushchannelgroup: {
      type: Object
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  created() {
    //顯示合作夥伴
    this.getPartner('all')
  },
  data(){
    return {
      GroupRules: {
        push_channel_group_title: [{ required: true,message: '群組名稱欄位為必填'}]
      },
      loading:false,
    }
  },
  methods: {
    //[新增]未綁定line_notify群組觸發
    not_insert_bind_notify_group(pushchannelgroup){
      this.$refs[pushchannelgroup].validate(valid => {
        if (valid) {
            location.href =
                "https://notify-bot.line.me/oauth/authorize?" +
                "response_type=code" +
                "&client_id=3fgPyq8BfyfNSjJzcfXqPq" +
                "&redirect_uri="+window.location.href.split('?')[0] +
                "&scope=notify" +
                "&state=insert"+
                ";"+this.pushchannelgroup.partner_id+
                ";"+this.pushchannelgroup.push_channel_group_title; // 自定義String防止CSRF攻擊
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    //[更新]未綁定line_notify群組觸發
    not_update_bind_notify_group(pushchannelgroup){
      this.$refs[pushchannelgroup].validate(valid => {
        if (valid) {
            location.href =
                "https://notify-bot.line.me/oauth/authorize?" +
                "response_type=code" +
                "&client_id=3fgPyq8BfyfNSjJzcfXqPq" +
                "&redirect_uri="+window.location.href.split('?')[0] +
                "&scope=notify" +
                "&state=update"+
                ";"+this.pushchannelgroup.partner_id+
                ";"+this.pushchannelgroup.push_channel_group_id+
                ";"+this.pushchannelgroup.push_channel_group_title; // 自定義String防止CSRF攻擊
                // "&partner_id="+row.partner_id+
                // "&push_channel_id="+row.push_channel_group_id+
                // "&push_channel_group_title="+row.push_channel_group_title;
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    // 取消綁定 line notify group
    confirm_revoke_notify_group() {
      this.$confirm('是否要解除綁定『'+this.pushchannelgroup.push_channel_group_title+'』群組', '解除綁定群組', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(async() => {
          this.loading = true
          await this.$store.dispatch('push_channel/NotBindLineaccesstokengroup',this.pushchannelgroup)
          this.loading = false
          this.pushchannelgroup.push_channel_group_token = ''
          await this.$store.dispatch('push_channel/getPushchannelGroup','1?partner_id='+this.pushchannelgroup.partner_id)
        })
    },
    // 更新line notify group
    update_bind_notify_group(pushchannelgroup){
      this.$refs[pushchannelgroup].validate(async valid => {
        if (valid) {
            this.loading = true
            await UpdateNotifyGroup(this.pushchannelgroup).then((resp)=>{
                this.$message({
                    type: resp.success==true?'success':'error',
                    message: resp.message
                })
            })
            this.loading = false
            await this.$store.dispatch('push_channel/getPushchannelGroup','1?partner_id='+this.pushchannelgroup.partner_id)
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    //關閉視窗
    closeAddGroup(){
        this.$emit('closeAddgroupemit')
    }
  },
}
</script>