<template>
    <div>
    <el-form :inline="true" :model="pushchannel" class="demo-form-inline">
    <el-row>
        <el-form-item label="合作夥伴">
            <el-select
                v-model="pushchannel.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                @keydown.enter.native="searchpushchannel"
                clearable
                placeholder="選擇合作夥伴"
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="合作夥伴狀態">
            <el-select v-model="pushchannel.partner_open_close" name="status" 
             placeholder="合作夥伴狀態" @keyup.enter.native="searchpushchannel" clearable>
                <el-option label="未啟用" value="0"></el-option>
                <el-option label="啟用" value="1"></el-option>
            </el-select>
        </el-form-item>
        <!-- {{question.question_status}} -->
        <el-form-item>
            <el-button type="primary" @click="searchpushchannel" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultPushChannel = {
  partner_id:'',partner_open_close: '0',
}

export default {
  name: 'searchPushchannel',
  data() {
    return {
      pushchannel: Object.assign({}, defaultPushChannel)
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  methods: {
      searchpushchannel(){
        var query = ''
        if(this.pushchannel.partner_id!=''){
            query+= 'partner_id='+this.pushchannel.partner_id+'&'
            //更新資料進入外層的管理模組
        }
        if(this.pushchannel.partner_open_close!=''){
            query+= 'partner_open_close='+this.pushchannel.partner_open_close+'&'
        }
        //更新資料進入外層的推播模組
        this.$emit('searchPushchannel',query)
      }
  }
}
</script>