<template>
  <div>
    <el-form :inline="true" :model="admin" class="demo-form-inline">
      <el-row>
        <el-form-item label="合作夥伴">
          <el-select
            v-model="admin.partner_id"
            name="partner_id"
            filterable
            allow-create
            default-first-option
            placeholder="選擇合作夥伴"
            @keydown.enter.native="searchadmin"
          >
            <el-option
              v-for="item in partnerlist.list"
              :key="item.category_id"
              :label="item.partner_name"
              :value="item.partner_id"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="帳號">
          <el-input
            v-model="admin.username"
            name="username"
            placeholder="帳號"
            clearable
            @keyup.enter.native="searchadmin"
          />
        </el-form-item>
        <el-form-item label="姓名">
          <el-input
            v-model="admin.name"
            name="name"
            placeholder="姓名"
            clearable
            @keyup.enter.native="searchadmin"
          />
        </el-form-item>
        <el-form-item label="電話">
          <el-input
            v-model="admin.phone"
            name="phone"
            placeholder="電話"
            clearable
            @keyup.enter.native="searchadmin"
          />
        </el-form-item>
        <el-form-item label="角色">
          <el-form-item prop="roles">
            <el-select
              ref="roles"
              v-model="admin.roles"
              name="roles"
              filterable
              allow-create
              default-first-option
              clearable
              placeholder="選擇角色"
            >
              <el-option
                v-for="item in adminroleslist"
                :key="item.roles_id"
                :label="item.roles_name"
                :value="item.roles_id"
              />
            </el-select>
          </el-form-item>
        </el-form-item>
        <el-form-item label="狀態">
          <el-select
            v-model="admin.status"
            name="status"
            placeholder="狀態"
            clearable
            @keyup.enter.native="searchadmin"
          >
            <el-option label="未啟用" value="0" />
            <el-option label="啟用" value="1" />
          </el-select>
        </el-form-item>
        <!-- {{question.question_status}} -->
        <el-form-item>
          <el-button type="primary" icon="el-icon-search" @click="searchadmin">搜索</el-button>
        </el-form-item>
      </el-row>
    </el-form>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultAdmin = {
  username: '', name: '',
  status: '1', partner_id: '',
  phone: '', roles: null
}

export default {
  name: 'SearchAdmin',
  data() {
    return {
      admin: Object.assign({}, defaultAdmin)
    }
  },
  async created() {
    //預設帶入第一個partner_id
    await this.initPartner()
  },
  computed: {
    ...mapGetters([
      'adminroleslist',
      'partnerlist'
    ])
  },
  methods: {
    searchadmin() {
      var query = ''
      if (this.admin.partner_id != '') {
        query += 'partner_id=' + this.admin.partner_id + '&'
        // 更新資料進入外層的管理模組
      }
      if (this.admin.username != '') {
        query += 'username=' + this.admin.username + '&'
      }
      if (this.admin.name != '') {
        query += 'name=' + this.admin.name + '&'
      }
      if (this.admin.status != '') {
        query += 'status=' + this.admin.status + '&'
      }
      if (this.admin.phone != '') {
        query += 'phone=' + this.admin.phone + '&'
      }
      if (this.admin.roles != null) {
        query += 'roles=' + this.admin.roles + '&'
      }
      if (query.includes('partner_id')) {
        this.$emit('searchAdminpartner', this.admin.partner_id)
      }
      if (!query.includes('partner_id')) {
        this.$emit('searchAdminpartner', '')
      }
      // 更新資料進入外層的管理模組
      this.$emit('searchAdmin', query.slice(0, -1))
    },
    //剛開始直接設定預設的partner
    async initPartner(){
        await this.partnerlist.list.forEach((element,index)=>{
          if(index==0){
            console.log("show_first_init_partner",element.partner_id)
            this.admin.partner_id = element.partner_id
          }
          console.log("show_all_init_partner",element.partner_id)
        })
    },
  }
}
</script>
