<template>
    <div>
    <el-form :inline="true" :model="logrecord" class="demo-form-inline">
    <el-row>
        <!-- {{logrecord}} -->
        <el-form-item label="選擇合作夥伴">
          <el-select
            v-model="logrecord.partner_id"
            placeholder="請選擇合作夥伴"
            filterable
            default-first-option
            style="margin:auto 10px;"
            clearable
            @change="getAllAdmin"
          >
            <el-option
              v-for="item in partnerlist.list"
              :key="item.partner_id"
              :label="item.partner_name"
              :value="item.partner_id"
            />
          </el-select>
        </el-form-item>
        <!-- <el-form-item label="使用者姓名">
            <el-input v-model="loginrecord.admin_name" name="admin_name" 
            placeholder="使用者姓名" @keyup.enter.native="searchloginrecord"></el-input>
        </el-form-item> -->
        <el-form-item label="選擇使用者">
          <el-select
            v-model="logrecord.admin_id"
            placeholder="請選擇使用者"
            filterable
            default-first-option
            style="margin:auto 10px;"
          >
            <el-option
              v-for="item in AdminList.list"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="開始日期">
            <el-date-picker v-model="logrecord.start_time" type="date" 
            ref="start_time" name="start_time" placeholder="開始日期"
            value-format="yyyy-MM-dd"
            @keydown.enter.capture.native="searchlogrecord"
            ></el-date-picker>
        </el-form-item>
        <el-form-item label="結束日期">
            <el-date-picker v-model="logrecord.end_time" type="date" 
            ref="end_time" name="end_time" placeholder="結束日期"
            value-format="yyyy-MM-dd"
            @keydown.enter.capture.native="searchlogrecord"
            ></el-date-picker>
        </el-form-item>
        <!-- {{question.question_status}} -->
        <el-form-item>
            <el-button type="primary" @click="searchlogrecord" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { getAdmin } from '@/api/admin_manager'
const defaultlogrecord = {
  partner_id:'',admin_id: '',start_time: '', end_time: ''
}
export default {
  name: 'SearchLogRecord',
  data() {
    return {
      logrecord: Object.assign({}, defaultlogrecord),
      AdminList:[],
      adminlistLoading:false,
    }
  },
  async mounted() {
        //帶入所有合作夥伴
        await this.getPartner('all')
        //預設帶入第一個partner_id
        await this.initPartner()
  },
  computed: {
    ...mapGetters([
      'questioncategorylist',
      'partnerlist',
    ])
  },
  methods: {
      // 顯示合作夥伴
      async getPartner(page) {
        var payload = ''
        payload = page+ '?' + 'partner_open_close=1'
        await this.$store.dispatch('partner/getPartner', payload)
      },
      //剛開始直接設定預設的partner
      async initPartner(){
          await this.partnerlist.list.forEach((element,index)=>{
            if(index==0){
              console.log("show_first_init_partner",element.partner_id)
              this.logrecord.partner_id = element.partner_id
              //帶入第一個預設管理者資料
              this.getinitAdmin()
            }
            console.log("show_all_init_partner",element.partner_id)
          })
          console.log(this.activeTab)
      },
      //帶入第一個預設管理者資料
      async getinitAdmin() {
        var payload = ''
        defaultlogrecord['partner_id'] = this.logrecord.partner_id
        payload += 'all?partner_id=' + defaultlogrecord['partner_id']
        console.log('payload', payload)
        this.adminlistLoading = true
        getAdmin(payload).then(resp => {
          this.AdminList = resp.data
          //當資料不等於0時帶入預設資料
          if(resp.data.count!=0){
            defaultlogrecord['admin_id'] = this.AdminList.list[0].id
          }
          this.adminlistLoading = false
        })
      },
      //帶入所有使用者資料
      async getAllAdmin() {
        var payload = ''
        defaultlogrecord['partner_id'] = this.logrecord.partner_id
        //將使用者資料預先清空
        this.logrecord.admin_id =''
        defaultlogrecord['admin_id'] = this.logrecord.admin_id
          payload += 'all?partner_id=' + defaultlogrecord['partner_id']
        console.log('payload', payload)
        this.adminlistLoading = true
        getAdmin(payload).then(resp => {
          this.AdminList = resp.data
          this.adminlistLoading = false
        })
      },
      searchlogrecord(){
        var query = ''
        if(this.logrecord.partner_id!=''){
            query+= 'partner_id='+this.logrecord.partner_id+'&'
        }
        if(this.logrecord.admin_id!=''){
            query+= 'admin_id='+this.logrecord.admin_id+'&'
        }
        // 將開始與結束日期恢復原始設定
        if(this.logrecord.start_time==null)
        {
            this.logrecord.start_time = ''
        }
         // 將開始與結束日期恢復原始設定
        if(this.logrecord.end_time==null)
        {
            this.logrecord.end_time = ''
        }
        if(this.logrecord.start_time!=''){
            query+= 'start_time='+this.logrecord.start_time+'&'
            // 更新資料進入外層的log_manager
        }
        if(this.logrecord.end_time!=''){
            query+= 'end_time='+this.logrecord.end_time+'&'
        }
        console.log("query",query)
        // 更新資料進入外層的log_manager
        this.$emit('searchLogRecord',query)
      }
  },
}
</script>