<template>
    <div>
    <el-form :inline="true" :model="bug" class="demo-form-inline">
    <el-row>
        <el-form-item label="bug回報標題">
            <el-input v-model="bug.bug_title" name="bug_title" 
            placeholder="bug回報標題" @keyup.enter.native="searchbug" clearable></el-input>
        </el-form-item>
        <el-form-item label="狀態">
            <el-select v-model="bug.status" name="status" 
             placeholder="狀態" @keyup.enter.native="searchbug" clearable>
                <el-option label="未完成" value="0"></el-option>
                <el-option label="完成" value="1"></el-option>
            </el-select>
        </el-form-item>
        <!-- {{question.question_status}} -->
        <el-form-item>
            <el-button type="primary" @click="searchbug" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
const defaultBug = {
  bug_title:'',status: "0",
}

export default {
  name: 'SearchBug',
  data() {
    return {
      bug: Object.assign({}, defaultBug)
    }
  },
  methods: {
      searchbug() {
        var query = ''
        if(this.bug.bug_title!='') {
            query += 'bug_title=' + this.bug.bug_title + '&'
        }
        if(this.bug.status!='') {
            query+= 'status='+this.bug.status
        }
        // 更新資料進入外層的bug回報模組
        this.$emit('searchBug',query)
      }
  }
}
</script>