<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span style="color:red;">產品資訊</span>

    </div>
    <div class="user-profile">
      <!-- {{commision_file_List}} -->
      <el-row>
        <el-col :xs="6" :sm="6" :lg="6" :xl="6">
          <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="color:red;font-size:20px;margin:10px 0;">資料夾0</el-col>
          <div v-for="item in commision_file_List[0]">
            <el-col
            v-for="folder_list in item.folder_list"
            style="color:black;font-size:20px;margin:5px 1%;"
            :key="folder_list.id"
            :xs="24" :sm="24" :lg="24" :xl="24"
            @click.native="click_commision_file(folder_list.id,1)"
            >
              {{ folder_list.name }}
            </el-col>
          </div>
          <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="color:red;font-size:20px;margin:10px 0;">檔案0</el-col>
          <div v-for="item in commision_file_List[0]">
            <el-col 
            v-for="file_list in item.file_list"
            :key="file_list.id"
            style="color:black;font-size:20px;margin:5px 1%;"
            :xs="24" :sm="24" :lg="24" :xl="24">
              {{ file_list.new_filename }}
            </el-col>
          </div>
        </el-col>
        <el-col :xs="6" :sm="6" :lg="6" :xl="6">
          <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="color:red;font-size:20px;margin:10px 0;">資料夾1</el-col>
          <div v-for="item in commision_file_List[1]">
            <el-col
            v-for="folder_list in item.folder_list"
            style="color:black;font-size:20px;margin:5px 1%;"
            :key="folder_list.id"
            :xs="24" :sm="24" :lg="24" :xl="24"
            @click.native="click_commision_file(folder_list.id,2)"
            >
              {{ folder_list.name }}
            </el-col>
          </div>
          <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="color:red;font-size:20px;margin:10px 0;">檔案1</el-col>
          <div v-for="item in commision_file_List[1]">
            <el-col 
            v-for="file_list in item.file_list"
            :key="file_list.id"
            style="color:black;font-size:20px;margin:5px 1%;"
            :xs="24" :sm="24" :lg="24" :xl="24">
              {{ file_list.new_filename }}
            </el-col>
          </div>
        </el-col>
        <el-col :xs="6" :sm="6" :lg="6" :xl="6">
          <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="color:red;font-size:20px;margin:10px 0;">資料夾2</el-col>
          <div v-for="item in commision_file_List[2]">
            <el-col
            v-for="folder_list in item.folder_list"
            style="color:black;font-size:20px;margin:5px 1%;"
            :key="folder_list.id"
            :xs="24" :sm="24" :lg="24" :xl="24"
            @click.native="click_commision_file(folder_list,3)"
            >
              {{ folder_list.name }}
            </el-col>
          </div>
          <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="color:red;font-size:20px;margin:10px 0;">檔案2</el-col>
          <div v-for="item in commision_file_List[2]">
            <el-col 
            v-for="file_list in item.file_list"
            :key="file_list.id"
            style="color:black;font-size:20px;margin:5px 1%;"
            :xs="24" :sm="24" :lg="24" :xl="24">
              {{ file_list.new_filename }}
            </el-col>
          </div>
        </el-col>
        <el-col :xs="6" :sm="6" :lg="6" :xl="6">
          <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="color:red;font-size:20px;margin:10px 0;">資料夾3</el-col>
          <div v-for="item in commision_file_List[3]">
            <el-col
            v-for="folder_list in item.folder_list"
            style="color:black;font-size:20px;margin:5px 1%;"
            :key="folder_list.id"
            :xs="24" :sm="24" :lg="24" :xl="24"
            @click.native="click_commision_file(folder_list.id,4)"
            >
              {{ folder_list.name }}
            </el-col>
          </div>
          <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="color:red;font-size:20px;margin:10px 0;">檔案3</el-col>
          <div v-for="item in commision_file_List[3]">
            <el-col 
            v-for="file_list in item.file_list"
            :key="file_list.id"
            style="color:black;font-size:20px;margin:5px 1%;"
            :xs="24" :sm="24" :lg="24" :xl="24">
              {{ file_list.new_filename }}
            </el-col>
          </div>
        </el-col>

      </el-row>
    </div>
  </el-card>
</template>
<script>
import { getAllCommisionFile } from '@/api/commision_file'
import { mapGetters } from 'vuex'
export default {
  name:"ProductTab",
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  watch: {
    partner:{
        handler: function(val, oldVal) {
            if(this.partner!=''){
                this.set_commision_file(0)
            }
        },
        immediate: true
    },
  },
  data(){
    return {
      commision_file_List:{
        '0':[],
        '1':[],
        '2':[],
        '3':[]
      }
    }
  },
  methods: {
    set_commision_file(id) {
      var query = {}
      query['partner_id'] = this.partner
      query['id'] = id
      query['father_id'] =  '0'
      this.getAllCommisionFile(query)
    },
    click_commision_file(folder_id,father_id) {
      var query = {}
      query['partner_id'] = this.partner
      query['id'] = folder_id
      query['father_id'] =  father_id.toString()
      this.getAllCommisionFile(query)
    },
    // 顯示所有合作夥伴最新消息
    async getAllCommisionFile(query) {
      getAllCommisionFile(query).then(resp => {
        if(this.commision_file_List.hasOwnProperty(query['father_id'])){
          this.commision_file_List[query['father_id']] = []
        }
        this.commision_file_List[query['father_id']].push(resp.data)
        // this.commision_file_List[id].push(resp.data)
      })
    }
  }
}
</script>