<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新首頁大圖':'新增首頁大圖'"
    :before-close="closeAddBanner" center fullscreen
    append-to-body
    >
        <!-- {{banner}} -->
      <el-form :rules="BannerRules" status-icon ref="banner" :model="banner" label-position="right">
          <!-- {{banner}}
          {{upload_path+origin_image}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="原始大圖輪播">
              <br/>
                <el-image :src="upload_path+origin_image"
                style="width:500px;"
                >
                    <div slot="error" class="image-slot">
                    <i class="el-icon-picture-outline"></i>
                    </div>
                </el-image>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="上傳選單照片" prop="reserve_system_banner_photo">
            <el-upload
                class="avatar-uploader"
                :action="upload_path+'/banner/'"
                ref="reserve_system_banner_photo"
                name="reserve_system_banner_photo"
                :multiple="false"
                :auto-upload="false"
                :limit="1"
                accept="image/png,image/jpeg"
                :on-change="before_upload_image_upload"
                :on-remove="reset_upload_image_upload"
                >
                <br/>
                <img v-if="show_upload_image_preview" :src="show_upload_image_preview" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                <!-- <p style="color:red;">寬度：</p>
                <p style="color:red;">高度：</p>
                <p style="color:red;">寬高比率：</p>
                <p style="color:red;">ssss</p> -->
            </el-upload>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="綁定狀態" prop="reserve_system_banner_status">
              <br>
              <el-radio-group v-model="banner.reserve_system_banner_status" name="reserve_system_banner_status">
                <el-radio-button label=0 border>草稿</el-radio-button>
                <el-radio-button label=1 border>下架</el-radio-button>
                <el-radio-button label=2 border>上架</el-radio-button>
              </el-radio-group>
            </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddBanner">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmBanner('banner')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 500px;
    /* height: 400px; */
    display: block;
  }
</style>
<script>
import { postBannerList } from '@/api/reservationsystembanner'
import Cookies from 'js-cookie'
export default {
name: 'AddBanner',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    banner:{
        type:Object,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  data() {
    return {
      BannerRules: {
        //   reserve_system_banner_photo:[
        //     { required: true,message: '大圖輪播照片必填欄位' },
        //   ],
          reserve_system_banner_status:[
            { required: true,message: '大圖輪播狀態為必填欄位' },
          ],
      },
      loading:false,
      healthphotolist:[],
      healthphotovalue:[],
      // 圖片網址位置
      upload_path: '',
      //原始照片
      origin_image:'',
      //預覽照片
      show_upload_image_preview:'',
    //   order_mid_loading:false,
    //   shopLoading:false,
    //   shop:[]
    }
  },
    watch: {
      dialogType:{
        handler: function(val, oldVal) {
        if(this.dialogType=='edit'){
            this.origin_image = this.banner.reserve_system_banner_photo
        }
        else{
            this.origin_image = ''
        }
      },
      immediate: true
      }
  },
  created() {
        // 圖片網址位置
        this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    //關閉選單
    closeAddBanner(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    this.banner.reserve_system_banner_photo = this.origin_image

    this.show_upload_image_preview = null
    this.$emit('getBanner_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    // 更新與新增選單
    confirmBanner(banner) {
      this.$refs[banner].validate(valid => {
        if (valid) {
          this.loading = true
          const BannerFormData = new FormData()
          BannerFormData.append('partner_id',this.banner.partner_id)
          BannerFormData.append('reserve_system_banner_status',this.banner.reserve_system_banner_status)
          if(this.dialogType=='new'){
            if(this.banner.reserve_system_banner_photo!=null){
              BannerFormData.append('reserve_system_banner_photo',this.banner.reserve_system_banner_photo.raw)
            }
          }
          if(this.dialogType=='edit'){
            BannerFormData.append('reserve_system_banner_id',this.banner.reserve_system_banner_id)
            if(this.banner.reserve_system_banner_photo!=null){
              if(this.banner.reserve_system_banner_photo.raw!=null){
                BannerFormData.append('reserve_system_banner_photo',this.banner.reserve_system_banner_photo.raw)
              }
              // else{
              //   BannerFormData.append('reserve_system_banner_photo',this.banner.reserve_system_banner_photo)
              // }
            }
          }
          postBannerList(BannerFormData)
            .then((resp) => {
                if(this.dialogType=='new'){
                    if(this.banner.reserve_system_banner_photo!=null){
                        this.origin_image = ''
                    }
                }
                if(this.dialogType=='edit'){
                    if(this.banner.reserve_system_banner_photo!=null){
                        if(this.banner.reserve_system_banner_photo.raw!=null){
                            this.origin_image = resp.data['reserve_system_banner_photo']
                        }
                        else{
                            this.origin_image = resp.data['reserve_system_banner_photo']
                        }
                    }
                }
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
                })
                this.$emit('getBanner')
                //判斷是否為新增或修改
                if(this.dialogType!="edit"&&resp.success==true){
                    this.$nextTick(() => {
                      this.$refs[banner].resetFields()
                    })
                }
                //預覽圖片回復預設值
                this.$refs.reserve_system_banner_photo.clearFiles()
                this.show_upload_image_preview = null
                this.loading = false
                //關閉選單
                if(resp.success==true){
                  this.closeAddBanner()
                }
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    before_upload_image_upload(file) {
        // const isJPG = file.name.toLowerCase() === 'image/jpeg'||'image/png';
        // // console.log(file.raw.name.split('.')[1]=='jpeg')
        // if(file.raw.name.split('.')[1]=='jpg'){
        //   this.$message.error('上傳格式不正確!!，請將副檔名.jpg更換.jpeg');
        //   this.banner.reserve_system_banner_photo = ""
        //   this.show_upload_image_preview = null
        //   this.$refs.image.clearFiles()
        //   return false;
        // }
        const isLt1M = file.size / 1024 / 1024 < 2;
        if (!isLt1M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
        //   this.$refs.
        return isLt1M;
        }
        const issize = new Promise((resolve,reject)=>{
            let reader = new FileReader()
            reader.readAsDataURL(file.raw);
            let URL = window.URL || window.webkitURL;
            console.log("file",file)
            let image = new Image()
            image.onload = function(){
                console.log(image)
                console.log("image.width",image.width)
                console.log("image.height",image.height)
                console.log("image.width/image.height",image.width/image.height)
                // if((image.width<800||image.width>2500)){
                //     // this.$message.error('上傳寬度須介於800px到2500px之間');
                //     reject('上傳寬度須介於800px到2500px之間')
                // }
                if((1700<image.height)){
                    // this.$message.error('上傳高度須介於250px到720px之間');
                    reject('上傳高度須小於1700px')
                }
                // if((image.width/image.height)<2){
                //     // this.$message.error('上傳比例須大於1.45以上');
                //     reject('上傳比例須小於2以上')
                // }
                resolve()
            }
            this.banner.reserve_system_banner_photo = file
            this.show_upload_image_preview = URL.createObjectURL(file.raw);
            image.src = this.show_upload_image_preview
        }).then(()=>{
            // 預覽圖片
            // return isLt1M&isJPG&issize;
            return isLt1M&issize;
        },
        (error)=>{
            console.log("error",error)
            this.$message.error(error)
            this.banner.reserve_system_banner_photo = ""
            this.show_upload_image_preview = null
            this.$refs.reserve_system_banner_photo.clearFiles()
            return Promise.reject()
        })
    },
    // 取消上傳圖片
    reset_upload_image_upload(){
      this.banner.reserve_system_banner_photo = this.origin_image
      this.show_upload_image_preview = null
    },
  }
}
</script>