<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新衛教':'新增衛教'"
    :before-close="closeAddHealth" center fullscreen
    append-to-body
    >
    <!-- {{health}} -->
        <!-- {{health.reserve_system_health_photo}} -->
        <!-- {{healthcategory}} -->
      <el-tabs v-model="activeTab">
        <el-tab-pane :label="dialogType==='edit'?'更新衛教':'新增衛教'" name="insert_update_reserve_system_health">
          <!-- 新衛教分類按鈕 start -->
          <div style="text-align:right;">
            <el-row :gutter="20">
                <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                    <el-button type="primary" icon="el-icon-plus" @click="inserthealthcategory" style="float:right; margin:5px 0;">新增衛教分類</el-button>
                </el-col>
            </el-row>
          </div>
          <AddHealthCategory :healthcategory="healthcategory" :dialogHealthCategoryType="dialogHealthCategoryType" :dialogHealthCategoryVisible="dialogHealthCategoryVisible" @getHealthCategory_status_dialogtype="getHealthCategory_status_dialogtype" />
          <!-- 新衛教分類按鈕 end -->
          <!--新增/更新衛教 start  -->
          <el-form :rules="HealthRules" status-icon ref="health" :model="health" label-position="right">
            <el-row :gutter="20">
                <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                    <el-form-item label="衛教標題" prop="reserve_system_health_title">
                        <el-input ref="reserve_system_health_title" v-model="health.reserve_system_health_title"
                        name="reserve_system_health_title" placeholder="服務項目標題"
                        autocomplete="off" />
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                    <el-form-item label="衛教分類" prop="reserve_system_health_category_id">
                      <br/>
                        <el-select
                            v-model="health.reserve_system_health_category_id"
                            name="reserve_system_health_category_id"
                            filterable
                            allow-create
                            default-first-option
                            placeholder="選擇衛教分類"
                            ref="reserve_system_health_category_id"
                            >
                            <el-option
                            v-for="item in healthcategorylist"
                            :key="item.reserve_system_health_category_id"
                            :label="item.reserve_system_health_category_name"
                            :value="item.reserve_system_health_category_id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="6" :lg="6" :xl="6">
                    <el-form-item label="服務項目狀態" prop="reserve_system_health_status">
                      <br/>
                        <el-radio-group v-model="health.reserve_system_health_status" 
                        ref="reserve_system_health_status" name="reserve_system_health_status">
                            <el-radio-button label=0 border>下架</el-radio-button>                        
                            <el-radio-button label=1 border>上架</el-radio-button>
                        </el-radio-group>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                    <el-form-item label="衛教內文" prop="reserve_system_health_intro">
                    <!-- <el-input ref="reserve_system_health_intro" v-model="health.reserve_system_health_intro" :autosize="{ minRows: 2, maxRows: 4}"
                        type="textarea" placeholder="衛教內文"
                        name="reserve_system_health_intro" autocomplete="off"
                    /> -->
                    <tinymce v-if="!reloading" :id="this.tinymce+'_'+this.tinykey" ref="editorHealthRef" v-model="health.reserve_system_health_intro" :height="250" :key="this.tinykey" />
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-show="dialogType==='new'">
                <el-form-item label="上傳衛教圖片" prop="reserve_system_health_photo">
                    <el-upload
                    action="#"
                    list-type="picture-card"
                    :multiple="true"
                    :file-list="health.reserve_system_health_photo"
                    ref="reserve_system_health_photo"
                    accept="image/png,image/jpeg,image/jpg"
                    :on-change="handleChangeHealthPhoto"
                    :auto-upload="false">
                        <i slot="default" class="el-icon-plus"></i>
                        <div slot="file" slot-scope="{file}">
                        
                        <img
                            class="el-upload-list__item-thumbnail"
                            :src="file.url" alt=""
                        >
                        <span class="el-upload-list__item-actions">
                            <span
                            class="el-upload-list__item-preview"
                            @click="handlePreviewHealthPhoto(file)"
                            >
                            <i class="el-icon-zoom-in"></i>
                            </span>
                            <!-- <span
                            v-if="!disabled"
                            class="el-upload-list__item-delete"
                            @click="handleDownload(file)"
                            >
                            <i class="el-icon-download"></i>
                            </span> -->
                            <span
                            v-if="!disabled"
                            class="el-upload-list__item-delete"
                            @click="handleRemoveHealthPhoto(file)"
                            >
                            <i class="el-icon-delete"></i>
                            </span>
                        </span>
                        </div>
                    </el-upload>
                    <el-dialog 
                    :visible.sync="dialogPreviewVisible"
                    append-to-body
                    >
                    <img width="100%" :src="dialogImageUrl" alt="">
                    </el-dialog>
                </el-form-item>
                </el-col>
            </el-row>
          </el-form>
          <div style="text-align:right;">
            <el-button type="danger" @click="closeAddHealth">關閉</el-button>
            <el-button :loading="loading" type="primary" @click.native.prevent="confirmHealth('health')">確認</el-button>
          </div>
          <!--新增/更新衛教 end  -->
        </el-tab-pane>
        <el-tab-pane label="更新衛教圖片" name="update_reserve_system_health_photo" v-if="dialogType==='edit'">
          <div>
              <!--更新衛教圖片 start  -->
              <el-form status-icon ref="health" :model="health" label-position="right">
                <el-row :gutter="20">
                  <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                  <el-form-item label="上傳衛教圖片" prop="reserve_system_health_photo">
                      <el-upload
                      action="#"
                      list-type="picture-card"
                      :multiple="true"
                      :file-list="health.reserve_system_health_photo"
                      ref="reserve_system_health_photo"
                      accept="image/png,image/jpeg,image/jpg"
                      :on-change="handleEditChangeHealthPhoto"
                      :auto-upload="false">
                          <i slot="default" class="el-icon-plus"></i>
                          <div slot="file" slot-scope="{file}">
                          <img
                              class="el-upload-list__item-thumbnail"
                              :src="check_file_have_property(file)?file.url:upload_path+file.reserve_system_health_photo" alt=""

                          >
                          <span class="el-upload-list__item-actions">
                              <span
                              class="el-upload-list__item-preview"
                              @click="handlePreviewHealthPhoto(file)"
                              >
                              <i class="el-icon-zoom-in"></i>
                              </span>
                              <!-- <span
                              v-if="!disabled"
                              class="el-upload-list__item-delete"
                              @click="handleDownload(file)"
                              >
                              <i class="el-icon-download"></i>
                              </span> -->
                              <span
                              v-if="!disabled"
                              class="el-upload-list__item-delete"
                              @click="handleEditRemoveHealthPhoto(file)"
                              >
                              <i class="el-icon-delete"></i>
                              </span>
                          </span>
                          </div>
                      </el-upload>
                      <el-dialog 
                      :visible.sync="dialogPreviewVisible"
                      append-to-body
                      >
                      <img width="100%" :src="dialogImageUrl" alt="">
                      </el-dialog>
                  </el-form-item>
                  </el-col>
                </el-row>
              </el-form>
              <div style="text-align:right;">
                <el-button type="danger" @click="closeAddHealth">關閉</el-button>
              </div>
              <!--更新衛教圖片 end  -->
          </div>
        </el-tab-pane>
      </el-tabs>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 500px;
    /* height: 400px; */
    display: block;
  }
</style>
<script>
const defaultHealthCategory = {
    partner_id: '', reserve_system_health_category_name:'',
    reserve_system_health_category_status:1
}
import { mapGetters } from 'vuex'
import AddHealthCategory from './AddHealthCategory.vue'
import Tinymce from '@/components/Tinymce'
export default {
name: 'AddHealth',
components:{ AddHealthCategory,Tinymce },
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    health:{
        type:Object,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  data() {
    return {
      activeTab:'insert_update_reserve_system_health',
      HealthRules: {
        reserve_system_health_category_id: [{ required: true,message: '衛教分類為必填'}],
        reserve_system_health_title:[{ required:true,message: '衛教標題為必填'}],
        reserve_system_health_intro:[{ required: true,message: '衛教簡介為必填'}],
        reserve_system_health_status:[{ required: true,message: '衛教狀態為必填'}]
      },
      loading:false,
      dialogPreviewVisible:false,
      disabled:false,
      dialogImageUrl:'',
      healthcategory: Object.assign({}, defaultHealthCategory),
      dialogHealthCategoryType:'',
      dialogHealthCategoryVisible:false,
      tinymce:'tinymce_health',
      tinykey:0,
      reloading:false,
      upload_path:''
    }
  },
  computed: {
    ...mapGetters([
      'healthcategorylist',
      'partnerlist',
    ])
  },
    watch: {
      dialogType:{
        handler: function(val, oldVal) {
        this.reload()
        console.log(this.tinymce)
        console.log(this.tinykey)
        console.log(this.health.reserve_system_health_intro)
        this.$refs.editorHealthRef.setContent(this.health.reserve_system_health_intro)
      },
      immediate: true
      }
  },
  created() {
        // 圖片網址位置
        this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    reload(){
      this.reloading = true
      this.$nextTick(()=>{
        this.reloading = false
      })
    },
    //關閉選單
    async closeAddHealth(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    this.activeTab = 'insert_update_reserve_system_health'
    this.$emit('getHealth_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    // 更新與新增衛教
    confirmHealth(health) {
      this.$refs[health].validate(valid => {
        if (valid) {
          this.loading = true
          const HealthFormData = new FormData()
          HealthFormData.append('partner_id',this.health.partner_id)
          HealthFormData.append('reserve_system_health_category_id',this.health.reserve_system_health_category_id)
          HealthFormData.append('reserve_system_health_title',this.health.reserve_system_health_title)
          HealthFormData.append('reserve_system_health_intro',this.health.reserve_system_health_intro)
          HealthFormData.append('reserve_system_health_status',this.health.reserve_system_health_status)
          //新增
          if(this.dialogType=='new'){
            console.log(this.health.reserve_system_health_photo.length==0)
            //判斷衛教有圖片時觸發
            if(this.health.reserve_system_health_photo.length!=0){
                //衛教圖片不止一張，一張一張迭代
                this.health.reserve_system_health_photo.forEach((element,index) => {
                    // console.log(element.raw)
                   HealthFormData.append('reserve_system_health_photo['+index+']',element.raw)
                });
            }
            //判斷衛教無圖片時觸發
            else{
              HealthFormData.append('reserve_system_health_photo',"null")
            }
          }
          //修改
          else{
            HealthFormData.append('reserve_system_health_id',this.health.reserve_system_health_id)
          }
          this.$store.dispatch('reservationsystemappointhealth/insert_update_health', HealthFormData)
            .then((resp) => {
                this.$emit('getHealth')
                //判斷是否為新增或修改
                if(this.dialogType!="edit"&&resp.success==true){
                    this.$nextTick(() => {
                      this.$refs[health].resetFields()
                      this.health.reserve_system_health_photo_delete = []
                      this.health.reserve_system_health_photo = []
                    })
                }
                this.loading = false
                //關閉選單
                if(resp.success==true){
                  this.closeAddHealth()
                }
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    handleChangeHealthPhoto(file) {
        console.log(file.raw);
        // const isJPG = file.name.toLowerCase() === 'image/jpeg'||'image/png';
        // console.log(file.raw.name.split('.')[1]=='jpeg')
        // if(file.raw.name.split('.')[1]=='jpg'){
        //   this.$message.error('上傳格式不正確!!，請將副檔名.jpg更換.jpeg');
        //   this.$refs.reserve_system_health_photo.clearFiles()
        //   return false;
        // }
        const isLt1M = file.size / 1024 / 1024 < 2;
        if (!isLt1M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
          this.health.reserve_system_health_photo = []
        return false;
        }
        else{
          //新增資料到衛教圖片array
          this.health.reserve_system_health_photo.push(file)
        }
    },
    //編輯衛教圖片
    async handleEditChangeHealthPhoto(file) {
        console.log(file.raw);
        const isLt1M = file.size / 1024 / 1024 < 2;
        if (!isLt1M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
        return false;
        }
        else{
          //新增資料到衛教圖片array
          this.health.reserve_system_health_photo.push(file)
          const HealthFormData = new FormData()
          HealthFormData.append('partner_id',this.health.partner_id)
          HealthFormData.append('type','insert')
          HealthFormData.append('reserve_system_health_id',this.health.reserve_system_health_id)
          if(this.health.reserve_system_health_photo.length!=0){
              //衛教圖片不止一張，一張一張迭代
              this.health.reserve_system_health_photo.forEach((element) => {
                  // console.log(element.raw)
                  if('raw' in element){
                    HealthFormData.append('reserve_system_health_photo[0]',element.raw)
                  }
              });
          }
          await this.$store.dispatch('reservationsystemappointhealth/edit_delete_health_photo', HealthFormData)
          await this.$emit('getHealth')
        }
        
    },
    handleRemoveHealthPhoto(file) {
        console.log(file)
        this.health.reserve_system_health_photo_delete.push(file.uid)
        for (let i = 0; i < this.health.reserve_system_health_photo.length; i++) {
            if (this.health.reserve_system_health_photo[i].uid === file.uid) {
            // Splice (index, length) deletes the data with the specified id
                this.health.reserve_system_health_photo.splice(i, 1);
            }
        }
    },
    //編輯時刪除圖片
    handleEditRemoveHealthPhoto(file) {
        console.log(file);
        //判斷有無reserve_system_health_photo圖片
        if ('reserve_system_health_photo' in file){
          this.$confirm(
            '<span style="font-size:16px;color:black;">您確定刪除此筆衛教圖片？</span>'+'<br/>'+
            '<span style="font-size:18px;color:red;">刪除無法進行復原</span>'
          ,'刪除衛教圖片', {
              confirmButtonText: '確認',
              cancelButtonText: '取消',
              dangerouslyUseHTMLString:true,
              type: 'warning'
            }).then(async() => {
              const HealthFormData = new FormData()
              HealthFormData.append('partner_id',this.health.partner_id)
              HealthFormData.append('type','delete')
              HealthFormData.append('reserve_system_health_photo_id',file.reserve_system_health_photo_id)
              await this.$store.dispatch('reservationsystemappointhealth/edit_delete_health_photo', HealthFormData)
              for (let i = 0; i < this.health.reserve_system_health_photo.length; i++) {
                  if (this.health.reserve_system_health_photo[i].uid === file.uid) {
                  // Splice (index, length) deletes the data with the specified id
                      this.health.reserve_system_health_photo.splice(i, 1);
                  }
              }
              this.$emit('getHealth')
            }).catch(action => {
          this.$message({
            type: 'info',
            message: '取消刪除衛教圖片'
          }); 
        })
        }
        else{
          for (let i = 0; i < this.health.reserve_system_health_photo.length; i++) {
              if (this.health.reserve_system_health_photo[i].uid === file.uid) {
              // Splice (index, length) deletes the data with the specified id
                  this.health.reserve_system_health_photo.splice(i, 1);
              }
          }
        }
    },
    //預覽實際上傳圖片
    handlePreviewHealthPhoto(file) {
        console.log(file)
        if ('url' in file){
          this.dialogImageUrl = file.url;
        }
        else{
          this.dialogImageUrl = this.upload_path+file.reserve_system_health_photo
        }
        this.dialogPreviewVisible = true;
    },
    //新增衛教分類
    inserthealthcategory(){
      this.dialogHealthCategoryType = 'new'
      this.dialogHealthCategoryVisible = true
      defaultHealthCategory['partner_id'] = this.health.partner_id
      this.healthcategory = Object.assign({}, defaultHealthCategory)
    },
    //關閉衛教分類選單
    getHealthCategory_status_dialogtype(status,type){
      this.dialogHealthCategoryVisible = status
      this.dialogHealthCategoryType = type
    },
    //檢查file格式是否有包括url這個key值
    check_file_have_property(file){
      console.log(file)
      return 'url' in file
    }
  }
}
</script>