<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新最新消息':'新增最新消息'"
    :before-close="closeAddHotnews" center fullscreen
    append-to-body
    >
        <!-- {{hotnews}} -->
    <add-HotnewsCategorylist :dialogHotnewsCategoryType="dialogHotnewsCategoryType" :dialogHotnewsCategoryVisible="dialogHotnewsCategoryVisible" :hotnewscategorylist="hotnewscategory" 
     v-on:getHotnewscategoryliststatus="getHotnewscategoryliststatus" v-on:gethotnewscategoryupdate="getHotnewsCategory" />
    <!-- 新增最新消息分類 start -->
      <div style="text-align:right;">
          <el-button icon="el-icon-plus" type="primary" @click="inserthotnewscategory">新增最新消息分類</el-button>
      </div>
    <!-- 新增最新消息分類 end -->
      <el-form :rules="HotnewsRules" status-icon ref="hotnews" :model="hotnews" label-position="right">
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="8" :xl="8">
                <el-form-item label="最新消息標題" prop="hotnews_title">
                    <el-input ref="hotnews_title" v-model="hotnews.hotnews_title"
                    name="hotnews_title" placeholder="最新消息標題"
                    autocomplete="off" />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="8" :xl="8">
                <el-form-item label="最新消息分類" prop="hotnews_category_id">
                  <br/>
                    <el-select
                        v-model="hotnews.hotnews_category_id"
                        name="hotnews_category_id"
                        filterable
                        allow-create
                        default-first-option
                        placeholder="選擇最新消息分類"
                        ref="hotnews_category_id"
                        >
                        <el-option
                        v-for="item in hotnewscategorylist"
                        :key="item.hotnews_category_id"
                        :label="item.hotnews_category_name"
                        :value="item.hotnews_category_id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="8" :xl="8">
                <el-form-item label="最新消息狀態" prop="hotnews_status">
                  <br/>
                    <el-radio-group v-model="hotnews.hotnews_status" 
                    ref="hotnews_status" name="hotnews_status">
                        <el-radio-button label=0 border>草稿</el-radio-button>
                        <el-radio-button label=1 border>下架</el-radio-button>                        
                        <el-radio-button label=2 border>上架</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="最新消息內文" prop="hotnews_content">
                <!-- <el-input ref="hotnews_content" v-model="hotnews.hotnews_content" :autosize="{ minRows: 2, maxRows: 4}"
                    type="textarea" placeholder="最新消息內文"
                    name="hotnews_content" autocomplete="off"
                /> -->
                    <tinymce v-if="!reloading" :id="this.tinymce+'_'+this.tinykey" ref="editorHotnewsRef" v-model="hotnews.hotnews_content" :height="250" :key="this.tinykey" />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="原始最新消息">
                <br/>
                  <el-image :src="upload_path+origin_image"
                  style="width:500px;"
                  v-show="origin_image!=null"
                  >
                      <div slot="error" class="image-slot">
                      <i class="el-icon-picture-outline"></i>
                      </div>
                  </el-image>
                  <br/>
                  <el-tag v-show="origin_image==null" type="danger" style="margin:10px 0;font-size:15px;">無設定最新消息圖片</el-tag>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="上傳最新消息" prop="hotnews_photo">
                <el-upload
                    class="avatar-uploader"
                    :action="upload_path+'/hotnews_photo/'"
                    ref="hotnews_photo"
                    name="hotnews_photo"
                    :multiple="false"
                    :auto-upload="false"
                    :limit="1"
                    accept="image/png,image/jpeg"
                    :on-change="before_upload_image_upload"
                    :on-remove="reset_upload_image_upload"
                    >
                    <br/>
                    <img v-if="show_upload_image_preview" :src="show_upload_image_preview" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    <!-- <p style="color:red;">寬度：</p>
                    <p style="color:red;">高度：</p>
                    <p style="color:red;">寬高比率：</p>
                    <p style="color:red;">ssss</p> -->
                </el-upload>
              </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddHotnews">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmHotnews('hotnews')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 500px;
    /* height: 400px; */
    display: block;
  }
</style>
<script>
const defaultHotnewsCategorylist = {
    hotnews_category_name: ''
}
import { mapGetters } from 'vuex'
import AddHotnewsCategorylist from '../../tests/component/AddHotnewsCategorylist.vue'
import Tinymce from '@/components/Tinymce'
export default {
name: 'AddHotnews',
components: { AddHotnewsCategorylist,Tinymce },
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    hotnews:{
        type:Object,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  data() {
    return {
      HotnewsRules: {
        hotnews_title: [{ required: true,message: '最新消息標題為必填'}],
        hotnews_content: [{ required: true,message: '最新消息內文為必填'}],
        hotnews_status:[{ required:true,message: '最新消息狀態為必填'}],
        hotnews_category_id:[{ required: true,message: '最新消息分類為必填'}],
      },
      loading:false,
      // 圖片網址位置
      upload_path: '',
      //原始照片
      origin_image:'',
      //預覽照片
      show_upload_image_preview:'',
      // 所有最新消息分類搜尋資料帶出
      search_hotnews_category_record_data_times: '',
      hotnewscategory: Object.assign({}, defaultHotnewsCategorylist),
      dialogHotnewsCategoryType: 'new',
      dialogHotnewsCategoryVisible: false,
      tinymce:'tinymce_hotnews',
      tinykey:0,
      reloading:false,
    //   order_mid_loading:false,
    //   shopLoading:false,
    //   shop:[]
    }
  },
  computed: {
    ...mapGetters([
      'hotnewscategorylist',
      'partnerlist',
    ])
  },
    watch: {
      dialogType:{
        handler: function(val, oldVal) {
        if(this.dialogType=='edit'){
            this.origin_image = this.hotnews.hotnews_photo
        }
        else{
            this.origin_image = ''
        }
        this.reload()
        console.log(this.tinymce)
        console.log(this.tinykey)
        console.log(this.hotnews.hotnews_content)
        this.$refs.editorHotnewsRef.setContent(this.hotnews.hotnews_content)
      },
      immediate: true
      }
  },
  created() {
        // 圖片網址位置
        this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    reload(){
      this.reloading = true
      this.$nextTick(()=>{
        this.reloading = false
      })
    },
    //關閉選單
    closeAddHotnews(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    this.hotnews.hotnews_photo = this.origin_image

    this.show_upload_image_preview = null
    this.$emit('getHotnews_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    //新增最新消息分類
    inserthotnewscategory(){
      this.hotnewscategory = Object.assign({}, defaultHotnewsCategorylist)
      this.dialogHotnewsCategoryType = 'new'
      this.dialogHotnewsCategoryVisible = true
    },
    //得知所有的最新消息管理分類
    async getHotnewsCategory() {
      await this.$store.dispatch('hotnews/getHotnewsCategory',1)
    },
    // 關閉代父層最新消息分類dialog狀態
    getHotnewscategoryliststatus(status) {
      this.dialogHotnewsCategoryVisible = status
    },
    // 更新與新增選單
    confirmHotnews(hotnews) {
      this.$refs[hotnews].validate(valid => {
        if (valid) {
          this.loading = true
          const HotnewsFormData = new FormData()
          HotnewsFormData.append('partner_id',this.hotnews.partner_id)
          HotnewsFormData.append('hotnews_title',this.hotnews.hotnews_title)
          HotnewsFormData.append('hotnews_category_id',this.hotnews.hotnews_category_id)
          HotnewsFormData.append('hotnews_status',this.hotnews.hotnews_status)
          HotnewsFormData.append('hotnews_content',this.hotnews.hotnews_content)
          if(this.dialogType=='new'){
            if(this.hotnews.hotnews_photo!=null){
              HotnewsFormData.append('hotnews_photo',this.hotnews.hotnews_photo.raw)
            }
          }
          if(this.dialogType=='edit'){
            HotnewsFormData.append('hotnews_id',this.hotnews.hotnews_id)
            if(this.hotnews.hotnews_photo!=null){
              if(this.hotnews.hotnews_photo.raw!=null){
                HotnewsFormData.append('hotnews_photo',this.hotnews.hotnews_photo.raw)
              }
            }
          }
          this.$store.dispatch('hotnews/insert_update_hotnews', HotnewsFormData)
            .then((resp) => {
                if(this.dialogType=='new'){
                    if(this.hotnews.hotnews_photo!=null){
                        this.origin_image = ''
                    }
                }
                if(this.dialogType=='edit'){
                    if(this.hotnews.hotnews_photo!=null){
                        if(this.hotnews.hotnews_photo.raw!=null){
                            this.origin_image = resp.data['hotnews_photo']
                        }
                        else{
                            this.origin_image = resp.data['hotnews_photo']
                        }
                    }
                }
                this.$emit('getHotnews')
                //判斷是否為新增或修改
                if(this.dialogType!="edit"&&resp.success==true){
                    this.$nextTick(() => {
                      this.$refs[hotnews].resetFields()
                    })
                }
                //預覽圖片回復預設值
                this.$refs.hotnews_photo.clearFiles()
                this.show_upload_image_preview = null
                this.loading = false
                //關閉選單
                if(resp.success==true){
                  this.closeAddHotnews()
                }
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    before_upload_image_upload(file) {
        // const isJPG = file.name.toLowerCase() === 'image/jpeg'||'image/png';
        // // console.log(file.raw.name.split('.')[1]=='jpeg')
        // if(file.raw.name.split('.')[1]=='jpg'){
        //   this.$message.error('上傳格式不正確!!，請將副檔名.jpg更換.jpeg');
        //   this.banner.reserve_system_banner_photo = ""
        //   this.show_upload_image_preview = null
        //   this.$refs.image.clearFiles()
        //   return false;
        // }
        const isLt1M = file.size / 1024 / 1024 < 2;
        if (!isLt1M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
        //   this.$refs.
        return isLt1M;
        }
        const issize = new Promise((resolve,reject)=>{
            let reader = new FileReader()
            reader.readAsDataURL(file.raw);
            let URL = window.URL || window.webkitURL;
            console.log("file",file)
            let image = new Image()
            image.onload = function(){
                console.log(image)
                console.log("image.width",image.width)
                console.log("image.height",image.height)
                console.log("image.width/image.height",image.width/image.height)
                // if((image.width<800||image.width>2500)){
                //     // this.$message.error('上傳寬度須介於800px到2500px之間');
                //     reject('上傳寬度須介於800px到2500px之間')
                // }
                if((1700<image.height)){
                    // this.$message.error('上傳高度須介於250px到720px之間');
                    reject('上傳高度須小於1700px')
                }
                // if((image.width/image.height)<2){
                //     // this.$message.error('上傳比例須大於1.45以上');
                //     reject('上傳比例須小於2以上')
                // }
                resolve()
            }
            this.hotnews.hotnews_photo = file
            this.show_upload_image_preview = URL.createObjectURL(file.raw);
            image.src = this.show_upload_image_preview
        }).then(()=>{
            // 預覽圖片
            // return isLt1M&isJPG&issize;
            return isLt1M&issize;
        },
        (error)=>{
            console.log("error",error)
            this.$message.error(error)
            this.hotnews.hotnews_photo = ""
            this.show_upload_image_preview = null
            this.$refs.hotnews_photo.clearFiles()
            return Promise.reject()
        })
    },
    // 取消上傳圖片
    reset_upload_image_upload(){
      this.hotnews.hotnews_photo = this.origin_image
      this.show_upload_image_preview = null
    },
  }
}
</script>