<template>
    <div>
    <el-dialog :visible="dialogHealthCategoryVisible" :title="dialogHealthCategoryType==='edit'?'更新服務項目分類':'新增服務項目分類'"
    :before-close="closeAddHealthCategory" center
    width="50%"
    append-to-body
    >
        <!-- {{healthcategory}} -->
      <el-form :rules="HealthCategoryRules" status-icon ref="healthcategory" :model="healthcategory" label-position="right">
        <el-row :gutter="20">
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="服務項目分類標題" prop="reserve_system_health_category_name">
                <el-input ref="reserve_system_health_category_name" v-model="healthcategory.reserve_system_health_category_name"
                name="reserve_system_health_category_name" placeholder="服務項目分類標題"
                autocomplete="off" />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="服務項目分類狀態" prop="reserve_system_health_category_status">
              <br>
              <el-radio-group v-model="healthcategory.reserve_system_health_category_status" name="reserve_system_health_category_status">
                <el-radio-button label=0 border>下架</el-radio-button>
                <el-radio-button label=1 border>上架</el-radio-button>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddHealthCategory">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmHealthCategory('healthcategory')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
export default {
name: 'AddHealthCategory',
props:{
    dialogHealthCategoryType:{
        type:String,
        require:true
    },
    dialogHealthCategoryVisible:{
        type:Boolean,
        require:true
    },
    healthcategory:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      HealthCategoryRules: {
        //   reserve_system_banner_photo:[
        //     { required: true,message: '大圖輪播照片必填欄位' },
        //   ],
          reserve_system_health_category_name:[
            { required: true,message: '衛教分類標題為必填欄位' },
          ],
          reserve_system_health_category_status:[
            { required: true,message: '衛教分類狀態為必填欄位' },
          ],
      },
      loading:false,
    }
  },
  methods: {
    //關閉衛教分類選單
    closeAddHealthCategory(){
    //更新資料進入外層的衛教選單
    this.dialogHealthCategoryVisible = false
    this.dialogHealthCategoryType = ''
    this.$emit('getHealthCategory_status_dialogtype',this.dialogHealthCategoryVisible,this.dialogHealthCategoryType)
    },
    // 更新與新增衛教分類
    confirmHealthCategory(healthcategory) {
      this.$refs[healthcategory].validate(async valid => {
        if (valid) {
          this.loading = true
          await this.$store.dispatch('reservationsystemappointhealth/insert_update_health_category', this.healthcategory)
            .then((resp) => {
                //判斷是否為新增或修改
                if(this.dialogHealthCategoryType!="edit"&&resp.success==true){
                    this.$nextTick(() => {
                      this.$refs[healthcategory].resetFields()
                    })
                }
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
            var payload = ''
            payload ='all?partner_id='+this.healthcategory.partner_id
            await this.$store.dispatch('reservationsystemappointhealth/getHealthCategory',payload)
            //關閉衛教分類選單
            if(resp.success==true){
              await this.closeAddHealthCategory()
            }
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    }
  }
}
</script>