<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新首頁跑馬燈':'新增首頁跑馬燈'"
    :before-close="closeAddMarquee" 
    center
    width="75%"
    append-to-body
    >
        <!-- {{banner}} -->
      <el-form :rules="MarqueeRules" status-icon ref="marquee" :model="marquee" label-position="right">
          <!-- {{banner}}
          {{upload_path+origin_image}} -->
        <el-row :gutter="20">
            <el-col :xs="12" :sm="12" :lg="12" :xl="12">
            <el-form-item label="跑馬燈內容" prop="reserve_system_marquee_content">
                <el-input v-model="marquee.reserve_system_marquee_content"
                placeholder="跑馬燈內容"
                type="textarea"
                :rows="2"
                ref="reserve_system_marquee_content"
                name="reserve_system_marquee_content"
                autocomplete="off"
                  />
            </el-form-item>
            </el-col>
            <el-col :xs="12" :sm="12" :lg="12" :xl="12">
            <el-form-item label="綁定狀態" prop="reserve_system_marquee_status">
              <br>
              <el-radio-group v-model="marquee.reserve_system_marquee_status" name="reserve_system_marquee_status">
                <el-radio-button label=0 border>草稿</el-radio-button>
                <el-radio-button label=1 border>下架</el-radio-button>
                <el-radio-button label=2 border>上架</el-radio-button>
              </el-radio-group>
            </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddMarquee">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmMarquee('marquee')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
import { postMarqueeList } from '@/api/reservationsystemmarquee'
import Cookies from 'js-cookie'
export default {
name: 'AddMarquee',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    marquee:{
        type:Object,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  data() {
    return {
      MarqueeRules: {
          reserve_system_marquee_content:[
            { required: true,message: '跑馬燈內容必填欄位' },
          ],
          reserve_system_marquee_status:[
            { required: true,message: '跑馬燈狀態為必填欄位' },
          ],
      },
      loading:false,
    }
  },
  methods: {
    //關閉選單
    closeAddMarquee(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    this.marquee.reserve_system_marquee_photo = this.origin_image

    this.show_upload_image_preview = null
    this.$emit('getMarquee_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    // 更新與新增選單
    confirmMarquee(marquee) {
      this.$refs[marquee].validate(valid => {
        if (valid) {
          this.loading = true
          postMarqueeList(this.marquee)
            .then((resp) => {
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
                })
                this.$emit('getMarquee')
                //判斷是否為新增或修改
                if(this.dialogType!="edit"&&resp.success==true){
                    this.$nextTick(() => {
                      this.$refs[marquee].resetFields()
                    })
                }
                this.loading = false
                //關閉選單
                if(resp.success==true){
                  this.closeAddMarquee()
                }
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    }
  }
}
</script>