<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新服務項目':'新增服務項目'"
    :before-close="closeAddService" center fullscreen
    append-to-body
    >
    <!-- {{service}} -->
    <!-- {{dialogType}} -->
        <!-- {{service.reserve_system_service_photo}} -->
        <!-- {{servicecategory}} -->
      <el-tabs v-model="activeTab">
        <el-tab-pane :label="dialogType==='edit'?'更新服務項目':'新增服務項目'" name="insert_update_reserve_system_service">
          <!-- 新服務項目分類按鈕 start -->
          <div style="text-align:right;">
            <el-row :gutter="20">
                <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                  <!-- 判斷複製治療師 -->
                  <div v-show="dialogType=='new'&&service.reserve_system_service_class=='1'">
                    <el-select
                    v-model="copy_service_item"
                    placeholder="請選擇複製治療師"
                    filterable
                    default-first-option
                    @change="set_copy_service(copy_service_item)"
                    >
                    <el-option
                        v-for="item in appoint_shop_List.list"
                        :key="item.reserve_system_shop_basic_teacher"
                        :label="item.reserve_system_shop_basic_teacher"
                        :value="item.reserve_system_shop_basic_teacher"

                    />
                    </el-select>
                  </div>
                  <div v-show="dialogType=='new'&&service.reserve_system_service_class=='0'">
                     <!-- 判斷複製課程 -->
                    <el-select
                    v-model="copy_service_item"
                    placeholder="請選擇複製課程"
                    filterable
                    default-first-option
                    @change="set_copy_service(copy_service_item)"
                    >
                    <el-option
                        v-for="item in appoint_shop_List.list"
                        :key="item.reserve_system_shop_basic_class_name"
                        :label="item.reserve_system_shop_basic_class_name"
                        :value="item.reserve_system_shop_basic_class_name"

                    />
                    </el-select>
                  </div>
                    <el-button type="primary" icon="el-icon-plus" @click="insertservicecategory" style="float:right; margin:5px 0;">新增服務項目分類</el-button>
                </el-col>
            </el-row>
          </div>
          <AddServiceCategory :servicecategory="servicecategory" :dialogServiceCategoryType="dialogServiceCategoryType" :dialogServiceCategoryVisible="dialogServiceCategoryVisible" @getServiceCategory_status_dialogtype="getServiceCategory_status_dialogtype" />
          <!-- 新服務項目分類按鈕 end -->
          <!--新增/更新服務項目 start  -->
          <el-form :rules="ServiceRules" status-icon ref="service" :model="service" label-position="right">
            <el-row :gutter="20">
                <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                    <el-form-item label="服務項目標題" prop="reserve_system_service_title">
                        <el-input ref="reserve_system_service_title" v-model="service.reserve_system_service_title"
                        name="reserve_system_service_title" placeholder="服務項目標題"
                        autocomplete="off" />
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                    <el-form-item label="服務項目分類" prop="reserve_system_service_category_id">
                      <br/>
                        <el-select
                            v-model="service.reserve_system_service_category_id"
                            name="reserve_system_service_category_id"
                            filterable
                            allow-create
                            default-first-option
                            placeholder="選擇服務項目分類"
                            ref="reserve_system_service_category_id"
                            >
                            <el-option
                            v-for="item in servicecategorylist"
                            :key="item.reserve_system_service_category_id"
                            :label="item.reserve_system_service_category_name"
                            :value="item.reserve_system_service_category_id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                    <el-form-item label="服務項目類型" prop="reserve_system_service_class">
                      <br/>
                        <el-radio-group v-model="service.reserve_system_service_class" 
                        ref="reserve_system_service_class" name="reserve_system_service_class">
                            <el-radio-button label=0 border>課程</el-radio-button>                        
                            <el-radio-button label=1 border>治療師</el-radio-button>
                        </el-radio-group>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                    <el-form-item label="服務項目狀態" prop="reserve_system_service_status">
                      <br/>
                        <el-radio-group v-model="service.reserve_system_service_status" 
                        ref="reserve_system_service_status" name="reserve_system_service_status">
                            <el-radio-button label=0 border>下架</el-radio-button>                        
                            <el-radio-button label=1 border>上架</el-radio-button>
                        </el-radio-group>
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                    <el-form-item label="服務項目內文" prop="reserve_system_service_intro">
                    <!-- <el-input ref="reserve_system_service_intro" v-model="service.reserve_system_service_intro" :autosize="{ minRows: 2, maxRows: 4}"
                        type="textarea" placeholder="服務項目內文"
                        name="reserve_system_service_intro" autocomplete="off"
                    /> -->
                    <!-- {{this.tinymce+'_'+this.tinykey}} -->
                    <tinymce v-if="!reloading" :id="this.tinymce+'_'+this.tinykey" ref="editorServiceRef" v-model="service.reserve_system_service_intro" :height="250" :key="this.tinykey" />
                    </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-show="dialogType==='new'">
                <el-form-item label="上傳服務項目圖片" prop="reserve_system_service_photo">
                    <el-upload
                    action="#"
                    :multiple="true"
                    list-type="picture-card"
                    :file-list="service.reserve_system_service_photo"
                    ref="reserve_system_service_photo"
                    accept="image/png,image/jpeg,image/jpg"
                    :on-change="handleChangeServicePhoto"
                    :auto-upload="false">
                        <i slot="default" class="el-icon-plus"></i>
                        <div slot="file" slot-scope="{file}">
                        
                        <img
                            class="el-upload-list__item-thumbnail"
                            :src="file.url" alt=""
                        >
                        <span class="el-upload-list__item-actions">
                            <span
                            class="el-upload-list__item-preview"
                            @click="handlePreviewServicePhoto(file)"
                            >
                            <i class="el-icon-zoom-in"></i>
                            </span>
                            <!-- <span
                            v-if="!disabled"
                            class="el-upload-list__item-delete"
                            @click="handleDownload(file)"
                            >
                            <i class="el-icon-download"></i>
                            </span> -->
                            <span
                            v-if="!disabled"
                            class="el-upload-list__item-delete"
                            @click="handleRemoveServicePhoto(file)"
                            >
                            <i class="el-icon-delete"></i>
                            </span>
                        </span>
                        </div>
                    </el-upload>
                    <el-dialog 
                    :visible.sync="dialogPreviewVisible"
                    append-to-body
                    >
                    <img width="100%" :src="dialogImageUrl" alt="">
                    </el-dialog>
                </el-form-item>
                </el-col>
            </el-row>
          </el-form>
          <div style="text-align:right;">
            <el-button type="danger" @click="closeAddService">關閉</el-button>
            <el-button :loading="loading" type="primary" @click.native.prevent="confirmService('service')">確認</el-button>
          </div>
          <!--新增/更新服務項目 end  -->
        </el-tab-pane>
        <el-tab-pane label="更新服務項目圖片" name="update_reserve_system_service_photo" v-if="dialogType==='edit'">
          <div>
              <!--更新服務項目圖片 start  -->
              <el-form status-icon ref="service" :model="service" label-position="right">
                <el-row :gutter="20">
                  <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                  <el-form-item label="上傳服務項目圖片" prop="reserve_system_service_photo">
                      <el-upload
                      action="#"
                      :multiple="true"
                      list-type="picture-card"
                      :file-list="service.reserve_system_service_photo"
                      ref="reserve_system_service_photo"
                      accept="image/png,image/jpeg,image/jpg"
                      :on-change="handleEditChangeServicePhoto"
                      :auto-upload="false">
                          <i slot="default" class="el-icon-plus"></i>
                          <div slot="file" slot-scope="{file}">
                          <img
                              class="el-upload-list__item-thumbnail"
                              :src="check_file_have_property(file)?file.url:upload_path+file.reserve_system_service_photo" alt=""

                          >
                          <span class="el-upload-list__item-actions">
                              <span
                              class="el-upload-list__item-preview"
                              @click="handlePreviewServicePhoto(file)"
                              >
                              <i class="el-icon-zoom-in"></i>
                              </span>
                              <!-- <span
                              v-if="!disabled"
                              class="el-upload-list__item-delete"
                              @click="handleDownload(file)"
                              >
                              <i class="el-icon-download"></i>
                              </span> -->
                              <span
                              v-if="!disabled"
                              class="el-upload-list__item-delete"
                              @click="handleEditRemoveServicePhoto(file)"
                              >
                              <i class="el-icon-delete"></i>
                              </span>
                          </span>
                          </div>
                      </el-upload>
                      <el-dialog 
                      :visible.sync="dialogPreviewVisible"
                      append-to-body
                      >
                      <img width="100%" :src="dialogImageUrl" alt="">
                      </el-dialog>
                  </el-form-item>
                  </el-col>
                </el-row>
              </el-form>
              <div style="text-align:right;">
                <el-button type="danger" @click="closeAddService">關閉</el-button>
              </div>
              <!--更新服務項目圖片 end  -->
          </div>
        </el-tab-pane>
      </el-tabs>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 500px;
    /* height: 400px; */
    display: block;
  }
</style>
<script>
const defaultServiceCategory = {
    partner_id: '', reserve_system_service_category_name:'',
    reserve_system_service_category_status:1
}
import { getAppointShopList } from '@/api/reservationsystemappointshop'
import { mapGetters } from 'vuex'
import Tinymce from '@/components/Tinymce'
import AddServiceCategory from './AddServiceCategory.vue'
export default {
name: 'AddService',
components:{ AddServiceCategory,Tinymce },
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    service:{
        type:Object,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  data() {
    return {
      activeTab:'insert_update_reserve_system_service',
      ServiceRules: {
        reserve_system_service_category_id: [{ required: true,message: '服務項目分類為必填'}],
        reserve_system_service_class: [{ required: true,message: '服務項目類型為必填'}],
        reserve_system_service_title:[{ required:true,message: '服務項目標題為必填'}],
        reserve_system_service_intro:[{ required: true,message: '服務項目簡介為必填'}],
        reserve_system_service_status:[{ required: true,message: '服務項目狀態為必填'}]
      },
      loading:false,
      dialogPreviewVisible:false,
      disabled:false,
      dialogImageUrl:'',
      tinymce:'tinymce_service',
      tinykey:0,
      reloading:false,
      servicecategory: Object.assign({}, defaultServiceCategory),
      dialogServiceCategoryType:'',
      dialogServiceCategoryVisible:false,
      copy_service_item:'',
      appoint_shop_List:[],
      upload_path: '',
      show_upload_image_preview:[]
    }
  },
  computed: {
    ...mapGetters([
      'servicecategorylist',
      'partnerlist',
    ])
  },
    watch: {
      dialogType:{
        handler: function(val, oldVal) {
          if(val=='new'){
            if(this.service.reserve_system_service_class=="0"){
              this.copy_service_item =''
              //得知「課程」商品基本資料
              this.get_shop_basic_list(val)
            }
            if(this.service.reserve_system_service_class=="1"){
              this.copy_service_item =''
              //得知「治療師」商品基本資料
              this.get_shop_basic_list(val)
            }
          }
          this.reload()
          console.log(this.tinymce)
          console.log(this.tinykey)
          console.log(this.service.reserve_system_service_intro)
          this.$refs.editorServiceRef.setContent(this.service.reserve_system_service_intro)
      },
      immediate: true
      },
      "service.reserve_system_service_class":{
        handler: function(val, oldVal) {
          if(this.dialogType=='new'){
            if(val=="0"){
              this.copy_service_item =''
              //得知「課程」商品基本資料
              this.get_shop_basic_list(val)
            }
            if(val=="1"){
              this.copy_service_item =''
              //得知「治療師」商品基本資料
              this.get_shop_basic_list(val)
            }
          }
      },
      immediate: true
      }
  },
  created() {
        // 圖片網址位置
        this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    reload(){
      this.reloading = true
      this.$nextTick(()=>{
        this.reloading = false
      })
    },
    //關閉選單
    async closeAddService(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    this.activeTab = 'insert_update_reserve_system_service'
    this.$emit('getService_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    // 更新與新增服務項目
    confirmService(service) {
      this.$refs[service].validate(valid => {
        if (valid) {
          this.loading = true
          const ServiceFormData = new FormData()
          ServiceFormData.append('partner_id',this.service.partner_id)
          ServiceFormData.append('reserve_system_service_category_id',this.service.reserve_system_service_category_id)
          ServiceFormData.append('reserve_system_service_class',this.service.reserve_system_service_class)
          ServiceFormData.append('reserve_system_service_title',this.service.reserve_system_service_title)
          ServiceFormData.append('reserve_system_service_intro',this.service.reserve_system_service_intro)
          ServiceFormData.append('reserve_system_service_status',this.service.reserve_system_service_status)
          //新增
          if(this.dialogType=='new'){
            console.log(this.service.reserve_system_service_photo.length==0)
            //判斷服務項目有圖片時觸發
            if(this.service.reserve_system_service_photo.length!=0){
                //服務項目圖片不止一張，一張一張迭代
                this.service.reserve_system_service_photo.forEach((element,index) => {
                    // console.log(element.raw)
                   ServiceFormData.append('reserve_system_service_photo['+index+']',element.raw)
                });
            }
            //判斷服務項目無圖片時觸發
            else{
              ServiceFormData.append('reserve_system_service_photo',"null")
            }
          }
          //修改
          else{
            ServiceFormData.append('reserve_system_service_id',this.service.reserve_system_service_id)
          }
          this.$store.dispatch('reservationsystemappointservice/insert_update_service', ServiceFormData)
            .then((resp) => {
                this.$emit('getService')
                //判斷是否為新增或修改
                if(this.dialogType!="edit"&&resp.success==true){
                    this.$nextTick(() => {
                      this.$refs[service].resetFields()
                      this.service.reserve_system_service_photo_delete = []
                      this.service.reserve_system_service_photo = []
                    })
                }
                this.loading = false
                //關閉選單
                if(resp.success==true){
                  this.closeAddService()
                }
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    handleChangeServicePhoto(file) {
        console.log(file.raw);
        // const isJPG = file.name.toLowerCase() === 'image/jpeg'||'image/png';
        // console.log(file.raw.name.split('.')[1]=='jpeg')
        // if(file.raw.name.split('.')[1]=='jpg'){
        //   this.$message.error('上傳格式不正確!!，請將副檔名.jpg更換.jpeg');
        //   this.$refs.reserve_system_service_photo.clearFiles()
        //   return false;
        // }
        const isLt1M = file.size / 1024 / 1024 < 2;
        if (!isLt1M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
          this.service.reserve_system_service_photo = []
        //   this.$refs.
        return false;
        }
        else{
          //新增資料到服務項目圖片array
          this.service.reserve_system_service_photo.push(file)
        }

    },
    //編輯服務項目圖片
    async handleEditChangeServicePhoto(file) {
        console.log(file.raw);
        // const isJPG = file.name.toLowerCase() === 'image/jpeg'||'image/png';
        // console.log(file.raw.name.split('.')[1]=='jpeg')
        // if(file.raw.name.split('.')[1]=='jpg'){
        //   this.$message.error('上傳格式不正確!!，請將副檔名.jpg更換.jpeg');
        //   this.$refs.reserve_system_service_photo.clearFiles()
        //   return false;
        // }
        const isLt1M = file.size / 1024 / 1024 < 2;
        if (!isLt1M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
          this.service.reserve_system_service_photo = []
        //   this.$refs.
        return false;
        }
        else{
          //新增資料到服務項目圖片array
          this.service.reserve_system_service_photo.push(file)
          const ServiceFormData = new FormData()
          ServiceFormData.append('partner_id',this.service.partner_id)
          ServiceFormData.append('type','insert')
          ServiceFormData.append('reserve_system_service_id',this.service.reserve_system_service_id)
          if(this.service.reserve_system_service_photo.length!=0){
              //服務項目圖片不止一張，一張一張迭代
              this.service.reserve_system_service_photo.forEach((element) => {
                  // console.log(element.raw)
                  if('raw' in element){
                    ServiceFormData.append('reserve_system_service_photo[0]',element.raw)
                  }
              });
          }
          await this.$store.dispatch('reservationsystemappointservice/edit_delete_service_photo', ServiceFormData)
          this.$emit('getService')
        }
    },
    //新增時刪除圖片
    handleRemoveServicePhoto(file) {
        console.log(file);
        this.service.reserve_system_service_photo_delete.push(file.uid)
        for (let i = 0; i < this.service.reserve_system_service_photo.length; i++) {
            if (this.service.reserve_system_service_photo[i].uid === file.uid) {
            // Splice (index, length) deletes the data with the specified id
                this.service.reserve_system_service_photo.splice(i, 1);
            }
        }
    },
    //編輯時刪除圖片
    handleEditRemoveServicePhoto(file) {
        console.log(file);
        //判斷有無reserve_system_service_photo圖片
        if ('reserve_system_service_photo' in file){
          this.$confirm(
            '<span style="font-size:16px;color:black;">您確定刪除此筆服務項目圖片？</span>'+'<br/>'+
            '<span style="font-size:18px;color:red;">刪除無法進行復原</span>'
          ,'刪除服務項目圖片', {
              confirmButtonText: '確認',
              cancelButtonText: '取消',
              dangerouslyUseHTMLString:true,
              type: 'warning'
            }).then(async() => {
              const ServiceFormData = new FormData()
              ServiceFormData.append('partner_id',this.service.partner_id)
              ServiceFormData.append('type','delete')
              ServiceFormData.append('reserve_system_service_photo_id',file.reserve_system_service_photo_id)
              await this.$store.dispatch('reservationsystemappointservice/edit_delete_service_photo', ServiceFormData)
              for (let i = 0; i < this.service.reserve_system_service_photo.length; i++) {
                  if (this.service.reserve_system_service_photo[i].uid === file.uid) {
                  // Splice (index, length) deletes the data with the specified id
                      this.service.reserve_system_service_photo.splice(i, 1);
                  }
              }
              this.$emit('getService')
            }).catch(action => {
          this.$message({
            type: 'info',
            message: '取消刪除服務項目圖片'
          }); 
        })
        }
        else{
          for (let i = 0; i < this.service.reserve_system_service_photo.length; i++) {
              if (this.service.reserve_system_service_photo[i].uid === file.uid) {
              // Splice (index, length) deletes the data with the specified id
                  this.service.reserve_system_service_photo.splice(i, 1);
              }
          }
        }
    },
    //預覽實際上傳圖片
    handlePreviewServicePhoto(file) {
        console.log(file)
        if ('url' in file){
          this.dialogImageUrl = file.url;
        }
        else{
          this.dialogImageUrl = this.upload_path+file.reserve_system_service_photo
        }
        this.dialogPreviewVisible = true;
    },
    //新增服務項目分類
    insertservicecategory(){
      this.dialogServiceCategoryType = 'new'
      this.dialogServiceCategoryVisible = true
      defaultServiceCategory['partner_id'] = this.service.partner_id
      this.servicecategory = Object.assign({}, defaultServiceCategory)
    },
    //關閉服務項目分類選單
    getServiceCategory_status_dialogtype(status,type){
      this.dialogServiceCategoryVisible = status
      this.dialogServiceCategoryType = type
    },
    get_shop_basic_list(val){
      this.appoint_shop_List = []
      var payload ='all?partner_id='+this.service.partner_id+'&reserve_system_shop_basic_class='+val
      getAppointShopList(payload).then(resp => {
        this.appoint_shop_List = resp.data
      })
    },
    set_copy_service(service_item){
      this.service.reserve_system_service_title = service_item
    },
    //檢查file格式是否有包括url這個key值
    check_file_have_property(file){
      console.log(file)
      return 'url' in file
    }
  }
}
</script>