<template>
    <div>
    <el-dialog :visible="dialogServiceCategoryVisible" :title="dialogServiceCategoryType==='edit'?'更新服務項目分類':'新增服務項目分類'"
    :before-close="closeAddServiceCategory" center
    width="50%"
    append-to-body
    >
        <!-- {{servicecategory}} -->
      <el-form :rules="ServiceCategoryRules" status-icon ref="servicecategory" :model="servicecategory" label-position="right">
        <el-row :gutter="20">
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="服務項目分類標題" prop="reserve_system_service_category_name">
                <el-input ref="reserve_system_service_category_name" v-model="servicecategory.reserve_system_service_category_name"
                name="reserve_system_service_category_name" placeholder="服務項目分類標題"
                autocomplete="off" />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="服務項目分類狀態" prop="reserve_system_service_category_status">
              <br>
              <el-radio-group v-model="servicecategory.reserve_system_service_category_status" name="reserve_system_service_category_status">
                <el-radio-button label=0 border>下架</el-radio-button>
                <el-radio-button label=1 border>上架</el-radio-button>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddServiceCategory">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmServiceCategory('servicecategory')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
export default {
name: 'AddServiceCategory',
props:{
    dialogServiceCategoryType:{
        type:String,
        require:true
    },
    dialogServiceCategoryVisible:{
        type:Boolean,
        require:true
    },
    servicecategory:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      ServiceCategoryRules: {
        //   reserve_system_banner_photo:[
        //     { required: true,message: '大圖輪播照片必填欄位' },
        //   ],
          reserve_system_service_category_name:[
            { required: true,message: '服務項目分類標題為必填欄位' },
          ],
          reserve_system_service_category_status:[
            { required: true,message: '服務項目分類狀態為必填欄位' },
          ],
      },
      loading:false,
    }
  },
  methods: {
    //關閉服務項目分類選單
    closeAddServiceCategory(){
    //更新資料進入外層的服務項目選單
    this.dialogServiceCategoryVisible = false
    this.dialogServiceCategoryType = ''
    this.$emit('getServiceCategory_status_dialogtype',this.dialogServiceCategoryVisible,this.dialogServiceCategoryType)
    },
    // 更新與新增服務項目分類
    confirmServiceCategory(servicecategory) {
      this.$refs[servicecategory].validate(async valid => {
        if (valid) {
          this.loading = true
          await this.$store.dispatch('reservationsystemappointservice/insert_update_service_category', this.servicecategory)
            .then((resp) => {
                //判斷是否為新增或修改
                if(this.dialogServiceCategoryType!="edit"&&resp.success==true){
                    this.$nextTick(() => {
                      this.$refs[servicecategory].resetFields()
                    })
                }
                this.loading = false
                //關閉選單
                if(resp.success==true){
                  this.closeAddServiceCategory()
                }
            })
            .catch(() => {
              this.loading = false
              return false
            })
            var payload = ''
            payload ='all?partner_id='+this.servicecategory.partner_id
            await this.$store.dispatch('reservationsystemappointservice/getServiceCategory',payload)
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    }
  }
}
</script>