<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新團隊成員':'新增團隊成員'"
    :before-close="closeAddTeam" center fullscreen
    append-to-body
    >
        <!-- {{team}} -->
      <el-form :rules="TeamRules" status-icon ref="team" :model="team" label-position="right">
          <!-- {{team}}
          {{upload_path+origin_image}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="團隊成員" prop="reserve_system_team_member_name">
                  <el-input ref="reserve_system_team_member_name" v-model="team.reserve_system_team_member_name"
                  name="reserve_system_team_member_name" placeholder="團隊成員"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="團隊成員狀態" prop="reserve_system_team_member_status">
              <br>
              <el-radio-group v-model="team.reserve_system_team_member_status" name="reserve_system_team_member_status">
                <el-radio-button label=0 border>下架</el-radio-button>
                <el-radio-button label=1 border>上架</el-radio-button>
              </el-radio-group>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="原始團隊成員">
                <br/>
                <el-image :src="upload_path+origin_image"
                style="width:500px;"
                >
                    <div slot="error" class="image-slot">
                    <i class="el-icon-picture-outline"></i>
                    </div>
                </el-image>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="團隊成員頭貼" prop="reserve_system_team_member_avatar">
            <el-upload
                class="avatar-uploader"
                :action="upload_path+'/reserve_system_team/'"
                ref="reserve_system_team_member_avatar"
                name="reserve_system_team_member_avatar"
                :multiple="false"
                :auto-upload="false"
                :limit="1"
                accept="image/png,image/jpeg"
                :on-change="before_upload_image_upload"
                :on-remove="reset_upload_image_upload"
                >
                <br/>
                <img v-if="show_upload_image_preview" :src="show_upload_image_preview" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                <!-- <p style="color:red;">寬度：</p>
                <p style="color:red;">高度：</p>
                <p style="color:red;">寬高比率：</p>
                <p style="color:red;">ssss</p> -->
            </el-upload>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="團隊成員專業證照">
                    <el-button type="primary" @click="insert_team_member_certification">＋</el-button>
                </el-form-item>
            </el-col>
            <!-- 團隊成員專業證照 start -->
            <div v-for="(reserve_system_team_member_certification,index) in team.reserve_system_team_member_certification" :key="index">
                <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                    <i class="el-icon-delete" @click="remove_team_member_certification(index)" style="color:red;cursor:pointer;" />
                </el-col>
                <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="團隊成員專業證照" class="el-form-item--small has-error" :prop="'reserve_system_team_member_certification.'+index+'.reserve_system_team_member_certification_name'" :rules="[{ required: true, message: '團隊成員專業證照為必填欄位'}]">
                    <el-input v-model="reserve_system_team_member_certification.reserve_system_team_member_certification_name"
                    placeholder="團隊成員專業證照"
                    autocomplete="off" />
                </el-form-item>
                </el-col>
            </div>
             <!-- 團隊成員專業證照 end -->
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="團隊成員學經歷">
                    <el-button type="primary" @click="insert_team_member_education">＋</el-button>
                </el-form-item>
            </el-col>
            <!-- 團隊成員學經歷 start -->
            <div v-for="(reserve_system_team_member_education,index) in team.reserve_system_team_member_education" :key="index">
                <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                    <i class="el-icon-delete" @click="remove_team_member_education(index)" style="color:red;cursor:pointer;" />
                </el-col>
                <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="團隊成員學經歷" class="el-form-item--small has-error" :prop="'reserve_system_team_member_education.'+index+'.reserve_system_team_member_education_name'" :rules="[{ required: true, message: '團隊成員學經歷為必填欄位'}]">
                    <el-input v-model="reserve_system_team_member_education.reserve_system_team_member_education_name"
                    placeholder="團隊成員學經歷"
                    autocomplete="off" />
                </el-form-item>
                </el-col>
            </div>
             <!-- 團隊成員學經歷 end -->
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="團隊成員專長">
                    <el-button type="primary" @click="insert_team_member_expertise">＋</el-button>
                </el-form-item>
            </el-col>
            <!-- 團隊成員專長 start -->
            <div v-for="(reserve_system_team_member_expertise,index) in team.reserve_system_team_member_expertise" :key="index">
                <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                    <i class="el-icon-delete" @click="remove_team_member_expertise(index)" style="color:red;cursor:pointer;" />
                </el-col>
                <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="團隊成員專長" class="el-form-item--small has-error" :prop="'reserve_system_team_member_expertise.'+index+'.reserve_system_team_member_expertise_name'" :rules="[{ required: true, message: '團隊成員專長為必填欄位'}]">
                    <el-input v-model="reserve_system_team_member_expertise.reserve_system_team_member_expertise_name"
                    placeholder="團隊成員專長"
                    autocomplete="off" />
                </el-form-item>
                </el-col>
            </div>
             <!-- 團隊成員專長 end -->
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddTeam">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmTeam('team')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 500px;
    /* height: 400px; */
    display: block;
  }
</style>
<script>
import { postTeamList } from '@/api/reservationsystemteam'
import Cookies from 'js-cookie'
export default {
name: 'AddTeam',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    team:{
        type:Object,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  data() {
    return {
      TeamRules: {
        //   reserve_system_banner_photo:[
        //     { required: true,message: '大圖輪播照片必填欄位' },
        //   ],
          reserve_system_team_member_name:[
            { required: true,message: '團隊成員為必填欄位' },
          ],
          reserve_system_team_member_status:[
            { required: true,message: '團隊成員狀態為必填欄位' },
          ],
      },
      loading:false,
      // 圖片網址位置
      upload_path: '',
      //原始照片
      origin_image:'',
      //預覽照片
      show_upload_image_preview:'',
    //   order_mid_loading:false,
    //   shopLoading:false,
    //   shop:[]
    }
  },
    watch: {
      dialogType:{
        handler: function(val, oldVal) {
        if(this.dialogType=='edit'){
            this.origin_image = this.team.reserve_system_team_member_avatar
        }
        else{
            this.origin_image = ''
        }
      },
      immediate: true
      }
  },
  created() {
        // 圖片網址位置
        this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    //關閉選單
    closeAddTeam(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    this.team.reserve_system_team_member_avatar = this.origin_image
    this.show_upload_image_preview = null
    this.$emit('getTeam_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    //新增團隊成員專業證照
    insert_team_member_certification(){
        this.team.reserve_system_team_member_certification.push(
          {
            "reserve_system_team_member_certification_name":null,
          })
    },
    //刪除團隊成員專業證照
    remove_team_member_certification(index){
        this.team.reserve_system_team_member_certification.splice(index,1)
    },
    //新增團隊成員學經歷
    insert_team_member_education(){
        this.team.reserve_system_team_member_education.push(
          {
            "reserve_system_team_member_education_name":null,
          })
    },
    //刪除團隊成員學經歷
    remove_team_member_education(index){
        this.team.reserve_system_team_member_education.splice(index,1)
    },
    //新增團隊成員專長
    insert_team_member_expertise(){
        this.team.reserve_system_team_member_expertise.push(
          {
            "reserve_system_team_member_expertise_name":null,
          })
    },
    //刪除團隊成員專長
    remove_team_member_expertise(index){
        this.team.reserve_system_team_member_expertise.splice(index,1)
    },
    // 更新與新增選單
    confirmTeam(team) {
      this.$refs[team].validate(valid => {
        if (valid) {
          this.loading = true
          const TeamFormData = new FormData()
          TeamFormData.append('partner_id',this.team.partner_id)
          TeamFormData.append('reserve_system_team_member_name',this.team.reserve_system_team_member_name)
          TeamFormData.append('reserve_system_team_member_status',this.team.reserve_system_team_member_status)
          TeamFormData.append('reserve_system_team_member_education',JSON.stringify(this.team.reserve_system_team_member_education))
          TeamFormData.append('reserve_system_team_member_certification',JSON.stringify(this.team.reserve_system_team_member_certification))
          TeamFormData.append('reserve_system_team_member_expertise',JSON.stringify(this.team.reserve_system_team_member_expertise))
          if(this.dialogType=='new'){
            if(this.team.reserve_system_team_member_avatar!=null){
              TeamFormData.append('reserve_system_team_member_avatar',this.team.reserve_system_team_member_avatar.raw)
            }
          }
          if(this.dialogType=='edit'){
            TeamFormData.append('reserve_system_team_member_id',this.team.reserve_system_team_member_id)
            if(this.team.reserve_system_team_member_avatar!=null){
              if(this.team.reserve_system_team_member_avatar.raw!=null){
                TeamFormData.append('reserve_system_team_member_avatar',this.team.reserve_system_team_member_avatar.raw)
              }
              // else{
              //   TeamFormData.append('reserve_system_banner_photo',this.banner.reserve_system_banner_photo)
              // }
            }
          }
          postTeamList(TeamFormData)
            .then((resp) => {
                if(this.dialogType=='new'){
                    if(this.team.reserve_system_team_member_avatar!=null){
                        this.origin_image = ''
                    }
                }
                if(this.dialogType=='edit'){
                    if(this.team.reserve_system_team_member_avatar!=null){
                        if(this.team.reserve_system_team_member_avatar.raw!=null){
                            this.origin_image = resp.data['reserve_system_banner_photo']
                        }
                        else{
                            this.origin_image = resp.data['reserve_system_banner_photo']
                        }
                    }
                }
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
                })
                this.$emit('getTeam')
                //判斷是否為新增或修改
                if(this.dialogType!="edit"&&resp.success==true){
                    this.team.reserve_system_team_member_name = ''
                    this.team.reserve_system_team_member_certification = []
                    this.team.reserve_system_team_member_expertise = []
                    this.team.reserve_system_team_member_education = []
                    this.$refs[team].resetFields()
                }
                //預覽圖片回復預設值
                this.$refs.reserve_system_team_member_avatar.clearFiles()
                this.show_upload_image_preview = null
                this.loading = false
                //關閉選單
                if(resp.success==true){
                  this.closeAddTeam()
                }
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    before_upload_image_upload(file) {
        // const isJPG = file.name.toLowerCase() === 'image/jpeg'||'image/png';
        // // console.log(file.raw.name.split('.')[1]=='jpeg')
        // if(file.raw.name.split('.')[1]=='jpg'){
        //   this.$message.error('上傳格式不正確!!，請將副檔名.jpg更換.jpeg');
        //   this.banner.reserve_system_banner_photo = ""
        //   this.show_upload_image_preview = null
        //   this.$refs.image.clearFiles()
        //   return false;
        // }
        const isLt1M = file.size / 1024 / 1024 < 2;
        if (!isLt1M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
        //   this.$refs.
        return isLt1M;
        }
        const issize = new Promise((resolve,reject)=>{
            let reader = new FileReader()
            reader.readAsDataURL(file.raw);
            let URL = window.URL || window.webkitURL;
            console.log("file",file)
            let image = new Image()
            image.onload = function(){
                console.log(image)
                console.log("image.width",image.width)
                console.log("image.height",image.height)
                console.log("image.width/image.height",image.width/image.height)
                // if((image.width<800||image.width>2500)){
                //     // this.$message.error('上傳寬度須介於800px到2500px之間');
                //     reject('上傳寬度須介於800px到2500px之間')
                // }
                if((1700<image.height)){
                    // this.$message.error('上傳高度須介於250px到720px之間');
                    reject('上傳高度須小於1700px')
                }
                // if((image.width/image.height)<2){
                //     // this.$message.error('上傳比例須大於1.45以上');
                //     reject('上傳比例須小於2以上')
                // }
                resolve()
            }
            this.team.reserve_system_team_member_avatar = file
            this.show_upload_image_preview = URL.createObjectURL(file.raw);
            image.src = this.show_upload_image_preview
        }).then(()=>{
            // 預覽圖片
            // return isLt1M&isJPG&issize;
            return isLt1M&issize;
        },
        (error)=>{
            console.log("error",error)
            this.$message.error(error)
            this.team.reserve_system_team_member_avatar = ""
            this.show_upload_image_preview = null
            this.$refs.reserve_system_team_member_avatar.clearFiles()
            return Promise.reject()
        })
    },
    // 取消上傳圖片
    reset_upload_image_upload(){
      this.team.reserve_system_team_member_avatar = this.origin_image
      this.show_upload_image_preview = null
    },
  }
}
</script>