<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新單位基本資料(banner、網頁資訊)':'新增單位基本資料(banner、網頁資訊)'"
    :before-close="closeAddUnitBannerMeta" 
    center
    width="75%"
    append-to-body
    >
        <!-- {{unit_banner_meta}} -->
      <el-form :rules="UnitBannerMetaRules" status-icon ref="unit_banner_meta" :model="unit_banner_meta" label-position="right">
        <el-row :gutter="20">
            <el-col :xs="12" :sm="12" :lg="12" :xl="12">
            <el-form-item label="網頁網址" prop="reserve_system_unit_banner_meta_path">
                <el-input v-model="unit_banner_meta.reserve_system_unit_banner_meta_path"
                placeholder="網頁網址"
                ref="reserve_system_unit_banner_meta_path"
                name="reserve_system_unit_banner_meta_path"
                autocomplete="off"
                  />
            </el-form-item>
            </el-col>
            <el-col :xs="12" :sm="12" :lg="12" :xl="12">
            <el-form-item label="網頁名稱" prop="reserve_system_unit_banner_meta_path_name">
                <el-input v-model="unit_banner_meta.reserve_system_unit_banner_meta_path_name"
                placeholder="網頁名稱"
                ref="reserve_system_unit_banner_meta_path_name"
                name="reserve_system_unit_banner_meta_path_name"
                autocomplete="off"
                  />
            </el-form-item>
            </el-col>
            <el-col :xs="8" :sm="8" :lg="8" :xl="8">
            <el-form-item label="網頁資訊標題" prop="reserve_system_unit_banner_meta_title">
                <el-input v-model="unit_banner_meta.reserve_system_unit_banner_meta_title"
                placeholder="網頁資訊標題"
                ref="reserve_system_unit_banner_meta_title"
                name="reserve_system_unit_banner_meta_title"
                autocomplete="off"
                  />
            </el-form-item>
            </el-col>
            <el-col :xs="8" :sm="8" :lg="8" :xl="8">
            <el-form-item label="網頁資訊描述" prop="reserve_system_unit_banner_meta_description">
                <el-input v-model="unit_banner_meta.reserve_system_unit_banner_meta_description"
                placeholder="網頁資訊描述"
                ref="reserve_system_unit_banner_meta_description"
                name="reserve_system_unit_banner_meta_description"
                autocomplete="off"
                  />
            </el-form-item>
            </el-col>
            <el-col :xs="8" :sm="8" :lg="8" :xl="8">
            <el-form-item label="網頁資訊網址" prop="reserve_system_unit_banner_meta_url">
                <el-input v-model="unit_banner_meta.reserve_system_unit_banner_meta_url"
                placeholder="網頁資訊網址"
                ref="reserve_system_unit_banner_meta_url"
                name="reserve_system_unit_banner_meta_url"
                autocomplete="off"
                  />
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="頁面橫幅">
                <br/>
                <el-image :src="upload_path+origin_image"
                style="width:500px;"
                >
                    <div slot="error" class="image-slot">
                    <i class="el-icon-picture-outline"></i>
                    </div>
                </el-image>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="頁面橫幅上傳" prop="reserve_system_unit_banner_meta_photo">
            <el-upload
                class="avatar-uploader"
                :action="upload_path+'/reserve_system_unit_banner_meta_photo/'"
                ref="reserve_system_unit_banner_meta_photo"
                name="reserve_system_unit_banner_meta_photo"
                :multiple="false"
                :auto-upload="false"
                :limit="1"
                accept="image/png,image/jpeg"
                :on-change="before_upload_image_upload"
                :on-remove="reset_upload_image_upload"
                >
                <br/>
                <div style="color:red; text-align:left;">建議長寬比例：1:4</div>
                <img v-if="show_upload_image_preview" :src="show_upload_image_preview" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                <!-- <p style="color:red;">寬度：</p>
                <p style="color:red;">高度：</p>
                <p style="color:red;">寬高比率：</p>
                <p style="color:red;">ssss</p> -->
            </el-upload>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="頁面橫幅狀態" prop="reserve_system_unit_banner_photo_status">
              <br>
              <el-radio-group v-model="unit_banner_meta.reserve_system_unit_banner_photo_status" name="reserve_system_unit_banner_photo_status">
                <el-radio-button label=0 border>未顯示</el-radio-button>
                <el-radio-button label=1 border>顯示</el-radio-button>
              </el-radio-group>
            </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddUnitBannerMeta">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmUnitBannerMeta('unit_banner_meta')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 500px;
    /* height: 400px; */
    display: block;
  }
</style>
<script>
import { postUnitBannerMetaList } from '@/api/reservationsystemunitbannermeta'
export default {
name: 'AddUnitBannerMeta',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    unit_banner_meta:{
        type:Object,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  data() {
    return {
      UnitBannerMetaRules: {
          reserve_system_unit_banner_meta_path:[
            { required: true,message: '網頁網址必填欄位' },
          ],
          reserve_system_unit_banner_meta_path_name:[
            { required: true,message: '網頁名稱為必填欄位' },
          ],
          reserve_system_unit_banner_photo_status:[
            { required: true,message: '頁面橫幅狀態為必填欄位' },
          ]
      },
      loading:false,
      // 圖片網址位置
      upload_path: '',
      //原始照片
      origin_image:'',
      //預覽照片
      show_upload_image_preview:'',
    }
  },
    watch: {
      dialogType:{
        handler: function(val, oldVal) {
        if(this.dialogType=='edit'){
            this.origin_image = this.unit_banner_meta.reserve_system_unit_banner_meta_photo
        }
        else{
            this.origin_image = ''
        }
      },
      immediate: true
      }
  },
  created() {
        // 圖片網址位置
        this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    //關閉選單
    closeAddUnitBannerMeta(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    this.unit_banner_meta.reserve_system_unit_banner_meta_photo = this.origin_image

    this.$emit('getUnitBannerMeta_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    // 更新與新增選單
    confirmUnitBannerMeta(unit_banner_meta) {
      this.$refs[unit_banner_meta].validate(valid => {
        if (valid) {
          this.loading = true
          const UnitBannerMetaFormData = new FormData()
          UnitBannerMetaFormData.append('partner_id',this.unit_banner_meta.partner_id)
          UnitBannerMetaFormData.append('reserve_system_unit_banner_meta_path',this.unit_banner_meta.reserve_system_unit_banner_meta_path)
          UnitBannerMetaFormData.append('reserve_system_unit_banner_meta_path_name',this.unit_banner_meta.reserve_system_unit_banner_meta_path_name)
          UnitBannerMetaFormData.append('reserve_system_unit_banner_meta_title',this.unit_banner_meta.reserve_system_unit_banner_meta_title)
          UnitBannerMetaFormData.append('reserve_system_unit_banner_meta_description',this.unit_banner_meta.reserve_system_unit_banner_meta_description)
          UnitBannerMetaFormData.append('reserve_system_unit_banner_meta_url',this.unit_banner_meta.reserve_system_unit_banner_meta_url)
          UnitBannerMetaFormData.append('reserve_system_unit_banner_photo_status',this.unit_banner_meta.reserve_system_unit_banner_photo_status)
          if(this.dialogType=='new'){
            if(this.unit_banner_meta.reserve_system_unit_banner_meta_photo!=null){
              UnitBannerMetaFormData.append('reserve_system_unit_banner_meta_photo',this.unit_banner_meta.reserve_system_unit_banner_meta_photo.raw)
            }
          }
          if(this.dialogType=='edit'){
            UnitBannerMetaFormData.append('reserve_system_unit_banner_meta_id',this.unit_banner_meta.reserve_system_unit_banner_meta_id)
            if(this.unit_banner_meta.reserve_system_unit_banner_meta_photo!=null){
              if(this.unit_banner_meta.reserve_system_unit_banner_meta_photo.raw!=null){
                UnitBannerMetaFormData.append('reserve_system_unit_banner_meta_photo',this.unit_banner_meta.reserve_system_unit_banner_meta_photo.raw)
              }
              // else{
              //   TeamFormData.append('reserve_system_banner_photo',this.banner.reserve_system_banner_photo)
              // }
            }
          }
          postUnitBannerMetaList(UnitBannerMetaFormData)
            .then((resp) => {
                if(this.dialogType=='new'){
                    if(this.unit_banner_meta.reserve_system_unit_banner_meta_photo!=null){
                        this.origin_image = ''
                    }
                }
                if(this.dialogType=='edit'){
                    if(this.unit_banner_meta.reserve_system_unit_banner_meta_photo!=null){
                        if(this.unit_banner_meta.reserve_system_unit_banner_meta_photo.raw!=null){
                            this.origin_image = resp.data['reserve_system_unit_banner_meta_photo']
                        }
                        else{
                            this.origin_image = resp.data['reserve_system_unit_banner_meta_photo']
                        }
                    }
                }
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
                })
                this.$emit('getUnitBannerMeta')
                //預覽圖片回復預設值
                this.$refs.reserve_system_unit_banner_meta_photo.clearFiles()
                this.show_upload_image_preview = null
                this.loading = false
                //當新增成功且為新增時才觸發
                if(resp.success==true&&this.dialogType=='new'){
                    this.$refs[unit_banner_meta].resetFields()
                }
                //關閉選單
                if(resp.success==true){
                  this.closeAddUnitBannerMeta()
                }
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    before_upload_image_upload(file) {
        // const isJPG = file.name.toLowerCase() === 'image/jpeg'||'image/png';
        // // console.log(file.raw.name.split('.')[1]=='jpeg')
        // if(file.raw.name.split('.')[1]=='jpg'){
        //   this.$message.error('上傳格式不正確!!，請將副檔名.jpg更換.jpeg');
        //   this.banner.reserve_system_banner_photo = ""
        //   this.show_upload_image_preview = null
        //   this.$refs.image.clearFiles()
        //   return false;
        // }
        const isLt1M = file.size / 1024 / 1024 < 2;
        if (!isLt1M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
        //   this.$refs.
        return isLt1M;
        }
        const issize = new Promise((resolve,reject)=>{
            let reader = new FileReader()
            reader.readAsDataURL(file.raw);
            let URL = window.URL || window.webkitURL;
            console.log("file",file)
            let image = new Image()
            image.onload = function(){
                console.log(image)
                console.log("image.width",image.width)
                console.log("image.height",image.height)
                console.log("image.width/image.height",image.width/image.height)
                // if((image.width<800||image.width>2500)){
                //     // this.$message.error('上傳寬度須介於800px到2500px之間');
                //     reject('上傳寬度須介於800px到2500px之間')
                // }
                if((1700<image.height)){
                    // this.$message.error('上傳高度須介於250px到720px之間');
                    reject('上傳高度須小於1700px')
                }
                // if((image.width/image.height)<2){
                //     // this.$message.error('上傳比例須大於1.45以上');
                //     reject('上傳比例須小於2以上')
                // }
                resolve()
            }
            this.unit_banner_meta.reserve_system_unit_banner_meta_photo = file
            this.show_upload_image_preview  = URL.createObjectURL(file.raw);
            image.src = this.show_upload_image_preview
        }).then(()=>{
            // 預覽圖片
            return isLt1M&issize;
        },
        (error)=>{
            console.log("error",error)
            this.$message.error(error)
            this.unit_banner_meta.reserve_system_unit_banner_meta_photo = ""
            this.show_upload_image_preview = null
            this.$refs.reserve_system_unit_banner_meta_photo.clearFiles()
            return Promise.reject()
        })
    },
    // 取消上傳圖片
    reset_upload_image_upload(){
      this.unit_banner_meta.reserve_system_unit_banner_meta_photo = this.origin_image
      this.show_upload_image_preview = null
    },
  }
}
</script>