<template>
    <div>
    <el-dialog :visible="dialogPreviewVisible" title="預覽衛教圖片"
    :before-close="closeAddPreviewPhoto" center
    width="60%"
    append-to-body
    >
    <!-- {{service}} -->
        <el-carousel :interval="5000" type="card">
            <el-carousel-item v-for="(item,index) in health.reserve_system_health_photo" :key="item.reserve_system_health_photo_id">
                <p style="text-align:center; font-size:20px; color:black; margin:10px 0;">圖片 第{{index+=1}}張</p>
                <el-image style="width: 100%;" :src="upload_path+item.reserve_system_health_photo"></el-image>
            </el-carousel-item>
        </el-carousel>
        <div style="text-align:right;">
            <el-button type="danger" @click="closeAddPreviewPhoto">關閉</el-button>
        </div>
    </el-dialog>
    </div>
</template>
<script>
export default {
name: 'PreviewHealthPhoto',
props:{
    dialogPreviewVisible:{
        type:Boolean,
        require:true
    },
    health:{
        type:Object,
        require:true
    }
},
  data(){
    return {
      upload_path:'',
    }
  },
  async created() {
    // 得知使用者實際擁有權限
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    //預覽衛教圖片
    closeAddPreviewPhoto(){
    //更新資料進入外層的衛教圖片
    this.dialogPreviewVisible = false
    this.$emit('getPreviewHealthPhoto_status_dialogtype',this.dialogPreviewVisible)
    },
  }
}
</script>