<template>
  <el-card style="margin-bottom:20px;" v-loading="ReservationSystemTeamLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">團隊成員</span>
      <el-button type="primary" icon="el-icon-plus" @click="insertteam" style="float:right;" :disabled="partner==''?true:false">新增團隊成員</el-button>
      <!-- {{check_admin_premission}}
      {{dialogType}} -->
    </div>
    <div class="user-profile">
        <AddTeam :team="team" :dialogType="dialogType" :dialogVisible="dialogVisible" @getTeam="setqueryteam" @getTeam_status_dialogtype="getTeam_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <SearchTeam @SearchTeam="SearchTeam" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' />
        <el-table v-loading="ReservationSystemTeamLoading" :data="teamList.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <!-- <el-table-column align="center" fixed label="合作夥伴">
            <template slot-scope="scope">
            <el-tag size="medium" type="primary" plain>
                {{ scope.row.partner_name }}
            </el-tag>
            </template>
        </el-table-column> -->
        <el-table-column align="center" width="160" label="團隊成員頭貼">
            <template slot-scope="scope">
            <el-image 
            :src="upload_path+scope.row.reserve_system_team_member_avatar"
            v-show="scope.row.reserve_system_team_member_avatar!=null"
            >
                <div slot="error" class="image-slot">
                <i class="el-icon-picture-outline" />
                </div>
            </el-image>
            <el-tag v-show="scope.row.reserve_system_team_member_avatar==null" type="danger" style="margin:10px 0;">無設定團隊成員頭貼</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="團隊成員名稱">
            <template slot-scope="scope">
            {{scope.row.reserve_system_team_member_name}}
            </template>
        </el-table-column>
        <el-table-column align="center" width="200" label="團隊成員專長">
            <template slot-scope="scope">
                <div v-if="scope.row.reserve_system_team_member_expertise.length!=0">
                    <el-tag style="margin:10px;" type="primary" v-for="item in scope.row.reserve_system_team_member_expertise" :key="item.reserve_system_team_member_expertise_id">
                        {{item.reserve_system_team_member_expertise_name}}
                    </el-tag>
                    <br/>
                </div>
            </template>
        </el-table-column>
        <el-table-column align="center" width="250" label="團隊成員專業證照">
            <template slot-scope="scope">
                <div v-if="scope.row.reserve_system_team_member_certification.length!=0">
                    <el-tag style="margin:10px 0;" type="primary" v-for="item in scope.row.reserve_system_team_member_certification" :key="item.reserve_system_team_member_certification_id">
                        {{item.reserve_system_team_member_certification_name}}
                    </el-tag>
                    <br/>
                </div>
            </template>
        </el-table-column>
        <el-table-column align="center" width="250" label="團隊成員學經歷">
            <template slot-scope="scope">
                <div v-if="scope.row.reserve_system_team_member_education.length!=0">
                    <el-tag style="margin:10px 0;" type="primary" v-for="item in scope.row.reserve_system_team_member_education" :key="item.reserve_system_team_member_education_id">
                        {{item.reserve_system_team_member_education_name}}
                    </el-tag>
                    <br/>
                </div>
            </template>
        </el-table-column>
        <el-table-column align="center" label="團隊成員狀態">
            <template slot-scope="scope">
                <el-tag :type="scope.row.reserve_system_team_member_status==0 || scope.row.reserve_system_team_member_status==1 ?'danger':''" style="margin:10px 0;">{{ scope.row.reserve_system_team_member_status|reserve_system_team_member_status }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="170" label="團隊成員上架日期">
            <template slot-scope="scope">
            {{ scope.row.reserve_system_team_member_datetime }}
            </template>
        </el-table-column>
        <el-table-column align="center" width="100" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
            <el-button type="primary" @click="handleEditteam(scope)">編輯</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="teamtotal"
          :page.sync="teamList.nowpages"
          :limit.sync="teamList.limit"
          @pagination="getAllTeam(teamList.nowpages,search_team)"
        />
    </div>
  </el-card>
</template>
<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { getTeamList } from '@/api/reservationsystemteam'
import AddTeam from './AddTeam.vue'
import SearchTeam from './SearchTeam.vue'
import { deepClone } from '@/utils'
import Cookies from 'js-cookie'
const defaultTeam = {
  reserve_system_team_member_name:'',reserve_system_team_member_expertise:[],
  reserve_system_team_member_avatar: null, reserve_system_team_member_status: 1,
  partner_id: '',reserve_system_team_member_certification:[],reserve_system_team_member_education:[]

}
export default {
  name:"reservationsystemteam",
  components:{ Pagination,SearchTeam,AddTeam },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  watch: {
    partner:{
        handler: function(val, oldVal) {
            if(this.partner!=''){
                this.chosenPartner()
            }
        },
        immediate: true
    },
  },
  filters:{
      reserve_system_team_member_status(status){
      const reserve_system_team_member_status = {
        0: '下架',
        1: '上架'
      }
      return reserve_system_team_member_status[status]
    }
  },
  data(){
    return {
      dialogType:'',
      dialogSearchType:'',
      dialogVisible:false,
      dialogSearchVisible:false,
      ReservationSystemTeamLoading:false,
      teamlistLoading:false,
      team: Object.assign({}, defaultTeam),
      search_team:'',
      teamList:[],
      teamtotal:0,
      upload_path:''
    }
  },
  async created() {
    // 得知使用者實際擁有權限
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultTeam['partner_id'] = this.partner
        this.search_team = query
      } else {
        this.search_team = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllTeam(1, query)
    },
    // 設定搜尋的團隊成員
    setqueryteam(){
      //判斷目前頁數在哪一頁
      if(Cookies.get('teampage')==undefined){
        this.getAllTeam(1, this.search_team)
      }
      else{
        this.getAllTeam(Cookies.get('teampage'), this.search_team)
      }
    },
    // 放入實際搜尋條件
    SearchTeam(query){
        //放入實際搜尋條件
        this.search_team = query
        // 設定搜尋的團隊成員
        this.setqueryteam()
    },
    // 關閉團隊成員選單狀態
    getTeam_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
    // 顯示所有合作夥伴最新消息
    async getAllTeam(page, team) {
      var payload = ''
      if (this.search_team == '') {
        payload = page
      }
      if (this.search_team != '') {
        payload += page + '?' + team
      }
      console.log("before:",Cookies.get('teampage'))
      //設定目前頁數在哪一頁
      Cookies.set('teampage',page)
      console.log("after",Cookies.get('teampage'))
      console.log('payload', payload)
      this.ReservationSystemTeamLoading = true
      getTeamList(payload).then(resp => {
        this.teamList = resp.data
        this.teamtotal = this.teamList.count
        this.ReservationSystemTeamLoading = false
      })
    },
    //新增團隊成員
    insertteam(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultTeam['partner_id'] = this.partner
      defaultTeam['reserve_system_team_member_expertise'] = []
      defaultTeam['reserve_system_team_member_certification'] = []
      defaultTeam['reserve_system_team_member_education'] = []
      this.team = Object.assign({}, defaultTeam)
    },
    //修改團隊成員
    handleEditteam(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      this.team = deepClone(scope.row)
    },
  }
}
</script>