<template>
  <el-card style="margin-bottom:20px;" v-loading="ReservationSystemSettingLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">{{unitList.partner_name}}</span> 基本資料
      <!-- {{check_admin_premission}}
      {{dialogType}} -->
      <!-- {{activeTab}} -->
    </div>
    <div class="user-profile">
      <el-form ref="unitList" :rules="UnitListRules" status-icon :model="unitList" label-position="left">
        <!-- {{unitList}} -->
        <el-row :gutter="20">
          <el-col :xs="12" :sm="12" :lg="12" :xl="12" style="text-align:center;">
              <el-form-item label="單位原始照片(適用前端呈現)">
                <br/>
                <el-image :src="upload_path+origin_image"
                style="width:500px;max-height:500px;"
                v-if="origin_image!=''"
                >
                    <div slot="error" class="image-slot">
                    <i class="el-icon-picture-outline"></i>
                    </div>
                </el-image>
                <el-tag type="danger" v-else>無原始單位照片，請上傳一張</el-tag>
              </el-form-item>
          </el-col>
          <el-col :xs="12" :sm="12" :lg="12" :xl="12">
              <el-form-item label="單位照片">
                <el-upload
                    class="avatar-uploader"
                    action="https://shopstore-dashboardupload.gohojia.com/shop/shop_category"
                    ref="reserve_system_unit_photo"
                    name="reserve_system_unit_photo"
                    :multiple="false"
                    :auto-upload="false"
                    :limit="1"
                    accept="image/png,image/gif,image/jpg,image/jpeg"
                    :on-change="before_reserve_system_unit_photo_upload"
                    :on-remove="reset_reserve_system_unit_photo_upload"
                    >
                <br/>
                <div style="color:red; text-align:left;">建議長寬比例：1:4</div>
                <img v-if="show_reserve_system_unit_photo_preview" :src="show_reserve_system_unit_photo_preview" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="6">
              <el-form-item label="單位名稱" prop="reserve_system_unit_name">
                  <el-input ref="reserve_system_unit_name" v-model="unitList.reserve_system_unit_name"
                  name="reserve_system_unit_name" placeholder="單位名稱"
                  autocomplete="off" />
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="6">
              <el-form-item label="單位地址" prop="reserve_system_unit_tax">
                  <el-input ref="reserve_system_unit_tax" v-model="unitList.reserve_system_unit_tax"
                  name="reserve_system_unit_tax" placeholder="單位地址"
                  autocomplete="off"
                  @keyup.enter.native="searchreserve_system_unit_address"
                   />
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="6">
              <el-form-item label="單位電話" prop="reserve_system_unit_phone">
                  <el-input ref="reserve_system_unit_phone" v-model="unitList.reserve_system_unit_phone"
                  name="reserve_system_unit_phone" placeholder="單位電話"
                  autocomplete="off"
                   />
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="6">
              <el-form-item label="單位信箱" prop="reserve_system_unit_email">
                  <el-input ref="reserve_system_unit_email" v-model="unitList.reserve_system_unit_email"
                  name="reserve_system_unit_email" placeholder="單位信箱"
                  autocomplete="off"
                   />
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="4" :lg="4" :xl="4">
              <el-form-item label="單位經度" prop="reserve_system_unit_lat">
                  <el-input ref="reserve_system_unit_lat" v-model="unitList.reserve_system_unit_lat"
                  name="reserve_system_unit_lat" placeholder="單位經度"
                  autocomplete="off" disabled />
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="4" :lg="4" :xl="4">
              <el-form-item label="單位緯度" prop="reserve_system_unit_lon">
                  <el-input ref="reserve_system_unit_lon" v-model="unitList.reserve_system_unit_lon"
                  name="reserve_system_unit_lon" placeholder="單位緯度"
                  autocomplete="off" disabled />
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="16" :lg="16" :xl="16">
            <el-form-item label="單位地圖">
                <GmapMap ref="mapRef"
                :center="reserve_system_unit_tax_geoposition_googlemap"
                :zoom="17"
                style="height: 250px"
                >
                <GmapMarker
                  :position="reserve_system_unit_tax_geoposition_googlemap"
                />
                </GmapMap>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="單位團隊理念" prop="reserve_system_unit_idea">
              <el-input
                v-model="unitList.reserve_system_unit_idea"
                :autosize="{ minRows: 10, maxRows: 20}"
                type="textarea"
                placeholder="單位團隊理念"
                name="reserve_system_unit_idea"
                autocomplete="off"
              />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <span prop="reserve_system_unit_hospital_info" style="margin:10px 0;">
              單位院所資訊
            </span>
            <tinymce v-if="!reloading" :id="this.tinymce+'_'+this.tinykey" ref="editor_reserve_system_unit_hospital_info_ref" v-model="unitList.reserve_system_unit_hospital_info" :height="200" :key="this.tinykey" />
              <!-- <el-input
                v-model="unitList.reserve_system_unit_hospital_info"
                :autosize="{ minRows: 10, maxRows: 20}"
                type="textarea"
                placeholder="單位院所資訊"
                name="reserve_system_unit_hospital_info"
                autocomplete="off"
              /> -->
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="單位營業時間" prop="reserve_system_unit_time">
              <el-input
                v-model="unitList.reserve_system_unit_time"
                :autosize="{ minRows: 4, maxRows: 10}"
                type="textarea"
                placeholder="單位營業時間"
                name="reserve_system_unit_time"
                autocomplete="off"
              />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="單位交通資訊" prop="reserve_system_unit_trafic_info">
              <el-input
                v-model="unitList.reserve_system_unit_trafic_info"
                :autosize="{ minRows: 4, maxRows: 10}"
                type="textarea"
                placeholder="單位交通資訊"
                name="reserve_system_unit_trafic_info"
                autocomplete="off"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmSetting('unitList')">確認</el-button>
      </div>
    </div>
  </el-card>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 450px;
    height: 450px;
    line-height: 450px;
    text-align: center;
  }
  .avatar {
    width: 500px;
    max-height:500px;
    /* height: 400px; */
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
import { getUnitList,postUnitList } from '@/api/reservationsystemunit'
import { search_partner_lat_lng } from '@/api/partner_manager'
import Tinymce from '@/components/Tinymce'
const defaultUnit = {
  activeTab:'reserve_system_setting',
  reserve_system_unit_name: '',reserve_system_unit_tax: '',reserve_system_unit_photo:null,
  reserve_system_unit_time:'',	reserve_system_unit_phone:'',reserve_system_unit_email:'',reserve_system_unit_trafic_info:'',
  reserve_system_unit_lat:'',reserve_system_unit_lon:'',reserve_system_unit_idea:'',reserve_system_unit_hospital_info:'',
  partner_id: '',partner_name:'',
  // reserve_system_unit_primary:'#2E789C',
  // reserve_system_unit_page_word_color:'#2E789C',
  // reserve_system_unit_page_background_color:'#2E789C',
  // reserve_system_unit_sidebar_word_color:'#2E789C',
  // reserve_system_unit_sidebar_background_color:'#2E789C',
  // reserve_system_unit_footer_word_color:'#2E789C',
  // reserve_system_unit_footer_background_color:'#2E789C',
}
export default {
  name:"reservationsystemsetting",
  components:{ Tinymce },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  watch: {
    partner:{
        handler: function(val, oldVal) {
            if(this.partner!=''){
                this.chosenPartner()
            }
        },
        immediate: true
    },
  },
  data(){
    return {
      ReservationSystemSettingLoading:false,
      tinymce:'tinymce_unit_hospital_info',
      tinykey:0,
      reloading:false,
      unit: Object.assign({}, defaultUnit),
      UnitListRules: {
        reserve_system_unit_name: [{ required: true,message: '單位名稱為必填欄位' }],
        partner_id:[{ required: true,message: '合作夥伴代碼為必填欄位' }],
        reserve_system_unit_tax:[{ required: true,message: '單位地址為必填欄位' }],
        reserve_system_unit_phone:[{ required: true,message: '單位電話為必填欄位' }],
        reserve_system_unit_email:[{ required: true,message: '單位信箱為必填欄位' }],
        reserve_system_unit_lat:[{ required: true,message: '單位經度為必填欄位' }],
        reserve_system_unit_lon:[{ required: true,message: '單位緯度為必填欄位' }],
        reserve_system_unit_idea:[{ required: true,message: '單位團隊理念為必填欄位' }],
        reserve_system_unit_hospital_info:[{ required: true,message: '單位院所資訊為必填欄位' }],
        reserve_system_unit_time:[{ required: true,message: '單位營業時間為必填欄位' }],
        // reserve_system_unit_primary:[{ required: true,message: '主色系為必填欄位' }],
        // reserve_system_unit_page_word_color:[{ required: true,message: '頁面-文字顏色為必填欄位' }],
        // reserve_system_unit_page_background_color:[{ required: true,message: '頁面-背景顏色為必填欄位' }],
        // reserve_system_unit_sidebar_word_color:[{ required: true,message: '導覽列-文字顏色為必填欄位' }],
        // reserve_system_unit_sidebar_background_color:[{ required: true,message: '導覽列-背景顏色為必填欄位' }],
        // reserve_system_unit_footer_word_color:[{ required: true,message: '頁尾-文字顏色為必填欄位' }],
        // reserve_system_unit_footer_background_color:[{ required: true,message: '頁尾-背景顏色為必填欄位' }]
      },
      unitList:[],
      upload_path:'',
      //google_map引用
      reserve_system_unit_tax_geoposition:[0,0],
      reserve_system_unit_tax_geoposition_googlemap:{
        lat:0,lng:0
      },
      //預設標注點(靜態)
      reserve_system_unit_tax_markerLatLng: [0,0],
      //原始照片(單位照片)
      origin_image:'',
      //預覽照片（單位照片）
      show_reserve_system_unit_photo_preview:'',
      //確認按鈕loading
      loading:false
    }
  },
  async created() {
    // 得知使用者實際擁有權限
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    reload(){
      this.reloading = true
      this.$nextTick(()=>{
        this.reloading = false
      })
    },
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultUnit['partner_id'] = this.partner
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllUnit(1, query)
    },
    //預覽單位照片
    before_reserve_system_unit_photo_upload(file) {
        const isJPG = file.name.toLowerCase() === 'image/jpeg'||'image/png';
        // console.log(file.raw.name.split('.')[1]=='jpeg')
        // if(file.raw.name.split('.')[1]=='jpg'){
        //   this.$message.error('上傳格式不正確!!，請將副檔名.jpg更換.jpeg');
        //   this.unitList.reserve_system_unit_photo = ""
        //   this.show_reserve_system_unit_photo_preview = null
        //   this.$refs.reserve_system_unit_photo.clearFiles()
        //   return false;
        // }
        const isLt1M = file.size / 1024 / 1024 < 3;
        if (!isLt1M) {
          this.$message.error('上傳圖片檔案不超過3MB!!');
        //   this.$refs.
        return isLt1M;
        }
        const issize = new Promise((resolve,reject)=>{
            let reader = new FileReader()
            reader.readAsDataURL(file.raw);
            let URL = window.URL || window.webkitURL;
            console.log("file",file)
            let image = new Image()
            image.onload = function(){
                console.log(image)
                console.log("image.width",image.width)
                console.log("image.height",image.height)
                console.log("image.width/image.height",image.width/image.height)
                // if((image.width<800||image.width>2500)){
                //     // this.$message.error('上傳寬度須介於800px到2500px之間');
                //     reject('上傳寬度須介於800px到2500px之間')
                // }
                if((500<image.height)){
                    // this.$message.error('上傳高度須介於250px到720px之間');
                    reject('上傳高度須小於500px')
                }
                // if((image.width/image.height)<0.25){
                //     this.$message.error('上傳比例長寬比1:4');
                //     reject('上傳比例長寬比1:4')
                // }
                resolve()
            }
            this.unitList.reserve_system_unit_photo = file
            this.show_reserve_system_unit_photo_preview = URL.createObjectURL(file.raw);
            image.src = this.show_reserve_system_unit_photo_preview
        }).then(()=>{
            // 預覽圖片
            return isLt1M&isJPG&issize;
        },
        (error)=>{
            console.log("error",error)
            this.$message.error(error)
            this.unitList.reserve_system_unit_photo = ""
            this.show_reserve_system_unit_photo_preview = null
            this.$refs.reserve_system_unit_photo.clearFiles()
            return Promise.reject()
        })
    },
    // 取消單位照片
    reset_reserve_system_unit_photo_upload(){
      this.unitList.reserve_system_unit_photo = this.origin_image
      this.show_reserve_system_unit_photo_preview = null
    },
    //搜尋單位資料實際位置(google map)
    searchreserve_system_unit_address(){
        search_partner_lat_lng({"address":this.unitList.reserve_system_unit_tax}).then(resp => {
            console.log("latlon",resp)
            console.log("latlon2",resp.data.results[0])
            console.log("latlon3",resp.data.results[0].geometry.location.lat)
            console.log("latlon4",resp.data.results[0].geometry.location.lng)
            this.reserve_system_unit_tax_geoposition = [resp.data.results[0].geometry.location.lat,resp.data.results[0].geometry.location.lng]
            this.reserve_system_unit_tax_markerLatLng = [resp.data.results[0].geometry.location.lat,resp.data.results[0].geometry.location.lng]
            //得知實際經度
            this.unitList.reserve_system_unit_lat = resp.data.results[0].geometry.location.lat
            //得知實際緯度
            this.unitList.reserve_system_unit_lon = resp.data.results[0].geometry.location.lng
            
            //帶入google map地圖實際點的位置
            this.reserve_system_unit_tax_geoposition_googlemap = {
              lat:resp.data.results[0].geometry.location.lat,
              lng:resp.data.results[0].geometry.location.lng
            }
            //帶入google map地圖實際點的位置
            this.$refs.mapRef.$mapPromise.then((map) => {
              map.panTo({lat: resp.data.results[0].geometry.location.lat, lng: resp.data.results[0].geometry.location.lng})
            })
      })
    },
    // 顯示所有合作夥伴最新消息
    async getAllUnit(page, unit) {
      var payload = ''
      var _self = this
      if ( _self.search_unit == '') {
        payload = page
      }
      if ( _self.search_unit != '') {
        payload += page + '?' + unit
      }
       _self.ReservationSystemSettingLoading = true
      getUnitList(payload).then(resp => {
         _self.unitList = []
         //當資料為空的呈現預設的資料
        if(resp.data.count==0){
            _self.unit['partner_id'] = _self.partner
            //判斷單位照片為空的，恢復預設
             if(_self.unit['reserve_system_unit_photo']==null){
                this.origin_image = ''
             }
            _self.unitList.push( _self.unit)
            _self.unitList = _self.unitList[0]
            _self.$refs.editor_reserve_system_unit_hospital_info_ref.setContent(_self.unitList.reserve_system_unit_hospital_info)
        }
        //當資料不為空的呈現設定資料
        else{
             _self.unitList = resp.data.list[0]
             //判斷單位照片不為空的，顯示設定照片
             if(resp.data.list[0]['reserve_system_unit_photo']!=null){
                this.origin_image = resp.data.list[0]['reserve_system_unit_photo']
             }
             //搜尋單位資料實際位置
             _self.searchreserve_system_unit_address()
        }
         _self.ReservationSystemSettingLoading = false
      })
    },
    // 更新與新增單位基本資料
    confirmSetting(unitList) {
      this.$refs[unitList].validate(valid => {
        if (valid) {
          this.loading = true
          const UnitListFormData = new FormData()
          UnitListFormData.append('activeTab',this.activeTab)
          UnitListFormData.append('partner_id',this.unitList.partner_id)
          UnitListFormData.append('reserve_system_unit_name',this.unitList.reserve_system_unit_name)
          UnitListFormData.append('reserve_system_unit_tax',this.unitList.reserve_system_unit_tax)
          UnitListFormData.append('reserve_system_unit_time',this.unitList.reserve_system_unit_time)
          UnitListFormData.append('reserve_system_unit_phone',this.unitList.reserve_system_unit_phone)
          UnitListFormData.append('reserve_system_unit_email',this.unitList.reserve_system_unit_email)
          UnitListFormData.append('reserve_system_unit_trafic_info',this.unitList.reserve_system_unit_trafic_info==null?'':this.unitList.reserve_system_unit_trafic_info)
          UnitListFormData.append('reserve_system_unit_lat',this.unitList.reserve_system_unit_lat)
          UnitListFormData.append('reserve_system_unit_lon',this.unitList.reserve_system_unit_lon)
          UnitListFormData.append('reserve_system_unit_idea',this.unitList.reserve_system_unit_idea)
          UnitListFormData.append('reserve_system_unit_hospital_info',this.unitList.reserve_system_unit_hospital_info)
          // UnitListFormData.append('reserve_system_unit_primary',this.unitList.reserve_system_unit_primary)
          // UnitListFormData.append('reserve_system_unit_page_word_color',this.unitList.reserve_system_unit_page_word_color)
          // UnitListFormData.append('reserve_system_unit_page_background_color',this.unitList.reserve_system_unit_page_background_color)
          // UnitListFormData.append('reserve_system_unit_sidebar_word_color',this.unitList.reserve_system_unit_sidebar_word_color)
          // UnitListFormData.append('reserve_system_unit_sidebar_background_color',this.unitList.reserve_system_unit_sidebar_background_color)
          // UnitListFormData.append('reserve_system_unit_footer_word_color',this.unitList.reserve_system_unit_footer_word_color)
          // UnitListFormData.append('reserve_system_unit_footer_background_color',this.unitList.reserve_system_unit_footer_background_color)
            if(this.unitList.reserve_system_unit_photo!=null){
                if(this.unitList.reserve_system_unit_photo.raw!=null){
                    UnitListFormData.append('reserve_system_unit_photo',this.unitList.reserve_system_unit_photo.raw)
                }
            }
            if(this.unitList.reserve_system_unit_banner_photo!=null){
                if(this.unitList.reserve_system_unit_banner_photo.raw!=null){
                    UnitListFormData.append('reserve_system_unit_banner_photo',this.unitList.reserve_system_unit_banner_photo.raw)
                }
            }
          postUnitList(UnitListFormData)
            .then((resp) => {
                if(resp.message=='新增unit成功'){
                    //得到單位照片
                    if(this.unitList.reserve_system_unit_photo!=null){
                        this.origin_image = '/reserve_system__unit/'+this.unitList.reserve_system_unit_photo
                    }
                }
                if(resp.message=='修改unit成功'){
                    //得到單位照片
                    if(this.unitList.reserve_system_unit_photo!=null){
                        if(this.unitList.reserve_system_unit_photo.raw!=null){
                            this.origin_image = '/reserve_system_unit/'+this.unitList.reserve_system_unit_photo.name
                        }
                        else{
                            this.origin_image = this.unitList.reserve_system_unit_photo
                        }
                    }
                }
                this.chosenPartner()
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
                })
                //預覽圖片回復預設值
                this.$refs.reserve_system_unit_photo.clearFiles()
                this.unitList.reserve_system_unit_photo = ""
                this.show_reserve_system_unit_photo_preview = null
                this.unitList.reserve_system_unit_banner_photo = ""
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
  }
}
</script>