<template>
  <el-card style="margin-bottom:20px;" v-loading="ReservationSystemServiceLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">服務項目</span>
      <el-button type="primary" icon="el-icon-plus" @click="insertservice" style="float:right;" :disabled="partner==''?true:false">新增服務項目</el-button>
      <!-- {{check_admin_premission}}
      {{dialogType}} -->
    </div>
    <div class="user-profile">
        <!-- {{partner}} -->
        <!-- {{serviceList.list}} -->
        <AddService :service="service" :dialogType="dialogType" :dialogVisible="dialogVisible" @getService="setqueryservice" @getService_status_dialogtype="getService_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <SearchService @SearchService="SearchService" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' />
        <PreviewServicePhoto :service="service" :dialogPreviewVisible="dialogPreviewVisible" @getPreviewServicePhoto_status_dialogtype="getPreviewServicePhoto_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <el-table v-loading="ReservationSystemServiceLoading" :data="serviceList.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <el-table-column type="expand">
            <template slot-scope="scope">
            <el-form label-position="left" class="demo-table-expand">
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                        <el-form-item label="服務項目內文">
                          <br/>
                            <div style="font-size:15px;" v-html="scope.row.reserve_system_service_intro">
                            </div>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            </template>
        </el-table-column>
        <el-table-column align="center" label="服務項目標題">
            <template slot-scope="scope">
            <div style="margin:10px 0;font-size:15px;">
            {{ scope.row.reserve_system_service_title }}
            </div>
            </template>
        </el-table-column>
        <el-table-column align="center" label="服務項目分類">
            <template slot-scope="scope">
            <el-tag size="medium" type="primary" plain style="margin:10px 0;font-size:15px;">
                {{ scope.row.reserve_system_service_category_name }}
            </el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="服務項目狀態">
            <template slot-scope="scope">
                <el-tag :type="scope.row.reserve_system_service_status==0?'danger':''" style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_service_status | reserve_system_service_status }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="服務項目圖片">
            <template slot-scope="scope">
              <!-- 判斷無服務項目圖片 -->
              <div v-show="scope.row.reserve_system_service_photo.length==0">
                <el-tag type="danger" style="margin:10px 0;font-size:15px;">無服務項目圖片</el-tag>
              </div>
               <!-- 判斷有服務項目圖片 -->
              <div v-show="scope.row.reserve_system_service_photo.length!=0">
                <el-button type="primary" style="margin:10px 0;font-size:15px;" @click="preview_service_photo(scope)">預覽圖片</el-button>
              </div>
            </template>
        </el-table-column>
        <el-table-column align="center" width="170" label="服務項目上架日期">
            <template slot-scope="scope">
            {{ scope.row.reserve_system_service_datetime }}
            </template>
        </el-table-column>
        <el-table-column align="center" width="120" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
            <el-button type="primary" icon="el-icon-edit" @click="handleEditservice(scope)">編輯</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="servicetotal"
          :page.sync="serviceList.nowpages"
          :limit.sync="serviceList.limit"
          @pagination="getAllService(serviceList.nowpages,search_service)"
        />
    </div>
  </el-card>
</template>
<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { getService } from '@/api/reservationsystemappointservice'
import AddService from './AddService.vue'
import SearchService from './SearchService.vue'
import PreviewServicePhoto from './PreviewServicePhoto.vue'
import { deepClone } from '@/utils'
import Cookies from 'js-cookie'
const defaultService = {
  reserve_system_service_category_id: null, reserve_system_service_class: 0,
  reserve_system_service_title: "", reserve_system_service_intro: "",
  reserve_system_service_status:1,partner_id: '', 
  reserve_system_service_photo: [],reserve_system_service_photo_delete:[]
}
export default {
  name:"reservationsystemservice",
  components:{ Pagination,SearchService,AddService,PreviewServicePhoto },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  watch: {
    partner:{
        handler: function(val, oldVal) {
            if(this.partner!=''){
                this.chosenPartner()
                var payload = ''
                payload ='all?partner_id='+this.partner
                //得知所有的服務項目分類
                this.getServiceCategory(payload)
            }
        },
        immediate: true
    },
  },
  filters:{
    // 服務項目狀態
    reserve_system_service_status(status) {
      const reserve_system_service_status = {
        0: '下架',
        1: '上架'
      }
      return reserve_system_service_status[status]
    }
  },
  data(){
    return {
      dialogType:'',
      dialogVisible:false,
      ReservationSystemServiceLoading:false,
      servicelistLoading:false,
      service: Object.assign({}, defaultService),
      search_service:'',
      serviceList:[],
      servicetotal:0,
      upload_path:'',
      //預覽實際服務項目圖片
      dialogPreviewVisible:false
    }
  },
  async created() {
    // 得知使用者實際擁有權限
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    //得知所有的服務項目分類
    async getServiceCategory(page) {
      await this.$store.dispatch('reservationsystemappointservice/getServiceCategory',page)
    },
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultService['partner_id'] = this.partner
        this.search_service = query
      } else {
        this.search_service = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllService(1, query)
    },
    // 設定搜尋的最新消息
    setqueryservice(){
      //判斷目前頁數在哪一頁
      if(Cookies.get('servicepage')==undefined){
        this.getAllService(1, this.search_service)
      }
      else{
        this.getAllService(Cookies.get('servicepage'), this.search_service)
      }
    },
    // 放入實際搜尋條件
    SearchService(query){
        //放入實際搜尋條件
        this.search_service = query
        // 設定搜尋的服務項目
        this.setqueryservice()
    },
    // 關閉服務項目選單狀態
    getService_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
    // 顯示所有合作夥伴服務項目
    async getAllService(page, service) {
      var payload = ''
      if (this.search_service == '') {
        payload = page
      }
      if (this.search_service != '') {
        payload += page + '?' + service
      }
      console.log("before:",Cookies.get('servicepage'))
      //設定目前頁數在哪一頁
      Cookies.set('servicepage',page)
      console.log("after",Cookies.get('servicepage'))
      console.log('payload', payload)
      this.ReservationSystemServiceLoading = true
      getService(payload).then(resp => {
        this.serviceList = resp.data
        this.ReservationSystemServiceLoading = false
        this.servicetotal = this.serviceList.count
      })
    },
    //新增服務項目
    insertservice(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultService['partner_id'] = this.partner
      defaultService['reserve_system_service_photo'] = []
      defaultService['reserve_system_service_photo_delete'] = []
      this.service = Object.assign({}, defaultService)
    },
    //修改服務項目
    handleEditservice(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      this.service = deepClone(scope.row)
    },
    //預覽服務項目圖片
    preview_service_photo(scope){
      this.dialogPreviewVisible = true
      this.service = deepClone(scope.row)
      console.log(this.service)
    },
    // 關閉預覽服務項目圖片
    getPreviewServicePhoto_status_dialogtype(status){
      this.dialogPreviewVisible = status
    }
  }
}
</script>