<template>
  <el-card style="margin-bottom:20px;" v-loading="ReservationSystemSettingBannerMetaPreference">
    <div slot="header" class="clearfix">
      <span style="color:red;" v-if="unit_banner_meta_List.list.length!=0">
        {{unit_banner_meta_List.list[0]['partner_name']}}
      </span>
      單位基本資料(banner、網頁資訊)
      <el-button type="primary" icon="el-icon-plus" @click="insertunitbannermeta" style="float:right;" :disabled="partner==''?true:false">新增單位基本資料(banner、網頁資訊)</el-button>
      <!-- {{check_admin_premission}}
      {{dialogType}} -->
      <!-- {{activeTab}} -->
      <!-- {{partner}} -->
      <!-- {{unit_banner_meta_List.list}} -->
    </div>
    <div class="user-profile">
        <AddUnitBannerMeta :unit_banner_meta="unit_banner_meta" :dialogType="dialogType" :dialogVisible="dialogVisible" @getUnitBannerMeta="setqueryunitbannermeta" @getUnitBannerMeta_status_dialogtype="getUnitBannerMeta_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <SearchUnitBannerMeta @SearchUnitBannerMeta="SearchUnitBannerMeta" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' />
        <el-table v-loading="ReservationSystemSettingBannerMetaPreference" :data="unit_banner_meta_List.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <el-table-column type="expand">
            <template slot-scope="scope">
            <el-form label-position="left" class="demo-table-expand">
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                        <el-form-item label="網頁資訊標題" style="white-space:pre-wrap;">
                            <br/>
                            <div style="font-size:15px;">
                                {{ scope.row.reserve_system_unit_banner_meta_title }}
                            </div>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                        <el-form-item label="網頁資訊描述" style="white-space:pre-wrap;">
                            <br/>
                            <div style="font-size:15px;">
                                {{ scope.row.reserve_system_unit_banner_meta_description }}
                            </div>
                        </el-form-item>
                    </el-col>
                    <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                        <el-form-item label="網頁資訊分享照片網址" style="white-space:pre-wrap;">
                            <br/>
                            <div v-show="scope.row.reserve_system_unit_banner_meta_url==null">
                                <el-tag type="danger" style="margin:10px 0;font-size:15px;">無設定網頁資訊分享照片網址</el-tag>
                            </div>
                            <div v-show="scope.row.reserve_system_unit_banner_meta_url!=null">
                                <el-tag type="danger" @click="check_meta_url(scope.row)"  style="margin:10px 0;font-size:15px;cursor:pointer;">查看網址</el-tag>
                            </div>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            </template>
        </el-table-column>
        <el-table-column align="center" label="網頁網址">
            <template slot-scope="scope">
            <div style="margin:10px 0;font-size:18px;">
            {{ scope.row.reserve_system_unit_banner_meta_path }}
            </div>
            </template>
        </el-table-column>
        <el-table-column align="center" label="網頁名稱">
            <template slot-scope="scope">
            <div style="margin:10px 0;font-size:18px;">
            {{ scope.row.reserve_system_unit_banner_meta_path_name }}
            </div>
            </template>
        </el-table-column>
        <el-table-column align="center" label="頁面橫幅">
            <template slot-scope="scope">
              <!-- 判斷無頁面橫幅圖片 -->
              <div v-show="scope.row.reserve_system_unit_banner_meta_photo==null">
                <el-tag type="danger" style="margin:10px 0;font-size:15px;">無設定頁面橫幅</el-tag>
              </div>
            <el-image
            :src="upload_path+scope.row.reserve_system_unit_banner_meta_photo"
            v-show="scope.row.reserve_system_unit_banner_meta_photo!=null"
            >
                <div slot="error" class="image-slot">
                <i class="el-icon-picture-outline" />
                </div>
            </el-image>
            </template>
        </el-table-column>
        <el-table-column align="center" label="頁面橫幅是否顯示">
            <template slot-scope="scope">
                <el-tag :type="scope.row.reserve_system_unit_banner_photo_status==0?'danger':''" style="margin:10px 0;font-size:15px;">{{scope.row.reserve_system_unit_banner_photo_status|reserve_system_unit_banner_photo_status}}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="網頁上架時間">
            <template slot-scope="scope">
            {{ scope.row.reserve_system_unit_banner_meta_datetime }}
            </template>
        </el-table-column>
        <el-table-column align="center" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
            <el-button type="primary" icon="el-icon-edit" @click="handleEditunitbannermeta(scope)">編輯</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="unit_banner_meta_Total"
          :page.sync="unit_banner_meta_List.nowpages"
          :limit.sync="unit_banner_meta_List.limit"
          @pagination="getAllUnitBannerMeta(unit_banner_meta_List.nowpages,search_unit_banner_meta)"
        />
    </div>
  </el-card>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 450px;
    height: 450px;
    line-height: 450px;
    text-align: center;
  }
  .avatar {
    width: 500px;
    max-height:500px;
    /* height: 400px; */
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
import { getUnitBannerMetaList } from '@/api/reservationsystemunitbannermeta'
import Pagination from '@/components/Pagination'
import SearchUnitBannerMeta from './SearchUnitBannerMeta.vue'
import AddUnitBannerMeta from './AddUnitBannerMeta.vue'
import { deepClone } from '@/utils'
import Cookies from 'js-cookie'
const defaultUnitBannerMeta = {
  reserve_system_unit_banner_meta_path:'/',
  reserve_system_unit_banner_meta_path_name:'',
  reserve_system_unit_banner_meta_photo:null,
  reserve_system_unit_banner_meta_title:'',
  reserve_system_unit_banner_meta_description:'',
  reserve_system_unit_banner_meta_url:'',
  reserve_system_unit_banner_photo_status:1,
  partner_id:''
}
export default {
  name:"reservationsystemsettingbannermetapreference",
  components:{ Pagination,AddUnitBannerMeta,SearchUnitBannerMeta },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  watch: {
    partner:{
        handler: function(val, oldVal) {
            if(this.partner!=''){
                this.chosenPartner()
            }
        },
        immediate: true
    },
  },
  filters:{
    reserve_system_unit_banner_photo_status(status){
      const reserve_system_unit_banner_photo_status = {
        0:'未顯示',
        1:'顯示',
      }
      return reserve_system_unit_banner_photo_status[status]
    }
  },
  data(){
    return {
      ReservationSystemSettingBannerMetaPreference:false,
      dialogType:'',
      dialogVisible:false,
      unit_banner_meta: Object.assign({}, defaultUnitBannerMeta),
      unit_banner_meta_List:[],
      unit_banner_meta_Total:0,
      search_unit_banner_meta:'',
      // 圖片網址位置
      upload_path: '',
      //確認按鈕loading
      loading:false
    }
  },
  created() {
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultUnitBannerMeta['partner_id'] = this.partner
        this.search_unit_banner_meta = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllUnitBannerMeta(1, query)
    },
    // 設定搜尋的單位基本資料(banner、網頁資訊)
    setqueryunitbannermeta(){
      //判斷目前頁數在哪一頁
      if(Cookies.get('unit_banner_meta_page')==undefined){
        this.getAllUnitBannerMeta(1, this.search_unit_banner_meta)
      }
      else{
        this.getAllUnitBannerMeta(Cookies.get('unit_banner_meta_page'), this.search_unit_banner_meta)
      }
    },
    // 放入實際搜尋條件
    SearchUnitBannerMeta(query){
        //放入實際搜尋條件
        this.search_unit_banner_meta = query
        // 設定搜尋的單位基本資料(banner、網頁資訊)
        this.setqueryunitbannermeta()
    },
    // 顯示所有合作夥伴最新消息
    async getAllUnitBannerMeta(page, unit_banner_meta) {
      var payload = ''
      if (this.search_unit_banner_meta == '') {
        payload = page
      }
      if (this.search_unit_banner_meta != '') {
        payload += page + '?' + unit_banner_meta
      }
      console.log("before:",Cookies.get('unit_banner_meta_page'))
      //設定目前頁數在哪一頁
      Cookies.set('unit_banner_meta_page',page)
      console.log("after",Cookies.get('unit_banner_meta_page'))
      console.log('payload', payload)
      this.ReservationSystemSettingBannerMetaPreference = true
      getUnitBannerMetaList(payload).then(resp => {
        this.unit_banner_meta_List = resp.data
        this.unit_banner_meta_Total = this.unit_banner_meta_List.count
        this.ReservationSystemSettingBannerMetaPreference = false
      })
    },
    //查看meta網址
    check_meta_url(row){
      window.open(row.reserve_system_unit_banner_meta_url,'_blank');
    },
    //新增單位基本資料(banner、網頁資訊)
    insertunitbannermeta(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultUnitBannerMeta['partner_id'] = this.partner
      this.unit_banner_meta = Object.assign({}, defaultUnitBannerMeta)
    },
    //修改單位基本資料(banner、網頁資訊)
    handleEditunitbannermeta(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      this.unit_banner_meta = deepClone(scope.row)
    },
    //關閉單位基本資料(banner、網頁資訊)
    getUnitBannerMeta_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
  }
}
</script>