<template>
  <el-card style="margin-bottom:20px;" v-loading="ReservationSystemMarqueeLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">首頁跑馬燈</span>
      <el-button type="primary" icon="el-icon-plus" @click="insertmarquee" style="float:right;" :disabled="partner==''?true:false">新增首頁跑馬燈</el-button>
      <!-- {{check_admin_premission}}
      {{dialogType}} -->
    </div>
    <div class="user-profile">
        <AddMarquee :marquee="marquee" :dialogType="dialogType" :dialogVisible="dialogVisible" @getMarquee="setquerymarquee" @getMarquee_status_dialogtype="getMarquee_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <SearchMarquee @SearchMarquee="SearchMarquee" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' />
        <el-table v-loading="ReservationSystemMarqueeLoading" :data="marqueeList.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <!-- <el-table-column align="center" fixed label="合作夥伴">
            <template slot-scope="scope">
            <el-tag size="medium" type="primary" plain>
                {{ scope.row.partner_name }}
            </el-tag>
            </template>
        </el-table-column> -->
        <el-table-column align="center" label="首頁跑馬燈">
            <template slot-scope="scope">
              {{scope.row.reserve_system_marquee_content}}
            </template>
        </el-table-column>
        <el-table-column align="center" label="大圖輪播狀態">
            <template slot-scope="scope">
                <el-tag :type="scope.row.reserve_system_marquee_status==0 || scope.row.reserve_system_marquee_status==1 ?'danger':''" style="margin:10px 0;">{{ scope.row.reserve_system_marquee_status|reserve_system_marquee_status }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="170" label="大圖輪播上架日期">
            <template slot-scope="scope">
            {{ scope.row.reserve_system_marquee_datetime }}
            </template>
        </el-table-column>
        <el-table-column align="center" width="120" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
            <el-button type="primary" icon="el-icon-edit" @click="handleEditmarquee(scope)">編輯</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="marqueetotal"
          :page.sync="marqueeList.nowpages"
          :limit.sync="marqueeList.limit"
          @pagination="getAllMarquee(marqueeList.nowpages,search_marquee)"
        />
    </div>
  </el-card>
</template>
<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { getMarqueeList } from '@/api/reservationsystemmarquee'
import AddMarquee from './AddMarquee.vue'
import SearchMarquee from './SearchMarquee.vue'
import { deepClone } from '@/utils'
import Cookies from 'js-cookie'
const defaultMarquee = {
  reserve_system_marquee_content: '', reserve_system_marquee_status: 2,
  partner_id: ''
}
export default {
  name:"reservationsystemmarquee",
  components:{ Pagination,AddMarquee,SearchMarquee },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  watch: {
    partner:{
        handler: function(val, oldVal) {
            if(this.partner!=''){
                this.chosenPartner()
            }
        },
        immediate: true
    },
  },
  filters:{
      reserve_system_marquee_status(status){
      const reserve_system_marquee_status = {
        0: '草稿',
        1: '下架',
        2: '上架'
      }
      return reserve_system_marquee_status[status]
    },
    //   kind(status){
    //   const kind = {
    //     0: '現場取',
    //     1: '寄送'
    //   }
    //   return kind[status]
    // },
  },
  data(){
    return {
      dialogType:'',
      dialogSearchType:'',
      dialogVisible:false,
      dialogSearchVisible:false,
      ReservationSystemMarqueeLoading:false,
      marqueelistLoading:false,
      marquee: Object.assign({}, defaultMarquee),
      search_marquee:'',
      marqueeList:[],
      marqueetotal:0,
      upload_path:''
    }
  },
  async created() {
    // 得知使用者實際擁有權限
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultMarquee['partner_id'] = this.partner
        this.search_marquee = query
      } else {
        this.search_marquee = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllMarquee(1, query)
    },
    // 設定搜尋的首頁大圖
    setquerymarquee(){
      //判斷目前頁數在哪一頁
      if(Cookies.get('marqueepage')==undefined){
        this.getAllMarquee(1, this.search_marquee)
      }
      else{
        this.getAllMarquee(Cookies.get('marqueepage'), this.search_marquee)
      }
    },
    // 放入實際搜尋條件
    SearchMarquee(query){
        //放入實際搜尋條件
        this.search_marquee = query
        // 設定搜尋的首頁大圖
        this.setquerymarquee()
    },
    // 關閉首頁大圖選單狀態
    getMarquee_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
    // 顯示所有合作夥伴最新消息
    async getAllMarquee(page, marquee) {
      var payload = ''
      if (this.search_marquee == '') {
        payload = page
      }
      if (this.search_marquee != '') {
        payload += page + '?' + marquee
      }
      console.log("before:",Cookies.get('marqueepage'))
      //設定目前頁數在哪一頁
      Cookies.set('marqueepage',page)
      console.log("after",Cookies.get('marqueepage'))
      console.log('payload', payload)
      this.ReservationSystemMarqueeLoading = true
      getMarqueeList(payload).then(resp => {
        this.marqueeList = resp.data
        this.ReservationSystemMarqueeLoading = false
        this.marqueetotal = this.marqueeList.count
      })
    },
    //新增首頁大圖輪播
    insertmarquee(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultMarquee['partner_id'] = this.partner
      this.marquee = Object.assign({}, defaultMarquee)
    },
    //修改首頁大圖輪播
    handleEditmarquee(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      this.marquee = deepClone(scope.row)
    },
  }
}
</script>