<template>
  <el-card style="margin-bottom:20px;" v-loading="ReservationSystemSettingLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">{{unitList.partner_name}}</span> 基本資料(前端偏好設定)
      <!-- {{check_admin_premission}}
      {{dialogType}} -->
      <!-- {{activeTab}} -->
    </div>
    <div class="user-profile">
      <el-form ref="unitList" :rules="UnitListRules" status-icon :model="unitList" label-position="left">
        <!-- {{unitList}} -->
        <el-row :gutter="20">
          <el-col :xs="24" :sm="6" :lg="6" :xl="6">
            <el-form-item label="主要色系" prop="reserve_system_unit_primary">
              <el-color-picker 
              v-model="unitList.reserve_system_unit_primary"
              name="reserve_system_unit_primary"
              ></el-color-picker>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="6" :lg="6" :xl="6">
            <el-form-item label="頁面-文字顏色" prop="reserve_system_unit_page_word_color">
              <el-color-picker 
              v-model="unitList.reserve_system_unit_page_word_color"
              name="reserve_system_unit_page_word_color"
              ></el-color-picker>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="6" :lg="6" :xl="6">
            <el-form-item label="頁面-背景顏色" prop="reserve_system_unit_page_background_color">
              <el-color-picker 
              v-model="unitList.reserve_system_unit_page_background_color"
              name="reserve_system_unit_page_background_color"
              ></el-color-picker>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="6" :lg="6" :xl="6">
            <el-form-item label="導覽列-文字顏色" prop="reserve_system_unit_sidebar_word_color">
              <el-color-picker 
              v-model="unitList.reserve_system_unit_sidebar_word_color"
              name="reserve_system_unit_sidebar_word_color"
              ></el-color-picker>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="6" :lg="6" :xl="6">
            <el-form-item label="導覽列-背景顏色" prop="reserve_system_unit_sidebar_background_color">
              <el-color-picker 
              v-model="unitList.reserve_system_unit_sidebar_background_color"
              name="reserve_system_unit_sidebar_background_color"
              ></el-color-picker>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="6" :lg="6" :xl="6">
            <el-form-item label="頁尾-文字顏色" prop="reserve_system_unit_footer_word_color">
              <el-color-picker 
              v-model="unitList.reserve_system_unit_footer_word_color"
              name="reserve_system_unit_footer_word_color"
              ></el-color-picker>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="6" :lg="6" :xl="6">
            <el-form-item label="頁尾-背景顏色" prop="reserve_system_unit_footer_background_color">
              <el-color-picker 
              v-model="unitList.reserve_system_unit_footer_background_color"
              name="reserve_system_unit_footer_background_color"
              ></el-color-picker>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="6" :lg="6" :xl="6">
            <el-form-item label="服務項目-背景顏色" prop="reserve_system_unit_index_item_background">
              <el-color-picker 
              v-model="unitList.reserve_system_unit_index_item_background"
              name="reserve_system_unit_index_item_background"
              ></el-color-picker>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="6" :lg="6" :xl="6">
            <el-form-item label="服務項目-字體顏色" prop="reserve_system_unit_index_item_color">
              <el-color-picker 
              v-model="unitList.reserve_system_unit_index_item_color"
              name="reserve_system_unit_index_item_color"
              ></el-color-picker>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmSetting('unitList')">確認</el-button>
      </div>
    </div>
  </el-card>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 450px;
    height: 450px;
    line-height: 450px;
    text-align: center;
  }
  .avatar {
    width: 500px;
    max-height:500px;
    /* height: 400px; */
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
import { getUnitList,postUnitList } from '@/api/reservationsystemunit'
const defaultUnit = {
  activeTab:'reserve_system_preference_setting',
  reserve_system_unit_primary:'#2E789C',
  reserve_system_unit_page_word_color:'#2E789C',
  reserve_system_unit_page_background_color:'#2E789C',
  reserve_system_unit_sidebar_word_color:'#2E789C',
  reserve_system_unit_sidebar_background_color:'#2E789C',
  reserve_system_unit_footer_word_color:'#2E789C',
  reserve_system_unit_footer_background_color:'#2E789C',
  reserve_system_unit_index_item_background:'#2E789C',
  reserve_system_unit_index_item_color:'#2E789C',
}
export default {
  name:"reservationsystemsettingpreference",
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  watch: {
    partner:{
        handler: function(val, oldVal) {
            if(this.partner!=''){
                this.chosenPartner()
            }
        },
        immediate: true
    },
  },
  data(){
    return {
      ReservationSystemSettingLoading:false,
      unit: Object.assign({}, defaultUnit),
      UnitListRules: {
        reserve_system_unit_primary:[{ required: true,message: '主色系為必填欄位' }],
        reserve_system_unit_page_word_color:[{ required: true,message: '頁面-文字顏色為必填欄位' }],
        reserve_system_unit_page_background_color:[{ required: true,message: '頁面-背景顏色為必填欄位' }],
        reserve_system_unit_sidebar_word_color:[{ required: true,message: '導覽列-文字顏色為必填欄位' }],
        reserve_system_unit_sidebar_background_color:[{ required: true,message: '導覽列-背景顏色為必填欄位' }],
        reserve_system_unit_footer_word_color:[{ required: true,message: '頁尾-文字顏色為必填欄位' }],
        reserve_system_unit_footer_background_color:[{ required: true,message: '頁尾-背景顏色為必填欄位' }],
        reserve_system_unit_index_item_background:[{ required: true,message: '服務項目-背景顏色為必填欄位' }],
        reserve_system_unit_index_item_color:[{ required: true,message: '服務項目-文字顏色為必填欄位' }],
      },
      unitList:[],
      //確認按鈕loading
      loading:false
    }
  },
  methods: {
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultUnit['partner_id'] = this.partner
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllUnit(1, query)
    },
    // 顯示所有合作夥伴最新消息
    async getAllUnit(page, unit) {
      var payload = ''
      var _self = this
      if ( _self.search_unit == '') {
        payload = page
      }
      if ( _self.search_unit != '') {
        payload += page + '?' + unit
      }
       _self.ReservationSystemSettingLoading = true
      getUnitList(payload).then(resp => {
         _self.unitList = []
         //當資料為空的呈現預設的資料
        if(resp.data.count==0){
            _self.unit['partner_id'] = _self.partner
            _self.unitList.push( _self.unit)
            _self.unitList = _self.unitList[0]
        }
        //當資料不為空的呈現設定資料
        else{
             _self.unitList = resp.data.list[0]
        }
         _self.ReservationSystemSettingLoading = false
      })
    },
    // 更新與新增單位基本資料
    confirmSetting(unitList) {
      this.$refs[unitList].validate(valid => {
        if (valid) {
          this.loading = true
          const UnitListFormData = new FormData()
          UnitListFormData.append('activeTab',this.activeTab)
          UnitListFormData.append('partner_id',this.unitList.partner_id)
          UnitListFormData.append('reserve_system_unit_primary',this.unitList.reserve_system_unit_primary)
          UnitListFormData.append('reserve_system_unit_page_word_color',this.unitList.reserve_system_unit_page_word_color)
          UnitListFormData.append('reserve_system_unit_page_background_color',this.unitList.reserve_system_unit_page_background_color)
          UnitListFormData.append('reserve_system_unit_sidebar_word_color',this.unitList.reserve_system_unit_sidebar_word_color)
          UnitListFormData.append('reserve_system_unit_sidebar_background_color',this.unitList.reserve_system_unit_sidebar_background_color)
          UnitListFormData.append('reserve_system_unit_footer_word_color',this.unitList.reserve_system_unit_footer_word_color)
          UnitListFormData.append('reserve_system_unit_footer_background_color',this.unitList.reserve_system_unit_footer_background_color)
          UnitListFormData.append('reserve_system_unit_index_item_background',this.unitList.reserve_system_unit_index_item_background)
          UnitListFormData.append('reserve_system_unit_index_item_color',this.unitList.reserve_system_unit_index_item_color)

          postUnitList(UnitListFormData)
            .then((resp) => {
                this.chosenPartner()
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
                })
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
  }
}
</script>