<template>
  <el-card style="margin-bottom:20px;" v-loading="ReservationSystemHotnewsLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">最新消息</span>
      <el-button type="primary" icon="el-icon-plus" @click="inserthotnews" style="float:right;" :disabled="partner==''?true:false">新增最新消息</el-button>
      <!-- {{check_admin_premission}}
      {{dialogType}} -->
    </div>
    <div class="user-profile">
        <!-- {{partner}} -->
        <AddHotnews :hotnews="hotnews" :dialogType="dialogType" :dialogVisible="dialogVisible" @getHotnews="setqueryhotnews" @getHotnews_status_dialogtype="getHotnews_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <SearchHotnews @SearchHotnews="SearchHotnews" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' />
        <el-table v-loading="ReservationSystemHotnewsLoading" :data="hotnewsList.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <el-table-column type="expand">
            <template slot-scope="scope">
            <el-form label-position="left" class="demo-table-expand">
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                        <el-form-item label="最新消息內文">
                            <br/>
                            <div style="font-size:15px;" v-html="scope.row.hotnews_content">
                              
                            </div>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            </template>
        </el-table-column>
        <el-table-column align="center" label="最新消息標題">
            <template slot-scope="scope">
              <div style="margin:10px 0;font-size:15px;">
              {{ scope.row.hotnews_title }}
              </div>
            </template>
        </el-table-column>
        <el-table-column align="center" label="最新消息分類">
            <template slot-scope="scope">
              <el-tag size="medium" type="primary" plain style="margin:10px 0;font-size:15px;">
                  {{ scope.row.hotnews_category_name }}
              </el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" max-width="300" label="最新消息圖片">
            <template slot-scope="scope">
            <el-image 
            :src="upload_path+scope.row.hotnews_photo"
            v-show="scope.row.hotnews_photo!=null"
            >
                <div slot="error" class="image-slot">
                <i class="el-icon-picture-outline" />
                </div>
            </el-image>
            <el-tag v-show="scope.row.hotnews_photo==null" type="danger" style="margin:10px 0;font-size:15px;">無設定最新消息圖片</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="最新消息狀態">
            <template slot-scope="scope">
                <el-tag v-if="scope.row.hotnews_status==2" style="margin:10px 0;font-size:15px;">{{ scope.row.hotnews_status | hotnews_status }}</el-tag>
                <el-tag v-if="scope.row.hotnews_status==0 || scope.row.hotnews_status==1" style="margin:10px 0;font-size:15px;" type="danger">{{ scope.row.hotnews_status | hotnews_status }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="170" label="最新消息上架日期">
            <template slot-scope="scope">
            {{ scope.row.hotnews_datetime }}
            </template>
        </el-table-column>
        <el-table-column align="center" width="120" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
            <el-button type="primary" icon="el-icon-edit" @click="handleEdithotnews(scope)">編輯</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="hotnewstotal"
          :page.sync="hotnewsList.nowpages"
          :limit.sync="hotnewsList.limit"
          @pagination="getAllHotnews(hotnewsList.nowpages,search_hotnews)"
        />
    </div>
  </el-card>
</template>
<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { getHotnews } from '@/api/hotnews_manager'
import AddHotnews from './AddHotnews.vue'
import SearchHotnews from './SearchHotnews.vue'
import { deepClone } from '@/utils'
import Cookies from 'js-cookie'
const defaultHotnews = {
  hotnews_title: '', hotnews_content: '',
  hotnews_photo: null, hotnews_status: 2,
  partner_id: '', hotnews_category_id: 1
}
export default {
  name:"reservationsystemhotnews",
  components:{ Pagination,AddHotnews,SearchHotnews },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  watch: {
    partner:{
        handler: function(val, oldVal) {
            if(this.partner!=''){
                this.chosenPartner()
            }
        },
        immediate: true
    },
  },
  filters:{
    // 最新消息狀態
    hotnews_status(status) {
      const hotnews_status = {
        0: '草稿',
        1: '下架',
        2: '上架'
      }
      return hotnews_status[status]
    }
  },
  data(){
    return {
      dialogType:'',
      dialogSearchType:'',
      dialogVisible:false,
      dialogSearchVisible:false,
      ReservationSystemHotnewsLoading:false,
      hotnewslistLoading:false,
      hotnews: Object.assign({}, defaultHotnews),
      search_hotnews:'',
      hotnewsList:[],
      hotnewstotal:0,
      upload_path:''
    }
  },
  filters: {
    // 最新消息狀態
    hotnews_status(status) {
      const hotnews_status = {
        0: '草稿',
        1: '下架',
        2: '上架'
      }
      return hotnews_status[status]
    }
  },
  async created() {
    // 得知使用者實際擁有權限
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
    //得知所有的最新消息管理分類
    this.getHotnewsCategory(1)
  },
  methods: {
    //得知所有的最新消息管理分類
    async getHotnewsCategory(page) {
      await this.$store.dispatch('hotnews/getHotnewsCategory',page)
    },
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultHotnews['partner_id'] = this.partner
        this.search_hotnews = query
      } else {
        this.search_hotnews = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllHotnews(1, query)
    },
    // 設定搜尋的最新消息
    setqueryhotnews(){
      //判斷目前頁數在哪一頁
      if(Cookies.get('hotnewspage')==undefined){
        this.getAllHotnews(1, this.search_hotnews)
      }
      else{
        this.getAllHotnews(Cookies.get('hotnewspage'), this.search_hotnews)
      }
    },
    // 放入實際搜尋條件
    SearchHotnews(query){
        //放入實際搜尋條件
        this.search_hotnews = query
        // 設定搜尋的最新消息
        this.setqueryhotnews()
    },
    // 關閉最新消息選單狀態
    getHotnews_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
    // 顯示所有合作夥伴最新消息
    async getAllHotnews(page, hotnews) {
      var payload = ''
      if (this.search_hotnews == '') {
        payload = page
      }
      if (this.search_hotnews != '') {
        payload += page + '?' + hotnews
      }
      console.log("before:",Cookies.get('hotnewspage'))
      //設定目前頁數在哪一頁
      Cookies.set('hotnewspage',page)
      console.log("after",Cookies.get('hotnewspage'))
      console.log('payload', payload)
      this.ReservationSystemHotnewsLoading = true
      getHotnews(payload).then(resp => {
        this.hotnewsList = resp.data
        this.ReservationSystemHotnewsLoading = false
        this.hotnewstotal = this.hotnewsList.count
      })
    },
    //新增最新消息
    inserthotnews(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultHotnews['partner_id'] = this.partner
      this.hotnews = Object.assign({}, defaultHotnews)
    },
    //修改最新消息
    handleEdithotnews(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      this.hotnews = deepClone(scope.row)
    },
  }
}
</script>