<template>
  <el-card style="margin-bottom:20px;" v-loading="ReservationSystemBannerLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">首頁大圖</span>
      <el-button type="primary" icon="el-icon-plus" @click="insertbanner" style="float:right;" :disabled="partner==''?true:false">新增首頁大圖</el-button>
      <!-- {{check_admin_premission}}
      {{dialogType}} -->
    </div>
    <div class="user-profile">
        <AddBanner :banner="banner" :dialogType="dialogType" :dialogVisible="dialogVisible" @getBanner="setquerybanner" @getBanner_status_dialogtype="getBanner_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <SearchBanner @SearchBanner="SearchBanner" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' />
        <el-table v-loading="ReservationSystemBannerLoading" :data="bannerList.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <!-- <el-table-column align="center" fixed label="合作夥伴">
            <template slot-scope="scope">
            <el-tag size="medium" type="primary" plain>
                {{ scope.row.partner_name }}
            </el-tag>
            </template>
        </el-table-column> -->
        <el-table-column align="center" label="大圖輪播圖片">
            <template slot-scope="scope">
            <el-image 
            :src="upload_path+scope.row.reserve_system_banner_photo"
            v-show="scope.row.reserve_system_banner_photo!=null"
            >
                <div slot="error" class="image-slot">
                <i class="el-icon-picture-outline" />
                </div>
            </el-image>
            <el-tag v-show="scope.row.reserve_system_banner_photo==null" type="danger" style="margin:10px 0;">無設定大圖輪播圖片</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="大圖輪播狀態">
            <template slot-scope="scope">
                <el-tag :type="scope.row.reserve_system_banner_status==0 || scope.row.reserve_system_banner_status==1 ?'danger':''" style="margin:10px 0;">{{ scope.row.reserve_system_banner_status|reserve_system_banner_status }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="170" label="大圖輪播上架日期">
            <template slot-scope="scope">
            {{ scope.row.reserve_system_banner_datetime }}
            </template>
        </el-table-column>
        <el-table-column align="center" width="100" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
            <el-button type="primary" @click="handleEditbanner(scope)">編輯</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="bannertotal"
          :page.sync="bannerList.nowpages"
          :limit.sync="bannerList.limit"
          @pagination="getAllBanner(bannerList.nowpages,search_banner)"
        />
    </div>
  </el-card>
</template>
<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { getBannerList } from '@/api/reservationsystembanner'
import AddBanner from './AddBanner.vue'
import SearchBanner from './SearchBanner.vue'
import { deepClone } from '@/utils'
import Cookies from 'js-cookie'
const defaultBanner = {
  reserve_system_banner_photo: null, reserve_system_banner_status: 2,
  partner_id: ''
}
export default {
  name:"reservationsystembanner",
  components:{ Pagination,AddBanner,SearchBanner },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  watch: {
    partner:{
        handler: function(val, oldVal) {
            if(this.partner!=''){
                this.chosenPartner()
            }
        },
        immediate: true
    },
  },
  filters:{
      reserve_system_banner_status(status){
      const reserve_system_banner_status = {
        0: '草稿',
        1: '下架',
        2: '上架'
      }
      return reserve_system_banner_status[status]
    },
    //   kind(status){
    //   const kind = {
    //     0: '現場取',
    //     1: '寄送'
    //   }
    //   return kind[status]
    // },
  },
  data(){
    return {
      dialogType:'',
      dialogSearchType:'',
      dialogVisible:false,
      dialogSearchVisible:false,
      ReservationSystemBannerLoading:false,
      bannerlistLoading:false,
      banner: Object.assign({}, defaultBanner),
      search_banner:'',
      bannerList:[],
      bannertotal:0,
      upload_path:''
    }
  },
  async created() {
    // 得知使用者實際擁有權限
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultBanner['partner_id'] = this.partner
        this.search_banner = query
      } else {
        this.search_banner = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllBanner(1, query)
    },
    // 設定搜尋的首頁大圖
    setquerybanner(){
      //判斷目前頁數在哪一頁
      if(Cookies.get('bannerpage')==undefined){
        this.getAllBanner(1, this.search_banner)
      }
      else{
        this.getAllBanner(Cookies.get('bannerpage'), this.search_banner)
      }
    },
    // 放入實際搜尋條件
    SearchBanner(query){
        //放入實際搜尋條件
        this.search_banner = query
        // 設定搜尋的首頁大圖
        this.setquerybanner()
    },
    // 關閉首頁大圖選單狀態
    getBanner_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
    // 顯示所有合作夥伴最新消息
    async getAllBanner(page, banner) {
      var payload = ''
      if (this.search_banner == '') {
        payload = page
      }
      if (this.search_banner != '') {
        payload += page + '?' + banner
      }
      console.log("before:",Cookies.get('bannerpage'))
      //設定目前頁數在哪一頁
      Cookies.set('bannerpage',page)
      console.log("after",Cookies.get('bannerpage'))
      console.log('payload', payload)
      this.ReservationSystemBannerLoading = true
      getBannerList(payload).then(resp => {
        this.bannerList = resp.data
        this.bannertotal = this.bannerList.count
        this.ReservationSystemBannerLoading = false
      })
    },
    //新增首頁大圖輪播
    insertbanner(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultBanner['partner_id'] = this.partner
      this.banner = Object.assign({}, defaultBanner)
    },
    //修改首頁大圖輪播
    handleEditbanner(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      this.banner = deepClone(scope.row)
    },
  }
}
</script>