<template>
  <el-card style="margin-bottom:20px;" v-loading="ReservationSystemServiceLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">衛教</span>
      <el-button type="primary" icon="el-icon-plus" @click="inserthealth" style="float:right;" :disabled="partner==''?true:false">新增衛教</el-button>
      <!-- {{check_admin_premission}}
      {{dialogType}} -->
    </div>
    <div class="user-profile">
        <!-- {{partner}} -->
        <!-- {{serviceList.list}} -->
        <AddHealth :health="health" :dialogType="dialogType" :dialogVisible="dialogVisible" @getHealth="setqueryhealth" @getHealth_status_dialogtype="getHealth_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <SearchHealth @SearchHealth="SearchHealth" :partner="partner" :activeTab="activeTab" v-if='this.check_admin_premission.includes("search_btn")' />
        <PreviewHealthPhoto :health="health" :dialogPreviewVisible="dialogPreviewVisible" @getPreviewHealthPhoto_status_dialogtype="getPreviewHealthPhoto_status_dialogtype" v-if='this.check_admin_premission.includes("insert_btn")' />
        <el-table v-loading="ReservationSystemHealthLoading" :data="healthList.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <el-table-column type="expand">
            <template slot-scope="scope">
            <el-form label-position="left" class="demo-table-expand">
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                        <el-form-item label="衛教內文">
                            <br/>
                            <div style="font-size:15px;" v-html="scope.row.reserve_system_health_intro">
                            </div>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            </template>
        </el-table-column>
        <el-table-column align="center" label="衛教標題">
            <template slot-scope="scope">
            <div style="margin:10px 0;font-size:15px;">
            {{ scope.row.reserve_system_health_title }}
            </div>
            </template>
        </el-table-column>
        <el-table-column align="center" label="衛教分類">
            <template slot-scope="scope">
            <el-tag size="medium" type="primary" plain style="margin:10px 0;font-size:15px;">
                {{ scope.row.reserve_system_health_category_name }}
            </el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="衛教狀態">
            <template slot-scope="scope">
                <el-tag :type="scope.row.reserve_system_health_status==0?'danger':''" style="margin:10px 0;font-size:15px;">{{ scope.row.reserve_system_health_status | reserve_system_health_status }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="衛教圖片">
            <template slot-scope="scope">
              <!-- 判斷無服務項目圖片 -->
              <div v-show="scope.row.reserve_system_health_photo.length==0">
                <el-tag type="danger" style="margin:10px 0;font-size:15px;">無服務項目圖片</el-tag>
              </div>
               <!-- 判斷有服務項目圖片 -->
              <div v-show="scope.row.reserve_system_health_photo.length!=0">
                <el-button type="primary" style="margin:10px 0;font-size:15px;" @click="preview_health_photo(scope)">預覽圖片</el-button>
              </div>
            </template>
        </el-table-column>
        <el-table-column align="center" width="170" label="衛教上架日期">
            <template slot-scope="scope">
            {{ scope.row.reserve_system_health_datetime }}
            </template>
        </el-table-column>
        <el-table-column align="center" width="120" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
            <el-button type="primary" icon="el-icon-edit" @click="handleEdithealth(scope)">編輯</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="healthtotal"
          :page.sync="healthList.nowpages"
          :limit.sync="healthList.limit"
          @pagination="getAllHealth(healthList.nowpages,search_health)"
        />
    </div>
  </el-card>
</template>
<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import { getHealth } from '@/api/reservationsystemappointhealth'
import AddHealth from './AddHealth.vue'
import SearchHealth from './SearchHealth.vue'
import PreviewHealthPhoto from './PreviewHealthPhoto.vue'
import { deepClone } from '@/utils'
import Cookies from 'js-cookie'
const defaultHealth = {
  reserve_system_health_category_id: null,
  reserve_system_health_title: "", reserve_system_health_intro: "",
  reserve_system_health_status:1,partner_id: '', 
  reserve_system_health_photo: [],reserve_system_health_photo_delete:[]
}
export default {
  name:"reservationsystemhealth",
  components:{ Pagination,SearchHealth,AddHealth,PreviewHealthPhoto },
  props: {
    partner: {
      type: String
    },
    activeTab:{
        type: String
    },
    check_admin_premission:{
        type: Array
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  watch: {
    partner:{
        handler: function(val, oldVal) {
            if(this.partner!=''){
                this.chosenPartner()
                var payload = ''
                payload ='all?partner_id='+this.partner
                //得知所有的衛教分類
                this.getHealthCategory(payload)
            }
        },
        immediate: true
    },
  },
  filters:{
    // 衛教狀態
    reserve_system_health_status(status) {
      const reserve_system_health_status = {
        0: '下架',
        1: '上架'
      }
      return reserve_system_health_status[status]
    }
  },
  data(){
    return {
      dialogType:'',
      dialogVisible:false,
      ReservationSystemHealthLoading:false,
      healthlistLoading:false,
      health: Object.assign({}, defaultHealth),
      search_health:'',
      healthList:[],
      healthtotal:0,
      upload_path:'',
      //預覽衛教圖片
      dialogPreviewVisible:false
    }
  },
  async created() {
    // 得知使用者實際擁有權限
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    //得知所有的衛教分類
    async getHealthCategory(page) {
      await this.$store.dispatch('reservationsystemappointhealth/getHealthCategory',page)
    },
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultHealth['partner_id'] = this.partner
        this.search_health = query
      } else {
        this.search_health = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllHealth(1, query)
    },
    // 設定搜尋的衛教
    setqueryhealth(){
      //判斷目前頁數在哪一頁
      if(Cookies.get('healthpage')==undefined){
        this.getAllHealth(1, this.search_health)
      }
      else{
        this.getAllHealth(Cookies.get('healthpage'), this.search_health)
      }
    },
    // 放入實際搜尋條件
    SearchHealth(query){
        //放入實際搜尋條件
        this.search_health = query
        // 設定搜尋的衛教
        this.setqueryhealth()
    },
    // 關閉衛教狀態
    getHealth_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
    // 顯示所有合作夥伴服務項目
    async getAllHealth(page, health) {
      var payload = ''
      if (this.search_health == '') {
        payload = page
      }
      if (this.search_health != '') {
        payload += page + '?' + health
      }
      console.log("before:",Cookies.get('healthpage'))
      //設定目前頁數在哪一頁
      Cookies.set('healthpage',page)
      console.log("after",Cookies.get('healthpage'))
      console.log('payload', payload)
      this.ReservationSystemHealthLoading = true
      getHealth(payload).then(resp => {
        this.healthList = resp.data
        this.ReservationSystemHealthLoading = false
        this.healthtotal = this.healthList.count
      })
    },
    //新增衛教
    inserthealth(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultHealth['partner_id'] = this.partner
      defaultHealth['reserve_system_health_photo'] = []
      defaultHealth['reserve_system_health_photo_delete'] = []
      this.health = Object.assign({}, defaultHealth)
    },
    //修改衛教
    handleEdithealth(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      this.health = deepClone(scope.row)
    },
    //預覽衛教圖片
    preview_health_photo(scope){
      this.dialogPreviewVisible = true
      this.health = deepClone(scope.row)
      console.log(this.health)
    },
    // 關閉預覽衛教圖片
    getPreviewHealthPhoto_status_dialogtype(status){
      this.dialogPreviewVisible = status
    }
  }
}
</script>