<template>
    <div>
    <el-form :inline="true" :model="banner" class="demo-form-inline">
    <el-row>
        <!-- {{banner}} -->
        <el-form-item label="合作夥伴">
            <el-select
                v-model="banner.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                placeholder="選擇合作夥伴"
                disabled
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="首頁大圖狀態">
            <el-select v-model="banner.reserve_system_banner_status" name="reserve_system_banner_status" 
             placeholder="首頁大圖狀態" clearable>
                <el-option label="草稿" value=0></el-option>
                <el-option label="下架" value=1></el-option>
                <el-option label="上架" value=2></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="searchbanner" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultBanner = {
  partner_id:'',
  reserve_system_banner_status:"2"
}

export default {
  name: 'SearchBanner',
  data() {
    return {
      banner: Object.assign({}, defaultBanner)
    }
  },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
    watch: {
      partner:{
        handler: async function(val, oldVal) {
          console.log("val: ",val)
        this.banner.partner_id = this.partner
      },
      immediate: true
      },
  },
  methods: {
      searchbanner(){
        var query = ''
        if(this.banner.partner_id!=''){
            query+= 'partner_id='+this.banner.partner_id+'&'
        }
        if(this.banner.reserve_system_banner_status!=''){
            query+= 'reserve_system_banner_status='+this.banner.reserve_system_banner_status+'&'
        }
        //更新資料進入外層的團購訂單管理
        this.$emit('SearchBanner',query.slice(0, -1))
      }
  },
}
</script>