<template>
    <div>
    <el-form :inline="true" :model="service" class="demo-form-inline">
        <!-- {{unit_banner_meta}} -->
    <el-row>
        <el-form-item label="合作夥伴">
            <el-select
                v-model="unit_banner_meta.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                @keydown.enter.native="search_unit_banner_meta"
                placeholder="選擇合作夥伴"
                disabled
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="網頁網址">
            <el-input v-model="unit_banner_meta.reserve_system_unit_banner_meta_path" name="reserve_system_unit_banner_meta_path" 
            placeholder="網頁網址" clearable></el-input>
        </el-form-item>
        <el-form-item label="網頁名稱">
            <el-input v-model="unit_banner_meta.reserve_system_unit_banner_meta_path_name" name="reserve_system_unit_banner_meta_path_name" 
            placeholder="網頁名稱" clearable></el-input>
        </el-form-item>
        <!-- {{hotnews.hotnews_status}} -->
        <el-form-item>
            <el-button type="primary" @click="search_unit_banner_meta" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultUnitBannerMeta = {
  partner_id: '',reserve_system_unit_banner_meta_path: '',reserve_system_unit_banner_meta_path_name:""
}

export default {
  name: 'SearchUnitBannerMeta',
  data() {
    return {
      unit_banner_meta: Object.assign({}, defaultUnitBannerMeta)
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
    watch: {
      partner:{
        handler: async function(val, oldVal) {
          console.log("val: ",val)
        this.unit_banner_meta.partner_id = val
      },
      immediate: true
      },
  },
  methods: {
      search_unit_banner_meta(){
        var query = ''
        if(this.unit_banner_meta.partner_id!=''){
            query+= 'partner_id='+this.unit_banner_meta.partner_id+'&'
        }
        if(this.unit_banner_meta.reserve_system_unit_banner_meta_path!=''){
            query+= 'reserve_system_unit_banner_meta_path='+this.unit_banner_meta.reserve_system_unit_banner_meta_path+'&'
        }
        if(this.unit_banner_meta.reserve_system_unit_banner_meta_path_name!=''){
            query+= 'reserve_system_unit_banner_meta_path_name='+this.unit_banner_meta.reserve_system_unit_banner_meta_path_name+'&'
        }
        //更新資料進入外層的服務項目
        this.$emit('SearchUnitBannerMeta',query.slice(0, -1))
      }
  },
}
</script>