<template>
    <div>
    <el-form :inline="true" :model="team" class="demo-form-inline">
    <el-row>
        <!-- {{team}} -->
        <el-form-item label="合作夥伴">
            <el-select
                v-model="team.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                placeholder="選擇合作夥伴"
                disabled
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="團隊成員">
            <el-input v-model="team.reserve_system_team_member_name" name="reserve_system_team_member_name" 
            placeholder="團隊成員" clearable></el-input>
        </el-form-item>
        <el-form-item label="團隊成員狀態">
            <el-select v-model="team.reserve_system_team_member_status" name="reserve_system_team_member_status" 
             placeholder="團隊成員狀態" clearable>
                <el-option label="下架" value=0></el-option>
                <el-option label="上架" value=1></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="searchteam" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultTeam = {
  partner_id:'',
  reserve_system_team_member_name:'',
  reserve_system_team_member_status:"1"
}

export default {
  name: 'SearchTeam',
  data() {
    return {
      team: Object.assign({}, defaultTeam)
    }
  },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
    watch: {
      partner:{
        handler: async function(val, oldVal) {
          console.log("val: ",val)
        this.team.partner_id = this.partner
      },
      immediate: true
      },
  },
  methods: {
      searchteam(){
        var query = ''
        if(this.team.partner_id!=''){
            query+= 'partner_id='+this.team.partner_id+'&'
        }
        if(this.team.reserve_system_team_member_name!=''){
            query+= 'reserve_system_team_member_name='+this.team.reserve_system_team_member_name+'&'
        }
        if(this.team.reserve_system_team_member_status!=''){
            query+= 'reserve_system_team_member_status='+this.team.reserve_system_team_member_status+'&'
        }
        //更新資料進入外層的團隊成員
        this.$emit('SearchTeam',query.slice(0, -1))
      }
  },
}
</script>