<template>
    <div>
    <el-form :inline="true" :model="service" class="demo-form-inline">
    <el-row>
        <el-form-item label="合作夥伴">
            <el-select
                v-model="service.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                @keydown.enter.native="searchservice"
                placeholder="選擇合作夥伴"
                disabled
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="服務項目分類">
            <el-select
                v-model="service.reserve_system_service_category_id"
                name="reserve_system_service_category_id"
                filterable
                allow-create
                default-first-option
                @keydown.enter.native="searchservice"
                clearable
                placeholder="選擇服務項目分類"
            >
                <el-option
                    v-for="item in servicecategorylist"
                    :key="item.reserve_system_service_category_id"
                    :label="item.reserve_system_service_category_name"
                    :value="item.reserve_system_service_category_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="服務項目狀態">
            <el-select v-model="service.reserve_system_service_status" name="reserve_system_service_status" 
             placeholder="服務項目狀態" @keyup.enter.native="searchservice" clearable>
                <el-option label="下架" value="0"></el-option>
                <el-option label="上架" value="1"></el-option>
            </el-select>
        </el-form-item>
        <!-- {{hotnews.hotnews_status}} -->
        <el-form-item>
            <el-button type="primary" @click="searchservice" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultService = {
  partner_id: '',reserve_system_service_category_id: null,reserve_system_service_status:"1"
}

export default {
  name: 'SearchService',
  data() {
    return {
      service: Object.assign({}, defaultService)
    }
  },
  computed: {
    ...mapGetters([
      'servicecategorylist',
      'partnerlist',
    ])
  },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
    watch: {
      partner:{
        handler: async function(val, oldVal) {
          console.log("val: ",val)
        this.service.partner_id = val
      },
      immediate: true
      },
  },
  methods: {
      searchservice(){
        var query = ''
        if(this.service.partner_id!=''){
            query+= 'partner_id='+this.service.partner_id+'&'
        }
        if(this.service.reserve_system_service_category_id!=null){
            query+= 'reserve_system_service_category_id='+this.service.reserve_system_service_category_id+'&'
        }
        if(this.service.reserve_system_service_status!=""){
            query+= 'reserve_system_service_status='+this.service.reserve_system_service_status+'&'
        }
        //更新資料進入外層的服務項目
        this.$emit('SearchService',query.slice(0, -1))
      }
  },
}
</script>