<template>
    <div>
    <el-form :inline="true" :model="health" class="demo-form-inline">
    <el-row>
        <el-form-item label="合作夥伴">
            <el-select
                v-model="health.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                @keydown.enter.native="searchhealth"
                placeholder="選擇合作夥伴"
                disabled
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="衛教分類">
            <el-select
                v-model="health.reserve_system_health_category_id"
                name="reserve_system_health_category_id"
                filterable
                allow-create
                default-first-option
                @keydown.enter.native="searchhealth"
                clearable
                placeholder="選擇衛教分類"
            >
                <el-option
                    v-for="item in healthcategorylist"
                    :key="item.reserve_system_health_category_id"
                    :label="item.reserve_system_health_category_name"
                    :value="item.reserve_system_health_category_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="衛教狀態">
            <el-select v-model="health.reserve_system_health_status" name="reserve_system_health_status" 
             placeholder="衛教狀態" @keyup.enter.native="searchhealth" clearable>
                <el-option label="下架" value="0"></el-option>
                <el-option label="上架" value="1"></el-option>
            </el-select>
        </el-form-item>
        <!-- {{hotnews.hotnews_status}} -->
        <el-form-item>
            <el-button type="primary" @click="searchhealth" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultHealth = {
  partner_id: '',reserve_system_health_category_id: null,reserve_system_health_status:"1"
}

export default {
  name: 'SearchHealth',
  data() {
    return {
      health: Object.assign({}, defaultHealth)
    }
  },
  computed: {
    ...mapGetters([
      'healthcategorylist',
      'partnerlist',
    ])
  },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
    watch: {
      partner:{
        handler: async function(val, oldVal) {
          console.log("val: ",val)
        this.health.partner_id = val
      },
      immediate: true
      },
  },
  methods: {
      searchhealth(){
        var query = ''
        if(this.health.partner_id!=''){
            query+= 'partner_id='+this.health.partner_id+'&'
        }
        if(this.health.reserve_system_health_category_id!=null){
            query+= 'reserve_system_health_category_id='+this.health.reserve_system_health_category_id+'&'
        }
        if(this.health.reserve_system_health_status!=""){
            query+= 'reserve_system_health_status='+this.health.reserve_system_health_status+'&'
        }
        //更新資料進入外層的衛教
        this.$emit('SearchHealth',query.slice(0, -1))
      }
  },
}
</script>