<template>
  <div class="app-container">
    <el-select
      v-model="partner"
      placeholder="請選擇合作夥伴"
      filterable
      default-first-option
      style="margin:auto 10px;"
      @change="chosenPartner"
    >
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id"
      />
    </el-select>
    <!-- {{Linebotchecknotshowothermenu}} -->
        <!-- {{Linebot_pay_premission}} -->
        <!-- {{Linebot_channel_type}} -->
      <el-tabs v-model="activeTab" v-show="partner!=''">
        <el-tab-pane label="聊天機器人基本資料" name="linebot_basic">
            <!-- 聊天機器人基本資料 {{partner}} -->
            <LinebotBasic :activeTab="activeTab" :partner="partner" 
            @check_other_menu_true_or_false="check_other_menu_true_or_false" 
            @check_linebot_channel_type="check_linebot_channel_type"
            @check_linebot_pay_premission="check_linebot_pay_premission"
            />
        </el-tab-pane>
        <el-tab-pane label="聊天機器人選單" name="linebot_rich_menu" v-if="Linebotchecknotshowothermenu==true&&Linebot_channel_type==0">
            <!-- 聊天機器人選單 -->
            <LinebotMenu :activeTab="activeTab" :partner="partner" @check_menu_errormessage="check_menu_errormessage" />
        </el-tab-pane>
        <el-tab-pane label="聊天機器人數據分析" name="linebot_static" v-if="Linebotchecknotshowothermenu==true&&Linebot_channel_type==0">
           <LinebotStatic :activeTab="activeTab" :partner="partner" />
        </el-tab-pane>
        <el-tab-pane label="聊天機器人發布管理" name="linebot_notify" v-if="Linebotchecknotshowothermenu==true&&Linebot_channel_type==0">
            <LinebotAnnounce :activeTab="activeTab" :partner="partner" />
        </el-tab-pane>
        <!-- Linebot_pay_premission.includes('電子發票') -->
        <el-tab-pane label="電子發票設定" name="linebot_reception_setting" v-if="Linebotchecknotshowothermenu==true&&Linebot_pay_premission.includes('電子發票')">
            <LinebotReception :activeTab="activeTab" :partner="partner" />
        </el-tab-pane>
      </el-tabs>
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import path from 'path'
import { deepClone } from '@/utils'
import  AddEditLineBotManager from './components/AddEditLineBotManager.vue'
import LinebotBasic from './components/LinebotBasic.vue'
import LinebotMenu from './components/LinebotMenu.vue'
import LinebotStatic from './components/LinebotStatic.vue'
import LinebotAnnounce from './components/LinebotAnnounce.vue'
import LinebotReception from './components/LinebotReception.vue'
import { getAdminPremission } from '@/api/premission_manager'

export default {
  name: 'LinebotManager',
  components: { AddEditLineBotManager,Pagination,LinebotBasic,LinebotMenu,LinebotStatic,LinebotAnnounce,LinebotReception },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'new',
      partner: '',
      LinebotMenu:[],
      check_admin_premission:[],
      //選單
      activeTab:'linebot_basic',
      //檢查其他選單是否要開起與關閉
      Linebotchecknotshowothermenu:false,
      //機器人選單類型0:官方帳號1:群組帳號
      Linebot_channel_type:0,
      //機器人開啟金流、物流、電子發票權限
      Linebot_pay_premission:[]
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  filters: {

  },
  async created() {
    // 顯示合作夥伴
    await this.getPartner('all')
    //預設帶入第一個partner_id
    await this.initPartner()
    // 得知使用者實際擁有權限
    await this.getAdminPremission("Line機器人模組")
  },
    watch: {
        partner:{
        handler: function(val, oldVal) {
        if(this.partner!=''){
            // this.getlinebotmenu()
        }
        },
        immediate: true
        }
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner', payload)
    },
    async chosenPartner(){
        console.log(this.activeTab)
    },
    //檢查是否有建立選單
    check_menu_errormessage(activeTab){
        this.activeTab = activeTab
    },
    //檢查其他選單是否要開起與關閉
    check_other_menu_true_or_false(other_menu){
        this.Linebotchecknotshowothermenu = other_menu
        if(this.Linebotchecknotshowothermenu==false){
            this.activeTab = 'linebot_basic'
        }
    },
    //檢查機器人選單類型0:官方帳號1:群組帳號
    check_linebot_channel_type(linebot_channel_type){
      console.log(linebot_channel_type)
        this.Linebot_channel_type = linebot_channel_type
    },
    //檢查機器人開啟金流、物流、電子發票權限
    check_linebot_pay_premission(linebot_pay_premission){
      // console.log("test",linebot_pay_premission)
        //當無設定任何權限將會顯示空陣列
        if(linebot_pay_premission.length==0){
          this.Linebot_pay_premission = []
          //當現在在電子發票權限tab時，如點擊其他合作夥伴沒有電子發票權限時會自動跳出提醒
          if(this.activeTab=='linebot_reception_setting'){
            this.$message({
                message: '無設定電子發票權限',
                type: 'error'
            })
          }
          this.activeTab = 'linebot_basic'
        }
        else{
          this.Linebot_pay_premission = linebot_pay_premission
        }
    },
    //剛開始直接設定預設的partner
    async initPartner(){
        await this.partnerlist.list.forEach((element,index)=>{
          if(index==0){
            console.log("show_first_init_partner",element.partner_id)
            this.partner = element.partner_id
          }
          console.log("show_all_init_partner",element.partner_id)
        })
        console.log(this.activeTab)
    },
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
