<template>
    <div>
    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'更新最新消息':'新增最新消息'"
    :before-close="closeAddHotnews" center fullscreen>
      <el-form :rules="HotnewsRules" status-icon ref="hotnews" :model="hotnews" label-position="right">
          <!-- {{partner}}
          {{dialogVisible}} --> 
          <!-- {{hotnews}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="4" :xl="4">
                <el-form-item label="合作夥伴" prop="partner_id">
                  <br/>
                    <el-select
                        v-model="hotnews.partner_id"
                        name="partner_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="選擇合作夥伴"
                        ref="partner_id"
                        >
                        <el-option
                        v-for="item in partnerlist.list"
                        :key="item.category_id"
                        :label="item.partner_name"
                        :value="item.partner_id">
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="8" :xl="8">
                <el-form-item label="最新消息標題" prop="hotnews_title">
                    <el-input ref="hotnews_title" v-model="hotnews.hotnews_title"
                    name="hotnews_title" placeholder="最新消息標題"
                    autocomplete="off" />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="最新消息內文" prop="hotnews_content">
                <el-input ref="hotnews_content" v-model="hotnews.hotnews_content" :autosize="{ minRows: 1, maxRows: 4}"
                    type="textarea" placeholder="最新消息內文"
                    name="hotnews_content" autocomplete="off"
                />
                </el-form-item>
            </el-col>
            <!-- {{questioncategorylist}} -->
            <el-col :xs="24" :sm="12" :lg="8" :xl="6">
                <el-form-item label="最新消息分類" prop="hotnews_category_id">
                  <br/>
                    <el-select
                        v-model="hotnews.hotnews_category_id"
                        name="hotnews_category_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="選擇最新消息分類"
                        ref="hotnews_category_id"
                        >
                        <el-option
                        v-for="item in hotnewscategorylist"
                        :key="item.hotnews_category_id"
                        :label="item.hotnews_category_name"
                        :value="item.hotnews_category_id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="8" :xl="6">
                <el-form-item label="最新消息狀態" prop="hotnews_status">
                  <br/>
                    <el-radio-group v-model="hotnews.hotnews_status" 
                    ref="hotnews_status" name="hotnews_status">
                        <el-radio-button label=0 border>草稿</el-radio-button>
                        <el-radio-button label=1 border>下架</el-radio-button>                        
                        <el-radio-button label=2 border>上架</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="8" :xl="12" v-if="dialogType==='edit'">
                <el-form-item label="最新消息上架日期" prop="hotnews_datetime">
                <el-input ref="hotnews_datetime" v-model="hotnews.hotnews_datetime"
                    placeholder="最新消息上架日期"
                    name="hotnews_datetime" autocomplete="off"
                    :disabled="dialogType==='edit'?true:false "
                />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="最新消息圖片" prop="hotnews_photo">
                    <!-- <el-input v-model="hotnews.hotnews_photo" 
                    name="hotnews_photo" placeholder="最新消息圖片" 
                    autocomplete="off" /> -->
                    <!-- {{hotnews.hotnews_photo}} -->
                  <el-upload
                    class="avatar-uploader"
                    action="https://shopstore-dashboardupload.gohojia.com/shop/shop_category"
                    ref="hotnews_photo"
                    name="hotnews_photo"
                    :multiple="false"
                    :auto-upload="false"
                    :limit="1"
                    accept="image/png,image/gif,image/jpg,image/jpeg"
                    :on-change="before_hotnews_photo_upload"
                    :on-remove="reset_hotnews_photo_upload"
                    >
                    <div slot="tip" class="el-upload__tip" style="color:red">
                      *圖檔大小尺寸 750 * 300<br/>
                      *只能上傳一張圖片，且不超過2MB
                    </div>
                    <img v-if="show_hotnews_photo_preview" :src="show_hotnews_photo_preview" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                  </el-upload>
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddHotnews">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmHotnews('hotnews')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddEditHotnews',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    hotnews:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      HotnewsRules: {
        hotnews_title: [{ required: true,message: '最新消息標題為必填'}],
        hotnews_content: [{ required: true,message: '最新消息內文為必填'}],
        hotnews_status:[{ required:true}],
        hotnews_category_id:[{ required: true,message: '最新消息分類為必填'}],
        partner_id:[{ required: true,message: '合作夥伴為必填'}]
      },
      // 預覽選擇的最新消息圖片
      show_hotnews_photo_preview: null,
      loading:false,
    }
  },
  computed: {
    ...mapGetters([
      'hotnewscategorylist',
      'partnerlist',
    ])
  },
  mounted() {
    //得知所有的最新消息管理分類
    this.getHotnewsCategory(1)
  },
  methods: {
    async getHotnewsCategory(page) {
      await this.$store.dispatch('hotnews/getHotnewsCategory',page)
    },
    // 更新與新增最新消息
    confirmHotnews(hotnews) {
      this.$refs[hotnews].validate(valid => {
        if (valid) {
          this.loading = true
          const HotnewsFormData = new FormData()
          HotnewsFormData.append('partner_id',this.hotnews.partner_id)
          HotnewsFormData.append('hotnews_title',this.hotnews.hotnews_title)
          HotnewsFormData.append('hotnews_content',this.hotnews.hotnews_content)
          HotnewsFormData.append('hotnews_category_id',this.hotnews.hotnews_category_id)
          HotnewsFormData.append('hotnews_status',this.hotnews.hotnews_status)
          if(this.dialogType=='new'){
            if(this.hotnews.hotnews_photo!=null){
              HotnewsFormData.append('hotnews_photo',this.hotnews.hotnews_photo.raw)
            }
          }
          if(this.dialogType=='edit'){
            if(this.hotnews.hotnews_photo!=null){
              if(this.hotnews.hotnews_photo.raw!=null){
                HotnewsFormData.append('hotnews_photo',this.hotnews.hotnews_photo.raw)
              }
            }
          }
          //更新常見問題
          if(this.dialogType=='edit'){
            HotnewsFormData.append('hotnews_id',this.hotnews.hotnews_id)
          }
          this.$store.dispatch('hotnews/insert_update_hotnews', HotnewsFormData)
            .then((res) => {
                //更新資料進入外層的最新消息
                this.$emit('getHotnews',this.hotnews.partner_id)
                console.log(this.hotnews.partner_id)
                //判斷是否為新增或修改
                if(this.dialogType!="edit"){
                    this.$nextTick(() => {
                      this.$refs[hotnews].resetFields()
                    })
                }
                //預覽圖片回復預設值
                this.$refs.hotnews_photo.clearFiles()
                this.show_hotnews_photo_preview = null
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    //關閉最新消息
    closeAddHotnews(){
    //更新資料進入外層的最新消息狀態
    this.dialogVisible = false
    //預覽圖片回復預設值
    this.show_hotnews_photo_preview = null
    this.$emit('getHotnewsstatus',this.dialogVisible)

    },
    before_hotnews_photo_upload(file){
        const isJPG = file.raw.type.toLowerCase() === 'image/jpeg'||'image/jpg'||'image/png';
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isLt2M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
        //   this.$refs.
        return isLt2M;
        }
        else if(!isJPG){
          this.$message.error('上傳格式不正確!!');
          return isJPG;
        }
        let reader = new FileReader()
        reader.readAsDataURL(file.raw);
        let URL = window.URL || window.webkitURL;
        console.log("file",file)
        //放入所有最新消息圖片資訊
        this.hotnews.hotnews_photo = file
        //預覽圖片
        this.show_hotnews_photo_preview = URL.createObjectURL(file.raw);
        return isLt2M&isJPG;
    },
    //取消上傳圖片
    reset_hotnews_photo_upload(){
       this.hotnews.hotnews_photo = null
      this.show_hotnews_photo_preview = null
    }
  }
}
</script>