<template>
    <div>
    <el-dialog :visible.sync="dialogHotnewsCategoryVisible" :title="dialogHotnewsCategoryType==='edit'?'更新最新消息分類':'新增最新消息分類'"
    :before-close="closeAddHotnewsCategorylist" center
    width="50%"
    append-to-body
    >
      <el-form :rules="hotnewscategorylistRules" status-icon ref="hotnewscategorylist" :model="hotnewscategorylist" label-position="right">
          <!-- {{hotnewscategorylist}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="最新消息分類名稱" prop="hotnews_category_name">
                    <el-input ref="hotnews_category_name" v-model="hotnewscategorylist.hotnews_category_name"
                    name="hotnews_category_name" placeholder="最新消息分類名稱"
                     />
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddHotnewsCategorylist">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmHotnewsCategorylist('hotnewscategorylist')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddEditHotnewsCategorylist',
props:{
    dialogHotnewsCategoryType:{
        type:String,
        require:true
    },
    dialogHotnewsCategoryVisible:{
        type:Boolean,
        require:true
    },
    hotnewscategorylist:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      hotnewscategorylistRules: {
        hotnews_category_name: [{ required: true,message:'最新消息分類名稱為必填' }],
      },
      loading:false,
    }
  },
  methods: {
    // 更新與新增父層權限
    confirmHotnewsCategorylist(hotnewscategorylist){
      this.$refs[hotnewscategorylist].validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('hotnews/insert_update_hotnews_category', this.hotnewscategorylist)
            .then((res) => {
                // 更新資料進入外層的父層權限
                this.$emit('gethotnewscategoryupdate')
                // this.dialogVisible = false
                //判斷是否為新增或修改
                if(this.dialogHotnewsCategoryType!="edit"){
                    this.$nextTick(() => {
                        this.$refs[hotnewscategorylist].resetFields();
                    })
                }
                this.$store.dispatch('hotnews/getHotnewsCategory',1)
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    // 關閉父層
    closeAddHotnewsCategorylist(){
    // 更新資料進入外層的父層
    this.dialogHotnewsCategoryVisible = false
    this.$emit('getHotnewscategoryliststatus',this.dialogHotnewsCategoryVisible)
    }
  }
}
</script>