<template>
    <div>
    <el-dialog :visible.sync="dialogMainPackageVisible" :title="dialogMainPackageType==='edit'?'更新貼圖主分類':'新增貼圖主分類'"
    :before-close="closeAddMainPackagelist" center fullscreen>
      <el-form :rules="mainpackagelistRules" status-icon ref="mainpackagelist" :model="mainpackagelist" label-position="right">
          {{mainpackagelist}}
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="貼圖package" prop="package_id">
                    <el-input ref="package_id" v-model="mainpackagelist.package_id"
                    name="package_id" placeholder="貼圖package"
                     />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="貼圖主標題" prop="package_title">
                    <el-input ref="package_title" v-model="mainpackagelist.package_title"
                    name="package_title" placeholder="貼圖主標題"
                     />
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddMainPackagelist">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmMainPackagelist('mainpackagelist')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddEditMainPackagelist',
props:{
    dialogMainPackageType:{
        type:String,
        require:true
    },
    dialogMainPackageVisible:{
        type:Boolean,
        require:true
    },
    mainpackagelist:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      mainpackagelistRules: {
        package_id: [{ required: true }],
        package_title: [{ required: true }],
      },
      loading:false,
    }
  },
  methods: {
    // 更新與新增父層權限
    confirmMainPackagelist(mainpackagelist){
      this.$refs[mainpackagelist].validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('linemainpackage/insert_update_main_line_package', this.mainpackagelist)
            .then((res) => {
                // 更新資料進入外層的父層權限
                this.$emit('getmainpackageupdate')
                // this.dialogVisible = false
                //判斷是否為新增或修改
                if(this.dialogMainPackageType!="edit"){
                    this.$nextTick(() => {
                        this.$refs[mainpackagelist].resetFields();
                    })
                }
                this.$store.dispatch('linemainpackage/getMainLinePackage',1)
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    // 關閉父層
    closeAddMainPackagelist(){
    // 更新資料進入外層的父層
    this.dialogMainPackageVisible = false
    this.$emit('getMainPackageliststatus',this.dialogMainPackageVisible)
    }
  }
}
</script>