<template>
    <div>
    <el-dialog :visible.sync="dialogPartnerCategoryVisible" :title="dialogPartnerCategoryType==='edit'?'更新合作夥伴分類':'新增合作夥伴分類'"
    :before-close="closeAddPartnerCategorylist" center fullscreen>
      <el-form :rules="partnercategorylistRules" status-icon ref="partnercategorylist" :model="partnercategorylist" label-position="right">
          {{partnercategorylist}}
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="合作夥伴分類名稱" prop="partner_category_name">
                    <el-input ref="partner_category_name" v-model="partnercategorylist.partner_category_name"
                    name="partner_category_name" placeholder="合作夥伴分類名稱"
                     />
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddPartnerCategorylist">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmPartnerCategorylist('partnercategorylist')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddEditPartnerCategorylist',
props:{
    dialogPartnerCategoryType:{
        type:String,
        require:true
    },
    dialogPartnerCategoryVisible:{
        type:Boolean,
        require:true
    },
    partnercategorylist:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      partnercategorylistRules: {
        partner_category_name: [{ required: true }],
      },
      loading:false,
    }
  },
  methods: {
    // 更新與新增父層權限
    confirmPartnerCategorylist(partnercategorylist){
      this.$refs[partnercategorylist].validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('partner/insert_update_partner_category', this.partnercategorylist)
            .then((res) => {
                // 更新資料進入外層的父層權限
                this.$emit('getpartnercategoryupdate')
                // this.dialogVisible = false
                //判斷是否為新增或修改
                if(this.dialogPartnerCategoryType!="edit"){
                    this.$nextTick(() => {
                        this.$refs[partnercategorylist].resetFields();
                    })
                }
                this.$store.dispatch('partner/getPartnerCategory',1)
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    // 關閉父層
    closeAddPartnerCategorylist(){
    // 更新資料進入外層的父層
    this.dialogPartnerCategoryVisible = false
    this.$emit('getPartnercategoryliststatus',this.dialogPartnerCategoryVisible)
    }
  }
}
</script>