<template>
    <div>
    <el-dialog :visible.sync="dialogQuestionCategoryVisible" :title="dialogQuestionCategoryType==='edit'?'更新最常見問題分類':'新增常見問題分類'"
    :before-close="closeAddQuestionCategorylist" center fullscreen>
      <el-form :rules="questioncategorylistRules" status-icon ref="questioncategorylist" :model="questioncategorylist" label-position="right">
          {{questioncategorylist}}
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="常見問題分類名稱" prop="question_category_name">
                    <el-input ref="question_category_name" v-model="questioncategorylist.question_category_name"
                    name="question_category_name" placeholder="常見問題分類名稱"
                     />
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddQuestionCategorylist">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmQuestionCategorylist('questioncategorylist')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddEditQuestionCategorylist',
props:{
    dialogQuestionCategoryType:{
        type:String,
        require:true
    },
    dialogQuestionCategoryVisible:{
        type:Boolean,
        require:true
    },
    questioncategorylist:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      questioncategorylistRules: {
        question_category_name: [{ required: true }],
      },
      loading: false,
    }
  },
  methods: {
    // 更新與新增父層權限
    confirmQuestionCategorylist(questioncategorylist){
      this.$refs[questioncategorylist].validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('question/insert_update_question_category', this.questioncategorylist)
            .then((res) => {
                // 更新資料進入外層的父層權限
                this.$emit('getquestioncategoryupdate')
                // this.dialogVisible = false
                //判斷是否為新增或修改
                if(this.dialogQuestionCategoryType!="edit"){
                    this.$nextTick(() => {
                        this.$refs[questioncategorylist].resetFields();
                    })
                }
                this.$store.dispatch('question/getQuestionCategory',1)
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    // 關閉父層
    closeAddQuestionCategorylist(){
    // 更新資料進入外層的父層
    this.dialogQuestionCategoryVisible = false
    this.$emit('getQuestioncategoryliststatus',this.dialogQuestionCategoryVisible)
    }
  }
}
</script>