<template>
    <div>
    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'更新常見問題':'新增常見問題'"
    :before-close="closeAddQuestion" center fullscreen>
      <el-form :rules="QuestionRules" status-icon ref="question" :model="question" label-position="right">
          <!-- {{partner}}
          {{dialogVisible}} --> 
          <!-- {{question}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="4" :xl="4">
                <el-form-item label="合作夥伴" prop="partner_id">
                    <el-select
                        v-model="question.partner_id"
                        name="partner_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="選擇合作夥伴"
                        ref="partner_id"
                        >
                        <el-option
                        v-for="item in partnerlist.list"
                        :key="item.category_id"
                        :label="item.partner_name"
                        :value="item.partner_id">
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="8" :xl="8">
                <el-form-item label="常見問題標題" prop="question_title">
                    <el-input ref="question_title" v-model="question.question_title"
                    name="question_title" placeholder="常見問題標題"
                    autocomplete="off" />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="常見問題內文" prop="question_content">
                <el-input ref="question_content" v-model="question.question_content" :autosize="{ minRows: 1, maxRows: 4}"
                    type="textarea" placeholder="常見問題內文"
                    name="question_content" autocomplete="off"
                />
                </el-form-item>
            </el-col>
            <!-- {{questioncategorylist}} -->
            <el-col :xs="24" :sm="12" :lg="8" :xl="8">
                <el-form-item label="常見問題分類" prop="question_category_id">
                  <br/>
                    <el-select
                        v-model="question.question_category_id"
                        name="question_category_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="選擇常見問題分類"
                        ref="question_category_id"
                        >
                        <el-option
                        v-for="item in questioncategorylist"
                        :key="item.question_category_id"
                        :label="item.question_category_name"
                        :value="item.question_category_id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="8" :xl="8">
                <el-form-item label="常見問題狀態" prop="question_status">
                  <br/>
                    <el-radio-group v-model="question.question_status" 
                    ref="question_status" name="question_status">
                        <el-radio-button label=0 border>草稿</el-radio-button>
                        <el-radio-button label=1 border>下架</el-radio-button>                        
                        <el-radio-button label=2 border>上架</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="8" :xl="8" v-if="dialogType==='edit'">
                <el-form-item label="常見問題上架日期" prop="question_datetime">
                <el-input ref="question_datetime" v-model="question.question_datetime"
                    placeholder="常見問題上架日期"
                    name="question_datetime" autocomplete="off"
                    :disabled="dialogType==='edit'?true:false "
                />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="常見問題圖片" prop="question_photo">
                    <!-- <el-input v-model="question.question_photo" 
                    name="question_photo" placeholder="常見問題圖片" 
                    autocomplete="off" /> -->
                    <!-- {{question.question_photo}} -->
                  <el-upload
                    class="avatar-uploader"
                    action="https://shopstore-dashboardupload.gohojia.com/shop/shop_category"
                    ref="question_photo"
                    name="question_photo"
                    :multiple="false"
                    :auto-upload="false"
                    :limit="1"
                    accept="image/png,image/gif,image/jpg,image/jpeg"
                    :on-change="before_question_photo_upload"
                    :on-remove="reset_question_photo_upload"
                    >
                    <div slot="tip" class="el-upload__tip" style="color:red">
                      *圖檔大小尺寸 750 * 300<br/>
                      *只能上傳一張圖片，且不超過2MB
                    </div>
                    <img v-if="show_question_photo_preview" :src="show_question_photo_preview" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                  </el-upload>
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddQuestion">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmQuestion('question')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddEditQuestion',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    question:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      QuestionRules: {
        question_title: [{ required: true,message: '常見問題標題為必填'}],
        question_content: [{ required: true,message: '常見問題內文為必填'}],
        question_status:[{ required:true}],
        question_category_id:[{ required: true,message: '常見問題分類為必填'}],
        partner_id:[{ required: true,message: '合作夥伴為必填'}]
      },
      //預覽選擇的常見問題圖片
      show_question_photo_preview:null,
      loading:false,
    }
  },
  computed: {
    ...mapGetters([
      'questioncategorylist',
      'partnerlist',
    ])
  },
  mounted() {
    //得知所有的常見問題管理分類
    this.getQuestionCategory(1)
  },
  methods: {
    async getQuestionCategory(page) {
      await this.$store.dispatch('question/getQuestionCategory',page)
    },
    //更新與新增常見問題
    confirmQuestion(question){
      this.$refs[question].validate(valid => {
        if (valid) {
          this.loading = true
          const QuestionFormData = new FormData()
          QuestionFormData.append('partner_id',this.question.partner_id)
          QuestionFormData.append('question_title',this.question.question_title)
          QuestionFormData.append('question_content',this.question.question_content)
          QuestionFormData.append('question_category_id',this.question.question_category_id)
          QuestionFormData.append('question_status',this.question.question_status)
          if(this.dialogType=='new'){
            if(this.question.question_photo!=null){
              QuestionFormData.append('question_photo',this.question.question_photo.raw)
            }
          }
          if(this.dialogType=='edit'){
            //判斷圖片是不是空的
            if(this.question.question_photo!=null){
              console.log(this.question.question_photo.raw!=null)
              //判斷圖片有沒有值
              if(this.question.question_photo.raw!=null){
                QuestionFormData.append('question_photo',this.question.question_photo.raw)
              }
            }
          }
          //更新常見問題
          if(this.dialogType=='edit'){
            QuestionFormData.append('question_id',this.question.question_id)
          }
          this.$store.dispatch('question/insert_update_question', QuestionFormData)
            .then((res) => {
                //更新資料進入外層的常見問題
                this.$emit('getQuestion',this.question.partner_id)
                console.log(this.question.partner_id)
                //判斷是否為新增或修改
                if(this.dialogType!="edit"){
                    this.$nextTick(() => {
                      this.$refs[question].resetFields()
                    })
                }
                //預覽圖片回復預設值
                this.$refs.question_photo.clearFiles()
                this.show_question_photo_preview = null
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    //關閉常見問題
    closeAddQuestion(){
    //更新資料進入外層的常見問題狀態
    this.dialogVisible = false
    //預覽圖片回復預設值
    this.show_question_photo_preview = null
    this.$emit('getQuestionstatus',this.dialogVisible)

    },
    //上傳預覽常見問題
    before_question_photo_upload(file){
        const isJPG = file.raw.type.toLowerCase() === 'image/jpeg'||'image/jpg'||'image/png';
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isLt2M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
        //   this.$refs.
        return isLt2M;
        }
        else if(!isJPG){
          this.$message.error('上傳格式不正確!!');
          return isJPG;
        }
        let reader = new FileReader()
        reader.readAsDataURL(file.raw);
        let URL = window.URL || window.webkitURL;
        console.log("file",file)
        //放入所有常見問題圖片資訊
        this.question.question_photo = file
        //預覽圖片
        this.show_question_photo_preview = URL.createObjectURL(file.raw);
        return isLt2M&isJPG;
    },
    //取消上傳圖片
    reset_question_photo_upload(){
      this.question.question_photo = null
      this.show_question_photo_preview = null
    }
  }
}
</script>