<template>
    <div>
    <el-dialog :visible.sync="dialogRoleCategoryVisible" :title="dialogRoleCategoryType==='edit'?'更新角色分類':'新增角色分類'"
    :before-close="closeAddRoleCategorylist" center fullscreen>
      <el-form :rules="rolecategorylistRules" status-icon ref="rolecategorylist" :model="rolecategorylist" label-position="right">
          {{rolecategorylist}}
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="角色分類名稱" prop="roles_name">
                    <el-input ref="roles_name" v-model="rolecategorylist.roles_name"
                    name="roles_name" placeholder="角色分類名稱"
                     />
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddRoleCategorylist">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmRoleCategorylist('rolecategorylist')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddEditRoleCategorylist',
props:{
    dialogRoleCategoryType:{
        type:String,
        require:true
    },
    dialogRoleCategoryVisible:{
        type:Boolean,
        require:true
    },
    rolecategorylist:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      rolecategorylistRules: {
        roles_name: [{ required: true }],
      },
      loading:false,
    }
  },
  methods: {
    // 更新與新增父層權限
    confirmRoleCategorylist(rolecategorylist){
      this.$refs[rolecategorylist].validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('admin/insert_update_admin_role', this.rolecategorylist)
            .then((res) => {
                // 更新資料進入外層的父層權限
                this.$emit('getrolecategoryupdate')
                // this.dialogVisible = false
                //判斷是否為新增或修改
                if(this.dialogRoleCategoryType!="edit"){
                    this.$nextTick(() => {
                        this.$refs[rolecategorylist].resetFields();
                    })
                }
                this.$store.dispatch('admin/getAdminRoles',1)
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    // 關閉父層
    closeAddRoleCategorylist(){
    // 更新資料進入外層的父層
    this.dialogRoleCategoryVisible = false
    this.$emit('getRolecategoryliststatus',this.dialogRoleCategoryVisible)
    }
  }
}
</script>