<template>
    <div>
    <el-dialog :visible.sync="dialogShopCategoryVisible" :title="dialogShopCategoryType==='edit'?'更新商品分類':'新增商品分類'"
    :before-close="closeAddShopCategorylist" center fullscreen>
      <el-form :rules="shopcategorylistRules" status-icon ref="shopcategorylist" :model="shopcategorylist" label-position="right">
          {{shopcategorylist}}
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="8" :xl="8">
                <el-form-item label="商品大分類名稱" prop="shop_big_category">
                    <el-input ref="shop_big_category" v-model="shopcategorylist.shop_big_category"
                    name="shop_big_category" placeholder="商品大分類名稱"
                     />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="4" :xl="4">
                <el-form-item label="商品大分類縮寫" prop="shop_big_category_number">
                    <el-input ref="shop_big_category_number" v-model="shopcategorylist.shop_big_category_number"
                    name="shop_big_category_number" placeholder="商品大分類縮寫"
                     />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="8" :xl="8">
                <el-form-item label="商品小分類名稱" prop="shop_small_category">
                    <el-input ref="shop_small_category" v-model="shopcategorylist.shop_small_category"
                    name="shop_small_category" placeholder="商品小分類名稱"
                     />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="4" :xl="4" v-if="dialogShopCategoryType==='edit'">
                <el-form-item label="商品小分類代碼" prop="shop_small_category_number">
                    <el-input ref="shop_small_category_number" v-model="shopcategorylist.shop_small_category_number"
                    name="shop_small_category_number" placeholder="商品小分類縮寫"
                     />
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddShopCategorylist">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmShopCategorylist('shopcategorylist')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddEditShopCategorylist',
props:{
    dialogShopCategoryType:{
        type:String,
        require:true
    },
    dialogShopCategoryVisible:{
        type:Boolean,
        require:true
    },
    shopcategorylist:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      shopcategorylistRules: {
        hotnews_category_name: [{ required: true }],
      },
      loading:false,
    }
  },
  methods: {
    // 更新與新增父層權限
    confirmShopCategorylist(shopcategorylist){
      this.$refs[shopcategorylist].validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('shop/insert_update_shop_category', this.shopcategorylist)
            .then((res) => {
                // 更新資料進入外層的父層權限
                this.$emit('getshopcategoryupdate')
                // this.dialogVisible = false
                //判斷是否為新增或修改
                if(this.dialogShopCategoryType!="edit"){
                    this.$nextTick(() => {
                        this.$refs[shopcategorylist].resetFields();
                    })
                }
                this.$store.dispatch('shop/getShopCategory',1)
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    // 關閉父層
    closeAddShopCategorylist(){
    // 更新資料進入外層的父層
    this.dialogShopCategoryVisible = false
    this.$emit('getShopcategoryliststatus',this.dialogShopCategoryVisible)
    }
  }
}
</script>