<template>
    <div>
    <el-dialog :visible.sync="dialogSubPackageVisible" :title="dialogSubPackageType==='edit'?'更新貼圖子分類':'新增貼圖子分類'"
    :before-close="closeAddSubPackagelist" center fullscreen>
      <el-form :rules="subpackagelistRules" status-icon ref="subpackagelist" :model="subpackagelist" label-position="right">
        <el-row :gutter="20">
          <!-- {{subpackagelist}} -->
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="貼圖分類" prop="sticker_package_id">
                    <!-- <div style="color:red">
                      *帶入貼圖主標題序號_id
                    </div>
                    <el-input ref="sub_line_package_id" v-model="subpackagelist.sub_line_package_id"
                    name="sub_line_package_id" placeholder="貼圖分類"
                     /> -->
                    <el-select
                        ref="sticker_package_id"
                        v-model="subpackagelist.sticker_package_id"
                        name="sticker_package_id"
                        width="100%"
                        placeholder="選擇貼圖主分類">
                        <el-option
                            v-for="item in sticker_package"
                            :key="item.main_line_package_id"
                            :label="item.package_title"
                            :value="item.main_line_package_id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="貼圖代號" prop="sticker_id">
                    <el-input ref="sticker_id" v-model="subpackagelist.sticker_id"
                    name="sticker_id" placeholder="貼圖代號"
                     />
                </el-form-item>
                <!-- https://stickershop.line-scdn.net/stickershop/v1/sticker/1988/android/sticker.png -->
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="貼圖預覽顯示">
                    <el-image
                        :src="'https://stickershop.line-scdn.net/stickershop/v1/sticker/'+subpackagelist.sticker_id+'/android/sticker.png'"
                        fit="fit">
                        <div slot="error" class="image-slot">
                            <i class="el-icon-picture-outline"></i>
                        </div>
                    </el-image>
                </el-form-item>
                <!-- https://stickershop.line-scdn.net/stickershop/v1/sticker/1988/android/sticker.png -->
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddSubPackagelist">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmSubPackagelist('subpackagelist')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
import { getMainLinePackage } from '@/api/line_package_manager'
export default {
name: 'AddEditSubPackagelist',
props:{
    dialogSubPackageType:{
        type:String,
        require:true
    },
    dialogSubPackageVisible:{
        type:Boolean,
        require:true
    },
    subpackagelist:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      subpackagelistRules: {
        sticker_package_id: [{ required: true }],
        sticker_id: [{ required: true }],
      },
      sticker_package:[],
      loading:false,
    }
  },
  mounted() {
    this.getLineMainPackageRecord('all')
  },
  methods: {
    // 更新與新增父層權限
    confirmSubPackagelist(subpackagelist){
      this.$refs[subpackagelist].validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('linemainpackage/insert_update_sub_line_package', this.subpackagelist)
            .then((res) => {
                // 更新資料進入外層的父層權限
                this.$emit('getsubpackageupdate')
                // this.dialogVisible = false
                //判斷是否為新增或修改
                if(this.dialogSubPackageType!="edit"){
                    this.$nextTick(() => {
                        this.$refs[subpackagelist].resetFields();
                    })
                }
                this.$store.dispatch('linemainpackage/getSubLinePackage',1)
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    getLineMainPackageRecord(page) {
        getMainLinePackage(page).then((resp)=>{
            this.sticker_package = resp.data.list
        })
    },
    // 關閉父層
    closeAddSubPackagelist(){
    // 更新資料進入外層的父層
    this.dialogSubPackageVisible = false
    this.$emit('getSubPackageliststatus',this.dialogSubPackageVisible)
    }
  }
}
</script>