<template>
    <div>
    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'更新待辦事項':'新增待辦事項'"
    :before-close="closeAddTodolist" center fullscreen>
      <el-form :rules="TodolistRules" status-icon ref="todolist" :model="todolist" label-position="right">
          <!-- {{partner}}
          {{dialogVisible}} --> 
          <!-- {{todolist}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="合作夥伴" prop="partner_id">
                    <el-select
                        v-model="todolist.partner_id"
                        name="partner_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="選擇合作夥伴"
                        ref="partner_id"
                        >
                        <el-option
                        v-for="item in partnerlist.list"
                        :key="item.category_id"
                        :label="item.partner_name"
                        :value="item.partner_id">
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="代辦事項標題" prop="schedule_title">
                    <el-input ref="schedule_title" v-model="todolist.schedule_title"
                    name="schedule_title" placeholder="代辦事項標題"
                     />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="代辦事項狀態" prop="schedule_status">
                    <el-radio-group v-model="todolist.schedule_status" 
                    ref="schedule_status" name="schedule_status">
                        <el-radio-button label=0 border>未完成</el-radio-button>
                        <el-radio-button label=1 border>已完成</el-radio-button>                        
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="推播開關" prop="push_message_switch">
                    <el-radio-group v-model="todolist.push_message_switch" 
                    ref="push_message_switch" name="push_message_switch">
                        <el-radio-button label=0 border>未開啟</el-radio-button>
                        <el-radio-button label=1 border>開啟</el-radio-button>                        
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6" v-if="todolist.push_message_switch==1">
                <el-form-item label="推播日期" prop="push_message_date">
                    <el-date-picker v-model="todolist.push_message_date" type="date" 
                    ref="push_message_date" name="push_message_date" placeholder="推播日期"
                    value-format="yyyy-MM-dd"
                    ></el-date-picker>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6" v-if="todolist.push_message_switch==1">
                <el-form-item label="推播時間" prop="push_message_time">
                    <el-time-select v-model="todolist.push_message_time"
                    ref="push_message_time" name="push_message_time"
                    :picker-options="{start: '00:15',step: '00:15',end: '23:45'}"
                    placeholder="推播時間">
                    </el-time-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="代辦事項顏色區分" prop="schedule_color">
                    <el-color-picker v-model="todolist.schedule_color"
                    ref="schedule_color" name="schedule_color"
                    ></el-color-picker>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="代辦事項備註" prop="schedule_note">
                <el-input v-model="todolist.schedule_note" :autosize="{ minRows: 2, maxRows: 4}"
                    type="textarea" placeholder="代辦事項備註"
                    name="schedule_note"
                />
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddTodolist">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmTodolist('todolist')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddEditTodolist',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    todolist:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      TodolistRules: {
        schedule_title: [{ required: true,message: '代辦事項標題為必填'}],
        schedule_status: [{ required: true }],
        push_message_switch:[{ required:true}],
        todolist_color:[{required:true}],
        partner_id:[{ required: true,message: '合作夥伴為必填'}]
      },
      loading:false,
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  methods: {
    //更新與新增代辦事項
    confirmTodolist(todolist){
      this.$refs[todolist].validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('todolist/insert_update_todolist', this.todolist)
            .then((res) => {
                //更新資料進入外層的合作夥伴
                this.$emit('getTodolistpartnerupdate',this.todolist.partner_id)
                console.log(res)
                // this.dialogVisible = false
                //判斷是否為新增或修改
                if(this.dialogType!="edit"){
                    this.$nextTick(() => {
                        this.$refs[todolist].resetFields();
                    })
                }
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    //關閉代辦事項
    closeAddTodolist(){
    //更新資料進入外層的代辦事項
    this.dialogVisible = false
    this.$emit('getTodoliststatus',this.dialogVisible)
    }
  }
}
</script>