<template>
    <div>
    <el-dialog :visible="dialogWordCategoryVisible" :title="dialogWordCategoryType==='edit'?'更新常用文字':'新增常用文字'"
    :before-close="closeAddWordCategory" center
    fullscreen
    append-to-body
    >
        <!-- {{wordcategory}} -->
        <!-- {{tabname}} -->
        <!-- {{dialogWordCategoryType}} -->
      <el-form :rules="WordCategoryRules" status-icon ref="wordcategory" :model="wordcategory" label-position="right">
        <el-row :gutter="20">
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="常用文字類型" prop="reserve_system_word_type">
              <br>
              <el-select
                  v-model="wordcategory.reserve_system_word_type"
                  placeholder="請選擇常用文字類型"
                  filterable
                  default-first-option
                  style="margin:auto 10px;"
                  :disabled="tabname=='linebotannounce'?true:false"
              >
                  <el-option label="聊天機器人發布管理" :value="0"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="常用文字標題" prop="reserve_system_word_title">
                <el-input ref="reserve_system_word_title" v-model="wordcategory.reserve_system_word_title"
                name="reserve_system_word_title" placeholder="常用文字標題"
                autocomplete="off" />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="常用文字內文" prop="reserve_system_word_content">
              <el-input ref="reserve_system_word_content" v-model="wordcategory.reserve_system_word_content"
                  type="textarea"
                  :rows="12"
                name="reserve_system_word_content" placeholder="常用文字內文" autocomplete="off" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddWordCategory">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmWordCategory('wordcategory')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
export default {
name: 'AddWordCategory',
props:{
    dialogWordCategoryType:{
        type:String,
        require:true
    },
    dialogWordCategoryVisible:{
        type:Boolean,
        require:true
    },
    wordcategory:{
        type:Object,
        require:true
    },
    tabname:{
        type:String,
        require:true
    },
},
  data() {
    return {
      WordCategoryRules: {
          reserve_system_word_type:[
            { required: true,message: '常用文字類型 為必填欄位' },
          ],
          	reserve_system_word_title:[
            { required: true,message: '常用文字標題 為必填欄位' },
          ]
      },
      loading:false,
    }
  },
  methods: {
    //關閉常用文字選單
    closeAddWordCategory(){
    //更新資料進入外層的常用文字選單
    this.dialogWordCategoryVisible = false
    this.dialogWordCategoryType = ''
    this.$emit('getWordCategory_status_dialogtype',this.dialogWordCategoryVisible,this.dialogWordCategoryType)
    //從測試模組所有分類模組新增
    if(this.tabname=='all_partner_category_record'){
        this.$emit('getwordcategoryupdate')
    }
    },
    // 更新與新增常用文字
    confirmWordCategory(wordcategory) {
      this.$refs[wordcategory].validate(async valid => {
        if (valid) {
          this.loading = true
          await this.$store.dispatch('reservationsystemword/insert_update_word_category', this.wordcategory)
            .then((resp) => {
                //判斷是否為新增或修改
                if(this.dialogWordCategoryType!="edit"&&resp.success==true){
                    this.$nextTick(() => {
                      this.$refs[wordcategory].resetFields()
                    })
                }
                this.loading = false
                //關閉常用文字選單
                if(resp.success==true){
                  this.closeAddWordCategory()
                }
            })
            .catch(() => {
              this.loading = false
              return false
            })
            //從所有分類新增
            if(this.tabname=='all_partner_category_record'){
              var payload = ''
              payload ='all'
              await this.$store.dispatch('reservationsystemword/getWordCategory',payload)
            }
            //從新增聊天機器人發布管理新增
            else if(this.tabname=='linebotannounce'){
              var payload = ''
              payload ='all?reserve_system_word_type=0'
              await this.$store.dispatch('reservationsystemword/getWordCategory',payload)
            }
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    }
  }
}
</script>