<template>
  <div>
      <!-- {{partner_category_record_time.list}} -->
      <!-- {{word_category_record_time}} -->
    <el-table v-loading="partner_category_Loading" :data="partner_category_record_time.list" border fit highlight-current-row style="width: 100%;margin-top:10px;" v-if="type=='all_partner_category_record'">
      <el-table-column
        fixed
        width="50"
        label="序號"
      >
        <template slot-scope="scope">
            {{ scope.row.partner_category_id }}
        </template>
      </el-table-column>

      <el-table-column label="合作夥伴分類">
        <template slot-scope="{row}">
          <el-tag>{{ row.partner_category_name }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditPartnerCategory(scope)">編輯</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="partner_category_record_time.count"
      :page.sync="partner_category_record_time.nowpages"
      :limit.sync="partner_category_record_time.limit"
      v-if="type=='all_partner_category_record'"
      @pagination="getPartnerCategoryRecord(partner_category_record_time.nowpages)" />

    <el-table v-loading="hotnews_category_Loading" :data="hotnews_category_record_time.list" border fit highlight-current-row style="width: 100%;margin-top:10px;" v-if="type=='all_hotnews_category_record'">
      <el-table-column
        fixed
        width="50"
        label="序號"
      >
        <template slot-scope="scope">
            {{ scope.row.hotnews_category_id }}
        </template>
      </el-table-column>

      <el-table-column label="最新消息分類">
        <template slot-scope="{row}">
          <el-tag>{{ row.hotnews_category_name }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditHotnewsCategory(scope)">編輯</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="hotnews_category_record_time.count"
      :page.sync="hotnews_category_record_time.nowpages"
      :limit.sync="hotnews_category_record_time.limit"
      v-if="type=='all_hotnews_category_record'"
      @pagination="getHotnewsCategoryRecord(hotnews_category_record_time.nowpages)" />

    <el-table v-loading="question_category_Loading" :data="question_category_record_time.list" border fit highlight-current-row style="width: 100%;margin-top:10px;" v-if="type=='all_question_category_record'">
      <el-table-column
        fixed
        width="50"
        label="序號"
      >
        <template slot-scope="scope">
            {{ scope.row.question_category_id }}
        </template>
      </el-table-column>

      <el-table-column label="常見問題分類">
        <template slot-scope="{row}">
          <el-tag>{{ row.question_category_name }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditQuestionCategory(scope)">編輯</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="question_category_record_time.count"
      :page.sync="question_category_record_time.nowpages"
      :limit.sync="question_category_record_time.limit"
      v-if="type=='all_question_category_record'"
      @pagination="getQuestionCategoryRecord(question_category_record_time.nowpages)" />
    <el-table v-loading="shop_category_Loading" :data="shop_category_record_time.list" border fit highlight-current-row style="width: 100%;margin-top:10px;" v-if="type=='all_shop_category_record'">
      <el-table-column
        fixed
        width="50"
        label="序號"
      >
        <template slot-scope="scope">
            {{ scope.row.shop_category_id }}
        </template>
      </el-table-column>

      <el-table-column label="商品大分類>小分類">
        <template slot-scope="{row}">
          <el-tag>{{ row.shop_big_category }} > {{ row.shop_small_category }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="商品大分類/小分類縮寫">
        <template slot-scope="{row}">
          <el-tag>{{ row.shop_big_category_number }}{{ row.shop_small_category_number }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditShopCategory(scope)">編輯</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="shop_category_record_time.count"
      :page.sync="shop_category_record_time.nowpages"
      :limit.sync="shop_category_record_time.limit"
      v-if="type=='all_shop_category_record'"
      @pagination="getShopCategoryRecord(shop_category_record_time.nowpages)" />
    <el-table v-loading="role_category_Loading" :data="role_category_record_time.list" border fit highlight-current-row style="width: 100%;margin-top:10px;" v-if="type=='all_role_category_record'">
      <el-table-column
        fixed
        width="50"
        label="序號"
      >
        <template slot-scope="scope">
            {{ scope.row.roles_id }}
        </template>
      </el-table-column>

      <el-table-column label="角色">
        <template slot-scope="{row}">
          <el-tag>{{ row.roles_name }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditRoleCategory(scope)">編輯</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="role_category_record_time.count"
      :page.sync="role_category_record_time.nowpages"
      :limit.sync="role_category_record_time.limit"
      v-if="type=='all_role_category_record'"
      @pagination="getRoleCategoryRecord(role_category_record_time.nowpages)" />
    <el-table v-loading="line_main_package_record_Loading" :data="line_main_package_record_time.list" border fit highlight-current-row style="width: 100%;margin-top:10px;" v-if="type=='all_main_package_record'">
      <el-table-column
        fixed
        label="序號主_id"
      >
        <template slot-scope="scope">
            {{ scope.row.main_line_package_id  }}
        </template>
      </el-table-column>
      <el-table-column label="貼圖package">
        <template slot-scope="{row}">
          {{ row.package_id }}
        </template>
      </el-table-column>
      <el-table-column
      width="200"
      label="貼圖主標題">
        <template slot-scope="{row}">
          <el-tag>{{ row.package_title }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column
      width="100" 
      label="操作"
      >
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditMainPackage(scope)">編輯</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="line_main_package_record_time.count"
      :page.sync="line_main_package_record_time.nowpages"
      :limit.sync="line_main_package_record_time.limit"
      v-if="type=='all_main_package_record'"
      @pagination="getLineMainPackageRecord(line_main_package_record_time.nowpages)" />
      <!-- {{line_sub_package_record_time.list}}sss -->
    <el-table v-loading="line_sub_package_record_Loading" :data="line_sub_package_record_time.list" border fit highlight-current-row style="width: 100%;margin-top:10px;" v-if="type=='all_sub_package_record'">
      <el-table-column
        fixed
        label="序號子_id"
      >
        <template slot-scope="scope">
            {{ scope.row.sub_line_package_id  }}
        </template>
      </el-table-column>
      <el-table-column label="貼圖package">
        <template slot-scope="{row}">
          {{ row.package_id }}
        </template>
      </el-table-column>
      <el-table-column
      width="200"
      label="貼圖主標題">
        <template slot-scope="{row}">
          <el-tag>{{ row.package_title }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column
      label="貼圖sticker_id">
        <template slot-scope="{row}">
          <el-image
              :src="'https://stickershop.line-scdn.net/stickershop/v1/sticker/'+row.sticker_id+'/android/sticker.png'"
              fit="fit">
              <div slot="error" class="image-slot">
                  <i class="el-icon-picture-outline"></i>
              </div>
          </el-image>
          <el-tag>{{ row.sticker_id }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column
      width="100" 
      label="操作"
      >
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEditSubPackage(scope)">編輯</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="line_sub_package_record_time.count"
      :page.sync="line_sub_package_record_time.nowpages"
      :limit.sync="line_sub_package_record_time.limit"
      v-if="type=='all_sub_package_record'"
      @pagination="getLineSubPackageRecord(line_sub_package_record_time.nowpages)" />
    <el-table v-loading="word_category_Loading" :data="wordcategorylist.list" border fit highlight-current-row style="width: 100%;margin-top:10px;" v-if="type=='all_word_category_record'">
      <el-table-column type="expand">
          <template slot-scope="scope">
          <el-form label-position="left" class="demo-table-expand">
              <el-divider>常用文字內文</el-divider>
              {{ scope.row.reserve_system_word_content }}
          </el-form>
          </template>
      </el-table-column>
      <el-table-column label="常用文字類型">
        <template slot-scope="{row}">
          <el-tag>{{ row.reserve_system_word_type|reserve_system_word_type }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="常用文字標題">
        <template slot-scope="{row}">
          <el-tag>{{ row.reserve_system_word_title }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button icon="el-icon-edit" type="primary" @click="handleEditWordCategory(scope)">編輯</el-button>
          <el-button icon="el-icon-delete" type="danger" @click="handleDeleteWordCategory(scope)">刪除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="wordcategorylist.count"
      :page.sync="wordcategorylist.nowpages"
      :limit.sync="wordcategorylist.limit"
      v-if="type=='all_word_category_record'"
      @pagination="getWordCategoryRecord(wordcategorylist.nowpages)" />

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Pagination from '@/components/Pagination'
import { getHotnewsCategory } from '@/api/hotnews_manager'
import { getPartnerCategory } from '@/api/partner_manager'
import { getQuestionCategory } from '@/api/question_manager'
import { getShopCategory } from '@/api/shop_manager'
import { getAdminRoles } from '@/api/admin_manager'
import { getMainLinePackage,getSubLinePackage } from '@/api/line_package_manager'
import { getWordCategory,deleteWordCategory } from '@/api/reservationsystemappointshop'
export default {
  components: { Pagination },
  name: 'AllCategoryRecord',
    props: {
    type: {
      type: String,
      default: 'all_partner_category_record'
    },
    // 實際搜尋合作夥伴分類資料呈現object
    search_partner_category_record_data_times:{
      type: String,
      require:false 
    },
    // 實際新增修改合作夥伴分類資料呈現object
    insert_update_partner_category_data_times:{
      type: Object,
      require:false 
    },
    // 實際搜尋最新消息分類資料呈現object
    search_hotnews_category_record_data_times:{
      type: String,
      require:false 
    },
    // 實際新增修改合作夥伴分類資料呈現object
    insert_update_hotnews_category_data_times:{
      type: Object,
      require:false 
    },
    // 實際搜尋常見問題資料呈現object
    search_question_category_record_data_times:{
      type: String,
      require:false 
    },
    // 實際新增修改常見問題資料呈現object
    insert_update_question_category_data_times:{
      type: Object,
      require:false 
    },
    // 實際搜尋商品分類資料呈現object
    search_shop_category_record_data_times:{
      type: String,
      require:false 
    },
    // 實際新增修改商品分類資料呈現object
    insert_update_shop_category_data_times:{
      type: Object,
      require:false 
    },
    // 實際搜尋角色分類資料呈現object
    search_role_category_record_data_times:{
      type: String,
      require:false 
    },
    // 實際新增修改角色分類資料呈現object
    insert_update_role_category_data_times:{
      type: Object,
      require:false 
    },
    // 實際搜尋貼圖主分類紀錄資料呈現object
    search_main_package_record_data_times:{
      type: String,
      require:false 
    },
    // 實際新增修改貼圖主分類紀錄資料呈現object
    insert_update_main_package_data_times:{
      type: Object,
      require:false 
    },
    // 實際搜尋貼圖子分類紀錄資料呈現object
    search_sub_package_record_data_times:{
      type: String,
      require:false 
    },
    // 實際新增修改貼圖子分類紀錄資料呈現object
    insert_update_sub_package_data_times:{
      type: Object,
      require:false 
    },
    // 實際搜尋常用文字資料呈現object
    search_word_category_record_data_times:{
      type: String,
      require:false 
    },
  },
  computed: {
    ...mapGetters([
      'wordcategorylist',
    ])
  },
  filters:{
      reserve_system_word_type(status){
      const reserve_system_word_type = {
        0: '聊天機器人發布管理',
      }
      return reserve_system_word_type[status]
    },
  },
  data() {
    return {
      list: null,
      // listQuery: {
      //   page: 1,
      //   limit: 5,
      //   type: this.type,
      //   sort: '+id'
      // },
      // 合作夥伴分類紀錄
      partner_category_record_time: [],
      // 合作夥伴分類 loading
      partner_category_Loading: false,
      // 是否搜尋過合作夥伴分類紀錄
      search_partner_category_record_btn: false,

      // 最新消息分類紀錄
      hotnews_category_record_time: [],
      // 最新消息分類 loading
      hotnews_category_Loading: false,
      // 是否搜尋過最新消息分類紀錄
      search_hotnews_category_record_btn: false,

      // 常見問題分類紀錄
      question_category_record_time: [],
      // 常見問題分類 loading
      question_category_Loading: false,
      // 是否搜尋過常見問題分類紀錄
      search_question_category_record_btn: false,

      // 商品分類紀錄
      shop_category_record_time: [],
      // 商品分類 loading
      shop_category_Loading: false,
      // 是否搜尋過商品分類紀錄
      search_shop_category_record_btn: false,

      // 角色分類紀錄
      role_category_record_time: [],
      // 角色分類 loading
      role_category_Loading: false,
      // 是否搜尋過角色分類紀錄
      search_role_category_record_btn: false,

      // 貼圖主分類紀錄
      line_main_package_record_time: [],
      // 貼圖主分類 loading
      line_main_package_record_Loading: false,
      // 是否搜尋過貼圖主分類紀錄
      search_line_main_package_record_btn: false,

      // 貼圖子分類紀錄
      line_sub_package_record_time: [],
      // 貼圖子分類 loading
      line_sub_package_record_Loading: false,
      // 是否搜尋過貼圖子分類紀錄
      search_line_sub_package_record_btn: false,

      // 常用文字紀錄
      // word_category_record_time: [],
      // 新常用文字紀錄
      newswordCategoryOrderList:[],
      // 常用文字 loading
      word_category_Loading: false,
      // 是否搜尋過常用文字紀錄
      search_word_category_record_btn: false,


    }
  },
  watch:{
    // 新增修改父層資料-合作夥伴分類紀錄
    insert_update_partner_category_data_times(v){
      this.getPartnerCategoryRecord(1)
    },
    // 更新父層資料-合作夥伴分類紀錄
    search_partner_category_record_data_times(v){
      this.search_partner_category_record_btn = true
      this.getPartnerCategoryRecord(1)
    },
    // 新增修改父層資料-最新消息分類紀錄
    insert_update_hotnews_category_data_times(v){
      this.getHotnewsCategoryRecord(1)
    },
    // 更新父層資料-最新消息分類紀錄
    search_hotnews_category_record_data_times(v){
      this.search_hotnews_category_record_btn = true
      this.getHotnewsCategoryRecord(1)
    },
    // 新增修改父層資料-常見問題分類紀錄
    insert_update_question_category_data_times(v){
      this.getQuestionCategoryRecord(1)
    },
    // 更新父層資料-常見問題分類紀錄
    search_question_category_record_data_times(v){
      this.search_question_category_record_btn = true
      this.getQuestionCategoryRecord(1)
    },
    // 新增修改父層資料-商品分類紀錄
    insert_update_shop_category_data_times(v){
      this.getShopCategoryRecord(1)
    },
    // 更新父層資料-商品分類紀錄
    search_shop_category_record_data_times(v){
      this.search_shop_category_record_btn = true
      this.getShopCategoryRecord(1)
    },
    // 新增修改父層資料-角色分類分類紀錄
    insert_update_role_category_data_times(v){
      this.getRoleCategoryRecord(1)
    },
    // 更新父層資料-角色分類紀錄
    search_role_category_record_data_times(v){
      this.search_role_category_record_btn = true
      this.getRoleCategoryRecord(1)
    },
    // 新增修改父層資料-貼圖主分類紀錄
    insert_update_main_package_data_times(v){
      this.getLineMainPackageRecord(1)
    },
    // 更新父層資料-貼圖主分類紀錄
    search_main_package_record_data_times(v){
      this.search_line_main_package_record_btn = true
      this.getLineMainPackageRecord(1)
    },
    // 新增修改子層資料-貼圖子分類紀錄
    insert_update_sub_package_data_times(v){
      this.getLineSubPackageRecord(1)
    },
    // 更新子層資料-貼圖子分類紀錄
    search_sub_package_record_data_times(v){
      this.search_line_sub_package_record_btn = true
      this.getLineSubPackageRecord(1)
    },
    // 新增修改父層資料-常用文字紀錄
    insert_update_word_category_data_times(v){
      this.getWordCategoryRecord(1)
    },
    // 更新父層資料-常用文字紀錄
    search_word_category_record_data_times(v){
      this.search_word_category_record_btn = true
      this.getWordCategoryRecord(1)
    },
  },
  created() {
      // 合作夥伴分類紀錄
      if(this.type == 'all_partner_category_record') {
         this.getPartnerCategoryRecord(1)
      }
      // 最新消息分類紀錄
      if(this.type == 'all_hotnews_category_record') {
          this.getHotnewsCategoryRecord(1)
      }
      // 常見問題分類紀錄
      if(this.type == 'all_question_category_record') {
          this.getQuestionCategoryRecord(1)
      }
      // 商品分類紀錄紀錄
      if(this.type == 'all_shop_category_record') {
          this.getShopCategoryRecord(1)
      }
        // 角色分類紀錄紀錄
      if(this.type == 'all_role_category_record') {
          this.getRoleCategoryRecord(1)
      }
        // 貼圖主分類紀錄
      if(this.type == 'all_main_package_record') {
          this.getLineMainPackageRecord(1)
      }
        // 貼圖子分類紀錄
      if(this.type == 'all_sub_package_record') {
          this.getLineSubPackageRecord(1)
      }
      // 常用文字紀錄
      if(this.type == 'all_word_category_record') {
          this.getWordCategoryRecord(1)
      }
    // this.getList()
  },
  methods: {
      // 得知 合作夥伴分類紀錄
      getPartnerCategoryRecord(page) {
          var payload = ''
          console.log("page",page)
          if(this.search_partner_category_record_btn==false){
            payload += page
          }
          else{
            payload += page + '?' + this.search_partner_category_record_data_times
          }
          getPartnerCategory(payload).then((resp)=>{
              this.partner_category_record_time = resp.data
          })
      },
    // 編輯 合作夥伴分類紀錄
    handleEditPartnerCategory(scope) {
      console.log("scope",scope.row)
      this.$emit('getAllPartnerCategorylist',scope.row)
    },
      // 得知 最新消息分類紀錄
      getHotnewsCategoryRecord(page) {
          var payload = ''
          if(this.search_hotnews_category_record_btn==false){
            payload += page
          }
          else{
            payload += page + '?' + this.search_hotnews_category_record_data_times
          }
          getHotnewsCategory(payload).then((resp)=>{
              this.hotnews_category_record_time = resp.data
          })
      },
    // 編輯 合作夥伴分類紀錄
    handleEditHotnewsCategory(scope) {
      console.log("scope",scope.row)
      this.$emit('getAllHotnewsCategorylist',scope.row)
    },
      // 得知 常見問題分類
      getQuestionCategoryRecord(page) {
          var payload = ''
          if(this.search_question_category_record_btn==false){
            payload += page
          }
          else{
            payload += page + '?' + this.search_question_category_record_data_times
          }
          getQuestionCategory(payload).then((resp)=>{
              this.question_category_record_time = resp.data
          })
      },
      // 編輯 常見問題分類
      handleEditQuestionCategory(scope) {
      console.log("scope",scope.row)
      this.$emit('getAllQuestionCategorylist',scope.row)
    },
      // 得知 商品分類紀錄
      getShopCategoryRecord(page) {
          var payload = ''
          if(this.search_shop_category_record_btn==false){
            payload += page
          }
          else{
            payload += page + '?' + this.search_shop_category_record_data_times
          }
          getShopCategory(payload).then((resp)=>{
              this.shop_category_record_time = resp.data
          })
      },
      // 編輯 商品分類紀錄
      handleEditShopCategory(scope) {
      console.log("scope",scope.row)
      this.$emit('getAllShopCategorylist',scope.row)
    },
      // 得知 角色分類紀錄
      getRoleCategoryRecord(page) {
          var payload = ''
          if(this.search_role_category_record_btn==false){
            payload += page
          }
          else{
            payload += page + '?' + this.search_role_category_record_data_times
          }
          getAdminRoles(payload).then((resp)=>{
              this.role_category_record_time = resp.data
          })
      },
      // 編輯 角色分類紀錄
      handleEditRoleCategory(scope) {
      console.log("scope",scope.row)
      this.$emit('getAllRoleCategorylist',scope.row)
    },
      // 得知 貼圖主分類紀錄
      getLineMainPackageRecord(page) {
          var payload = ''
          if(this.search_line_main_package_record_btn==false){
            payload += page
          }
          else{
            payload += page + '?' + this.search_line_main_package_record_btn
          }
          getMainLinePackage(payload).then((resp)=>{
              this.line_main_package_record_time = resp.data
          })
      },
      // 編輯 貼圖主分類紀錄
      handleEditMainPackage(scope) {
      console.log("scope",scope.row)
      this.$emit('getAllMainPackagelist',scope.row)
    },
      // 得知 貼圖子分類紀錄
      getLineSubPackageRecord(page) {
          var payload = ''
          if(this.search_line_sub_package_record_btn==false){
            payload += page
          }
          else{
            payload += page + '?' + this.search_line_sub_package_record_btn
          }
          getSubLinePackage(payload).then((resp)=>{
              this.line_sub_package_record_time = resp.data
          })
      },
      // 編輯 貼圖子分類紀錄
      handleEditSubPackage(scope) {
        console.log("scope"+scope.row)
      this.$emit('getAllSubPackagelist',scope.row)
    },
      // 得知 常用文字紀錄
      async getWordCategoryRecord(page) {
          var payload = ''
          payload += page
          // await getWordCategory(payload).then((resp)=>{
          //     this.word_category_record_time = resp.data
          // })
          await this.$store.dispatch('reservationsystemword/getWordCategory',payload)
      },
      // 編輯 常用文字紀錄
      handleEditWordCategory(scope) {
      console.log("scope",scope.row)
      this.$emit('getAllWordCategorylist',scope.row)
    },
    //刪除 常用文字紀錄
    handleDeleteWordCategory(scope){
      var _self = this 
      _self.$confirm('是否刪除 常用文字 「<span style="font-size:18px;color:red;">'+scope.row.reserve_system_word_title+'</span>」', '刪除常用文字', {
          confirmButtonText: '確認',
          cancelButtonText: '取消',
          dangerouslyUseHTMLString:true,
          type: 'warning'
        }).then(async() => {
          _self.payload = {
            'reserve_system_word_category_id':scope.row.reserve_system_word_category_id
          }
          await deleteWordCategory(_self.payload).then(async resp => {
            await _self.$message({
              message: resp.message,
              type: resp.success==true ? 'success':'error'
            })
          })
          await _self.getWordCategoryRecord(1)
      })
    },
  }
}
</script>
<style lang="scss" scoped>
  .icon-item {
    width: 100px;
    font-size: 30px;
    color: #24292e;
  }
</style>
