<template>
    <div>
    <el-form :inline="true" :model="question" class="demo-form-inline">
    <el-row>
        <el-form-item label="合作夥伴">
            <el-select
                v-model="question.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                @keydown.enter.native="searchquestion"
                clearable
                placeholder="選擇合作夥伴"
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="常見問題標題">
            <el-input v-model="question.question_title" name="question_title" 
            placeholder="常見問題標題" @keyup.enter.native="searchquestion" clearable></el-input>
        </el-form-item>
        <el-form-item label="常見問題分類">
            <el-select
                v-model="question.question_category_id"
                name="question_category_id"
                filterable
                allow-create
                default-first-option
                @keydown.enter.native="searchquestion"
                clearable
                placeholder="選擇常見問題分類"
            >
                <el-option
                    v-for="item in questioncategorylist"
                    :key="item.question_category_id"
                    :label="item.question_category_name"
                    :value="item.question_category_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="常見問題狀態">
            <el-select v-model="question.question_status" name="question_status" 
             placeholder="常見問題狀態" @keyup.enter.native="searchquestion" clearable>
                <el-option label="草稿" value="0"></el-option>
                <el-option label="下架" value="1"></el-option>
                <el-option label="上架" value="2"></el-option>
            </el-select>
        </el-form-item>
        <!-- {{question.question_status}} -->
        <el-form-item>
            <el-button type="primary" @click="searchquestion" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultQuestion = {
  partner_id: '',question_title: '',
  question_category_id: null,question_status:"0"
}

export default {
  name: 'SearchQuestion',
  data() {
    return {
      question: Object.assign({}, defaultQuestion)
    }
  },
  computed: {
    ...mapGetters([
      'questioncategorylist',
      'partnerlist',
    ])
  },
  methods: {
      searchquestion(){
        var query = ''
        if(this.question.partner_id!=''){
            query+= 'partner_id='+this.question.partner_id+'&'
            //更新資料進入外層的常見分類
        }
        if(this.question.question_title!=''){
            query+= 'question_title='+this.question.question_title+'&'
        }
        if(this.question.question_category_id!=null){
            query+= 'question_category_id='+this.question.question_category_id+'&'
        }
        if(this.question.question_status!=''){
            query+= 'question_status='+this.question.question_status+'&'
        }
        if(query.includes('partner_id'))
        {
            this.$emit('searchQuestionpartner',this.question.partner_id)
        }
        if(!query.includes('partner_id')){
            this.$emit('searchQuestionpartner','')
        }
        //更新資料進入外層的常見分類
        this.$emit('searchQuestion',query.slice(0, -1))
      }
  },
}
</script>