<template>
    <div>
    <el-form :inline="true" :model="hotnews" class="demo-form-inline">
    <el-row>
        <el-form-item label="合作夥伴">
            <el-select
                v-model="hotnews.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                @keydown.enter.native="searchhotnews"
                clearable
                placeholder="選擇合作夥伴"
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="最新消息標題">
            <el-input v-model="hotnews.hotnews_title" name="hotnews_title" 
            placeholder="最新消息標題" @keyup.enter.native="searchhotnews" clearable></el-input>
        </el-form-item>
        <el-form-item label="最新消息分類">
            <el-select
                v-model="hotnews.hotnews_category_id"
                name="hotnews_category_id"
                filterable
                allow-create
                default-first-option
                @keydown.enter.native="searchhotnews"
                clearable
                placeholder="選擇最新消息分類"
            >
                <el-option
                    v-for="item in hotnewscategorylist"
                    :key="item.hotnews_category_id"
                    :label="item.hotnews_category_name"
                    :value="item.hotnews_category_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="最新消息狀態">
            <el-select v-model="hotnews.hotnews_status" name="hotnews_status" 
             placeholder="最新消息狀態" @keyup.enter.native="searchhotnews" clearable>
                <el-option label="草稿" value="0"></el-option>
                <el-option label="下架" value="1"></el-option>
                <el-option label="上架" value="2"></el-option>
            </el-select>
        </el-form-item>
        <!-- {{hotnews.hotnews_status}} -->
        <el-form-item>
            <el-button type="primary" @click="searchhotnews" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultHotnews = {
  partner_id: '',hotnews_title: '',
  hotnews_category_id: null,hotnews_status:"0"
}

export default {
  name: 'SearchHotnews',
  data() {
    return {
      hotnews: Object.assign({}, defaultHotnews)
    }
  },
  computed: {
    ...mapGetters([
      'hotnewscategorylist',
      'partnerlist',
    ])
  },
  methods: {
      searchhotnews(){
        var query = ''
        if(this.hotnews.partner_id!=''){
            query+= 'partner_id='+this.hotnews.partner_id+'&'
        }
        if(this.hotnews.hotnews_title!=''){
            query+= 'hotnews_title='+this.hotnews.hotnews_title+'&'
        }
        if(this.hotnews.hotnews_category_id!=null){
            query+= 'hotnews_category_id='+this.hotnews.hotnews_category_id+'&'
        }
        if(this.hotnews.hotnews_status!=''){
            query+= 'hotnews_status='+this.hotnews.hotnews_status+'&'
        }
        if(query.includes('partner_id'))
        {
            this.$emit('searchHotnewspartner',this.hotnews.partner_id)
        }
        if(!query.includes('partner_id')){
            this.$emit('searchHotnewspartner','')
        }
        //更新資料進入外層的最新消息
        this.$emit('searchHotnews',query.slice(0, -1))
      }
  },
}
</script>