<template>
  <div>
    <!-- {{type}}/{{partner_id}}/{{page}} -->
    <!-- {{todolist}} -->
    <!-- {{check_admin_premission}} -->
    <el-table v-loading="todolistLoading" :data="todolist.list" border fit highlight-current-row style="width: 100%;margin-top:10px;" v-if="type=='all_todolist'">
      <el-table-column
        fixed
        width="130"
        label="合作夥伴"
      >
        <template slot-scope="scope">
          <span>{{ scope.row.partner_name }}</span>
        </template>
      </el-table-column>

      <el-table-column width="160" label="代辦事項標題">
        <template slot-scope="{row}">
          <span>{{ row.schedule_title }}</span>
        </template>
      </el-table-column>
      <el-table-column class-name="status-col" label="代辦事項狀態">
        <template slot-scope="{row}">
          <el-tag :type="row.schedule_status==0? 'danger':''">
            {{ row.schedule_status|pushstatusFilter}}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column class-name="status-col" label="推播開關">
        <template slot-scope="{row}">
          <el-tag :type="row.push_message_switch==0? 'danger':''">
            {{ row.push_message_switch |pushmessageFilter}}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="推播日期時間">
        <template slot-scope="scope">
          <span v-if="scope.row.push_message_switch==1">{{ scope.row.push_message_date }} {{ scope.row.push_message_time }}</span>
          <span v-if="scope.row.push_message_switch==0">無</span>
        </template>
      </el-table-column>
      <el-table-column class-name="status-col" label="代辦顏色區別">
        <template slot-scope="{row}">
           <el-color-picker v-model="row.schedule_color" disabled></el-color-picker>
          <!-- <el-tag>
            {{ row.schedule_color}}
          </el-tag> -->
        </template>
      </el-table-column>
      <el-table-column class-name="status-col" width="300" label="備註">
        <template slot-scope="{row}">
          <el-tag :type="row.schedule_note==''? '':'danger'">
            {{ row.schedule_note}}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="100"  label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
          <el-button type="primary" @click="handleEdittodolist(scope)">編輯</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="todolist.count"
      :page.sync="todolist.nowpages"
      :limit.sync="todolist.limit"
      v-if="type=='all_todolist'"
      @pagination="getTodoList(todolist.nowpages,search_todolist)" />
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
export default {
  name: 'TodolistPane',
  filters: {
    pushstatusFilter(status) {
      const statusMap = {
        0: '未完成',
        1: '已完成'
      }
      return statusMap[status]
    },
    pushmessageFilter(status){
      const statusMap = {
        0: '關閉',
        1: '開啟'
      }
      return statusMap[status]
    }
  },
  props: {
    type: {
      type: String,
      default: 'all_todolist'
    },
    partner_id:{
      type: String,
      require:false
    },
    // 實際新增與修改更新合作夥伴內代辦事項資料呈現object
    insert_update_todolist_data_times:{
      type: Object,
      require:false
    },
    // 實際搜尋合作夥伴內代辦事項資料呈現object
    search_todolist_data_times:{
      type: String,
      require:false 
    },
     // 得知使用者實際擁有權限
    check_admin_premission:{
      type: Array,
      require:false 
    }
  },
  components: { Pagination },
  data() {
    return {
      list: null,
      // listQuery: {
      //   page: 1,
      //   limit: 5,
      //   type: this.type,
      //   sort: '+id'
      // },
      search_todolist:'',
      todolistLoading: false,
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
      'todolist'
    ])
  },
  watch:{
    partner_id(n){
      console.log("n",n)
      this.chosenPartner(1,n)
    },
    insert_update_todolist_data_times(n){
      // console.log("insert_update_data",n['partner_id'])
      this.chosenPartner(1,n['partner_id'])
      // this.chosenPartner(n['partner_id'])
    },
    // 實際搜尋合作夥伴內代辦事項資料呈現object
    search_todolist_data_times(n){
      // console.log("insert_update_data",n['partner_id'])
      this.getTodoList(1,n)
      // this.chosenPartner(n['partner_id'])
    }
  },
  created() {
    // this.getList()
  },
  methods: {
    // getList() {
    //   this.loading = true
    //   this.$emit('create') // for test
    //   fetchList(this.listQuery).then(response => {
    //     this.list = response.data.items
    //     this.loading = false
    //   })
    // },
  //切換所有合作夥伴的代辦事項
    chosenPartner(page,n){
      var todolist = ''
      if(this.partner!=''){
            todolist+= 'partner_id='+n
            this.search_todolist = todolist
      }
      // console.log("todolist",todolist)
      // console.log("defaultTodolist['partner_id']", defaultTodolist['partner_id'])
      this.getTodoList(page,todolist)
    },
    //顯示所有合作夥伴代辦事項
    async getTodoList(page,todolist){
      var payload = ''
      if (this.search_todolist == '') {
        payload = todolist
      }
      if (this.search_todolist != '') {
        payload += page + '?' + todolist
      }
      console.log("payload: "+payload)
      this.todolistLoading = true
      await this.$store.dispatch('todolist/getTodolist',payload)
      this.todolistLoading = false
    },
    //顯示選擇待辦事項
    handleEdittodolist(scope) {
      console.log("scope",scope.row)
      this.$emit('getAllTodolist',scope.row)
    },
  }
}
</script>

