<template>
  <div class="app-container">
    <el-select
      v-model="partner"
      placeholder="請選擇合作夥伴"
      filterable
      default-first-option
      style="margin:auto 10px;"
      @change="chosenPartner"
      clearable
    >
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id"
      />
    </el-select>
    <!-- {{Linebotchecknotshowothermenu}} -->
        <!-- {{Linebot_pay_premission}} -->
        <!-- {{Linebot_channel_type}} -->
      <el-tabs v-model="activeTab" v-show="partner!=''">
        <el-tab-pane label="設定檔外層資料" name="inner_config">
            <!-- 聊天機器人基本資料 {{partner}} -->
            <InnerConfig :activeTab="activeTab" :partner="partner"
            />
        </el-tab-pane>
        <el-tab-pane label="設定檔內層資料" name="outer_config">
            <!-- 聊天機器人基本資料 {{partner}} -->
            <OuterConfig :activeTab="activeTab" :partner="partner"
            />
        </el-tab-pane>
      </el-tabs>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import InnerConfig from './component/InnerConfig.vue'
import OuterConfig from './component/OuterConfig.vue'

export default {
  name: 'SettingManager',
  components: { InnerConfig,OuterConfig },
  data() {
    return {
      partner: '',
      check_admin_premission:[],
      //選單
      activeTab:'inner_config',
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  filters: {

  },
  async created() {
    // 顯示合作夥伴
    await this.getPartner('all')
    //預設帶入第一個partner_id
    await this.initPartner()
    // 得知使用者實際擁有權限
    await this.getAdminPremission("設定檔管理")
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner', payload)
    },
    async chosenPartner(){
        console.log(this.activeTab)
    },
    //剛開始直接設定預設的partner
    async initPartner(){
        await this.partnerlist.list.forEach((element,index)=>{
          if(index==0){
            console.log("show_first_init_partner",element.partner_id)
            this.partner = element.partner_id
          }
          console.log("show_all_init_partner",element.partner_id)
        })
        console.log(this.activeTab)
    },
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
