<template>
  <div class="tab-container">
    <!-- <search-Todolist v-on:searchTodolist="searchTodolist" v-on:searchTodolistpartner="switchPartner" /> -->
    <el-button type="primary" icon="el-icon-edit" @click="handleAddFatherlist">新父路由設定</el-button>
    <el-button type="primary" icon="el-icon-edit" @click="handleAddSonlist">新子路由設定</el-button>
    <!-- v-on:getTodolist="getTodolistemit" -->
    <el-tabs v-model="activeName" style="margin-top:15px; width:100%;" type="border-card">
      <el-tab-pane v-for="item in tabTodolistOptions" :key="item.key" :label="item.label" :name="item.key">
        <keep-alive>
          <todolist-Pane v-if="activeName==item.key" :type="item.key"
          :insert_update_father_data_times="insert_update_father_data_times"
          v-on:getAllFatherlist="handleEditFatherlist"
          :insert_update_son_data_times="insert_update_son_data_times" 
          v-on:getAllSonlist="handleEditSonlist"
           />
        </keep-alive>
      </el-tab-pane>
    </el-tabs>
    <!-- {{dialogVisible}} -->
    <add-Fatherlist :dialogFatherType="dialogFatherType" :dialogFatherVisible="dialogFatherVisible" :fatherlist="fatherlist" 
     v-on:getFatherliststatus="getFatherliststatus" v-on:getTodolistfatherupdate="getTodolistfatherupdate" 
     />
    <add-Sonlist :dialogSonType="dialogSonType" :dialogSonVisible="dialogSonVisible" :sonlist="sonlist" 
     v-on:getsSonliststatus="getsSonliststatus" v-on:getTodolistsonupdate="getTodolistsonupdate" 
     />
     <!-- v-on:getTodolist="getTodolistemit" -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { deepClone } from '@/utils'
import TodolistPane from './component/TodolistPane.vue'
import AddFatherlist from './component/AddFatherlist.vue'
import AddSonlist from './component/AddSonlist.vue'
import SearchTodolist from './component/SearchTodolist.vue'
const defaultFatherlist = {
  premission_father_path: '/', premission_father_name: '',
  premission_father_meta_icon: '', premission_father_redirect: ''
}
const defaultSonlist = {
  premission_route: '/', premission_name: '',
  premission_meta_title: '', premission_meta_icon: '',
  premission_meta_affix: 'false',premission_father_id:''
}
export default {
  components: { TodolistPane,AddFatherlist,AddSonlist,SearchTodolist },
  data() {
    return {
      tabTodolistOptions: [
        { label: '所有父路由設定', key: 'all_router_father' },
        { label: '所有子路由設定', key: 'all_router_son' }
      ],
      activeName: 'all_router_father',
      dialogFatherVisible: false,
      dialogSonVisible: false,
      dialogFatherType: 'new',
      dialogSonType: 'new',
      // 實際新增與修改代父層次數
      fatherlist_time: 1,
      // 實際新增與修改代子層次數
      sonlist_time: 1,
      // 新增與修改父層資料呈現object
      insert_update_father_data_times: Object.assign({}, {}),
      // 新增與修改子層資料呈現object
      insert_update_son_data_times: Object.assign({}, {}),
      // 搜尋合作夥伴內代辦事項資料呈現object
      search_todolist_data_times: '',
      fatherlist: Object.assign({}, defaultFatherlist),
      sonlist: Object.assign({}, defaultSonlist)
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  watch: {
    activeName(val) {
      this.$router.push(`${this.$route.path}?tab=${val}`)
    }
  },
  created() {
    // init the default selected tab
    const tab = this.$route.query.tab
    if (tab) {
      this.activeName = tab
    }
  },
  methods: {
    // 新增父路由設定
    handleAddFatherlist() {
      this.fatherlist = Object.assign({}, defaultFatherlist)
      this.dialogFatherType = 'new'
      this.dialogFatherVisible = true
    },
    // 修改父路由設定
    handleEditFatherlist(get_select_fatherlist) {
      this.fatherlist = deepClone(get_select_fatherlist)
      this.dialogFatherType = 'edit'
      this.dialogFatherVisible = true
    },
    // 新增子路由設定
    handleAddSonlist() {
      this.sonlist = Object.assign({}, defaultSonlist)
      this.dialogSonType = 'new'
      this.dialogSonVisible = true
    },
    // 修改子路由設定
    handleEditSonlist(get_select_sonlist) {
      this.sonlist = deepClone(get_select_sonlist)
      this.dialogSonType = 'edit'
      this.dialogSonVisible = true
    },
    // 關閉代父層dialog狀態
    getFatherliststatus(status) {
      this.dialogFatherVisible = status
    },
    // 新增與修改更新父層資料呈現
    getTodolistfatherupdate() {
      this.insert_update_father_data_times = { 'fatherlist_time': this.fatherlist_time++ }
    },
    // 關閉代子層dialog狀態
    getsSonliststatus(status) {
      this.dialogSonVisible = status
    },
    // 新增與修改更新父層資料呈現
    getTodolistsonupdate() {
      this.insert_update_son_data_times = { 'sonlist_time': this.sonlist_time++ }
    },
    // 所有搜尋資料帶出
    searchTodolist(query) {
      this.search_todolist_data_times = query
      console.log('query', query)
    }
  }
}
</script>

<style scoped>
  .tab-container {
    margin: 30px;
  }
</style>
