<template>
  <div class="app-container">
    <search-lucky-wheel @searchLuckyWheel="SearchAlluckyWheel" @searchLuckyWheelpartner="switchPartner" v-if='this.check_admin_premission.includes("search_btn")' />
    <el-button type="primary" icon="el-icon-edit" @click="handleAddLuckyWheel" v-if='this.check_admin_premission.includes("insert_btn")'>新抽獎模組</el-button>
    <!-- {{partner}} -->
    <!-- {{luckywheel}} -->
    <el-select
      v-model="partner"
      placeholder="請選擇合作夥伴"
      filterable
      default-first-option
      clearable
      style="margin:auto 10px;"
      @change="chosenPartner"
    >
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id"
      />
    </el-select>
    <!-- {{partnerlist}} -->
    <!-- {{PartnerList}} -->
    <!-- {{partner}}
  {{LuckyWheelList}}
  {{dialogVisible}} -->
    <add-lucky-wheel
      :dialog-type="dialogType"
      :dialog-visible="dialogVisible"
      :luckywheel="luckywheel"
      @getluckywheel="getAlluckyWheelemit"
      @getLuckyWheelstatus="getLuckyWheelstatus"
    />
    <preview-lucky-wheel
      :dialog-type-preview="dialogTypePreview"
      :dialog-visible-preview="dialogVisiblePreview"
      :luckywheel="luckywheel"
      @getLuckyWheelstatuspreview="getLuckyWheelstatus_preview"
    />
    <el-table v-loading="luckywheellistLoading" :data="LuckyWheelList.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
      <el-table-column align="center" fixed width="160" label="合作夥伴/狀態">
        <template slot-scope="scope">
          <el-tag size="medium" type="primary" plain>
            {{ scope.row.partner_name }}
          </el-tag>
          <br>
          <el-tag v-if="scope.row.lucky_wheel_status==2" style="margin:10px 0;">{{ scope.row.lucky_wheel_status | lucky_wheel_status }}</el-tag>
          <el-tag v-if="scope.row.lucky_wheel_status==0 || scope.row.lucky_wheel_status==1" style="margin:10px 0;" type="danger">{{ scope.row.lucky_wheel_status | lucky_wheel_status }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="抽獎標題/類型">
        <template slot-scope="scope">
          {{ scope.row.lucky_wheel_title }}<br>
          <el-tag style="margin:10px 0;" :type="scope.row.lucky_wheel_type==0?'danger':'primary'">{{ scope.row.lucky_wheel_type | lucky_wheel_type }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="170" label="抽獎機率與獎品">
        <template slot-scope="scope">
            <div v-for="lucky_wheel_price_list in scope.row.lucky_wheel_price_list" :key="lucky_wheel_price_list.lucky_wheel_id" style="text-align:left;">
                {{ lucky_wheel_price_list.lucky_wheel_prizes_name }} <el-progress :percentage="lucky_wheel_price_list.lucky_wheel_prizes_range"></el-progress>
            </div>
        </template>
      </el-table-column>
      <el-table-column align="center" label="開始日期">
        <template slot-scope="scope">
          {{ scope.row.lucky_wheel_start_datetime }}
        </template>
      </el-table-column>
      <el-table-column align="center" label="結束日期">
        <template slot-scope="scope">
          {{ scope.row.lucky_wheel_end_datetime }}
        </template>
      </el-table-column>
      <el-table-column align="center" width="100" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
            <!-- {{scope}} -->
          <el-button type="primary" @click="handleEditluckyWheel(scope)" style="margin:5px;">編輯</el-button>
          <el-button type="info" @click="handlePreviewluckyWheel(scope)" style="margin:5px;">預覽</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="LuckyWheelList.count"
      :page.sync="LuckyWheelList.nowpages"
      :limit.sync="LuckyWheelList.limit"
      @pagination="getAlluckyWheel(LuckyWheelList.nowpages,search_lucky_wheel)"
    />

    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import path from 'path'
import { deepClone } from '@/utils'
import { getluckywheel } from '@/api/lucky_wheel_manager'
import AddLuckyWheel from './components/AddLuckyWheel.vue'
import { getAdminPremission } from '@/api/premission_manager'
import PreviewLuckyWheel from './components/PreviewLuckyWheel.vue'
import SearchLuckyWheel from './components/SearchLuckyWheel.vue'

const defaultLuckyWheel = {
  partner_id: '', lucky_wheel_type: 0,
  lucky_wheel_title: '', lucky_wheel_status:0,
  lucky_wheel_start_datetime: null,lucky_wheel_end_datetime: null,
  lucky_wheel_price_list: [],
}

export default {
  name: 'LuckyWheelManager',
  components: { AddLuckyWheel, SearchLuckyWheel, PreviewLuckyWheel, Pagination },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'new',
      dialogVisiblePreview:false,
      dialogTypePreview:'preview',
      partner: '',
      LuckyWheelList: [],
      luckywheellistLoading: false,
      luckywheel: Object.assign({}, defaultLuckyWheel),
      // 圖片網址位置
      upload_path: '',
      search_lucky_wheel: '',
      check_admin_premission:[]
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  filters: {
    // 最新消息狀態
    lucky_wheel_status(status) {
      const lucky_wheel_status = {
        0: '準備',
        1: '下架',
        2: '上架'
      }
      return lucky_wheel_status[status]
    },
    lucky_wheel_type(status) {
      const lucky_wheel_type = {
        0: '轉盤',
        1: '九宮格',
        2: '老虎機'
      }
      return lucky_wheel_type[status]
    },
  },
  created() {
    // 顯示合作夥伴
    this.getPartner('all')
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
    // 得知使用者實際擁有權限
    this.getAdminPremission("抽獎模組")
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner', payload)
    },
    // 顯示所有合作夥伴抽獎模組
    async getAlluckyWheel(page, lucky_wheel) {
      var payload = ''
      if (this.search_lucky_wheel == '') {
        payload = page
      }
      if (this.search_lucky_wheel != '') {
        payload += page + '?' + lucky_wheel
      }
      this.luckywheellistLoading = true
      getluckywheel(payload).then(resp => {
        this.LuckyWheelList = resp.data
        this.luckywheellistLoading = false
      })
    },
    // 切換所有合作夥伴的最新消息
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultLuckyWheel['partner_id'] = this.partner
        this.search_lucky_wheel = query
      } else {
        this.search_lucky_wheel = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAlluckyWheel(1, query)
    },
    // 帶出所有已新增合作夥伴的最新消息
    getAlluckyWheelemit(partner_id) {
      var query = ''
      // console.log("partner_id",partner_id)
      if (partner_id != '') {
        query += 'partner_id=' + partner_id
        defaultLuckyWheel['partner_id'] = partner_id
        this.partner = partner_id
        // console.log("this.partner",partner_id)
        this.search_lucky_wheel = query
      } else {
        this.search_lucky_wheel = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAlluckyWheel(1, query)
    },
    // 新增抽獎模組按鈕
    handleAddLuckyWheel() {
      this.luckywheel = Object.assign({}, defaultLuckyWheel)
      console.log(defaultLuckyWheel)
      this.luckywheel.lucky_wheel_price_list = []
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    // 修改抽獎模組按鈕
    handleEditluckyWheel(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      console.log("scope.row",scope.row)
      this.luckywheel = deepClone(scope.row)
    },
    // 預覽抽獎模組按鈕
    handlePreviewluckyWheel(scope) {
      this.dialogTypePreview = 'preview'
      this.dialogVisiblePreview = true
      console.log("scope.row",scope.row)
      this.luckywheel = deepClone(scope.row)
    },
    // 關閉合作夥伴dialog狀態
    getLuckyWheelstatus(status) {
      this.dialogVisible = status
    },
    // 關閉預覽抽獎模組dialog狀態
    getLuckyWheelstatus_preview(status){
      this.dialogVisiblePreview = status
    },
    // 搜尋切換合作夥伴
    switchPartner(partner_id) {
        // console.log("partner_id"+partner_id)
      // 搜尋有帶出合作夥伴
      if (partner_id != '') {
        defaultLuckyWheel['partner_id'] = partner_id
        this.partner = partner_id
      }
      // 搜尋沒有帶出合作夥伴
      if (partner_id == '') {
        defaultLuckyWheel['partner_id'] = ''
        this.partner = ''
      }
    },
    // 搜尋所有常見問題管理
    SearchAlluckyWheel(query) {
      this.search_lucky_wheel = query
      console.log('query', query)
      this.getAlluckyWheel(1, this.search_lucky_wheel)
    }
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
