<template>
  <div class="app-container">
    <!-- <search-Member-Tag @searchMemberTag="SearchAllMemberTag" @searchMemberTagpartner="switchPartner" v-if='this.check_admin_premission.includes("search_btn")' /> -->
    <el-button type="primary" icon="el-icon-user" @click="handleinsertmembergroup" v-if='this.check_admin_premission.includes("insert_btn")' :disabled="partner==''?true:false">新增群組發文管理</el-button>
    <el-select
      v-model="partner"
      placeholder="請選擇合作夥伴"
      filterable
      default-first-option
      style="margin:auto 10px;"
      @change="chosenPartner"
    >
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id"
      />
    </el-select>
    <!-- {{dialogType}} -->
    <!-- {{MemberGroupList}} -->
  <!-- {{dialogVisible}} -->
    <add-Member-Group
      :dialog-type="dialogType"
      :dialog-visible="dialogVisible"
      :membergroup="membergroup"
      @getMemberGroup="getAllMemberGroupemit"
      @getMemberGroupstatus="getMemberGroupstatus"
    />
    <!-- {{membertag}} -->
    <!-- {{MemberGroupList.data}} -->
    <el-table v-loading="membergrouplistLoading" :data="MemberGroupList.data" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
      <el-table-column type="expand">
          <template slot-scope="scope">
          <el-form label-position="left" class="demo-table-expand">
              <el-divider>群組發文管理-內文</el-divider>
              <el-row :gutter="20">
                  <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                      <el-form-item label="發送訊息文字" style="white-space:pre-wrap;">
                        <br/>
                          {{ scope.row.messages }}
                      </el-form-item>
                  </el-col>
              </el-row>
          </el-form>
          </template>
      </el-table-column>
      <el-table-column align="center" width="160" label="合作夥伴">
        <template slot-scope="scope">
          <el-tag size="medium" type="primary" plain>
            {{ scope.row.partner_name }}
          </el-tag>
          <br>
          <!-- <el-tag v-if="scope.row.partner_open_close==1" style="margin:10px 0;">{{ scope.row.partner_open_close | partner_open_close }}</el-tag>
          <el-tag v-if="scope.row.partner_open_close==0" style="margin:10px 0;" type="danger">{{ scope.row.partner_open_close | partner_open_close }}</el-tag> -->
        </template>
      </el-table-column>
      <el-table-column align="center" label="發送群組列表" width="120">
        <template slot-scope="scope">
        <el-tag
            v-for="(all_groupsname_list,index) in scope.row.groups_name"
            :key="index"
            type=""
            style="margin:5px auto;"
            effect="plain"
            >
            {{all_groupsname_list}} <br/>
        </el-tag>
        </template>
      </el-table-column>
      <!-- <el-table-column align="center" width="180" label="發送訊息(文字)">
        <template slot-scope="scope">
          {{ scope.row.messages }}
        </template>
      </el-table-column> -->
      <el-table-column align="center" width="180" label="發送訊息(圖片)">
        <template slot-scope="scope">
           <el-image :src="upload_path+scope.row.photo" v-if="scope.row.photo!=null">
            <div slot="error" class="image-slot">
              <i class="el-icon-picture-outline"></i>
            </div>
           </el-image>
           <el-tag style="margin:10px 0;" v-else>無圖片</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="180" label="發送訊息(貼圖)">
        <template slot-scope="scope">
          <el-image
              style="width: 120px; height: 120px"
              :src="'https://stickershop.line-scdn.net/stickershop/v1/sticker/'+scope.row.sticker_id+'/android/sticker.png'"
              fit="fit"
              v-if="scope.row.sticker!=null"
              >
              <div slot="error" class="image-slot">
                  <i class="el-icon-picture-outline"></i>
              </div>
          </el-image>
           <el-tag style="margin:10px 0;" v-else>無貼圖</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="發送頻率">
        <template slot-scope="scope">
          <el-tag style="margin:10px 0;">{{ scope.row.freq | freq }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="180" label="發送時間">
        <template slot-scope="scope">
          <el-tag type="danger" style="margin:10px 0;">{{ scope.row.send_at }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="150" label="是否發送">
        <template slot-scope="scope">
            <el-tag :type="scope.row.sended==1?'':'danger'" style="margin:10px 0;">{{ scope.row.sended| sended }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="100" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
            <!-- {{scope}} -->
          <el-button type="primary" @click="handleEditmembergroup(scope)" style="margin:5px;">編輯</el-button>
          <!-- <el-button type="info" @click="handlePreviewluckyWheel(scope)" style="margin:5px;">預覽</el-button> -->
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="MemberGroupList.count"
      :page.sync="MemberGroupList.nowpages"
      :limit.sync="MemberGroupList.limit"
      @pagination="getAllMemberGroup(MemberGroupList.nowpages,search_member_group)"
    />

    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import path from 'path'
import { deepClone } from '@/utils'
import { getMemberGroup } from '@/api/member_group_manager'
import  AddMemberGroup from './components/AddMemberGroup.vue'
import { getAdminPremission } from '@/api/premission_manager'
import { getMemberGroupName } from '@/api/member_group_manager'
import SearchMemberTag from './components/SearchMemberTag.vue'

const defaultMemberGroup = {
  partner_id: '',groups_array:[],messages:'',photo:'',sticker:'',sub_line_package_id:'',freq:0,push_id:0,
  sended:0,send_at:'',updated_at:'',created_at:''
}

export default {
  name: 'MemberGroupManager',
  components: { AddMemberGroup, SearchMemberTag,Pagination },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'new',
      partner: '',
      MemberGroupList: [],
      membergrouplistLoading: false,
      membergroup: Object.assign({}, defaultMemberGroup),
      // 圖片網址位置
      upload_path: '',
      search_member_group: '',
      check_admin_premission:[],
      //群組選單(唯讀)
      grouplist:[]
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ]),
    orderedMessages: function () {
        return _.orderBy(this.messages_lists, 'order')
    }
  },
  filters: {
    //合作夥伴狀態
    partner_open_close(status) {
      const partner_open_close = {
        0: '關閉',
        1: '開啟',
      }
      return partner_open_close[status]
    },
    //發送頻率
    freq(status) {
      const freq = {
        0: '一次性',
        1: '固定時間',
        2: '即時性'
      }
      return freq[status]
    },
    //是否發送
    sended(status) {
      const sended = {
        0: '未完成',
        1: '已完成',
      }
      return sended[status]
    },
  },
  async created() {
    // 顯示合作夥伴
    await this.getPartner('all')
    //預設帶入第一個partner_id
    await this.initPartner()
    // 得知使用者實際擁有權限
    await this.getAdminPremission("群組發文管理")
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner', payload)
    },
    // 顯示所有合作夥伴群組發文管理
    async getAllMemberGroup(page, member_group) {
      var payload = ''
    //   if (this.search_member_group == '') {
    //     payload = page
    //   }
    //   if (this.search_member_group != '') {
    //     payload += page + '?' + member_group
    //   }
    payload = member_group
      this.membergrouplistLoading = true
      await getMemberGroup(page,payload).then(resp => {
          console.log(resp)
        this.MemberGroupList = resp
        this.membergrouplistLoading = false
      })
      await getMemberGroupName(this.partner).then((resp)=>{
        this.grouplist = resp.groups
      })
    },
    // 切換所有合作夥伴的群組發文管理
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        // query += 'partner_id=' + this.partner
        query = this.partner
        defaultMemberGroup['partner_id'] = this.partner
        this.search_member_group = query
      } else {
        this.search_member_group = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllMemberGroup(1, query)
    },
    // 帶出所有已新增合作夥伴的群組發文管理
    getAllMemberGroupemit(partner_id) {
      var query = ''
      // console.log("partner_id",partner_id)
      if (partner_id != '') {
        // query += 'partner_id=' + partner_id
        defaultMemberGroup['partner_id'] = partner_id
        this.partner = partner_id
        query = this.partner
        // console.log("this.partner",partner_id)
        this.search_member_group = query
      } else {
        this.search_member_group = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllMemberGroup(1, this.search_member_group)
    },
    // 新增群組發文管理按鈕
    handleinsertmembergroup() {
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultMemberGroup['messages'] = ''
      this.membergroup = Object.assign({}, defaultMemberGroup)
    },
    // 修改群組發文管理按鈕
    handleEditmembergroup(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      this.membergroup = deepClone(scope.row)
      console.log(scope.row)
    //   this.membergroup.groups = []
    //   scope.row.groups.forEach((element)=>{
    //       console.log(element)
    //       this.membergroup.groups.push(element.groupid)
    //   })
    },
    // 關閉群組發文管理dialog狀態
    getMemberGroupstatus(status) {
      this.dialogVisible = status
    },
    // 搜尋切換合作夥伴
    switchPartner(partner_id) {
        // console.log("partner_id"+partner_id)
      // 搜尋有帶出合作夥伴
      if (partner_id != '') {
        defaultMemberGroup['partner_id'] = partner_id
        this.partner = partner_id
      }
      // 搜尋沒有帶出合作夥伴
      if (partner_id == '') {
        defaultMemberGroup['partner_id'] = ''
        this.partner = ''
      }
    },
    // 搜尋所有群組發文管理
    SearchAllMemberGroup(query) {
      this.search_member_group = query
      console.log('query', query)
      this.getAllMemberGroup(1, this.search_member_group)
    },
    //剛開始直接設定預設的partner
    async initPartner(){
        await this.partnerlist.list.forEach((element,index)=>{
          if(index==0){
            console.log("show_first_init_partner",element.partner_id)
            this.partner = element.partner_id
            defaultMemberGroup['partner_id'] = this.partner
          }
          console.log("show_all_init_partner",element.partner_id)
        })
        console.log(this.activeTab)
    },
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
