<template>
  <div class="app-container">
    <search-Member-Tag @searchMemberTag="SearchAllMemberTag" @searchMemberTagpartner="switchPartner" v-if='this.check_admin_premission.includes("search_btn")' />
    <el-select
      v-model="partner"
      placeholder="請選擇合作夥伴"
      filterable
      default-first-option
      clearable
      style="margin:auto 10px;"
      @change="chosenPartner"
    >
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id"
      />
    </el-select>
  <!-- {{dialogVisible}} -->
    <add-Member-Tag
      :dialog-type="dialogType"
      :dialog-visible="dialogVisible"
      :membertag="membertag"
      @getMemberTag="getAllMemberTagemit"
      @getMemberTagstatus="getMemberTagstatus"
    />
    <!-- {{membertag}} -->
    <el-table v-loading="membertaglistLoading" :data="MemberTagList.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
      <el-table-column align="center" fixed width="160" label="合作夥伴/狀態">
        <template slot-scope="scope">
          <el-tag size="medium" type="primary" plain>
            {{ scope.row.partner_name }}
          </el-tag>
          <br>
          <el-tag v-if="scope.row.partner_open_close==1" style="margin:10px 0;">{{ scope.row.partner_open_close | partner_open_close }}</el-tag>
          <el-tag v-if="scope.row.partner_open_close==0" style="margin:10px 0;" type="danger">{{ scope.row.partner_open_close | partner_open_close }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="會員姓名/會員電話">
        <template slot-scope="scope">
          {{ scope.row.name }}<br>
          {{ scope.row.account}}
        </template>
      </el-table-column>
      <el-table-column align="center" label="會員地址/email">
        <template slot-scope="scope">
          {{ scope.row.address }}<br>
          {{ scope.row.email}}
        </template>
      </el-table-column>
      <el-table-column align="center" label="會員驗證狀態">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.member_validator_status==1" style="margin:10px 0;">{{ scope.row.member_validator_status | member_validator_status }}</el-tag>
          <el-tag v-if="scope.row.member_validator_status==0" style="margin:10px 0;" type="danger">{{ scope.row.member_validator_status | member_validator_status }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" label="會員註冊來源">
        <template slot-scope="scope">
          <el-tag style="margin:10px 0;">{{ scope.row.member_source | member_source }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column align="center" width="200" label="會員標籤">
        <template slot-scope="scope">
            <div v-for="member_tag_list in scope.row.member_tag" :key="member_tag_list.member_tag_id" style="text-align:left;">
                <el-tag style="margin:10px 0;">{{ member_tag_list.member_tag }}</el-tag>
            </div>
        </template>
      </el-table-column>
      <el-table-column align="center" width="100" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
        <template slot-scope="scope">
            <!-- {{scope}} -->
          <el-button type="primary" @click="handleEditmembertag(scope)" style="margin:5px;">編輯</el-button>
          <!-- <el-button type="info" @click="handlePreviewluckyWheel(scope)" style="margin:5px;">預覽</el-button> -->
        </template>
      </el-table-column>
    </el-table>
    <pagination
      :total="MemberTagList.count"
      :page.sync="MemberTagList.nowpages"
      :limit.sync="MemberTagList.limit"
      @pagination="getAllMemberTag(MemberTagList.nowpages,search_member_tag)"
    />

    <!-- <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'New Role'">
      <el-form :model="role" label-width="80px" label-position="left">
        <el-form-item label="Name">
          <el-input v-model="role.name" placeholder="Role Name" />
        </el-form-item>
        <el-form-item label="Desc">
          <el-input
            v-model="role.description"
            :autosize="{ minRows: 2, maxRows: 4}"
            type="textarea"
            placeholder="Role Description"
          />
        </el-form-item>
        <el-form-item label="Menus">
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="path"
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="dialogVisible=false">Cancel</el-button>
        <el-button type="primary" @click="confirmRole">Confirm</el-button>
      </div>
    </el-dialog> -->
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'
import { mapGetters } from 'vuex'
import path from 'path'
import { deepClone } from '@/utils'
import { getMemberTag } from '@/api/member_tag_manager'
import  AddMemberTag from './components/AddMemberTag.vue'
import { getAdminPremission } from '@/api/premission_manager'
import SearchMemberTag from './components/SearchMemberTag.vue'

const defaultMemberTag = {
  partner_id: '',mid:null,member_tag:[],member_tag_array:[]
}

export default {
  name: 'MemberTagManager',
  components: { AddMemberTag, SearchMemberTag,Pagination },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'new',
      partner: '',
      MemberTagList: [],
      membertaglistLoading: false,
      membertag: Object.assign({}, defaultMemberTag),
      // 圖片網址位置
      upload_path: '',
      search_member_tag: '',
      check_admin_premission:[]
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  filters: {
    //合作夥伴狀態
    partner_open_close(status) {
      const partner_open_close = {
        0: '關閉',
        1: '開啟',
      }
      return partner_open_close[status]
    },
    //驗證狀態
    member_validator_status(status) {
      const member_validator_status = {
        0: '未驗證',
        1: '已驗證'
      }
      return member_validator_status[status]
    },
    //來源
    member_source(status) {
      const member_source = {
        0: '使用端',
        1: '後台',
        2: 'line'
      }
      return member_source[status]
    },
  },
  created() {
    // 顯示合作夥伴
    this.getPartner('all')
    // 得知使用者實際擁有權限
    this.getAdminPremission("會員標籤管理")
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner', payload)
    },
    // 顯示所有合作夥伴會員標籤管理
    async getAllMemberTag(page, member_tag) {
      var payload = ''
      if (this.search_member_tag == '') {
        payload = page
      }
      if (this.search_member_tag != '') {
        payload += page + '?' + member_tag
      }
      this.membertaglistLoading = true
      getMemberTag(payload).then(resp => {
        this.MemberTagList = resp.data
        this.membertaglistLoading = false
      })
    },
    // 切換所有合作夥伴的會員標籤管理
    chosenPartner() {
      var query = ''
      if (this.partner != '') {
        query += 'partner_id=' + this.partner
        defaultMemberTag['partner_id'] = this.partner
        this.search_member_tag = query
      } else {
        this.search_member_tag = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllMemberTag(1, query)
    },
    // 帶出所有已新增合作夥伴的會員標籤管理
    getAllMemberTagemit(partner_id) {
      var query = ''
      // console.log("partner_id",partner_id)
      if (partner_id != '') {
        query += 'partner_id=' + partner_id
        defaultMemberTag['partner_id'] = partner_id
        this.partner = partner_id
        // console.log("this.partner",partner_id)
        this.search_member_tag = query
      } else {
        this.search_member_tag = query
      }
      // console.log("query",query)
      // console.log("defaultQuestion['partner_id']", defaultQuestion['partner_id'])
      this.getAllMemberTag(1, query)
    },
    // 修改會員標籤管理按鈕
    handleEditmembertag(scope) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      this.membertag = deepClone(scope.row)
    },
    // 關閉會員標籤管理dialog狀態
    getMemberTagstatus(status) {
      this.membertag.member_tag = []
      this.membertag.member_tag_array = []
      this.dialogVisible = status
    },
    // 搜尋切換合作夥伴
    switchPartner(partner_id) {
        // console.log("partner_id"+partner_id)
      // 搜尋有帶出合作夥伴
      if (partner_id != '') {
        defaultMemberTag['partner_id'] = partner_id
        this.partner = partner_id
      }
      // 搜尋沒有帶出合作夥伴
      if (partner_id == '') {
        defaultMemberTag['partner_id'] = ''
        this.partner = ''
      }
    },
    // 搜尋所有會員管理標籤
    SearchAllMemberTag(query) {
      this.search_member_tag = query
      console.log('query', query)
      this.getAllMemberTag(1, this.search_member_tag)
    }
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
