<template>
  <div class="app-container">
    <el-select
      v-model="partner"
      placeholder="請選擇合作夥伴"
      filterable
      default-first-option
      style="margin:auto 10px;"
      @change="chosenPartner"
    >
      <el-option
        v-for="item in partnerlist.list"
        :key="item.partner_id"
        :label="item.partner_name"
        :value="item.partner_id"
      />
    </el-select>
    <!-- {{Linebotchecknotshowothermenu}} -->
    <!-- {{LinebotInfo}} -->
      <el-tabs v-model="activeTab">
        <el-tab-pane label="會員" name="reserve_system_member">
            <!-- 會員 -->
            <ReservationSystemMember :activeTab="activeTab" :partner="partner" :check_admin_premission="check_admin_premission" />
        </el-tab-pane>
        <el-tab-pane label="會員標籤" name="reserve_system_member_tab">
            <!-- 會員標籤 -->
            <ReservationSystemMemberTag :activeTab="activeTab" :partner="partner" :check_admin_premission="check_admin_premission" />
        </el-tab-pane>
      </el-tabs>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import path from 'path'
import { deepClone } from '@/utils'
import { getAdminPremission } from '@/api/premission_manager'
import ReservationSystemMember from './components/ReservationSystemMember.vue'
import ReservationSystemMemberTag from './components/ReservationSystemMemberTag.vue'
export default {
  name: 'ReservationMemberSystemManager',
  components:{ ReservationSystemMember,ReservationSystemMemberTag },
  data() {
    return {
      dialogVisible: false,
      dialogType: 'new',
      partner: '',
      check_admin_premission:[],
      activeTab:'reserve_system_member',
      loading:false,
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist'
    ])
  },
  filters: {

  },
  async created() {
    // 顯示合作夥伴
    await this.getPartner('all')
    //預設帶入第一個partner_id
    await this.initPartner()
    // 得知使用者實際擁有權限
    await this.getAdminPremission("會員管理")
  },
    watch: {
    partner:{
    handler: function(val, oldVal) {

    },
    immediate: true
    }
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    // 顯示合作夥伴
    async getPartner(page) {
      var payload = ''
      payload = page+ '?' + 'partner_open_close=1'
      await this.$store.dispatch('partner/getPartner', payload)
    },
    async chosenPartner(){
        console.log(this.activeTab)
    },
    //剛開始直接設定預設的partner
    async initPartner(){
        await this.partnerlist.list.forEach(async(element,index)=>{
          if(index==0){
            console.log("show_first_init_partner",element.partner_id)
            this.partner = element.partner_id
          }
          console.log("show_all_init_partner",element.partner_id)
        })
        console.log(this.activeTab)
    },
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
