<template>
    <div>
    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'更新會員標籤模組':'新增會員標籤模組'"
    :before-close="closeAddMemberTag" center fullscreen>
      <el-form :rules="MemberTagRules" status-icon ref="membertag" :model="membertag" label-position="right">
          <div style="display:none;">{{membertag}}</div>
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="4" :xl="4">
                <el-form-item label="合作夥伴" prop="partner_id">
                  <br/>
                    <el-select
                        v-model="membertag.partner_id"
                        name="partner_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="選擇合作夥伴"
                        ref="partner_id"
                        >
                        <el-option
                        v-for="item in partnerlist.list"
                        :key="item.category_id"
                        :label="item.partner_name"
                        :value="item.partner_id">
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="8" :xl="8">
                <el-form-item label="會員帳號" prop="account">
                    <el-input ref="account" v-model="membertag.account"
                    name="account" placeholder="會員帳號"
                    autocomplete="off" disabled />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="會員標籤">
                    <br/>
                    <el-select
                        v-model="membertag.member_tag_array"
                        name="member_tag_array"
                        filterable
                        allow-create
                        multiple
                        clearable
                        placeholder="會員標籤"
                        ref="member_tag_array"
                        @change="member_tag_array_change"
                        >
                    </el-select>
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddMemberTag">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmMemberTag('membertag')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddEditLinebotManger',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    membertag:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      MemberTagRules: {
        partner_id: [{ required: true }]
      },
      loading:false,
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
    ])
  },
  watch: {
    "membertag.member_tag": function(member_tag){
    var _self = this
        console.log(member_tag)
        console.log(_self.membertag.member_tag_array)
        // _self.membertag.member_tag_array = 
        if(_self.membertag.member_tag_array==undefined){
            _self.membertag.member_tag_array = []
        }
        // _self.membertag.member_tag_array = []
        member_tag.forEach(element => {
            _self.membertag.member_tag_array.push(element.member_tag)
        });
    }
  },
  methods: {
    member_tag_array_change(element){
        console.log("member_tag_array",element)
        var _self = this
        // _self.membertag.member_tag_array = null
         _self.membertag.member_tag = []
        _self.membertag.member_tag_array = []
        // console.log("_self.membertag.member_tag_array",_self.membertag.member_tag_array)
        element.forEach((index)=>{
            _self.membertag.member_tag_array.push(index)
        })
    },
    // 更新與新增最新消息
    confirmMemberTag(membertag) {
      this.$refs[membertag].validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('member/insert_update_membertag', this.membertag)
            .then((res) => {
                //更新資料進入外層的抽獎模組
                this.$emit('getMemberTag',this.membertag.partner_id)
                //判斷是否為新增或修改
                if(this.dialogType!="edit"){
                    this.$nextTick(() => {
                      this.$refs[membertag].resetFields()
                    })
                }
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    //關閉最新消息
    closeAddMemberTag(){
    //更新資料進入外層的最新消息狀態
    this.dialogVisible = false
    this.$emit('getMemberTagstatus',this.dialogVisible)
    },
  }
}
</script>