<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'更新聊天機器人選單':'新增聊天機器人選單'"
    :before-close="closeAddMenu" center fullscreen
    append-to-body
    >
        <!-- {{linebotmenu}} -->
      <el-form :rules="MenuRules" status-icon ref="linebotmenu" :model="linebotmenu" label-position="right">
          <!-- {{linebotmenu}}
          {{upload_path+origin_image}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="原始選單照片">
                <el-image :src="upload_path+origin_image"
                style="width:500px;"
                >
                    <div slot="error" class="image-slot">
                    <i class="el-icon-picture-outline"></i>
                    </div>
                </el-image>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="上傳選單照片" prop="image">
            <el-upload
                class="avatar-uploader"
                :action="upload_path+'/linebotrichmenu/'"
                ref="image"
                name="image"
                :multiple="false"
                :auto-upload="false"
                :limit="1"
                accept="image/png,image/jpeg"
                :on-change="before_upload_image_upload"
                :on-remove="reset_upload_image_upload"
                >
                <img v-if="show_upload_image_preview" :src="show_upload_image_preview" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                <!-- <p style="color:red;">寬度：</p>
                <p style="color:red;">高度：</p>
                <p style="color:red;">寬高比率：</p>
                <p style="color:red;">ssss</p> -->
            </el-upload>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="綁定狀態" prop="rich_menu_status">
              <br>
              <el-radio-group v-model="linebotmenu.rich_menu_status" name="rich_menu_status">
                <el-radio-button label=0 border>未綁定</el-radio-button>
                <el-radio-button label=1 border>已綁定</el-radio-button>
              </el-radio-group>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="上傳格式（json)" prop="json">
                <el-input
                v-model="linebotmenu.json"
                placeholder="上傳格式（json)"
                type="textarea"
                :rows="5"
                autocomplete="off"
                ref="json"
                    />
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="預覽上傳格式" prop="json">
              <json-viewer
                :value="linebotmenu.json"
                :expand-depth=5
                copyable
                boxed
                sort>
              </json-viewer>
            </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddMenu">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmMenu('linebotmenu')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 400px;
    height: 400px;
    display: block;
  }
</style>
<script>
import { uploadMenu } from '@/api/linebot_manager'
export default {
name: 'AddLinebotMenu',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    linebotmenu:{
        type:Object,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  data() {
    return {
      MenuRules: {
          image:[{required:true}],
          json:[{required:true}]
      },
      loading:false,
      healthphotolist:[],
      healthphotovalue:[],
      // 圖片網址位置
      upload_path: '',
      //原始照片
      origin_image:'',
      //預覽照片
      show_upload_image_preview:'',
    //   order_mid_loading:false,
    //   shopLoading:false,
    //   shop:[]
    }
  },
    watch: {
      dialogType:{
        handler: function(val, oldVal) {
        if(this.dialogType=='edit'){
            this.origin_image = this.linebotmenu.image
        }
        else{
            this.origin_image = ''
        }
      },
      immediate: true
      }
  },
  created() {
        // 圖片網址位置
        this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
  },
  methods: {
    //關閉選單
    closeAddMenu(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    this.linebotmenu.image = this.origin_image

    this.show_upload_image_preview = null
    this.$emit('getMenu_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    // 更新與新增選單
    confirmMenu(linebotmenu) {
      this.$refs[linebotmenu].validate(valid => {
        if (valid) {
          this.loading = true
          const LinebotMenuFormData = new FormData()
          LinebotMenuFormData.append('partner_id',this.linebotmenu.partner_id)
          LinebotMenuFormData.append('rich_menu_status',this.linebotmenu.rich_menu_status)
          LinebotMenuFormData.append('json',this.linebotmenu.json)
          if(this.dialogType=='new'){
            if(this.linebotmenu.image!=null){
              LinebotMenuFormData.append('image',this.linebotmenu.image.raw)
            }
          }
          if(this.dialogType=='edit'){
            if(this.linebotmenu.image!=null){
              if(this.linebotmenu.image.raw!=null){
                LinebotMenuFormData.append('image',this.linebotmenu.image.raw)
              }
              else{
                LinebotMenuFormData.append('image',this.linebotmenu.image)
              }
            }
          }
          uploadMenu(LinebotMenuFormData)
            .then((resp) => {
                if(this.dialogType=='new'){
                    if(this.linebotmenu.image!=null){
                        this.origin_image = '/linerichmenu/'+this.linebotmenu.image.name
                    }
                }
                if(this.dialogType=='edit'){
                    if(this.linebotmenu.image!=null){
                        if(this.linebotmenu.image.raw!=null){
                            this.origin_image = '/linerichmenu/'+this.linebotmenu.image.name
                        }
                        else{
                            this.origin_image = this.linebotmenu.image
                        }
                    }
                }
                //選單上傳成功
                if(resp.message=="{}"){
                  resp.message = '選單上傳成功'
                }
                this.$message({
                message: resp.message,
                type: resp.success==true ? 'success':'error'
                })
                //更新資料進入外層的最新消息
                this.$emit('getLinebotMenu')
                //判斷是否為新增或修改
                if(this.dialogType!="edit"){
                    this.$nextTick(() => {
                      this.$refs[linebotmenu].resetFields()
                    })
                }
                //預覽圖片回復預設值
                this.$refs.image.clearFiles()
                this.show_upload_image_preview = null
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    before_upload_image_upload(file) {
        const isJPG = file.name.toLowerCase() === 'image/jpeg'||'image/png';
        // console.log(file.raw.name.split('.')[1]=='jpeg')
        if(file.raw.name.split('.')[1]=='jpg'){
          this.$message.error('上傳格式不正確!!，請將副檔名.jpg更換.jpeg');
          this.linebotmenu.image = ""
          this.show_upload_image_preview = null
          this.$refs.image.clearFiles()
          return false;
        }
        const isLt1M = file.size / 1024 / 1024 < 1;
        if (!isLt1M) {
          this.$message.error('上傳圖片檔案不超過1MB!!');
        //   this.$refs.
        return isLt1M;
        }
        const issize = new Promise((resolve,reject)=>{
            let reader = new FileReader()
            reader.readAsDataURL(file.raw);
            let URL = window.URL || window.webkitURL;
            console.log("file",file)
            let image = new Image()
            image.onload = function(){
                console.log(image)
                console.log("image.width",image.width)
                console.log("image.height",image.height)
                console.log("image.width/image.height",image.width/image.height)
                if((image.width<800||image.width>2500)){
                    // this.$message.error('上傳寬度須介於800px到2500px之間');
                    reject('上傳寬度須介於800px到2500px之間')
                }
                if((image.height<250||image.height>1700)){
                    // this.$message.error('上傳高度須介於250px到720px之間');
                    reject('上傳高度須介於250px到1700px之間')
                }
                if((image.width/image.height)<1.45){
                    // this.$message.error('上傳比例須大於1.45以上');
                    reject('上傳比例須大於1.45以上')
                }
                resolve()
            }
            this.linebotmenu.image = file
            this.show_upload_image_preview = URL.createObjectURL(file.raw);
            image.src = this.show_upload_image_preview
        }).then(()=>{
            // 預覽圖片
            return isLt1M&isJPG&issize;
        },
        (error)=>{
            console.log("error",error)
            this.$message.error(error)
            this.linebotmenu.image = ""
            this.show_upload_image_preview = null
            this.$refs.image.clearFiles()
            return Promise.reject()
        })
    },
    // 取消上傳圖片
    reset_upload_image_upload(){
      this.linebotmenu.image = this.origin_image
      this.show_upload_image_preview = null
    },
  }
}
</script>