<template>
    <div>
    <el-dialog :visible="dialogVisible" :title="dialogType==='edit'?'查看電子發票':'新增電子發票'"
    :before-close="closeAddReception" center fullscreen
    append-to-body
    >
        <!-- {{linebotreception}} -->
        <!-- {{LinebotReceptionList}} -->
      <el-form :rules="ReceptionRules" status-icon ref="linebotreception" :model="linebotreception" label-position="right">
        <el-row :gutter="20">
            <div style="text-align:center; font-size:20px; color:red; margin:20px 0;">
                1.搜尋財政部電子發票配號資訊
                <!-- <el-button :loading="loading" type="primary" @click.native.prevent="confirmPartner('partner')">確認</el-button> -->
            </div>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                <el-form-item label="發票年度" prop="ecpay_payload.InvoiceYear">
                    <el-select
                    v-model="linebotreception.ecpay_payload.InvoiceYear"
                    placeholder="請選擇發票年度"
                    filterable
                    default-first-option
                    style="margin:auto 10px;"
                    >
                    <!-- <el-option label="111" value="111"></el-option> -->
                    <el-option label="112" value="112"></el-option>
                    <el-option label="113" value="113"></el-option>
                    <el-option label="114" value="114"></el-option>
                    <el-option label="115" value="115"></el-option>
                    </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="4" :lg="4" :xl="4">
                <el-button :loading="searchReceptionloading" type="primary" @click="searchReception">搜尋</el-button>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-table v-loading="searchReceptionloading" :data="LinebotReceptionList" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
            <el-table-column align="center" label="發票期別">
                <template slot-scope="scope">
                    <el-tag style="margin:10px 0;">{{ scope.row.InvoiceTerm|InvoiceTerm }}</el-tag>
                </template>
            </el-table-column>
            <el-table-column align="center" label="字軌類別">
                <template slot-scope="scope">
                    <el-tag style="margin:10px 0;">{{ scope.row.InvType|InvType }}</el-tag>
                </template>
            </el-table-column>
            <el-table-column align="center" label="發票字軌">
                <template slot-scope="scope">
                    <el-tag style="margin:10px 0;">{{ scope.row.InvoiceHeader }}</el-tag>
                </template>
            </el-table-column>
            <el-table-column align="center" label="起始發票">
                <template slot-scope="scope">
                    <el-tag style="margin:10px 0;">{{ scope.row.InvoiceStart }}</el-tag>
                </template>
            </el-table-column>
            <el-table-column align="center" label="結束發票">
                <template slot-scope="scope">
                    <el-tag style="margin:10px 0;">{{ scope.row.InvoiceEnd }}</el-tag>
                </template>
            </el-table-column>
            <el-table-column align="center" label="操作">
                <template slot-scope="scope">
                    <el-button @click="CopyLinebotReception(scope.row)">複製</el-button>
                </template>
            </el-table-column>
            </el-table>
            </el-col>
        </el-row>
        <el-row :gutter="20" style="margin:15px 0;">
            <el-col :xs="24" :sm="8" :lg="8" :xl="8">
                <el-form-item label="發票年度" prop="ecpay_payload.InvoiceYear">
                    <br/>
                    <el-select
                    v-model="linebotreception.ecpay_payload.InvoiceYear"
                    placeholder="請選擇發票年度"
                    filterable
                    default-first-option
                    style="margin:auto 10px;"
                    >
                    <!-- <el-option label="111" value="111"></el-option> -->
                    <el-option label="112" value="112"></el-option>
                    <el-option label="113" value="113"></el-option>
                    <el-option label="114" value="114"></el-option>
                    <el-option label="115" value="115"></el-option>
                    </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="發票期別" prop="ecpay_payload.InvoiceTerm">
                    <br/>
                    <el-radio-group v-model="linebotreception.ecpay_payload.InvoiceTerm" name="InvoiceTerm">
                        <el-radio-button label=1 border>1-2 月</el-radio-button>
                        <el-radio-button label=2 border>3-4 月</el-radio-button>
                        <el-radio-button label=3 border>5-6 月</el-radio-button>
                        <el-radio-button label=4 border>7-8 月</el-radio-button>
                        <el-radio-button label=5 border>9-10 月</el-radio-button>
                        <el-radio-button label=6 border>11-12 月</el-radio-button>
                    </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="4" :lg="4" :xl="4">
                <el-form-item label="字軌類別" prop="ecpay_payload.InvType">
                    <el-radio-group v-model="linebotreception.ecpay_payload.InvType" name="InvType">
                        <el-radio-button label=07 border>一般稅額發票</el-radio-button>
                    </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="6" :lg="6" :xl="6" >
              <el-form-item label="發票字軌" prop="ecpay_payload.InvoiceHeader">
                  <el-input ref="InvoiceHeader" v-model="linebotreception.ecpay_payload.InvoiceHeader"
                  name="InvoiceHeader" placeholder="發票字軌"
                  autocomplete="off" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="9" :lg="9" :xl="9" >
              <el-form-item label="請輸入8碼起始發票號碼" prop="ecpay_payload.InvoiceStart">
                  <el-input ref="InvoiceStart" v-model="linebotreception.ecpay_payload.InvoiceStart"
                  name="InvoiceStart" placeholder="請輸入8碼起始發票號碼"
                  autocomplete="off" />
                  <br/>
                    <div style="color:red;">
                        請輸入 8 碼發票號碼，尾數需為 00 或 50
                    </div>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="9" :lg="9" :xl="9" >
              <el-form-item label="請輸入8碼結束發票號碼" prop="ecpay_payload.InvoiceEnd">
                  <el-input ref="InvoiceEnd" v-model="linebotreception.ecpay_payload.InvoiceEnd"
                  name="InvoiceEnd" placeholder="請輸入8碼結束發票號碼"
                  autocomplete="off" />
                    <br/>
                    <div style="color:red;">
                        請輸入 8 碼發票號碼，尾數需為 49 或 99
                    </div>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="發票字軌狀態" prop="ecpay_payload.InvoiceStatus">
                    <br/>
                    <el-radio-group v-model="linebotreception.ecpay_payload.InvoiceStatus" name="InvoiceStatus" :disabled="dialogType=='new'?true:false">
                        <el-radio-button label="" border>未啟用</el-radio-button>
                        <el-radio-button label=0 border>停用</el-radio-button>
                        <el-radio-button label=1 border>暫停</el-radio-button>
                        <el-radio-button label=2 border>啟用</el-radio-button>
                    </el-radio-group>
              </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button @click="closeAddReception">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmReception('linebotreception')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 400px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 400px;
    height: 400px;
    display: block;
  }
</style>
<script>
import { checkReceptionResult,setReceptionResult,statusReceptionResult } from '@/api/linebot_manager'
//得知搜尋配好結果
const defaultSearchReception = {
  partner_id:'',
  ecpay_payload:{
    MerchantID:'',
    InvoiceYear:'112',
  }
}

//開啟關閉電子發票字軌配號(開啟)
const defaultStatusReception = {
  partner_id:'',
  ecpay_payload:{
    MerchantID:'',
    TrackID: '',
    InvoiceStatus:'',
  }
}

export default {
name: 'AddReception',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    linebotreception:{
        type:Object,
        require:true
    },
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    }
},
  data() {
    return {
      ReceptionRules: {
          "ecpay_payload.InvoiceYear":[{required:true}],
          "ecpay_payload.InvoiceTerm":[{required:true}],
          "ecpay_payload.InvType":[{required: true}],
          "ecpay_payload.InvoiceHeader":[{required:true}],
          "ecpay_payload.InvoiceStart":[{required:true}],
          "ecpay_payload.InvoiceEnd":[{required:true}],
      },
      loading:false,
      searchReceptionloading:false,
      //所有配號結果
      LinebotReceptionList:[]
      
    }
  },
    watch: {
      dialogType:{
        handler: function(val, oldVal) {

      },
      immediate: true
      }
  },
  filters:{
      InvoiceTerm(status){
      const InvoiceTerm = {
        1: '1-2月',
        2: '3-4月',
        3: '5-6月',
        4: '7-8月',
        5: '9-10月',
        6: '11-12月',
      }
      return InvoiceTerm[status]
    },
      InvType(status){
      const InvType = {
        "07": '一般稅額發票',
        "08": '特種稅額發票',
      }
      return InvType[status]
    },
    InvoiceCategory(status){
      const InvoiceCategory = {
        1: 'B2C'
      }
      return InvoiceCategory[status]
    },
    InvoiceStatus(status){
      const InvoiceStatus = {
        0: '停用',
        1: '暫停',
        2: '啟用'
      }
      return InvoiceStatus[status]
    }
  },
  methods: {
    //關閉選單
    closeAddReception(){
    //更新資料進入外層的關閉選單
    this.dialogVisible = false
    this.dialogType = ''
    // this.refs.tinymce.setContent('')
    this.$emit('getReception_status_dialogtype',this.dialogVisible,this.dialogType)
    },
    //搜尋財政部配號
    searchReception(){
        this.searchReceptionloading = true
        defaultSearchReception['partner_id'] = this.linebotreception.partner_id
        defaultSearchReception['ecpay_payload']['MerchantID'] = this.linebotreception.ecpay_payload.MerchantID
        defaultSearchReception['ecpay_payload']['InvoiceYear'] = this.linebotreception.ecpay_payload.InvoiceYear

        defaultStatusReception['partner_id'] = this.linebotreception.partner_id
        defaultStatusReception['ecpay_payload']['MerchantID'] = this.linebotreception.ecpay_payload.MerchantID
        checkReceptionResult(defaultSearchReception).then(resp => {
            if(resp.success==true){
                this.LinebotReceptionList = []
                this.LinebotReceptionList = resp.data
            }
            else{
              this.LinebotReceptionList = []
              this.$message.error(resp.data);
            }
            this.searchReceptionloading = false
        })

    },
    //複製每一筆資訊
    CopyLinebotReception(data){
       this.linebotreception.ecpay_payload.InvType = data.InvType
       this.linebotreception.ecpay_payload.InvoiceTerm = data.InvoiceTerm
       this.linebotreception.ecpay_payload.InvoiceHeader = data.InvoiceHeader
       this.linebotreception.ecpay_payload.InvoiceStart = data.InvoiceStart
       this.linebotreception.ecpay_payload.InvoiceEnd = data.InvoiceEnd
       this.$message.success('已複製該筆資料')
    },
    confirmReception(linebotreception){
      this.$refs[linebotreception].validate(valid => {
        if (valid) {
          this.loading = true
          console.log(this.linebotreception)
          //設定電子發票字軌配號
          setReceptionResult(this.linebotreception).then(resp => {
            console.log(resp)
            this.$message({
              message: resp.message,
              type: resp.success==true ? 'success':'error'
            })
            this.$emit('getLineReception',1,'partner_id='+this.linebotreception.partner_id)
            this.loading = false
            //開啟關閉電子發票字軌配號(開啟)
            if(resp.success==true){
                defaultStatusReception['ecpay_payload']['TrackID'] = resp.data.TrackID
                this.linebotreception.ecpay_payload.InvoiceStatus = "2"
                defaultStatusReception['ecpay_payload']['InvoiceStatus'] = "2"
                statusReceptionResult(defaultStatusReception).then(resp_result => {
                    this.$message({
                    message: resp_result.message,
                    type: resp_result.success==true ? 'success':'error'
                    })
                    this.$emit('getLineReception',1,'partner_id='+this.linebotreception.partner_id)
                    this.loading = false
                })
            }
          })
        } else {
            this.$message.error('有資料未填寫!!')
        //   console.log('有資料未填寫!!')
          this.loading = false
          return false
        }
      })
    }
  }
}
</script>