<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span style="color:red;">電子發票設定</span>
      <el-button type="primary" icon="el-icon-edit" style="float:right;" @click="insertreception" v-if='this.check_admin_premission.includes("insert_btn")'>新電子發票</el-button>
    </div>
    <!-- {{LinebotReception}} -->
    <div class="user-profile">
        <AddReception :linebotreception="linebotreception" :dialogType="dialogType" :dialogVisible="dialogVisible" @getLineReception="setReceptionSetting" @getReception_status_dialogtype="getReception_status_dialogtype" />
        <el-table v-loading="LinebotReceptionLoading" :data="LinebotReception.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <el-table-column align="center" label="發票字軌號碼ID">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;">{{ scope.row.TrackID }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="發票年度">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;">{{ scope.row.InvoiceYear }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="發票期別">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;">{{ scope.row.InvoiceTerm | InvoiceTerm }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="150" label="字軌類別">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;">{{ scope.row.InvType | InvType }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="發票種類">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;">{{ scope.row.InvoiceCategory | InvoiceCategory }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="發票字軌">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;">{{ scope.row.InvoiceHeader }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="150" label="發票號碼">
            <template slot-scope="scope">
                {{ scope.row.InvoiceStart }}<br/>
                {{ scope.row.InvoiceEnd }}<br/>
            </template>
        </el-table-column>
        <el-table-column align="center" label="發票字軌狀態">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;" :type="scope.row.InvoiceStatus==1||scope.row.InvoiceStatus==0?'danger':''">{{ scope.row.InvoiceStatus|InvoiceStatus }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" width="150" label="操作" v-if='this.check_admin_premission.includes("update_btn")'>
            <template slot-scope="scope">
                <el-button type="primary" style="margin:5px;" @click="editinvoicestatus(scope.row)">修改字軌狀態</el-button>
            </template>
        </el-table-column>
        </el-table>
        <pagination
          :total="LinebotReception.count"
          :page.sync="LinebotReception.nowpages"
          :limit.sync="LinebotReception.limit"
          @pagination="setReceptionSetting(LinebotReception.nowpages,search_reception)"
        />
    </div>
  </el-card>
</template>

<script>
import Pagination from '@/components/Pagination'
import { getLineBotInfo,getReceptionSetting,statusReceptionResult } from '@/api/linebot_manager'
import AddReception from'./AddReception'
import { getAdminPremission } from '@/api/premission_manager'
const defaultReception = {
  partner_id:'',
  ecpay_payload:{
    MerchantID:'',
    InvoiceTerm:'',
    // 1:B2C
    InvoiceCategory:'1',
    InvoiceYear:'112',
    InvType:'07',
    InvoiceHeader:'',
    InvoiceStart:'',
    InvoiceEnd:'',
    //"":未啟用,0:停用, 1:暫停, 2:啟用
    InvoiceStatus:'',
  }
}

//開啟關閉電子發票字軌配號
const defaultstatusReception = {
  partner_id:'',
  ecpay_payload:{
    MerchantID:'',
    InvoiceStatus:'',
    TrackID:''
  }
}

export default {
  name: "linebotreception",
  components: { Pagination,AddReception },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
  filters:{
      InvoiceTerm(status){
      const InvoiceTerm = {
        1: '1-2月',
        2: '3-4月',
        3: '5-6月',
        4: '7-8月',
        5: '9-10月',
        6: '11-12月',
      }
      return InvoiceTerm[status]
    },
      InvType(status){
      const InvType = {
        "07": '一般稅額發票',
        "08": '特種稅額發票',
      }
      return InvType[status]
    },
    InvoiceCategory(status){
      const InvoiceCategory = {
        1: 'B2C'
      }
      return InvoiceCategory[status]
    },
    InvoiceStatus(status){
      const InvoiceStatus = {
        0: '停用',
        1: '暫停',
        2: '啟用'
      }
      return InvoiceStatus[status]
    }
  },
  data(){
    return {
      LinebotInfo:[],
      LinebotReception:[],
      payload:{},
      LinebotInfoLoading:false,
      LinebotReceptionLoading:false,
      loading:false,
      search_reception:'',
      linebotreception:Object.assign({}, defaultReception),
      check_admin_premission:[],
      dialogType:'',
      dialogVisible:false,
      InvoiceStatusMessage:''
    }
  },
    watch: {
      partner:{
        handler: function(val, oldVal) {
        var query = ''
        if(this.partner!=''){
            //設定平台商綠界參數
            this.setMerchantID()
            query += 'partner_id=' + this.partner
            this.search_reception = query
            //設定發票資訊
            this.setReceptionSetting(1,query)
        }
      },
      immediate: true
      },
  },
  mounted() {
    // 得知使用者實際擁有權限
    this.getAdminPremission("Line機器人模組")
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    //設定平台商綠界
    setMerchantID(){
        this.LinebotInfo = []
        this.LinebotInfoLoading = true
        this.payload = {
            'partner_id':this.partner
        }
        getLineBotInfo(this.payload).then(resp => {
            if(resp.data=="查詢成功"){
                this.LinebotInfo = resp.message[0]
                defaultReception['partner_id'] = this.partner
                defaultReception['ecpay_payload']['MerchantID'] = this.LinebotInfo.MerchantID
                // console.log("test")
                // console.log(defaultReception)
                this.LinebotInfoLoading = false
            }
        })
        this.LinebotAnnounceLoading = false
    },
    //設定發票資訊
    setReceptionSetting(page,query){
      this.LinebotReception = []
      this.LinebotReceptionLoading = true
      var payload = ''
      if (this.search_reception == '') {
        payload = page
      }
      if (this.search_reception != '') {
        payload += page + '?' + query
      }
      defaultReception['partner_id'] = this.partner
      defaultReception['ecpay_payload']['MerchantID'] = this.LinebotInfo.MerchantID
      this.linebotreception = Object.assign({}, defaultReception)
      getReceptionSetting(payload).then(resp => {
        if(resp.success==true){
            this.LinebotReception = resp.data
        }
        this.LinebotReceptionLoading = false
      })
    },
    //新電子發票設定
    insertreception(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultReception['partner_id'] = this.partner
      defaultReception['ecpay_payload']['MerchantID'] = this.LinebotInfo.MerchantID
      this.linebotreception = Object.assign({}, defaultReception)
    },
    //關閉選單
    getReception_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
    //修改字軌狀態
    editinvoicestatus(data){
      defaultstatusReception['partner_id'] = data.partner_id
      defaultstatusReception['ecpay_payload']['MerchantID'] = this.LinebotInfo.MerchantID
      defaultstatusReception['ecpay_payload']['TrackID'] = data.TrackID
      //將啟用變更為暫停
      if(data.InvoiceStatus==2){
        defaultstatusReception['ecpay_payload']['InvoiceStatus'] = 1
        this.InvoiceStatusMessage = '暫停'
      }
       //將暫停變更為啟用
      if(data.InvoiceStatus==1){
        defaultstatusReception['ecpay_payload']['InvoiceStatus'] = 2
        this.InvoiceStatusMessage = '啟用'
      }
      this.$confirm('確認修改字軌號碼ID:' + data.TrackID + '發票字軌狀態更改為['+this.InvoiceStatusMessage+']?', 'Warning', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      })
        .then(async() => {
            await statusReceptionResult(defaultstatusReception).then(resp_result => {
                this.$message({
                message: resp_result.message,
                type: resp_result.success==true ? 'success':'error'
                })
                this.setReceptionSetting(1,'partner_id='+data.partner_id)
                this.loading = false
            })
        })
        .catch(err => { console.error(err) })
    }

  }
}
</script>