<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span style="color:red;">聊天機器人發布管理</span>
    </div>
    <div class="user-profile" v-loading="LinebotAnnounceLoading">
        <!-- {{announce}} -->
        <!-- {{LinebotAnnounceMessage}}
        {{search_linebot_announce_message}} -->
         <!-- {{LinebotAnnounceMessage.list}} -->
         <!-- {{announce.user_id}} -->
         <!-- {{announce.select_member_2_tag}} -->
    <!-- {{wordcategorylist}} -->
    <div v-if="this.LinebotStatic[0]['limitPush']<this.setting_all_member_push_message_total" style="margin:10px 0;">
    <el-alert
        :closable="false"
        title="剩餘推播次數不足，請補齊推播次數，再進行會員推播。"
        type="error"
    />
    </div>
    <el-form :model="announce" ref="announce" :rules="LinebotAnnounceRules" status-icon label-position="left">
        <el-row :gutter="20">
            <el-col :xs="announce.setting_mode==0?24:24" :sm="announce.setting_mode==0?12:8" :lg="announce.setting_mode==0?12:8" :xl="announce.setting_mode==0?12:8">
              <el-form-item label="請設定模式" prop="setting_mode">
                  <br/>
                  <el-select
                  v-model="announce.setting_mode"
                  placeholder="請選擇要發送的會員"
                  filterable
                  default-first-option
                  style="margin:auto 10px;"
                  ref="setting_mode"
                  name="setting_mode"
                  >
                  <el-option label="簡易模式" :value="0"></el-option>
                  <el-option label="進階模式" :value="1"></el-option>
                  </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-show="announce.setting_mode==0">
              <el-form-item label="請選擇發送會員" prop="user_id">
                  <br/>
                  <el-select
                  v-model="announce.user_id"
                  placeholder="請選擇要發送的會員"
                  filterable
                  remote
                  :remote-method="getlinebotpushpeople"
                  default-first-option
                  multiple
                  style="margin:auto 10px;"
                  ref="user_id"
                  name="user_id"
                  @change="handleSelectAllUserId_normal"
                  >
                  <div v-show="this.partner=='730515'">
                    <el-option
                        v-for="item in LinebotAnnounceListPeople"
                        :key="item.line_user_id"
                        :label="item.name"
                        :value="item.line_user_id"
                    />
                  </div>
                  <div v-show="this.partner!='730515'">
                    <el-option
                        v-for="item in LinebotAnnounceListPeople"
                        :key="item.line_user_id"
                        :label="item.name+'('+item.mobile+')'"
                        :value="item.line_user_id"
                    />
                  </div>
                  </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-show="announce.setting_mode==1">
              <el-form-item label="請選擇會員標籤" prop="member_2_tag">
                  <br/>
                  <el-select
                  v-model="member_2_tag"
                  placeholder="請選擇會員標籤"
                  filterable
                  default-first-option
                  style="margin:auto 10px;"
                  ref="member_2_tag"
                  name="member_2_tag"
                  @change="change_member_2_tag_advance"
                  >
                  <div v-show="this.partner=='730515'">
                    <el-option
                        v-for="item in LinebotTagList"
                        :key="item.member_2_tag"
                        :label="item.member_2_tag"
                        :value="item.member_2_tag"
                    />
                  </div>
                  <div v-show="this.partner!='730515'">
                    <el-option
                        v-for="item in LinebotTagList"
                        :key="item.member_2_tag"
                        :label="item.member_2_tag"
                        :value="item.member_2_tag"
                    />
                  </div>
                  </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-show="announce.setting_mode==1&&member_2_tag!=''">
              <el-form-item label="請選擇發送會員" prop="user_id">
                  <br/>
                  <el-select
                  v-model="announce.user_id"
                  placeholder="請選擇要發送的會員"
                  filterable
                  default-first-option
                  multiple
                  style="margin:auto 10px;"
                  ref="user_id"
                  name="user_id"
                  @change="handleSelectAllUserId_advance"
                  >
                  <div v-show="this.partner=='730515'">
                    <el-option
                        v-for="item in LinebotAnnounceListPeople"
                        :key="item.line_user_id"
                        :label="item.name"
                        :value="item.line_user_id"
                    />
                  </div>
                  <div v-show="this.partner!='730515'">
                    <el-option value="all" label="全選">所有會員全選</el-option>
                    <el-option
                        v-for="item in LinebotAnnounceListPeople"
                        :key="item.line_user_id"
                        :label="item.name+'('+item.mobile+')'"
                        :value="item.line_user_id"
                    />
                  </div>
                  </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" v-show="announce.setting_mode==1&&member_2_tag!=''">
              <el-form-item label="設定會員標籤">
                <br/>
                <el-tag v-for="item,index in announce.select_member_2_tag" :key="index" style="margin:0px 5px;" closable @close="close_select_member_2_tag_advance(item)">{{ item }}</el-tag>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
              <el-form-item label="選擇常用子句">
                <br/>
                  <el-select
                  v-model="chosen_usually_word"
                  placeholder="請選擇常用子句標題"
                  filterable
                  default-first-option
                  style="margin:auto 10px;"
                  @change="set_announce_message_model"
                  >
                    <el-option
                        v-for="item in wordcategorylist.list"
                        :key="item.reserve_system_word_category_id"
                        :label="item.reserve_system_word_title"
                        :value="item.reserve_system_word_title"
                    />
                  </el-select>
                  <el-button type="primary" @click.native.prevent="insert_usually_word">新增常用子句</el-button>
                  <add-word-category :dialogWordCategoryType="dialogWordCategoryType" :dialogWordCategoryVisible="dialogWordCategoryVisible" :wordcategory="insert_wordcategorylist"
                  v-on:getWordCategory_status_dialogtype="getWordcategoryliststatus" tabname="linebotannounce"
                  />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="發送內容" prop="message">
                <br/>
                <el-input v-model="announce.message"
                placeholder="發送內容"
                type="textarea"
                :rows="10"
                ref="message"
                name="message"
                autocomplete="off"
                    />
            </el-form-item>
            </el-col>
    </el-row>
    </el-form>
      <div style="text-align:right;margin:10px 0;">
        <span style="font-size:20px;color:red;">預計扣除推播次數： {{this.setting_all_member_push_message_total}}</span>
      </div>
      <div style="text-align:right;">
        <el-button v-loading="loading" type="primary" :disabled="this.LinebotStatic[0]['limitPush']<this.setting_all_member_push_message_total" @click.native.prevent="sendlinepushmessage('announce')">發送</el-button>
      </div>
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                  <span style="color:red;">推播次數統計</span><br/>
                  <!-- <span style="color:black;">未使用推播次數:{{LinebotStatic[0].limitPush}}</span>
                  <span style="color:black;">使用推播次數:{{LinebotStatic[0].totalPush}}</span> -->
                   <el-table v-loading="LinebotStaticLoading" :data="LinebotStatic" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
                    <el-table-column align="center" label="未使用次數統計">
                        <template slot-scope="scope">
                            <el-tag style="margin:10px 0;font-size:15px;" :type="scope.row.limitPush<=10?'danger':''">{{ scope.row.limitPush }}</el-tag>     
                        </template>
                    </el-table-column>
                    <el-table-column align="center" label="使用次數統計">
                        <template slot-scope="scope">
                            <el-tag style="margin:10px 0;font-size:15px;">{{ scope.row.totalPush }}</el-tag>      
                        </template>
                    </el-table-column>
                   </el-table>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24" style="margin:10px 0;">
                  <span style="color:black;">歷史推送紀錄顯示與否:</span><br/>
                  <el-select
                  v-model="notify_record_is_show_or_not"
                  placeholder="歷史推送紀錄顯示與否"
                  style="margin:10px 0;"
                  >
                  <el-option label="未顯示" :value="0"></el-option>
                  <el-option label="顯示" :value="1"></el-option>
                  </el-select>
            </el-col>
      </el-row>
      <el-table v-loading="LinebotAnnounceMessageLoading" :data="LinebotAnnounceMessage.list" style="width: 100%;margin-top:30px;" border fit highlight-current-row v-show="notify_record_is_show_or_not==1">
        <el-table-column type="expand">
            <template slot-scope="scope">
            <el-form label-position="left" class="demo-table-expand">
                <el-divider>推播內容</el-divider>
                <el-row :gutter="20">
                    <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                        <el-form-item label="推播內容">
                            <json-viewer
                              :value="JSON.parse(scope.row.messages)"
                              :expand-depth=20
                              boxed
                              sort>
                            </json-viewer>
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            </template>
        </el-table-column>
      <el-table-column align="center" label="推送會員標籤">
          <template slot-scope="scope">
            <div v-for="item,index in scope.row.select_member_2_tag.split(',')" :key="index">
              <el-tag style="margin:10px 0;font-size:15px;" v-show="item!=''">{{ item }}</el-tag>   
            </div>        
          </template>
      </el-table-column>
      <el-table-column align="center" label="推送名單">
          <template slot-scope="scope">
            <div v-for="item,index in scope.row.get_all_push_member_list" :key="index">
              <el-tag style="margin:10px 0;font-size:15px;">{{ item }}</el-tag>   
            </div>        
          </template>
      </el-table-column>
      <el-table-column align="center" label="推送頻率">
          <template slot-scope="scope">
            <el-tag style="margin:10px 0;font-size:15px;">{{ scope.row.freq|freq }}</el-tag>           
          </template>
      </el-table-column>
      <el-table-column align="center" label="推送狀態">
          <template slot-scope="scope">
            <span style="color:red;">{{ scope.row.status|notify_status }}</span>
          </template>
      </el-table-column>
      <el-table-column align="center" label="排程時間">
          <template slot-scope="scope">
            <span style="color:red;">{{ scope.row.schedule_at }}</span>
          </template>
      </el-table-column>
      <el-table-column align="center" label="推送時間">
          <template slot-scope="scope">
            <span style="color:red;">{{ scope.row.send_at }}</span>
          </template>
      </el-table-column>
      </el-table>
      <pagination
        :total="LinebotAnnounceMessage_total"
        :page.sync="LinebotAnnounceMessage.nowpages"
        :limit.sync="LinebotAnnounceMessage.limit"
        @pagination="getAllMessageList(LinebotAnnounceMessage.nowpages,search_linebot_announce_message)"
        v-show="notify_record_is_show_or_not==1"
      />
    </div>
  </el-card>
</template>

<script>
const defaultWordCategorylist = {
    reserve_system_word_type:0,
    reserve_system_word_title:'',
    reserve_system_word_content: ''
}
import { mapGetters } from 'vuex'
import Pagination from '@/components/Pagination'
import { getLineBotUserIdGet,getLineBotUserIdGet2,getLineBotPushMessage,getLineBotPushMessageList,getLineBotStatic,getLineBotMemberTag } from '@/api/linebot_manager'
import { getWordCategory } from '@/api/reservationsystemappointshop'
import AddWordCategory from '../../tests/component/AddWordCategory.vue'
export default {
  name: "linebotannounce",
  components:{ Pagination,AddWordCategory },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
  computed: {
    ...mapGetters([
      'wordcategorylist',
    ])
  },
  filters:{
      //推播狀態
      notify_status(status){
      const notify_status = {
        0: '未推播',
        1: '已推播'
      }
      return notify_status[status]
    },
      //推播頻率
      freq(status){
      const freq = {
        0: '一次性',
        1: '固定時間',
        2: '即時'
      }
      return freq[status]
    },
  },
  data(){
    return {
      LinebotAnnounceRules: {
        user_id: [{ required: true,message:'請選擇發送會員 不能為空值' }],
        message:[{ required: true,message:'請設定發送內容 不能為空值' }]
      },
      LinebotAnnounceListPeople: [],
      payload:{},
      announce:{
        'setting_mode':0,
        'partner_id':'',
        'select_member_2_tag':[],
        'user_id':[],
        'message_list':[],
        'message':''
      },
      LinebotAnnounceLoading:false,
      loading:false,
      member_2_tag:'',
      //會員標籤
      LinebotTagList:[],
      LinebotTagListLoading:false,
      //所有推送紀錄
      LinebotAnnounceMessage:[],
      LinebotAnnounceMessageLoading:false,
      LinebotAnnounceMessage_total:0,
      search_linebot_announce_message:'',
      notify_record_is_show_or_not:0,
      //推播使用次數統計
      LinebotStatic:[],
      LinebotStaticLoading:false,
      //設定推播會員數
      setting_all_member_number:0,
      //設定推播訊息
      setting_push_message:0,
      //設定總計推播次數
      setting_all_member_push_message_total:0,
      //選擇常用子句
      chosen_usually_word:'',
      insert_wordcategorylist: Object.assign({}, defaultWordCategorylist),
      dialogWordCategoryType: '',
      dialogWordCategoryVisible: false,
    }
  },
    watch: {
      partner:{
        handler: function(val, oldVal) {
        if(this.partner!=''){
          // this.getlinebotpushpeople()
          this.announce.partner_id = this.partner
          this.announce.message_list = []
          this.announce.message_list.push({ 
            "type":"text", 
            "text":""
          })
          var query = ''
          query += 'partner_id=' + this.partner
          this.search_linebot_announce_message = query
          this.getAllMessageList(1, query)
        }
      },
      immediate: true
      },
      "announce.message":{
        handler: function(val, oldVal) {
            console.log(val)
            if(val==''){
              this.setting_push_message = 0
            }
            else{
              this.setting_push_message = 1
            }
            this.setting_all_member_push_message_total = this.setting_push_message * this.setting_all_member_number
            this.announce.message_list[0].text = val
      },
      immediate: true
      },
      "announce.setting_mode":{
        handler: function(val, oldVal) {
          //簡易模式
          if(val==0){
            this.announce.user_id = []
            this.announce.select_member_2_tag = []
            this.LinebotAnnounceListPeople = []
            // this.getlinebotpushpeople()
          }
          //進階模式
          if(val==1){
            this.announce.user_id = []
            this.member_2_tag = ''
            this.announce.select_member_2_tag = []
            this.getlinebotmembertag()
          }
      },
      immediate: true
      },
      "announce.user_id":{
        handler: function(val, oldVal) {
          //得知多少個發送會員
          this.setting_all_member_number = Number(val.length)
          this.setting_all_member_push_message_total = this.setting_push_message * this.setting_all_member_number
      },
      immediate: true
      },
  },
  methods: {
    //選擇所有會員(簡易模式)
    handleSelectAllUserId_normal(selectedValues){
      // alert(selectedValues)
      if(selectedValues.includes('all')){
      this.payload = {
          'partner_id':this.partner,
          'search_member_info':this.announce.user_id
      }
      getLineBotUserIdGet(this.payload).then(async(resp)=>{
            if(resp.data=='查詢成功'){
              await resp.message.forEach(element => {
                if(!this.announce.user_id.includes(element.line_user_id)){
                    this.announce.user_id.push(element.line_user_id)
                }
                var index = this.announce.user_id.indexOf('all');    // <-- Not supported in <IE9
                if (index !== -1) {
                    this.announce.user_id.splice(index, 1);
                }
              })
            }
        })
      }
    },
    //選擇所有會員(進階)
    handleSelectAllUserId_advance(selectedValues){
      // alert(selectedValues)
      if(selectedValues.includes('all')){
      var payload = 'all?partner_id='+this.partner+'&member_2_tag='+this.member_2_tag
        getLineBotUserIdGet2(payload).then((resp)=>{
          resp.data.list.forEach(element => {
            // alert(element.line_user_id)
            //迭代出所有會員標籤內user_id的資料
            if(!this.announce.user_id.includes(element.line_user_id)){
                this.announce.user_id.push(element.line_user_id)
            }
            var index = this.announce.user_id.indexOf('all');    // <-- Not supported in <IE9
            if (index !== -1) {
                this.announce.user_id.splice(index, 1);
            }
          });
        })
        this.LinebotAnnounceLoading = false
      }
    },
    //刪除選擇會員標籤
    close_select_member_2_tag_advance(tag){
      // alert(tag)
      const item = this.announce.select_member_2_tag.indexOf(tag)
      // alert(item)
      this.announce.select_member_2_tag.splice(item,1)
    },
    //會員標籤
    getlinebotmembertag(){
      this.LinebotTagList = []
      this.LinebotTagListLoading = true
      var payload = 'all?partner_id='+this.partner
        getLineBotMemberTag(payload).then((resp)=>{
            if(resp.success==true){
            this.LinebotTagList = resp.data.list
            }
        })
        this.LinebotTagListLoading = false
    },
    //選擇會員標籤帶出所有會員(進階模式)
    change_member_2_tag_advance(){
      this.LinebotAnnounceListPeople = []
      this.LinebotAnnounceLoading = true
      var payload = 'all?partner_id='+this.partner+'&member_2_tag='+this.member_2_tag
        getLineBotUserIdGet2(payload).then((resp)=>{
            this.LinebotAnnounceListPeople = resp.data.list
        })
        if(!this.announce.select_member_2_tag.includes(this.member_2_tag)){
            this.announce.select_member_2_tag.push(this.member_2_tag)
        }
        this.LinebotAnnounceLoading = false
    },
    //選擇會員標籤帶出所有會員(進階模式)
    change_member_2_tag_advance(){
      this.LinebotAnnounceListPeople = []
      this.LinebotAnnounceLoading = true
      var payload = 'all?partner_id='+this.partner+'&member_2_tag='+this.member_2_tag
        getLineBotUserIdGet2(payload).then((resp)=>{
            this.LinebotAnnounceListPeople = resp.data.list
        })
        if(!this.announce.select_member_2_tag.includes(this.member_2_tag)){
            this.announce.select_member_2_tag.push(this.member_2_tag)
        }
        this.LinebotAnnounceLoading = false
    },
    //得知合作夥伴內推送人員(簡易模式)
    getlinebotpushpeople(query){
      this.LinebotAnnounceListPeople = []
      this.LinebotAnnounceLoading = true
      if(query){
        this.payload = {
            'partner_id':this.partner,
            'search_member_info':query
        }
        getLineBotUserIdGet(this.payload).then((resp)=>{
            if(resp.data=='查詢成功'){
            this.LinebotAnnounceListPeople = resp.message
            }
        })
      }
      this.LinebotAnnounceLoading = false
    },
    // 發送Linebot推送訊息
    async sendlinepushmessage(announce){
        this.$refs[announce].validate(async valid => {
        if (valid) {
          this.loading = true
          this.announce.partner_id = this.partner
          this.$confirm(
            '<span style="font-size:18px;">請再次確認推播訊息是否輸入無誤</span>'+'<br/>'+
            '<span style="font-size:20px;color:red;">系統發送後，將無法進行回收</span>'
          ,'將扣除 '+this.setting_all_member_push_message_total+'次 推送次數', {
              confirmButtonText: '確認',
              cancelButtonText: '取消',
              dangerouslyUseHTMLString:true,
              // type: 'warning'
            }).then(async() => {
              await getLineBotPushMessage(this.announce).then((resp)=>{
                  if(resp.success==true){
                      this.$message({
                          message: resp.data,
                          type: 'success'
                      })
                      this.announce.user_id = []
                      this.announce.message_list = []
                      this.announce.message_list.push({ 
                          "type":"text", 
                          "text":""
                      })
                      this.announce.message = ''
                      this.member_2_tag = ''
                      this.announce.select_member_2_tag = []
                      this.chosen_usually_word = ''
                      this.loading = false
                      this.getAllMessageList(1,this.search_linebot_announce_message)
                  }
                  else{
                      this.$message({
                          message: resp.message,
                          type: 'error'
                      })
                      this.loading = false
                  }

              })
            }).catch(action => {
              this.loading = false
              this.$message({
                type: 'info',
                message: '取消發送推播訊息'
              }); 
            })
        } else {
          console.log('有資料未填寫!!')
          this.loading = false
          return false
        }
      })
    },
    // 顯示所有合作夥伴會員
    async getAllMessageList(page, search_linebot_announce_message) {
      var payload = ''
      payload += page + '?' + search_linebot_announce_message
      this.LinebotAnnounceMessageLoading = true
      await getLineBotPushMessageList(payload).then(resp => {
        this.LinebotAnnounceMessage = resp.data
        this.LinebotAnnounceMessage_total = this.LinebotAnnounceMessage.count
        this.LinebotAnnounceMessageLoading = false
      })
      //聊天機器人數據分析
      await this.getlinebotstatic()
      //得到常用子句
      await this.getallusuallyword()
    },
    //得知聊天機器人數據分析
    getlinebotstatic(){
      this.LinebotStatic = []
      this.payload = {
          'partner_id':this.partner
      }
      this.LinebotStaticLoading = true
      getLineBotStatic(this.payload).then(resp => {
        if(resp.data=="查詢成功"){
            console.log(resp.message)

            this.LinebotStatic.push({
                "totalPush":resp.message.used_count.totalUsage,
                "limitPush":resp.message.left_count.value-resp.message.used_count.totalUsage,
                // "totalPush":resp.message.used_count.totalUsage/resp.message.left_count.value,
                // "limitPush":(resp.message.left_count.value-resp.message.used_count.totalUsage)/resp.message.left_count.value,
            })
        }
        this.LinebotStaticLoading = false
      })
    },
    async getallusuallyword(){
      var payload ='all?reserve_system_word_type=0'
      await this.$store.dispatch('reservationsystemword/getWordCategory',payload)
    },
    //設定常用子句模板
    async set_announce_message_model(){
      var payload ='all?reserve_system_word_type=0'+'&reserve_system_word_title='+this.chosen_usually_word
      getWordCategory(payload).then(resp => {
        this.announce.message = resp.data.list[0]['reserve_system_word_content']
      })
    },
    //新增常用子句
    insert_usually_word(){
      this.insert_wordcategorylist = Object.assign({}, defaultWordCategorylist)
      this.dialogWordCategoryType = 'new'
      this.dialogWordCategoryVisible = true
    },
    // 關閉代父層常用子句dialog狀態
    getWordcategoryliststatus(status) {
      this.dialogWordCategoryVisible = status
    },
  }
}
</script>