<template>
  <el-card style="margin-bottom:20px;" v-loading="LinebotInfoLoading">
    <div slot="header" class="clearfix">
      <span style="color:red;">聊天機器人基本資料</span>
    </div>
    <!-- {{LinebotInfo}} -->
    <!-- {{partner_id==null}} -->
    <div v-if="this.partner_id!=null" style="margin:10px 0;">
    <el-alert
        :closable="false"
        title="「聊天機器人基本資料」只有部分功能能進行修改，如需修改其他欄位，請聯繫系統管理者。"
        type="error"
    />
    </div>
    <div class="user-profile">
      <el-form ref="LinebotInfo" :rules="LinebotInfoRules" status-icon :model="LinebotInfo" label-position="left">
        <el-row :gutter="20">
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
              <el-form-item label="合作夥代碼" prop="partner_id">
                  <el-input ref="partner_id" v-model="LinebotInfo.partner_id"
                  name="partner_id" placeholder="姓名"
                  autocomplete="off"  disabled/>
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
              <el-form-item label="聊天機器人頻道名稱" prop="name">
                  <el-input ref="name" v-model="LinebotInfo.name"
                  name="name" placeholder="姓名"
                  autocomplete="off" 
                   :disabled="this.partner_id!=null"
                  />
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="8" :lg="8" :xl="8">
              <el-form-item label="聊天機器人ID" prop="basic_id">
                  <el-input ref="basic_id" v-model="LinebotInfo.basic_id"
                  name="basic_id" placeholder="聊天機器人ID"
                  autocomplete="off" 
                   :disabled="this.partner_id!=null"
                  />
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="聊天機器人頻道token" prop="channel_token">
                    <el-input v-model="LinebotInfo.channel_token"
                    placeholder="聊天機器人頻道token"
                    type="textarea"
                    :rows="5"
                    ref="channel_token"
                    name="channel_token"
                    autocomplete="off"
                    :disabled="this.partner_id!=null"
                     />
              </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="聊天機器人頻道secret" prop="channel_secret">
                    <el-input v-model="LinebotInfo.channel_secret"
                    placeholder="聊天機器人頻道secret"
                    type="textarea"
                    :rows="5"
                    ref="channel_secret"
                    name="channel_secret"
                    autocomplete="off"
                    :disabled="this.partner_id!=null"
                     />
              </el-form-item>
          </el-col>
        </el-row>
        <el-row :gutter="20">
          <!-- <el-col :xs="24" :sm="12" :lg="12" :xl="12">
              <el-form-item label="聊天機器人logo" prop="logo">
                  <el-input ref="logo" v-model="LinebotInfo.logo"
                  name="logo" placeholder="聊天機器人logo"
                  autocomplete="off" />
              </el-form-item>
          </el-col> -->
            <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="LinebotInfo.logo!=''">
                <el-form-item label="聊天機器人logo">
                    <el-image 
                    :src="LinebotInfo.logo"
                    style="width:200px;"
                    >
                        <div slot="error" class="image-slot">
                        <i class="el-icon-picture-outline" />
                        </div>
                    </el-image>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="4" :lg="4" :xl="4" v-if="LinebotInfo.logo!=''">
                <el-button type="danger" v-if="LinebotInfo.logo!=''" icon="el-icon-delete" @click.native="handleRemovelogoClick()">移除logo</el-button>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-else>
                <el-form-item label="聊天機器人logo" prop="logo">
                    <el-upload
                        class="avatar-uploader"
                        accept="image/png,image/jpeg,image/jpg"
                        ref="logo"
                        :limit=1
                        :file-list="fileList"
                        :auto-upload="false"
                        :multiple="false"
                        :on-change="handleUploadlogoClick"
                    >
                    <!-- <div slot="tip" class="el-upload__tip" style="color:red">
                        檔案上傳格式，只適用xlsx or csv
                    </div>
                    <i class="el-icon-plus avatar-uploader-icon"></i> -->
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">將文件拖至此處<em>點擊上傳</em></div>
                    </el-upload>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8" v-if="LinebotInfo.qrcode!=''">
                <el-form-item label="聊天機器人qrcode">
                    <el-image 
                    :src="LinebotInfo.qrcode"
                    style="width:200px;"
                    >
                        <div slot="error" class="image-slot">
                        <i class="el-icon-picture-outline" />
                        </div>
                    </el-image>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="4" :lg="4" :xl="4" v-if="LinebotInfo.qrcode!=''">
                <el-button type="danger" v-if="LinebotInfo.qrcode!=''" icon="el-icon-delete" @click.native="handleRemoveqrcodeClick()">移除qrcode</el-button>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12" v-else>
                <el-form-item label="聊天機器人qrcode" prop="qrcode">
                    <el-upload
                        class="avatar-uploader"
                        accept="image/png,image/jpeg,image/jpg"
                        ref="qrcode"
                        name="qrcode"
                        :limit=1
                        :file-list="fileList"
                        :auto-upload="false"
                        :multiple="false"
                        :on-change="handleUploadqrcodeClick"
                    >
                    <!-- <div slot="tip" class="el-upload__tip" style="color:red">
                        檔案上傳格式，只適用xlsx or csv
                    </div>
                    <i class="el-icon-plus avatar-uploader-icon"></i> -->
                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">將文件拖至此處<em>點擊上傳</em></div>
                    </el-upload>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="機器人類型" prop="channel_type"
             :disabled="this.partner_id!=null"
            >
              <br>
              <el-radio-group v-model="LinebotInfo.channel_type" name="channel_type">
                <el-radio-button label=0 border>官方帳號</el-radio-button>
                <el-radio-button label=1 border>群組帳號</el-radio-button>
              </el-radio-group>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="機器人LIFF網址" prop="linebot_liff">
                <el-input v-model="LinebotInfo.linebot_liff"
                placeholder="機器人LIFF網址"
                type="textarea"
                :rows="3"
                ref="linebot_liff"
                name="linebot_liff"
                autocomplete="off"
                :disabled="this.partner_id!=null"
                  />
            </el-form-item>
            </el-col>
            <el-col :xs="12" :sm="12" :lg="12" :xl="12">
              <el-form-item label="開啟付款方式" prop="pay_way">
                <el-checkbox-group v-model="LinebotInfo.pay_way" name="pay_way"
                 :disabled="this.partner_id!=null"
                >
                  <br/>
                  <el-checkbox label="0">
                    信用卡
                  </el-checkbox>
                  <el-checkbox label="1">
                    ATM
                  </el-checkbox>
                  <el-checkbox label="2">
                    超商
                  </el-checkbox>
                  <el-checkbox label="3">
                    Line Pay
                  </el-checkbox>
                  <el-checkbox label="4">
                    現金
                  </el-checkbox>
                </el-checkbox-group>
              </el-form-item>
            </el-col>
            <el-col :xs="6" :sm="6" :lg="6" :xl="6">
              <el-form-item label="是否顯示一組票卷開團" prop="show_one_coupon_groupbuy">
              <br>
              <el-radio-group v-model="LinebotInfo.show_one_coupon_groupbuy" name="show_one_coupon_groupbuy">
                <el-radio-button :label=0 border>關閉</el-radio-button>
                <el-radio-button :label=1 border>顯示</el-radio-button>
              </el-radio-group>
              </el-form-item>
            </el-col>
            <el-col :xs="6" :sm="6" :lg="6" :xl="6">
              <el-form-item label="選擇票卷名稱" prop="show_one_coupon_groupbuy_name">
                <br/>
                <el-select
                v-model="LinebotInfo.show_one_coupon_groupbuy_name"
                placeholder="請選擇票卷開團名稱"
                filterable
                default-first-option
                style="margin:auto 10px;"
                autocomplete="off"
                ref="groupbuy_id"
                :disabled="LinebotInfo.show_one_coupon_groupbuy==0"
                >
                <el-option
                    v-for="item in GroupBuyGroup.list"
                    :key="item.groupbuy_id"
                    :label="item.title"
                    :value="item.groupbuy_id"
                    :disabled="item.on_sale==1?false:true"
                />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="付款方式說明" prop="pay_way_description">
                <br/>
                <span style="color:red;">＊請填寫付款資訊</span>
                <tinymce v-if="!reloading_pay_way_description" :id="this.tinymce_pay_way_description+'_'+this.tinymcekey_pay_way_description" ref="editorPayWayDescriptionRef" v-model="LinebotInfo.pay_way_description" :height="250" :key="this.tinymcekey_pay_way_description" />
                <!-- <el-input v-model="LinebotInfo.pay_way_description"
                placeholder="付款方式說明"
                type="textarea"
                :rows="3"
                ref="pay_way_description"
                name="pay_way_description"
                autocomplete="off"
                  /> -->
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="訂購須知說明" prop="order_description">
                <br/>
                <span style="color:red;">＊請填寫訂購注意事項</span>
                <tinymce v-if="!reloading_order_description" :id="this.tinymce_order_description+'_'+this.tinymcekey_order_description" ref="editorOrderDescriptionRef" v-model="LinebotInfo.order_description" :height="250" :key="this.tinymcekey_order_description" />
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="開啟聊天機器人主動推播權限">
              <br>
              <el-radio-group v-model="LinebotInfo.check_linebot_notify_premission" name="check_linebot_notify_premission">
                <el-radio-button label=0 border>關閉</el-radio-button>
                <el-radio-button label=1 border>開啟</el-radio-button>
              </el-radio-group>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="開啟票卷權限"
            >
              <br>
              <el-radio-group v-model="LinebotInfo.check_coupon_premission" name="check_coupon_premission"
               :disabled="this.partner_id!=null"
              >
                <el-radio-button label=0 border>關閉</el-radio-button>
                <el-radio-button label=1 border>開啟</el-radio-button>
              </el-radio-group>
            </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
              <el-form-item label="開啟金流、物流、電子發票權限" prop="pay_premission">
                <el-checkbox-group v-model="LinebotInfo.pay_premission" name="pay_premission"
                 :disabled="this.partner_id!=null"
                >
                  <br/>
                  <el-checkbox label="金流">
                    金流
                  </el-checkbox>
                  <el-checkbox label="物流">
                    物流
                  </el-checkbox>
                  <el-checkbox label="電子發票">
                    電子發票
                  </el-checkbox>
                </el-checkbox-group>
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8"
            v-if='LinebotInfo.pay_premission.includes("金流")||LinebotInfo.pay_premission.includes("物流")||LinebotInfo.pay_premission.includes("電子發票")'
            >
              <el-form-item label="平台商編號（綠界）">
                    <el-input ref="MerchantID" v-model="LinebotInfo.MerchantID"
                    name="MerchantID" placeholder="平台商編號"
                    autocomplete="off" 
                     :disabled="this.partner_id!=null"
                    />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8"
            v-if='LinebotInfo.pay_premission.includes("金流")'
            >
              <el-form-item label="金流hash_key">
                    <el-input ref="pay_hash_key" v-model="LinebotInfo.pay_hash_key"
                    name="pay_hash_key" placeholder="金流hash_key"
                    autocomplete="off" 
                     :disabled="this.partner_id!=null"
                    />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8"
            v-if='LinebotInfo.pay_premission.includes("金流")'
            >
              <el-form-item label="金流hash_iv">
                    <el-input ref="pay_hash_iv" v-model="LinebotInfo.pay_hash_iv"
                    name="pay_hash_iv" placeholder="金流hash_iv"
                    autocomplete="off"
                     :disabled="this.partner_id!=null"
                     />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8"
            v-if='LinebotInfo.pay_premission.includes("電子發票")'
            >
              <el-form-item label="電子發票hash_key">
                    <el-input ref="reception_hash_key" v-model="LinebotInfo.reception_hash_key"
                    name="reception_hash_key" placeholder="電子發票hash_key"
                    autocomplete="off" 
                     :disabled="this.partner_id!=null"
                    />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8"
            v-if='LinebotInfo.pay_premission.includes("電子發票")'
            >
              <el-form-item label="電子發票hash_iv">
                    <el-input ref="reception_hash_iv" v-model="LinebotInfo.reception_hash_iv"
                    name="reception_hash_iv" placeholder="電子發票hash_iv"
                    autocomplete="off" 
                     :disabled="this.partner_id!=null"
                    />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8"
            v-if='LinebotInfo.pay_way.includes("3")'
            >
              <el-form-item label="line_pay_channel_id">
                    <el-input ref="line_pay_channel_id" v-model="LinebotInfo.line_pay_channel_id"
                    name="line_pay_channel_id" placeholder="line_pay_channel_id"
                    autocomplete="off" 
                     :disabled="this.partner_id!=null"
                    />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="8" :xl="8"
            v-if='LinebotInfo.pay_way.includes("3")'
            >
              <el-form-item label="line_pay_secret_key">
                    <el-input ref="line_pay_secret_key" v-model="LinebotInfo.line_pay_secret_key"
                    name="line_pay_secret_key" placeholder="line_pay_secret_key"
                    autocomplete="off" 
                     :disabled="this.partner_id!=null"
                    />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
              <el-form-item label="同意書內容設定" prop="aggreement">
                <br/>
                <span style="color:red;">＊請填寫同意書內容</span>
                <tinymce v-if="!reloading_aggreement" :id="this.tinymce_agreement+'_'+this.tinymcekey_agreement" ref="editorAgreementRef" v-model="LinebotInfo.agreement" :height="250" :key="this.tinymcekey_agreement" />
              </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
            <el-form-item label="現場流程" prop="on_site_description">
                <br/>
                <span style="color:red;">＊請填寫現場流程</span>
                <tinymce v-if="!reloading_on_site_description" :id="this.tinymce_on_site_description+'_'+this.tinymcekey_on_site_description" ref="editorOnSiteDescriptionRef" v-model="LinebotInfo.on_site_description" :height="450" :key="this.tinymcekey_on_site_description" />
            </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmLineBotInfo('LinebotInfo')">確認</el-button>
      </div>
    </div>
  </el-card>
</template>

<script>
import { mapGetters } from 'vuex'
import { getLineBotInfo,updateLineBotInfo } from '@/api/linebot_manager'
import { getGroupBuyGroup } from '@/api/groupbuy_manager'
import Tinymce from '@/components/Tinymce'
export default {
  name: "linebotbasic",
  components: { Tinymce },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
  filters:{

  },
  data(){
    return {
      LinebotInfoRules: {
        name: [{ required: true,message: '聊天機器人頻道名稱為必填欄位' }],
        partner_id:[{ required: true,message: '合作夥伴代碼為必填欄位' }],
        basic_id:[{ required: true,message: '聊天機器人ID為必填欄位' }],
        channel_secret:[{ required: true,message: '聊天機器人頻道secret為必填欄位' }],
        channel_token:[{ required: true,message: '聊天機器人頻道token為必填欄位' }],
        logo:[{ required: true,message: '聊天機器人logo為必填欄位' }],
        qrcode:[{ required: true,message: '聊天機器人qrcode為必填欄位' }],
        channel_type:[{ required: true,message: '聊天機器人類型為必填欄位' }],
        pay_way:[{type:'array',required : true,message: '開啟付款方式為必填欄位'}],
        check_coupon_premission:[{required: true,message: '開啟票卷為必填欄位'}],
        pay_premission:[{type:'array',required : true,message: '開啟金流、物流、電子發票為必填欄位'}]
      },
      LinebotInfo: [],
      payload:{},
      loading:false,
      LinebotInfoLoading:false,
      Linebotchecknotshowothermenu:false,
      user: {},
      //同意書內容說明
      reloading_agreement:'tinymce_aggreement',
      tinykey_agreement:0,
      reloading_agreement:false,
      //付款方式說明
      tinymce_pay_way_description:'tinymce_pay_way_description',
      tinykey_pay_way_description:0,
      reloading_pay_way_description:false,
      //訂購須知說明
      tinymce_order_description:'tinymce_order_description',
      tinykey_order_description:0,
      reloading_order_description:false,
      //現場流程說明
      tinymce_on_site_description:'tinymce_on_site_description',
      tinykey_on_site_description:0,
      reloading_on_site_description:false,
      //團購開團下拉式選單
      GroupBuyGroup: [],
      GroupBuyGroupLoading:false,
      search_groupbuygroup:''
    }
  },
  computed: {
    ...mapGetters([
      'partner_id',
    ])
  },
  async mounted() {
    await this.$store.dispatch('user/getInfo')
  },
    watch: {
      partner:{
        handler: function(val, oldVal) {
        if(this.partner!=''){
          this.getlinebotinfo()
          var payload = 'all?partner_id='+this.partner
          this.getgroupbuygroup(payload)
        }
      },
      immediate: true
      },
      "LinebotInfo.show_one_coupon_groupbuy":{
        handler: function(val, oldVal) {
        //只顯示一組票卷開團,票卷名稱為空值
        if(val==0){
          this.LinebotInfo.show_one_coupon_groupbuy_name = ''
        }
      },
      immediate: true
      },
  },
  methods: {
    //重新載入付款方式說明
    reload_pay_way_description(){
      this.reloading_pay_way_description = true
      this.$nextTick(()=>{
        this.reloading_pay_way_description = false
      })
    },
    //重新載入訂購須知說明
    reload_order_description(){
      this.reloading_order_description = true
      this.$nextTick(()=>{
        this.reloading_order_description = false
      })
    },
    //重新載入同意書內容說明
    reload_agreement(){
      this.reloading_agreement = true
      this.$nextTick(()=>{
        this.reloading_agreement = false
      })
    },
    //重新載入同意書內容說明
    reload_on_site_description(){
      this.reloading_on_site_description = true
      this.$nextTick(()=>{
        this.reloading_on_site_description = false
      })
    },
    //得知團購開團
    getgroupbuygroup(payload){
      this.GroupBuyGroup = []
      this.GroupBuyGroupLoading = true
      // this.groupbuyGroup = Object.assign({}, defaultGroup)
      getGroupBuyGroup(payload).then(resp => {
        if(resp.success==true){
            this.GroupBuyGroup = resp.data
        }
        this.GroupBuyGroupLoading = false
      })
    },
    //得知聊天機器人基本資料
    getlinebotinfo(){
      this.LinebotInfo = []
      this.LinebotInfoLoading = true
      this.payload = {
          'partner_id':this.partner
      }
      getLineBotInfo(this.payload).then(resp => {
        if(resp.data=="查詢成功"){
            this.LinebotInfo = resp.message[0]
            this.LinebotInfoLoading = false
            //顯示其他選單
            this.Linebotchecknotshowothermenu = true
            this.$emit('check_other_menu_true_or_false',this.Linebotchecknotshowothermenu)
            this.$emit('check_linebot_channel_type',this.LinebotInfo.channel_type)
            this.$emit('check_linebot_pay_premission',this.LinebotInfo.pay_premission)
            //未開啟任何權限，自動預設帶空陣列
            if(this.LinebotInfo.pay_premission==null){
              this.LinebotInfo.pay_premission=[]
            }
            //有開啟任何權限，會自動切割字串
            else{
              console.log(this.LinebotInfo.pay_premission.split(','))
              this.LinebotInfo.pay_premission = this.LinebotInfo.pay_premission.split(',')
              //判斷第一個是不是空只串，是空字串要把他刪除
              if(this.LinebotInfo.pay_premission[0]==''){
                this.LinebotInfo.pay_premission.splice(0,1)
              }
            }
            //未開啟任何付款方式，自動預設帶空陣列
            if(this.LinebotInfo.pay_way==null){
              this.LinebotInfo.pay_way=[]
            }
            //有開啟任何付款方式，會自動切割字串
            else{
              console.log(this.LinebotInfo.pay_way.split(','))
              this.LinebotInfo.pay_way = this.LinebotInfo.pay_way.split(',')
              //判斷第一個是不是空只串，是空字串要把他刪除
              if(this.LinebotInfo.pay_way[0]==''){
                this.LinebotInfo.pay_way.splice(0,1)
              }
            }
            //重新載入付款方式說明
            this.reload_pay_way_description()
            this.$refs.editorPayWayDescriptionRef.setContent(this.LinebotInfo.pay_way_description)
            //重新載入訂購須知說明
            this.reload_order_description()
            this.$refs.editorOrderDescriptionRef.setContent(this.LinebotInfo.order_description)
            //重新載入同意書內容
            this.reload_agreement()
            this.$refs.editorAgreementRef.setContent(this.LinebotInfo.agreement)
            //重新載入現場流程內容
            this.reload_on_site_description()
            this.$refs.editorOnSiteDescriptionRef.setContent(this.LinebotInfo.on_site_description)
        }
        else{
            // this.$message({
            //   message: resp.data,
            //   type: 'error'
            // })
            this.LinebotInfo.push({
                'partner_id':this.partner,
                'name':'',
                'logo':'',
                'channel_token':'',
                'channel_secret':'',
                'basic_id':'',
                'qrcode':'',
                'channel_type':0,
                'pay_way':[],
                'show_one_coupon_groupbuy':0,
                'show_one_coupon_groupbuy_name':'',
                'pay_way_description':'',
                'order_description':'',
                'on_site_description':'',
                'pay_premission':[],
                'linebot_liff':'',
                'check_coupon_premission':0,
                'check_linebot_notify_premission':0,
                'MerchantID':'',
                'pay_hash_key':'',
                'pay_hash_iv':'',
                'reception_hash_key':'',
                'reception_hash_iv':'',
                'line_pay_channel_id':'',
                'line_pay_secret_key':'',
                'agreement':''
            })
            this.LinebotInfo = this.LinebotInfo[0]
            this.LinebotInfoLoading = false
            //不顯示其他選單
            this.Linebotchecknotshowothermenu = false
            this.$emit('check_other_menu_true_or_false',this.Linebotchecknotshowothermenu)
            this.$emit('check_linebot_channel_type',this.LinebotInfo.channel_type)
            this.$emit('check_linebot_pay_premission',this.LinebotInfo.pay_premission)
            //重新載入付款方式說明
            this.reload_pay_way_description()
            this.$refs.editorPayWayDescriptionRef.setContent(this.LinebotInfo.pay_way_description)
            //重新載入訂購須知說明
            this.reload_order_description()
            this.$refs.editorOrderDescriptionRef.setContent(this.LinebotInfo.order_description)
            //重新載入同意書內容
            this.reload_agreement()
            this.$refs.editorAgreementRef.setContent(this.LinebotInfo.agreement)
            //重新載入現場流程內容
            this.reload_on_site_description()
            this.$refs.editorOnSiteDescriptionRef.setContent(this.LinebotInfo.on_site_description)
        }
      })
    },
    confirmLineBotInfo(LinebotInfo){
      this.$refs[LinebotInfo].validate(valid => {
        if (valid) {
          this.loading = true
          console.log(this.LinebotInfo)
          updateLineBotInfo(this.LinebotInfo).then(resp => {
            this.$message({
              message: resp.data,
              type: resp.success==true ? 'success':'error'
            })
            this.getlinebotinfo()
            this.loading = false
          })
        } else {
          console.log('有資料未填寫!!')
          this.loading = false
          return false
        }
      })
    },
    //上傳logo
    handleUploadlogoClick(file,fileList){
        console.log(file)
        console.log(fileList)
        this.getBase64(file.raw).then(photo_base64=>{
            this.LinebotInfo.logo = photo_base64
            // this.membergroup.messages[index].text = photo_base64
        })
    },
    //移除logo圖片
    handleRemovelogoClick(){
        this.LinebotInfo.logo = ''
    },
    //上傳qrcode
    handleUploadqrcodeClick(file,fileList){
        console.log(file)
        console.log(fileList)
        this.getBase64(file.raw).then(photo_base64=>{
            this.LinebotInfo.qrcode = photo_base64
            // this.membergroup.messages[index].text = photo_base64
        })
    },
    //移除qrcode圖片
    handleRemoveqrcodeClick(){
        this.LinebotInfo.qrcode = ''
    },
    //轉換base64
    getBase64(file){
        return new Promise(function(resolve,reject){
            let reader = new FileReader()
            let imageResult = ''
            reader.readAsDataURL(file)
            reader.onload = function(){
                imageResult = reader.result
                console.log(imageResult)
            }
            reader.onerror = function(error){
                reject(error)
            }
            reader.onloadend = function(){
                resolve(imageResult)
            }
        })
    }
  }
}
</script>