<template>
    <div id="echart_static" style="height:450px;width:450px;"></div>
</template>
<script>
import echarts from 'echarts'
export default {
  name: 'LineBotStaticPushMessageChart',
  props:{
    get_partner:{
      type: String,
      require:false 
    },
    LinebotStatic:{
      type: Object,
      require:false 
    },
  },
  watch:{
      //得知切換的合作夥伴
      get_partner(old){
          console.log("old",old)
      },
      //得知聊天機器人推播次數統計
      LinebotStatic(linebotstatic){
          console.log("all_data",linebotstatic)
            this.total_limit_index = 0
            this.get_total_limit_push_message = []
            this.get_total_limit_push_message.push({
                value:linebotstatic[0].totalPush,
                name: this.total_limit_title[0]
            })
            this.get_total_limit_push_message.push({
                value:linebotstatic[0].limitPush,
                name: this.total_limit_title[1]
            })
            console.log(this.get_total_limit_push_message)
            this.$nextTick(() => {
            this.initChart()
            })
      }
  },
  data() {
    return {
      chart: null,
      //得知使用與未使用推播次數
      get_total_limit_push_message:[],
      total_limit_title :['使用次數','未使用次數'],
      total_limit_index:0
    }
  },
  mounted() {
    // this.$nextTick(() => {
    //   this.initChart()
    // })
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el, 'echart_static')
      this.setOptions()
    },
    setOptions(){
      this.chart.setOption({
        tooltip: {
            trigger: 'item',
        },
        legend: {
            top: '5%',
            left: 'center'
        //   data: ['expected', 'actual']
        },
        series: [
        {
        name: '主動推播次數（次）',
        type: 'pie',
        radius: ['40%', '70%'],
        avoidLabelOverlap: false,
        itemStyle: {
            borderRadius: 10,
            borderColor: '#fff',
            borderWidth: 2
        },
        label: {
            show: false,
            position: 'center',
            color:'realtime'
        },
        emphasis: {
            label: {
            show: true,
            fontSize: '28',
            fontWeight: 'bold'
            }
        },
        labelLine: {
            show: false
        },
        data: this.get_total_limit_push_message
        },
        ]
      })
    }
  },
}
</script>