<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span style="color:red;">聊天機器人選單</span>
      <el-button type="primary" icon="el-icon-edit" v-show="this.LinebotMenu.length<=2?true:false" @click="insertrichmenu" style="float:right;" :disabled="partner_id==null?false:true">新選單</el-button>
    </div>
    <div v-if="partner_id!=null" style="margin:10px 0;">
    <el-alert
        :closable="false"
        title="「聊天機器人選單」只有最高權限能修改，需聯繫最高權限管理者。"
        type="error"
    />
    </div>
    <div class="user-profile">
        <!-- {{check_admin_premission}}
        {{LinebotMenu}} -->
        <!-- {{LinebotMenu}} -->
        <AddLinebotMenu :linebotmenu="linebotmenu" :dialogType="dialogType" :dialogVisible="dialogVisible" @getLinebotMenu="getlinebotmenu" @getMenu_status_dialogtype="getMenu_status_dialogtype" />
        <el-table v-loading="LinebotMenuLoading" :data="LinebotMenu" style="width: 100%;margin-top:30px;" border fit highlight-current-row>
        <!-- <el-table-column align="center" width="120" label="rich_menu">
            <template slot-scope="scope">
                {{scope.row.rich_menu}}
            </template>
        </el-table-column> -->
        <el-table-column align="center" label="綁定狀態">
            <template slot-scope="scope">
                <el-tag style="margin:10px 0;">{{ scope.row.rich_menu_status| rich_menu_status }}</el-tag>
            </template>
        </el-table-column>
        <el-table-column align="center" label="圖片">
            <template slot-scope="scope">
                <el-image 
                    :src="upload_path+scope.row.image"
                    style="width:350px;"
                >
                    <div slot="error" class="image-slot">
                        <i class="el-icon-picture-outline" />
                    </div>
                </el-image>
            </template>
        </el-table-column>
        <el-table-column align="center" width="100" label="操作">
            <template slot-scope="scope">
                <el-button type="primary" @click="handleEditMenu(scope)" style="margin:5px;" :disabled="partner_id==null?false:true">編輯</el-button>
            </template>
        </el-table-column>
        </el-table>
    </div>
  </el-card>
</template>

<script>
import { getLineBotMenu } from '@/api/linebot_manager'
import { getAdminPremission } from '@/api/premission_manager'
import AddLinebotMenu from './AddLinebotMenu.vue'
import { deepClone } from '@/utils'
import { mapGetters } from 'vuex'

const defaultMenu = {
  partner_id:'',
  rich_menu_status:0,
  image:'',
  json:[]
}

export default {
  name: "linebotmenu",
  components: { AddLinebotMenu },
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    },
    dialogType:'new',
    dialogVisible:false,
  },
  filters:{
      rich_menu_status(status){
      const rich_menu_status = {
        0: '未綁定',
        1: '已綁定'
      }
      return rich_menu_status[status]
    },
  },
  data(){
    return {
      LinebotMenu: [],
      check_admin_premission:[],
      payload:{},
      loading:false,
      LinebotMenuLoading:false,
      // 圖片網址位置
      upload_path:'',
      linebotmenu:Object.assign({}, defaultMenu),
    }
  },
  computed: {
    ...mapGetters([
      'partner_id',
    ])
  },
  async mounted() {
    await this.$store.dispatch('user/getInfo')
  },
    watch: {
      partner:{
        handler: function(val, oldVal) {
        if(this.partner!=''){
          this.getlinebotmenu()
        }
      },
      immediate: true
      }
  },
  mounted() {
    // 圖片網址位置
    this.upload_path = process.env.VUE_APP_BASE_API_UPLOAD
    // 得知使用者實際擁有權限
    this.getAdminPremission("Line機器人模組")
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    //得知聊天機器人選單
    getlinebotmenu(){
      this.LinebotMenu = []
      this.LinebotMenuLoading = true
      this.payload = {
          'partner_id':this.partner
      }
      defaultMenu['partner_id'] = this.partner
      this.linebotmenu = Object.assign({}, defaultMenu)
      getLineBotMenu(this.payload).then(resp => {
        if(resp.success==true){
            this.LinebotMenu = resp.message
        }
        else if(resp.data=="合作夥伴未建立基本資料"){
            this.$message({
                message: resp.data,
                type: 'error'
            })
            this.$emit('check_menu_errormessage','linebot_basic')
        }
        this.LinebotMenuLoading = false
      })
    },
    insertrichmenu(){
      this.dialogType = 'new'
      this.dialogVisible = true
      defaultMenu['partner_id'] = this.partner
      this.linebotmenu = Object.assign({}, defaultMenu)
    },
    handleEditMenu(scope){
      this.dialogType = 'edit'
      this.dialogVisible = true
      scope.row.partner_id = this.partner
      // if(this.health.class==scope.row.class){
      //   scope.row.class = scope.row.class
      // }
      // else{
      //   scope.row.class = this.health.class
      // }
      this.linebotmenu = deepClone(scope.row)
    },
    // 關閉選單狀態
    getMenu_status_dialogtype(status,type) {
      this.dialogVisible = status
      this.dialogType = type
    },
  }
}
</script>