<template>
  <el-card style="margin-bottom:20px;">
    <div slot="header" class="clearfix">
      <span style="color:red;">聊天機器人數據分析</span>
    </div>
    <div class="user-profile" v-loading="LinebotStaticLoading">
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <p style="text-align:center">主動推播次數（次）</p>
                <LineBotStaticPushMessageChart :partner="partner" :LinebotStatic="LinebotStatic" />
            </el-col>
        </el-row>
    </div>
  </el-card>
</template>

<script>
import { getLineBotStatic } from '@/api/linebot_manager'
import LineBotStaticPushMessageChart from'./LineBotStaticPushMessageChart.vue'
export default {
  name: "linebotstatic",
  components:{LineBotStaticPushMessageChart},
  props: {
    partner: {
      type: String
    //   default: () => {
    //     return {
    //       name: '',
    //       email: '',
    //       avatar: '',
    //       role: ''
    //     }
    //   }
    },
    activeTab:{
        type: String
    }
  },
  filters:{

  },
  data(){
    return {
      LinebotStatic: [],
      payload:{},
      loading:false,
      LinebotStaticLoading:false
    }
  },
    watch: {
      // partner:{
      //   handler: function(val, oldVal) {
      //   if(this.partner!=''){
      //     this.getlinebotstatic()
      //   }
      // },
      // immediate: true
      // },
      activeTab:{
        handler: function(val, oldVal) {
        if(this.partner!=''){
          this.getlinebotstatic()
        }
      },
      immediate: true
      },
  },
  methods: {
    //得知聊天機器人數據分析
    getlinebotstatic(){
      this.LinebotStatic = []
      this.LinebotStaticLoading = true
      this.payload = {
          'partner_id':this.partner
      }
      getLineBotStatic(this.payload).then(resp => {
        if(resp.data=="查詢成功"){
            console.log(resp.message)
            this.LinebotStatic.push({
                "totalPush":resp.message.used_count.totalUsage,
                "limitPush":resp.message.left_count.value-resp.message.used_count.totalUsage,
                // "totalPush":resp.message.used_count.totalUsage/resp.message.left_count.value,
                // "limitPush":(resp.message.left_count.value-resp.message.used_count.totalUsage)/resp.message.left_count.value,
            })
            this.LinebotStaticLoading = false
        }
        else{
            this.LinebotStaticLoading = false
        }
      })
    },
  }
}
</script>