<template>
  <div>
    <el-dialog
      :visible.sync="dialogVisible"
      v-if="dialogVisible"
      title="加入聊天室"
      :before-close="closeAddChat"
      center
      fullscreen
    >
    <!-- {{chat}} -->
    <!-- {{id}} -->
      <el-form ref="chat" :rules="ChatRules" status-icon :model="chat" label-position="left">
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="合作夥伴" prop="partner_id">
                  <br/>
                    <el-select
                        v-model="chat.partner_id"
                        name="partner_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="選擇合作夥伴"
                        ref="partner_id"
                        @change="chosen_partner_id"
                        >
                        <el-option
                        v-for="item in partnerlist.list"
                        :key="item.partner_id"
                        :label="item.partner_name"
                        :value="item.partner_id">
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="人員選擇" prop="to_id">
                  <br/>
                    <el-select
                        v-model="chat.to_id"
                        name="to_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="人員選擇"
                        ref="to_id"
                        >
                        <el-option
                        v-for="item in adminlist"
                        :key="item.adminid"
                        :label="item.name"
                        :value="item.adminid">
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddChat">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmChat('chat')">確認</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
import { get_Driver } from '@/api/driver_router_manager'
import { insert_update_chat } from '@/api/chat_manager'
export default {
  name: 'AddEditChat',
  props: {
    dialogType: {
      type: String,
      require: true
    },
    dialogVisible: {
      type: Boolean,
      require: true
    },
    chat:{
        type:Object,
        require: true
    }
  },
  data() {
    return {
      ChatRules: {
        partner_id: [{ required: true,message: '合作夥伴為必填'}],
        to_id: [{ required: true,message: '人員選擇為必填'}]
      },
      adminlist:[],
      loading:false
    }
  },
  watch: {

  },
  mounted() {
  },
  computed: {
    ...mapGetters([
        'partnerlist',
        'id'
    ]),
  },
  methods: {
    chosen_partner_id(){
    //搜尋合作夥伴下所有成員資料
       var payload = { "partner_id": this.chat.partner_id}
       this.adminlist = []
       get_Driver(payload).then(resp => {
        this.adminlist = resp.drivers
      })
    },
    // 新增聊天人員
    confirmChat(chat) {
      this.$refs[chat].validate(valid => {
        if (valid) {
          this.loading = true
          this.chat['content'] ='加入聊天室訊息'
          this.chat['from_id'] = this.id
          alert(this.chat)
        insert_update_chat(this.chat).then((resp)=>{
            if(resp.success==true){
                //更新資料進入外層的聊天室管裡
                this.$emit('getadminlist',1,0)
                this.$refs[chat].resetFields()
                this.adminlist = []
                this.loading = false
            }
        })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    // 關閉商家資訊
    closeAddChat() {
    // 更新資料進入外層的合作夥伴狀態
      this.dialogVisible = false
      this.$emit('getChatstatus', this.dialogVisible)
    }
  }
}
</script>
