<template>
    <div>
    <el-dialog :visible.sync="dialogFatherVisible" :title="dialogFatherType==='edit'?'更新權限父層':'新增權限父層'"
    :before-close="closeAddFatherlist" center fullscreen>
      <el-form :rules="fatherlistRules" status-icon ref="fatherlist" :model="fatherlist" label-position="right">
          <!-- {{partner}}
          {{dialogVisible}} --> 
          <!-- {{todolist}} -->
          <!-- {{fatherlist}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="父層網址" prop="premission_father_path">
                    <el-input ref="premission_father_path" v-model="fatherlist.premission_father_path"
                    name="premission_father_path" placeholder="父層網址"
                     />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="父層名稱" prop="premission_father_name">
                    <el-input ref="premission_father_name" v-model="fatherlist.premission_father_name"
                    name="premission_father_name" placeholder="父層名稱"
                     />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="父層按鈕" prop="premission_father_meta_icon">
                    <el-input ref="premission_father_meta_icon" v-model="fatherlist.premission_father_meta_icon"
                    name="premission_father_meta_icon" placeholder="父層按鈕"
                     />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="父層轉址" prop="premission_father_redirect">
                    <el-input ref="premission_father_redirect" v-model="fatherlist.premission_father_redirect"
                    name="premission_father_redirect" placeholder="父層轉址"
                     />
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddFatherlist">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmFatherlist('fatherlist')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddEditFatherlist',
props:{
    dialogFatherType:{
        type:String,
        require:true
    },
    dialogFatherVisible:{
        type:Boolean,
        require:true
    },
    fatherlist:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      fatherlistRules: {
        premission_father_path: [{ required: true }],
        premission_father_name: [{ required: true }],
        premission_father_meta_icon: [{ required: true }],
        premission_father_redirect: [{ required: true }]
      },
      loading:false,
    }
  },
  methods: {
    // 更新與新增父層權限
    confirmFatherlist(fatherlist){
      this.$refs[fatherlist].validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('router_manager/insert_update_father_router', this.fatherlist)
            .then((res) => {
                // 更新資料進入外層的父層權限
                this.$emit('getTodolistfatherupdate')
                console.log(res)
                // this.dialogVisible = false
                //判斷是否為新增或修改
                if(this.dialogFatherType!="edit"){
                    this.$nextTick(() => {
                        this.$refs[fatherlist].resetFields();
                    })
                }
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    // 關閉父層
    closeAddFatherlist(){
    // 更新資料進入外層的父層
    this.dialogFatherVisible = false
    this.$emit('getFatherliststatus',this.dialogFatherVisible)
    }
  }
}
</script>