<template>
    <div>
    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'更新訂單模組':'新增訂單模組'"
    :before-close="closeAddOrder" center fullscreen>
      <el-form :rules="OrderRules" status-icon ref="order" :model="order" label-position="right">
          <!-- {{partner}}
          {{dialogVisible}} --> 
          {{order}}
          <!-- {{dialogType}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="4" :xl="4">
                <el-form-item label="合作夥伴" prop="partner_id">
                  <br/>
                    <el-select
                        v-model="order.partner_id"
                        name="partner_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="選擇合作夥伴"
                        ref="partner_id"
                        @change="change_partner_id"
                        >
                        <el-option
                        v-for="item in partnerlist.list"
                        :key="item.category_id"
                        :label="item.partner_name"
                        :value="item.partner_id">
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="8" :xl="8">
                <el-form-item label="會員" prop="order_mid">
                  <!-- {{order.order_mid}} -->
                  <br/>
                    <el-select
                        v-model="order.order_mid"
                        name="order_mid"
                        filterable
                        clearable
                        remote
                        :remote-method="search_person"
                        placeholder="選擇會員"
                        :loading="order_mid_loading"
                        ref="order_mid"
                        @change="change_person_tax"
                        >
                        <el-option
                        v-for="item in allmemberlist.list"
                        :key="item.mid"
                        :label="item.account+'('+item.name+')'"
                        :value="item.mid"
                        
                        >
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="8" :xl="8">
                <el-form-item label="運送地址" prop="order_tax">
                    <el-input v-model="order.order_tax"
                     placeholder="運送地址"
                    autocomplete="off"
                    ref="order_tax"
                     />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                <el-form-item label="寄送方式" prop="shipping_type">
                  <br/>
                    <el-radio-group v-model="order.shipping_type" 
                    ref="shipping_type" name="shipping_type">
                        <el-radio-button label=0 border>自取</el-radio-button>
                        <el-radio-button label=1 border>貨運</el-radio-button>                        
                        <el-radio-button label=2 border>超商</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                <el-form-item label="付款方式" prop="pay_type">
                  <br/>
                    <el-radio-group v-model="order.pay_type" 
                    ref="pay_type" name="pay_type">
                        <el-radio-button label=0 border>現金</el-radio-button>
                        <el-radio-button label=1 border>信用卡</el-radio-button>                        
                        <el-radio-button label=2 border>line_pay</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                <el-form-item label="是否付款" prop="is_pay">
                  <br/>
                    <el-radio-group v-model="order.is_pay" 
                    ref="is_pay" name="is_pay">
                        <el-radio-button label=0 border>未付款</el-radio-button>
                        <el-radio-button label=1 border>已付款</el-radio-button>                        
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="12" :lg="6" :xl="6">
                <el-form-item label="訂單狀態" prop="order_status">
                  <br/>
                    <el-radio-group v-model="order.order_status" 
                    ref="order_status" name="order_status">
                        <el-radio-button label=0 border>刪除</el-radio-button>
                        <el-radio-button label=1 border>正常</el-radio-button>                        
                        <el-radio-button label=2 border>修改</el-radio-button>
                        <el-radio-button label=3 border>暫停</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="商品">
                    <el-button type="primary" @click.native="insertOrderShop" :disabled="order.partner_id==''?true:false">＋</el-button>
                </el-form-item>
            </el-col>
            <div v-for="(order_detail_list,index) in order.order_detail" :key="index">
            <el-col :xs="24" :sm="10" :lg="6" :xl="6">
                <el-form-item label="商品名稱" prop="shop_id">
                <br/>
                <el-select
                    v-model="order_detail_list.shop_id"
                    name="shop_id"
                    filterable
                    clearable
                    placeholder="選擇商品"
                    ref="shop_id"
                    :loading="shopLoading"
                    >
                    <el-option
                    v-for="item in shop"
                    :key="item.shop_id"
                    :label="item.shop_name"
                    :value="item.shop_id"
                    
                    >
                    </el-option>
                </el-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="10" :lg="4" :xl="4">
                <el-form-item label="商品數量">
                    <el-input v-model="order_detail_list.order_list_amount"
                     placeholder="商品數量"
                    autocomplete="off"
                    ref="order_list_amount"
                     />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="2" :lg="2" :xl="2">
                <br/>
                <el-button type="danger" @click.native="removeOrderDetail(index)">-</el-button>
            </el-col>
            </div>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddOrder">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmOrder('order')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { getShop,getAllMember } from '@/api/shop_manager'
export default {
name: 'AddEditOrder',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    order:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      OrderRules: {
        partner_id: [{ required: true }],
        order_mid: [{ required: true }],
        shipping_type:[{ required:true}],
        pay_type:[{required:true}],
        is_pay:[{required:true}],
        order_status:[{required:true}],
        order_tax:[{require:true}]
      },
      loading:false,
      order_mid_loading:false,
      shopLoading:false,
      shop:[]
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
      'allmemberlist'
    ])
  },
  watch:{
      dialogType:function(val){
          console.log("test",val)
          //判斷是否為編輯訂單
          if(val=='edit'){
              console.log(this.order.member_phone)
              this.get_all_shop()
              this.search_person(this.order.member_phone)
          }
      }
  },
  methods: {
    // 更新與新增訂單管裡
    confirmOrder(order) {
      this.$refs[order].validate(valid => {
        if (valid) {
          this.loading = true
          console.log(this.order)
          this.$store.dispatch('shop/insert_update_order', this.order)
            .then((res) => {
                //更新資料進入外層的訂單管裡
                this.$emit('getAllOrder','1?partner_id='+this.order.partner_id)
                //判斷是否為新增或修改
                if(this.dialogType!="edit"){
                    this.$nextTick(() => {
                      this.$refs[order].resetFields()
                      this.order.order_detail = []
                    })
                }
                // this.order.order_detail = []
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    //關閉訂單管理
    closeAddOrder(){
    //更新資料進入外層的訂單管理
    this.dialogVisible = false
    this.order.order_detail = []
    console.log("this.order.order_detail",this.order.order_detail)
    this.dialogType = ''
    this.$emit('getOrderstatus',this.dialogVisible)
    this.$emit('getOrderdialogtype',this.dialogType)

    },
    //新增所有抽獎商品
    insertOrderShop(){
        this.order.order_detail.push(
          {"shop_id": null, "order_list_amount": 1, "shipping_fee": 70}
        )
      console.log(this.order.order_detail)
    },
    //刪除所有抽獎商品
    removeOrderDetail(index){
      this.order.order_detail.splice(index,1)
    },
    //搜尋所有會員資料
    async search_person(query){
        var payload ='all?search_person='+query
        this.order_mid_loading = true
        await this.$store.dispatch('shop/getAllMember',payload)
        this.order_mid_loading = false
    },
    //切換合作夥伴得到該合作夥伴內所有商品
    change_partner_id(){
        this.get_all_shop()
    },
    //帶入會員地址
    change_person_tax(order_mid){
      var payload ='all?search_person='+order_mid
      var _self = this
      _self.order.order_tax = ''
      getAllMember(payload).then(resp => {
        console.log(resp.data.list[0].address)
        _self.order.order_tax = resp.data.list[0].address
        console.log(_self.order.order_tax)
      })
    },
    //得到合作夥伴所有商品資訊
    get_all_shop(){
      var payload = 'all?partner_id='+this.order.partner_id+'&shop_status=2'
      this.shopLoading = true
      getShop(payload).then(resp => {
        this.shop = resp.data.list
        this.shopLoading = false
      })
    }
  }
}
</script>