<template>
    <div>
    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'更新商品管理':'新增商品管理'"
    :before-close="closeAddShop" center fullscreen>
      <el-form :rules="ShopRules" status-icon ref="shop" :model="shop" label-position="right">
          <!-- {{partner}}
          {{dialogVisible}} --> 
          <!-- {{hotnews}} -->
          {{shop}}
          <!-- {{shop_tag}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="6" :xl="6">
                <el-form-item label="合作夥伴" prop="partner_id">
                  <br/>
                    <el-select
                        v-model="shop.partner_id"
                        name="partner_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="選擇合作夥伴"
                        ref="partner_id"
                        >
                        <el-option
                        v-for="item in partnerlist.list"
                        :key="item.category_id"
                        :label="item.partner_name"
                        :value="item.partner_id">
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="18" :xl="18">
                <el-form-item label="商品名稱" prop="shop_name">
                    <el-input ref="shop_name" v-model="shop.shop_name"
                    name="shop_name" placeholder="商品名稱"
                    autocomplete="off" />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="商品內文" prop="shop_info">
                <el-input ref="shop_info" v-model="shop.shop_info" :autosize="{ minRows: 6, maxRows: 20}"
                    type="textarea" placeholder="商品內文"
                    name="shop_info" autocomplete="off"
                />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="6" :xl="6">
                <el-form-item label="商品價錢" prop="shop_price">
                <el-input ref="shop_price" v-model="shop.shop_price" 
                    name="shop_price" placeholder="商品價錢"
                    autocomplete="off"
                />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="6" :xl="6">
                <el-form-item label="商品特價" prop="shop_sale_price">
                    <br/>
                    <div style="color:red;">標註：此商品特價設定0代表沒有特價</div>
                <el-input ref="shop_sale_price" v-model="shop.shop_sale_price" 
                    name="shop_sale_price" placeholder="商品特價"
                    autocomplete="off"
                    :disabled="shop.shop_on_sale_switch==0"
                />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="6" :xl="6">
                <el-form-item label="商品庫存" prop="shop_stack">
                <el-input ref="shop_stack" v-model="shop.shop_stack"
                    name="shop_stack" placeholder="商品庫存"
                    autocomplete="off"
                />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="6" :xl="6">
                <el-form-item label="安全庫存" prop="safe_stack">
                    <br/>
                    <div style="color:red;">標註：此安全庫存設定0代表沒有設定安全庫存</div>
                <el-input ref="safe_stack" v-model="shop.safe_stack"
                    name="safe_stack" placeholder="安全庫存"
                    autocomplete="off"
                />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="4" :xl="4">
                <el-form-item label="商品期限" prop="shop_date_line">
                  <br/>
                <el-date-picker v-model="shop.shop_date_line" type="date" 
                ref="shop_date_line" name="shop_date_line" placeholder="商品期限"
                value-format="yyyy-MM-dd"
                ></el-date-picker>
                </el-form-item>
            </el-col>
            <!-- {{questioncategorylist}} -->
            <el-col :xs="24" :sm="12" :lg="4" :xl="4">
                <el-form-item label="商品分類" prop="shop_category_id">
                  <br/>
                    <el-select
                        v-model="shop.shop_category_id"
                        name="shop_category_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="商品分類"
                        ref="shop_category_id"
                        >
                        <el-option
                        v-for="item in shopcategorylist"
                        :key="item.shop_category_id"
                        :label="item.shop_big_category+'>'+item.shop_small_category"
                        :value="item.shop_category_id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="8" :xl="8">
                <el-form-item label="商品品牌" prop="shop_brand">
                    <el-input ref="shop_brand" v-model="shop.shop_brand"
                    name="shop_brand" placeholder="商品品牌"
                    autocomplete="off" />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="8" :xl="8">
                <el-form-item label="商品出貨地" prop="shop_place">
                    <el-input ref="shop_place" v-model="shop.shop_place"
                    name="shop_place" placeholder="商品出貨地"
                    autocomplete="off" />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="商品備註" prop="shop_note">
                <el-input ref="shop_note" v-model="shop.shop_note" :autosize="{ minRows: 1, maxRows: 4}"
                    type="textarea" placeholder="商品備註"
                    name="shop_note" autocomplete="off"
                />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="商品關鍵字" prop="shop_keyword_array">
                    <br/>
                    <div style="color:red;">標註：此關鍵字設定作為使用者搜尋使用</div>
                    <el-select
                        v-model="shop.shop_keyword_array"
                        name="shop_keyword_array"
                        filterable
                        allow-create
                        multiple
                        clearable
                        placeholder="商品關鍵字"
                        ref="shop_keyword_array"
                        >
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="商品屬性" prop="shop_tag_array">
                    <br/>
                    <div style="color:red;">標註：此屬性設定作為使用者點擊標籤使用</div>
                    <el-checkbox-group v-model="shop.shop_tag_array">
                        <el-checkbox label="推薦">推薦</el-checkbox>
                        <el-checkbox label="新品">新品</el-checkbox>
                        <el-checkbox label="熱賣">熱賣</el-checkbox>
                        <el-checkbox label="含運">含運</el-checkbox>
                    </el-checkbox-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="4" :xl="4">
                <el-form-item label="商品狀態" prop="shop_status">
                    <el-radio-group v-model="shop.shop_status" 
                    ref="shop_status" name="shop_status">
                        <el-radio-button label=0 border>準備</el-radio-button>
                        <el-radio-button label=1 border>下架</el-radio-button>                        
                        <el-radio-button label=2 border>上架</el-radio-button>
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="4" :xl="4">
                <el-form-item label="商品規格開關" prop="shop_stand_switch">
                    <el-radio-group v-model="shop.shop_stand_switch" 
                    ref="shop_stand_switch" name="shop_stand_switch">
                        <el-radio-button label=0 border>關閉</el-radio-button>
                        <el-radio-button label=1 border>開啟</el-radio-button>                        
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="4" :xl="4">
                <el-form-item label="商品多件優惠開關" prop="shop_sale_switch">
                    <el-radio-group v-model="shop.shop_sale_switch" 
                    ref="shop_sale_switch" name="shop_sale_switch">
                        <el-radio-button label=0 border>關閉</el-radio-button>
                        <el-radio-button label=1 border>開啟</el-radio-button>                        
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="4" :xl="4">
                <el-form-item label="商品促銷開關" prop="shop_on_sale_switch">
                    <el-radio-group v-model="shop.shop_on_sale_switch" 
                    ref="shop_on_sale_switch" name="shop_on_sale_switch">
                        <el-radio-button label=0 border>關閉</el-radio-button>
                        <el-radio-button label=1 border>開啟</el-radio-button>                        
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="4" :xl="4">
                <el-form-item label="商品活動折扣開關" prop="shop_discount_switch">
                    <el-radio-group v-model="shop.shop_discount_switch" 
                    ref="shop_discount_switch" name="shop_discount_switch">
                        <el-radio-button label=0 border>關閉</el-radio-button>
                        <el-radio-button label=1 border>開啟</el-radio-button>                        
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="8" :lg="4" :xl="4">
                <el-form-item label="商品運費開關" prop="shop_rate_switch">
                    <el-radio-group v-model="shop.shop_rate_switch" 
                    ref="shop_rate_switch" name="shop_rate_switch">
                        <el-radio-button label=0 border>關閉</el-radio-button>
                        <el-radio-button label=1 border>開啟</el-radio-button>                        
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="商品備貨天數" prop="shop_common_stack">
                    <el-radio-group v-model="shop.shop_common_stack" 
                    ref="shop_common_stack" name="shop_common_stack">
                        <el-radio-button label=0 border>3天以內</el-radio-button>
                        <el-radio-button label=1 border>3~5天</el-radio-button>
                        <el-radio-button label=2 border>5天～10天</el-radio-button>
                        <el-radio-button label=3 border>10天以上</el-radio-button>                    
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="商品圖片">
                  <el-upload
                    class="avatar-uploader"
                    action="https://shopstore-dashboardupload.gohojia.com/shop_photo"
                    ref="shop_photo"
                    name="shop_photo"
                    :multiple="false"
                    :auto-upload="false"
                    :limit="1"
                    accept="image/png,image/gif,image/jpg,image/jpeg"
                    :on-change="before_shop_photo_upload"
                    :on-remove="reset_shop_photo_upload"
                    >
                    <div slot="tip" class="el-upload__tip" style="color:red">
                      *圖檔大小尺寸 750 * 300<br/>
                      *只能上傳一張圖片，且不超過2MB
                    </div>
                    <img v-if="show_photo_preview" :src="show_photo_preview" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                  </el-upload>
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddShop">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmShop('shop')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddEditShop',
props:{
    dialogType:{
        type:String,
        require:true
    },
    dialogVisible:{
        type:Boolean,
        require:true
    },
    shop:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      ShopRules: {
        shop_name: [{ required: true }],
        shop_info: [{ required: true }],
        shop_price: [{ required: true }],
        shop_brand: [{ required: true }],
        shop_category_id: [{ required: true }],
        shop_place: [{ required: true }],
        shop_tag_array: [{ required: true }],
        shop_keyword_array: [{ required: true }]
      },
      // 預覽選擇的商品圖片
      show_photo_preview: null,
      loading: false,
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
      'shopcategorylist'
    ])
  },
  watch: {
    "shop.shop_on_sale_switch": function(val){
      console.log(val)
      if(val=="0"){
        this.shop.shop_sale_price = 0
      }
    }
  },
  mounted() {
    // 得知所有的商品管理分類
    this.getShopCategory(1)
  },
  methods: {
    async getShopCategory(page) {
      await this.$store.dispatch('shop/getShopCategory',page)
    },
    //更新與新增商品管理
    confirmShop(shop){
      this.$refs[shop].validate(valid => {
        if (valid) {
          const shopFormData = new FormData()
          shopFormData.append('partner_id',this.shop.partner_id)
          shopFormData.append('shop_name',this.shop.shop_name)
          shopFormData.append('shop_info',this.shop.shop_info)
          shopFormData.append('shop_price',this.shop.shop_price)
          shopFormData.append('shop_sale_price',this.shop.shop_sale_price)
          shopFormData.append('shop_stack',this.shop.shop_stack)
          shopFormData.append('safe_stack',this.shop.safe_stack)
          shopFormData.append('shop_date_line',this.shop.shop_date_line)
          shopFormData.append('shop_category_id',this.shop.shop_category_id)
          shopFormData.append('shop_brand',this.shop.shop_brand)
          shopFormData.append('shop_place',this.shop.shop_place)
          shopFormData.append('shop_note',this.shop.shop_note)
          shopFormData.append('shop_keyword_array',JSON.stringify(this.shop.shop_keyword_array))
          shopFormData.append('shop_tag_array',JSON.stringify(this.shop.shop_tag_array))
          shopFormData.append('shop_status',this.shop.shop_status)
          shopFormData.append('shop_stand_switch',this.shop.shop_stand_switch)
          shopFormData.append('shop_sale_switch',this.shop.shop_sale_switch)
          shopFormData.append('shop_on_sale_switch',this.shop.shop_on_sale_switch)
          shopFormData.append('shop_discount_switch',this.shop.shop_discount_switch)
          shopFormData.append('shop_rate_switch',this.shop.shop_rate_switch)
          shopFormData.append('shop_common_stack',this.shop.shop_common_stack)
          if(this.dialogType=='new'){
            if(this.shop.shop_photo!=null){
              shopFormData.append('shop_photo',this.shop.shop_photo.raw)
            }
          }
          if(this.dialogType=='edit'){
            if(this.shop.shop_photo!=null){
              if(this.shop.shop_photo.raw!=null){
                shopFormData.append('shop_photo',this.shop.shop_photo.raw)
              }
            }
          }
          // 更新shop紀錄
          if(this.dialogType=='edit'){
            shopFormData.append('shop_id',this.shop.shop_id)
          }
          console.log("shopFormData",shopFormData)
          this.$store.dispatch('shop/insert_update_shop',shopFormData)
            .then((res) => {
                //更新資料進入外層的商品管理
                this.$emit('getShop',this.shop.partner_id)
                console.log(this.shop.partner_id)
                //判斷是否為新增或修改
                if(this.dialogType!="edit"){
                    this.$nextTick(() => {
                      this.$refs[shop].resetFields()
                    })
                }
                //預覽圖片回復預設值
                this.$refs.shop_photo.clearFiles()
                this.show_photo_preview = null
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    before_shop_photo_upload(file) {
        const isJPG = file.raw.type.toLowerCase() === 'image/jpeg'||'image/jpg'||'image/png';
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isLt2M) {
          this.$message.error('上傳圖片檔案不超過2MB!!');
        //   this.$refs.
        return isLt2M;
        }
        else if(!isJPG){
          this.$message.error('上傳格式不正確!!');
          return isJPG;
        }
        let reader = new FileReader()
        reader.readAsDataURL(file.raw);
        let URL = window.URL || window.webkitURL;
        console.log("file",file)
        // 放入所有shop圖片資訊
        this.shop.shop_photo = file
        //預覽圖片
        this.show_photo_preview = URL.createObjectURL(file.raw);
        return isLt2M&isJPG;
    },
    // 取消上傳圖片
    reset_shop_photo_upload(){
      this.shop.shop_photo = null
      this.show_photo_preview = null
    },
    // 關閉商品管理
    closeAddShop(){
    // 更新資料進入外層的商品管理狀態
    this.dialogVisible = false
    this.$emit('getShopstatus',this.dialogVisible)
    }
  }
}
</script>