<template>
  <div>
    <el-dialog
      :visible.sync="dialogVisible"
      v-if="dialogVisible"
      :title="dialogType==='edit'?'更新商家資訊':'新增商家資訊'"
      :before-close="closeAddPartner"
      center
      fullscreen
    >
    <!-- {{partner}} -->
    <!-- {{shopstore}} -->
      <el-form ref="shopstore" :rules="ShopstoreRules" status-icon :model="shopstore" label-position="left">
        <!-- {{partner}}
          {{dialogVisible}} -->
        <!-- {{id}}
          {{id===1}} -->
        <el-row :gutter="20">
            <el-col :xs="24" :sm="12" :lg="12" :xl="12">
                <el-form-item label="合作夥伴" prop="partner_id">
                  <br/>
                    <el-select
                        v-model="shopstore.partner_id"
                        name="partner_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="選擇合作夥伴"
                        ref="partner_id"
                        >
                        <el-option
                        v-for="item in partnerlist.list"
                        :key="item.category_id"
                        :label="item.partner_name"
                        :value="item.partner_id">
                        </el-option>
                    </el-select>
                <!-- <el-tooltip class="item" effect="dark" content="可自行新增合作夥伴分類" placement="right">
                    <el-button icon="el-icon-warning-outline" circle></el-button>
                </el-tooltip> -->
                </el-form-item>
            </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="商家名稱" prop="shopstore_qrcode_shopname">
              <el-input
                ref="shopstore_qrcode_shopname"
                v-model="shopstore.shopstore_qrcode_shopname"
                name="shopstore_qrcode_shopname"
                placeholder="商家名稱"
                autocomplete="off"
              />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="商家地址" prop="shopstore_qrcode_shoptax">
                <br/>
              <el-input
                ref="shopstore_qrcode_shoptax"
                v-model="shopstore.shopstore_qrcode_shoptax"
                name="shopstore_qrcode_shoptax"
                placeholder="商家地址"
                autocomplete="off"
                @keyup.enter.native="searchpartneraddress"
              />
            </el-form-item>
          </el-col>
          <el-col :xs="24" :sm="12" :lg="12" :xl="12">
            <el-form-item label="商家地址">
                <br/>
                <div style="color:blue;">經緯度座標:{{partner_tax_geoposition}}</div>
                <!-- <l-map style="height: 300px" :zoom="partner_tax_zoom" :center="partner_tax_geoposition">
                    <l-tile-layer :url="partner_tax_url" :attribution="partner_tax_attribution"></l-tile-layer>
                    <l-marker :lat-lng="partner_tax_markerLatLng"></l-marker>
                </l-map> -->
                <GmapMap ref="mapRef"
                :center="partner_tax_geoposition_googlemap"
                :zoom="17"
                style="height: 300px"
                @click="handleMapClick"
                >
                <GmapMarker
                  :position="partner_tax_geoposition_googlemap"
                  :clickable="true"
                  :draggable="true"
                />
                </GmapMap>
            </el-form-item>
          </el-col>
          <!-- <el-select v-model="partner.partner_category" placeholder="合作夥伴分類" style="width:120px;"> -->
          <!-- <el-option
                v-for="item in options"
                :key="item"
                :label="item"
                :value="item"
            />
            </el-select> -->
          <el-col :xs="24" :sm="12" :lg="12" :xl="24">
            <el-form-item label="商家開關">
              <br>
              <el-radio-group
                v-model="shopstore.shopstore_qrcode_shopstatus"
                name="shopstore_qrcode_shopstatus"
              >
                <el-radio-button label="0" border>關閉</el-radio-button>
                <el-radio-button label="1" border>開啟</el-radio-button>
              </el-radio-group>
              <br>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddShopstore">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmShopstore('shopstore')">確認</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
import { search_partner_lat_lng } from '@/api/partner_manager'
export default {
  name: 'AddEditShopstore',
  props: {
    dialogType: {
      type: String,
      require: true
    },
    dialogVisible: {
      type: Boolean,
      require: true
    },
    shopstore: {
      type: Object,
      require: true
    }
  },
  data() {
    return {
      ShopstoreRules: {
        partner_id: [{ required: true }],
        shopstore_qrcode_shopname: [{ required: true }],
        shopstore_qrcode_shoptax: [{ required: true }],
      },
      loading: false,
      //預設經度緯度(靜態)
      partner_tax_geoposition:[0,0],
      //預設經度緯度(靜態)
      partner_tax_geoposition_googlemap:{
        lat:0,lng:0
      },
      partner_tax_zoom: 20,
      //預設標注點(靜態)
      partner_tax_markerLatLng: [0,0],
      //所有候選標註點
      all_candidate_list:[],
    }
  },
  watch: {
    dialogVisible(olddata, newdata) {
      console.log(newdata)
      if (newdata) {
        this.$nextTick(() => {
          this.$refs.partner.resetFields()
        })
      }
    this.partner_tax_geoposition = [this.shopstore.shopstore_qrcode_lat,this.shopstore.shopstore_qrcode_lng]
    this.partner_tax_markerLatLng = [this.shopstore.shopstore_qrcode_lat,this.shopstore.shopstore_qrcode_lng]
    //當點擊為「修改資料」時，自動帶入現行的經緯度標點位置
    if(this.dialogType=='edit'){
      this.getpartnerposition(this.shopstore.shopstore_qrcode_lat,this.shopstore.shopstore_qrcode_lng)
    }
    //當點擊為「新增資料」時，自動帶入現行的經緯度標點位置
    if(this.dialogType=='new'){
      this.getpartnerposition(this.shopstore.shopstore_qrcode_lat,this.shopstore.shopstore_qrcode_lng)
    }
    },
  },
  computed: {
    ...mapGetters([
        'partnerlist',
    ]),
  },
  methods: {
    handleMapClick(event){
      console.log(event);
      //點擊合作夥伴地標位置(google map)(place_id)
      this.clickpartneraddress(event.placeId)
    },
    //搜尋合作夥伴實際位置(google map)
    searchpartneraddress(){
        search_partner_lat_lng({"address":this.shopstore.shopstore_qrcode_shoptax}).then(resp => {
            console.log("latlon",resp)
            console.log("latlon2",resp.data.results[0])
            console.log("latlon3",resp.data.results[0].geometry.location.lat)
            console.log("latlon4",resp.data.results[0].geometry.location.lng)
            this.partner_tax_geoposition = [resp.data.results[0].geometry.location.lat,resp.data.results[0].geometry.location.lng]
            this.partner_tax_markerLatLng = [resp.data.results[0].geometry.location.lat,resp.data.results[0].geometry.location.lng]
            this.shopstore.shopstore_qrcode_lat = resp.data.results[0].geometry.location.lat
            this.shopstore.shopstore_qrcode_lng = resp.data.results[0].geometry.location.lng
            
            //帶入google map地圖實際點的位置
            this.partner_tax_geoposition_googlemap = {
              lat:resp.data.results[0].geometry.location.lat,
              lng:resp.data.results[0].geometry.location.lng
            }
            //帶入google map地圖實際點的位置
            this.$refs.mapRef.$mapPromise.then((map) => {
              map.panTo({lat: resp.data.results[0].geometry.location.lat, lng: resp.data.results[0].geometry.location.lng})
            })
      })
    },
    //點擊合作夥伴地標位置(google map)(place_id)
    clickpartneraddress(place_id){
        search_partner_lat_lng({"place_id":place_id}).then(resp => {
            this.partner_tax_geoposition = [resp.data.results[0].geometry.location.lat,resp.data.results[0].geometry.location.lng]
            this.partner_tax_markerLatLng = [resp.data.results[0].geometry.location.lat,resp.data.results[0].geometry.location.lng]
            this.shopstore.shopstore_qrcode_lat = resp.data.results[0].geometry.location.lat
            this.shopstore.shopstore_qrcode_lng = resp.data.results[0].geometry.location.lng
            
            //帶入google map地圖實際點的位置
            this.partner_tax_geoposition_googlemap = {
              lat:resp.data.results[0].geometry.location.lat,
              lng:resp.data.results[0].geometry.location.lng
            }
            //帶入google map地圖實際點的位置
            this.$refs.mapRef.$mapPromise.then((map) => {
              map.panTo({lat: resp.data.results[0].geometry.location.lat, lng: resp.data.results[0].geometry.location.lng})
            })
      })
    },
    //得出經緯度帶出實際位置
    getpartnerposition(partner_lat,partner_lng){
      this.partner_tax_geoposition_googlemap = {
        lat:partner_lat,
        lng:partner_lng
      }
    },
    // 更新與新增合作夥伴
    confirmShopstore(shopstore) {
      this.$refs[shopstore].validate(valid => {
        if (valid) {
          this.loading = true
          const ShopstoreFormData = new FormData()
          ShopstoreFormData.append('partner_id',this.shopstore.partner_id)
          ShopstoreFormData.append('shopstore_qrcode_shopname',this.shopstore.shopstore_qrcode_shopname)
          ShopstoreFormData.append('shopstore_qrcode_shoptax',this.shopstore.shopstore_qrcode_shoptax)
          ShopstoreFormData.append('shopstore_qrcode_lat',this.shopstore.shopstore_qrcode_lat)
          ShopstoreFormData.append('shopstore_qrcode_lng',this.shopstore.shopstore_qrcode_lng)
          ShopstoreFormData.append('shopstore_qrcode_shopstatus',this.shopstore.shopstore_qrcode_shopstatus)
          if(this.dialogType=='edit'){
            ShopstoreFormData.append('shopstore_qrcode_id',this.shopstore.shopstore_qrcode_id)
          }
          this.$store.dispatch('shop/insert_update_shopstore', ShopstoreFormData)
            .then((res) => {
              // 更新資料進入外層的合作夥伴
              this.$emit('getAllShopstore', 1)
              console.log(res)
              // this.dialogVisible = false
              // 判斷是否為新增或修改
              if (this.dialogType != 'edit') {
                this.$nextTick(() => {
                  this.$refs[shopstore].resetFields()
                })
              }
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    // 關閉商家資訊
    closeAddShopstore() {
    // 更新資料進入外層的合作夥伴狀態
      this.dialogVisible = false
      this.$emit('getShopstorestatus', this.dialogVisible)
    }
  }
}
</script>
