<template>
    <div>
    <el-dialog :visible.sync="dialogSonVisible" :title="dialogSonType==='edit'?'更新權限子層':'新增權限子層'"
    :before-close="closeAddSonlist" center fullscreen>
      <el-form :rules="sonlistRules" status-icon ref="sonlist" :model="sonlist" label-position="right">
          <!-- {{partner}}
          {{dialogVisible}} --> 
          <!-- {{todolist}} -->
          {{sonlist}}
        <el-row :gutter="20">
            <el-col :xs="24" :sm="24" :lg="2" :xl="2">
                <el-form-item label="父層網址" prop="premission_father_id">
                    <br/>
                    <el-select
                        v-model="sonlist.premission_father_id"
                        name="premission_father_id"
                        filterable
                        allow-create
                        default-first-option
                        clearable
                        placeholder="選擇父層"
                    >
                        <el-option
                            v-for="item in routerfatherlist"
                            :key="item.premission_father_id"
                            :label="item.premission_father_name"
                            :value="item.premission_father_id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="10" :xl="10">
                <el-form-item label="子層網址" prop="premission_route">
                    <el-input ref="premission_route" v-model="sonlist.premission_route"
                    name="premission_route" placeholder="子層網址"
                     />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="12" :xl="12">
                <el-form-item label="子層名稱" prop="premission_name">
                    <el-input ref="premission_name" v-model="sonlist.premission_name"
                    name="premission_name" placeholder="子層名稱"
                     />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="10" :xl="10">
                <el-form-item label="子層標題" prop="premission_meta_title">
                    <el-input ref="premission_meta_title" v-model="sonlist.premission_meta_title"
                    name="premission_meta_title" placeholder="子層標題"
                     />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="10" :xl="10">
                <el-form-item label="子層按鈕" prop="premission_meta_icon">
                    <el-input ref="premission_meta_icon" v-model="sonlist.premission_meta_icon"
                    name="premission_meta_icon" placeholder="子層按鈕"
                     />
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="4" :xl="4">
                <el-form-item label="子層釘選狀態" prop="premission_meta_affix">
                    <br/>
                    <el-radio-group ref="premission_meta_affix" v-model="sonlist.premission_meta_affix"
                     ame="premission_meta_affix">
                        <el-radio-button label="true" border>啟用</el-radio-button>
                        <el-radio-button label="false" border>未啟用</el-radio-button>                        
                    </el-radio-group>
                </el-form-item>
            </el-col>
            <el-col :xs="24" :sm="24" :lg="24" :xl="24">
                <el-form-item label="子層轉址" prop="premission_redirect">
                    <el-input ref="premission_redirect" v-model="sonlist.premission_redirect"
                    name="premission_redirect" placeholder="子層轉址"
                     />
                </el-form-item>
            </el-col>
        </el-row>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="closeAddSonlist">關閉</el-button>
        <el-button :loading="loading" type="primary" @click.native.prevent="confirmSonlist('sonlist')">確認</el-button>
      </div>
    </el-dialog>
    </div>
</template>
<style scoped>
  .avatar-uploader .el-upload {
    border: 1px dashed #0000;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
<script>
import { mapGetters } from 'vuex'
export default {
name: 'AddEditSonlist',
props:{
    dialogSonType:{
        type:String,
        require:true
    },
    dialogSonVisible:{
        type:Boolean,
        require:true
    },
    sonlist:{
        type:Object,
        require:true
    }
},
  data() {
    return {
      sonlistRules: {
        premission_name: [{ required: true }],
        premission_route: [{ required: true }],
        premission_meta_title: [{ required: true }],
        premission_meta_icon: [{ required: true }],
        premission_meta_affix: [{ required: true }]
      },
      loading:false,
    }
  },
  computed: {
    ...mapGetters([
      'routerfatherlist',
    ])
  },
  methods: {
    // 更新與新增子層權限
    confirmSonlist(sonlist){
      this.$refs[sonlist].validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('router_manager/insert_update_son_router', this.sonlist)
            .then((res) => {
                // 更新資料進入外層的子層權限
                this.$emit('getTodolistsonupdate')
                console.log(res)
                // this.dialogVisible = false
                //判斷是否為新增或修改
                if(this.dialogSonType!="edit"){
                    this.$nextTick(() => {
                        this.$refs[sonlist].resetFields();
                    })
                }
                this.loading = false
            })
            .catch(() => {
              this.loading = false
              return false
            })
        } else {
          console.log('有資料未填寫!!')
          return false
        }
      })
    },
    // 關閉子層
    closeAddSonlist(){
    // 更新資料進入外層的子層
    this.dialogSonVisible = false
    this.$emit('getsSonliststatus',this.dialogSonVisible)
    }
  }
}
</script>