<template>
    <div>
        <el-form :inline="true" :model="todolist" class="demo-form-inline">
            <el-row>
                <el-form-item label="合作夥伴">
                    <el-select v-model="todolist.partner_id" name="partner_id" filterable allow-create
                        default-first-option @keydown.enter.native="searchtodolist" clearable placeholder="選擇合作夥伴">
                        <el-option v-for="item in partnerlist" :key="item.category_id" :label="item.partner_name"
                            :value="item.partner_id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="代辦事項標題">
                    <el-input v-model="todolist.schedule_title" name="schedule_title" placeholder="常見問題標題"
                        @keyup.enter.native="searchtodolist" clearable></el-input>
                </el-form-item>
                <el-form-item label="代辦事項狀態">
                    <el-select v-model="todolist.schedule_status" name="schedule_status" placeholder="代辦事項狀態"
                        @keyup.enter.native="searchtodolist" clearable>
                        <el-option label="未完成" value="0"></el-option>
                        <el-option label="已完成" value="1"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="推播開關">
                    <el-select v-model="todolist.push_message_switch" name="push_message_switch" placeholder="推播開關"
                        @keyup.enter.native="searchtodolist" clearable>
                        <el-option label="關閉" value="0"></el-option>
                        <el-option label="啟用" value="1"></el-option>
                    </el-select>
                </el-form-item>
                <!-- {{hotnews.hotnews_status}} -->
                <el-form-item>
                    <el-button type="primary" @click="searchtodolist" icon="el-icon-search">搜索</el-button>
                </el-form-item>
            </el-row>
        </el-form>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    const defaultTodolist = {
        schedule_title: '', schedule_status: "0",
        push_message_switch: "0", partner_id: ''
    }

    export default {
        name: 'SearchTodolist',
        data() {
            return {
                todolist: Object.assign({}, defaultTodolist),
                // 搜尋次數
                search_times: 1
            }
        },
        computed: {
            ...mapGetters([
                'partnerlist',
            ])
        },
        methods: {
            searchtodolist() {
                var query = ''
                if (this.todolist.partner_id != '') {
                    query += 'partner_id=' + this.todolist.partner_id + '&'
                }
                if (this.todolist.schedule_title != '') {
                    query += 'schedule_title=' + this.todolist.schedule_title + '&'
                }
                if (this.todolist.schedule_status != '') {
                    query += 'schedule_status=' + this.todolist.schedule_status + '&'
                }
                if (this.todolist.push_message_switch != '') {
                    query += 'push_message_switch=' + this.todolist.push_message_switch + '&'
                }
                if (query.includes('partner_id')) {
                    this.$emit('searchTodolistpartner', this.todolist.partner_id)
                }
                if (!query.includes('partner_id')) {
                    this.$emit('searchTodolistpartner', '')
                }
                query += this.search_times++
                //更新資料進入外層的最新消息
                this.$emit('searchTodolist', query.slice(0, -1))
            }
        },
    }
</script>