<template>
    <div>
    <el-form :inline="true" :model="order" class="demo-form-inline">
    <el-row>
        <el-form-item label="合作夥伴">
            <el-select
                v-model="order.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                @keydown.enter.native="searchorder"
                clearable
                placeholder="選擇合作夥伴"
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="訂購人姓名">
            <el-input v-model="order.order_name" name="order_name" 
            placeholder="訂購人姓名" @keyup.enter.native="searchorder" clearable></el-input>
        </el-form-item>
        <el-form-item label="訂購人電話">
            <el-input v-model="order.order_account" name="order_account" 
            placeholder="訂購人電話" @keyup.enter.native="searchorder" clearable></el-input>
        </el-form-item>
        <el-form-item label="訂購人信箱">
            <el-input v-model="order.order_email" name="order_email" 
            placeholder="訂購人信箱" @keyup.enter.native="searchorder" clearable></el-input>
        </el-form-item>
        <el-form-item label="訂購人地址">
            <el-input v-model="order.order_tax" name="order_tax" 
            placeholder="訂購人地址" @keyup.enter.native="searchorder" clearable></el-input>
        </el-form-item>
        <el-form-item label="訂單編號">
            <el-input v-model="order.order_id" name="order_id" 
            placeholder="訂單編號" @keyup.enter.native="searchorder" clearable></el-input>
        </el-form-item>
        <el-form-item label="訂單狀態">
            <el-select v-model="order.order_status" name="order.order_status" 
             placeholder="訂單狀態" @keyup.enter.native="searchorder" clearable>
                <el-option label="刪除" value=0></el-option>
                <el-option label="正常" value=1></el-option>
                <el-option label="修改" value=2></el-option>
                <el-option label="暫停" value=3></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="寄送方式">
            <el-select v-model="order.order_shipping_type" name="order.order_shipping_type" 
             placeholder="寄送方式" @keyup.enter.native="searchorder" clearable>
                <el-option label="自取" value=0></el-option>
                <el-option label="貨運" value=1></el-option>
                <el-option label="超商" value=2></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="是否付款">
            <el-select v-model="order.order_is_pay" name="order.order_is_pay" 
             placeholder="是否付款" @keyup.enter.native="searchorder" clearable>
                <el-option label="未付款" value=0></el-option>
                <el-option label="已付款" value=1></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="開始日期">
            <el-date-picker v-model="order.start_time" type="date" 
            ref="start_time" name="start_time" placeholder="開始日期"
            value-format="yyyy-MM-dd"
            @keydown.enter.capture.native="searchorder"
            ></el-date-picker>
        </el-form-item>
        <el-form-item label="結束日期">
            <el-date-picker v-model="order.end_time" type="date" 
            ref="end_time" name="end_time" placeholder="結束日期"
            value-format="yyyy-MM-dd"
            @keydown.enter.capture.native="searchorder"
            ></el-date-picker>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="searchorder" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultOrder = {
  partner_id: '',order_name: '',
  order_account: '',order_id:'',
  order_email:'',order_tax:'',
  order_status: '1',order_shipping_type:'0',
  order_is_pay:'0',start_time:'',end_time:''
}

export default {
  name: 'SearchOrder',
  data() {
    return {
      order: Object.assign({}, defaultOrder)
    }
  },
  computed: {
    ...mapGetters([
      'partnercategorylist',
      'partnerlist'
    ])
  },
  methods: {
      searchorder(){
        var query = ''
        if(this.order.partner_id!=''){
            query+= 'partner_id='+this.order.partner_id+'&'
        }
        if(this.order.order_name!=''){
            query+= 'order_name='+this.order.order_name+'&'
        }
        if(this.order.order_account!=''){
            query+= 'order_account='+this.order.order_account+'&'
        }
        if(this.order.order_email!=''){
            query+= 'order_email='+this.order.order_email+'&'
        }
        if(this.order.order_id!=''){
            query+= 'order_id='+this.order.order_id+'&'
        }
        if(this.order.order_tax!=''){
            query+= 'order_tax='+this.order.order_tax+'&'
        }
        if(this.order.order_status!=''){
            query+= 'status='+this.order.order_status+'&'
        }
        if(this.order.order_shipping_type!=''){
            query+= 'shipping_type='+this.order.order_shipping_type+'&'
        }
        if(this.order.order_is_pay!=''){
            query+= 'is_pay='+this.order.order_is_pay+'&'
        }
        // 將開始與結束日期恢復原始設定
        if(this.order.start_time==null)
        {
            this.order.start_time = ''
        }
         // 將開始與結束日期恢復原始設定
        if(this.order.end_time==null)
        {
            this.order.end_time = ''
        }
        if(this.order.start_time!=''){
            query+= 'start_time='+this.order.start_time+'&'
            // 更新資料進入外層的log_manager
        }
        if(this.order.end_time!=''){
            query+= 'end_time='+this.order.end_time+'&'
        }
        console.log("query",query)
        if(query.includes('partner_id'))
        {
            this.$emit('searchOrderpartner',this.order.partner_id)
        }
        if(!query.includes('partner_id')){
            this.$emit('searchOrderpartner','')
        }
        // 更新資料進入外層的合作夥伴
        this.$emit('searchOrder', query.slice(0, -1))
      }
  },
}
</script>