<template>
    <div>
    <el-form :inline="true" :model="shopstore" class="demo-form-inline">
    <el-row>
        <el-form-item label="合作夥伴">
            <el-select
                v-model="shopstore.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                @keydown.enter.native="searchshopstore"
                clearable
                placeholder="選擇合作夥伴"
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="商店名稱">
            <el-input v-model="shopstore.shopstore_qrcode_shopname" name="shopstore_qrcode_shopname" 
            placeholder="商店名稱" @keyup.enter.native="searchshopstore" clearable></el-input>
        </el-form-item>
        <el-form-item label="商店地址">
            <el-input v-model="shopstore.shopstore_qrcode_shoptax" name="shopstore_qrcode_shoptax" 
            placeholder="商店地址" @keyup.enter.native="searchshopstore" clearable></el-input>
        </el-form-item>
        <el-form-item label="合作夥伴狀態">
            <el-select v-model="shopstore.shopstore_qrcode_shopstatus" name="shopstore_qrcode_shopstatus" 
             placeholder="合作夥伴狀態" @keyup.enter.native="searchshopstore" clearable>
                <el-option label="關閉" value="0"></el-option>
                <el-option label="開啟" value="1"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="searchshopstore" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultShopSore = {
  partner_id: '',shopstore_qrcode_shopname: '',
  shopstore_qrcode_shoptax: '',shopstore_qrcode_shopstatus:'1',
}

export default {
  name: 'SearchShopstore',
  data() {
    return {
      shopstore: Object.assign({}, defaultShopSore)
    }
  },
  computed: {
    ...mapGetters([
      'partnercategorylist',
      'partnerlist'
    ])
  },
  methods: {
      searchshopstore(){
        var query = ''
        if(this.shopstore.partner_id!=''){
            query+= 'partner_id='+this.shopstore.partner_id+'&'
        }
        if(this.shopstore.shopstore_qrcode_shopname!=''){
            query+= 'shopstore_qrcode_shopname='+this.shopstore.shopstore_qrcode_shopname+'&'
        }
        if(this.shopstore.shopstore_qrcode_shoptax!=''){
            query+= 'shopstore_qrcode_shoptax='+this.shopstore.shopstore_qrcode_shoptax+'&'
        }
        if(this.shopstore.shopstore_qrcode_shopstatus!=''){
            query+= 'shopstore_qrcode_shopstatus='+this.shopstore.shopstore_qrcode_shopstatus+'&'
        }
        console.log("query",query)
        if(query.includes('partner_id'))
        {
            this.$emit('searchShopstorepartner',this.shopstore.partner_id)
        }
        if(!query.includes('partner_id')){
            this.$emit('searchShopstorepartner','')
        }
        // 更新資料進入外層的合作夥伴
        this.$emit('searchShopstore', query.slice(0, -1))
      }
  },
}
</script>