<template>
    <div>
    <el-form :inline="true" :model="shop" class="demo-form-inline">
    <el-row>
        <el-form-item label="合作夥伴">
            <el-select
                v-model="shop.partner_id"
                name="partner_id"
                filterable
                allow-create
                default-first-option
                @keydown.enter.native="searchshop"
                clearable
                placeholder="選擇合作夥伴"
            >
                <el-option
                    v-for="item in partnerlist.list"
                    :key="item.category_id"
                    :label="item.partner_name"
                    :value="item.partner_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="商品分類">
            <el-select
                v-model="shop.shop_category_id"
                name="shop_category_id"
                filterable
                allow-create
                default-first-option
                clearable
                placeholder="商品分類"
                @keydown.enter.native="searchshop"
                >
                <el-option
                v-for="item in shopcategorylist"
                :key="item.shop_category_id"
                :label="item.shop_big_category+'>'+item.shop_small_category"
                :value="item.shop_category_id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="商品代號">
            <el-input v-model="shop.shop_id"
            name="shop_id" placeholder="商品代號"
            @keydown.enter.native="searchshop"
            clearable
           />
        </el-form-item>
        <el-form-item label="商品名稱">
            <el-input v-model="shop.shop_name"
            name="shop_name" placeholder="商品名稱"
            @keydown.enter.native="searchshop"
            clearable
           />
        </el-form-item>
        <el-form-item label="商品備貨天數">
            <el-select v-model="shop.shop_common_stack" name="shop.shop_common_stack" 
             placeholder="商品備貨天數" @keyup.enter.native="searchshop" clearable>
                <el-option label="3天以內" value=0></el-option>
                <el-option label="3~5天" value=1></el-option>
                <el-option label="5~10天" value=2></el-option>
                <el-option label="10天以上" value=3></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="商品狀態">
            <el-select v-model="shop.shop_status" name="shop.shop_status" 
             placeholder="商品狀態" @keyup.enter.native="searchshop" clearable>
                <el-option label="準備" value=0></el-option>
                <el-option label="下架" value=1></el-option>
                <el-option label="上架" value=2></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="searchshop" icon="el-icon-search">搜索</el-button>
        </el-form-item>
    </el-row>
    </el-form>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
const defaultShop = {
  partner_id: '',shop_category_id: '',
  shop_id:'',shop_name:'',
  shop_common_stack:'',shop_status:''
}

export default {
  name: 'SearchShop',
  data() {
    return {
      shop: Object.assign({}, defaultShop)
    }
  },
  computed: {
    ...mapGetters([
      'shopcategorylist',
      'partnerlist',
    ])
  },
  methods: {
      searchshop(){
        var query = ''
        if(this.shop.partner_id!=''){
            query+= 'partner_id='+this.shop.partner_id+'&'
        }
        if(this.shop.shop_category_id!=''){
            query+= 'shop_category_id='+this.shop.shop_category_id+'&'
        }
        if(this.shop.shop_id!=''){
            query+= 'shop_id='+this.shop.shop_id+'&'
        }
        if(this.shop.shop_name!=''){
            query+= 'shop_name='+this.shop.shop_name+'&'
        }
        if(this.shop.shop_common_stack!=''){
            query+= 'shop_common_stack='+this.shop.shop_common_stack+'&'
        }
        if(this.shop.shop_status!=''){
            query+= 'shop_status='+this.shop.shop_status+'&'
        }
        if(query.includes('partner_id'))
        {
            this.$emit('searchShoppartner',this.shop.partner_id)
        }
        if(!query.includes('partner_id')){
            this.$emit('searchShoppartner','')
        }
        //更新資料進入外層的商品管理
        this.$emit('searchShop',query.slice(0, -1))
      }
  },
}
</script>