<template>
  <div>
    <!-- {{Admin_UserId}}
    {{admin_room}} -->
    <br/>
    <!-- {{admin_messages}} -->
    <add-chat :dialogType="dialogType" :dialogVisible="dialogVisible"
    v-on:getChatstatus="getChatstatus" :chat="chat"
    @getadminlist="getadminlist"
    />
    <div style="text-align:right;margin:10px 0px;" v-if="type=='all_chat_admin'">
      <el-button type="primary" @click="handleAddChat" v-if='this.check_admin_premission.includes("insert_btn")'>加入聊天室</el-button>
    </div>
    <div style="text-align:right;" v-if="type=='all_chat_admin'">
    <el-switch
    v-model="onTheme_switch"
    active-text="light"
    inactive-text="dark" style="margin: 0 10px;" />
    <el-button type="primary" @click="update_message_button()">更新訊息</el-button>
    </div>
    <!-- <el-checkbox-group v-model="checkList">
      <el-checkbox label="粗體"></el-checkbox>
      <el-checkbox label="斜體"></el-checkbox>
      <el-checkbox label="換行"></el-checkbox>
      <el-checkbox label="底線"></el-checkbox>
      <el-checkbox label="刪除線"></el-checkbox>
    </el-checkbox-group> -->
    <!-- {{admin_click_room}} -->
    <chat-window
      :current-user-id="Admin_UserId"
      :rooms="admin_room"
      :messages="admin_messages"
      :rooms-loaded="roomsLoaded"
      :theme="onTheme"
      :templates-text="TemplatesText"
      :menu-actions="OnMenuAction"
      :show-add-room="showaddroom"
      :loading-rooms="loadingRooms"
      @fetch-messages="onFetchMessages"
      @send-message="onSendMessage"
      @delete-message="onDeleteMessage"
      @edit-message="onEditorMessage"
      @typing-message="onTypingMessage"
      @menu-action-handler="menuActionHandler"
      v-if="type=='all_chat_admin'"
      style="margin-top:10px;"
      >
    </chat-window>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import AddChat from './AddChat.vue'
import ChatWindow from 'vue-advanced-chat'
import 'vue-advanced-chat/dist/vue-advanced-chat.css'
import { getChatList,getChatMemberIDList,insert_update_chat } from '@/api/chat_manager'
import { getAdminPremission } from '@/api/premission_manager'
const defaultChat = {
  group_id:0,
  from_id: null,
  from_source: 0,
  partner_id:'',
  to_id:null,
  to_source: 0,
  content:'',
  type: 0,
  path: ""
}
export default {
  name: 'TodolistPane',
  components: {
    ChatWindow,
    AddChat
  },
  props: {
    type: {
      type: String,
      default: 'all_chat_admin'
    }
  },
  data() {
    return {
      dialogType:'',
      dialogVisible:false,
      permission_sonLoading: false,
      check_admin_premission:[],
      chat: Object.assign({}, defaultChat),
      //管理人員所有對話
      admin_room:[
        // {
        //   roomId: 1,
        //   roomName: 'Room 1',
        //   avatar: 'assets/imgs/people.png',
        //   unreadCount: 4,
        //   index: 3,
        //   lastMessage: {
        //     content: 'Last message received',
        //     senderId: 1,
        //     username: 'John Doe',
        //     timestamp: '10:20',
        //     saved: true,
        //     distributed: false,
        //     seen: false,
        //     new: true
        //   },
        //   users: [
        //     {
        //       _id: 1,
        //       username: 'John Doe',
        //       // avatar: 'assets/imgs/doe.png',
        //       // status: {
        //       //   state: 'online',
        //       //   // lastChanged: 'today, 14:30'
        //       // }
        //     },
        //     {
        //       _id: 10,
        //       username: 'John Snow',
        //       // avatar: 'assets/imgs/snow.png',
        //       // status: {
        //       //   state: 'offline',
        //       //   lastChanged: '14 July, 20:00'
        //       // }
        //     }
        //   ],
        //   typingUsers: [ 1 ]
        // }
      ],
      //點擊聊天室
      admin_click_room:[],
      set_to_id:null,
      admin_messages:[],
      admin_files:[],
      Admin_UserId:null,
      roomsLoaded: true,
      // messagesLoaded: false,
      loadingRooms: false,
      showaddroom:false,
      onTheme_switch:true,
      onTheme:'light',
      //常用子句
      TemplatesText:[
        {
          tag: '感謝回覆',
          text: '謝謝您的回覆'
        },
        {
          tag: 'Hello',
          text: '您好，有什麼我可以幫助的嗎？'
        },
        {
          tag: 'test',
          text: '請問找我有什麼事？'
        }
      ],
      //聊天室選單列表
      OnMenuAction:[
        {
          name: 'exportchatlist',
          title: '匯出聊天紀錄'
        },
        // {
        //   name: 'inviteUser',
        //   title: 'Invite User'
        // },
        // {
        //   name: 'removeUser',
        //   title: 'Remove User'
        // },
        // {
        //   name: 'deleteRoom',
        //   title: 'Delete Room'
        // }
      ]
    }
  },
  computed: {
    ...mapGetters([
      'partnerlist',
      'id',
      'check_chat_auto_update'
    ])
  },
  watch:{
    //切換偏好顏色
    onTheme_switch(olddata,newdata){
      console.log(newdata)
      if(newdata==true){
        this.onTheme = 'dark'
      }
      else{
        this.onTheme = 'light'
      }
    },
    //檢查聊天室是否自動更新
    async check_chat_auto_update(newdata){
      if(newdata==true){
        await this.getadminlist(1,0)
        await this.onFetchMessages(this.admin_click_room[0])
        await this.$store.dispatch('shop/getChatUpdate',false)
      }

    }
  },
  created() {
    this.getcurrentuserId()
  },
  async mounted(){
    await this.$store.dispatch('user/getInfo')
    //得知現在使用者ID
    await this.getcurrentuserId()
    console.log('getcurrentuserId')
    //得知所有的管理者選單列表 (page=1,type=0 管理者)
    await this.getadminlist(1,0)
    // 得知使用者實際擁有權限
    await this.getAdminPremission("聊天管理")
  },
  methods: {
    // 得知使用者實際擁有權限
    async getAdminPremission(premission_name) {
      var payload = {
        "check_admin_premission":premission_name
      }
        getAdminPremission(payload).then((resp)=>{
          console.log(resp)
          console.log(resp['check_admin_premission'])
          resp['check_admin_premission'].forEach((element)=>{
            this.check_admin_premission.push(element)
          })
        })
    },
    handleAddChat(){
      this.chat = Object.assign({}, defaultChat)
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    getChatstatus(status){
      this.dialogVisible = status
    },
    //得知現在使用者ID
    getcurrentuserId(){
      this.Admin_UserId = this.id
      console.log('id',this.id)
    },
    //更新訊息
    async update_message_button(){
      await this.getadminlist(1,0)
      await this.onFetchMessages(this.admin_click_room[0])
    },
    //得知所有的管理者選單列表
    getadminlist(page,type){
      var _self = this
      _self.admin_room = []
      var payload = page+'?source_type='+type
      getChatList(payload).then((resp)=>{
        console.log("getChatList",resp.data.list)
        resp.data.list.forEach((element,index)=>{
          _self.admin_room.push({
            roomId:'room-'+_self.Admin_UserId==element.to_id?element.from_id:element.to_id,
            //判斷說話ID是否和使用者一至
            roomName:_self.Admin_UserId==element.to_id?element.from_user:element.to_user,
            avatar: 'assets/imgs/online.jpg',
            unreadCount: null,
            index: index,
            lastMessage: {
              content: element.message,
              senderId: element.send_id,
              username: element.to_user,
              // timestamp: '10:20',
              saved: true,
              distributed: true,
              seen: false,
              new: false
            },
            users: [
              {
                _id: element.from_id,
                username: element.from_user,
                // avatar: 'assets/imgs/doe.png',
                // status: {
                //   state: 'online',
                //   // lastChanged: 'today, 14:30'
                // }
              },
              {
                _id: element.to_id,
                username: element.to_user,
                // avatar: 'assets/imgs/snow.png',
                // status: {
                //   state: 'offline',
                //   lastChanged: '14 July, 20:00'
                // }
              }
            ],
            typingUsers: [ ]
          })
        })
      })
    },
    onFetchMessages(chosen_admin_list){
      console.log('onFetchMessages',chosen_admin_list)
      var _self = this
      // alert(JSON.stringify(chosen_admin_list))
      _self.admin_click_room = []
      _self.admin_click_room.push(chosen_admin_list)
      // alert(JSON.stringify(_self.admin_click_room[0]['room']['users'][0]['_id']))
      // alert(_self.admin_click_room[0]['room']['roomId'])
      // alert(_self.Admin_UserId)
      // alert(JSON.stringify(_self.admin_click_room[0]['room']['roomId'])!=_self.Admin_UserId)
      var payload = ''
      if(JSON.stringify(_self.admin_click_room[0]['room']['roomId'])!=_self.Admin_UserId){
        payload +='all?id='+JSON.stringify(_self.admin_click_room[0]['room']['roomId'])+'&source_type=0'
        getChatMemberIDList(payload).then((resp)=>{
          console.log("getChatMemberIDList",resp.data.list)
          _self.admin_messages = []
          resp.data.list.forEach((element,index)=>{
            if(element.type==3){
              _self.admin_messages.push({
                _id: index,
                indexId: element.send_id,
                content: element.message,
                senderId: element.from_id,
                username: 'test_'+index,
                avatar: "	http://localhost:8070/static/img/德誠資訊logo_3.png",
                // date: "13 November",
                // timestamp: "10:20",
                system: false,
                saved: true,
                distributed: false,
                seen: true,
                deleted: false,
                disableActions: false,
                disableReactions: true,
                files:[
                  {
                  name: "My File",
                  size: 67351,
                  type: "png",
                  audio: true,
                  duration: 14.4,
                  url:
                    "https://firebasestorage.googleapis.com/v0/b/vuexfire-a9c43.appspot.com/o/files%2F6R0MijpK6M4AIrwaaCY2%2F5RM2yf2TBCVmAUpaHbCD%2Fimage.png?alt=media&token=141dc7d8-1665-438b-871e-6e8566fabd2c",
                  preview:
                    "https://firebasestorage.googleapis.com/v0/b/vuexfire-a9c43.appspot.com/o/files%2F6R0MijpK6M4AIrwaaCY2%2F5RM2yf2TBCVmAUpaHbCD%2Fimage.png?alt=media&token=141dc7d8-1665-438b-871e-6e8566fabd2c",
                  },
                ]
              })
            }
            else{
              _self.admin_messages.push({
                _id: index,
                  indexId: element.send_id,
                  content: element.message,
                  senderId: element.from_id,
                  username: 'test_'+index,
                  avatar: "https://firebasestorage.googleapis.com/v0/b/vuexfire-a9c43.appspot.com/o/files%2F6R0MijpK6M4AIrwaaCY2%2F5RM2yf2TBCVmAUpaHbCD%2Fimage.png?alt=media&token=141dc7d8-1665-438b-871e-6e8566fabd2c",
                  // date: "13 November",
                  // timestamp: "10:20",
                  system: false,
                  saved: true,
                  distributed: false,
                  seen: true,
                  deleted: false,
                  disableActions: false,
                  disableReactions: true,
              })
            }
              _self.messagesLoaded = false
          })
          _self.admin_messages = _.sortBy(_self.admin_messages,'indexId')
          _self.set_to_id = JSON.stringify(_self.admin_click_room[0]['room']['users'][1]['_id'])
          // alert(_self.set_to_id)
        })
      }
      else{
        payload +='all?id='+JSON.stringify(_self.admin_click_room[0]['room']['users'][0]['_id'])+'&source_type=0'
        getChatMemberIDList(payload).then((resp)=>{
          console.log("getChatMemberIDList",resp.data.list)
          _self.admin_messages = []
          resp.data.list.forEach((element,index)=>{
            if(element.type==3){
              _self.admin_messages.push({
                _id: index,
                indexId: element.send_id,
                content: element.message,
                senderId: element.from_id,
                username: 'test_'+index,
                avatar: "	http://localhost:8070/static/img/德誠資訊logo_3.png",
                // date: "13 November",
                // timestamp: "10:20",
                system: false,
                saved: true,
                distributed: false,
                seen: true,
                deleted: false,
                disableActions: false,
                disableReactions: true,
                files:[
                  {
                  name: "My File",
                  size: 67351,
                  type: "png",
                  audio: true,
                  duration: 14.4,
                  url:
                    "https://firebasestorage.googleapis.com/v0/b/vuexfire-a9c43.appspot.com/o/files%2F6R0MijpK6M4AIrwaaCY2%2F5RM2yf2TBCVmAUpaHbCD%2Fimage.png?alt=media&token=141dc7d8-1665-438b-871e-6e8566fabd2c",
                  preview:
                    "https://firebasestorage.googleapis.com/v0/b/vuexfire-a9c43.appspot.com/o/files%2F6R0MijpK6M4AIrwaaCY2%2F5RM2yf2TBCVmAUpaHbCD%2Fimage.png?alt=media&token=141dc7d8-1665-438b-871e-6e8566fabd2c",
                  },
                ]
              })
            }
            else{
              _self.admin_messages.push({
                _id: index,
                  indexId: element.send_id,
                  content: element.message,
                  senderId: element.from_id,
                  username: 'test_'+index,
                  avatar: "https://firebasestorage.googleapis.com/v0/b/vuexfire-a9c43.appspot.com/o/files%2F6R0MijpK6M4AIrwaaCY2%2F5RM2yf2TBCVmAUpaHbCD%2Fimage.png?alt=media&token=141dc7d8-1665-438b-871e-6e8566fabd2c",
                  // date: "13 November",
                  // timestamp: "10:20",
                  system: false,
                  saved: true,
                  distributed: false,
                  seen: true,
                  deleted: false,
                  disableActions: false,
                  disableReactions: true,
              })
            }
              _self.messagesLoaded = false
          })
          _self.admin_messages = _.sortBy(_self.admin_messages,'indexId')
          _self.set_to_id = JSON.stringify(_self.admin_click_room[0]['room']['users'][0]['_id'])
          // alert(_self.set_to_id)
        })
      }
    },
    onSendMessage({ roomId, content,files,replyMessage}){
      // console.log(roomId, content,files,replyMessage)
      
      // console.log('roomId',roomId)
      // console.log('content',content)
      console.log('files',files)
      // console.log('replyMessage',replyMessage)
      // console.log('admin_messages',admin_messages)
      var _self = this
      if(files!=null){
        _self.admin_files = []
        files.forEach(element => {
          console.log("element",element.audio)
          if(element.audio==undefined){
            _self.admin_files.push({
              name:element.name,
              size:element.size,
              type:element.extension,
              url:element.localUrl,
              preview:element.localUrl
            })
          }
          else{
            _self.admin_files.push({
              audio:element.audio,
              name:element.name,
              size:element.size,
              type:element.extension,
              duration:element.duration,
              url:element.localUrl,
              preview:element.localUrl
            })
          }
        })
      }
      if(content!=null){
        // alert(_self.set_to_id)
        insert_update_chat({
          group_id:0,
          from_id: _self.Admin_UserId,
          from_source: 0,
          to_id: _self.set_to_id,
          to_source: 0,
          content: content,
          type: 0,
          path: ""
        }).then((resp)=>{
          if(resp.success==true){
            _self.getadminlist(1,0)
            _self.onFetchMessages(_self.admin_click_room[0])
          }
        })
      }
      // _self.admin_messages.push({
      //   _id: 1,
      //   indexId: 12092,
      //   content: content,
      //   senderId: _self.Admin_UserId,
      //   username: "John Doe",
      //   avatar: "assets/imgs/doe.png",
      //   date: "13 November",
      //   timestamp: "10:20",
      //   system: false,
      //   saved: true,
      //   distributed: true,
      //   seen: true,
      //   deleted: false,
      //   disableActions: false,
      //   disableReactions: true,
      //   replyMessage:replyMessage,
      //   files:_self.admin_files
      // })
    },
    onDeleteMessage({ roomId, message }){
      console.log(roomId, message.deleted)
      message.deleted = true
    },
    onEditorMessage({roomId, messageId, newContent,files,replyMessage }){
      console.log(roomId, messageId, newContent,files,replyMessage)
      const index = this.admin_messages.findIndex((element)=>element._id==messageId)
      this.admin_messages[index].content = newContent
      console.log(index)
    },
    onTypingMessage({ roomId, message }){
      console.log(roomId, message)
      const index = this.admin_room.findIndex((element)=>element.roomId==roomId)
      this.admin_messages[index].typingUsers = []
      this.admin_messages[index].typingUsers.push(this.Admin_UserId)
      console.log(this.admin_room)
    },
    menuActionHandler({ roomId, action }){
      console.log('menuActionHandler',action)
      switch (action.name) {
        case 'inviteUser':
          // call a method to invite a user to the room
          alert(roomId+' '+action.name)
        case 'removeUser':
          // call a method to remove a user from the room
        case 'deleteRoom':
          // call a method to delete the room
        case 'exportchatlist':
          alert(roomId+' '+action.name)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  .icon-item {
    width: 100px;
    font-size: 30px;
    color: #24292e;
  }
</style>
